/*reset font size */
.main-container {
   font-size: 16px;
}

/* SRJ - reviewer question */

p.q 	{
	font-size: 15pt;
	color: red;
	/* display: none; */
	}

/* SRJ - fix Firefox bug */
.main-container {
	clear: both;
}


/* TDD - Alternate menu appearance */

.nav-main #subnav-wrap #subnav ul li a {
   font: 1em 'Open Sans',sans-serif;
   font-weight: 600;
   text-transform: none;
   padding: 11px 15px;
   outline: 0;
   background: none repeat scroll 0 0 #31302b;
}


/* TDD- Add permanent left-hand margin*/

.content {
   width: 69%;
   padding-right: 7%
}


.container {
   padding-left: 20px;
   padding-right: 20px
}

.copyright .container {
   padding-left: 0px;
}


.container, .navbar-static-top, .navbar-fixed-top .container, .navbar-fixed-bottom .container, .nav-main #global-nav, .nav-main #subnav-wrap #subnav {
   width: auto;
   max-width: 100%;
}


/*Give "Edit page on Github a little space on the right"  */
.page-intro .improve-page {
  right: 10%;
}

@media (min-width: 768px) and (max-width: 991px) {
  #f-col-1,
  #f-col-2,
  #f-col-3 {
     width: 31.6239%;
     margin-left: 2.5641%;
  }
  #f-col-1 {
     margin-left: 0;
  }
  #f-col-2-1 {
    margin-bottom: 40px;
  }
  #f-col-2-1,
  #f-col-2-2 {
    width: 100%;
    float: none;
    margin-left: 0;
  }
}

@media (min-width: 1130px){

   #global-nav, #subnav, .container {
      padding-left: 66px;
      padding-right: 66px;
      max-width: 1600px;
      margin: 0 auto;
   }
}

.nav-main #subnav-wrap #subnav {
   height: 42px;
}


/*FIX for table font sizes TDD*/


.main-container TABLE a, .main-container TABLE p, .main-container TABLE LI, .main-container TABLE OL, .main-container TABLE UL, .main-container TABLE PRE
	{font-size: 1em;
	}

tr td {vertical-align: initial;
	font-size: .9em;
	}


td code, td pre {font-size: .9em}

/* FIX for table line breaks TDD*/

.main-container TABLE TR, .main-container TABLE TD, .main-container TABLE TD TT, .main-container TABLE TD CODE, .main-container TABLE TD PRE
	{word-wrap:break-word;
	}

/* FIX for table width TDD*/

table {
   table-layout: fixed;
   max-width: 99%;
   width: 99%;
}




html, body { height: 100%; }

body.offcanvas-active {
   overflow-x: hidden;
}

.site-header, #gl-wrapper, #footer-wrap {
   transition: transform .2s;
}

@media (max-width:767px) {



   .site-header {
      border-bottom: 1px solid #c24c05;
   }
   .site-header .menu-btn {
      display: block;
   }

   .site-header .logo {
      background-position: center;
      width: 100%;
      background-color: transparent;
   }

   .site-header .search-icon {
      width: 66px;
      height: 66px;
      display: block;
      position: absolute;
      top:0;
      right: 0;
      border-left: 1px solid #c24c05;
   }

   .main-site-name {
      padding-left: 66px;
      padding-right: 66px;
   }

   .nav-main {
      position: fixed;
      transform: translate(-260px,0);
      transition: all .2s;
      top: 0;
      left: 0;
      height: 100%;
      width: 260px;
      z-index: 1;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
   }


   .nav-main ul ul {
      position: relative;
      left: 0;
      visibility: visible;
      opacity: 1;
      width: 100%;
   }


   .nav-main ul li {
      width: 100%;
   }

   .nav-main > div > ul {
      border-top: 1px solid #676056;
   }

   .nav-main ul > li > a {
      border-bottom: 1px solid #676056;
      font-size: 16px;
   }

   .nav-main ul > li:hover > a {
      color: #fff;
   }


   .nav-main .divider {
      display: none;
   }

   .nav-main .menu .menu li a {
      font-size: 14px;
   }

   .nav-main .search{
      display: none;
   }


   .nav-main #subnav {
      padding: 66px 0 0 0;
   }

   .nav-main .nav-close {
   	display: block;
   	position: absolute;
   	top: 0;
   	left: 0;
   	width: 66px;
   	height: 66px;
   	font-size: 60px;
   	font-weight: 200;
   	text-align: center;
   	line-height: 66px;
   	color: #fff;
      border: none;
   }

   .nav-main .children-toggle {
      display: block;
   }

   .nav-main ul ul {
      max-height: 0;
      overflow: hidden;
      -webkit-transition: max-height 0.2s;
   	-moz-transition: max-height 0.2s;
   	transition: max-height 0.2s;
   }

   .nav-main .expanded ul {
      max-height: 999px;
   }

   .nav-main .children-toggle {
      position: absolute;
      display: block;
      width: 20px;
      height: 22px;
      border: none;
      background: none;
      top:0;
      right: 0;
      border-left: 1px solid #676056;
   }

   .nav-main ul ul li a {
      background: #22211D;
      border-bottom-color: #413C35;
      padding-left: 20px;
   }

   .nav-main .children-toggle:active {
      background: rgba(0,0,0,.2);
   }

   .nav-main .children-toggle:after {
      width: 0;
      height: 0;
      margin: 0 auto;
      position: relative;
      top: 7px;
      border-style: solid;
      border-width: 8px 6px 0 6px;
      border-color: #ffffff transparent transparent transparent;
      display: block;
      content: '';
      transition: all .2s;
   }
   .nav-main .expanded .children-toggle:after {
      transform: rotate(180deg);
   }




   .offcanvas-active .site-header,
   .offcanvas-active #gl-wrapper,
   .offcanvas-active #footer-wrap  {
      transform: translate(260px,0);
   }

   .offcanvas-active .nav-main {
      visibility: visible;
      transform: translate(0,0);
   }

   .nav-main-fader {
      background: rgba(0,0,0,0);
      position: fixed;
      visibility: hidden;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2000;
      transition: all .2s;
   }


   .offcanvas-active .nav-main-fader {
      background: rgba(0,0,0,.2);
      visibility: visible;
      transform: translate(260px,0);
   }

   .pane-content .container {
      padding: 0;
   }
   .container, .page-intro .container, .home-section .container {
      padding: 0 20px;
   }

   .main-container {
      width: 100%;
      overflow-x: auto;
      margin-bottom: 30px;
   }

   .content {
      float: none;
      width: auto;
      padding: 10px 20px;
   }

   .content .content-wrap {
      padding: 0;
   }

   .sidebar {
      width: 100%;
      padding: 0;
      float: none;
   }

   .sidebar ul a, .sidebar ul span {
      padding: 10px 20px;
   }

   .sidebar .sidebar-wrapper {
      max-height: 0;
      overflow: hidden;
      transition: all .2s;
      padding: 0;
   }
   .sidebar-wrapper ul {
      margin-bottom: 20px;
   }

   .expanded .sidebar-wrapper {
      max-height: 9999px;
   }

   .toc-toggler {
      position: relative;
      display: block;
      background: #f7f3eb;
      padding: 12px 20px;
   }
   .toc-toggler:active, .toc-toggler:hover {
      text-decoration: none;
   }
   .toc-toggler::after {
      display: block;
      content: '';
      position: absolute;
      top:18px;
      right: 18px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 6px 0 6px;
      border-color: #c14800 transparent transparent transparent;
      transition: all .2s;
   }
   .expanded .toc-toggler::after {
      transform: rotate(180deg);
   }

   .page-intro {
      padding: 10px 0 20px 0;
   }

   .page-intro .page-heading {
      font-size: 32px;
   }

   .page-intro .improve-page {
      position: relative;
      right: auto;
      bottom: 0;
      text-align: left;
   }

   #footer-wrap .footer {
      text-align: center;
   }

   #copyright {
      text-align: center;
   }

   #copyright .copyright-date {
      float: none;
   }

   #footer-wrap .copyright-links {
      float: none;
   }
   #footer-wrap .footer #magento-com .contact-us p,
   #footer-wrap .footer #magento-com .contact-us h4 {
      display: none;
   }
   #copyright .nav {
      margin-top: 10px;
   }

   #f-col-1, #f-col-2, #f-col-3, #f-col-2-1, #f-col-2-2 {
      width: 100%;
      margin: 0;
      float: none;
      margin-bottom: 40px;
   }

   #f-col-4  {
      margin-bottom: 0;
   }

   #copyright li {
      margin: 0 20px 20px 0;
   }


   #searchResultsBox {
      left: 0;
      top:0;
      right: 0;
      bottom: 0;
      height: 100%;
      overflow-x: hidden;
   }

   #searchResultsBox .gsc-control-wrapper-cse {
      width: 100%;
      height: 100%;
   }

   .searchResultsBack {
      background: #fff;
      opacity: 1;
   }

}
