@import 'reset';
@import 'variables';


// Bootstrap components (run 'npm install' first)
@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/responsive-embed';
@import 'node_modules/bootstrap/scss/tags';



@import 'partials/buttons';
@import 'partials/callouts';
@import 'partials/code';
@import 'partials/collapsible';
@import 'partials/dropdown';
@import 'partials/footer';
@import 'partials/form';
@import 'partials/highlight';
@import 'partials/home';
@import 'partials/layout';
@import 'partials/modal';
@import 'partials/nav-main';
@import 'partials/page-info';
@import 'partials/search';
@import 'partials/quick-search';
@import 'partials/sidebar';
@import 'partials/site-header';
@import 'partials/table';
@import 'partials/typography';
@import 'partials/version-switcher';
@import 'partials/tabs';
@import 'partials/breadcrumbs';
@import 'partials/toc';
@import 'partials/videos';
@import 'partials/progress-bar';
 



.hide {
  display: none;
}
