.message-banner {
  margin: 0;
}

.page-updated {
  margin: 0 0 10px 0;
  color: #767676;
  cursor: help;
}

.page-updated img {
  width: 18px;
  height: 18px;
}
/* Reference styles */
.ref-list {
  margin-bottom: 2.5em;
}

.ref-list dt{
  font-weight:500;
}