.message-banner {
  margin: 0;
  padding: 10px;
}

.page-updated {
  margin: 0 0 10px 0;
  color: #767676;
  cursor: help;
}

.page-updated img {
  width: 18px;
  height: 18px;
}
/* Reference styles */
.ref-list {
  margin-bottom: 2.5em;
}

.ref-list dt{
  font-weight:500;
}

/* Paragraph that represents a beginning of a procedure - should have an ordered list of steps following */
.procedure {
  font-weight: bold;
  margin-left: 1.0em;
}

/* Paragraph that introduces important information (e.g., Related topics, Next step, Examples), but does not qualify as a proper heading */
.ref-header {
  font-weight: bold;
  font-size: 1.3em;
  margin: 1.5em 0 0.5em 0;
}

.message-banner.version-banner {
  margin-bottom: 15px;
}