@import url('typography.css');

/* Links */
a.button:link {
    color: white;
}

a.button:visited {
    color: white;
}

a.button:active {
    color: white;
}

a.ext1:link {
    color: blue;
}

a.ext1:visited {
    color: blue;
}

a.ext1:hover {
    color: darkorange;
}

/* Blockquote for code sample */
blockquote.codesample {
    border-top: 4px solid #6AB0DE;
    border-right: none;
    border-left: none;
    margin-left: 20px;
    margin-right: -10px;
    padding-left: 40px;
    background: none repeat scroll 0% 0% #e4f1f9;
}

/* Move down content because we have a fixed navbar that is 50px tall */

/* Body */
body {
    padding-top: 2em;
    padding-bottom: 7em;
    background-color: white;
    color: #31302b;
    font-family: 'OpenSansRegular';
    font-size: 12pt;
    width: 100%;
    border-width: 4px;
    margin-left: 1.5em;
    position: relative;
}
/* toc style */
.cd-main-content {
  /* set a min-height and a z-index to be sure that the main element completely covers the lateral menu */
  min-height: 100%;
  z-index: 2;
  transition-property: transform;
  transition-duration: 0.4s;
}
.cd-main-content.lateral-menu-is-open {
  transform: translateX(-260px);
}

/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 *
 * Informed by bootstrap 3.0 site
 */

/* By default it's not affixed in mobile views, so undo that */
.api-sidebar.affix {
    position: static;
}

/* First level of nav */
.api-sidenav {
    margin-top: 20px;
    margin-left: 0px;
    margin-bottom: 30px;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 0 1px 0 #fff;
    background-color: #EEE;
    border-radius: 5px;
    /*margin-top: 30px;*/
}

/* All levels of nav */
.api-sidebar .nav > li > a {
    display: block;
    color: black;
    padding: 5px 20px;
    font-size: 12px;
}

.api-sidebar .nav > li > a:hover,
.api-sidebar .nav > li > a:focus {
    text-decoration: none;
    background-color: #E0E4E6;
}

.api-sidebar .nav > .active > a,
.api-sidebar .nav > .active:hover > a,
.api-sidebar .nav > .active:focus > a {
    font-weight: bold;
    color: #cf2f19;
    background-color: transparent;
    border-right: 2px solid #cf2f19;
}

/* Nav: second level (shown on .active) */
.api-sidebar .nav .nav {
    margin-bottom: 8px;
}

.api-sidebar .nav .nav > li > a {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 30px;
    font-size: 12px;
}

/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
    .api-sidebar .nav > .active > ul {
        display: block;
    }

    /* Widen the fixed sidebar */
    .api-sidebar.affix,
    .api-sidebar.affix-bottom {
        width: 213px;
    }

    .api-sidebar.affix {
        position: fixed; /* Undo the static from mobile first approach */
        top: 20px;
    }

    .api-sidebar.affix-bottom {
        position: absolute; /* Undo the static from mobile first approach */
    }

    .api-sidebar.affix-bottom .api-sidenav,
    .api-sidebar.affix .api-sidenav {
        margin-top: 0;
        margin-bottom: 15px;
    }
}

.nav > li.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

@media (min-width: 1200px) {
    /* Widen the fixed sidebar again */
    .api-sidebar.affix-bottom,
    .api-sidebar.affix {
        width: 263px;
    }
}

/* @end */


.rowtop {
    margin-top: 75px;
}

/* Containers */
.container {
    width: 80%;
    padding-right: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: white;
}

/* 
.container h1 {
    margin-bottom: 12px;
    font-size: 36px;
}
 */

.container a {
    border-bottom: 1px #8a8a8a dotted;
    text-decoration: none;
}

/* SRJ - container overrides */

.container-frontdoor {
    width: 80%;
    padding-right: 0;
    padding-top: 30px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-frontdoor a {
    border-bottom: none;
    text-decoration: none;
}

/* Definition lists */
/* SRJ - dd override */
dd {
    margin-left: 1em;
    padding-bottom: 20px;
    line-height: normal;
}

/* Divs */

div.navbar-fixed-bottom>a {
    color: #fff;
}

div.navbar-fixed-bottom>a:hover {
    color: #fff;
}

div.content-spacer {
    padding-top: 2em;
}

/* SRJ - Overrides for font sizes in Jumbotron */

div.col-md-4>h2 {
    font-size: 14pt;
}

div.col-md-4>p {
    font-size: 12pt;
}

/* Jumbotron override */
.jumbotron {
    padding-top: 12px;
    padding-bottom: 12px;
}

/* Headings */
h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover {
  /* color:#29598c */
    color: gray;
}

h1.heading1 {
    margin-bottom: 8px;
    font-size: 36px;
}

h2.heading2 {
    margin-bottom: 6px;
    font-size: 28px;
}

h3.heading3 {
    margin-bottom: 4px;
    font-size: 22px;
}

h4.heading4 {
    margin-bottom: 2px;
    font-size: 18px;
}

/* Logos */
.logo-frontdoor {
    margin-left: 0em;
    padding-right: 2em;
}

.logo {
    background-color: #31302b;
}

/* Ordered lists */
ol {
    list-style: decimal outside none;
    margin-left: 1.5em;
}

ol li {
    margin-bottom: 6px;
}

/* Paragraphs */
p {
    font-family: 'OpenSansRegular', sans-serif;
    font-size: 12pt;
    font-weight: 400;
    margin-top: 12px;
}

.back p {
    margin-left: 12px;
    text-indent: -10px;
}

/* Navbars */

/* SRJ - override for navbar footer */

.navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    width: 100%;
    min-height: 25px;
    padding-bottom: 1em;
    z-index: 1030;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/* SRJ - future override for the navbar banner */

.navbar-inverse {
    background-color: #222;
    border-color: #080808;
}

.navbar a {
    text-decoration: none;
    border-bottom: 1px #b1b1b1 solid;
}

#sidebar-wrapper {
    margin-left: -250px;
    left: 250px;
    width: 15%;
    padding-right: 7px;
    background: #f7f3eb;
    position: fixed;
    height: 100%;
    overflow: auto;
 /* overflow-y:auto; */
    z-index: 1000;
    margin-top: -4px;
    border-top: solid #EF672F;
    transition: all .4s ease 0;
    border-width: 4px;
}

/* SRJ - get rid of text decoration for TOC */

ul.nav a {
    border-bottom: none;
} 

/* Unordered lists */
ul {
 /* list-style: round inside none; */
    margin-left: 1em;
}

ul li {
    margin-bottom: 6px;
}

ul.nav-tabs {
    width: 200px;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid #DDD;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.067);
   /*  background-color: #2097c1; */
    background-color: #A4A3A3;
}

ul.nav-tabs li {
    margin: 0;
    border-top: 1px solid #ddd;
}

ul.nav-tabs li:first-child {
    border-top: none;
}

ul.nav-tabs li a {
    margin: 0;
    padding: 8px 16px;
    border-radius: 0;
}

ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover {
    color: #fff;
    background: #0088cc;
    border: 1px solid #0088cc;
}

ul.nav-tabs li:first-child a {
    border-radius: 4px 4px 0 0;
}

ul.nav-tabs li:last-child a {
    border-radius: 0 0 4px 4px;
}

ul.nav-tabs.affix {
    top: 30px;
 /* Set the top position of pinned element */;
}

ul.note>li {
	/* margin-top: 0; */
    margin-left: 4em;
}

/* Media mark-ups */	

/* SRJ - reducing left margin for left TOC */
@media (min-width: 768px) {
    .bs-docs-sidebar {
        padding-left: 1px;
    }
}

@media (max-width:767px) {

    #wrapper {
        padding-left: 0;
        padding-top: 20px;
    }

    #sidebar-wrapper {
        border-right: 4px solid #EF672F;
        border-top: none;
        left: 0px;
    }

    .nav-toggle {
        display: ;
    }

    #wrapper.active {
        position: relative;
        left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
        left: 250px;
        width: 250px;
        transition: all 0.7s ease 0s;
    }

    .inset {
        padding: 15px;
    }

    .navbar {
        display: inherit;
        background-color: #ededed;
        margin-top: -20px;
    }
}

@media screen and (max-width: 500px) {
    #welcome-greeting h2 {
        font-size: 15px;
        transition: all 0.2s ease 0s;
        font-weight: 200;
        line-height: 30px;
    }

    .container {
        width: 100%;
        margin: 0 0 0 0;
        padding: 15px 15px 0 15px;
    }

    #article {
        padding: 0 10px 0 10px;
    }

    .showcase-wrapper {
        width: 100%;
        height: 50%;
        font-size: small;
    }
}

.toc p {
    margin-top: 22px;
    margin-left: .75em;
    font-size: 13pt;
    font-weight: bold;
}

.toc ul {
    list-style-type: none;
    line-height: normal;
    font-family: 'OpenSansRegular';
    font-size: 12pt;
    color: #31302b;
    margin-bottom: 6pt;
    margin-left: 1.5em;
    text-shadow: 1px 1px #fff;
}

/* Notes mark-up */
.bs-callout-info {
    border-left-color: #2097c1;
}

.bs-callout-warning {
    border-left-color: #f16f3b;
}

.bs-docs-sidebar .nav > li > a {
    color: darkgray;
}

span.glyphicon-class>p {
    margin-top: 0;
    margin-left: 4em;
}

.bs-callout {
    padding-bottom: 40px;
}
	



/* h1,h2,h3,h4,h5,h6
{
  font-family:'OpenSansSemibold', sans-serif;
  color:#EF672F
}

h1
{
  font-weight:700;
  color:#000000
}

h2,h3
{
  font-weight:700
}

h1 a,h2 a,h3 a,h4 a
{
  color:#428fe0
} */

/* .posts
{
  font-size:20px;
  list-style:none;
  font-weight:lighter;
  line-height:250%;
  padding-bottom:30px
} */

/* .homepage-posts
{
  list-style:none
} */





#wrapper {
    padding-left: 250px;
    transition: all .5s ease 0;
}

/* .navbar 
{
  display: none; */
}


.sidebar-nav {
    position: absolute;
    top: 3em;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 30px 0 0;
}

.sidebar-nav li {
    line-height: normal;
    font-family: 'OpenSansRegular';
    font-size: 12pt;
    color: #31302b;
    margin-bottom: 6pt;
    margin-left: 1em;
    text-shadow: 1px 1px #fff;
}

.sidebar-nav li a {
    color: #0000FF;
    display: block;
    text-decoration: none;
}

.sidebar-nav li a:hover {
    color: #FF0000;
  /*background:#fff;*/
    text-decoration: none;
    transition: all .2s ease 0;
}

.sidebar-nav li a:active {
    color: #FF0000;
  /*background:#fff;*/
    text-decoration: none;
    transition: all .2s ease 0;
}

.sidebar-nav li a:active,.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    font-size: 20px;
}

.sidebar-nav > .sidebar-brand > h3 {
    font-size: 15px;
    font-weight: 100;
    color: #5d5f67;
}

.nav-toggle {
    display: none;
    color: #EF672F;
    padding-left: 10px;
    padding-top: 10px;
}

.brand {
    font-weight: bold;
    color: #6c7077;
    font-family: OpenSansRegular;
    font-size: 16pt;
    text-shadow: 1px 1px #fff;
    margin-bottom: 1em;
    margin-top: 2em;
    margin-left: 15px;
}

/* .brand:hover
{
  color:#EF672F;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s
}
 */
.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.content-header {
    height: 65px;
    line-height: 65px;
}

.content-header h1 {
    line-height: 65px;
    display: inline-block;
    margin: 0 0 0 20px;
}

blockquote {
    border-left: 2px solid #EF672F;
    border-right: 2px solid #EF672F;
    margin-left: -40px;
    margin-right: -40px;
    padding-left: 40px;
    background: #f3f3f7;
}

pre {
    font-family: "Courier New";
    font-size: 11pt;
    color: #31302b;
    background-color: #f8f8ff;
}

code,
kbd,
pre,
tt,
samp {
    font-family: "Courier New";
    font-size: 11pt;
}

code {
    padding: 2px 4px;
    color: #31302b;
  /* font-size: 90%; */
  /* color: #c7254e; */
/*   white-space: nowrap;  */
/* background-color: blue; */
    background-color: #f8f8ff;
    border-radius: 4px;
}

tt {
    padding: 2px 4px;
    color: #31302b;
    font-size: 11pt;
    background-color: #f8f8ff;
    color: #31302b;
}

/* TABLE */

table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    color: #f7f3eb;
    cell-padding-left: 8px;
    cell-padding-right: 8px;
    cell-padding-top: 8px;
    cell-padding-bottom: 8px;
}

table td, table th, table tr, table tr th {
    padding: 8px;
}

table .odd {
    background-color: #f7f3eb;
    border-bottom: medium none;
}

table .even {
    border-bottom: medium none;
}

table th {
    border: #cac3b4 1px solid;
    color: #444444;
    padding: 5px;
    vertical-align: top;
}

table .table-headings th {
    background-color: #f7f3eb;
    border: 1px solid #cac3b4;
    color: #31302b;
    font-weight: bold;
    padding: 10px;
    vertical-align: top;
    font-size: 15px;
}

table tr {
    border-color: transparent #ffffff;
    border-left: 1px solid #cac3b4;
    border-right: 1px solid #cac3b4;
    border-style: solid;
    border-width: 1px;
    color: #31302b;
    vertical-align: top;
}

tr.even {
    border-bottom: medium none;
}

tr.even, tr.odd {
    padding: 0.1em 0.6em;
}

td {
    border: 1px solid #cac3b4;
    color: #31302b;
}

#social-wrapper {
    color: #5c646f;
    padding: 10px 0;
}

#social-wrapper a {
    font-size: 15px;
    text-indent: 20px;
}

#social-wrapper li {
    font-size: 15px;
    text-indent: 0;
    word-spacing: 10px;
}

#social-wrapper a:hover {
    color: #2d1e18;
    transition: all .3s ease 0;
}

.showcase-wrapper {
    width: 100%;
    height: 80vh;
    min-height: 500px;
    margin-top: -50px;
    box-shadow: inset 0 -10px 5px -2px rgba(119,119,119,0.35);
    -moz-box-shadow: inset 0 -10px 5px -2px rgba(119,119,119,0.35);
    -webkit-box-shadow: inset 0 -10px 5px -2px rgba(119,119,119,0.35);
    border-bottom: solid 1px #fff;
    z-index: -4;
}

.showcase-text {
    font-size: 3em;
    font-family: 'OpenSansRegular', sans-serif;
    font-weight: bolder;
    color: #000;
    text-align: center;
    padding-top: 20%;
}

.wide {
    width: 100%;
    background-color: #fff;
    margin: 0;
    padding: 0 10% 30px;
}

#welcome-greeting {
    width: 100%;
    padding-top: 5px;
}

#welcome-greeting > h1 {
    font-size: 3em;
    font-weight: 700;
    color: #EF672F;
    line-height: 130%;
}

#welcome-greeting h1:hover {
    font-size: 3em;
    font-weight: 700;
    color: #2d4440;
    transition: all .5s ease 0;
}

#welcome-greeting > h2 {
    font-size: 2em;
    font-weight: 200;
    color: #2e2e2e;
    padding-top: 0;
    line-height: 140%;
}

#welcome-greeting h2 a {
    font-weight: 100;
    color: #EF672F;
}

.credit {
    bottom: 0;
    width: 100%;
    font-size: 8pt;
  /* text-shadow:1px 1px #fff; */
    padding-left: 200px;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 10px;
    z-index: 1;
    color: #777;
    font-family: 'OpenSansRegular';
}

.label-danger {
    background-color: #697b7b;
    font-weight: 400;
    border-radius: .2em;
    font-size: 120%;
}

.label-danger:hover {
    background-color: #2d4440;
    transition: all .4s ease 0;
}

.showcase-button {
    border-radius: .5em;
    background-color: transparent;
    border: 1px solid rgba(255,255,255,.4);
    color: rgba(255,255,255,.8);
    font-weight: 200;
    font-family: 'OpenSansRegular', sans-serif;
}

.showcase-button:hover {
    border: 1px solid rgba(255,255,255,1);
    color: rgba(255,255,255,1);
    background-color: transparent;
    transition: all .2s ease 0;
}

.article-title {
    font-size: 35px;
    font-weight: 700;
    color: #EF672F;
    padding-top: 15px;
}

.meta {
    text-shadow: 1px 1px #fff;
    color: #b6b6b6;
}

img {
    max-width: 100%;
}

img.prev {
    vertical-align: top;
}

#article {
    margin-bottom: 30px;
    background-color: #f9f9f9;
    box-shadow: 1px 1px 0 1px #e8e8e8;
    padding: 10px 40px 0;
}

.post {
    padding-bottom: 30px;
}

.user-social {
    color: #c4c4c4;
    margin-right: 20px;
    text-decoration: none;
}

.user-social a {
    color: #c4c4c4;
    text-decoration: none;
    margin-right: 20px;
}

.blue-outline {
    border: 2px solid #d21c38;
}

time {
    color: #c9c9c9;
    font-family: 'OpenSansRegular', sans-serif;
    font-weight: 100;
    text-shadow: 1px 1px #fff;
}

.pager li > a,.pager li > span {
    border-radius: .5em;
}

/* #self
{
  -moz-border-radius:100px;
  -webkit-border-radius:100px;
  border-radius:10px;
  max-height:200px;
  margin:0;
  padding:10px
}

#disqus_thread
{
  margin-top:100px
} */

.recent-posts {
    background-color: #fff;
    color: #4d4d4d;
    box-shadow: 1px 1px 0 1px #e8e8e8;
    margin: 10px 10%;
    padding: 10px 40px;
}

.recent-posts h1 {
    padding-bottom: 10px;
    font-size: 1.6em;
}

/* Project mark-up */
.project-container {
    width: 100%;
    height: 170px;
    box-shadow: inset 0 -10px 5px -2px rgba(119,119,119,0.35);
    -moz-box-shadow: inset 0 -10px 5px -2px rgba(119,119,119,0.35);
    -webkit-box-shadow: inset 0 -10px 5px -2px rgba(119,119,119,0.35);
    border-bottom: solid 1px #fff;
    background-image: url(http://lorempixel.com/900/200/);
    background-size: cover;
    z-index: -4;
    margin-top: -55px;
    margin-bottom: 30px;
    color: #fff;
}

.project-container h1 {
    font-size: 3em;
    font-family: 'OpenSansRegular', sans-serif;
    font-weight: bolder;
    color: #fff;
    text-align: center;
    padding-top: 20px;
}

.project-container p {
    font-weight: 200;
    font-family: 'OpenSansRegular',sans-serif;
    color: #fff;
    text-align: center;
    left-padding: 20%;
}

.project-box {
    background-color: #f9f9f9;
    box-shadow: 1px 1px 0 1px #e8e8e8;
    min-height: 200px;
}

.project-box:hover {
    background-color: #fff;
    box-shadow: 1px 1px 0 1px #e8e8e8;
    min-height: 200px;
}

.project-title {
    color: #000;
}

.project-image {
    position: relative;
    margin: 0;
}

.project-image hr {
    margin-top: 5px;
    margin-bottom: 0;
    display: none;
}

.project-post {
    cursor: pointer;
}

.project-post h4 {
    font-weight: 200;
    font-size: 1em;
}

.user-card {
    background-color: #f9f9f9;
    box-shadow: 1px 1px 0 1px #e8e8e8;
    max-width: 800px;
    padding: 10px 40px 0;
}

.user-card h1 {
    font-family: 'OpenSansRegular',sans-serif;
    font-weight: bolder;
    font-size: 2.5em;
    line-height: 55px;
    color: #EF672F;
}

.user-card p {
    color: #c4c4c4;
    font-size: small;
}

.card {
    margin-left: -40px;
    margin-top: -10px;
}

.letter p {
    font-size: 1.2em;
    font-weight: lighter;
    color: #737373;
    text-shadow: 1px 1px #fff;
}

.fashion {
    border-left: solid 2px #bc0005;
}

.fashion-button {
    background-color: #bc0005;
}

.fashion:hover {
    border-left: solid 2px #f40006;
}

.fashion-button:hover {
    background-color: #f40006;
}

.programming {
    border-left: solid 2px #7dbcb2;
}

.programming-button {
    background-color: #7dbcb2;
}

.programming:hover {
    border-left: solid 2px #bbe9e2;
}

.programming-button:hover {
    background-color: #bbe9e2;
}

.tech {
    border-left: solid 2px #644539;
}

.tech-button {
    background-color: #644539;
}

.tech:hover {
    border-left: solid 2px #F4A273;
}

.tech-button:hover {
    background-color: #F4A273;
}

.misc {
    border-left: solid 2px #9e9599;
}

.misc-button {
    background-color: #9e9599;
}

.misc:hover {
    border-left: solid 2px #cfe0ea;
}

.misc-button:hover {
    background-color: #cfe0ea;
}

.podcasts {
    border-left: solid 2px #387b94;
}

.podcasts-button {
    background-color: #387b94;
}

.podcasts:hover {
    border-left: solid 2px #2FD0EF;
}

.podcasts-button:hover {
    background-color: #2FD0EF;
}

#menu-toggle,.project-post div {
    display: none;
}

#article h1,#article h2,#article h3 {
    color: #3a3a3a;
}

#accordion_related-topics {
    margin-top: 2em;
}

/* Extra stuff */  




/* SRJ and Diane - Note/Tip/Caution/Important overrides */



	
/* SRJ - decided not to include the word "Note", etc but leaving in case that comes back

div#info.bs-callout>h4 {
	margin-top: -1px;
	margin-left: 2.5em;
	}
	
div#warning.bs-callout>h4 {
	margin-top: -1px;
	margin-left: 2.5em;
	}
 */

/* SRJ - the following doesn't work. The expand/collapse icon is always +, never
changes to -, needs more work

#accordion_related-topics  .ui-accordion-header-icon {
background-image: url("images/ui-icons_454545_256x240.png");
background-position: -16px -128px; 

}

#accordion_related-topics  .ui-accordion-header-icon.ui-icon.ui-icon.minus {
background-image: url("images/ui-icons_454545_256x240.png");
background-position: -48px -128px; 

} */

/* SRJ backups following. Experimenting with getting Related Topics expand icon to change from + to - */

/* .ui-icon-minus { background-position: -48px -128px; } */


/* #accordion_related-topics  .ui-accordion-header-icon {
background-image: url("images/ui-icons_454545_256x240.png");
background-position: -16px -128px; 

}
 */
/* #accordion_related-topics  .span.ui-accordion-header-icon {
background-image: url("images/ui-icons_454545_256x240.png");
background-position: -12px -128px; 

} */

/* div.h1-frontpage {
    align: center;
	padding-left: 1em;
    
}  */

/* h2.heading2 {
    color: black;
    font-size: 18pt;
    
} 

h3.heading3 {
    color: gray;
    font-size: 14pt;
    
} */ 




