/* allow images/media to gracefully resize according to their enclosing tag */

img, 
embed,
object,
video  {
    max-width: 100%;    
} 




/* SRJ - code/pre overrides so text and background colors match */

pre {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
}

code {
	margin: 0;
	border: 1px solid #ddd;
	background-color: #f8f8f8;
	border-radius: 3px;
	padding: 3px;
	color: #000;
    word-wrap: break-word;
    white-space: inherit;
    font-size: .9em;
}


a code {
    color: inherit;
    font-size: .9em;
}


/* TDD code format in headers */


H1 CODE, H2 CODE, H3 CODE, H4 CODE, H5 CODE {
    padding: 2px 4px; 
     color: #000; 
     background-color: transparent;
     border: 0px solid #e1e1e8; 
     white-space: nowrap;
     font-size: 1em;
}

.main-container a {
    font-size: inherit;
}

.main-container p {
    font-size: inherit;
}

/*reset font size */
.main-container {
    font-size: 16px;
}

/* SRJ - reviewer question */

p.q 	{
	font-size: 15pt;
	color: red;
	display: none;
	}

/* SRJ - fix Firefox bug */
.main-container {
	clear: both;
}

/* SRJ - align horz line */
#divcentered {
	align: center;
	padding-left: 60px;
}

/* TDD - Alternate menu appearance */

.nav-main #subnav-wrap #subnav ul li a {
    font: 1em 'Open Sans',sans-serif;
    font-weight: 600;
    text-transform: none;
    padding: 11px 15px;
    outline: 0;
    background: none repeat scroll 0 0 #31302b;
}


/* TDD- Add permanent left-hand margin*/

.content {
    width: 69%;
    padding-right: 7%
}


.container {
    padding-left: 66px;
    padding-right: 66px
}

.copyright .container {
    padding-left: 0px
} 


.container, .navbar-static-top, .navbar-fixed-top .container, .navbar-fixed-bottom .container, .nav-main #global-nav, .nav-main #subnav-wrap #subnav {
    width: auto;
    max-width: 100%;
}

/*.sidebar {
    margin-left: 66px
}

.page-intro {
    padding-left: 66px;
}*/

.home-section {
    padding: 40px 0 0 0;
}

/*Give "Edit page on Github a little space on the right"  */
.page-intro .improve-page {
  right: 10%;
    
}

@media (min-width: 1130px){
    .nav-main #global-nav {
    padding-left: 66px;
    }

 .nav-main #subnav-wrap #subnav {
    padding-left: 66px;
    }
}

.nav-main #subnav-wrap #subnav {
    height: 42px;
}


/*FIX for table font sizes TDD*/


.main-container TABLE a, .main-container TABLE p, .main-container TABLE LI, .main-container TABLE OL, .main-container TABLE UL, .main-container TABLE PRE 
	{font-size: 1em;
	}

tr td {vertical-align: initial;
	font-size: .9em;
	}


td code, td pre {font-size: .9em}

/* FIX for table line breaks TDD*/

.main-container TABLE TR, .main-container TABLE TD, .main-container TABLE TD TT, .main-container TABLE TD CODE, .main-container TABLE TD PRE
	{word-wrap:break-word;
	}

/* FIX for table width TDD*/

TABLE {
    table-layout: fixed;
    max-width: 99%;
    width: 99%;
}


/* Add style for TOC Header in sidebar.html include */
.main-container DIV.sidebar-wrapper H4 {

    margin: 1.5em 10px 0.5em 14px;
    color: rgba(97, 57, 42, 0.99);
    text-transform: capitalize;
    
}

/*Search styling */


#subnav DIV.search {
background-color: rgb(49, 48, 43);
    float: right;
    top: 0px;
    height: 41px;
    width: 300px;
    margin-right: 10px;
}



#subnav DIV.search SVG.searchImage {
position: relative;
    top: 0px;
    left: 5px;
    width: 23px;
  
    
}


#subnav DIV.search FORM#searchbox INPUT {
   
 
    
    background-color: transparent;
    font-style: normal;
    border: 0px solid gray;
    width: 100%;
    height: 35px;
    color: white;
    font-size: 1em;
    font-weight: normal;
    padding: 0px 0 0 35px;
    margin: 0 0 0 0;
   /* border: 1px solid white;*/
}




#subnav DIV.search FORM#searchbox INPUT:focus{
outline:none
}

#subnav DIV.search FORM#searchbox{
  border: 0px solid gray;
    position: relative;
    top: -42px;
    left: 0px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  /*position: relative;
  left: 326px;
  top: -15px;
  width: 60%;*/
}

#searchResultsBox {
    display: none;
 overflow: auto;
 position: absolute;
 top: 4%;
 left: 6%;
 right: 6%;
 bottom: 2%;
 padding-top: 20px;
 padding-right: 4%;
 padding-bottom: 4%;
 z-index: 1001;
    }


DIV.searchResultsBoxClose {
    float: right;
    width: 64px;
    margin-top: 69px;
    position: relative;
    z-index: 5000;
    margin: 1% 1% 1% 1%;
    padding: .3%;
    cursor: hand;
    cursor: pointer;
    font-size: .8rem;
}

#test {
    position: absolute;
    top: 170px;
    z-index: 1001;
   
    }



.searchResultsBack {
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
min-width: 100%;
min-height: 100%;
height: 100%;
opacity: .75;
z-index: 1000;
background-color:#CACACA;;
cursor: hand; cursor: pointer;

}
