/* SRJ - code/pre overrides so text and background colors match */

pre {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
}

code {
	margin: 0;
	border: 1px solid #ddd;
	background-color: #f8f8f8;
	border-radius: 3px;
	padding: 3px;
	color: #000;
}

/* SRJ - reviewer question */

p.q 	{
	font-size: 15pt;
	color: red;

	display: none;
	}

/* SRJ - fix Firefox bug */
.main-container {
	clear: both;
}
