/* SRJ - code/pre overrides so text and background colors match */

pre {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
}

code {
	margin: 0;
	border: 1px solid #ddd;
	background-color: #f8f8f8;
	border-radius: 3px;
	padding: 3px;
	color: #000;
    word-wrap: break-word;
    white-space: inherit;
    font-size: .9em;
}


a code {
    color: inherit;
    font-size: .9em;
}


/* TDD code format in headers */


H1 CODE, H2 CODE, H3 CODE, H4 CODE, H5 CODE {
    padding: 2px 4px; 
     color: #000; 
     background-color: transparent;
     border: 0px solid #e1e1e8; 
     white-space: nowrap;
     font-size: 1em;
}

.main-container a {
    font-size: inherit;
}

.main-container p {
    font-size: inherit;
}

/*reset font size */
.main-container {
    font-size: 16px;
}

/* SRJ - reviewer question 

p.q 	{
	font-size: 15pt;
	color: red;
	display: none; 
	}

/* SRJ - fix Firefox bug */
.main-container {
	clear: both;
}

/* SRJ - align horz line */
#divcentered {
	align: center;
	padding-left: 60px;
}

/* TDD - Alternate menu appearance */

.nav-main #subnav-wrap #subnav ul li a {
    font: 1em 'Open Sans',sans-serif;
    font-weight: 600;
    text-transform: none;
    padding: 11px 15px;
    outline: 0;
    background: none repeat scroll 0 0 #31302b;
}


/* TDD- Add permanent left-hand margin*/

.content {
    width: 75%;
}


.container {
    padding-left: 66px
}

.copyright .container {
    padding-left: 0px
} 

/*.sidebar {
    margin-left: 66px
}

.page-intro {
    padding-left: 66px;
}*/

.home-section {
    padding: 40px 0 0 0;
}

/*Give "Edit page on Github a little space on the right"  */
.page-intro .improve-page {
  right: 10%;
    
}

@media (min-width: 1130px){
    .nav-main #global-nav {
    padding-left: 66px;
    }

 .nav-main #subnav-wrap #subnav {
    padding-left: 66px;
    }
}

.nav-main #subnav-wrap #subnav {
    height: 42px;
}

/* Adjust footer padding TDD */

#footer-wrap {
   
    padding-left: 66px;
}

#footer-wrap #copyright {
    padding-right: 12%;
}




/*FIX for table font sizes TDD*/


.main-container TABLE a, .main-container TABLE p, .main-container TABLE LI, .main-container TABLE OL, .main-container TABLE UL, .main-container TABLE PRE 
	{font-size: 1em;
	}

tr td {vertical-align: initial;
	font-size: .9em;
	}


td code, td pre {font-size: .9em}

/* FIX for table line breaks TDD*/

.main-container TABLE TR, .main-container TABLE TD, .main-container TABLE TD TT, .main-container TABLE TD CODE, .main-container TABLE TD PRE
	{word-wrap:break-word;
	}

/* FIX for table width TDD*/

TABLE {
    table-layout: fixed;
    max-width: 99%;
    width: 99%;
}

