DIV.gsc-control-wrapper-cse tr:nth-child(odd) td { background: transparent;}


.gsc-control-cse {
	font-family: 'Open Sans', sans-serif;
	border-color: #FFFFFF;
	background-color: #fff;
	min-height: 100%;
	padding-top: 60px;
}
.gsc-control-cse .gsc-table-result {
	font-family: 'Open Sans', sans-serif;
	margin: 0 0 0 0;
}

td.gsc-input {
	padding-top: 0;
	padding-bottom: 0;
}
input.gsc-input {
	height: 40px;
	border-radius: 0;
	padding: 5px 10px;
	line-height: 1em;
	border: 1px solid #666;
	display: block;
	margin: 0;

}
input.gsc-search-button {

border-color: ;
background-color: #fff;
}
.gsc-tabHeader.gsc-tabhInactive {
border-color: transparent;
background-color: #fff;
}
.gsc-tabHeader.gsc-tabhActive {
border-color: transparent;
background-color: #FFFFFF;
}
.gsc-tabsArea {
border-color: transparent;
}
.gsc-webResult.gsc-result,
.gsc-results .gsc-imageResult {
border-color: transparent;
background-color: #FFFFFF;
}
.gsc-webResult.gsc-result:hover,
.gsc-imageResult:hover {
border-color: transparent;
background-color: #FFFFFF;
}
.gsc-webResult.gsc-result.gsc-promotion:hover {
border-color: transparent;
background-color: #FFFFFF;
}
.gs-webResult.gs-result a.gs-title:link,
.gs-webResult.gs-result a.gs-title:link b,
.gs-imageResult a.gs-title:link,
.gs-imageResult a.gs-title:link b {
color: #0068b7;
}
.gs-webResult.gs-result a.gs-title:visited,
.gs-webResult.gs-result a.gs-title:visited b,
.gs-imageResult a.gs-title:visited,
.gs-imageResult a.gs-title:visited b {
color: #995E33;
}
.gs-webResult.gs-result a.gs-title:hover,
.gs-webResult.gs-result a.gs-title:hover b,
.gs-imageResult a.gs-title:hover,
.gs-imageResult a.gs-title:hover b {
color: #C14800;
}
.gs-webResult.gs-result a.gs-title:active,
.gs-webResult.gs-result a.gs-title:active b,
.gs-imageResult a.gs-title:active,
.gs-imageResult a.gs-title:active b {
color: #0000FF;
}
.gsc-cursor-page {
color: #0000FF;
}
a.gsc-trailing-more-results:link {
color: #0000FF;
}
.gs-webResult .gs-snippet,
.gs-imageResult .gs-snippet,
.gs-fileFormatType {
color: #000000;
}
.gs-webResult div.gs-visibleUrl,
.gs-imageResult div.gs-visibleUrl {
color: #000000;
}
.gs-webResult div.gs-visibleUrl-short {
color: #000000;
}
.gs-webResult div.gs-visibleUrl-short {
display: none;
}
.gs-webResult div.gs-visibleUrl-long {
display: block;
}
.gs-promotion div.gs-visibleUrl-short {
display: none;
}
.gs-promotion div.gs-visibleUrl-long {
display: block;
}
.gsc-cursor-box {
border-color: #FFFFFF;
}
.gsc-results .gsc-cursor-box .gsc-cursor-page {
border-color: transparent;
background-color: #FFFFFF;
color: #0000FF;
}
.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
border-color: #FF9900;
background-color: #FFFFFF;
color: #663399;
}
.gsc-webResult.gsc-result.gsc-promotion {
border-color: #336699;
background-color: #FFFFFF;
}
.gsc-completion-title {
color: #0000FF;
}
.gsc-completion-snippet {
color: #000000;
}
.gs-promotion a.gs-title:link,
.gs-promotion a.gs-title:link *,
.gs-promotion .gs-snippet a:link {
color: #0000FF;
}
.gs-promotion a.gs-title:visited,
.gs-promotion a.gs-title:visited *,
.gs-promotion .gs-snippet a:visited {
color: #663399;
}
.gs-promotion a.gs-title:hover,
.gs-promotion a.gs-title:hover *,
.gs-promotion .gs-snippet a:hover {
color: #444444;
}
.gs-promotion a.gs-title:active,
.gs-promotion a.gs-title:active *,
.gs-promotion .gs-snippet a:active {
color: #00CC00;
}
.gs-promotion .gs-snippet,
.gs-promotion .gs-title .gs-promotion-title-right,
.gs-promotion .gs-title .gs-promotion-title-right * {
color: #333333;
}
.gs-promotion .gs-visibleUrl,
.gs-promotion .gs-visibleUrl-short {
color: #008000;
}

.gsc-control-cse .gs-spelling, .gsc-control-cse .gs-result .gs-title, .gsc-control-cse .gs-result .gs-title * {
	font-size: 1.3rem;
	color: brown;
}


.gs-result .gs-title, .gs-result .gs-title {
	text-decoration: none;
	text-transform: capitalize;
	font-size: 1.5rem;
	height: 1.5rem;
}

.gs-result .gs-title * {
    text-decoration: none;
}

.gsc-search-button {
	display: none;
}

.gsc-clear-button {
	display: none;
}

.cse form.gsc-search-box, form.gsc-search-box {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#searchResultsBox table {
   margin: 0 0 10px 0;
   border: none;
   padding: 0;
}
#___gcse_0 {
	min-height: 100%;
	height: auto;
}

.gssb_c TABLE {
	   margin: 0 0 0 0;
    border: 0px solid transparent;
    padding: 0 0 0 0;
}

.gsc-above-wrapper-area {
	padding: 0 0 0 0;
}

.gsc-control-wrapper-cse {
   width: 85%;
   margin: 0 auto;
}

.gs-image-box {
	display: none;
}

.gs-no-results-result .gs-snippet, .gs-error-result .gs-snippet {
	font-size: 2em;
    padding: 5px;
    margin: 5px;
    border: 0px solid transparent;
    background-color: transparent;
}

td.gcsc-branding-text {
    white-space: nowrap;
    width: 46%;
}

.gcsc-branding-text-name {
	width: 30%;
}


.gsc-results .gsc-cursor-page.gsc-cursor-current-page {
text-shadow: none;

}


.gsc-result .gs-title {

    white-space: nowrap;
}
