@charset "UTF-8";
/* CSS Document */

body {
	 background-color: #ffffff;  margin: 0 auto; font-size:15px; font: 15px/22px Helvetica, Arial, sans-serif; color:#5A5A5A; font-weight:normal; width:1024px;
	}

/* containers */
#container { width:940px; margin:0; }
#content { width:940px; margin:15px 45px 0 45px; }

/* left nav style */
.show {
	display:block;  position: relative;
    top: -15px;
}
.hide{
	display:none; position: relative;
    top: -15px;
}
#container-2 { width:940px; margin:10px 0 0 45px; }
#left-nav { float:left; width:220px; margin-right:20px; display:block; }
#left-nav  ul { margin:10px 0 8px; }
#left-nav li { border-bottom:2px dotted #dddddd; list-style: none;
	padding: 10px 5px; margin: 10px 0; }
#content-2 { float:right; width:700px; }
#left-nav h4 { color:#666666; border-bottom:2px dotted #dddddd; padding:5px; }
#left-nav li.highlight a:link, #left-nav li.highlight a:visited {
    color: #F47027;
    text-decoration: none;
}
#left-nav ul.related-documents li {
	font-size:13px; border:0; padding: 5px; margin: 5px 0 5px 5px;
	background-image: url(".bullet-round-orange.png");
	background-repeat: no-repeat;
	background-position: 0 9px;
	padding-left: 16px;
	}

/* end left nav styles */

/* HEADINGS */
h1, h2 { font-weight:100; margin:30px 0 10px 0; }

h3, h4, h5, h6 { font-weight:100; color:#444444; margin:25px 0 2px 0; }

h1 { font: 36px/46px 'TitilliumText22LBold', Helvetica, sans-serif; letter-spacing: 0; }

h2 { font: 31px/41px 'TitilliumText22LRegular', Helvetica, sans-serif; color:#f47027; }

h3 { font: 27px/37px 'TitilliumText22LRegular', Helvetica, sans-serif; letter-spacing: 0;}

h4 { font: 23px/37px 'TitilliumText22LRegular', Helvetica, sans-serif; letter-spacing: 0; }

h5 { font: 17px/27px 'TitilliumText22LThin', Helvetica, sans-serif; letter-spacing: 0; font-weight:bold; margin-top:25px; }

h6 { font: 14px/24px 'TitilliumText22LThin', Helvetica, sans-serif; letter-spacing: 0; font-weight:bold; margin-top:25px; }

/* TOC */
div.toc { background: url(blend-toc.png) repeat-x; border-left:1px solid #effbfd; padding:0 10px; margin-bottom:20px; }
div.section.toc { position:relative; top:-15px; }
h4.toc { font-weight:300; padding: 10px 0 10px ; }
p.toc { color: #cccccc; margin-bottom:10px; }
p.toc a { padding: 0 5px 0 5px; }
p.toc a.first { padding-left: 0; }

/*PARAGRAPHS */
p { letter-spacing: 0.05px; color:#555555; line-height:20px; margin: 8px 0 17px;}

/* LINKS */
a:link, a:visited { color:#0090c0; text-decoration:none; }
a:hover{ color:#ff613d; }
a:active{ color:#0090c0; }

/* NOTES TIPS ETC. */

.msg-box, .sm-note-box {
    margin:2px 0 15px 0;
	width:85%;
	border-radius: 8px 0 8px 0;
	font-size:14px;
	color:#777777;
    padding: 8px 12px 8px 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	min-height:35px; }

.sm-note-box {
	min-height:15px;
    background-color: rgba(0, 0, 0, 0.025);
	border:1px solid #888888;
	border-left: 3px solid #888888; }

.sm-note-box span { padding: 0 10px 0 10px; }

.msg-text { color:#777777; font-size:14px; }

.caution {
    background-color: rgba(240, 171, 0, .05);
    border: 1px solid #f7941d;
	border-left: 5px solid #f7941d; }

.important {
    background-color: rgba(229, 122, 63, 0.04);
	border:1px solid #EE6933;
	border-left: 5px solid #EE6933; }

.note {
    background-color: rgba(0, 0, 0, 0.025);
	border:1px solid #888888;
	border-left: 5px solid #888888; }

.tip {
    background-color: rgba(246, 220, 27, .05);
	border:1px solid #fbe841;
	border-left: 5px solid #fbe841; }

.msg-box span { position:relative; left:10px; padding-right:5px; }
.msg-box img { position:relative; top:-3px; left:5px; }


pre { font-size:14px; line-height:20px; overflow: auto; }
pre strong{ color:#333333; }
pre, .link-callout { padding:10px; margin:0 0 20px;
	background-color: #F3F6F9; border:1px solid #ebeff2; border-radius: 4px; }

.link-callout {  width:450px; color:#666666;  }


/* LISTS */
ul, ol ul li, ul ol li, ol li ol li ul.level1 li
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul li li, ul li li li, ol li li {
	margin-left: 5px;
}
 ul li li li {
	margin-left: 10px;
}

ul.level1 li, ul li.level1, ol li ol li ul.level1 li
{
	background-image: url("bullet-round-orange.png");
	background-repeat: no-repeat;
	background-position: 0 7px;
	padding-left: 16px;
	margin-bottom:6px;
}
ul.level2 li, ul li.level2, ol li ol li ul.level2 li
{
	background-image: url("bullet-round-gold.png");
	background-repeat: no-repeat;
	background-position: 0 6px;
	padding-left: 16px;
	margin-bottom:6px;
}
ul.level3 li, ul li.level3, ol li ol li ul.level3 li
{
	background-image: url("bullet-round-gray.png");
	background-repeat: no-repeat;
	background-position: 0 6px;
	padding-left: 16px;
	margin-bottom:6px;
}
ol li, ul ol li { list-style: decimal outside none; background-image:none; }
ol li { margin-bottom:8px; }
li p { margin:2px 0 8px; font-size:14px; }

dl dd { padding: 5px 0 6px 0; margin-left:24px }
dd p { margin:4px 0 0; }

dl, ul, ol { margin:10px 0 8px 20px; }

ol ol, ul ol  { margin:10px 0 8px 5px; }

ol ol li, ul li ol li { list-style-type:lower-alpha; }
ol ol ol li, ul li ol li ol li { list-style-type:lower-roman; padding-left:2px; }

dl { margin-left:0; }

/* list overrides - SRJ */



/* This sort of works */

ul li
{
  background-image: url("bullet-round-orange.png");
  background-repeat: no-repeat;
  background-position: 0 7px;
  padding-left: 16px;
  margin-bottom:6px;
  margin-left: 5px;
}
ul li, ul li
{
  background-image: url("bullet-round-gold.png");
  background-repeat: no-repeat;
  background-position: 0 6px;
  padding-left: 16px;
  margin-bottom:6px;
  margin-left: 10px;
}
ul li, ul li, ul li
{
  background-image: url("bullet-round-gray.png");
  background-repeat: no-repeat;
  background-position: 0 6px;
  padding-left: 16px;
  margin-bottom:6px;
}

ol li ul li {
    padding-left: 16px;
    margin-left: 10px;
}

/*ul:nth-child(1) li {
  background-image: url("bullet-round-orange.png");
  background-repeat: no-repeat;
  background-position: 0px 7px;
  padding-left: 16px;
  margin-bottom:6px;
}

ul:nth-child(2) li {
  background-image: url("bullet-round-gold.png");
  background-repeat: no-repeat;
  background-position: 0px 6px;
  padding-left: 16px;
  margin-bottom:6px;
}

ul:nth-child(3) li {
  background-image: url("bullet-round-gray.png");
  bckground-repeat: no-repeat;
  background-position: 0px 6px;
  padding-left: 16px;
  margin-bottom:6px;
}*/


/* NUMBERED CODE */

pre.lineCount { background: #F3F6F9 url("gutter.png") 2.1em 0 repeat-y;
	border:1px solid #ebeff2; line-height:0; margin:0; padding:0; }

ol.listLineCount {
	overflow:auto;
	margin:0;
	padding-left: 32px;
	color:#ffffff;
	line-height:5px;
}

.lineCount ol li { color:#333333; font-weight:400; }
.lineCount ol li.odd { background-color:#F3F6F9; }

pre.lineCount li code { color:#333333; line-height:15px;}

caption, p.caption { font-family:Georgia, "Times New Roman", Times, serif; color:#787878; font-size: 14px; font-style:italic; padding:0; margin:10px 0 15px 3px;}

caption {margin:0px 0 2px 0; padding:20px 0 5px 0; }

/* TABLE */

table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
	color:#555555;
}
table td, table th, table tr, table tr th {
	padding:8px;}

table tr:nth-child(odd) { /*(odd) or (2n 1)*/
    background-color: #F3F6F9;
    border-bottom: medium none;
    border-color: transparent #ffffff;
    border-left: 1px solid #dce5ed;
    border-right: 1px solid #dce5ed;
    border-style: solid;
    border-width: 1px;
    color: #222222;
    vertical-align: top;
}
table tr:nth-child(even) { /*(even) or (2n 0)*/
    border-bottom: medium none;
    border-color: transparent #ffffff;
    border-left: 1px solid #dce5ed;
    border-right: 1px solid #dce5ed;
    border-style: solid;
    border-width: 1px;
    color: #222222;
    vertical-align: top;
}
table th {
    border: #dce5ed 1px solid;
    color: #444444;
    font-weight: 600;
    padding: 5px;
    vertical-align: top;
	font-size:13px;
}
/*table .table-headings th {
	background-color: rgba(220, 229, 237, .50);
    border:1px solid #dce5ed;
	color: #555555;
    font-weight: bold;
    padding: 10px;
    vertical-align: top;
	font-size:14px;
}*/
/*table tr {
    border-color: transparent #ffffff;
    border-left: 1px solid #dce5ed;
    border-right: 1px solid #dce5ed;
    border-style: solid;
    border-width: 1px;
    color: #222222;
    vertical-align: top;
}*/

/*tr.even {
    border-bottom: medium none;
}
tr.even, tr.odd {
    padding: 0.1em 0.6em;
}*/
td {
    border:1px solid #dce5ed;
    color: #555555;
    padding: 10px;
	font-size:13px;
}

/* Back to Top */

p.btt a:link, p.btt a:active, p.btt a:visited {
    background: url("btt.png") no-repeat scroll 0 2px transparent;
    float: right;
	position:relative;
	top:-35px;
    font-size: 12px;
    padding: 0 0 0 15px;
    text-decoration: none;
}
p.btt.last {position:relative;top:40px;}

/* paging */
p.paging {
    float: right;
	position:relative;
	top:-42px;
    font-size: 12px;
	font-weight:600;
	color:#777777;
    padding: 0 0 0 15px;
    text-decoration: none;
}
p.paging span { padding:5px; }
p.paging a {
	font-weight:100; padding:5px; }
p.paging.bottom {
	position:relative;
	top:42px; }

/* Rules */
.dotted-rule { border-top: 2px dotted #dddddd; margin: 15px 0 15px 0; }
hr { border: 0; color: #e2e2e2; background-color: #e2e2e2; height: 2px;  margin: 15px 0 15px 0; }

/* Images */

.images {
  margin-left: -20px;
  list-style: none;
  *zoom: 1;
}

.images:before,
.images:after {
  display: table;
  content: "";
}

.images:after {
  clear: both;
}

.row-fluid .images {
  margin-left: 0;
}

.images > li {
  float: left;
  margin-bottom: 5px;
  margin-left: 20px;
}

.image {
  display: block;
  margin-top:10px;
  padding: 8px;
  line-height: 1;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}
.image.medium { width:680px; }

.image.large { width:920px; }

a.image:hover {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
     -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
          box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.image > img {
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}


.expandimg img:hover
{
   -webkit-transform:scale(1.6);
   -moz-transform:scale(1.6);
   -o-transform:scale(1.6);
   box-shadow:0 0 30px gray;
   -webkit-box-shadow:0 0 30px gray;
   -moz-box-shadow:0 0 30px gray;
   opacity: 1;
   margin-left: 145px;
}

.expandimg-border img:hover
{
   -webkit-transform:scale(1.6);
   -moz-transform:scale(1.6);
   -o-transform:scale(1.6);
   border: 1px solid #ddd;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
   -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
   opacity: 1;
   margin-left: 195px;
}

.expandimg-thumb img:hover
{
   -webkit-transform:scale(2.5);
   -moz-transform:scale(2.5);
   -o-transform:scale(2.5);
   border: 1px solid #ddd;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
   -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
   opacity: 1;
}


.expandimg-border, .expandimg-thumb {
   display: block;
   margin-top:10px;
   padding: 8px;
   line-height: 1;
   border: 1px solid #ddd;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
   -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* TABS */
.nav {
  margin-bottom: 18px;
  margin-left: 0;
  list-style: none;
}

.nav > li > a {
  display: block;
}

.nav > li > a:hover {
  text-decoration: none;
  background-color: rgba(0, 144, 192, 0.03);
}


.nav-tabs{
  *zoom: 1;
}

.nav-tabs:before,
.nav-tabs:after{
  display: table;
  content: "";
}

.nav-tabs:after {
  clear: both;
}

.nav-tabs > li {
  float: left;
}

.nav-tabs > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav-tabs > li {
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 18px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}

.nav-tabs > li > a:hover {
  border-color: #caecf3 #caecf3 #dddddd;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.tab-content { border-bottom: 1px solid #DDDDDD; padding: 0 0 5px; }
.tab-content p { color:#777777; }

/* CODE COMMENTS AND MANDATORY STEPS */
.comments { color:#339900 }
.mandatory { color:#EE6933 }


.soap-api-menu {
    float: left;
    margin-left: -45px;
    width: 250px;
}
.soap-api-menu {
    border-bottom: 1px solid #cac2b5;
    padding-bottom: 10px;
    margin-top: 20px;
}
.soap-api-menu > ul {
    margin-left: 0;
}
.soap-api-menu ul {
    margin-top: 5px;
    margin-bottom: 5px;
}
.soap-api-menu > ul > ul {
    margin-left: 0;
}
.soap-api-menu ul li {
    background: none;
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
}
.soap-api-menu ul li a {
    color: #444;
}
.soap-api-menu ul li a:hover,
.soap-api-menu ul li a.active {
    color: #f47027;
}
.soap-api-content {
    float: right;
    width: 750px;
    clear: right;
    margin-right: -45px;
}
.soap-api-menu li.parent,
.soap-api-menu > ul > li {
    margin-bottom: 5px;
}
.soap-api-menu li.parent > ul {
    display: none;
}
.soap-api-menu li.parent > .arr {
    display: inline-block;
    width: 12px;
    height: 12px;
    position: relative;
    cursor: pointer;
}
.soap-api-menu li.parent > .arr:before {
    position: absolute;
    width: 0;
    height: 0;
    top: 4px;
    left: 3px;
    content: '';
    border: 7px outset transparent;
    border-top: 7px solid #ed6739;
}
.soap-api-menu li.parent > .arr:after {
    position: absolute;
    width: 0;
    height: 0;
    top: 2px;
    left: 3px;
    content: '';
    border: 7px outset transparent;
    border-top: 7px solid #fff;
}
.soap-api-menu li.parent.open > .arr:before {
    border: 7px outset transparent;
    border-bottom: 7px solid #ed6739;
    top: -3px;
}
.soap-api-menu li.parent.open > .arr:after {
    border: 7px outset transparent;
    border-bottom: 7px solid #fff;
    top: -1px;
}
.soap-api-menu li.parent > a,
.soap-api-menu > ul > li > a {
    font-weight: bold;
}
.introduction-menu {
    background: #f7f3eb;
    margin-left: 0;
    padding: 20px;
    list-style: none;
}
.introduction-menu li {
    background: none;
    padding: 0;
}
.introduction-menu a {
    color: #c14800
}
.introduction-menu a:hover {
    color: #ef672f;
}

.message-banner {
	background: #FBEDD9;
	border: 1px solid #C27500;
	padding: 20px;
	border-radius: 2px;
	margin: 10px 0;
}

.message-banner h4 {
	margin-top: 0;
}
.message-banner p:last-child {
	margin-bottom: 0;
}
