<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Common layout customization tasks</title>
	<meta name="description" content="Magento 2 Developer's Guide">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,600,300,800' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="/css/app.css" />
	<link rel="stylesheet" href="/common/css/override.css" />
	<link rel="canonical" href="//guides/v1.0/frontend-dev-guide/layouts/xml-manage.html">

</head>	
<body>

<header id="nav-main" class="nav-main">

	<!--Top Navigation-->
	<nav role="navigation">
		<!-- <div class="menu-btn">
			<a class="menu-trigger menu-icon" href="#"></a>
		</div> -->
			
		<div id="global-nav">
			<div class="main-site-name">
				<a class="logo pull-left" href="/"> </a>
				<div class="sub-site-name">
					<a href="/"><span>Developer Documentation</span></a>
				</div>
			</div>
			
			<div class="right-header">
				<!--
				<div class="sales-login">
					<ul class="menu nav">
						<li class="first last leaf"><a href="https://www.magentocommerce.com/products/customer/account/login">My Account</a></li>
					</ul>
				</div>
				
				
				<div class="head-search" id="head-search">
					<div id="sb-search" class="sb-search">
						<form action="http://www.magentocommerce.com/search/results/">
							<span class="sb-icon-search btn btn-search"></span>
							<input name="q" class="sb-search-input" placeholder="Search docs" type="search" style="display: none;" id="search" />
							<span class="sb-search-submit btn btn-search"></span>
						</form>
					</div>
				</div><!-- #head-search --> 
				
			</div>
			
		</div><!-- #global-nav -->
	</nav>

	<!--Sub Navigation-->
<div id="subnav-wrap">
   <div id="subnav">
      <ul class="menu nav">
         <li class="first expanded">
            <a href="/guides/v1.0/bk-get-started-magento.html">Get Started</a>
            <ul class="menu nav">
               <li class="first leaf"><a href="/guides/v1.0/release-notes/bk-release-notes.html">Release Notes</a></li>
               <li class="leaf"><a href="/guides/v1.0/architecture/bk-architecture.html">Magento Architecture</a></li>
            </ul>
         </li>
         <li class="first expanded">
            <a href="/guides/v1.0/install-gde/bk-install-guide.html">System Administrator</a>
            <ul class="menu nav">
               <li class="first leaf"><a href="/guides/v1.0/install-gde/bk-install-guide.html">Installation Guide</a></li>
               <li class="leaf"><a href="/guides/v1.0/config-guide/bk-config-guide.html">Configuration Guide</a></li>
               <li class="leaf"><a href="/guides/v1.0/migration/bk-migration-guide.html">Migration Guide</a></li>
            </ul>
         </li>
         <li class="first expanded">
            <a href="/guides/v1.0/frontend-dev-guide/bk-frontend-dev-guide.html">Frontend Developer</a>
            <ul class="menu nav">
               <li class="first leaf"><a href="/guides/v1.0/frontend-dev-guide/bk-frontend-dev-guide.html">Frontend Developer Guide</a></li>
               <li class="leaf"><a href="/guides/v1.0/coding-standards/bk-coding-standards.html">Coding Standards</a></li>
            </ul>
         </li>
         <li class="expanded">
            <a href="/guides/v1.0/extension-dev-guide/bk-extension-dev-guide.html">Extension Developer</a>
            <ul class="menu nav">
               
               <li class="first leaf"><a href="/guides/v1.0/extension-dev-guide/bk-extension-dev-guide.html">Extension Developer Guide</a></li>
               <li class="leaf"><a href="/guides/v1.0/pattern-library/bk-pattern.html">Magento Admin Pattern Library</a></li>
               <li class="leaf"><a href="/guides/v1.0/coding-standards/bk-coding-standards.html">Coding Standards</a></li>
            </ul>
         </li>
    
    
          <li class="expanded">
            <a href="/guides/v1.0/get-started/bk-get-started-api.html">Web Services Developer</a>
            <ul class="menu nav">
               <li class="first leaf"><a href="/guides/v1.0/get-started/bk-get-started-api.html">Get Started with Magento Web APIs</a></li>
               <li class="leaf"><a href="/guides/v1.0/rest/bk-rest.html">REST Reference</a></li>
               <li class="leaf"><a href="/guides/v1.0/soap/bk-soap.html">SOAP Reference</a></li>

            </ul>
         </li>   
    
         
         
         
         
         <li class="first expanded">
            <a href="/guides/v1.0/contributor-guide/CONTRIBUTING.html">Contributor</a>
            <ul class="menu nav">
               <li class="first leaf"><a href="/guides/v1.0/contributor-guide/CONTRIBUTING.html">Contributor Guide</a></li>
            </ul>
         </li>
      </ul>
   </div>
</div>
	
</header>	


<div id="gl-wrapper">
	
	<!-- #sidemenu -->
	<div id="sidemenu" style="display:none;">
		<a class="menu-trigger menu-close" href="#" title=""></a>
		<div class="h8 site-title">Our Sites</div>
		<ul class="menu nav">
			<li class="first leaf"><a href="http://magento.com/" title="Magento&#039;s Corporate Site" class="active">Magento</a><span class="description">Magento's Corporate Site</span></li>
			<li class="leaf"><a href="http://enterprise.magento.com" title="Enterprise-Class Platform">Enterprise Edition</a><span class="description">Enterprise-Class Platform</span></li>
			<li class="leaf"><a href="http://go.magento.com/" title="Small Business Storefront">Magento Go</a><span class="description">Small Business Storefront</span></li>
			<li class="leaf"><a href="http://www.magentocommerce.com/magento-connect/" title="Extensions Marketplace">Connect</a><span class="description">Extensions Marketplace</span></li>
			<li class="leaf"><a href="http://magento.com/resources/technical" title="Resources for Developers">Developers</a><span class="description">Resources for Developers</span></li>
			<li class="leaf"><a href="http://magento.com/partners/overview" title="Resources for Partners">Partners</a><span class="description">Resources for Partners</span></li>
			<li class="leaf"><a href="http://magento.com/training/overview" title="Courses and Developer Certification">Training</a><span class="description">Courses and Developer Certification</span></li>
			<li class="last leaf"><a href="http://imagine2015.magento.com/" title="Annual Conference">Imagine</a><span class="description">Annual Conference</span></li>
		</ul>
	</div>
	<!-- /#sidemenu -->
	
	<!-- /.main-container -->
	<div id="gl-container" class="main-container">
		<a id="main-content"></a>
		<div class="pane-content">
			<div class="node node-panel">






<!-- page-header -->
<section class="page-intro">
	<div class="container">
		<h1 class="page-heading">Common layout customization tasks</h1>
			
			<a class="improve-page" href="http://github.com/magento/devdocs/blob/develop/guides/v1.0/frontend-dev-guide/layouts/xml-manage.md" target="_blank">Edit this page on GitHub</a>
		
	</div>
</section>

<div class="container">
	<section class="content">
		<div class="content-wrap">
		
		<h2>Introduction</h2>

<p>This article describes the following typical layout customization tasks:</p>

<ul>
  <li><a href="#layout_markup_columns">Set the page layout</a></li>
  <li><a href="#layout_markup_css">Include static resources (JavaScript, CSS, fonts) in &lt;head&gt;</a></li>
  <li><a href="#layout_markup_css_remove">Remove static resources (JavaScript, CSS, fonts) in &lt;head&gt;</a></li>
  <li><a href="#create_cont">Create a container</a></li>
  <li><a href="#ref_container">Reference a container</a></li>
  <li><a href="#xml-manage-block">Create a block</a></li>
  <li><a href="#set_template">Set the template used by a block</a></li>
  <li><a href="#layout_markup_modify-block">Modify block arguments</a></li>
  <li><a href="#xml-manage-ref-block">Reference a block</a></li>
  <li><a href="#layout_markup_block-properties">Use block object methods to set block properties</a></li>
  <li><a href="#layout_markup_rearrange">Rearrange elements</a></li>
  <li><a href="#layout_markup_remove_elements">Remove elements</a></li>
  <li><a href="#layout_markup_replace_elements">Replace elements</a></li>
</ul>

<div class="bs-callout bs-callout-info" id="info">
<span class="glyphicon-class">
  <p>To ensure stability and secure your customizations from being deleted during upgrade, do not change out-of-the-box Magento module and theme layouts. To customize layout, create extending and overriding layout files in your custom theme.</p></span>
</div>

<h2 id="layout_markup_columns">Set the page layout</h2>

<p>The type of page layout to be used for a certain page is defined in the page configuration file, in the <code>layout</code> attribute of the root <code>&lt;page&gt;</code> node.</p>

<p>Example:
Change the layout of Advanced Search page from default “1-column” to “2-column with left bar”. To do this, extend <code>catalogsearch_advanced_index.xml</code> in your theme by adding the following layout:</p>

<p><b><code>app/design/frontend/&lt;Vendor&gt;/&lt;theme&gt;/Magento_CatalogSearch/layout/catalogsearch_advanced_index.xml</code></b></p>
<pre>
&lt;page&nbsp;xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot;&nbsp;layout=&quot;2columns-left&quot;&nbsp;xsi:noNamespaceSchemaLocation=&quot;../../../../../../../lib/internal/Magento/Framework/View/Layout/etc/page_configuration.xsd&quot;&gt;
...
&lt;/page&gt;
</pre>

<h2 id="layout_markup_css">Include static resources (JavaScript, CSS, fonts)</h2>

<p>JavaScript, CSS and other static assets are added in the <code>&lt;head&gt;</code> section of a <a href="/guides/v1.0/frontend-dev-guide/layouts/layout-types.html#layout-types-conf" target="_blank">page configuration</a> file. The default look of a Magento store page <code>&lt;head&gt;</code> is defined by <code>app/code/Magento/Theme/view/frontend/layout/default_head_blocks.xml</code>. The recommended way to add CSS and JavaScript is to extend this file in your custom theme, and add the assets there.
The following file is a sample of a file you must add:</p>

<p><code>app/design/frontend/&lt;Vendor&gt;/&lt;theme&gt;/Magento_Theme/layout/default_head_blocks.xml</code></p>

<pre>
&lt;page xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xsi:noNamespaceSchemaLocation=&quot;../../../../../../../lib/internal/Magento/Framework/View/Layout/etc/page_configuration.xsd&quot;&gt;
    &lt;head&gt;
        &lt;!-- Add local resources --&gt;
	&lt;css src=&quot;css/my-styles.css&quot;/&gt;
    
        &lt;!-- The following two ways to add local JavaScript files are equal --&gt;
        &lt;script src=&quot;Magento_Catalog::js/sample1.js&quot;/&gt;
        &lt;link src=&quot;js/sample.js&quot;/&gt;
		
	&lt;!-- Add external resources --&gt;
	&lt;css src=&quot;https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css&quot; src_type=&quot;url&quot; /&gt;
        &lt;script src=&quot;https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js&quot; src_type=&quot;url&quot; /&gt;
        &lt;link src=&quot;http://fonts.googleapis.com/css?family=Montserrat&quot; src_type=&quot;url&quot; /&gt; 

    &lt;/head&gt;
&lt;/page&gt;
</pre>

<p>When adding external resources, specifying the <code>src_type="url"</code> argument value is a must.</p>

<p>You can use either <code>&lt;link src="js/sample.js"/&gt;</code> or <code>&lt;script src="js/sample.js"/&gt;</code> instruction to add a locally stored JavaScript file to your theme.</p>

<p>The path to assets is specified relatively to one the following locations:</p>
<ul>
<li><code>app/design/frontend/&lt;Vendor&gt;/&lt;theme&gt;/web</code></li>
<li><code>app/design/frontend/&lt;Vendor&gt;/&lt;theme&gt;/&lt;Namespace&gt;_&lt;Module&gt;/web</code></li>

</ul>

<h3>Adding conditional comments</h3>
<p><a href="http://en.wikipedia.org/wiki/Conditional_comment" target="_blank">Conditional comments</a> are meant to give special instructions for Internet Explorer. 
In the terms of adding assets, you can add CSS files to be included for a specific version of Internet Explorer. 
A sample follows:</p>

<pre>
&lt;page&nbsp;xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot;&nbsp;xsi:noNamespaceSchemaLocation=&quot;../../../../../../../lib/internal/Magento/Framework/View/Layout/etc/page_configuration.xsd&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;head&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;css src=&quot;css/ie-9.css&quot; ie_condition=&quot;IE 9&quot; /&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/head&gt;
&lt;/page&gt;

</pre>

<p>This adds an IE conditional comment in the generated HTML, like in the following example:</p>
<pre>
&lt;!--[if IE 9]&gt;
&lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; media=&quot;all&quot; href=&quot;&lt;your_store_web_address&gt;/pub/static/frontend/OrangeCo/orange/en_US/css/ie-9.css&quot; /&gt;
&lt;![endif]--&gt;
</pre>

<p>In this example, <code>orange</code> is a custom theme created by the OrangeCo vendor.</p>

<h2 id="layout_markup_css_remove">Remove static resources (JavaScript, CSS, fonts)</h2>

<p>To remove the static resources, linked in a page <code>&lt;head&gt;</code>, make a change similar to the following in a theme extending file:</p>

<p><code>app/design/frontend/&lt;Vendor&gt;/&lt;theme&gt;/Magento_Theme/layout/default_head_blocks.xml</code></p>

<pre>
&lt;page&gt;
   &lt;head&gt;
        &lt;!-- Remove local resources --&gt;
        &lt;remove src=&quot;css/styles-m.css&quot; /&gt;
        &lt;remove src=&quot;my-js.js&quot;/&gt;
        &lt;remove src=&quot;Magento_Catalog::js/compare.js&quot; /&gt;
								
	&lt;!-- Remove external resources --&gt;
        &lt;remove src=&quot;https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css&quot;/&gt;
        &lt;remove src=&quot;https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js&quot;/&gt;
        &lt;remove src=&quot;http://fonts.googleapis.com/css?family=Montserrat&quot; /&gt; 
   &lt;/head&gt;
&lt;/page&gt;
</pre>

<p>Note, that if a static asset is added with a module path (for example <code>Magento_Catalog::js/sample.js</code>) in the initial layout, you need to specify the module path as well when removing the asset.</p>

<h2 id="create_cont">Create a container</h2>

<p>Use the following sample to create (declare) a container:</p>

<pre>&lt;container name="some.container" as="someContainer" label="Some Container" htmlTag="div" htmlClass="some-container" /&gt;</pre>

<h2 id="ref_container">Reference a container</h2>

<p>To update a container use the <a href="/guides/v1.0/frontend-dev-guide/layouts/xml-instructions.html#fedg_layout_xml-instruc_ex_ref" target="_blank"><code>&lt;referenceContainer&gt;</code></a> instruction.</p>

<p>Example: add links to the page header panel.</p>

<pre>
&lt;referenceContainer&nbsp;name=&quot;header.panel&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;block&nbsp;class=&quot;Magento\Framework\View\Element\Html\Links&quot;&nbsp;name=&quot;header.links&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;arguments&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;argument&nbsp;name=&quot;css_class&quot;&nbsp;xsi:type=&quot;string&quot;&gt;header&nbsp;links&lt;/argument&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/arguments&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/block&gt;
&lt;/referenceContainer&gt;
</pre>

<h2 id="xml-manage-block">Create a block</h2>

<p>Blocks are created (declared) using the <a href="/guides/v1.0/frontend-dev-guide/layouts/xml-instructions.html#fedg_layout_xml-instruc_ex_block" target="_blank"><code>&lt;block&gt;</code></a> instruction.</p>

<p>Example: add a block with a product SKU information.</p>

<pre>
&lt;block&nbsp;class=&quot;Magento\Catalog\Block\Product\View\Description&quot;&nbsp;name=&quot;product.info.sku&quot;&nbsp;template=&quot;product/view/attribute.phtml&quot;&nbsp;after=&quot;product.info.type&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;arguments&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;argument&nbsp;name=&quot;at_call&quot;&nbsp;xsi:type=&quot;string&quot;&gt;getSku&lt;/argument&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;argument&nbsp;name=&quot;at_code&quot;&nbsp;xsi:type=&quot;string&quot;&gt;sku&lt;/argument&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;argument&nbsp;name=&quot;css_class&quot;&nbsp;xsi:type=&quot;string&quot;&gt;sku&lt;/argument&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/arguments&gt;
&lt;/block&gt;

</pre>

<h2 id="xml-manage-ref-block">Reference a block</h2>

<p>To update a block use the <a href="/guides/v1.0/frontend-dev-guide/layouts/xml-instructions.html#fedg_layout_xml-instruc_ex_ref" target="_blank"><code>&lt;referenceBlock&gt;</code></a> instruction.</p>

<p>Example: pass the image to the <code>logo</code> block.</p>

<pre>
&lt;referenceBlock&nbsp;name=&quot;logo&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;arguments&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;argument&nbsp;name=&quot;logo_file&quot;&nbsp;xsi:type=&quot;string&quot;&gt;images/logo.png&lt;/argument&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/arguments&gt;
&lt;/referenceBlock&gt;
</pre>

<h2 id="set_template">Set the template used by a block</h2>

<p>To setup template for a block, use the <code>template</code> attribute.</p>

<p>Example: change template of the page title block.</p>

<pre>

&lt;referenceBlock&nbsp;name=&quot;page.main.title&quot;&nbsp;template=&quot;html/title_new.phtml&quot;/&gt;

</pre>

<h2 id="layout_markup_modify-block">Modify block arguments</h2>

<p>To modify block arguments, use the <code>&lt;referenceBlock&gt;</code> instruction.</p>

<p>Example: change the value of the existing block argument and add a new argument.</p>

<p>Initial block declaration:</p>
<pre>
...
&lt;block&nbsp;class=&quot;Namespace_Module_Block_Type&quot;&nbsp;name=&quot;block.example&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;arguments&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;argument&nbsp;name=&quot;label&quot;&nbsp;xsi:type=&quot;string&quot;&gt;Block&nbsp;Label&lt;/argument&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/arguments&gt;
&lt;/block&gt;
...
</pre>

<p>Extending layout:</p>

<pre>
...
&lt;referenceBlock&nbsp;name=&quot;block.example&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;arguments&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;!--&nbsp;Modified&nbsp;block&nbsp;argument&nbsp;-&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;argument&nbsp;name=&quot;label&quot;&nbsp;xsi:type=&quot;string&quot;&gt;New&nbsp;Block&nbsp;Label&lt;/argument&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;!-&nbsp;Newly&nbsp;added&nbsp;block&nbsp;argument&nbsp;-&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;argument&nbsp;name=&quot;custom_label&quot;&nbsp;xsi:type=&quot;string&quot;&gt;Custom&nbsp;Block&nbsp;Label&lt;/argument&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/arguments&gt;
&lt;/referenceBlock&gt;&nbsp;
...
</pre>

<h2 id="layout_markup_block-properties">Use block object methods to set block properties</h2>

<p>Block object methods are accessed using the <a href="/guides/v1.0/frontend-dev-guide/layouts/xml-instructions.html#fedg_layout_xml-instruc_ex_act"><code>&lt;action&gt;</code></a> instruction.</p>

<p>Example: Set a page title using the <code>setPageTitle()</code> method.</p>

<p>Extending layout:</p>

<pre>
...
&lt;referenceBlock&nbsp;name=&quot;page.main.title&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;action&nbsp;method=&quot;setPageTitle&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;argument&nbsp;translate=&quot;true&quot;&nbsp;name=&quot;title&quot;&nbsp;xsi:type=&quot;string&quot;&gt;Catalog&nbsp;Advanced&nbsp;Search&lt;/argument&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/action&gt;
&lt;/referenceBlock&gt;
...
</pre>

<h2 id="layout_markup_rearrange">Rearrange elements</h2>

<p>In layout files you can change the elements order on a page. This can be done using one of the following:</p>

<ul>
  <li><a href="/guides/v1.0/frontend-dev-guide/layouts/xml-instructions.html#fedg_layout_xml-instruc_ex_mv" target="_blank"><code>&lt;move&gt;</code> instruction</a>: allows changing elements’ order and parent.</li>
  <li><a href="/guides/v1.0/frontend-dev-guide/layouts/xml-instructions.html#fedg_xml-instrux_before-after" target="_blank"><code>before</code> and <code>after</code> attributes of <code>&lt;block&gt;</code></a>: allows changing elements’ order within one parent.</li>
</ul>

<p></p>
<p>Example of <code>&lt;move&gt;</code> usage:
put the stock availability and SKU blocks next to the product price on a product page.</p>

<p>In the Magento Blank theme these elements are located as follows:</p>

<p><img src="/common/images/layout_image1.png" /></p>

<p>Let’s place the stock availability and SKU blocks after product price block on a product page, and move the review block out of the product-info-price container.
To do this, add the extending <code>catalog_product_view.xml</code> in the <code>app/design/frontend/OrangeCo/orange/Magento_Catalog/layout/</code> directory:</p>
<pre>
&lt;page&nbsp;layout=&quot;1column&quot;&nbsp;xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot;&nbsp;xsi:noNamespaceSchemaLocation=&quot;../../../../../../../lib/internal/Magento/Framework/View/Layout/etc/page_configuration.xsd&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;body&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;move&nbsp;element=&quot;product.info.stock.sku&quot;&nbsp;destination=&quot;product.info.price&quot;&nbsp;after=&quot;product.price.final&quot;/&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;move&nbsp;element=&quot;product.info.review&quot;&nbsp;destination=&quot;product.info.main&quot;&nbsp;before=&quot;product.info.price&quot;/&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/body&gt;
&lt;/page&gt;
</pre>

<p>This would make the product page look like following:</p>

<p><img src="/common/images/layout_image2.png" /></p>

<div class="bs-callout bs-callout-info" id="info">
<span class="glyphicon-class">
  <p>To learn how to locate the layout file you need to customize, see <a href="/guides/v1.0/frontend-dev-guide/themes/debug-theme.html" target="_blank">Locate templates, layouts, and styles</a>.</p></span>
</div>

<h2 id="layout_markup_remove_elements">Remove elements</h2>

<p>Elements are removed using the <code>&lt;remove&gt;</code> instruction.</p>

<p>Example: remove the Compare Products sidebar block from all store pages. This block is declared in <code>app/code/Magento/Catalog/view/frontend/layout/default.xml</code>:</p>

<pre>
&lt;page&nbsp;xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot;&nbsp;xsi:noNamespaceSchemaLocation=&quot;../../../../../../../lib/internal/Magento/Framework/View/Layout/etc/page_configuration.xsd&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;body&gt;
...
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;referenceContainer&nbsp;name=&quot;sidebar.additional&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;block&nbsp;class=&quot;Magento\Catalog\Block\Product\Compare\Sidebar&quot;&nbsp;name=&quot;catalog.compare.sidebar&quot;&nbsp;template=&quot;product/compare/sidebar.phtml&quot;/&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/referenceContainer&gt;
...
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/body&gt;
&lt;/page&gt;
</pre>

<p>To remove the block, add the extending <code>default.xml</code> in your theme:
<code>app/design/frontend/&lt;Vendor&gt;/&lt;theme&gt;/Magento_Catalog/layout/default.xml</code></p>

<p>In this file, add the <code>&lt;remove&gt;</code> instruction:</p>
<pre>
&lt;page&nbsp;xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot;&nbsp;xsi:noNamespaceSchemaLocation=&quot;../../../../../../../lib/internal/Magento/Framework/View/Layout/etc/page_configuration.xsd&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;body&gt;
...
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;remove&nbsp;name=&quot;catalog.compare.sidebar&quot;&nbsp;/&gt;
...
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/body&gt;
&lt;/page&gt;
</pre>

<h2 id="layout_markup_replace_elements">Replace elements</h2>

<p>To replace an element, <a href="/guides/v1.0/frontend-dev-guide/layouts/xml-instructions.html#fedg_layout_xml-instruc_ex_rem" target="_blank">remove it</a> and add a new one.</p>

<h4 id="related-topics">Related topics:</h4>

<ul>
  <li><a href="/guides/v1.0/frontend-dev-guide/layouts/xml-instructions.html" target="_blank">Layout instructions</a></li>
  <li><a href="/guides/v1.0/frontend-dev-guide/layouts/layout-extend.html" target="_blank">Extend a layout</a></li>
  <li><a href="/guides/v1.0/frontend-dev-guide/responsive-web-design/theme-best-practices.html" target="_blank">Theme design best practices</a></li>
</ul>


		</div>
	</section>
<!-- /main content -->

<!-- sidebar -->
<aside class="sidebar">
	<div class="sidebar-wrapper">

		<ul role="navigation">
		
		
		
		
				
				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
				
				
					
					
					
					
					
					
						
						
						
						
							
							
								<li class=""><a href="/guides/v1.0/frontend-dev-guide/bk-frontend-dev-guide.html">Introduction</a></li>
				
							
							
						

					
					
						
						
						
						
							
														
							
								
								
									<li class=" "><a class="nav-header" href="/guides/v1.0/frontend-dev-guide/themes/theme-general.html">Themes</a></li>
									
								
								
								
							
								
								
							
									<li class="level-2 "><a href="/guides/v1.0/frontend-dev-guide/themes/theme-create.html">Create a theme</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v1.0/frontend-dev-guide/themes/theme-structure.html">Magento theme structure</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v1.0/frontend-dev-guide/themes/theme-apply.html">Apply and configure a theme in Admin</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v1.0/frontend-dev-guide/themes/theme-inherit.html">Theme inheritance</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v1.0/frontend-dev-guide/themes/debug-theme.html">Locate templates, layouts, and styles</a></li>
						
								
								
								
							
							
						

					
					
						
						
						
						
							
														
							
								
								
									<li class=" "><a class="nav-header" href="/guides/v1.0/frontend-dev-guide/layouts/layout-overview.html">Layout</a></li>
									
								
								
								
							
								
								
							
									<li class="level-2 "><a href="/guides/v1.0/frontend-dev-guide/layouts/xml-instructions.html">Layout instructions</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v1.0/frontend-dev-guide/layouts/layout-types.html">Layout file types</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v1.0/frontend-dev-guide/layouts/layout-extend.html">Extend a layout</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v1.0/frontend-dev-guide/layouts/layout-override.html">Override a layout</a></li>
						
								
							
									<li class="level-2  active "><a href="/guides/v1.0/frontend-dev-guide/layouts/xml-manage.html">Common layout customization tasks</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v1.0/frontend-dev-guide/layouts/layout-practice.html">Customizing layout illustration</a></li>
						
								
								
								
							
							
						

					
					
						
						
						
						
							
														
							
								
								
									<li class=" "><a class="nav-header" href="/guides/v1.0/frontend-dev-guide/templates/template-overview.html">Templates</a></li>
									
								
								
								
							
								
								
							
									<li class="level-2 "><a href="/guides/v1.0/frontend-dev-guide/templates/template-walkthrough.html">Templates customization walkthrough</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v1.0/frontend-dev-guide/templates/template-override.html">Templates basic concepts</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v1.0/frontend-dev-guide/templates/template-sample.html">Illustration of customizing templates</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v1.0/frontend-dev-guide/templates/template-email.html">Customizing email templates</a></li>
						
								
								
								
							
							
						

					
					
						
						
						
						
							
														
							
								
								
									<li class=" "><a class="nav-header" href="/guides/v1.0/frontend-dev-guide/css-topics/css-overview.html">Cascading style sheets (CSS)</a></li>
									
								
								
								
							
								
								
							
									<li class="level-2 "><a href="/guides/v1.0/frontend-dev-guide/css-topics/css-themes.html">Include CSS</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v1.0/frontend-dev-guide/css-topics/css-preprocess.html">CSS preprocessing</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v1.0/frontend-dev-guide/css-topics/css_debug.html">Styles debugging</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v1.0/frontend-dev-guide/css-topics/theme-ui-lib.html">Magento UI library</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v1.0/frontend-dev-guide/css-topics/css-practice.html">Customizing styles illustration</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v1.0/frontend-dev-guide/css-topics/using-fonts.html">Using custom fonts</a></li>
						
								
								
								
							
							
						

					
					
						
						
						
						
							
														
							
								
								
									<li class=" "><a class="nav-header" href="/guides/v1.0/frontend-dev-guide/responsive-web-design/rwd_overview.html">How to Make Your Theme Responsive and Mobile</a></li>
									
								
								
								
							
								
								
							
									<li class="level-2 "><a href="/guides/v1.0/frontend-dev-guide/responsive-web-design/rwd_css.html">CSS in responsive design</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v1.0/frontend-dev-guide/responsive-web-design/rwd_js.html">JavaScript in Magento responsive design</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v1.0/frontend-dev-guide/responsive-web-design/rwd_mobile.html">Create a responsive mobile theme based on a default theme</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v1.0/frontend-dev-guide/responsive-web-design/rwd_practice.html">Customizing RWD illustration</a></li>
						
								
								
								
							
							
						

					
					
						
						
						
						
							
														
							
								
								
								
								
							
									<li class=""><span class="nav-header">Javascript</span></li>
								
								
							
								
								
							
									<li class="level-2 "><a href="/guides/v1.0/frontend-dev-guide/javascript/jquery-widgets-about.html">Magento jQuery widgets</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v1.0/frontend-dev-guide/javascript/jquery-widget-calendar.html">jQuery calendar widget</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v1.0/frontend-dev-guide/javascript/jquery-widget-loader.html">jQuery loader widget</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v1.0/frontend-dev-guide/javascript/jquery-widget-tabs.html">jQuery tabs widget</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v1.0/frontend-dev-guide/javascript/jquery-widget-translate-inline.html">jQuery translateInline widget</a></li>
						
								
								
								
							
							
						

					


				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
		
		</ul>

	</div>
</aside>
<!-- /sidebar -->

</div> <!-- container -->


		</div>
		</div>
	</div>


</div>
<!-- -->


<!-- #footer-wrap -->
<div id="footer-wrap">
<footer class="footer container">
	<div class="row-fluid">
		<div class="span3 footer-menu" id="magento-sites">
		<h4>OUR SITES</h4>
		<ul class="menu nav">
			<li class="first leaf"><a href="http://magento.com/" title="Magento&#039;s Corporate Site" class="active">Magento</a><span class="description">Magento's Corporate Site</span></li>
			<li class="leaf"><a href="http://enterprise.magento.com" title="Enterprise-Class Platform">Enterprise Edition</a><span class="description">Enterprise-Class Platform</span></li>
			<li class="leaf"><a href="http://www.magentocommerce.com/magento-connect/" title="Extensions Marketplace">Connect</a><span class="description">Extensions Marketplace</span></li>
			<li class="leaf"><a href="http://magento.com/resources/technical" title="Resources for Developers">Developers</a><span class="description">Resources for Developers</span></li>
			<li class="leaf"><a href="http://magento.com/partners/overview" title="Resources for Partners">Partners</a><span class="description">Resources for Partners</span></li>
			<li class="leaf"><a href="http://magento.com/training/overview" title="Courses and Developer Certification">Training</a><span class="description">Courses and Developer Certification</span></li>
			<li class="last leaf"><a href="http://imagine2015.magento.com/" title="Annual Conference">Imagine</a><span class="description">Annual Conference</span></li>
		</ul>
	</div>

	<div class="span8 offset1" id="magento-com">
		<div class="intro-paragraph">
              <a href="http://magento.com/"><img src="/i/logo-gl-footer.png" id="logo" alt="Magento an ebay inc company"></a>
              <h3>eCommerce platform, solutions and services<br /> to help grow your business.</h3>
          </div>
          <div class="row-fluid">
            <div class="span3">
              <h4>LEARN MORE</h4>
              <ul class="menu nav"><li class="first leaf"><a href="http://magento.com/company/overview" title="">Company</a></li><li class="leaf"><a href="http://magento.com/company/careers" title="">Careers</a></li><li class="leaf"><a href="http://www.magentocommerce.com/company/press-releases" title="">Press Room</a></li><li class="last leaf"><a href="http://magento.com/sitemap" title="">Site Map</a></li></ul>              <div id="social-network">
                <h4>Connect</h4>
                <ul>
                  <li><a href="http://www.facebook.com/magento" target="_blank" class="btn-facebook">Magento Facebook</a></li>
                  <li><a href="https://twitter.com/magento" target="_blank" class="btn-twitter">Magento Twitter</a></li>
                  <li><a href="http://www.youtube.com/user/magentocommerce/featured" target="_blank" class="btn-youtube">Magento Youtube</a></li>
                  <li><a href="http://www.linkedin.com/groups?home=&amp;gid=146360&amp;trk=anet_ug_hm" target="_blank" class="btn-lnkdn">Magento Linkedin</a></li>
                </ul> 
              </div>
            </div>
            <div class="span7 offset2">
              <div class="contact-us">
                <h4>Get in touch</h4>
                <p>We'd like to hear from you! Call us,<br /> send us an email or talk to sales.</p>
                <a href="http://www.magentocommerce.com/company/contact-us/" class="btn outline">Contact Us</a>
              </div>
                            <div id="newsletter">
                <h4>GET THE LATEST NEWS</h4>
                <p>See Magento in the news, find press releases<br /> and resources for media.</p>
                <div class="hold-form">
                <div id="nws-notsubscribed">
                    <div id="sb-email" class="sb-email">
                        <form method="post" enctype="application/x-www-form-urlencoded" action="http://info2.magento.com/index.php/leadCapture/save" id="mktForm_1182" class="mktform" name="mktForm_1182">
                            <input class="fValidate['email'] input-topbg sb-email-input" name="Email" id="Email" placeholder="Email Address" />
                            <button type="submit" class="sb-icon-submit btn outline" onclick="return validationEmail(jQuery('form #Email').val());">
                                Submit
                            </button>
                            <span class="sb-icon-email btn outline">
                                Sign Up
                            </span>
                            <span style="display:none;">
                              <input type="text" name="_marketo_comments" value="" />
                            </span><input type="hidden" name="lpId" value="-1" />
                            <input type="hidden" name="subId" value="36" />
                            <input type="hidden" name="kw" value="" />
                            <input type="hidden" name="cr" value="" />
                            <input type="hidden" name="searchstr" value="" />
                            <input type="hidden" name="lpurl" value="https://info2.magento.com/lp/magentoenterprise/CustomerNewsletterSubscription.html?cr={creative}&kw={keyword}">
                            <input type="hidden" name="formid" value="1182" />
                            <input type="hidden" name="returnURL" value="http://devdocs.magento.com/guides/v1.0/frontend-dev-guide/layouts/xml-manage.html" />
                            <input type="hidden" name="retURL" value="http://devdocs.magento.com/guides/v1.0/frontend-dev-guide/layouts/xml-manage.html" />
                            <input type="hidden" name="_mkt_disp" value="return" />
                            <input type="hidden" name="_mkt_trk" value="" />
                        </form>
                    </div>
                </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="email-invalid hide">
                <p>Please submit a valid email.</p>
              </div>
              <div class="email-ty hide">
                <p>Thank you for submitting your email.</p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </footer>
  <div id="copyright">
    <div class="container">
      <div class="pull-right"><ul class="menu nav"><li class="first leaf"><a href="http://magento.com/legal/terms/privacy" title="">Privacy Policy</a></li><li class="leaf"><a href="http://magento.com/legal/terms" title="">Terms of service</a></li><li class="last leaf"><a href="http://magento.com/legal/licensing" title="">License/Trademark FAQ</a></li></ul></div>
      <span class="pull-left">&copy; 2015 Magento, Inc. All rights reserved.</span>
    </div>
  </div>
</div>
<!-- /#footer-wrap -->


<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

<script src="/js/classie.js"></script>
<script src="/js/uislideform.js"></script>
<script type="text/javascript">
  new UISlideform(document.getElementById('sb-email'), 'email');
  
  (function($) {
    window.validationEmail = function(email) {
      $('#Emailemail_msg').fadeOut('slow');
      var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
      if (!emailReg.test(email)) {
        $('.email-invalid').fadeIn('slow');
      }
      else if (email == '' || typeof email == 'undefined') {
        $('.email-invalid').fadeIn('slow');
      }
      else {
        $('.email-invalid').fadeOut('slow');
        $('#mktForm_1182').submit();
      }
      return false;
    }
  })(jQuery);

  (function() {
    var didInit = false;
    function initMunchkin() {
      if(didInit === false) {
        didInit = true;
        Munchkin.init('318-XBX-392', {cookieAnon: false});
      }
    }
    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    s.src = '//munchkin.marketo.net/munchkin.js';
    s.onreadystatechange = function() {
      if (this.readyState == 'complete' || this.readyState == 'loaded') {
        initMunchkin();
      }
    };
    s.onload = initMunchkin;
    document.getElementsByTagName('head')[0].appendChild(s);
  })();
</script>

<!-- Docs scripts (just in case) -->
<script src="/js/app-min.js"></script>


</body>
</html>