<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Customizing layout illustration</title>
	<meta name="description" content="Magento 2 Developer Guide.
">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,600,300,800' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="/css/app.css" />
	<link rel="stylesheet" href="/css/print.css" media="print"/>
	<link rel="canonical" href="//guides/v2.0/frontend-dev-guide/layouts/layout-practice.html">

	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

</head>
<body>

<header class="site-header">

	<nav role="navigation">

		<div class="menu-btn">
			<a class="menu-trigger menu-icon" href="#"></a>
		</div>

		<div id="global-nav">
			<div class="main-site-name">
				<a class="logo pull-left" href="/"> </a>
				<div class="sub-site-name">
					<a href="/">Developer Documentation (2.0)</a>
				</div>
			</div>
			
<div class="version-switcher dropdown">
	<button class="btn dropdown-toggle" data-toggle="dropdown">
		Version 2.0
	</button>


	<ul class="dropdown-menu dropdown-menu-right">
	
		<li><a class="dropdown-item" href="/guides/v2.0/">Version 2.0</a></li>
	
		<li><a class="dropdown-item" href="/guides/v2.1/">Version 2.1</a></li>
	
  </ul>

</div>


		</div><!-- #global-nav -->
	</nav>

	<div class="search-btn">
        <a class="search-trigger search-icon" href="/guides/v2.0/search.html"></a>
	</div>

</header>

<!--Sub Navigation-->
<div id="subnav-wrap" class="nav-main">
   <div id="subnav">
      <ul class="menu nav">
         <li class="first">
            <a href="#">Get Started</a>
            <ul class="menu nav">
               <li class="leaf"><a href="/guides/v2.0/architecture/bk-architecture.html">Magento Architecture</a></li>
               <li class="first leaf"><a href="/guides/v2.0/release-notes/bk-release-notes.html">Release Information</a></li>

            </ul>
         </li>
         <li class="first">
            <a href="#">System Administrator</a>
            <ul class="menu nav">
               <li class="first leaf"><a href="/guides/v2.0/install-gde/bk-install-guide.html">Installation Guide</a></li>
               
               <li class="leaf"><a href="/guides/v2.0/comp-mgr/bk-compman-upgrade-guide.html">Component Manager and System Upgrade Guide</a></li>
               
               <li class="leaf"><a href="/guides/v2.0/config-guide/bk-config-guide.html">Configuration Guide</a></li>
               <li class="leaf"><a href="/guides/v2.0/migration/bk-migration-guide.html">Migration Guide</a></li>
               <li class="leaf"><a href="/guides/v2.0/cloud/bk-cloud.html">Magento Enterprise Cloud Guide</a></li>
            </ul>
         </li>
         <li class="first">
            <a href="#">Developers</a>
            <ul class="menu nav">
               <li class="first leaf"><a href="/guides/v2.0/frontend-dev-guide/bk-frontend-dev-guide.html">Frontend Developer Guide</a></li>
               <li class="first leaf"><a href="/guides/v2.0/ui-components/ui-component.html">UI Components</a></li>
               <li class="first leaf"><a href="/guides/v2.0/javascript-dev-guide/bk-javascript-dev-guide.html">JavaScript Developer Guide</a></li>
               <li class="first leaf"><a href="/guides/v2.0/extension-dev-guide/bk-extension-dev-guide.html">PHP Developer Guide</a></li>
               <li class="first leaf"><a href="/guides/v2.0/ext-best-practices/bk-ext-best-practices.html">Extension Developer Best Practices Guide</a></li>
               <li class="leaf"><a href="/guides/v2.0/pattern-library/bk-pattern.html">Magento Admin Pattern Library</a></li>
               <li class="leaf"><a href="/guides/v2.0/get-started/bk-get-started-api.html">Get Started with Magento Web APIs</a></li>
               <li class="leaf"><a href="/guides/v2.0/rest/bk-rest.html">REST Reference</a></li>
               <li class="leaf"><a href="/guides/v2.0/soap/bk-soap.html">SOAP Reference</a></li>
               <li class="leaf"><a href="/guides/v2.0/coding-standards/bk-coding-standards.html">Coding Standards</a></li>
               <li class="leaf"><a href="/guides/v2.0/mrg/intro.html">Module Reference Guide</a></li>
               
            </ul>
         </li>
         <li class="first">
            <a href="#">Designers</a>
            <ul class="menu nav">
               <li class="first leaf"><a href="/guides/v2.0/pattern-library/bk-pattern.html">Admin Design Pattern Library</a></li>
               <li class="leaf"><a href="/guides/v2.0/design-styleguide/bk-styleguide.html">Admin Style Guide</a></li>
            </ul>
         </li>
         <li class="first">
            <a href="#">Contributor</a>
            <ul class="menu nav">
               <li class="first leaf"><a href="/guides/v2.0/contributor-guide/contributing.html">Contributor Guide</a></li>
            </ul>
         </li>
          <li class="first">
              <a href="/guides/v2.0/test/testing.html">Testing</a>
              <ul class="menu nav">
                  <li class="leaf"><a href="/guides/v2.0/mtf/mtf_introduction.html">Functional Testing</a></li>
                  <li class="leaf"><a href="/guides/v2.0/test/integration/integration_test_execution.html">Integration Testing</a></li>
                  <li class="leaf"><a href="/guides/v2.0/extension-dev-guide/test/test_js-unit.html">JavaScript Unit Testing</a></li>
                  <li class="leaf"><a href="/guides/v2.0/test/unit/unit_test_execution.html">PHP Unit Testing</a></li>
                  <li class="leaf"><a href="/guides/v2.0/get-started/web-api-functional-testing.html">Web API Functional Testing</a></li>
              </ul>
          </li>
         <li class="first">
            <a href="/guides/v2.0/howdoi/bk-how-do-i.html">How Do I...?</a>
         </li>
      </ul>

      <div class ="search">
         <div class="search-icon"></div>
         <form id="searchbox" name="gs" method="GET" action="/search.html">
            <input type="text" name="q" id="searchtext" value="" placeholder="Search">
         </form>
      </div><!-- END searchbox-->

      <a href="#" class="nav-close">&times;</a>

   </div> <!--End subnav -->
</div><!--End subnav-wrap -->
<div class="nav-main-fader"></div>


<div id="gl-wrapper">

	<!-- /.main-container -->
	<div id="gl-container" class="main-container">
		<a id="main-content"></a>
		<div class="pane-content">
			<div class="node node-panel">


<!-- page-header -->
<section class="page-intro">
	<div class="container">
		<h1 class="page-heading">Customizing layout illustration</h1>
		
			<a class="improve-page" href="https://github.com/magento/devdocs/tree/develop/guides/v2.0/frontend-dev-guide/layouts/layout-practice.md" target="_blank">Edit this page on GitHub</a>
		
		
        

	</div>
</section>


<div class="container">

	<!-- sidebar -->
<aside class="sidebar">
	<a href="#" class="toc-toggler">Table of Contents</a>
	<div class="sidebar-wrapper">


<h4>Frontend Developer Guide</h4>






		<ul role="navigation">

		

		

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

					
					

					

						

						

							

								<li class="q "><a href="/guides/v2.0/frontend-dev-guide/bk-frontend-dev-guide.html">Introduction</a></li>

							

								<li class="q "><a href="/guides/v2.0/frontend-dev-guide/conventions.html">Conventional notations used in this Guide</a></li>

							

						

					

						

						

							


								


								
									<li class="level1 "><a class="nav-header" href="/guides/v2.0/frontend-dev-guide/themes/theme-general.html">Themes</a></li>
									
								

									


								

									

									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/themes/theme-create.html">Create a storefront theme</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/themes/theme-structure.html">Magento theme structure</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/themes/theme-apply.html">Apply and configure a storefront theme</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/themes/theme-images.html">Configure images properties for a theme</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/themes/theme-inherit.html">Theme inheritance</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/themes/debug-theme.html">Locate templates, layouts, and styles</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/themes/favicon.html">Adding custom favicons</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/themes/product-video.html">Configure product video</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/themes/admin_theme_create.html">Create an Admin theme</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/themes/admin_theme_apply.html">Apply an Admin theme</a></li>

									

								




						

					

						

						

							


								


								
									<li class="level1 "><a class="nav-header" href="/guides/v2.0/frontend-dev-guide/layouts/layout-overview.html">Layout</a></li>
									
								

									


								

									

									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/layouts/xml-instructions.html">Layout instructions</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/layouts/layout-types.html">Layout file types</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/layouts/layout-extend.html">Extend a layout</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/layouts/layout-override.html">Override a layout</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/layouts/xml-manage.html">Common layout customization tasks</a></li>

									

								

									

									<li class="level-2  active "><a href="/guides/v2.0/frontend-dev-guide/layouts/layout-practice.html">Customizing layout illustration</a></li>

									

								




						

					

						

						

							


								


								
									<li class="level1 "><a class="nav-header" href="/guides/v2.0/frontend-dev-guide/templates/template-overview.html">Templates</a></li>
									
								

									


								

									

									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/templates/template-walkthrough.html">Templates customization walkthrough</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/templates/template-override.html">Templates basic concepts</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/templates/template-sample.html">Illustration of customizing templates</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/templates/template-email.html">Customize email templates</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/templates/template-security.html">Templates XSS security</a></li>

									

								




						

					

						

						

							


								


								
									<li class="level1 "><a class="nav-header" href="/guides/v2.0/frontend-dev-guide/css-topics/css-overview.html">Cascading style sheets (CSS)</a></li>
									
								

									


								

									

									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/css-topics/css-themes.html">Include CSS</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/css-topics/css-preprocess.html">CSS preprocessing</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/css-topics/css_debug.html">Compile LESS with Grunt</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/css-topics/theme-ui-lib.html">Magento UI library</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/css-topics/css-jquery.html">Using jQuery UI styles</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/css-topics/css-practice.html">Customizing styles illustration</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/css-topics/using-fonts.html">Using custom fonts</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/css-topics/custom_preprocess.html">Add custom CSS preprocessor (like Sass)</a></li>

									

								




						

					

						

						

							


								


								
									<li class="level1 "><a class="nav-header" href="/guides/v2.0/frontend-dev-guide/css-guide/css_quick_guide_overview.html">Quick start guide to styles</a></li>
									
								

									


								

									

									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/css-guide/css_quick_guide_approach.html">Simple ways to customize a theme's styles</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/css-guide/css_quick_guide_mode.html">Simple style changes with client-side LESS compilation vs. server-side</a></li>

									

								




						

					

						

						

							


								


								
									<li class="level1 "><a class="nav-header" href="/guides/v2.0/frontend-dev-guide/responsive-web-design/rwd_overview.html">How to Make Your Theme Responsive and Mobile</a></li>
									
								

									


								

									

									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/responsive-web-design/rwd_css.html">CSS in responsive design</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/responsive-web-design/rwd_js.html">JavaScript in Magento responsive design</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/responsive-web-design/rwd_mobile.html">Create a responsive mobile theme based on a default theme</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/responsive-web-design/rwd_practice.html">Customizing RWD illustration</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/responsive-web-design/rwd-breakpoints.html">Add a custom breakpoint</a></li>

									

								




						

					

						

						

							


								


								
									<li class="level1 "><a class="nav-header" href="/guides/v2.0/frontend-dev-guide/translations/xlate.html">Translations</a></li>
									
								

									


								

									

									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/translations/theme_dictionary.html">Use translation dictionary to customize strings</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/translations/translate_theory.html">Translate theme strings</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/translations/translate_practice.html">Create a translation dictionary for a theme, illustration</a></li>

									

								




						

					


				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

		</ul>

	</div>
</aside>
<!-- /sidebar -->


	<section class="content">
		<div class="content-wrap">
			<p align="right"><i>Updated: 22 June 2016 (PDT)</i></p>
		<h2>What's in this topic</h2>
<p>This article features a step-by-step illustration of how a real-life layout customization task is performed. Namely, it illustrates how to change the layout of customer account links in a Magento store page header.</p>

<h2>Moving customer account links</h2>
<p>In their Orange theme, OrangeCo wants to transform the header links block to a drop-down, the way it is done in the Magento Luma theme:</p>

<div style="border: 1px solid #ABABAB">
<img src="/common/images/layout_transform.png" />
</div>

<p>To do this, they need to wrap the list of header links with a container and add a greeting with a drop-down arrow before the list.</p>

<p>The Orange theme <a href="/guides/v2.0/frontend-dev-guide/themes/theme-inherit.html">inherits</a> from Blank, so by default the rendered header links markup in Orange looks like following:</p>

<div style="border: 1px solid #ABABAB">
<img src="/common/images/layout_code_before1.png" />
</div>
<p><br />
The markup, that is needed for a drop-down:</p>

<div style="border: 1px solid #ABABAB">
<img src="/common/images/layout_code_after.png" />
</div>

<h4>Step 1: Define the blocks</h4>

<p>OrangeCo <a href="/guides/v2.0/frontend-dev-guide/themes/theme-apply.html" target="_blank">applies the Luma theme</a>. Using the approach described in <a href="/guides/v2.0/frontend-dev-guide/themes/debug-theme.html" target="_blank">Locate templates, layouts, and styles</a> they find out that the blocks responsible for displaying the header links are defined in <code>&lt;Magento_Customer_module_dir&gt;/view/frontend/layout/default.xml</code>:</p>

<figure class="highlight"><pre><code class="language-xml" data-lang="xml">...
    <span class="nt">&lt;referenceBlock</span> <span class="na">name=</span><span class="s">&quot;top.links&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;block</span> <span class="na">class=</span><span class="s">&quot;Magento\Customer\Block\Account\Link&quot;</span> <span class="na">name=</span><span class="s">&quot;my-account-link&quot;</span><span class="nt">&gt;</span>
            <span class="nt">&lt;arguments&gt;</span>
                <span class="nt">&lt;argument</span> <span class="na">name=</span><span class="s">&quot;label&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;string&quot;</span> <span class="na">translate=</span><span class="s">&quot;true&quot;</span><span class="nt">&gt;</span>My Account<span class="nt">&lt;/argument&gt;</span>
            <span class="nt">&lt;/arguments&gt;</span>
        <span class="nt">&lt;/block&gt;</span>
        <span class="nt">&lt;block</span> <span class="na">class=</span><span class="s">&quot;Magento\Customer\Block\Account\RegisterLink&quot;</span> <span class="na">name=</span><span class="s">&quot;register-link&quot;</span><span class="nt">&gt;</span>
            <span class="nt">&lt;arguments&gt;</span>
                <span class="nt">&lt;argument</span> <span class="na">name=</span><span class="s">&quot;label&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;string&quot;</span> <span class="na">translate=</span><span class="s">&quot;true&quot;</span><span class="nt">&gt;</span>Create an Account<span class="nt">&lt;/argument&gt;</span>
            <span class="nt">&lt;/arguments&gt;</span>
        <span class="nt">&lt;/block&gt;</span>
        <span class="nt">&lt;block</span> <span class="na">class=</span><span class="s">&quot;Magento\Customer\Block\Account\AuthorizationLink&quot;</span> <span class="na">name=</span><span class="s">&quot;authorization-link&quot;</span> <span class="na">template=</span><span class="s">&quot;account/link/authorization.phtml&quot;</span><span class="nt">/&gt;</span>
    <span class="nt">&lt;/referenceBlock&gt;</span>
...</code></pre></figure>

<h4>Step 2: Define the templates</h4>

<p>Similar to the way they defined the layout on the previous step, OrangeCo 
defines the template which is used for rearranging the links:</p>

<p><code>&lt;Magento_Customer_module_dir&gt;/view/frontend/templates/account/customer.phtml</code></p>

<figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="cp">&lt;?php if($block-&gt;customerLoggedIn()): ?&gt;</span>
    <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">&quot;customer-welcome&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">&quot;customer-name&quot;</span>
              <span class="na">role=</span><span class="s">&quot;link&quot;</span>
              <span class="na">tabindex=</span><span class="s">&quot;0&quot;</span>
              <span class="na">data-mage-init=</span><span class="s">&#39;{&quot;dropdown&quot;:{}}&#39;</span>
              <span class="na">data-toggle=</span><span class="s">&quot;dropdown&quot;</span>
              <span class="na">data-trigger-keypress-button=</span><span class="s">&quot;true&quot;</span>
              <span class="na">data-bind=</span><span class="s">&quot;scope: &#39;customer&#39;&quot;</span><span class="nt">&gt;</span>
            <span class="nt">&lt;span</span> <span class="na">data-bind=</span><span class="s">&quot;text: customer().fullname&quot;</span><span class="nt">&gt;&lt;/span&gt;</span>
            <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">&quot;button&quot;</span>
                    <span class="na">class=</span><span class="s">&quot;action switch&quot;</span>
                    <span class="na">tabindex=</span><span class="s">&quot;-1&quot;</span>
                    <span class="na">data-action=</span><span class="s">&quot;customer-menu-toggle&quot;</span><span class="nt">&gt;</span>
                <span class="nt">&lt;span&gt;</span><span class="cp">&lt;?php /* @escapeNotVerified */ echo __(&#39;Change&#39;)?&gt;</span><span class="nt">&lt;/span&gt;</span>
            <span class="nt">&lt;/button&gt;</span>
        <span class="nt">&lt;/span&gt;</span>
        <span class="nt">&lt;script </span><span class="na">type=</span><span class="s">&quot;text/x-magento-init&quot;</span><span class="nt">&gt;</span>
        <span class="p">{</span>
            <span class="s2">&quot;*&quot;</span><span class="o">:</span> <span class="p">{</span>
                <span class="s2">&quot;Magento_Ui/js/core/app&quot;</span><span class="o">:</span> <span class="p">{</span>
                    <span class="s2">&quot;components&quot;</span><span class="o">:</span> <span class="p">{</span>
                        <span class="s2">&quot;customer&quot;</span><span class="o">:</span> <span class="p">{</span>
                            <span class="s2">&quot;component&quot;</span><span class="o">:</span> <span class="s2">&quot;Magento_Customer/js/view/customer&quot;</span>
                        <span class="p">}</span>
                    <span class="p">}</span>
                <span class="p">}</span>
            <span class="p">}</span>
        <span class="p">}</span>
        <span class="nt">&lt;/script&gt;</span>
        <span class="cp">&lt;?php if($block-&gt;getChildHtml()):?&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;customer-menu&quot;</span> <span class="na">data-target=</span><span class="s">&quot;dropdown&quot;</span><span class="nt">&gt;</span>
            <span class="cp">&lt;?php echo $block-&gt;getChildHtml();?&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
        <span class="cp">&lt;?php endif; ?&gt;</span>
    <span class="nt">&lt;/li&gt;</span>
<span class="cp">&lt;?php endif; ?&gt;</span></code></pre></figure>

<h4>Step 3: Extend the base layout to add a block</h4>

<p>OrangeCo needs to create a new block, say, <code>header.links</code>, in the <code>header.panel</code> container, to move the links there. As the links can be added to this list by different modules, it is better to add this block to the <code>default.xml</code> page configuration of the <code>Magento_Theme</code> module.</p>

<p>So the following <a href="/guides/v2.0/frontend-dev-guide/layouts/layout-extend.html" target="_blank">extending</a> layout is added in the Orange theme:</p>

<pre><code>app/design/frontend/OrangeCo/orange/Magento_Theme/layout/default.xml
</code></pre>

<figure class="highlight"><pre><code class="language-xml" data-lang="xml"><span class="nt">&lt;page</span> <span class="na">xmlns:xsi=</span><span class="s">&quot;http://www.w3.org/2001/XMLSchema-instance&quot;</span> <span class="na">xsi:noNamespaceSchemaLocation=</span><span class="s">&quot;urn:magento:framework:View/Layout/etc/page_configuration.xsd&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;body&gt;</span>
        <span class="nt">&lt;referenceContainer</span> <span class="na">name=</span><span class="s">&quot;header.panel&quot;</span><span class="nt">&gt;</span>
            <span class="nt">&lt;block</span> <span class="na">class=</span><span class="s">&quot;Magento\Framework\View\Element\Html\Links&quot;</span> <span class="na">name=</span><span class="s">&quot;header.links&quot;</span><span class="nt">&gt;</span>
                <span class="nt">&lt;arguments&gt;</span>
                    <span class="nt">&lt;argument</span> <span class="na">name=</span><span class="s">&quot;css_class&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;string&quot;</span><span class="nt">&gt;</span>header links<span class="nt">&lt;/argument&gt;</span>
                <span class="nt">&lt;/arguments&gt;</span>
            <span class="nt">&lt;/block&gt;</span>
        <span class="nt">&lt;/referenceContainer&gt;</span>
    <span class="nt">&lt;/body&gt;</span>
<span class="nt">&lt;/page&gt;</span></code></pre></figure>

<h4>Step 4: Move links</h4>

<p>To move the links to the <code>header.links</code> block, OrangeCo adds an extending layout:</p>

<p><code>app/design/frontend/OrangeCo/orange/Magento_Customer/layout/default.xml</code></p>

<figure class="highlight"><pre><code class="language-xml" data-lang="xml">    <span class="nt">&lt;page</span> <span class="na">xmlns:xsi=</span><span class="s">&quot;http://www.w3.org/2001/XMLSchema-instance&quot;</span> <span class="na">xsi:noNamespaceSchemaLocation=</span><span class="s">&quot;urn:magento:framework:View/Layout/etc/page_configuration.xsd&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;body&gt;</span>
            <span class="nt">&lt;referenceBlock</span> <span class="na">name=</span><span class="s">&quot;header.links&quot;</span><span class="nt">&gt;</span>
                <span class="nt">&lt;block</span> <span class="na">class=</span><span class="s">&quot;Magento\Customer\Block\Account\Customer&quot;</span> <span class="na">name=</span><span class="s">&quot;customer&quot;</span> <span class="na">template=</span><span class="s">&quot;account/customer.phtml&quot;</span> <span class="na">before=</span><span class="s">&quot;-&quot;</span><span class="nt">/&gt;</span>
                <span class="nt">&lt;block</span> <span class="na">class=</span><span class="s">&quot;Magento\Customer\Block\Account\AuthorizationLink&quot;</span> <span class="na">name=</span><span class="s">&quot;authorization-link-login&quot;</span> <span class="na">template=</span><span class="s">&quot;account/link/authorization.phtml&quot;</span><span class="nt">/&gt;</span>
            <span class="nt">&lt;/referenceBlock&gt;</span>
            <span class="nt">&lt;block</span> <span class="na">class=</span><span class="s">&quot;Magento\Theme\Block\Html\Header&quot;</span> <span class="na">name=</span><span class="s">&quot;header&quot;</span> <span class="na">as=</span><span class="s">&quot;header&quot;</span><span class="nt">&gt;</span>
                <span class="nt">&lt;arguments&gt;</span>
                    <span class="nt">&lt;argument</span> <span class="na">name=</span><span class="s">&quot;show_part&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;string&quot;</span><span class="nt">&gt;</span>welcome<span class="nt">&lt;/argument&gt;</span>
                <span class="nt">&lt;/arguments&gt;</span>
            <span class="nt">&lt;/block&gt;</span>
            <span class="nt">&lt;move</span> <span class="na">element=</span><span class="s">&quot;header&quot;</span> <span class="na">destination=</span><span class="s">&quot;header.links&quot;</span> <span class="na">before=</span><span class="s">&quot;-&quot;</span><span class="nt">/&gt;</span>
            <span class="nt">&lt;move</span> <span class="na">element=</span><span class="s">&quot;register-link&quot;</span> <span class="na">destination=</span><span class="s">&quot;header.links&quot;</span><span class="nt">/&gt;</span>
            <span class="nt">&lt;move</span> <span class="na">element=</span><span class="s">&quot;top.links&quot;</span> <span class="na">destination=</span><span class="s">&quot;customer&quot;</span><span class="nt">/&gt;</span>
            <span class="nt">&lt;move</span> <span class="na">element=</span><span class="s">&quot;authorization-link&quot;</span> <span class="na">destination=</span><span class="s">&quot;top.links&quot;</span> <span class="na">after=</span><span class="s">&quot;-&quot;</span><span class="nt">/&gt;</span>
        <span class="nt">&lt;/body&gt;</span>
    <span class="nt">&lt;/page&gt;</span></code></pre></figure>

<p>Now the customer links look like following:</p>

<div style="border: 1px solid #ABABAB">
<img src="/common/images/layout_screen2.png" />
</div>

<p><br />
The last touch is adding styles:</p>

<div style="border: 1px solid #ABABAB">
<img src="/common/images/layout_screen3.png" />
</div>


		</div>
	</section>
<!-- /main content -->


</div> <!-- container -->


		</div>
		</div>
	</div>


</div>
<!-- -->
<!--Global footer-->
<div id="footer-wrap">
    <div class="footer">
        <div id="magento-com">
            <div class="container">
                <div id="f-col-1">
                    <a href="http://www.magento.com/">
                        <img src="/i/magento_logo_footer.svg" alt="Magento Commerce" style="width: 190px;" />
                    </a>
                    <ul class="nav">
                        <li><a href="http://magento.com/company/about-us" title="Company">About Us</a></li>
                        <li><a href="http://magento.com/company/careers" title="Careers">Careers</a></li>
                        <li><a href="http://magento.com/company/press-room" title="Press Room">Press Room</a></li>
                        <li><a href="http://magento.com/company/leadership" title="Leadership">Leadership</a></li>
                    </ul>
                </div>
                <div id="f-col-2">
                    <div id="f-col-2-1">
                        <div class="contact-us">
                            <h4>Get in touch</h4>
                            <p>We'd like to hear from you! Call us, <br />send us an email or talk to sales.</p>
                            <a href="http://magento.com/company/contact-us" class="btn large copper">Contact Us</a>
                        </div>
                    </div>
                    <div id="f-col-2-2">
                        <div id="social-network">
                            <h4>Stay Connected</h4>
                            <ul>
                                <li><a class="btn-facebook" target="_blank" href="http://www.facebook.com/magento">Magento Facebook</a>
                                </li>
                                <li><a class="btn-twitter" target="_blank" href="https://twitter.com/magento">Magento Twitter</a></li>
                                <li><a class="btn-lnkdn" target="_blank" href="http://www.linkedin.com/groups?home=&amp;gid=146360&amp;trk=anet_ug_hm">Magento Linkedin</a></li>
                                <li><a class="btn-gplus" target="_blank" href="https://plus.google.com/+magento/posts">Magento Google+</a></li>
                                <li><a class="btn-youtube" target="_blank" href="http://www.youtube.com/user/magentocommerce/featured">Magento
                                    Youtube</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="f-col-3">
                    <div id="newsletter">
                        <h4>GET THE LATEST NEWS</h4>
                        <p>See Magento in the news, find press<br/> releases and resources for media.</p>
                        <div class="hold-form">
                            <div id="nws-notsubscribed">
                                <div id="sb-email" class="sb-email">
                                    <form method="post" enctype="application/x-www-form-urlencoded"
                                          action="//info2.magento.com/index.php/leadCapture/save" id="mktForm_1182" class="mktform"
                                          name="mktForm_1182" onsubmit="return validateForm();">
                                        <input class="fValidate['email'] input-topbg sb-email-input" name="Email" id="Email"
                                               placeholder="email address">
                                        <input type="hidden" name="formid" value="1182" />
                                        <button type="submit" class="sb-icon-submit btn outline">
                                            Sign Up
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="email-invalid hide">
                            <p>Please submit a valid email.</p>
                        </div>
                        <div class="email-ty hide">
                            <p>Thank you for submitting your email.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="copyright">
        <div class="container">
            <div class="copyright-date">&copy; 2016 Magento, Inc. All rights reserved.</div>
            <div class="copyright-links">
                <ul class="nav">
                    <li><a title="Privacy Policy" href="http://magento.com/legal/terms/privacy">Privacy Policy</a></li>
                    <li><a title="Terms of Service" href="http://magento.com/legal/terms">Terms of Service</a></li>
                    <li><a title="License/Trademark FAQ" href="http://magento.com/legal/licensing">License/Trademark FAQ</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/common/js/jsCookie.js"></script>
<script src="/common/js/devdocs.js"></script>
<script src="/common/js/jquery-ui.min.js"></script>

<script type="text/javascript">
    (function() {
        var didInit = false;
        function initMunchkin() {
            if(didInit === false) {
                didInit = true;
                Munchkin.init('585-GGD-959', {cookieAnon: false});
            }
        }
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = '//munchkin.marketo.net/munchkin.js';
        s.onreadystatechange = function() {
            if (this.readyState == 'complete' || this.readyState == 'loaded') {
                initMunchkin();
            }
        };
        s.onload = initMunchkin;
        document.getElementsByTagName('head')[0].appendChild(s);
    })();
</script>

<script src="/js/app.js"></script>

<!--Google Analytics-->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-66243208-1', 'auto');
    ga('send', 'pageview');
</script>

</body>
</html>

