<h3 id="class-200-210">Changes in classes</h3>
<table><tbody>
<tr>
    <th>What changed</th>
    <th>How changed</th>
</tr>
    <tr>
        <td>Magento\Swatches\Helper\Data::CATALOG_PRODUCT_MEDIA_PATH</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Swatches\Block\Product\Renderer\Configurable::EMPTY_IMAGE_VALUE</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Eav\Model\ResourceModel\Entity\Attribute\Group::TAB_GENERAL_CODE</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Eav\Model\ResourceModel\Entity\Attribute\Group::TAB_IMAGE_MANAGEMENT_CODE</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Stdlib\DateTime::isEmptyDate</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Stdlib\DateTime::gmDate</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Stdlib\DateTime::strToTime</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Stdlib\DateTime::DATETIME_INTERNAL_FORMAT</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Stdlib\DateTime::DATE_INTERNAL_FORMAT</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Stdlib\DateTime::DATETIME_PHP_FORMAT</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Stdlib\DateTime::DATE_PHP_FORMAT</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Stdlib\DateTime::YEAR_MIN_VALUE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Stdlib\DateTime::YEAR_MAX_VALUE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Event</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Filesystem</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Profiler</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Registry</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Context</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\FileSystem</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Result\Layout</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Result\LayoutFactory</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Result\Page</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Result\PageFactory</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Render\RenderFactory</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Page\Config</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Page\Title</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Element\BlockFactory</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Element\Context</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Element\FormKey</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Element\RendererList</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Element\UiComponentFactory</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Asset\Repository</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Stdlib\ArrayManager</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Stdlib\ArrayUtils</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Stdlib\BooleanUtils</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Stdlib\StringUtils</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Model\Context</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Math\Calculator</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Math\Division</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Math\Random</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Exception\LocalizedException</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Event\Observer</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Component\ComponentRegistrar</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\App\ActionFactory</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\App\View\Asset\Publisher</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\App\Language\Dictionary</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\App\Area\FrontNameResolverFactory</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\App\Action\Context</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Model\Ui\TokensConfigProvider</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Model\Ui\Adminhtml\TokensConfigProvider</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\AbstractCardRenderer</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Observer\AbstractDataAssignObserver</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Model\CcConfigProvider</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\Validator\AbstractValidator</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\Validator\CountryValidator</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\Validator\ValidatorComposite</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\Validator\ValidatorPool</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\Response\HandlerChain</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\Request\BuilderComposite</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\Http\ClientException</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\Http\ConverterException</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\Http\TransferBuilder</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\Http\Converter\HtmlFormConverter</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\Http\Converter\Soap\ObjectToArrayConverter</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\Http\Client\Soap</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\Http\Client\Zend</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\Command\CommandException</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\Command\CommandManager</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\Command\CommandManagerPool</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\Command\CommandPool</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\Command\GatewayCommand</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Block\ConfigurableInfo</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Eav</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Product\Type\AbstractType</td>
        <td>Class was added.</td>
    </tr>
</tbody></table>

<h3 id="interface-200-210">Changes in interfaces</h3>
<table><tbody>
<tr>
    <th>What changed</th>
    <th>How changed</th>
</tr>
    <tr>
        <td>Magento\CatalogInventory\Api\StockItemRepositoryInterface::get</td>
        <td>[public] Method parameter name changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\AppInterface::VERSION</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\TransactionInterface::TYPE_PAYMENT</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\TransactionInterface::TYPE_ORDER</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\TransactionInterface::TYPE_AUTH</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\TransactionInterface::TYPE_CAPTURE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\TransactionInterface::TYPE_VOID</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\TransactionInterface::TYPE_REFUND</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Quote\Api\Data\CartInterface::KEY_ENTITY_ID</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Model\MethodInterface::setStore</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Model\MethodInterface::getStore</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Model\MethodInterface::canUseInternal</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Model\MethodInterface::canUseCheckout</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Model\MethodInterface::canUseForCountry</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Model\MethodInterface::canUseForCurrency</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Model\MethodInterface::getConfigData</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Model\MethodInterface::isAvailable</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Model\MethodInterface::isActive</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\AccountManagementInterface::createAccount</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\AccountManagementInterface::ACCOUNT_CONFIRMED</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\AccountManagementInterface::ACCOUNT_CONFIRMATION_REQUIRED</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\AccountManagementInterface::ACCOUNT_CONFIRMATION_NOT_REQUIRED</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\AccountManagementInterface::MAX_PASSWORD_LENGTH</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\GroupManagementInterface::isReadonly</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AddressInterface::getId</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AddressInterface::ID</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AddressInterface::CUSTOMER_ID</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AddressInterface::REGION</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AddressInterface::REGION_ID</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AddressInterface::COUNTRY_ID</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AddressInterface::STREET</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AddressInterface::COMPANY</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AddressInterface::TELEPHONE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AddressInterface::FAX</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AddressInterface::POSTCODE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AddressInterface::CITY</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AddressInterface::FIRSTNAME</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AddressInterface::LASTNAME</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AddressInterface::MIDDLENAME</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AddressInterface::PREFIX</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AddressInterface::SUFFIX</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AddressInterface::VAT_ID</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AddressInterface::DEFAULT_BILLING</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AddressInterface::DEFAULT_SHIPPING</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AttributeMetadataInterface::getFrontendInput</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AttributeMetadataInterface::getIsUsedInGrid</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AttributeMetadataInterface::getIsVisibleInGrid</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AttributeMetadataInterface::getIsFilterableInGrid</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AttributeMetadataInterface::getIsSearchableInGrid</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AttributeMetadataInterface::setIsUsedInGrid</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AttributeMetadataInterface::setIsVisibleInGrid</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AttributeMetadataInterface::setIsFilterableInGrid</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AttributeMetadataInterface::setIsSearchableInGrid</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AttributeMetadataInterface::ATTRIBUTE_CODE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AttributeMetadataInterface::FRONTEND_INPUT</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AttributeMetadataInterface::INPUT_FILTER</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AttributeMetadataInterface::STORE_LABEL</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AttributeMetadataInterface::VALIDATION_RULES</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AttributeMetadataInterface::OPTIONS</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AttributeMetadataInterface::VISIBLE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AttributeMetadataInterface::REQUIRED</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AttributeMetadataInterface::MULTILINE_COUNT</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AttributeMetadataInterface::DATA_MODEL</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AttributeMetadataInterface::USER_DEFINED</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AttributeMetadataInterface::FRONTEND_CLASS</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AttributeMetadataInterface::SORT_ORDER</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AttributeMetadataInterface::FRONTEND_LABEL</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AttributeMetadataInterface::SYSTEM</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AttributeMetadataInterface::NOTE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AttributeMetadataInterface::BACKEND_TYPE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AttributeMetadataInterface::IS_USED_IN_GRID</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AttributeMetadataInterface::IS_VISIBLE_IN_GRID</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AttributeMetadataInterface::IS_FILTERABLE_IN_GRID</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\AttributeMetadataInterface::IS_SEARCHABLE_IN_GRID</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\CustomerInterface::getId</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\CustomerInterface::ID</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\CustomerInterface::CONFIRMATION</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\CustomerInterface::CREATED_AT</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\CustomerInterface::UPDATED_AT</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\CustomerInterface::CREATED_IN</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\CustomerInterface::DOB</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\CustomerInterface::EMAIL</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\CustomerInterface::FIRSTNAME</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\CustomerInterface::GENDER</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\CustomerInterface::GROUP_ID</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\CustomerInterface::LASTNAME</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\CustomerInterface::MIDDLENAME</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\CustomerInterface::PREFIX</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\CustomerInterface::STORE_ID</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\CustomerInterface::SUFFIX</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\CustomerInterface::TAXVAT</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\CustomerInterface::WEBSITE_ID</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\CustomerInterface::DEFAULT_BILLING</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\CustomerInterface::DEFAULT_SHIPPING</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\CustomerInterface::KEY_ADDRESSES</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\CustomerInterface::DISABLE_AUTO_GROUP_CHANGE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\GroupInterface::getId</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\GroupInterface::ID</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\GroupInterface::CODE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\GroupInterface::TAX_CLASS_ID</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\GroupInterface::TAX_CLASS_NAME</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\GroupInterface::NOT_LOGGED_IN_ID</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\GroupInterface::CUST_GROUP_ALL</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\GroupInterface::GROUP_CODE_MAX_LENGTH</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\OptionInterface::getLabel</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\OptionInterface::LABEL</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\OptionInterface::VALUE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\OptionInterface::OPTIONS</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\RegionInterface::getRegionCode</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\RegionInterface::REGION_CODE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\RegionInterface::REGION</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\RegionInterface::REGION_ID</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\ValidationResultsInterface::isValid</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\ValidationResultsInterface::VALID</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\ValidationResultsInterface::MESSAGES</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\ValidationRuleInterface::getName</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\ValidationRuleInterface::NAME</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\ValidationRuleInterface::VALUE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Cms\Api\Data\PageInterface::getMetaTitle</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Cms\Api\Data\PageInterface::setMetaTitle</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Cms\Api\Data\PageInterface::META_TITLE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\CategoryLinkManagementInterface::assignProductToCategories</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\ProductCustomOptionRepositoryInterface::getProductOptions</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\ProductCustomOptionRepositoryInterface::duplicate</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\ProductLinkRepositoryInterface::getList</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\ProductAttributeInterface::CODE_TIER_PRICE_FIELD_PRICE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\ProductAttributeInterface::CODE_HAS_WEIGHT</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\ProductAttributeInterface::CODE_SPECIAL_PRICE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\ProductAttributeInterface::CODE_PRICE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\ProductAttributeInterface::CODE_TIER_PRICE_FIELD_PRICE_QTY</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\ProductAttributeInterface::CODE_SHORT_DESCRIPTION</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\ProductAttributeInterface::CODE_SEO_FIELD_META_TITLE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\ProductAttributeInterface::CODE_STATUS</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\ProductAttributeInterface::CODE_NAME</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\ProductAttributeInterface::CODE_SKU</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\ProductAttributeInterface::CODE_SEO_FIELD_META_KEYWORD</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\ProductAttributeInterface::CODE_DESCRIPTION</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\ProductAttributeInterface::CODE_COST</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\ProductAttributeInterface::CODE_SEO_FIELD_URL_KEY</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\ProductAttributeInterface::CODE_TIER_PRICE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\ProductAttributeInterface::CODE_SEO_FIELD_META_DESCRIPTION</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\ProductAttributeInterface::CODE_WEIGHT</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\AppInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\AuthorizationInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\CurrencyInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\ObjectManagerInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\UrlInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\ConfigInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\LayoutInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\RenderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Url\ConfigInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Template\Html\MinifierInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Page\FaviconInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\File\CollectorInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Element\BlockInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Element\RendererInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Element\UiComponent\DataProvider\DataProviderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Design\Theme\FileProviderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Design\Theme\ListInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Design\Theme\Label\ListInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Asset\ConfigInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Stdlib\DateTime\TimezoneInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Shell\CommandRendererInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Setup\InstallDataInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Setup\InstallSchemaInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Setup\LoggerInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Setup\ModuleDataSetupInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Setup\SetupInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Setup\UninstallInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Setup\UpgradeDataInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Setup\UpgradeSchemaInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Phrase\RendererInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Indexer\ConfigInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Indexer\IndexStructureInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Indexer\IndexerInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Indexer\SaveHandler\IndexerInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Filesystem\DriverInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Data\OptionSourceInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Data\Form\Filter\FilterInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Data\Argument\InterpreterInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Controller\ResultInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Console\CommandListInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Config\DesignResolverInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\App\ActionInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\App\RequestInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\App\ResponseInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\App\Request\DataPersistorInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\App\Request\PathInfoProcessorInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Model\VaultPaymentInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Model\Ui\TokenUiComponentInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Model\Ui\TokenUiComponentProviderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\CardRendererInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\TokenRendererInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Api\PaymentTokenManagementInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Api\PaymentTokenRepositoryInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Api\Data\PaymentTokenInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Api\Data\PaymentTokenSearchResultsInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Theme\Api\DesignConfigRepositoryInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Theme\Api\Data\DesignConfigDataInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Theme\Api\Data\DesignConfigInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Tax\Api\OrderTaxManagementInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Tax\Api\Data\GrandTotalDetailsInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Tax\Api\Data\GrandTotalRatesInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Tax\Api\Data\OrderTaxDetailsAppliedTaxInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Tax\Api\Data\OrderTaxDetailsInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Tax\Api\Data\OrderTaxDetailsItemInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Search\Api\SearchInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Search\Api\SynonymAnalyzerInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Search\Api\SynonymGroupRepositoryInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Search\Api\Data\SynonymGroupInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShippingAssignmentInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShippingInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\TotalInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Quote\Api\CartTotalManagementInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Quote\Api\GuestCartTotalManagementInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Quote\Api\GuestShipmentEstimationInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Quote\Api\ShipmentEstimationInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Quote\Api\Data\AddressAdditionalDataInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Quote\Api\Data\ProductOptionInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Quote\Api\Data\ShippingAssignmentInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Quote\Api\Data\ShippingInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Quote\Api\Data\TotalsAdditionalDataInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\CommandInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\ConfigFactoryInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\ConfigInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\Validator\ResultInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\Validator\ValidatorInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\Validator\ValidatorPoolInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\Response\HandlerInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\Request\BuilderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\Http\ClientInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\Http\ConverterInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\Http\TransferFactoryInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\Http\TransferInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\Data\AddressAdapterInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\Data\OrderAdapterInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\Data\PaymentDataObjectInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\Config\ValueHandlerInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\Config\ValueHandlerPoolInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\Command\CommandManagerInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\Command\CommandManagerPoolInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\Command\CommandPoolInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\Command\ResultInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\GiftMessage\Api\Data\MessageInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Eav\Api\Data\AttributeFrontendLabelInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Eav\Api\Data\AttributeGroupInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Eav\Api\Data\AttributeGroupSearchResultsInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Eav\Api\Data\AttributeInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Eav\Api\Data\AttributeOptionInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Eav\Api\Data\AttributeOptionLabelInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Eav\Api\Data\AttributeSearchResultsInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Eav\Api\Data\AttributeSetInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Eav\Api\Data\AttributeSetSearchResultsInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Eav\Api\Data\AttributeValidationRuleInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Downloadable\Api\LinkRepositoryInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Downloadable\Api\Data\DownloadableOptionInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Downloadable\Api\Data\LinkInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Downloadable\Api\Data\ProductAttributeInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Downloadable\Api\Data\SampleInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Downloadable\Api\Data\File\ContentInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Downloadable\Api\Data\File\ContentUploaderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\AddressMetadataInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\AddressMetadataManagementInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\CustomerMetadataInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\CustomerMetadataManagementInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\CustomerNameGenerationInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\ConfigurableProduct\Api\Data\OptionInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\ConfigurableProduct\Api\Data\OptionValueInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\CheckoutAgreements\Api\Data\AgreementInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Checkout\Model\ConfigProviderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Checkout\Api\AgreementsValidatorInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Checkout\Api\GuestTotalsInformationManagementInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Checkout\Api\TotalsInformationManagementInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Checkout\Api\Data\PaymentDetailsInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Checkout\Api\Data\ShippingInformationInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Checkout\Api\Data\TotalsInformationInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\CatalogRule\Api\CatalogRuleRepositoryInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\CatalogRule\Api\Data\ConditionInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\CatalogRule\Api\Data\RuleInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\AttributeSetFinderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\ProductWebsiteLinkRepositoryInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\CategoryProductSearchResultInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\ProductOptionInterface</td>
        <td>Interface was added.</td>
    </tr>
</tbody></table>
