<h3 id="class-209-210">Changes in classes</h3>
<table><tbody>
<tr>
    <th>What changed</th>
    <th>How changed</th>
</tr>
    <tr>
        <td>Magento\User\Observer\Backend\TrackAdminNewPasswordObserver::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\User\Observer\Backend\TrackAdminNewPasswordObserver::$encryptor</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\InvoiceDocumentFactory</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\PaymentAdapter</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\ShipmentDocumentFactory</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Shipment\CreationArguments</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Shipment\Notifier</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Shipment\Package</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Shipment\PackageCreation</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Invoice\CreationArguments</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Invoice\Notifier</td>
        <td>Class was added.</td>
    </tr>
</tbody></table>

<h3 id="interface-209-210">Changes in interfaces</h3>
<table><tbody>
<tr>
    <th>What changed</th>
    <th>How changed</th>
</tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::getComment</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::getCreatedAt</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::setCreatedAt</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::setEntityId</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::getIsVisibleOnFront</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::setIsVisibleOnFront</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::setComment</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::ENTITY_ID</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::IS_VISIBLE_ON_FRONT</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::COMMENT</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::CREATED_AT</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceItemInterface::getOrderItemId</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceItemInterface::getQty</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceItemInterface::setQty</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceItemInterface::setOrderItemId</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::getComment</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::getCreatedAt</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::setCreatedAt</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::getEntityId</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::setEntityId</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::getIsVisibleOnFront</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::setIsVisibleOnFront</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::setComment</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::ENTITY_ID</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::IS_VISIBLE_ON_FRONT</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::COMMENT</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::CREATED_AT</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentItemInterface::getOrderItemId</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentItemInterface::getQty</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentItemInterface::setQty</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentItemInterface::setOrderItemId</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentTrackInterface::getCarrierCode</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentTrackInterface::getTitle</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentTrackInterface::getTrackNumber</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentTrackInterface::setTrackNumber</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentTrackInterface::setTitle</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentTrackInterface::setCarrierCode</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::getEntityId</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\InvoiceNotifierInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\InvoiceStatisticInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\OrderStateResolverInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\PaymentAdapterInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Shipment\NotifierInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Shipment\OrderRegistrarInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Invoice\NotifierInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\InvoiceOrderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\ShipOrderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Exception\CouldNotInvoiceExceptionInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Exception\CouldNotShipExceptionInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Exception\DocumentValidationExceptionInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\CommentInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\EntityInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentCreationInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCreationArgumentsInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceItemCreationInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\LineItemInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentCreationInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCreationArgumentsInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentItemCreationInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentPackageCreationInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentTrackCreationInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\TrackInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Quote\Api\GuestShipmentEstimationInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Quote\Api\ShipmentEstimationInterface</td>
        <td>Interface was added.</td>
    </tr>
</tbody></table>
