<h3 id="classes-2110-2111">Changes in classes</h3>
<table><tbody>
<tr>
    <th>What Changed</th>
    <th>How Changed</th>
</tr>
    <tr>
        <td>Magento\Catalog\Model\Product\Type\AbstractType::isPossibleBuyFromList</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Sitemap\Block\Robots</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Robots\Model\Config\Value</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Robots\Block\Data</td>
        <td>Class was added.</td>
    </tr>
</tbody></table>

<h3 id="interfaces-2110-2111">Changes in interfaces</h3>
<table><tbody>
<tr>
    <th>What Changed</th>
    <th>How Changed</th>
</tr>
    <tr>
        <td>Magento\Framework\Stdlib\DateTime\TimezoneInterface::date</td>
        <td>[public] Method parameter name changed.</td>
    </tr>
    <tr>
        <td>Magento\ConfigurableProduct\Model\AttributeOptionProviderInterface</td>
        <td>Interface was added.</td>
    </tr>
</tbody></table>
