<h3 id="classes-218-217">Changes in classes</h3>
<table><tbody>
<tr>
    <th>What Changed</th>
    <th>How Changed</th>
</tr>
    <tr>
        <td>Magento\Tax\Setup\InstallData::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Swatches\Model\Plugin\EavAttribute::beforeSave</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Eav\Model\Entity\Attribute\Frontend\AbstractFrontend::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogUrlRewrite\Observer\CategoryProcessUrlRewriteSavingObserver::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogUrlRewrite\Observer\CategoryProcessUrlRewriteSavingObserver::$urlPersist</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogUrlRewrite\Model\Category\Plugin\Storage::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogUrlRewrite\Model\Category\Plugin\Storage::$productFactory</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Controller\Adminhtml\Category\Save::imagePreprocessing</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\DB\TemporaryTableService</td>
        <td>Class was added.</td>
    </tr>
</tbody></table>
