
<h2 id="class">Class</h2>
<table><tbody>
    <tr>
        <th>Target</th>
        <th>What Changed</th>
    </tr>
    <tr>
        <td>Magento\Framework\Search\Dynamic\DataProviderFactory::__construct</td>
        <td>[public] Method parameter typing added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Search\Dynamic\DataProviderFactory::__construct</td>
        <td>[public] Method parameter typing removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Search\Dynamic\IntervalFactory::__construct</td>
        <td>[public] Method parameter typing added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Search\Dynamic\IntervalFactory::__construct</td>
        <td>[public] Method parameter typing removed.</td>
    </tr>
    <tr>
        <td>Magento\Theme\Block\Html\Topmenu::_getHtml</td>
        <td>[protected] Method parameter typing added.</td>
    </tr>
    <tr>
        <td>Magento\Search\Model\AdapterFactory::__construct</td>
        <td>[public] Method parameter typing added.</td>
    </tr>
    <tr>
        <td>Magento\Search\Model\AdapterFactory::__construct</td>
        <td>[public] Method parameter typing removed.</td>
    </tr>
    <tr>
        <td>Magento\Search\Model\EngineResolver::__construct</td>
        <td>[public] Method parameter typing added.</td>
    </tr>
    <tr>
        <td>Magento\Email\Model\Template\Filter::__construct</td>
        <td>[public] Method parameter typing added.</td>
    </tr>
    <tr>
        <td>Magento\Email\Model\Template\Filter::__construct</td>
        <td>[public] Method parameter typing removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\ResourceModel\EngineProvider::__construct</td>
        <td>[public] Method parameter typing added.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\ResourceModel\EngineProvider::__construct</td>
        <td>[public] Method parameter typing removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\Fulltext::__construct</td>
        <td>[public] Method parameter typing added.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\Fulltext::__construct</td>
        <td>[public] Method parameter typing removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\Fulltext::execute</td>
        <td>[public] Method parameter name changed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\IndexStructureFactory::__construct</td>
        <td>[public] Method parameter typing added.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\IndexStructureFactory::__construct</td>
        <td>[public] Method parameter typing removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\IndexerHandlerFactory::__construct</td>
        <td>[public] Method parameter typing added.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\IndexerHandlerFactory::__construct</td>
        <td>[public] Method parameter typing removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\Fulltext\Action\DataProvider::getSearchableProducts</td>
        <td>[public] Method parameter name changed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Indexer\Category\Product\AbstractAction::prepareSelectsByRange</td>
        <td>[protected] Method parameter typing added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Filesystem::getDirectoryReadByPath</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Webapi\ServiceInputProcessor::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Framework\Module\Setup\Migration::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Framework\Model\ResourceModel\AbstractResource::$_logger</td>
        <td>[protected] Property has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Filter\Template::LOOP_PATTERN</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\File\Uploader::getDispersionPath</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Exception\AbstractAggregateException::addException</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\DB\Ddl\Table::OPTION_DEFAULT</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\DB\Ddl\Table::OPTION_IDENTITY</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\DB\Ddl\Table::OPTION_LENGTH</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\DB\Ddl\Table::OPTION_NULLABLE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\DB\Ddl\Table::OPTION_PRECISION</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\DB\Ddl\Table::OPTION_PRIMARY</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\DB\Ddl\Table::OPTION_SCALE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\DB\Ddl\Table::OPTION_TYPE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\DB\Ddl\Table::OPTION_UNSIGNED</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Controller\Result\Json::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Framework\Config\ConfigOptionsListConstants::CONFIG_PATH_SCD_ON_DEMAND_IN_PRODUCTION</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Config\ConfigOptionsListConstants::CONFIG_PATH_FORCE_HTML_MINIFICATION</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Component\ComponentRegistrar::SETUP</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Backup\AbstractBackup::keepSourceFile</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Backup\AbstractBackup::setKeepSourceFile</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\App\ResourceConnection::getSchemaName</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Widget\Model\Widget\Instance::SINGLE_PRODUCT_LAYOUT_HANDLE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Variable\Model\Variable\Config::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\User\Model\User::MESSAGE_ID_PASSWORD_EXPIRED</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\User\Model\ResourceModel\User\Collection::_initSelect</td>
        <td>[protected] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Translation\Block\Js::getTranslationFileVersion</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Theme\Block\Html\Footer::getCacheLifetime</td>
        <td>[protected] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Swatches\Block\Product\Renderer\Configurable::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Swatches\Block\Product\Renderer\Listing\Configurable::__construct</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Swatches\Block\Product\Renderer\Listing\Configurable::getPriceFormatJson</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Swatches\Block\Product\Renderer\Listing\Configurable::getPricesJson</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Store::getIsActive</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Store::setIsActive</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Sitemap\Model\Sitemap::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Sitemap\Model\Sitemap::LAST_MOD_MIN_VAL</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Sitemap\Model\ResourceModel\Cms\Page::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Sitemap\Model\ResourceModel\Catalog\Product::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Sitemap\Model\ResourceModel\Catalog\Product::prepareSelectStatement</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Creditmemo::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\AdminOrder\Create::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Sales\Block\Order\Recent::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Sales\Block\Order\Recent::ORDER_LIMIT</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Rss\Model\Rss::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Reports\Model\ResourceModel\Review\Customer\Collection::addFieldToFilter</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\ProductVideo\Block\Product\View\Gallery::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Payment\Model\Method\AbstractMethod::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\Command\GatewayCommand::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Newsletter\Model\Subscriber::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Newsletter\Model\Subscriber::beforeSave</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Multishipping\Model\Checkout\Type\Multishipping::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\ImportExport\Model\Export::FILTER_TYPE_MULTISELECT</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\ImportExport\Helper\Report::getDelimiter</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\GoogleAdwords\Helper\Data::hasSendConversionValueCurrency</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\GoogleAdwords\Helper\Data::getConversionValueCurrency</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\GoogleAdwords\Helper\Data::CONVERSION_VALUE_CURRENCY_REGISTRY_NAME</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\GoogleAdwords\Helper\Data::XML_PATH_SEND_CURRENCY</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Eav\Model\Entity\AbstractEntity::addAttribute</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Eav\Model\Entity\Collection\AbstractCollection::isAttributeAdded</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Eav\Model\Entity\Attribute\Source\Store::getAllOptions</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Directory\Model\Currency::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Directory\Model\ResourceModel\Country\Collection::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Directory\Model\Config\Source\Country\Full::toOptionArray</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Customer\Model\Customer::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Customer\Model\Address\AbstractAddress::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Customer\Block\CustomerScopeData::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Customer\Block\CustomerScopeData::encodeConfiguration</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Cron\Model\Schedule::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\ConfigurableProduct\Model\ResourceModel\Product\Type\Configurable\Product\Collection::_beforeLoad</td>
        <td>[protected] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\ConfigurableProduct\Model\ResourceModel\Product\Type\Configurable\Attribute\Collection::_beforeLoad</td>
        <td>[protected] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\ConfigurableProduct\Helper\Data::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\ConfigurableProduct\Block\Product\View\Type\Configurable::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Config\Model\Config\Structure\ConcealInProductionConfigList::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Config\Model\Config\Source\Nooptreq::VALUE_NO</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Config\Model\Config\Source\Nooptreq::VALUE_OPTIONAL</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Config\Model\Config\Source\Nooptreq::VALUE_REQUIRED</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Config\Model\Config\Backend\Admin\Custom::XML_PATH_WEB_COOKIE_COOKIE_PATH</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Config\Console\Command\ConfigSetCommand::OPTION_LOCK_ENV</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Config\Console\Command\ConfigSetCommand::OPTION_LOCK_CONFIG</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Config\Console\Command\ConfigSet\ConfigSetProcessorFactory::TYPE_LOCK_ENV</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Config\Console\Command\ConfigSet\ConfigSetProcessorFactory::TYPE_LOCK_CONFIG</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Config\Console\Command\ConfigSet\ProcessorFacade::processWithLockTarget</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Config\Block\System\Config\Edit::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Config\Block\System\Config\Edit::getConfigSearchParamsJson</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Cms\Model\Wysiwyg\Config::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\ResourceModel\Fulltext::resetSearchResultsByStore</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\ResourceModel\Fulltext\Collection::_beforeLoad</td>
        <td>[protected] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\Fulltext::executeByDimension</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\Fulltext\Action\DataProvider::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\Fulltext\Action\Full::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\CatalogRule\Model\Indexer\IndexBuilder::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\CatalogInventory\Model\Source\Stock::addValueSortToCollection</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\CatalogImportExport\Model\Import\Product::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\CatalogImportExport\Model\Export\Product::loadCollection</td>
        <td>[protected] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Ui\DataProvider\Product\ProductDataProvider::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Ui\DataProvider\Product\ProductDataProvider::getMeta</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Eav::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Category::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Category::getChildren</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Category::_getResource</td>
        <td>[protected] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Category::$_resource</td>
        <td>[protected] Property has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Product::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Product::_getResource</td>
        <td>[protected] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Product::$_resource</td>
        <td>[protected] Property has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\ResourceModel\Product::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\ResourceModel\Product\Collection::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\ResourceModel\Eav\Attribute::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\ResourceModel\Eav\Attribute::isEnabledInFlat</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\ResourceModel\Eav\Attribute::getExtensionAttributes</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\ResourceModel\Category\Collection::__construct</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\ResourceModel\Category\Collection::addNavigationMaxDepthFilter</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Product\Option\Value::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Indexer\Category\Product\AbstractAction::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Indexer\Category\Product\AbstractAction::getIndexTable</td>
        <td>[protected] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Indexer\Category\Product\AbstractAction::$tableMaintainer</td>
        <td>[protected] Property has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Category\DataProvider::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Helper\Product\ProductList::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Block\Product\View\Gallery::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Bundle\Pricing\Price\ConfiguredPrice::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Backup\Model\ResourceModel\Db::getTableTriggersSql</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Backup\Model\ResourceModel\Helper::getTableTriggersSql</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Backend\Block\Widget\Grid\Massaction::__construct</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Backend\Block\Widget\Grid\Massaction::addItem</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Backend\Block\Media\Uploader::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Element\Html\Link</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Validation\ValidationException</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Validation\ValidationResult</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Setup\Declaration\Schema\Diff\Diff</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MultiDimensionalIndexer\Alias</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MultiDimensionalIndexer\AliasFactory</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MultiDimensionalIndexer\Dimension</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MultiDimensionalIndexer\DimensionFactory</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MultiDimensionalIndexer\IndexName</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MultiDimensionalIndexer\IndexNameBuilder</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\ExchangeFactory</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\MessageLockException</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\PublisherPool</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\QueueFactory</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\Bulk\ExchangeFactory</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Indexer\Dimension</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Indexer\DimensionFactory</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Exception\BulkException</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Amqp\Config</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Amqp\ConnectionTypeResolver</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Amqp\Exchange</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Amqp\ExchangeFactory</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Amqp\Queue</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Amqp\QueueFactory</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\WebapiAsync\Model\BulkServiceConfig</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\WebapiAsync\Model\ServiceConfig</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Ui\DataProvider\SearchResultFactory</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Ui\Component\Form\Element\ColorPicker</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Ui\Block\Wysiwyg\ActiveEditor</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Swagger\Block\Index</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Model\MessageGenerators\GeneratorException</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Block\Fingerprint</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Block\Adminhtml\CaseInfo</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\SalesInventory\Model\Order\ReturnProcessor</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\ShipmentFactory</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Paypal\Block\Adminhtml\Order\View</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\ErrorMapper\ErrorMessageMapper</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\MysqlMq\Model\Message</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\MysqlMq\Model\MessageStatus</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\MysqlMq\Model\Queue</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\MysqlMq\Model\QueueManagement</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\MysqlMq\Model\ResourceModel\MessageStatusCollection</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Multishipping\Block\Checkout\Results</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\MessageQueue\Model\ConsumerRunner</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\PaymentMethodIntegration\StaticAdditionalInformationProvider</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\PaymentMethodIntegration\StaticAvailabilityChecker</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\InstantPurchaseOption</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\InstantPurchaseOptionFactory</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\PlaceOrder</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\Ui\CustomerAddressesFormatter</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\Ui\PaymentTokenFormatter</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\Ui\ShippingMethodFormatter</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\ShippingMethodChoose\DeferredShippingMethodChooserPool</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\QuoteManagement\PaymentConfiguration</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\QuoteManagement\Purchase</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\QuoteManagement\QuoteCreation</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\QuoteManagement\QuoteFilling</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\QuoteManagement\ShippingConfiguration</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Block\Button</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\GraphQl\Controller\GraphQl</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\SearchAdapter\AggregationFactory</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\SearchAdapter\ConnectionManager</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\SearchAdapter\DocumentFactory</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\SearchAdapter\Mapper</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\SearchAdapter\ResponseFactory</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\SearchAdapter\SearchIndexNameResolver</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\SearchAdapter\Query\Builder</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\SearchAdapter\Query\Preprocessor\Stopwords</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\SearchAdapter\Query\Builder\Aggregation</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\SearchAdapter\Dynamic\DataProvider</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\Model\Config</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\Model\ResourceModel\Index</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\Model\Adapter\FieldType</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\Model\Adapter\Index\IndexNameResolver</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\Model\Adapter\Document\Builder</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\Elasticsearch5\SearchAdapter\Mapper</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\Elasticsearch5\SearchAdapter\Query\Builder</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\Elasticsearch5\Model\Adapter\FieldType</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\EavGraphQl\Model\Resolver\Query\Type</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\CatalogInventory\Model\ResourceModel\Stock\Status</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\CatalogInventory\Helper\Stock</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Backend\Ui\Component\Listing\Column\EditAction</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Backend\Ui\Component\Control\DeleteButton</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Backend\Ui\Component\Control\SaveSplitButton</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\AdvancedSearch\Model\ResourceModel\Index</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\AdvancedSearch\Model\ResourceModel\Recommendations</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\AdvancedSearch\Model\ResourceModel\Search\Grid\Collection</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\AdvancedSearch\Model\Client\ClientResolver</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\AdvancedSearch\Model\Adminhtml\Search\Grid\Options</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\AdvancedSearch\Block\Recommendations</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\AdvancedSearch\Block\Suggestions</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\AdvancedSearch\Block\Adminhtml\System\Config\TestConnection</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\AdvancedSearch\Block\Adminhtml\Search\Edit</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\AdvancedSearch\Block\Adminhtml\Search\Grid</td>
        <td>Class was added.</td>
    </tr>
</tbody></table>

<h2 id="interface">Interface</h2>
<table><tbody>
    <tr>
        <th>Target</th>
        <th>What Changed</th>
    </tr>
    <tr>
        <td>Magento\Framework\CurrencyInterface::getService</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\CurrencyInterface::setService</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\Api\Data\StoreInterface::setIsActive</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Store\Api\Data\StoreInterface::getIsActive</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Store\Api\Data\WebsiteInterface::ADMIN_CODE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Model\MethodInterface::ACTION_ORDER</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Model\MethodInterface::ACTION_AUTHORIZE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Model\MethodInterface::ACTION_AUTHORIZE_CAPTURE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Model\MethodInterface::CHECK_USE_FOR_COUNTRY</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Model\MethodInterface::CHECK_USE_FOR_CURRENCY</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Model\MethodInterface::CHECK_USE_CHECKOUT</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Model\MethodInterface::CHECK_USE_INTERNAL</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Model\MethodInterface::CHECK_ORDER_TOTAL_MIN_MAX</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Model\MethodInterface::CHECK_ZERO_TOTAL</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Model\MethodInterface::GROUP_OFFLINE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\Validator\ResultInterface::getErrorCodes</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Eav\Api\Data\AttributeInterface::setExtensionAttributes</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\CategoryInterface::KEY_PARENT_ID</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\CategoryInterface::KEY_NAME</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\CategoryInterface::KEY_IS_ACTIVE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\CategoryInterface::KEY_POSITION</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\CategoryInterface::KEY_LEVEL</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\CategoryInterface::KEY_UPDATED_AT</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\CategoryInterface::KEY_CREATED_AT</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\CategoryInterface::KEY_PATH</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\CategoryInterface::KEY_AVAILABLE_SORT_BY</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\CategoryInterface::KEY_INCLUDE_IN_MENU</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\CategoryInterface::KEY_PRODUCT_COUNT</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\CategoryInterface::KEY_CHILDREN_DATA</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\CategoryInterface::ATTRIBUTES</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\ProductAttributeInterface::getExtensionAttributes</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\ProductInterface::MEDIA_GALLERY</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\ProductInterface::TIER_PRICE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\ProductInterface::ATTRIBUTES</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Element\Block\ArgumentInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Setup\Declaration\Schema\Dto\ElementInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Search\EngineResolverInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MultiDimensionalIndexer\IndexHandlerInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MultiDimensionalIndexer\IndexNameResolverInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MultiDimensionalIndexer\IndexStructureInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MultiDimensionalIndexer\IndexTableSwitcherInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\ConsumerInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\EnvelopeInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\ExchangeFactoryInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\ExchangeInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\MessageIdGeneratorInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\PublisherInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\QueueFactoryInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\QueueInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\Topology\ConfigInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\Publisher\ConfigInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\Consumer\ConfigInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\Bulk\ExchangeFactoryInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\Bulk\ExchangeInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Mail\MailMessageInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Indexer\Dimension\DimensionProviderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Indexer\Dimension\DimensionalIndexerInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Exception\AggregateExceptionInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Event\ObserverInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Bulk\BulkManagementInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Bulk\BulkStatusInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Bulk\BulkSummaryInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Bulk\OperationInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Bulk\OperationManagementInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\App\Config\Storage\WriterInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Webapi\Model\ConfigInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Ui\DataProvider\Modifier\WysiwygModifierInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Swagger\Api\Data\SchemaTypeInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sitemap\Model\SitemapConfigReaderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sitemap\Model\SitemapItemInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sitemap\Model\ItemProvider\ConfigReaderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sitemap\Model\ItemProvider\ItemProviderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Api\CaseCreationServiceInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Api\CaseManagementInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Api\CaseRepositoryInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Api\GuaranteeCancelingServiceInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Api\GuaranteeCreationServiceInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Api\Data\CaseInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Api\Data\CaseSearchResultsInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Shipping\Model\ShipmentProviderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\ErrorMapper\ErrorMessageMapperInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Multishipping\Model\Checkout\Type\Multishipping\PlaceOrderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\PaymentMethodIntegration\AvailabilityCheckerInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\PaymentMethodIntegration\PaymentAdditionalInformationProviderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\PaymentMethodIntegration\PaymentTokenFormatterInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\InstantPurchaseInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\ShippingMethodChoose\DeferredShippingMethodChooserInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\ShippingMethodChoose\ShippingMethodChooserInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\ShippingAddressChoose\ShippingAddressChooserInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\PaymentMethodChoose\PaymentTokenChooserInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\BillingAddressChoose\BillingAddressChooserInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\SearchAdapter\Query\Builder\QueryInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\SearchAdapter\Filter\BuilderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\SearchAdapter\Filter\Builder\FilterInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\SearchAdapter\Aggregation\Builder\BucketBuilderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\Model\Adapter\BatchDataMapperInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\Model\Adapter\FieldMapperInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\Model\Adapter\Index\BuilderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\Model\Adapter\Index\Config\EsConfigInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Model\AuthenticationInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Model\Address\ValidatorInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Config\Model\Config\StructureElementInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Cms\Api\GetBlockByIdentifierInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Cms\Api\GetPageByIdentifierInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Cms\Api\GetUtilityPageIdentifiersInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\CheckoutAgreements\Api\CheckoutAgreementsListInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\CatalogInventory\Api\RegisterProductSaleInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\CatalogInventory\Api\RevertProductSaleInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\CatalogImportExport\Model\StockItemImporterInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\AsynchronousOperations\Model\ConfigInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\AsynchronousOperations\Api\BulkStatusInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\AsynchronousOperations\Api\Data\AsyncResponseInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\AsynchronousOperations\Api\Data\BulkOperationsStatusInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\AsynchronousOperations\Api\Data\BulkSummaryInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\AsynchronousOperations\Api\Data\DetailedBulkOperationsStatusInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\AsynchronousOperations\Api\Data\DetailedOperationStatusInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\AsynchronousOperations\Api\Data\ItemStatusInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\AsynchronousOperations\Api\Data\OperationInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\AsynchronousOperations\Api\Data\OperationListInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\AsynchronousOperations\Api\Data\SummaryOperationStatusInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\Connector\Http\ConverterInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\AdvancedSearch\Model\SuggestedQueriesInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\AdvancedSearch\Model\Client\ClientFactoryInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\AdvancedSearch\Model\Client\ClientInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\AdvancedSearch\Model\Client\ClientOptionsInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\AdvancedSearch\Model\Adapter\DataMapper\AdditionalFieldsProviderInterface</td>
        <td>Interface was added.</td>
    </tr>
</tbody></table>
