
<h2 id="class">Class</h2>
<table><tbody>
    <tr>
        <th>Target</th>
        <th>What Changed</th>
    </tr>
    <tr>
        <td>Magento\Customer\CustomerData\SectionPool::getSectionsData</td>
        <td>[public] Method parameter name changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Reflection\DataObjectProcessor::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Ui\Component\Listing\Columns\Date::prepare</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Shipping\Model\Carrier\AbstractCarrierOnline::SPAIN_COUNTRY_ID</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Shipping\Model\Carrier\AbstractCarrierOnline::CANARY_ISLANDS_COUNTRY_ID</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Shipping\Model\Carrier\AbstractCarrierOnline::SANTA_CRUZ_DE_TENERIFE_REGION_ID</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Shipping\Model\Carrier\AbstractCarrierOnline::LAS_PALMAS_REGION_ID</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\SendFriend\Block\Send::_prepareLayout</td>
        <td>[protected] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\SalesRule\Model\Rule\Condition\Product\Combine::_isValid</td>
        <td>[protected] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order::getFrontendStatusLabel</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Config::getStatusFrontendLabel</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Creditmemo::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Creditmemo::XML_PATH_ALLOW_ZERO_GRANDTOTAL</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\AdminOrder\Create::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Sales\Block\Order\Item\Renderer\DefaultRenderer::getBaseTotalAmount</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Block\Adminhtml\Order\Create\Sidebar\Cart::getItemPrice</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Review\Model\ResourceModel\Review\Product\Collection::prepareStoreId</td>
        <td>[protected] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Reports\Model\ResourceModel\Quote\Collection::addStoreFilter</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Newsletter\Model\ResourceModel\Subscriber::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\ImportExport\Model\Import::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Directory\Model\Config\Source\WeightUnit::CODE_LBS</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Directory\Model\Config\Source\WeightUnit::CODE_KGS</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Model\Customer::getAttributeSetId</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\ConfigurableProduct\Block\Cart\Item\Renderer\Configurable::getProductPriceHtml</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Config\Model\Config::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Config\Console\Command\ConfigSet\DefaultProcessor::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Config\Block\System\Config\Form::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Config\App\Config\Type\System::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Checkout\Block\Onepage::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\CatalogImportExport\Model\Import\Product::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\CatalogImportExport\Model\Import\Product::COL_NEW_FROM_DATE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\CatalogImportExport\Model\Import\Product::COL_NEW_TO_DATE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Category::STORE_ID</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Design::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\ResourceModel\Product\Collection::prepareStoreId</td>
        <td>[protected] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Product\Url::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Product\Gallery\Processor::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Block\Product\View\Options\Type\Select::__construct</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Block\Product\ProductList\Toolbar::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Block\Adminhtml\Product\Edit\Action\Attribute\Tab\Attributes::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Bundle\Block\Adminhtml\Catalog\Product\Composite\Fieldset\Options\Type\Checkbox::getSelectionPrice</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Bundle\Block\Adminhtml\Catalog\Product\Composite\Fieldset\Options\Type\Multi::getSelectionPrice</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Backend\Block\Menu::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Backend\Block\Widget\Form::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Framework\Serialize\Serializer\JsonHexTag</td>
        <td>Class was added.</td>
    </tr>
</tbody></table>

<h2 id="interface">Interface</h2>
<table><tbody>
    <tr>
        <th>Target</th>
        <th>What Changed</th>
    </tr>
    <tr>
        <td>Magento\CatalogImportExport\Model\Import\Product\RowValidatorInterface::ERROR_NEW_TO_DATE</td>
        <td>Constant has been added.</td>
    </tr>
</tbody></table>
