
<h3 id="2.2.9-2.2.10-class">Class changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>Magento\Tax\Block\Adminhtml\Rate\Form::_construct</td>
        <td>[protected] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Block\Adminhtml\Items\Column\Name::truncateString</td>
        <td>[public] Method parameter typing removed.</td>
    </tr>
    <tr>
        <td>Magento\Review\Block\Customer\View::_toHtml</td>
        <td>[protected] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Eav\Model\Entity\Attribute\Source\Store::getAllOptions</td>
        <td>[public] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Directory\Model\Config\Source\Country\Full::toOptionArray</td>
        <td>[public] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Config\Console\Command\ConfigSetCommand::execute</td>
        <td>[protected] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Reports\Block\Adminhtml\Grid::__construct</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Eav\Model\ResourceModel\Entity\Attribute::_beforeDelete</td>
        <td>[protected] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Eav\Model\Entity\Attribute\Source\Store::getAllOptions</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Directory\Model\ResourceModel\Country::__construct</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Directory\Model\Config\Source\Country\Full::toOptionArray</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
</tbody></table>

<h3 id="2.2.9-2.2.10-interface">Interface changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>Magento\Vault\Api\PaymentTokenManagementInterface::getListByCustomerId</td>
        <td>[public] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\CreditmemoCommentRepositoryInterface::getList</td>
        <td>[public] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\CreditmemoManagementInterface::getCommentsList</td>
        <td>[public] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\OrderManagementInterface::getCommentsList</td>
        <td>[public] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\OrderStatusHistoryRepositoryInterface::getList</td>
        <td>[public] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\CreditmemoInterface::getComments</td>
        <td>[public] Method return typing changed.</td>
    </tr>
</tbody></table>
