
<h3 id="2.2.8-2.2.9-class">Class changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>Magento\AuthorizenetAcceptjs\Block\Form</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\AuthorizenetAcceptjs\Block\Info</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\AuthorizenetAcceptjs\Block\Payment</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Mail\Template\TransportBuilder::setFromByScope</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Swatches\Block\Product\Renderer\Listing\Configurable::getCacheKeyInfo</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Block\Adminhtml\Order\Create\Form\Account::extractValuesFromAttributes</td>
        <td>[private] Removed last method parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Reports\Model\ResourceModel\Product\Downloads\Collection::getSelectCountSql</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Category::beforeSave</td>
        <td>[public] Method has been added.</td>
    </tr>
</tbody></table>

<h3 id="2.2.8-2.2.9-interface">Interface changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>Magento\Store\Api\Data\WebsiteInterface::ADMIN_CODE</td>
        <td>Constant has been added.</td>
    </tr>
</tbody></table>
