
<h3 id="classes-231-23-develop">Changes in classes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How changed</th>
    </tr>
    <tr>
        <td>Magento\Framework\Webapi\ServiceInputProcessor::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Context::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Element\AbstractBlock::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Framework\Search\Request::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Framework\Search\Request::getSort</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Search\Response\QueryResponse::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Framework\Search\Response\QueryResponse::getTotal</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Search\Request\Builder::setSort</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Group::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Store::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Website::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Sales\Block\Adminhtml\Order\Create\Search\Grid::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Review\Model\ResourceModel\Review\Product\Collection::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Reports\Model\ResourceModel\Product\Collection::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Reports\Model\ResourceModel\Product\Lowstock\Collection::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Reports\Model\ResourceModel\Product\Index\Collection\AbstractCollection::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Reports\Model\ResourceModel\Product\Downloads\Collection::getSelectCountSql</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Reports\Model\ResourceModel\Customer\Collection::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\Elasticsearch5\SearchAdapter\Query\Builder::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\Elasticsearch5\SearchAdapter\Query\Builder::$sortBuilder</td>
        <td>[protected] Property has been added.</td>
    </tr>
    <tr>
        <td>Magento\Eav\Setup\EavSetup::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Eav\Model\Entity\Attribute::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Eav\Model\Entity\Type::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Eav\Model\Entity\Collection\AbstractCollection::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Eav\Model\Entity\Collection\VersionControl\AbstractCollection::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Eav\Model\Entity\Attribute\Group::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Cron\Model\Schedule::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Config\Model\Config::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Config\App\Config\Type\System::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Advanced::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\ResourceModel\Search\Collection::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\ResourceModel\Fulltext\Collection::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\ResourceModel\Advanced\Collection::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\ResourceModel\Advanced\Collection::setOrder</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\ResourceModel\Advanced\Collection::addCategoryFilter</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\ResourceModel\Advanced\Collection::setVisibility</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Ui\Component\Listing\Columns\Websites::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Ui\Component\Listing\Columns\Websites::applySorting</td>
        <td>[protected] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\ResourceModel\Product\Collection::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\ResourceModel\Product\Compare\Item\Collection::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\ResourceModel\Collection\AbstractCollection::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\ResourceModel\Category\Collection::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Framework\Code\NameBuilder</td>
        <td>Class was added.</td>
    </tr>
</tbody></table>

<h3 id="interfaces-231-23-develop">Changes in interfaces</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How changed</th>
    </tr>
    <tr>
        <td>Magento\Framework\Search\RequestInterface::getSort</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Model\ResourceModel\ResourceModelPoolInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\MessageQueue\Api\PoisonPillCompareInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\MessageQueue\Api\PoisonPillPutInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\MessageQueue\Api\PoisonPillReadInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\ImportExport\Api\ExportManagementInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\ImportExport\Api\Data\ExportInfoInterface</td>
        <td>Interface was added.</td>
    </tr>
</tbody></table>
