
<h3 id="2.3.1-2.3.2-class">Class changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>Magento\Framework\View\Element\Context::getLockGuardedCacheLoader</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Search\Request::getSort</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Search\Response\QueryResponse::getTotal</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Search\Request\Builder::setSort</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Wishlist\Block\Customer\Wishlist\Item\Column\Cart::__construct</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Reports\Model\ResourceModel\Product\Downloads\Collection::getSelectCountSql</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Checkout\Block\Cart\Coupon::_prepareLayout</td>
        <td>[protected] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\ResourceModel\Fulltext\Collection::addAttributeToSort</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\ResourceModel\Advanced\Collection::setOrder</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\ResourceModel\Advanced\Collection::addCategoryFilter</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\ResourceModel\Advanced\Collection::setVisibility</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Ui\Component\Listing\Columns\Websites::applySorting</td>
        <td>[protected] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Category::beforeSave</td>
        <td>[public] Method has been added.</td>
    </tr>
</tbody></table>

<h3 id="2.3.1-2.3.2-interface">Interface changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>Magento\ImportExport\Api\ExportManagementInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\ImportExport\Api\Data\ExportInfoInterface</td>
        <td>Interface was added.</td>
    </tr>
</tbody></table>

<h3 id="2.3.1-2.3.2-class-api-membership">Class API membership changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>Magento\Framework\Code\NameBuilder</td>
        <td>Class was added.</td>
    </tr>
</tbody></table>
