
<h3 id="2.3.1-2.3-develop-class">Class changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>Magento\Search\Block\Adminhtml\Dashboard\Last::__construct</td>
        <td>[public] Method parameter typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Search\Block\Adminhtml\Dashboard\Top::__construct</td>
        <td>[public] Method parameter typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Review\Model\ResourceModel\Rating::__construct</td>
        <td>[public] Method parameter typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Review\Model\ResourceModel\Review\Product\Collection::__construct</td>
        <td>[public] Method parameter typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Reports\Model\ResourceModel\Product\Collection::__construct</td>
        <td>[public] Method parameter typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Reports\Model\ResourceModel\Product\Lowstock\Collection::__construct</td>
        <td>[public] Method parameter typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Reports\Model\ResourceModel\Product\Index\Collection\AbstractCollection::__construct</td>
        <td>[public] Method parameter typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Downloadable\Block\Checkout\Cart\Item\Renderer::__construct</td>
        <td>[public] Method parameter typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Block\Form\Register::__construct</td>
        <td>[public] Method parameter typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Config\Model\Config\Structure\AbstractElement::__construct</td>
        <td>[public] Method parameter typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Config\Model\Config\Structure\Element\AbstractComposite::__construct</td>
        <td>[public] Method parameter typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Config\Model\Config\Structure\Element\Field::__construct</td>
        <td>[public] Method parameter typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Config\Model\Config\Structure\Element\Group::__construct</td>
        <td>[public] Method parameter typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Config\Model\Config\Structure\Element\Section::__construct</td>
        <td>[public] Method parameter typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Checkout\Block\Cart\Item\Renderer::__construct</td>
        <td>[public] Method parameter typing changed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\ResourceModel\Search\Collection::__construct</td>
        <td>[public] Method parameter typing changed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\ResourceModel\Fulltext\Collection::__construct</td>
        <td>[public] Method parameter typing changed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\ResourceModel\Advanced\Collection::__construct</td>
        <td>[public] Method parameter typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\AdvancedPricing::__construct</td>
        <td>[public] Method parameter typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Product::__construct</td>
        <td>[public] Method parameter typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\ResourceModel\Product\Collection::__construct</td>
        <td>[public] Method parameter typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\ResourceModel\Product\Indexer\Price\DefaultPrice::__construct</td>
        <td>[public] Method parameter typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\ResourceModel\Product\Compare\Item\Collection::__construct</td>
        <td>[public] Method parameter typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Block\Product\ProductList\Related::__construct</td>
        <td>[public] Method parameter typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Block\Product\ProductList\Upsell::__construct</td>
        <td>[public] Method parameter typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Block\Adminhtml\Product\Grid::__construct</td>
        <td>[public] Method parameter typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Block\Adminhtml\Product\Edit\Tab\Alerts\Price::__construct</td>
        <td>[public] Method parameter typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Block\Adminhtml\Product\Edit\Tab\Alerts\Stock::__construct</td>
        <td>[public] Method parameter typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Bundle\Model\ResourceModel\Selection\Collection::__construct</td>
        <td>[public] Method parameter typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Bundle\Block\Checkout\Cart\Item\Renderer::__construct</td>
        <td>[public] Method parameter typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Backend\Model\Menu\Item::__construct</td>
        <td>[public] Method parameter typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Element\AbstractBlock::__construct</td>
        <td>[public] Added an optional constructor parameter to extendable @api class.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Search\Request::getSort</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Search\Response\QueryResponse::getTotal</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Search\Request\Builder::setSort</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Wishlist\Block\Customer\Wishlist\Item\Column\Cart::__construct</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Reports\Model\ResourceModel\Product\Downloads\Collection::getSelectCountSql</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Reports\Block\Adminhtml\Grid::__construct</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\Elasticsearch5\SearchAdapter\Query\Builder::$sortBuilder</td>
        <td>[protected] Property has been added.</td>
    </tr>
    <tr>
        <td>Magento\Directory\Model\ResourceModel\Country::__construct</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\ResourceModel\Advanced\Collection::setOrder</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\ResourceModel\Advanced\Collection::addCategoryFilter</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\ResourceModel\Advanced\Collection::setVisibility</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Ui\Component\Listing\Columns\Websites::applySorting</td>
        <td>[protected] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Backend\Model\Url::setScope</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Backend\Model\Auth\Session::destroy</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Backend\Model\Auth\Session::getUser</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Backend\Model\Auth\Session::setUser</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Backend\Model\Auth\Session::hasUser</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Backend\Model\Auth\Session::unsUser</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Backend\Model\Auth\Session::getAcl</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Backend\Model\Auth\Session::setAcl</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Backend\Model\Auth\Session::hasAcl</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Backend\Model\Auth\Session::unsAcl</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Backend\Model\Auth\Session::writeClose</td>
        <td>[public] Method has been added.</td>
    </tr>
</tbody></table>

<h3 id="2.3.1-2.3-develop-interface">Interface changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>Magento\ImportExport\Api\ExportManagementInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\ImportExport\Api\Data\ExportInfoInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Search\RequestInterface::getSort</td>
        <td>[public] Method has been added.</td>
    </tr>
</tbody></table>

<h3 id="2.3.1-2.3-develop-class-api-membership">Class API membership changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>Magento\Framework\Code\NameBuilder</td>
        <td>Class was added.</td>
    </tr>
</tbody></table>
