
<h3 id="2.3.2-2.3.3-class">Class changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>Magento\Framework\Mail\Template\TransportBuilder::getTransport</td>
        <td>[public] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Mail\Template\TransportBuilder::getTemplate</td>
        <td>[protected] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\DataObject\Copy::copyFieldsetToTarget</td>
        <td>[public] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Data\Collection\AbstractDb::_renderFiltersBefore</td>
        <td>[protected] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Tax\Block\Adminhtml\Rate\Form::_construct</td>
        <td>[protected] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Swatches\Block\Product\Renderer\Configurable::getHtmlOutput</td>
        <td>[protected] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Config::getStateDefaultStatus</td>
        <td>[public] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Config::getStatusFrontendLabel</td>
        <td>[public] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Block\Order\History::_construct</td>
        <td>[protected] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Block\Order\History::_prepareLayout</td>
        <td>[protected] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Block\Order\Recent::_construct</td>
        <td>[protected] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Block\Order\Recent::_toHtml</td>
        <td>[protected] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Block\Adminhtml\Order\View::__construct</td>
        <td>[public] Method parameter typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Review\Block\Customer\View::_toHtml</td>
        <td>[protected] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Newsletter\Model\Subscriber::received</td>
        <td>[public] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Newsletter\Block\Adminhtml\Problem::_construct</td>
        <td>[protected] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Newsletter\Block\Adminhtml\Problem::getUnsubscribeButtonHtml</td>
        <td>[public] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Newsletter\Block\Adminhtml\Problem::getDeleteButtonHtml</td>
        <td>[public] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\GraphQl\Controller\GraphQl::dispatch</td>
        <td>[public] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Config\Console\Command\ConfigSetCommand::execute</td>
        <td>[protected] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Checkout\Block\Cart\Totals::__construct</td>
        <td>[public] Method parameter typing changed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogRule\Model\Indexer\IndexBuilder::getActiveRules</td>
        <td>[protected] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogRule\Model\Indexer\IndexBuilder::getAllRules</td>
        <td>[protected] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\ResourceModel\Product::getCategoryCollection</td>
        <td>[public] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Product\Visibility::getVisibleInCatalogIds</td>
        <td>[public] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Product\Visibility::getVisibleInSearchIds</td>
        <td>[public] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Product\Visibility::getVisibleInSiteIds</td>
        <td>[public] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Block\Adminhtml\Product\Grid::_construct</td>
        <td>[protected] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Block\Adminhtml\Product\Grid::_prepareCollection</td>
        <td>[protected] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Block\Adminhtml\Product\Grid::_addColumnFilterToCollection</td>
        <td>[protected] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Block\Adminhtml\Product\Grid::_prepareColumns</td>
        <td>[protected] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Block\Adminhtml\Product\Grid::_prepareMassaction</td>
        <td>[protected] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Block\Adminhtml\Product\Grid::getGridUrl</td>
        <td>[public] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Block\Adminhtml\Product\Grid::getRowUrl</td>
        <td>[public] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Backend\Block\Store\Switcher::_construct</td>
        <td>[protected] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Wishlist\Model\ResourceModel\Item\Collection::_renderFiltersBefore</td>
        <td>[protected] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Address::beforeSave</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Reports\Block\Adminhtml\Grid::__construct</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\PageCache\Model\Config::VARNISH_6_CONFIGURATION_PATH</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Eav\Model\ResourceModel\Entity\Attribute::_beforeDelete</td>
        <td>[protected] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Directory\Model\ResourceModel\Country::__construct</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Backend\Model\Url::setScope</td>
        <td>[public] Method has been added.</td>
    </tr>
</tbody></table>

<h3 id="2.3.2-2.3.3-interface">Interface changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>Magento\Vault\Api\PaymentTokenManagementInterface::getListByCustomerId</td>
        <td>[public] Method return typing changed.</td>
    </tr>
</tbody></table>
