<h3 id="class-200-201">Changes in classes</h3>
<table><tbody>
<tr>
    <th>What changed</th>
    <th>How changed</th>
</tr>
    <tr>
        <td>Magento\User\Observer\Backend\CheckAdminPasswordChangeObserver</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\PageCache\Model\App\FrontController\MessageBox</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Data\Form\FormKey::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Swatches\Helper\Data::loadFirstVariationWithSwatchImage</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Swatches\Block\Product\Renderer\Configurable::getAllOptionsIdsFromAttributeArray</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Plugin\StoreCookie::aroundDispatch</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogUrlRewrite\Observer\AfterImportDataObserver::cleanOverriddenUrlKey</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogUrlRewrite\Observer\AfterImportDataObserver::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogUrlRewrite\Observer\AfterImportDataObserver::$urlKeyAttribute</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogUrlRewrite\Observer\AfterImportDataObserver::$entityStoresToCheckOverridden</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\Fulltext\Action\Full::rebuildIndex</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\Fulltext\Action\Full::getSearchableProducts</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\Fulltext\Action\Full::deleteIndex</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\Fulltext\Action\Full::getProductAttributes</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\Fulltext\Action\Full::getProductChildIds</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\Fulltext\Action\Full::prepareProductIndex</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\Fulltext\Action\Full::getAttributeValue</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\Fulltext\Action\Full::getStoreDate</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\Fulltext\Action\Full::getIterator</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\Fulltext\Action\Full::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogImportExport\Model\Import\Product::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Product\Option\Type\File\ValidatorFile::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
</tbody></table>