
<h3 id="class-212-213">Changes in classes</h3>
<table><tbody>
<tr>
    <th>What changed</th>
    <th>How changed</th>
</tr>
    <tr>
        <td>Magento\Store\Model\Config\Reader\DefaultReader</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Config\Reader\ReaderPool</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Config\Reader\Store</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Config\Reader\Website</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Quote\Setup\Recurring</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\ConfigurableProduct\Plugin\Model\Product</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\ConfigurableProduct\Block\Plugin\Product\Media\Gallery</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Plugin\PaymentVaultAttributesLoad::aroundGetExtensionAttributes</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\User\Model\ResourceModel\User::$_usersTable</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Config\Converter::__construct</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Config\Converter::$_processor</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Config\Processor\Placeholder::_processData</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Config\Processor\Placeholder::_processPlaceholders</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Config\Processor\Placeholder::_getPlaceholder</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Config\Processor\Placeholder::_getValue</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Config\Processor\Placeholder::_setValue</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Deploy\Model\Deployer::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogUrlRewrite\Model\Category\Plugin\Store\View::aroundSave</td>
        <td>[public] Method has been removed.</td>
    </tr>
</tbody></table>

<h3 id="interface-212-213">Changes in interfaces</h3>
<table><tbody>
<tr>
    <th>What changed</th>
    <th>How changed</th>
</tr>
    <tr>
        <td>Magento\Vault\Block\CardRendererInterface::getIconUrl</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\CardRendererInterface::getIconHeight</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\CardRendererInterface::getIconWidth</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\CardRendererInterface::getToken</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\TokenRendererInterface::getToken</td>
        <td>[public] Method has been added.</td>
    </tr>
</tbody></table>
