<h3 id="class-216-217">Changes in classes</h3>
<table><tbody>
<tr>
    <th>What Changed</th>
    <th>How Changed</th>
</tr>
    <tr>
        <td>Magento\Swatches\Model\ProductSubstitute</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Swatches\Model\Plugin\ProductImageBuilder</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\View\Asset\Image</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\View\Asset\Placeholder</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\View\Asset\Image\Context</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Product\Image\ParamsBuilder</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Product\Image\SizeCache</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Product\Image\UrlBuilder</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Block\Product\ImageBlockBuilder</td>
        <td>Class was removed.</td>
    </tr>
</tbody></table>
