<h3 id="classes-220-221">Changes in classes</h3>
<table><tbody>
<tr>
    <th>What Changed</th>
    <th>How Changed</th>
</tr>
    <tr>
        <td>Magento\Framework\Module\Setup\Migration::__construct</td>
        <td>[public] Method parameter name changed.</td>
    </tr>
    <tr>
        <td>Magento\Quote\Model\Quote::__construct</td>
        <td>[public] Method parameter name changed.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Block\Address\Edit::__construct</td>
        <td>[public] Method parameter name changed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogRule\Model\Indexer\IndexBuilder::__construct</td>
        <td>[public] Method parameter name changed.</td>
    </tr>
    <tr>
        <td>Magento\Sitemap\Model\ResourceModel\Catalog\Product::prepareSelectStatement</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Block\Address\Edit::isAttributeAllowedOnForm</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\CatalogImportExport\Model\Export\Product::loadCollection</td>
        <td>[protected] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Swagger\Block\Index</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Model\MessageGenerators\GeneratorException</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Block\Fingerprint</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Block\Adminhtml\CaseInfo</td>
        <td>Class was added.</td>
    </tr>
</tbody></table>

<h3 id="interfaces-220-221">Changes in interfaces</h3>
<table><tbody>
<tr>
    <th>What Changed</th>
    <th>How Changed</th>
</tr>
    <tr>
        <td>Magento\Signifyd\Api\CaseCreationServiceInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Api\CaseManagementInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Api\CaseRepositoryInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Api\GuaranteeCancelingServiceInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Api\GuaranteeCreationServiceInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Api\Data\CaseInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Api\Data\CaseSearchResultsInterface</td>
        <td>Interface was added.</td>
    </tr>
</tbody></table>
