<h3 id="classes-224-225">Changes in classes</h3>
<table><tbody>
<tr>
    <th>What Changed</th>
    <th>How Changed</th>
</tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\Fulltext\Action\DataProvider::getSearchableProducts</td>
        <td>[public] Method parameter name changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\File\Uploader::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Swatches\Block\Product\Renderer\Listing\Configurable::__construct</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Swatches\Block\Product\Renderer\Listing\Configurable::getPriceFormatJson</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Swatches\Block\Product\Renderer\Listing\Configurable::getPricesJson</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Block\Order\Recent::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Sales\Block\Order\Recent::getRecentOrders</td>
        <td>[protected] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Block\Order\Recent::ORDER_LIMIT</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Multishipping\Model\Checkout\Type\Multishipping::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Directory\Model\ResourceModel\Country\Collection::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\CustomerImportExport\Model\Import\Customer::prepareCustomerData</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\CustomerImportExport\Model\Import\Customer::validateData</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\ConfigurableProduct\Block\Product\View\Type\Configurable::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\Fulltext::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\Fulltext\Action\DataProvider::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\Fulltext\Action\Full::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\CatalogInventory\Model\Source\Stock::addValueSortToCollection</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\CatalogImportExport\Model\Import\Uploader::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\ResourceModel\Product::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\ResourceModel\Product\Collection::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\ResourceModel\Product\Indexer\Price\DefaultPrice::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Indexer\Category\Product\AbstractAction::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Indexer\Category\Product\AbstractAction::getIndexTable</td>
        <td>[protected] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Indexer\Category\Product\AbstractAction::$tableMaintainer</td>
        <td>[protected] Property has been added.</td>
    </tr>
</tbody></table>

<h3 id="interfaces-224-225">Changes in interfaces</h3>
<table><tbody>
<tr>
    <th>What Changed</th>
    <th>How Changed</th>
</tr>
    <tr>
        <td>Magento\CatalogInventory\Api\Data\StockStatusInterface::STATUS_OUT_OF_STOCK</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\CatalogInventory\Api\Data\StockStatusInterface::STATUS_IN_STOCK</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Lock\LockManagerInterface</td>
        <td>Interface was added.</td>
    </tr>
</tbody></table>
