<h3 id="classes-223-224">Changes in classes</h3>
<table><tbody>
<tr>
    <th>What Changed</th>
    <th>How Changed</th>
</tr>
    <tr>
        <td>Magento\Framework\File\Uploader::getDispersionPath</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Config\ConfigOptionsListConstants::CONFIG_PATH_SCD_ON_DEMAND_IN_PRODUCTION</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Widget\Model\Widget\Instance::SINGLE_PRODUCT_LAYOUT_HANDLE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Theme\Block\Html\Footer::getCacheLifetime</td>
        <td>[protected] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Sitemap\Model\ResourceModel\Cms\Page::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Creditmemo::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\AdminOrder\Create::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Sales\Block\Adminhtml\Order\Creditmemo\Create\Adjustments::getUpdateTotalsUrl</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Block\Adminhtml\Order\Creditmemo\Create\Items::getUpdateTotalsButtonHtml</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Model\Method\AbstractMethod::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Payment\Gateway\Command\GatewayCommand::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Multishipping\Model\Checkout\Type\Multishipping::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Eav\Model\Entity\AbstractEntity::addAttributeByScope</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Directory\Model\Currency::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Customer\Model\Customer::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Config\Model\Config\Source\Nooptreq::VALUE_NO</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Config\Model\Config\Source\Nooptreq::VALUE_OPTIONAL</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Config\Model\Config\Source\Nooptreq::VALUE_REQUIRED</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Config\Console\Command\ConfigSetCommand::OPTION_LOCK_ENV</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Config\Console\Command\ConfigSetCommand::OPTION_LOCK_CONFIG</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Config\Console\Command\ConfigSet\ConfigSetProcessorFactory::TYPE_LOCK_ENV</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Config\Console\Command\ConfigSet\ConfigSetProcessorFactory::TYPE_LOCK_CONFIG</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Config\Console\Command\ConfigSet\ProcessorFacade::processWithLockTarget</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\ResourceModel\Fulltext\Collection::_beforeLoad</td>
        <td>[protected] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\CatalogRule\Model\Indexer\IndexBuilder::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\CatalogImportExport\Model\Import\Product::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Product::getCacheTags</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Product\Option\Value::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Indexer\Category\Product\AbstractAction::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Bundle\Pricing\Price\ConfiguredPrice::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Backup\Model\ResourceModel\Db::getTableTriggersSql</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Backup\Model\ResourceModel\Helper::getTableTriggersSql</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Backend\Block\GlobalSearch::__construct</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Backend\Block\GlobalSearch::getEntitiesToShow</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Paypal\Block\Adminhtml\Order\View</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Multishipping\Block\Checkout\Results</td>
        <td>Class was added.</td>
    </tr>
</tbody></table>

<h3 id="interfaces-223-224">Changes in interfaces</h3>
<table><tbody>
<tr>
    <th>What Changed</th>
    <th>How Changed</th>
</tr>
    <tr>
        <td>Magento\Framework\View\Element\Block\ArgumentInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Event\ObserverInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Cms\Api\GetUtilityPageIdentifiersInterface</td>
        <td>Interface was added.</td>
    </tr>
</tbody></table>
