<h3 id="classes-225-226">Changes in classes</h3>
<table><tbody>
<tr>
    <th>What Changed</th>
    <th>How Changed</th>
</tr>
    <tr>
        <td>Magento\Review\Block\Customer\ListCustomer::getProductUrl</td>
        <td>[public] Method parameter name changed.</td>
    </tr>
    <tr>
        <td>Magento\Config\Model\Config::__construct</td>
        <td>[public] Method parameter typing added.</td>
    </tr>
    <tr>
        <td>Magento\Config\Model\Config::__construct</td>
        <td>[public] Method parameter typing removed.</td>
    </tr>
    <tr>
        <td>Magento\GroupedProduct\Model\ResourceModel\Product\Indexer\Price\Grouped::TRANSIT_PREFIX</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Page\Config::setMetaTitle</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Page\Config::getMetaTitle</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Page\Config::META_DESCRIPTION</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Page\Config::META_CONTENT_TYPE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Page\Config::META_MEDIA_TYPE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Page\Config::META_CHARSET</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Page\Config::META_TITLE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Page\Config::META_KEYWORDS</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Page\Config::META_ROBOTS</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Page\Config::META_X_UI_COMPATIBLE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Exception\AbstractAggregateException::addException</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Widget\Model\Widget\Instance::$_productType</td>
        <td>[protected] Property has been added.</td>
    </tr>
    <tr>
        <td>Magento\Widget\Model\Widget\Instance::$_reader</td>
        <td>[protected] Property has been added.</td>
    </tr>
    <tr>
        <td>Magento\User\Model\User::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\User\Model\User::MESSAGE_ID_PASSWORD_EXPIRED</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Swatches\Model\ResourceModel\Swatch::clearSwatchOptionByOptionIdAndType</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Group::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Group::afterSave</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Store::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Store\Block\Switcher::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Sitemap\Model\ResourceModel\Catalog\Product::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Shipping\Model\Carrier\AbstractCarrier::processAdditionalValidation</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Shipping\Model\Carrier\AbstractCarrierOnline::processAdditionalValidation</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order::addCommentToStatusHistory</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Quote\Model\ResourceModel\Quote\Item\Collection::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Newsletter\Model\Subscriber::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Multishipping\Block\Checkout\Overview::getBillingAddressTotals</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Eav\Model\Entity\Attribute\AbstractAttribute::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Config\App\Config\Type\System::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\CatalogRule\Model\Rule\Job::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\CatalogImportExport\Model\Import\Product\Type\AbstractType::$invAttributesCache</td>
        <td>[public] Property has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Eav::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\General::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Category::_getResource</td>
        <td>[protected] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Category::$_resource</td>
        <td>[protected] Property has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Product::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Product::_getResource</td>
        <td>[protected] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Product::getFormattedPrice</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Product::$_resource</td>
        <td>[protected] Property has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\ResourceModel\Product\Collection::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\ResourceModel\Layer\Filter\Price::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\ResourceModel\Layer\Filter\Price::getMainTable</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Product\Option::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Product\Type\Price::getFormattedTierPrice</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Product\Type\Price::getFormattedPrice</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Product\Option\Type\DefaultType::_getChargeableOptionPrice</td>
        <td>[protected] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Block\Product\View\Options\AbstractOptions::getFormattedPrice</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Block\Product\Compare\ListCompare::hasAttributeValueForProducts</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Bundle\Model\ResourceModel\Selection\Collection::__construct</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Backend\Block\Media\Uploader::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Framework\Math\FloatComparator</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Api\SortOrder</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Api\SortOrderBuilder</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Api\Search\FilterGroup</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Api\Search\FilterGroupBuilder</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Config\Model\Config\Structure\ElementVisibility\ConcealInProduction</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Config\Model\Config\Structure\ElementVisibility\ConcealInProductionWithoutScdOnDemand</td>
        <td>Class was added.</td>
    </tr>
</tbody></table>

<h3 id="interfaces-225-226">Changes in interfaces</h3>
<table><tbody>
<tr>
    <th>What Changed</th>
    <th>How Changed</th>
</tr>
    <tr>
        <td>Magento\Webapi\Model\ConfigInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Swagger\Api\Data\SchemaTypeInterface</td>
        <td>Interface was added.</td>
    </tr>
</tbody></table>
