
<h3 id="2.2.10-2.2.11-class">Class changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>Magento\SalesRule\Block\Adminhtml\Promo\Quote\Edit\Tab\Coupons\Grid::_construct</td>
        <td>[protected] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\SalesRule\Block\Adminhtml\Promo\Quote\Edit\Tab\Coupons\Grid::_prepareCollection</td>
        <td>[protected] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\SalesRule\Block\Adminhtml\Promo\Quote\Edit\Tab\Coupons\Grid::_prepareColumns</td>
        <td>[protected] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\SalesRule\Block\Adminhtml\Promo\Quote\Edit\Tab\Coupons\Grid::_prepareMassaction</td>
        <td>[protected] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\SalesRule\Block\Adminhtml\Promo\Quote\Edit\Tab\Coupons\Grid::getGridUrl</td>
        <td>[public] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Category::getAttributes</td>
        <td>[public] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Category::getDesignAttributes</td>
        <td>[public] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Attribute\Backend\Customlayoutupdate::validate</td>
        <td>[public] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Filter\Template::forDirective</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Filter\Template::setStrictMode</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Filter\Template::isStrictMode</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Filter\Template::LOOP_PATTERN</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Wishlist\Model\ResourceModel\Item\Collection::_renderFiltersBefore</td>
        <td>[protected] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Cms\Model\Page::__construct</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Attribute\Backend\Customlayoutupdate::beforeSave</td>
        <td>[public] Method has been added.</td>
    </tr>
</tbody></table>
