
<h3 id="2.3.4-2.3.5-develop-class">Class changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>Magento\Reports\Model\ResourceModel\Review\Customer\Collection::getSelectCountSql</td>
        <td>[public] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Quote\Model\Quote\Address::getQuote</td>
        <td>[public] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Quote\Model\Quote\Address::exportCustomerAddress</td>
        <td>[public] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Quote\Model\Quote\Address::getItemsCollection</td>
        <td>[public] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Quote\Model\Quote\Address::getShippingRatesCollection</td>
        <td>[public] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Quote\Model\Quote\Address::getShippingRateById</td>
        <td>[public] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Quote\Model\Quote\Address::getShippingRateByCode</td>
        <td>[public] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Quote\Model\Quote\Address::__clone</td>
        <td>[public] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Quote\Model\Quote\Address::getExtensionAttributes</td>
        <td>[public] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\ImportExport\Model\Export\Adapter\Csv::__destruct</td>
        <td>[public] Method has been added.</td>
    </tr>
</tbody></table>

<h3 id="2.3.4-2.3.5-develop-system">System changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>system.xml</td>
        <td>System configuration file was added</td>
    </tr>
    <tr>
        <td>payment/deprecated_payment_methods</td>
        <td>A group-node was added</td>
    </tr>
</tbody></table>

<h3 id="2.3.4-2.3.5-develop-xsd">Xsd changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>/etc/csp_whitelist.xsd</td>
        <td>A schema declaration was added</td>
    </tr>
</tbody></table>

<h3 id="2.3.4-2.3.5-develop-class-api-membership">Class API membership changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>Magento\Framework\Url</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Session\SessionManager</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\App\Router\Base</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Block\Adminhtml\Order\Create\Form\Address</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Directory\Block\Data</td>
        <td>Class was added.</td>
    </tr>
</tbody></table>
