
<h3 id="ce_2.3.5-2.3.6-class">Class changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>Magento\User\Model\User::$_cacheTag</td>
        <td>[protected] Property has been added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Block\Order\Email\Items::__construct</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Block\Order\Email\Items::getOrder</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Block\Order\Email\Shipment\Items::__construct</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Block\Order\Email\Shipment\Items::getOrder</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Block\Order\Email\Shipment\Items::getShipment</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Block\Order\Email\Invoice\Items::__construct</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Block\Order\Email\Invoice\Items::getOrder</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Block\Order\Email\Invoice\Items::getInvoice</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Block\Order\Email\Creditmemo\Items::__construct</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Block\Order\Email\Creditmemo\Items::getOrder</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Block\Order\Email\Creditmemo\Items::getCreditmemo</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Category::getCacheTags</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Product::getCacheTags</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Authorization\Model\Role::$_cacheTag</td>
        <td>[protected] Property has been added.</td>
    </tr>
</tbody></table>

<h3 id="ce_2.3.5-2.3.6-class-api-membership">Class API membership changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>Magento\Framework\Url</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Locale\Resolver</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Api\AbstractSimpleObjectBuilder</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Translation\Model\ResourceModel\Translate</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\SalesRule\Model\Validator</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Review\Block\Product\View</td>
        <td>Class was added.</td>
    </tr>
</tbody></table>
