
<h3 id="ce_2.4.2-2.4.3-develop-class">Class changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
</tbody></table>

<h3 id="ce_2.4.2-2.4.3-develop-class-api-membership">Class API membership changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>Magento\Framework\Session\Config</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Session\SessionManager</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Block\Items\AbstractItems</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Block\Adminhtml\Order\Create\Form\Address</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Backend\App\Action\Plugin\Authentication</td>
        <td>Class was added.</td>
    </tr>
</tbody></table>

<h3 id="ce_2.4.2-2.4.3-develop-interface-api-membership">Interface API membership changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>Magento\Framework\Session\Config\ConfigInterface</td>
        <td>Interface was added.</td>
    </tr>
</tbody></table>
