
<h3 id="ce_2.4.1-2.4.2-develop-class">Class changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>Magento\Framework\File\Uploader::_moveFile</td>
        <td>[protected] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Data\Collection\Filesystem::_usort</td>
        <td>[protected] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Block\Order\Recent::__construct</td>
        <td>[public] Method parameter typing changed.</td>
    </tr>
    <tr>
        <td>Magento\MediaGalleryUi\Block\Adminhtml\ImageDetails</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\MediaGalleryUi\Block\Adminhtml\ImageDetailsStandalone</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\ResourceModel\Product\Option\Value\Collection::$_eventPrefix</td>
        <td>[protected] Property has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\ResourceModel\Product\Option\Value\Collection::$_eventObject</td>
        <td>[protected] Property has been added.</td>
    </tr>
</tbody></table>

<h3 id="ce_2.4.1-2.4.2-develop-system">System changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>system.xml</td>
        <td>System configuration file was added</td>
    </tr>
    <tr>
        <td>system.xml</td>
        <td>System configuration file was added</td>
    </tr>
    <tr>
        <td>web/url</td>
        <td>A group-node was added</td>
    </tr>
    <tr>
        <td>web/url/catalog_media_url_format</td>
        <td>A field-node was added</td>
    </tr>
</tbody></table>

<h3 id="ce_2.4.1-2.4.2-develop-class-api-membership">Class API membership changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Indexer\Category\Product\AbstractAction</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Url</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Session\Config</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Review\Block\Adminhtml\Grid</td>
        <td>Class was added.</td>
    </tr>
</tbody></table>
