
<h3 id="ce-2.4.3-2.4.4-develop-class">Class changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>Magento\Framework\Search\Request\Query\Match</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\SearchAdapter\Mapper::__construct</td>
        <td>[public] Method parameter typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\Elasticsearch5\SearchAdapter\Mapper::__construct</td>
        <td>[public] Method parameter typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Search\Request\Query\MatchQuery</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Block\Adminhtml\Order\View\Tab\Creditmemos::__construct</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Block\Adminhtml\Order\View\Tab\Invoices::__construct</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Model\ResourceModel\Customer::findSessionCutOff</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Model\ResourceModel\Customer::updateSessionCutOff</td>
        <td>[public] Method has been added.</td>
    </tr>
</tbody></table>

<h3 id="ce-2.4.3-2.4.4-develop-database">Database changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>jwt_auth_revoked</td>
        <td>Table was added</td>
    </tr>
    <tr>
        <td>jwt_auth_revoked</td>
        <td>Table was added</td>
    </tr>
    <tr>
        <td>customer_entity/session_cutoff</td>
        <td>Column was added</td>
    </tr>
    <tr>
        <td>customer_visitor/created_at</td>
        <td>Column was added</td>
    </tr>
    <tr>
        <td>jwt_auth_revoked</td>
        <td>Table was added</td>
    </tr>
    <tr>
        <td>customer_entity/session_cutoff</td>
        <td>Column was added</td>
    </tr>
    <tr>
        <td>customer_visitor/created_at</td>
        <td>Column was added</td>
    </tr>
    <tr>
        <td>jwt_auth_revoked</td>
        <td>Table was added</td>
    </tr>
    <tr>
        <td>customer_entity/session_cutoff</td>
        <td>Column was added</td>
    </tr>
    <tr>
        <td>customer_visitor/created_at</td>
        <td>Column was added</td>
    </tr>
    <tr>
        <td>jwt_auth_revoked</td>
        <td>Table was added</td>
    </tr>
    <tr>
        <td>customer_entity/session_cutoff</td>
        <td>Column was added</td>
    </tr>
    <tr>
        <td>customer_visitor/created_at</td>
        <td>Column was added</td>
    </tr>
    <tr>
        <td>jwt_auth_revoked</td>
        <td>Table was added</td>
    </tr>
    <tr>
        <td>customer_entity/session_cutoff</td>
        <td>Column was added</td>
    </tr>
    <tr>
        <td>customer_visitor/created_at</td>
        <td>Column was added</td>
    </tr>
    <tr>
        <td>jwt_auth_revoked</td>
        <td>Table was added</td>
    </tr>
    <tr>
        <td>customer_entity/session_cutoff</td>
        <td>Column was added</td>
    </tr>
    <tr>
        <td>customer_visitor/created_at</td>
        <td>Column was added</td>
    </tr>
</tbody></table>

<h3 id="ce-2.4.3-2.4.4-develop-system">System changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>system.xml</td>
        <td>System configuration file was added</td>
    </tr>
    <tr>
        <td>system.xml</td>
        <td>System configuration file was added</td>
    </tr>
</tbody></table>

<h3 id="ce-2.4.3-2.4.4-develop-class-api-membership">Class API membership changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>Magento\Framework\Session\SessionManager</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Api\AbstractSimpleObjectBuilder</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Backend\App\Action\Plugin\Authentication</td>
        <td>Class was added.</td>
    </tr>
</tbody></table>
