
<h3 id="ce_2.4.2-2.4.3-develop-class">Class changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>Magento\Email\Model\Template\Filter::__construct</td>
        <td>[public] Method parameter typing added.</td>
    </tr>
    <tr>
        <td>Magento\Email\Model\Template\Filter::$emogrifier</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Paypal\Block\PayLater\Banner</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\ResourceModel\Product::_afterDelete</td>
        <td>[protected] Method has been added.</td>
    </tr>
</tbody></table>

<h3 id="ce_2.4.2-2.4.3-develop-interface">Interface changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>Magento\Customer\Api\GroupExcludedWebsiteRepositoryInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Api\Data\GroupExcludedWebsiteInterface</td>
        <td>Interface was added.</td>
    </tr>
</tbody></table>

<h3 id="ce_2.4.2-2.4.3-develop-database">Database changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>catalog_url_rewrite_product_category/PRIMARY</td>
        <td>Primary key was added</td>
    </tr>
    <tr>
        <td>catalog_url_rewrite_product_category/PRIMARY</td>
        <td>Primary key was added</td>
    </tr>
    <tr>
        <td>catalog_url_rewrite_product_category/PRIMARY</td>
        <td>Primary key was added</td>
    </tr>
    <tr>
        <td>catalog_url_rewrite_product_category/PRIMARY</td>
        <td>Primary key was added</td>
    </tr>
    <tr>
        <td>customer_group_excluded_website</td>
        <td>Table was added</td>
    </tr>
    <tr>
        <td>customer_group_excluded_website</td>
        <td>Table was added</td>
    </tr>
    <tr>
        <td>customer_group_excluded_website</td>
        <td>Table was added</td>
    </tr>
    <tr>
        <td>customer_group_excluded_website</td>
        <td>Table was added</td>
    </tr>
    <tr>
        <td>customer_group_excluded_website</td>
        <td>Table was added</td>
    </tr>
    <tr>
        <td>customer_group_excluded_website</td>
        <td>Table was added</td>
    </tr>
    <tr>
        <td>customer_group_excluded_website</td>
        <td>Table was added</td>
    </tr>
</tbody></table>

<h3 id="ce_2.4.2-2.4.3-develop-system">System changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>system</td>
        <td>A section-node was added</td>
    </tr>
    <tr>
        <td>system/security</td>
        <td>A group-node was added</td>
    </tr>
    <tr>
        <td>system/security/max_session_size_admin</td>
        <td>A field-node was added</td>
    </tr>
    <tr>
        <td>system/security/max_session_size_storefront</td>
        <td>A field-node was added</td>
    </tr>
    <tr>
        <td>payment_all_paypal/payments_pro_hosted_solution_without_bml_and_paylater</td>
        <td>A group-node was added</td>
    </tr>
    <tr>
        <td>payment_all_paypal/payments_pro_hosted_solution_without_bml_and_paylater/pphs_required_settings</td>
        <td>A group-node was added</td>
    </tr>
    <tr>
        <td>payment_all_paypal/payments_pro_hosted_solution_without_bml_and_paylater/pphs_required_settings/pphs_advertise_paylater</td>
        <td>A group-node was added</td>
    </tr>
    <tr>
        <td>payment_all_paypal/payments_pro_hosted_solution_without_bml_and_paylater/pphs_required_settings/enable_paypal_paylater_experience</td>
        <td>A field-node was added</td>
    </tr>
    <tr>
        <td>payment_gb/paypal_alternative_payment_methods/express_checkout_gb/express_checkout_required/advertise_paylater</td>
        <td>A group-node was added</td>
    </tr>
    <tr>
        <td>payment_gb/paypal_alternative_payment_methods/express_checkout_gb/express_checkout_required/advertise_paylater/paylater_enabled</td>
        <td>A field-node was added</td>
    </tr>
    <tr>
        <td>payment_gb/paypal_group_all_in_one/wps_express/express_checkout_required/advertise_paylater</td>
        <td>A group-node was added</td>
    </tr>
    <tr>
        <td>payment_gb/paypal_group_all_in_one/wps_express/express_checkout_required/enable_paypal_paylater_experience</td>
        <td>A field-node was added</td>
    </tr>
    <tr>
        <td>payment_other/express_checkout_other/express_checkout_required/advertise_paylater</td>
        <td>A group-node was added</td>
    </tr>
    <tr>
        <td>payment_other/express_checkout_other/express_checkout_required/enable_paypal_paylater_experience</td>
        <td>A field-node was added</td>
    </tr>
    <tr>
        <td>payment_other/paypal_group_all_in_one/wps_other/express_checkout_required/advertise_paylater</td>
        <td>A group-node was added</td>
    </tr>
    <tr>
        <td>payment_other/paypal_group_all_in_one/wps_other/express_checkout_required/enable_paypal_paylater_experience</td>
        <td>A field-node was added</td>
    </tr>
    <tr>
        <td>payment_ca/paypal_payment_gateways/wpp_ca/paypal_payflow_required/paypal_payflow_advertise_paylater</td>
        <td>A group-node was added</td>
    </tr>
    <tr>
        <td>payment_ca/paypal_payment_gateways/wpp_ca/paypal_payflow_required/enable_paypal_paylater_experience</td>
        <td>A field-node was added</td>
    </tr>
    <tr>
        <td>payment_ca/paypal_payment_gateways/paypal_payflowpro_ca/paypal_payflow_required</td>
        <td>A group-node was added</td>
    </tr>
    <tr>
        <td>payment_ca/paypal_payment_gateways/paypal_payflowpro_ca/paypal_payflow_required/paypal_payflow_advertise_paylater</td>
        <td>A group-node was added</td>
    </tr>
    <tr>
        <td>payment_ca/paypal_payment_gateways/paypal_payflowpro_ca/paypal_payflow_required/enable_paypal_paylater_experience</td>
        <td>A field-node was added</td>
    </tr>
    <tr>
        <td>payment_ca/paypal_payment_gateways/payflow_link_ca/payflow_link_required/payflow_link_advertise_paylater</td>
        <td>A group-node was added</td>
    </tr>
    <tr>
        <td>payment_ca/paypal_payment_gateways/payflow_link_ca/payflow_link_required/enable_paypal_paylater_experience</td>
        <td>A field-node was added</td>
    </tr>
    <tr>
        <td>payment_au/express_checkout_other/express_checkout_required</td>
        <td>A group-node was added</td>
    </tr>
    <tr>
        <td>payment_au/express_checkout_other/express_checkout_required/advertise_paylater</td>
        <td>A group-node was added</td>
    </tr>
    <tr>
        <td>payment_au/express_checkout_other/express_checkout_required/enable_paypal_paylater_experience</td>
        <td>A field-node was added</td>
    </tr>
    <tr>
        <td>payment_fr/express_checkout_other/express_checkout_required</td>
        <td>A group-node was added</td>
    </tr>
    <tr>
        <td>payment_fr/express_checkout_other/express_checkout_required/advertise_paylater</td>
        <td>A group-node was added</td>
    </tr>
    <tr>
        <td>payment_fr/express_checkout_other/express_checkout_required/advertise_paylater/paylater_enabled</td>
        <td>A field-node was added</td>
    </tr>
    <tr>
        <td>payment_fr/express_checkout_other/express_checkout_required/enable_paypal_paylater_experience</td>
        <td>A field-node was added</td>
    </tr>
</tbody></table>

<h3 id="ce_2.4.2-2.4.3-develop-class-api-membership">Class API membership changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>Magento\Framework\Session\Config</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Session\SessionManager</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\App\Router\Base</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Block\Items\AbstractItems</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Block\Adminhtml\Order\Create\Form\Address</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\MediaStorage\Model\ResourceModel\File\Storage\AbstractStorage</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\MediaStorage\Model\File\Storage\Database\AbstractDatabase</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Eav\Block\Adminhtml\Attribute\Edit\Main\AbstractMain</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Backend\Block\Dashboard\Bar</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Backend\App\Action\Plugin\Authentication</td>
        <td>Class was added.</td>
    </tr>
</tbody></table>

<h3 id="ce_2.4.2-2.4.3-develop-interface-api-membership">Interface API membership changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>Magento\Framework\Session\Config\ConfigInterface</td>
        <td>Interface was added.</td>
    </tr>
</tbody></table>
