
<h3 id="ce_2.4.0-2.4.1-class">Class changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>Magento\Framework\Stdlib\Cookie\CookieMetadata::setSameSite</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Stdlib\Cookie\CookieMetadata::getSameSite</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Stdlib\Cookie\CookieMetadata::KEY_SAME_SITE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\User\Model\User::$_cacheTag</td>
        <td>[protected] Property has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Category::getCacheTags</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Product::getCacheTags</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Authorization\Model\Role::$_cacheTag</td>
        <td>[protected] Property has been added.</td>
    </tr>
</tbody></table>

<h3 id="ce_2.4.0-2.4.1-interface">Interface changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>Magento\Eav\Api\AttributeOptionUpdateInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\ProductAttributeOptionUpdateInterface</td>
        <td>Interface was added.</td>
    </tr>
</tbody></table>

<h3 id="ce_2.4.0-2.4.1-database">Database changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>media_gallery_asset/MEDIA_GALLERY_ID_PATH_TITLE_CONTENT_TYPE_WIDTH_HEIGHT</td>
        <td>Unique key was removed</td>
    </tr>
    <tr>
        <td>media_gallery_asset/MEDIA_GALLERY_ID_PATH_TITLE_CONTENT_TYPE_WIDTH_HEIGHT</td>
        <td>Unique key was removed</td>
    </tr>
    <tr>
        <td>media_gallery_asset/MEDIA_GALLERY_ID_PATH_TITLE_CONTENT_TYPE_WIDTH_HEIGHT</td>
        <td>Unique key was removed</td>
    </tr>
    <tr>
        <td>media_gallery_asset/constraint</td>
        <td>Module db schema whitelist reduced (media_gallery_asset/constraint).</td>
    </tr>
    <tr>
        <td>login_as_customer_assistance_allowed</td>
        <td>Table was added</td>
    </tr>
    <tr>
        <td>login_as_customer_assistance_allowed</td>
        <td>Table was added</td>
    </tr>
    <tr>
        <td>login_as_customer_assistance_allowed</td>
        <td>Table was added</td>
    </tr>
    <tr>
        <td>login_as_customer_assistance_allowed</td>
        <td>Table was added</td>
    </tr>
    <tr>
        <td>login_as_customer_assistance_allowed</td>
        <td>Table was added</td>
    </tr>
    <tr>
        <td>login_as_customer_assistance_allowed</td>
        <td>Table was added</td>
    </tr>
    <tr>
        <td>login_as_customer_assistance_allowed</td>
        <td>Table was added</td>
    </tr>
</tbody></table>

<h3 id="ce_2.4.0-2.4.1-system">System changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>system.xml</td>
        <td>System configuration file was added</td>
    </tr>
    <tr>
        <td>system.xml</td>
        <td>System configuration file was added</td>
    </tr>
    <tr>
        <td>checkout/cart/enable_clear_shopping_cart</td>
        <td>A field-node was added</td>
    </tr>
</tbody></table>

<h3 id="ce_2.4.0-2.4.1-xsd">Xsd changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>maxIdleTime</td>
        <td>An optional attribute was added</td>
    </tr>
    <tr>
        <td>sleep</td>
        <td>An optional attribute was added</td>
    </tr>
    <tr>
        <td>onlySpawnWhenMessageAvailable</td>
        <td>An optional attribute was added</td>
    </tr>
</tbody></table>

<h3 id="ce_2.4.0-2.4.1-class-api-membership">Class API membership changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>Magento\Framework\View\Page\Builder</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\SalesRule\Model\Validator</td>
        <td>Class was added.</td>
    </tr>
</tbody></table>
