
<h2 id="class">Class</h2>
<table><tbody>
    <tr>
        <th>Target</th>
        <th>What Changed</th>
    </tr>
    <tr>
        <td>Magento\Rma\Block\Adminhtml\Rma\Item\Attribute\Edit\Tab\Main::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\GiftCardAccount\Block\Check::_toHtml</td>
        <td>[protected] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\CustomerCustomAttributes\Block\Adminhtml\Customer\Attribute\Edit\Tab\Main::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\CustomerCustomAttributes\Block\Adminhtml\Customer\Address\Attribute\Edit\Tab\General::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\WebapiAsync\Model\BulkServiceConfig</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\WebapiAsync\Model\ServiceConfig</td>
        <td>Class was added.</td>
    </tr>
</tbody></table>

<h2 id="interface">Interface</h2>
<table><tbody>
    <tr>
        <th>Target</th>
        <th>What Changed</th>
    </tr>
    <tr>
        <td>Magento\Framework\Bulk\OperationInterface::RESULT_SERIALIZED_DATA</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Bulk\OperationInterface::STATUS_TYPE_REJECTED</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\AsynchronousOperations\Model\ConfigInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\AsynchronousOperations\Api\BulkStatusInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\AsynchronousOperations\Api\Data\AsyncResponseInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\AsynchronousOperations\Api\Data\BulkOperationsStatusInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\AsynchronousOperations\Api\Data\DetailedBulkOperationsStatusInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\AsynchronousOperations\Api\Data\DetailedOperationStatusInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\AsynchronousOperations\Api\Data\ItemStatusInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\AsynchronousOperations\Api\Data\SummaryOperationStatusInterface</td>
        <td>Interface was added.</td>
    </tr>
</tbody></table>
