<h3 id="ee-classes-225-226">{{ site.data.var.ee }} only changes in classes</h3>
<table><tbody>
<tr>
    <th>What Changed</th>
    <th>How Changed</th>
</tr>
    <tr>
        <td>Magento\AdvancedSearch\Model\ResourceModel\Index::__construct</td>
        <td>[public] Method parameter typing added.</td>
    </tr>
    <tr>
        <td>Magento\AdvancedSearch\Model\ResourceModel\Index::__construct</td>
        <td>[public] Method parameter typing removed.</td>
    </tr>
    <tr>
        <td>Magento\VisualMerchandiser\Model\Sorting\SortAbstract::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\Model\ResourceModel\Index::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\AdminGws\Model\Collections::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\AdminGws\Model\Role::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
</tbody></table>
