
<h3 id="2.2.9-2.2.10-class">Class changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
</tbody></table>

<h3 id="2.2.9-2.2.10-class-api-membership">Class API membership changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>Magento\CustomerCustomAttributes\Block\Adminhtml\Customer\ValidationMessages</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Banner\Model\Banner</td>
        <td>Class was added.</td>
    </tr>
</tbody></table>
