
<h3 id="ee-classes-231-23-develop">{{ site.data.var.ee }} only changes in classes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How changed</th>
    </tr>
    <tr>
        <td>Magento\CatalogPermissions\Model\Indexer\AbstractAction::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\CatalogPermissions\Model\Indexer\Category\Action\Full::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\CatalogPermissions\Model\Indexer\Category\Action\Rows::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\CustomerCustomAttributes\Block\Adminhtml\Customer\ValidationMessages</td>
        <td>Class was added.</td>
    </tr>
</tbody></table>
