
<h2 id="class">Class</h2>
<table><tbody>
    <tr>
        <th>Target</th>
        <th>What Changed</th>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\ExchangeFactory</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\MessageLockException</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\PublisherPool</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\QueueFactory</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\Bulk\ExchangeFactory</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Amqp\Config</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Amqp\ConnectionTypeResolver</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Amqp\Exchange</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Amqp\ExchangeFactory</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Amqp\Queue</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Amqp\QueueFactory</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Model\MessageGenerators\GeneratorException</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Block\Fingerprint</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Block\Adminhtml\CaseInfo</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\MysqlMq\Model\Message</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\MysqlMq\Model\MessageStatus</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\MysqlMq\Model\Queue</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\MysqlMq\Model\QueueManagement</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\MysqlMq\Model\ResourceModel\MessageStatusCollection</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\MessageQueue\Model\ConsumerRunner</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\SearchAdapter\AggregationFactory</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\SearchAdapter\ConnectionManager</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\SearchAdapter\DocumentFactory</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\SearchAdapter\Mapper</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\SearchAdapter\ResponseFactory</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\SearchAdapter\SearchIndexNameResolver</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\SearchAdapter\Query\Builder</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\SearchAdapter\Query\Preprocessor\Stopwords</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\SearchAdapter\Query\Builder\Aggregation</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\SearchAdapter\Dynamic\DataProvider</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\Model\Config</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\Model\ResourceModel\Index</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\Model\Adapter\FieldType</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\Model\Adapter\Index\IndexNameResolver</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\Model\Adapter\Document\Builder</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\AdvancedSearch\Model\ResourceModel\Index</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\AdvancedSearch\Model\ResourceModel\Recommendations</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\AdvancedSearch\Model\ResourceModel\Search\Grid\Collection</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\AdvancedSearch\Model\Client\ClientResolver</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\AdvancedSearch\Model\Adminhtml\Search\Grid\Options</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\AdvancedSearch\Block\Recommendations</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\AdvancedSearch\Block\Suggestions</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\AdvancedSearch\Block\Adminhtml\System\Config\TestConnection</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\AdvancedSearch\Block\Adminhtml\Search\Edit</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\AdvancedSearch\Block\Adminhtml\Search\Grid</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Rma\Block\Adminhtml\Rma\Edit\Tab\General\Shipping\Methods::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Banner\Model\ResourceModel\Banner\Collection::$_eventPrefix</td>
        <td>[protected] Property has been added.</td>
    </tr>
    <tr>
        <td>Magento\Banner\Model\ResourceModel\Banner\Collection::$_eventObject</td>
        <td>[protected] Property has been added.</td>
    </tr>
    <tr>
        <td>Magento\Banner\Model\Banner</td>
        <td>Class was added.</td>
    </tr>
</tbody></table>

<h2 id="interface">Interface</h2>
<table><tbody>
    <tr>
        <th>Target</th>
        <th>What Changed</th>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\ConsumerInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\EnvelopeInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\ExchangeFactoryInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\ExchangeInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\MessageIdGeneratorInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\PublisherInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\QueueFactoryInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\QueueInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\Topology\ConfigInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\Publisher\ConfigInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\Consumer\ConfigInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\Bulk\ExchangeFactoryInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\Bulk\ExchangeInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Bulk\BulkManagementInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Bulk\BulkStatusInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Bulk\BulkSummaryInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Bulk\OperationInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Bulk\OperationManagementInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Api\CaseCreationServiceInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Api\CaseManagementInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Api\CaseRepositoryInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Api\GuaranteeCancelingServiceInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Api\GuaranteeCreationServiceInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Api\Data\CaseInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Api\Data\CaseSearchResultsInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\SearchAdapter\Query\Builder\QueryInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\SearchAdapter\Filter\BuilderInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\SearchAdapter\Filter\Builder\FilterInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\SearchAdapter\Aggregation\Builder\BucketBuilderInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\Model\Adapter\BatchDataMapperInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\Model\Adapter\FieldMapperInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\Model\Adapter\Index\BuilderInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\Model\Adapter\Index\Config\EsConfigInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\AsynchronousOperations\Api\Data\BulkSummaryInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\AsynchronousOperations\Api\Data\OperationInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\AsynchronousOperations\Api\Data\OperationListInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\AdvancedSearch\Model\SuggestedQueriesInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\AdvancedSearch\Model\Client\ClientFactoryInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\AdvancedSearch\Model\Client\ClientInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\AdvancedSearch\Model\Client\ClientOptionsInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\AdvancedSearch\Model\Adapter\DataMapper\AdditionalFieldsProviderInterface</td>
        <td>Interface was removed.</td>
    </tr>
</tbody></table>
