
<h2 id="class">Class</h2>
<table><tbody>
    <tr>
        <th>Target</th>
        <th>What Changed</th>
    </tr>
    <tr>
        <td>Magento\Signifyd\Model\MessageGenerators\GeneratorException</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Block\Fingerprint</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Block\Adminhtml\CaseInfo</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\AdvancedSearch\Model\Client\ClientResolver::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Banner\Model\ResourceModel\Banner\Collection::$_eventPrefix</td>
        <td>[protected] Property has been added.</td>
    </tr>
    <tr>
        <td>Magento\Banner\Model\ResourceModel\Banner\Collection::$_eventObject</td>
        <td>[protected] Property has been added.</td>
    </tr>
    <tr>
        <td>Magento\Banner\Model\Banner</td>
        <td>Class was added.</td>
    </tr>
</tbody></table>

<h2 id="interface">Interface</h2>
<table><tbody>
    <tr>
        <th>Target</th>
        <th>What Changed</th>
    </tr>
    <tr>
        <td>Magento\Signifyd\Api\CaseCreationServiceInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Api\CaseManagementInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Api\CaseRepositoryInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Api\GuaranteeCancelingServiceInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Api\GuaranteeCreationServiceInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Api\Data\CaseInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Api\Data\CaseSearchResultsInterface</td>
        <td>Interface was removed.</td>
    </tr>
</tbody></table>
