
<h2 id="class">Class</h2>
<table><tbody>
    <tr>
        <th>Target</th>
        <th>What Changed</th>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\ExchangeFactory</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\MessageLockException</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\PublisherPool</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\QueueFactory</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\Bulk\ExchangeFactory</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Amqp\Config</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Amqp\ConnectionTypeResolver</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Amqp\Exchange</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Amqp\ExchangeFactory</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Amqp\Queue</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Amqp\QueueFactory</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Model\MessageGenerators\GeneratorException</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Block\Fingerprint</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Block\Adminhtml\CaseInfo</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\MysqlMq\Model\Message</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\MysqlMq\Model\MessageStatus</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\MysqlMq\Model\Queue</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\MysqlMq\Model\QueueManagement</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\MysqlMq\Model\ResourceModel\MessageStatusCollection</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\MessageQueue\Model\ConsumerRunner</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\AdvancedSearch\Model\Client\ClientResolver::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Banner\Model\ResourceModel\Banner\Collection::$_eventPrefix</td>
        <td>[protected] Property has been added.</td>
    </tr>
    <tr>
        <td>Magento\Banner\Model\ResourceModel\Banner\Collection::$_eventObject</td>
        <td>[protected] Property has been added.</td>
    </tr>
    <tr>
        <td>Magento\Banner\Model\Banner</td>
        <td>Class was added.</td>
    </tr>
</tbody></table>

<h2 id="interface">Interface</h2>
<table><tbody>
    <tr>
        <th>Target</th>
        <th>What Changed</th>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\ConsumerInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\EnvelopeInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\ExchangeFactoryInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\ExchangeInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\MessageIdGeneratorInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\PublisherInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\QueueFactoryInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\QueueInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\Topology\ConfigInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\Publisher\ConfigInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\Consumer\ConfigInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\Bulk\ExchangeFactoryInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\Bulk\ExchangeInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Bulk\BulkManagementInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Bulk\BulkStatusInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Bulk\BulkSummaryInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Bulk\OperationInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Bulk\OperationManagementInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Api\CaseCreationServiceInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Api\CaseManagementInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Api\CaseRepositoryInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Api\GuaranteeCancelingServiceInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Api\GuaranteeCreationServiceInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Api\Data\CaseInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Api\Data\CaseSearchResultsInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\AsynchronousOperations\Api\Data\BulkSummaryInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\AsynchronousOperations\Api\Data\OperationInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\AsynchronousOperations\Api\Data\OperationListInterface</td>
        <td>Interface was removed.</td>
    </tr>
</tbody></table>
