
<h2 id="class">Class</h2>
<table><tbody>
    <tr>
        <th>Target</th>
        <th>What Changed</th>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\Config\Reader\Xml\Converter\DeprecatedFormat</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\SalesArchive\Observer\SalesUpdateGridRecordsObserver</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\PromotionPermissions\Block\Adminhtml\Plugin</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\MysqlMq\Setup\RecurringData</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\MessageValidator::__construct</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\Rpc\Publisher::publishToQueue</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\ForeignKey\ObjectRelationProcessor\Plugin::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Observer\AddCmsToTopmenuItems::_isCmsNodeActive</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Staging\Ui\Component\Listing\Column\Entity\UpdateActions::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Staging\Ui\Component\Listing\Column\Entity\UpdateActions::$entityIdentifier</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Staging\Ui\Component\Listing\Column\Entity\UpdateActions::$entityColumn</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Staging\Ui\Component\Listing\Column\Entity\UpdateActions::$jsModalProvider</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Staging\Ui\Component\Listing\Column\Entity\UpdateActions::$jsLoaderProvider</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Staging\Model\StagingApplier::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\SalesRuleStaging\Setup\InstallSchema::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\SalesRuleStaging\Setup\InstallSchema::$salesRuleMigrationFactory</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\SalesArchive\Model\ResourceModel\Plugin\Grid::aroundRefresh</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\SalesArchive\Model\ResourceModel\Plugin\Grid::$gridPool</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\SalesArchive\Model\ResourceModel\Plugin\Grid::$archive</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\SalesArchive\Model\ResourceModel\Plugin\Grid::$resource</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Reward\Model\Plugin\CartTotalRepository::aroundGet</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Reward\Model\Plugin\OrderRepository::aroundGet</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Reward\Model\Plugin\RewardPointsRefund::aroundSave</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Reward\Model\Plugin\RuleRepositoryPlugin::aroundGetById</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Reward\Model\Plugin\RuleRepositoryPlugin::aroundSave</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\PromotionPermissions\Block\Adminhtml\Reminder\Plugin::aroundCanRender</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\PromotionPermissions\Block\Adminhtml\Reminder\Plugin::$restrictedButtons</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\PromotionPermissions\Block\Adminhtml\Reminder\Edit\Plugin::aroundCanRender</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\PromotionPermissions\Block\Adminhtml\Reminder\Edit\Plugin::$restrictedButtons</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\PromotionPermissions\Block\Adminhtml\Promo\Quote\Plugin::aroundCanRender</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\PromotionPermissions\Block\Adminhtml\Promo\Quote\Plugin::$restrictedButtons</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\PromotionPermissions\Block\Adminhtml\Promo\Catalog\Plugin::aroundCanRender</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\PromotionPermissions\Block\Adminhtml\Promo\Catalog\Plugin::$restrictedButtons</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\PricePermissions\Ui\DataProvider\Product\Form\Modifier\Plugin\Eav::aroundSetupAttributeMeta</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\PricePermissions\Ui\DataProvider\Product\Form\Modifier\Plugin\Eav::aroundSetupAttributeContainerMeta</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\PricePermissions\Ui\DataProvider\Product\Form\Modifier\Plugin\Eav::aroundSetupAttributeData</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\PricePermissions\Model\Entity\Attribute\Backend\Plugin\AbstractBackend::aroundValidate</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Logging\App\Action\Plugin\Log::aroundDispatch</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\GiftWrapping\Model\Plugin\MessageCartRepository::aroundSave</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\GiftWrapping\Model\Plugin\MessageCartRepository::$helper</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\GiftWrapping\Model\Plugin\MessageItemRepository::aroundSave</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\GiftWrapping\Model\Plugin\MessageItemRepository::$helper</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\GiftWrapping\Model\Plugin\TotalsConverter::aroundProcess</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\GiftRegistry\Model\Plugin\ConvertQuoteAddressToOrderAddress::aroundConvert</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\GiftRegistry\Model\Plugin\OrderAddressName::aroundGetName</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\GiftRegistry\Model\Plugin\QuoteItem::aroundConvert</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\GiftCardAccount\Model\Plugin\InvoiceRepository::beforeSave</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\GiftCardAccount\Model\Plugin\TotalsConverter::aroundProcess</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\GiftCardAccount\Model\Plugin\TotalsConverter::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\GiftCard\Observer\GenerateGiftCardAccounts::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\GiftCard\Observer\GenerateGiftCardAccounts::$invoiceRepository</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\GiftCard\Observer\GenerateGiftCardAccounts::$itemsFactory</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\GiftCard\Model\Plugin\QuoteItem::aroundConvert</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\GiftCard\Model\Plugin\QuoteItem::$_scopeConfig</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\GiftCard\Helper\GiftRegistry\Plugin::aroundCanAddToGiftRegistry</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Enterprise\Model\Plugin\StoreSwitcher::aroundGetHintUrl</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CustomerSegment\Model\ResourceModel\Grid\Collection::_initSelect</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CustomerSegment\Model\Checkout\Block\Cart\Shipping\Plugin::aroundCollect</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CustomerCustomAttributes\Model\Plugin\ConvertQuoteAddressToOrderAddress::aroundConvert</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CustomerBalance\Model\Plugin\InvoiceRepository::beforeSave</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\CheckoutStaging\Plugin\SavePreviewQuotaPlugin::aroundSave</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogStaging\Plugin\Model\Indexer\Product\Flat\Table\Builder::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogStaging\Model\Plugin\ResourceModel\Product\Collection::aroundJoinAttribute</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogRuleStaging\Setup\InstallSchema::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogRuleStaging\Setup\InstallSchema::$catalogRuleSetupFactory</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogPermissions\Model\Indexer\Plugin\IndexerConfigData::aroundGet</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogPermissions\Model\Indexer\Plugin\Store\Group::aroundSave</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogPermissions\Model\Indexer\Plugin\Store\View::aroundSave</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogPermissions\Model\Indexer\Plugin\Product\Action::aroundUpdateAttributes</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogPermissions\Model\Indexer\Plugin\Product\Action::aroundUpdateWebsites</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Amqp\Setup\Recurring::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Amqp\Setup\Recurring::$topology</td>
        <td>[protected] Property has been removed.</td>
    </tr>
</tbody></table>

<h2 id="interface">Interface</h2>
<table><tbody>
    <tr>
        <th>Target</th>
        <th>What Changed</th>
    </tr>
    <tr>
        <td>Magento\Framework\Bulk\BulkManagementInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Bulk\BulkStatusInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Bulk\BulkSummaryInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Bulk\OperationInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Bulk\OperationManagementInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Api\CaseCreationServiceInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Api\CaseManagementInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Api\CaseRepositoryInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Api\GuaranteeCancelingServiceInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Api\GuaranteeCreationServiceInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Api\Data\CaseInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Signifyd\Api\Data\CaseSearchResultsInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\GiftCardAccount\Api\Data\GiftCardInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\AsynchronousOperations\Api\Data\BulkSummaryInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\AsynchronousOperations\Api\Data\OperationInterface</td>
        <td>Interface was added.</td>
    </tr>
</tbody></table>
