<h3 id="classes-220rc12-220rc11">Changes in classes</h3>
<table><tbody>
<tr>
    <th>What Changed</th>
    <th>How Changed</th>
</tr>
<tr>
    <td>Magento\Reward\Setup\Recurring</td>
    <td>Class was removed.</td>
</tr>
<tr>
    <td>Magento\Reward\Observer\LoadRewardSalesruleData</td>
    <td>Class was removed.</td>
</tr>
<tr>
    <td>Magento\Reward\Observer\SaveRewardSalesruleData</td>
    <td>Class was removed.</td>
</tr>
<tr>
    <td>Magento\Reward\Model\Plugin\RuleRepositoryPlugin</td>
    <td>Class was removed.</td>
</tr>
<tr>
    <td>Magento\TargetRule\Model\ResourceModel\Index::__construct</td>
    <td>[public] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\WebsiteRestriction\Model\Config</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\WebsiteRestriction\Model\Mode</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\WebsiteRestriction\Model\Restrictor</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\WebsiteRestriction\Model\System\Config\Source\Http</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\WebsiteRestriction\Model\System\Config\Source\Modes</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\WebsiteRestriction\Model\System\Config\Source\Redirect</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\WebsiteRestriction\Model\Config\Reader</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\WebsiteRestriction\Model\Config\SchemaLocator</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\PricePermissions\Helper\Data</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\GoogleTagManager\Model\Config\Source\AccountType</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\GoogleTagManager\Model\Banner\Collector</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\GoogleTagManager\Helper\Data</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Elasticsearch\SearchAdapter\AggregationFactory</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Elasticsearch\SearchAdapter\ConnectionManager</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Elasticsearch\SearchAdapter\DocumentFactory</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Elasticsearch\SearchAdapter\Mapper</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Elasticsearch\SearchAdapter\ResponseFactory</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Elasticsearch\SearchAdapter\SearchIndexNameResolver</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Elasticsearch\SearchAdapter\Query\Builder</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Elasticsearch\SearchAdapter\Query\Preprocessor\Stopwords</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Elasticsearch\SearchAdapter\Query\Builder\Aggregation</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Elasticsearch\SearchAdapter\Dynamic\DataProvider</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Elasticsearch\Model\Config</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Elasticsearch\Model\ResourceModel\Index</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Elasticsearch\Model\Adapter\FieldType</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Elasticsearch\Model\Adapter\Index\IndexNameResolver</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Elasticsearch\Model\Adapter\Document\Builder</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogPermissions\Model\Permission</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogPermissions\Model\ResourceModel\Permission</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogPermissions\Model\ResourceModel\Permission\Collection</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogPermissions\Model\ResourceModel\Permission\Index</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogPermissions\Model\Permission\Index</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogPermissions\Model\Indexer\AbstractAction</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogPermissions\Model\Indexer\Category</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogPermissions\Model\Indexer\Product</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogPermissions\Model\Indexer\System\Config\Mode</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogPermissions\Model\Indexer\Product\Action\Rows</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogPermissions\Model\Indexer\Product\Action\RowsFactory</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogPermissions\Model\Indexer\Category\Action\Full</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogPermissions\Model\Indexer\Category\Action\Rows</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogPermissions\Model\Indexer\Category\Action\RowsFactory</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogPermissions\Model\Adminhtml\System\Config\Source\Grant</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogPermissions\Model\Adminhtml\System\Config\Source\Grant\Landing</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogPermissions\Model\Adminhtml\System\Config\Source\Customer\Group</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogPermissions\Helper\Data</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogPermissions\Helper\Index</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogPermissions\Block\Adminhtml\Catalog\Category\Tab\Permissions</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogPermissions\Block\Adminhtml\Catalog\Category\Tab\Permissions\Row</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogEvent\Model\DateResolver</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogEvent\Model\ResourceModel\Event</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogEvent\Model\ResourceModel\Event\Collection</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogEvent\Model\Category\EventList</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogEvent\Helper\Data</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogEvent\Helper\Adminhtml\Event</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogEvent\Block\Adminhtml\Event\Edit\Form</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogEvent\Block\Adminhtml\Catalog\Category\Edit\AddEventButton</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Banner\Block\Widget\Banner</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\AdvancedSearch\Model\ResourceModel\Index</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\AdvancedSearch\Model\ResourceModel\Recommendations</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\AdvancedSearch\Model\ResourceModel\Search\Grid\Collection</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\AdvancedSearch\Model\Client\ClientResolver</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\AdvancedSearch\Model\Adminhtml\Search\Grid\Options</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\AdvancedSearch\Block\Adminhtml\System\Config\TestConnection</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\AdminGws\Model\Blocks</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\AdminGws\Model\CallbackInvoker</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\AdminGws\Model\Collections</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\AdminGws\Model\Config</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\AdminGws\Model\Containers</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\AdminGws\Model\Role</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\AdminGws\Model\ResourceModel\Collections</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\AdminGws\Model\Config\Reader</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\AdminGws\Model\Config\SchemaLocator</td>
    <td>Class was added.</td>
</tr>
</tbody></table>

<h3 id="interfaces-220rc12-220rc11">Changes in interfaces</h3>
<table><tbody>
<tr>
    <th>What Changed</th>
    <th>How Changed</th>
</tr>
<tr>
    <td>Magento\Elasticsearch\SearchAdapter\Query\Builder\QueryInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Elasticsearch\SearchAdapter\Filter\BuilderInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Elasticsearch\SearchAdapter\Filter\Builder\FilterInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Elasticsearch\SearchAdapter\Aggregation\Builder\BucketBuilderInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Elasticsearch\Model\Adapter\BatchDataMapperInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Elasticsearch\Model\Adapter\FieldMapperInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Elasticsearch\Model\Adapter\Index\BuilderInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Elasticsearch\Model\Adapter\Index\Config\EsConfigInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\CatalogPermissions\App\ConfigInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\AdvancedSearch\Model\SuggestedQueriesInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\AdvancedSearch\Model\Client\ClientFactoryInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\AdvancedSearch\Model\Client\ClientInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\AdvancedSearch\Model\Client\ClientOptionsInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\AdminGws\Model\CallbackProcessorInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\AdminGws\Model\ConfigInterface</td>
    <td>Interface was added.</td>
</tr>
</tbody></table>
