<h3 id="classes-220rc15-220rc14">Changes in classes</h3>
<table><tbody>
<tr>
    <th>What Changed</th>
    <th>How Changed</th>
</tr>
    <tr>
        <td>Magento\CatalogPermissions\Model\Indexer\Category\Action\Full::publishCategoryIndexData</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogPermissions\Model\Indexer\Category\Action\Full::publishProductIndexData</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogPermissions\Model\Indexer\Category\Action\Full::removeObsoleteCategoryIndexData</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogPermissions\Model\Indexer\Category\Action\Full::removeObsoleteProductIndexData</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogPermissions\Model\Indexer\AbstractAction::REPLICA_SUFFIX</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\CatalogPermissions\Model\Indexer\Category\Action\Full::__construct</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\CatalogPermissions\Model\Indexer\Category\Action\Full::getIndexTable</td>
        <td>[protected] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\CatalogPermissions\Model\Indexer\Category\Action\Full::getProductIndexTable</td>
        <td>[protected] Method has been added.</td>
    </tr>
</tbody></table>
