<h3 id="classes-220rc13-220rc12">Changes in classes</h3>
<table><tbody>
<tr>
<th>What Changed</th>
<th>How Changed</th>
</tr>
<tr>
    <td>Magento\CatalogPermissions\Model\Indexer\AbstractAction::populateCategoryIndex</td>
    <td>[protected] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\CatalogPermissions\Model\Indexer\AbstractAction::createProductSelect</td>
    <td>[protected] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\CatalogPermissions\Model\Indexer\AbstractAction::populateProductIndex</td>
    <td>[protected] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\PersistentHistory\Observer\SetQuotePersistentDataObserver::__construct</td>
    <td>[public] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\PersistentHistory\Observer\SetQuotePersistentDataObserver::$_persistentSession</td>
    <td>[protected] Property has been removed.</td>
</tr>
<tr>
    <td>Magento\PersistentHistory\Observer\SetQuotePersistentDataObserver::$_customerSession</td>
    <td>[protected] Property has been removed.</td>
</tr>
<tr>
    <td>Magento\PersistentHistory\Observer\SetQuotePersistentDataObserver::$_ePersistentData</td>
    <td>[protected] Property has been removed.</td>
</tr>
<tr>
    <td>Magento\PersistentHistory\Observer\SetQuotePersistentDataObserver::$_mPersistentData</td>
    <td>[protected] Property has been removed.</td>
</tr>
</tbody></table>
