<div class="message-banner">
  <h4>Magento 1.x end of life notice</h4>
  <p>
    Magento will provide software support for Magento Commerce 1x through June 2020. Some versions of Magento Commerce 1x include software support for quality fixes and security patches. Review our <a href="https://magento.com/sites/default/files/magento-software-lifecycle-policy.pdf">Magento Software Lifecycle Policy</a> to see version-specific support information.
  </p>
  <p>
    Magento software support applies to Magento Commerce software only, and not third party extensions or customizations. All third party extension maintenance, including security and compliance, are the responsibility of the licensee. Contact the appropriate provider or developer to ensure each of your extensions/customizations is up-to-date.
  </p>
</div>
