/* Banner on top of the site header */

.message-banner { margin-bottom: 10px; }

/* Reference styles */

.content .ref-list { margin-bottom: 2.5em; }

.content .ref-list dt { font-weight: 500; }

/* Page survey button */

.page-survey-buttons .spectrum-Button--secondary { margin-right: 10px; }
