/* Banner on top of the site header */
.message-banner {
  margin: 0;
  padding: 10px;
}

/* Banner on top of the page for older versions */
.message-banner.version-banner {
  margin-bottom: 15px;
}

/* Info box on when the page was updated */
.page-updated {
  margin: 0 0 10px 0;
  color: #767676;
  cursor: help;
}

.page-updated img {
  width: 18px;
  height: 18px;
}

/* Reference styles */
.ref-list {
  margin-bottom: 2.5em;
}

.ref-list dt{
  font-weight:500;
}

/* Paragraph that introduces important reference information (e.g., Related topics, Next step, Previous step), but does not qualify as a proper heading. Mimics the current H3 style */
.ref-header {
  font-weight: bold;
  font-size: 1.3em;
  margin: 1.5em 0 0.5em 0;
}

/* Collapsible styles */
.collapsible {
  margin: 0 0 1.3em;
}

/* Makes all the big code snippets scrollable */
.content-wrap > div[class*="language-"].highlighter-rouge .highlight {
  overflow: auto;
  margin: 0 0 20px;
  max-height: 700px;
}
