.message-banner { 
margin-bottom: 10px; 
}

.content .ref-list { 
margin-bottom: 2.5em; 
}

.content .ref-list dt { 
font-weight: 500; 
}

.content .ref-header { 
font-weight: var(--spectrum-heading-3-text-font-weight, var(--spectrum-alias-heading-text-font-weight-regular)); 
font-size: var(--spectrum-heading-3-text-size, var(--spectrum-alias-heading3-text-size));
margin: 2em 0 .7em 0; 
}

.container > .feature > ul > li > img.img-icon { 
margin-top: -4px; 
}

.page-survey-buttons .spectrum-Button--secondary { 
margin-right: 10px; 
}
