{% capture url %}{% if page.language%}{{ page.url | remove: "/" | remove: page.language }}{% else %}{{ page.url | remove: "/" }}{% endif %}{% endcapture %}
{% if url.size > 0 %}
  <nav class="breadcrumbs">

    <a class="breadcrumb-item" href={{ site.baseurl | prepend: site.url }}><span>Home</span></a>

    <ol class="breadcrumb list-unstyled" vocab="http://schema.org/" typeof="BreadcrumbList">

    <!-- Iteration breadcrumb item -->
    {% assign position = 0 %}
    {% assign breadcrumbs = page.breadcrumbs %}
    {% for crumb in breadcrumbs %}

      <!-- Skip if root -->
      {% if crumb.url == "/" %}
        {% continue %}
      {% endif %}


      <!-- Get breadcrumb title. Insert snippet from configuration description to translates breadcrumb if language plugin is installed and YAML subset is set -->
      {% assign caption = crumb.title %}

      <!-- SEO data -->
      {% assign position = position  | plus: 1 %}

      <li class="breadcrumb-item{% if crumb.url == page.url %} active{% endif %}" property="itemListElement" typeof="ListItem">
        {% if crumb.url != page.url %}<a property="item" typeof="WebPage" href="{{ crumb.url | prepend: page.baseurl }}">{% endif %}<span property="name">{{ caption }}</span>{% if crumb.url != page.url %}</a>{% endif %}
        <meta property="position" content="{{ position }}" />
      </li>

    {% endfor %}

    </ol>

  </nav>
{% endif %}
