{% assign versionsNumber = include.data.versions.size %}

<table class="compatibility-table">
  <thead>
    <tr class="magento-version">
      <th>&nbsp;</th>
    {% for version in include.data.versions %}
      <th>Magento {{version}}</th>
    {% endfor %}
    </tr>
  </thead>
  {% for extension in include.data.extension %}
  <tbody>
    <tr class="extension-name">
      <th colspan="{{ versionsNumber | plus: 1 }}">{{ extension.name }}</th>
    </tr>
    {% for extensionVersion in extension.versions %}
    <tr class="extension-version">
      <td>{{ extension.name }} {{ extensionVersion.name }}</td>
      {% for version in include.data.versions %}
      <td><span class="pill {{ extensionVersion.support[version] | replace: ' ', '-' }}">{{ extensionVersion.support[version] | capitalize }}</span></td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
  {% endfor %}
</table>

<style>
.compatibility-table {
  table-layout: auto;
}

.compatibility-table .pill {
  display: block;
  max-width: 140px;
  padding: 5px;
  background: #008330;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  font-size: 13px;
  line-height: 1.3;
}
.compatibility-table .release-candidate {
  background: #BF732D;
}
.compatibility-table .not-supported {
  background: #C9252D;
}

.compatibility-table .magento-version th { 
  padding: 5px 15px;
}

.extension-version:hover {
  background: rgba(20,115,230,10%);
}

.compatibility-table .extension-name th { 
  padding: 5px 15px;
}
</style>
