    <footer>
       <p class="text-muted credit">&copy; 2014 MAGENTO, INC. ALL RIGHTS RESERVED.<br />
	   For more information, contact <a href="mailto:DL-Magento-Doc-Feedback@ebay.com">the Magento 2 documentation team</a>.</p>
	   
    </footer>
 <!-- Bootstrap core JavaScript-->
<!--     <script src="{{ site.baseurl }}common/js/jquery-1.11.0.min.js"></script> 
 -->    <script src="{{ site.baseurl }}common/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}common/js/bootstrap.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}common/js/hc.js"></script>
</body>

</html>
