
	</div>
	<!-- /.main-container -->

</div>
<!-- /#gl-wrapper -->

<!-- footer-->
<div id="footer">
  <div class="container">

    <div class="copyright-links">
      <ul class="nav">
				<li><a href="{{page.baseurl}}contributor-guide/contributing_docs.html">Become a Contributor</a>
        <li><a href="http://magento.com/legal/terms/privacy/">Privacy Policy</a></li>
        <li><a href="http://magento.com/legal/terms/">Terms of Service</a></li>
        <li><a href="http://magento.com/legal/licensing/">License/Trademark FAQ</a></li>
				<li><a href="{{site.baseurl}}magento-third-party.html">Third-Party Licences</a></li>
      </ul>
    </div>

		<div class="copyright-date">&copy; {{ site.time | date: '%Y' }} Magento, Inc. All rights reserved.</div>

  </div>
</div>
<!-- / #footer -->

{% include footer-scripts.html %}

</body>
</html>
