<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{{ site.description }}">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,600,300,800' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{{ site.baseurl }}css/app.css" />
	<link rel="stylesheet" href="{{ site.baseurl }}css/print.css" media="print"/>
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

</head>
<body>

<header class="site-header">

	<nav role="navigation">

		<div class="menu-btn">
			<a class="menu-trigger menu-icon" href="#"></a>
		</div>

		<div id="global-nav">
			<div class="main-site-name">
				<a class="logo pull-left" href="{{ site.baseurl }}"> </a>
				<div class="sub-site-name">
					<a href="{{ site.baseurl }}">Developer Documentation ({{page.guide_version}})</a>
				</div>
			</div>
            {% include version-switcher.html %}
		</div><!-- #global-nav -->
	</nav>

	<div class="search-btn">
        <a class="search-trigger search-icon" href="{{page.baseurl}}search.html"></a>
	</div>

</header>

{% include navigation.html %}

<div id="gl-wrapper">

	<!-- /.main-container -->
	<div id="gl-container" class="main-container">
		<a id="main-content"></a>
		<div class="pane-content">
			<div class="node node-panel">
