<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{{ page.title }}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="{{ site.description }}">
      <link href="{{ site.baseurl }}common/css/bootstrap.css" rel="stylesheet">
      <link href="{{ site.baseurl }}common/css/docs.css" rel="stylesheet">
      <link href="{{ site.baseurl }}common/css/main.css" rel="stylesheet">
      <link href="{{ site.baseurl }}common/css/hc.css" rel="stylesheet">
      <script src="{{ site.baseurl }}common/js/jquery-1.11.1.min.js"></script>
      <script src="{{ site.baseurl }}common/js/bootstrap.min.js"></script>
      <script src="{{ site.baseurl }}common/js/jquery.NestedAccordion.js"></script>
      <script src="{{ site.baseurl }}common/js/jquery-ui_1.11.0.js"></script>
      <script src="{{ site.baseurl }}common/js/docs.min.js"></script>
      <script src="{{ site.baseurl }}common/js/ie10-viewport-bug-workaround.js"></script>
      <link href="{{ site.baseurl }}common/css/jquery-ui.css" rel="stylesheet">
      <script>
         $(function() {
           $( "#accordion" ).accordion({
             collapsible: true,
             active: false,
         heightStyle: "content"
           });
         });

         $(function() {
         $( "#accordion2" ).accordion({
          active: false,
          collapsible: true,
         heightStyle: "content"
         });
         });

         $(function() {
         $( "#accordion3" ).accordion({
          active: false,
          collapsible: true,
         heightStyle: "content"
         });
         });

         $(function() {
         $( "#accordion4" ).accordion({
          active: false,
          collapsible: true,
         heightStyle: "content"
         });
         });

         $(function() {
         $( "#accordion5" ).accordion({
          active: false,
          collapsible: true,
         heightStyle: "content"
         });
         });

         $(function() {
         $( "#accordion_related-topics" ).accordion({
          active: false,
          collapsible: true,
         heightStyle: "content"
         });
         });
         $(function() {
         $( "#toc" ).accordiontoc({
         event: "hover",
         initShow : "#current"

         });
         });

         $(function() {
         $( "#accordiontoc2" ).accordiontoc({
         event: "hover",
         initShow : "#current"
         });
         });
         // Horizontal TOC nav
         $(function(){
         $(".dropdown-menu > li > a.trigger").on("click",function(e){
         var current=$(this).next();
         var grandparent=$(this).parent().parent();
         if($(this).hasClass('left-caret')||$(this).hasClass('right-caret'))
         $(this).toggleClass('right-caret left-caret');
         grandparent.find('.left-caret').not(this).toggleClass('right-caret left-caret');
         grandparent.find(".sub-menu:visible").not(current).hide();
         current.toggle();
         e.stopPropagation();
         });
         $(".dropdown-menu > li > a:not(.trigger)").on("click",function(){
         var root=$(this).closest('.dropdown');
         root.find('.left-caret').toggleClass('right-caret left-caret');
         root.find('.sub-menu:visible').hide();
         });
         });
      </script>
   </head>
   <!-- <div id = "wrapper"> -->
   <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-frontdoor">
         <div class="navbar-header">
            <div class="logo-frontdoor">
               <a href="{{ site.baseurl }}"><img src="{{ site.baseurl }}common/images/magento-logo-m.png"></a>
            </div>
         </div>
      </div>
      <div class="navbar-collapse collapse">
         <div class="nav navbar-nav">
            <ul class="nav navbar-nav">
                  <li class="dropdown">
                  <a href="#" class="dropdown-toggle trigger right-caret" data-toggle="dropdown">What is Magento?</a>
               </li>
                 <li class="dropdown">
                  <a href="#" class="dropdown-toggle trigger right-caret" data-toggle="dropdown">How Magento code is organized</a>
                  <ul class="dropdown-menu">
                     <li><a href="{{ site.gdeurl }}architecture/view/view-lib.html">Framework</a></li>
                        <li class="dropdown">
                  <a href="#" class="dropdown-toggle trigger right-caret" data-toggle="dropdown">Magento as a modular system</a>
                        <ul class="dropdown-menu">
                           <li><a href="{{ site.gdeurl }}architecture/modules/mod_intro.html">Modules</a></li>
                           <li><a href="#">Themes</a></li>
                           <li><a href="#">Libraries</a></li>
                           <li><a href="#">Translation files</a></li>
                        </ul>
                     </li>
                     <li><a href="{{ site.gdeurl }}architecture/modules/mod-file-system.html">File system</a></li>
                     <li><a href="{{ site.gdeurl }}architecture/areas/areas.html">Areas</a></li>
                     <li><a href="#">Blocks</a></li>
                     <li><a href="#">Web application architecture</a></li>
                     <li><a href="{{ site.gdeurl }}architecture/view/view-lib.html">View layer</a></li>
                  </ul>
               </li>
                 <li class="dropdown">
                  <a href="#" class="dropdown-toggle trigger right-caret" data-toggle="dropdown">Magento database</a>
               </li>
            </ul>
         </div>
         <div class="col-sm-3 col-md-3 pull-right">
            <form class="navbar-form" role="search">
               <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                  <div class="input-group-btn">
                     <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
   <div class="content-spacer"></div>
   <div class="container">
   <div class="row">
   <div class="col-xs-6 col-lg-4">
      <div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top" role="complementary">
      </div>
   </div>
   <div class="col-xs-12 col-sm-6 col-lg-8">