<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
	<meta name="description" content="{{ site.description }}">
	<meta http-equiv="last-modified" content="{{ page.last_modified_at | date: "%Y-%m-%d (%Z)"}}" />

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,600,300,800' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{{ site.baseurl}}/css/app.css" />
	<link rel="stylesheet" href="{{ site.baseurl}}/css/print.css" media="print" />
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- WebUI popover css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.webui-popover/1.2.1/jquery.webui-popover.min.css">

  <script>
    var baseUrl = "{{ site.baseurl }}";
  </script>

	<!-- Hotjar Tracking Code for http://devdocs.magento.com/ -->
	<script>
	    (function(h,o,t,j,a,r){
	        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
	        h._hjSettings={hjid:806243,hjsv:6};
	        a=o.getElementsByTagName('head')[0];
	        r=o.createElement('script');r.async=1;
	        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
	        a.appendChild(r);
	    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
	</script>
	
	<!-- crazyegg -->
	<script type="text/javascript">
	setTimeout(function(){var a=document.createElement("script");
	var b=document.getElementsByTagName("script")[0];
	a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0038/0321.js?"+Math.floor(new Date().getTime()/3600000);
	a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
	</script>

    <!-- heap analytics -->
    <script type="text/javascript">
        window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
        heap.load("2619540280");
    </script>

	<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="https://magento.com/favicon.ico">
	<link rel="apple-touch-icon" type="image/png" href="https://magento.com/apple-touch-icon.png">
	<link rel="apple-touch-icon" type="image/png" sizes="57x57" href="https://magento.com/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" type="image/png" sizes="72x72" href="https://magento.com/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" type="image/png" sizes="76x76" href="https://magento.com/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" type="image/png" sizes="114x114" href="https://magento.com/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" type="image/png" sizes="120x120" href="https://magento.com/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" type="image/png" sizes="144x144" href="https://magento.com/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" type="image/png" sizes="152x152" href="https://magento.com/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="https://magento.com/apple-touch-icon-180x180.png">

</head>
<body>

<header class="site-header">

	<nav id="global-nav">

		<div class="menu-btn"><a class="menu-trigger menu-icon" href="#" data-proofer-ignore></a></div>

		<div class="container">

			<a class="logo" href="{% if page.guide_version == site.version or page.guide_version == nil %}{{site.baseurl}}{% else %}{{page.baseurl}}{% endif %}"><img src="{{site.baseurl}}/i/m-logo.svg" alt=""><img src="{{site.baseurl}}/i/magento-logo.svg" alt="Magento" class="magento-logo" /><img src="{{site.baseurl}}/i/devdocs-logo.svg" alt="Devdocs" class="devdocs-logo" /></a>

			{% include version-switcher.html %}

			{% include navigation.html %}

			<div class="search-btn">
				<a class="search-trigger search-icon" href="{{site.baseurl}}/search.html"></a>
			</div>

			<form class="quick-search" action="{{page.baseurl}}/search.html" method="get">
				<input type="search" name="q" placeholder="Search" autocomplete="off" />
				<a href="#" data-proofer-ignore class="quick-search-close">&times;</a>
			</form>

		</div>

	</nav><!-- #global-nav -->

</header>
<div class="nav-main-fader"></div>


<div id="gl-wrapper">

	<!-- .main-container -->
	<div class="main-container">
		<a id="main-content"></a>
