<!DOCTYPE html>
<html lang="en">
<head> 
  <!-- <meta charset="utf-8"> -->
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ page.title }}</title>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ site.description }}">
  <link href="{{ site.baseurl }}common/css/bootstrap.css" rel="stylesheet">
  <link href="{{ site.baseurl }}common/css/docs.css" rel="stylesheet">
  <link href="{{ site.baseurl }}common/css/main.css" rel="stylesheet">
  <!-- <link href="{{ site.baseurl }}common/css/NestedAccordion.css" rel="stylesheet"> -->

  <link href="{{ site.baseurl }}common/css/hc.css" rel="stylesheet">
  <!-- <link href="{{ site.baseurl }}common/css/jquery.toc.css" rel="stylesheet"> -->
  <script src="{{ site.baseurl }}common/js/jquery-1.11.1.min.js"></script>
  <script src="{{ site.baseurl }}common/js/bootstrap.min.js"></script>
  <script src="{{ site.baseurl }}common/js/jquery.NestedAccordion.js"></script>
  <script src="{{ site.baseurl }}common/js/jquery-ui_1.11.0.js"></script>
  <script src="{{ site.baseurl }}common/js/docs.min.js"></script>
  <script src="{{ site.baseurl }}common/js/ie10-viewport-bug-workaround.js"></script>
  <link href="{{ site.baseurl }}common/css/jquery-ui.css" rel="stylesheet">
    

<script>
      $(function() {
        $( "#accordion" ).accordion({
          collapsible: true,
          active: false,
		  heightStyle: "content"
        });
      });

 $(function() {
	$( "#accordion2" ).accordion({
       active: false,
       collapsible: true,
	   heightStyle: "content"
     });
 });

 $(function() {
	$( "#accordion3" ).accordion({
       active: false,
       collapsible: true,
	   heightStyle: "content"
     });
 });

 $(function() {
	$( "#accordion4" ).accordion({
       active: false,
       collapsible: true,
	   heightStyle: "content"
     });
 });

 $(function() {
	$( "#accordion5" ).accordion({
       active: false,
       collapsible: true,
	   heightStyle: "content"
     });
 });

 $(function() {
	$( "#accordion_related-topics" ).accordion({
       active: false,
       collapsible: true,
	   heightStyle: "content"
     });
 });
  
   $(function() {
	$( "#toc" ).accordiontoc({
       event: "hover",
	   initShow : "#current"
       
     });
 });
 
   $(function() {
	$( "#accordiontoc2" ).accordiontoc({
       event: "hover",
	   initShow : "#current"
     });
 });
 
 // Horizontal TOC nav
 $(function(){
	$(".dropdown-menu > li > a.trigger").on("click",function(e){
		var current=$(this).next();
		var grandparent=$(this).parent().parent();
		if($(this).hasClass('left-caret')||$(this).hasClass('right-caret'))
			$(this).toggleClass('right-caret left-caret');
		grandparent.find('.left-caret').not(this).toggleClass('right-caret left-caret');
		grandparent.find(".sub-menu:visible").not(current).hide();
		current.toggle();
		e.stopPropagation();
	});
	$(".dropdown-menu > li > a:not(.trigger)").on("click",function(){
		var root=$(this).closest('.dropdown');
		root.find('.left-caret').toggleClass('right-caret left-caret');
		root.find('.sub-menu:visible').hide();
	});
});
</script>
</head>    <!-- <div id = "wrapper"> -->

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-frontdoor">
        <div class="navbar-header"> 
          <div class="logo-frontdoor">
          <a href="{{ site.baseurl }}"><img src="{{ site.baseurl }}common/images/magento-logo-m.png"></a>
		  </div>
        </div>
		</div>

		<div class="navbar-collapse collapse">
			<div class="nav navbar-nav">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Contents</a></li>
              <!-- <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li> -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Create a <br>Theme<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ site.gdeurl }}m2fedg/layout/layout-overview.html">Introduction to Magento 2 Theming</a></li>
				  <li><a class="trigger right-caret">Walkthrough</a>
				  <ul class="dropdown-menu sub-menu">
					<li><a href="{{ site.gdeurl }}m2fedg/blank.html">Step 1</a></li>
					<li><a href="{{ site.gdeurl }}m2fedg/blank.html">Step 2</a></li>
					<li><a href="{{ site.gdeurl }}m2fedg/blank.html">Step 3 (& cet)</a></li></ul></li>
				  
				  <li><a class="trigger right-caret">Theory</a>
				  <ul class="dropdown-menu sub-menu">
					<li><a href="{{ site.gdeurl }}m2fedg/blank.html">Theme Structure</a></li>
					<li><a href="{{ site.gdeurl }}m2fedg/blank.html">Theme Inheritance</a></li></ul></li>
				  
                  <li><a class="trigger right-caret">Practice</a>
					<ul class="dropdown-menu sub-menu">
					<li><a href="{{ site.gdeurl }}m2fedg/blank.html">Overview of Creating a Theme</a></li>
					<li><a href="{{ site.gdeurl }}m2fedg/blank.html">Getting Started</a></li>
					<li><a href="{{ site.gdeurl }}m2fedg/blank.html">Configuring Images (Optional)</a></li>
					<li><a href="{{ site.gdeurl }}m2fedg/blank.html">Adding Folders and Logos</a></li></ul>
					
				  <li><a href="{{ site.gdeurl }}m2fedg/blank.html">Recommended Reading</a></li></ul></li>
					
						
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Customize a <br>Theme <br>(Layout)<span class="caret"></span></a>
					<ul class="dropdown-menu">
					<li><a class="trigger right-caret">Walkthrough</a>
					<ul class="dropdown-menu sub-menu">
					<li><a href="{{ site.gdeurl }}m2fedg/blank.html">Step 1</a></li>
					<li><a href="{{ site.gdeurl }}m2fedg/blank.html">Step 2</a></li>
					<li><a href="{{ site.gdeurl }}m2fedg/blank.html">Step 3 (& cet)</a></li></ul></li>
					
					<li><a class="trigger right-caret">Theory</a>
					<ul class="dropdown-menu sub-menu">
					<li><a href="{{ site.gdeurl }}m2fedg/layout/layout-overview.html">Introduction to Magento 2 Theming</a></li>
					<li><a href="{{ site.gdeurl }}m2fedg/layout/layout-override.html">Overriding a Page Layout</a></li>
					<li><a href="{{ site.gdeurl }}m2fedg/layout/layout-extend.html">Extending a Page Layout</a></li>
					<li><a href="{{ site.gdeurl }}m2fedg/layout/layout-xml-page-markup.html">Using XML to Manage Your Page Markup</a></li></ul></li>
					<li><a href="{{ site.gdeurl }}m2fedg/blank.html">Practice</a></li>
					<li><a href="{{ site.gdeurl }}m2fedg/blank.html">Recommended Reading</a></li></ul></li>
					
				<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Customize <br>a Theme <br>(Template)<span class="caret"></span></a>
				<ul class="dropdown-menu">
                
					<li><a class="trigger right-caret">Walkthrough</a>
					<ul class="dropdown-menu sub-menu">
					<li><a href="{{ site.gdeurl }}m2fedg/blank.html">Step 1</a></li>
					<li><a href="{{ site.gdeurl }}m2fedg/blank.html">Step 2</a></li>
					<li><a href="{{ site.gdeurl }}m2fedg/blank.html">Step 3 (& cet)</a></li></ul></li>
					
					<li><a class="trigger right-caret">Theory</a>
					<ul class="dropdown-menu sub-menu">
					<li><a href="{{ site.gdeurl }}m2fedg/blank.html">Link</a></li></ul></li>
				  
					<li><a class="trigger right-caret">Practice</a>
					<ul class="dropdown-menu sub-menu">
					<li><a href="{{ site.gdeurl }}m2fedg/blank.html">Link(s)</a></li></ul>
					
					<li><a href="{{ site.gdeurl }}m2fedg/blank.html">Recommended Reading</a></li>
					</ul></li>
					
				<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">CSS<span class="caret"></span></a>
                <ul class="dropdown-menu">
                
					<li><a href="{{ site.gdeurl }}m2fedg/css/css-overview.html">Using Cascading Style Sheets (CSS) with Magento 2 </a></li>
										
					<li><a class="trigger right-caret">Walkthrough</a>
					<ul class="dropdown-menu sub-menu">
					<li><a href="{{ site.gdeurl }}m2fedg/blank.html">Step 1</a></li>
					<li><a href="{{ site.gdeurl }}m2fedg/blank.html">Step 2</a></li>
					<li><a href="{{ site.gdeurl }}m2fedg/blank.html">Step 3 (& cet)</a></li>
					</ul></li>
					
					<li><a class="trigger right-caret">Theory</a>
					<ul class="dropdown-menu sub-menu">
					<li><a href="{{ site.gdeurl }}m2fedg/css/css-overview.html">Using Cascading Style Sheets (CSS) with Magento 2 </a></li>
					<li><a href="{{ site.gdeurl }}m2fedg/css/css-themes.html">Using CSS in Themes</a></li>
					<li><a href="{{ site.gdeurl }}m2fedg/layout/magento-ui-lib.html">Using the Magento 2 UI Library</a></li>
					<li><a href="{{ site.gdeurl }}m2fedg/css/css-preprocess.html">Understanding Magento 2 CSS Preprocessing</a></li>
					
					</ul>
				  
					<li><a class="trigger right-caret">Practice</a>
					<ul class="dropdown-menu sub-menu">
					<li><a href="{{ site.gdeurl }}m2fedg/blank.html">Link(s)</a></li></ul>
					
					<li><a href="{{ site.gdeurl }}m2fedg/blank.html">Recommended Reading</a></li>
					</ul></li>
				
				
				
				<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Responsive<br>design<span class="caret"></span></a>
                <ul class="dropdown-menu">
                
					<li><a href="{{ site.gdeurl }}m2fedg/rwd/rwd_overview.html">Magento 2 Responsive Web Design</a></li>
										
					<li><a class="trigger right-caret">Walkthrough</a>
					<ul class="dropdown-menu sub-menu">
					<li><a href="{{ site.gdeurl }}m2fedg/blank.html">Step 1</a></li>
					<li><a href="{{ site.gdeurl }}m2fedg/blank.html">Step 2</a></li>
					<li><a href="{{ site.gdeurl }}m2fedg/blank.html">Step 3 (& cet)</a></li>
					</ul></li>
					
					<li><a class="trigger right-caret">Theory</a>
					<ul class="dropdown-menu sub-menu">
					<li><a href="{{ site.gdeurl }}m2fedg/rwd/rwd_using-blocks.html">Using Blocks in Your Responsive Design</a></li>
					<li><a href="{{ site.gdeurl }}m2fedg/rwd/rwd_css.html">Using CSS in Your Responsive Design</a></li>
					<li><a href="{{ site.gdeurl }}m2fedg/rwd/rwd_js.html">Using JavaScript in Your Responsive Design</a></li>
					
					
					</ul>
				  
					<li><a class="trigger right-caret">Practice</a>
					<ul class="dropdown-menu sub-menu">
					<li><a href="{{ site.gdeurl }}m2fedg/blank.html">Link(s)</a></li></ul>
					
					<li><a href="{{ site.gdeurl }}m2fedg/blank.html">Recommended Reading</a></li>
					</ul></li>
				
				
				<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Java-<br>Script<span class="caret"></span></a>
                <ul class="dropdown-menu">
                
					<li><a href="{{ site.gdeurl }}m2fedg/javascript/js-mage-plugin.html">Using the Magento Mage JavaScript Plug-In</a></li>
										
					<li><a class="trigger right-caret">Walkthrough</a>
					<ul class="dropdown-menu sub-menu">
					<li><a href="{{ site.gdeurl }}m2fedg/blank.html">Step 1</a></li>
					<li><a href="{{ site.gdeurl }}m2fedg/blank.html">Step 2</a></li>
					<li><a href="{{ site.gdeurl }}m2fedg/blank.html">Step 3 (& cet)</a></li>
					</ul></li>
					
					<li><a class="trigger right-caret">Theory</a>
					<ul class="dropdown-menu sub-menu">
					<li><a href="{{ site.gdeurl }}m2fedg/javascript/jquery-widgets-about.html">Using Magento jQuery Widgets</a></li>
					<li><a href="{{ site.gdeurl }}m2fedg/javascript/jquery-widget-calendar.html">Using the Calendar jQuery Widget</a></li>
					<li><a href="{{ site.gdeurl }}m2fedg/javascript/jquery-widget-loader.html">Using the Loader jQuery Widget</a></li>
					<li><a href="{{ site.gdeurl }}m2fedg/javascript/jquery-widgets-tabs.html">Using the Tabs jQuery Widget</a></li>
					<li><a href="{{ site.gdeurl }}m2fedg/javascript/jquery-widget-translate-inline.html">Using the jQuery TranslateInline Widget</a></li>
					<li><a href="{{ site.gdeurl }}m2fedg/javascript/magento-js-coding-stnds-abt.html">Magento JavaScript Coding Standards and Best Practices</a></li>
					
					</ul>
				  
					<li><a class="trigger right-caret">Practice</a>
					<ul class="dropdown-menu sub-menu">
					<li><a href="{{ site.gdeurl }}m2fedg/blank.html">Link(s)</a></li></ul>
					
					<li><a href="{{ site.gdeurl }}m2fedg/blank.html">Recommended Reading</a></li>
					</ul></li>
				
				
				<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Translation<span class="caret"></span></a>
                <ul class="dropdown-menu">
                
					<li><a href="{{ site.gdeurl }}m2fedg/xlate/xlate_overview.html">Translating Magento 2</a></li>
										
					<li><a class="trigger right-caret">Walkthrough</a>
					<ul class="dropdown-menu sub-menu">
					<li><a href="{{ site.gdeurl }}m2fedg/blank.html">Step 1</a></li>
					<li><a href="{{ site.gdeurl }}m2fedg/blank.html">Step 2</a></li>
					<li><a href="{{ site.gdeurl }}m2fedg/blank.html">Step 3 (& cet)</a></li>
					</ul></li>
					
					<li><a class="trigger right-caret">Theory</a>
					<ul class="dropdown-menu sub-menu">
					<li><a href="{{ site.gdeurl }}m2fedg/blank.html">Link(s)</a></li>
					
					</ul>
				  
					<li><a class="trigger right-caret">Practice</a>
					<ul class="dropdown-menu sub-menu">
					<li><a href="{{ site.gdeurl }}m2fedg/blank.html">Link(s)</a></li></ul>
					
					<li><a href="{{ site.gdeurl }}m2fedg/blank.html">Recommended Reading</a></li>
					</ul></li>
				              </li> 
            </ul> </div>
			
			<div class="col-sm-3 col-md-3 pull-right">
          <form class="navbar-form" role="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
          </form>
		  </div>
		  </div>
		  </div>
		  
		  
		  
<!-- <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <p class="navbar-brand">{{ site.namem2fedg }}</p>
        </div>
        <div class="navbar-collapse collapse"> -->
          
           <!-- <div tocfrom="h1, h2, h3" toctemplate="default:nonum:collapsible"/></div>
	   <div class="back"><p class="back"><a href="{{ site.gdeurl }}m2devgde/index.html"><img class="prev" src="{{ site.baseurl }}common/images/prev-arrow.png">Back to the Magento 2 Developer's Guide</a></p> -->
          
        <!-- </div> --><!--/.nav-collapse -->
      <!-- </div>
    </div> -->



       <!-- Sidebar -->
	   
	   
       <!-- <div id="sidebar-wrapper">
	   <div class="logo">
	   <a href="{{ site.baseurl }}"><img src="{{ site.baseurl }}common/images/magento-logo-m.png"></a></div>
	   <p class="brand">Contents</p>
 	   <div tocfrom="h1, h2, h3" toctemplate="default:nonum:collapsible"/></div>
	   <div class="back"><p class="back"><a href="{{ site.gdeurl }}m2fedg/index.html"><img class="prev" src="{{ site.baseurl }}common/images/prev-arrow.png">Back to the Magento 2 Frontend Developer's Guide</a></p></div>

		</div> -->

	
     <div class="content-spacer"></div>
    <div class="container">
	 
	 <div class="row">
	 
        <div class="col-xs-6 col-lg-4">
 		<div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top" role="complementary">
		<!-- <h4>Contents</h4>
		<div id="toc"><ul class="accordiontoc">
		           <li><a href="{{ site.gdeurl }}m2fedg/fedg-overview.html" data-toggle="collapse" data-target="1">Magento 2 Frontend Development Overview</a>
                    <ul><li><a href="{{ site.gdeurl }}m2fedg/fedg-overview.html#fedg-intended-audience">Intended Audience</a></li>
					<li><a href="{{ site.gdeurl }}m2fedg/fedg-overview.html#fedg-prereqs">Magento 2 Frontend Development Prerequisites</a></li></ul>
					</li>
            </ul>
    </li> ... 
</ul></div> -->

          </div>
		
		</div>
		<!-- </div> -->
				
		<div class="col-xs-12 col-sm-6 col-lg-8">

      <!-- </div> -->
     