<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- <meta charset="utf-8"> -->
      <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{{ page.title }}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="{{ site.description }}">
      <link href="{{ site.baseurl }}common/css/bootstrap.css" rel="stylesheet">
      <link href="{{ site.baseurl }}common/css/docs.css" rel="stylesheet">
      <link href="{{ site.baseurl }}common/css/main.css" rel="stylesheet">
      <!-- <link href="{{ site.baseurl }}common/css/NestedAccordion.css" rel="stylesheet"> -->
      <link href="{{ site.baseurl }}common/css/hc.css" rel="stylesheet">
      <!-- <link href="{{ site.baseurl }}common/css/jquery.toc.css" rel="stylesheet"> -->
      <script src="{{ site.baseurl }}common/js/jquery-1.11.1.min.js"></script>
      <script src="{{ site.baseurl }}common/js/bootstrap.min.js"></script>
      <script src="{{ site.baseurl }}common/js/jquery.NestedAccordion.js"></script>
      <script src="{{ site.baseurl }}common/js/jquery-ui_1.11.0.js"></script>
      <script src="{{ site.baseurl }}common/js/docs.min.js"></script>
      <script src="{{ site.baseurl }}common/js/ie10-viewport-bug-workaround.js"></script>
      <link href="{{ site.baseurl }}common/css/jquery-ui.css" rel="stylesheet">
      <script>
         $(function() {
           $( "#accordion" ).accordion({
             collapsible: true,
             active: false,
         heightStyle: "content"
           });
         });

         $(function() {
         $( "#accordion2" ).accordion({
          active: false,
          collapsible: true,
         heightStyle: "content"
         });
         });

         $(function() {
         $( "#accordion3" ).accordion({
          active: false,
          collapsible: true,
         heightStyle: "content"
         });
         });

         $(function() {
         $( "#accordion4" ).accordion({
          active: false,
          collapsible: true,
         heightStyle: "content"
         });
         });

         $(function() {
         $( "#accordion5" ).accordion({
          active: false,
          collapsible: true,
         heightStyle: "content"
         });
         });

         $(function() {
         $( "#accordion_related-topics" ).accordion({
          active: false,
          collapsible: true,
         heightStyle: "content"
         });
         });

         $(function() {
         $( "#toc" ).accordiontoc({
          event: "hover",
         initShow : "#current"

         });
         });

         $(function() {
         $( "#accordiontoc2" ).accordiontoc({
          event: "hover",
         initShow : "#current"
         });
         });

         // Horizontal TOC nav
         $(function(){
         $(".dropdown-menu > li > a.trigger").on("click",function(e){
         var current=$(this).next();
         var grandparent=$(this).parent().parent();
         if($(this).hasClass('left-caret')||$(this).hasClass('right-caret'))
         $(this).toggleClass('right-caret left-caret');
         grandparent.find('.left-caret').not(this).toggleClass('right-caret left-caret');
         grandparent.find(".sub-menu:visible").not(current).hide();
         current.toggle();
         e.stopPropagation();
         });
         $(".dropdown-menu > li > a:not(.trigger)").on("click",function(){
         var root=$(this).closest('.dropdown');
         root.find('.left-caret').toggleClass('right-caret left-caret');
         root.find('.sub-menu:visible').hide();
         });
         });
      </script>
   </head>
   <!-- <div id = "wrapper"> -->
   <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-frontdoor">
         <div class="navbar-header">
            <div class="logo-frontdoor">
               <a href="{{ site.baseurl }}"><img src="{{ site.baseurl }}common/images/magento-logo-m.png"></a>
            </div>
         </div>
      </div>
      <div class="navbar-collapse collapse">
         <div class="nav navbar-nav">
            <ul class="nav navbar-nav">
               <!--  <li class="active"><a href="#">Contents</a></li> -->
               <li class="dropdown">
                  <a href="#" class="dropdown-toggle trigger right-caret" data-toggle="dropdown">Themes</a>
                  <ul class="dropdown-menu">
                     <li><a href="{{ site.gdeurl }}frontend-dev-guide/themes/theme-create.html">Create a theme</a></li>
                     <li><a href="{{ site.gdeurl }}frontend-dev-guide/css-topics/css-themes.html">CSS in themes</a></li>
                     <li><a href="{{ site.gdeurl }}frontend-dev-guide/themes/debug-theme.html">Locate templates, layouts, and styles</a></li>
                     <li><a href="{{ site.gdeurl }}frontend-dev-guide/themes/theme-best-practices.html">Theme design best practices</a></li>
                     <li><a href="{{ site.gdeurl }}frontend-dev-guide/themes/theme-structure.html">Theme structure</a></li>
                     <li><a href="{{ site.gdeurl }}frontend-dev-guide/themes/theme-inherit.html">Theme inheritance</a></li>
                      <li><a href="{{ site.gdeurl }}frontend-dev-guide/themes/debug-theme.html">Locate templates, layouts, and styles</a></li>
                     <!-- <li><a href="{{ site.gdeurl }}frontend-dev-guide/blank.html">Overview of Creating a Theme</a></li>
                     <li><a href="{{ site.gdeurl }}frontend-dev-guide/blank.html">Getting Started</a></li>
                     <li><a href="{{ site.gdeurl }}frontend-dev-guide/blank.html">Configuring Images (Optional)</a></li>
                     <li><a href="{{ site.gdeurl }}frontend-dev-guide/blank.html">Adding Folders and Logos</a></li>-->
                  </ul>
               </li>
               <li class="dropdown">
                  <a href="#" class="dropdown-toggle trigger right-caret" data-toggle="dropdown">Layouts</a>
                  <ul class="dropdown-menu">
                     <li><a href="{{ site.gdeurl }}frontend-dev-guide/layouts/theme-overview.html">Theming overview</a></li>
                     <li><a href="{{ site.gdeurl }}frontend-dev-guide/layouts/layout-override.html">Override a layout</a></li>
                     <li><a href="{{ site.gdeurl }}frontend-dev-guide/layouts/layout-extend.html">Extend a layout</a></li>
                         <li><a href="{{ site.gdeurl }}frontend-dev-guide/layouts/containers-blocks.html">Containers and blocks</a></li>
                     <li><a href="{{ site.gdeurl }}frontend-dev-guide/layouts/theme-xml.html">XML in themes</a></li>
                     <li><a href="{{ site.gdeurl }}frontend-dev-guide/layouts/layout-xml.html">XML in layouts</a></li>
                  </ul>
               </li>
               <li class="dropdown">
                  <a href="#" class="dropdown-toggle trigger right-caret" data-toggle="dropdown">CSS</a>
                  <ul class="dropdown-menu">
                     <li><a href="{{ site.gdeurl }}frontend-dev-guide/css-topics/css-overview.html">Cascading style sheets (CSS)</a></li>
                     <li>
                        <a href="{{ site.gdeurl }}frontend-dev-guide/css-topics/theme-ui-lib.html">UI library</a>
                     </li>
                     <li><a href="{{ site.gdeurl }}frontend-dev-guide/css-topics/css-preprocess.html">CSS preprocessing</a></li>
                  </ul>
               </li>
               <li class="dropdown">
                  <a href="#" class="dropdown-toggle trigger right-caret" data-toggle="dropdown">Responsive web design</a>
                  <ul class="dropdown-menu">
                     <li><a href="{{ site.gdeurl }}frontend-dev-guide/responsive-web-design/theme-best-practices.html">Theme design best practices</a></li>
                     <li><a href="{{ site.gdeurl }}frontend-dev-guide/responsive-web-design/rwd_overview.html">Responsive web design</a></li>
                     <li><a href="{{ site.gdeurl }}frontend-dev-guide/responsive-web-design/rwd_using-blocks.html">Blocks in a responsive design</a></li>
                     <li><a href="{{ site.gdeurl }}frontend-dev-guide/responsive-web-design/rwd_css.html">CSS in a responsive design</a></li>
                     <li><a href="{{ site.gdeurl }}frontend-dev-guide/responsive-web-design/rwd_js.html">JavaScript in a responsive design</a></li>
                  </ul>
            </ul>
            </li>
            <li class="dropdown">
               <a href="#" class="dropdown-toggle trigger right-caret" data-toggle="dropdown">JavaScript</a>
               <ul class="dropdown-menu">
                  <li><a href="{{ site.gdeurl }}frontend-dev-guide/javascript/js-mage-plugin.html">Mage JavaScript plugin</a></li>
                  <li>
                     <a class="trigger right-caret">Magento jQuery widgets</a>
                     <ul class="dropdown-menu sub-menu">
                        <li><a href="{{ site.gdeurl }}frontend-dev-guide/javascript/jquery-widgets-about.html">Magento jQuery widgets</a></li>
                        <li><a href="{{ site.gdeurl }}frontend-dev-guide/javascript/jquery-widget-calendar.html">jQuery Calendar widget</a></li>
                        <li><a href="{{ site.gdeurl }}frontend-dev-guide/javascript/jquery-widget-loader.html">jQuery Loader widget</a></li>
                        <li><a href="{{ site.gdeurl }}frontend-dev-guide/javascript/jquery-widgets-tabs.html">jQuery Tabs widget</a></li>
                        <li><a href="{{ site.gdeurl }}frontend-dev-guide/javascript/jquery-widget-translate-inline.html">jQuery TranslateInline widget</a></li>
                     </ul>
                  </li>
                  <li><a href="{{ site.gdeurl }}frontend-dev-guide/javascript/js-coding-standards.html">JavaScript coding standard</a></li>
                  <li><a href="{{ site.gdeurl }}frontend-dev-guide/javascript/jquery-widget-standard.html">jQuery widget coding standard</a></li>
               </ul>
            </ul>
            </li>
            </ul>
         </div>
         <div class="col-sm-3 col-md-3 pull-right">
            <form class="navbar-form" role="search">
               <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                  <div class="input-group-btn">
                     <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
   <div class="content-spacer"></div>
   <div class="container">
   <div class="row">
   <div class="col-xs-6 col-lg-4">
      <div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top" role="complementary">
      </div>
   </div>
   <div class="col-xs-12 col-sm-6 col-lg-8">