<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ site.description }}">
   <link href="{{ site.baseurl }}/common/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/common/css/hc.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/common/css/main.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/common/css/jquery.toc.css" rel="stylesheet">
  <script src="{{ site.baseurl }}/common/js/jquery-1.11.0.min.js"></script>
<!--   <script src="{{ site.baseurl }}/common/js/test.js"></script>
 -->  <script src="{{ site.baseurl }}/common/js/jquery.toc.js"></script>


<!--   <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
 -->  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif] d-->
    </head>
    <body>
<!-- <div class="nav-toggle"><i class="fa fa-bars fa-2x"></i> Herring Cove </div>
 -->      <div id = "wrapper">


<div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <p class="navbar-brand">{{ site.name }}</p>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          <!-- <li><a href="{{ site.baseurl }}/guides/m2devgde/svc-how-to-use.html">How a Client Uses a Service</a></li>
          <li><a href="{{ site.baseurl }}/guides/m2devgde/what-is-svc.html">What is the Magento 2 Service Framework?</a></li> -->
         <!--  <li><a href="{{ site.baseurl }}/links.html">Links</a></li>
          <li><a href="{{ site.baseurl }}/projects.html">Projects</a></li>
          <li><a href="{{ site.baseurl }}/about.html">About</a></li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>



       <!-- Sidebar -->
	   
	   
       <div id="sidebar-wrapper">
	   <div class="logo">
	   <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/common/images/magento-logo-m.png"></a></div>
	   <p class="brand">Contents</p>
 	   <div class="toc">
	   <p class="toc">Magento 2 Service Framework</p>
	   <ul class="toc"><li><a href="{{ site.baseurl }}/guides/m2devgde/v1.0.0.0/svcs-framework/what-is-svc.html">What is the Magento 2 Services Framework?</a></li>
	   <li><a href="{{ site.baseurl }}/guides/m2devgde/v1.0.0.0/svcs-framework/svcs-props.html">Understanding the Properties and Responsibilities of a Service</a></li>
	   <li><a href="{{ site.baseurl }}/guides/m2devgde/v1.0.0.0/svcs-framework/svc-how-to-use.html">How a Client Uses a Service</a></li></ul>
	   <p class="toc">Magento WebAPI Framework</p>
	   <ul class="toc"><li><a href="{{ site.baseurl }}/guides/m2devgde/v1.0.0.0/webapi/what-is-webapi.html">What is the WebAPI Framework?</a></li>
	   <li><a href="{{ site.baseurl }}/guides/m2devgde/v1.0.0.0/rest/rest-overview.html">Accessing Magento Objects Using REST</a></li></ul>
	   <p class="toc">Magento 2 Service Integrations</p>
	   <ul class="toc"><li><a href="{{ site.baseurl }}/guides/m2devgde/v1.0.0.0/integration/what-is-integration.html">What is an Integration?</a></li>
	   <li><a href="{{ site.baseurl }}/guides/m2devgde/v1.0.0.0/integration/integration-auth.html">Understanding Integration Authorization</a></li>
	   <li><a href="{{ site.baseurl }}/guides/m2devgde/v1.0.0.0/integration/integration-code.html">Coding Your Integration</a>
	   <p class="toc">Creating Your Integration</p>
	   <ul><li><a href="{{ site.baseurl }}/guides/m2devgde/v1.0.0.0/integration/integration-create-man.html">Manually Creating an Integration Using the Magento Admin</a></li>
	   </ul>
	   </li>
	   <p class="toc">Activating and Maintaining an Integration</p>
	   <ul><li><a href="{{ site.baseurl }}/guides/m2devgde/v1.0.0.0/integration/integration-maintain.html">Maintaining an Integration</a></li>
	   </ul>
	   </li>
	   
	   </ul></div>
	   </div>
	   




     <div class="container">

