<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{{ page.title }}</title>
      <meta name="description" content="{{ site.description }}">
      <!-- CSS -->
      <link href="{{ site.baseurl }}common/css/bootstrap.css" rel="stylesheet">
      <link href="{{ site.baseurl }}common/css/bootstrap.min.css" rel="stylesheet">
      <link href="data:text/css;charset=utf-8," data-href="{{ site.baseurl }}common/css/bootstrap-theme.min.css" rel="stylesheet" id="bs-theme-stylesheet">
      <link href="{{ site.baseurl }}common/css/docs.css" rel="stylesheet">
      <link href="{{ site.baseurl }}common/css/main.css" rel="stylesheet">
      <link href="{{ site.baseurl }}common/css/hc.css" rel="stylesheet">
      <link href="{{ site.baseurl }}common/css/jumbotron.css" rel="stylesheet">
      <link href="{{ site.baseurl }}common/css/docs.min.css" rel="stylesheet">
      <link href="{{ site.baseurl }}common/css/jquery-ui.css" rel="stylesheet">
      <!-- JAVASCRIPT -->
      <script src="{{ site.baseurl }}common/js/bootstrap.min.js"></script>
      <script src="{{ site.baseurl }}common/js/jquery.js"></script>
      <script src="{{ site.baseurl }}common/js/jquery.min.js"></script>
      <script src="{{ site.baseurl }}common/js/jquery-ui_1.11.0.js"></script>
      <script src="{{ site.baseurl }}common/js/docs.min.js"></script>
      <script src="{{ site.baseurl }}common/js/transition.js"></script>
      <script src="{{ site.baseurl }}common/js/collapse.js"></script>
      <script src="{{ site.baseurl }}common/js/ie10-viewport-bug-workaround.js"></script>
      <script src="{{ site.baseurl }}common/js/ie-emulation-modes-warning.js"></script>
   </head>
   <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-frontdoor">
         <div class="navbar-header">
            <div class="logo-frontdoor">
               <a href="{{ site.baseurl }}"><img src="{{ site.baseurl }}common/images/magento-logo-m.png"></a>
            </div>
         </div>
         <div class="navbar-collapse collapse">
            <div class="nav navbar-nav">
               <ul class="nav navbar-nav">
                  <li class="active"><a href="#">Link</a></li>
                  <li><a href="#">Link</a></li>
                  <li><a href="#">Link</a></li>
               </ul>
            </div>
            <div class="col-sm-3 col-md-3 pull-right">
               <form class="navbar-form" role="search">
                  <div class="input-group">
                     <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                     <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
