<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ site.description }}">
  <link href="{{ site.baseurl }}common/css/bootstrap.css" rel="stylesheet">
  <link href="{{ site.baseurl }}common/css/docs.css" rel="stylesheet">
  <link href="{{ site.baseurl }}common/css/main.css" rel="stylesheet">
  <link href="{{ site.baseurl }}common/css/hc.css" rel="stylesheet">
  <!-- <link href="{{ site.baseurl }}common/css/jquery.toc.css" rel="stylesheet"> -->
  <script src="{{ site.baseurl }}common/js/jquery-1.11.1.min.js"></script>
  <script src="{{ site.baseurl }}common/js/jquery.toc.js"></script>
  <script src="{{ site.baseurl }}common/js/bootstrap.min.js"></script>
  <script src="{{ site.baseurl }}common/js/jquery-ui_1.11.0.js"></script>
  <script src="{{ site.baseurl }}common/js/docs.min.js"></script>
  <script src="{{ site.baseurl }}assets/js/ie10-viewport-bug-workaround.js"></script>
  <link href="{{ site.baseurl }}common/css/jquery-ui.css" rel="stylesheet">


<!--   <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
 -->  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
  <![endif]-->
    </head>
    <body>
      <div id = "wrapper">


<div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <p class="navbar-brand">{{ site.namefrontend-dev-guide }}</p>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          <li><a href="{{ site.gdeurl }}frontend-dev-guide/overview.html">Overview of frontend development</a></li>
  		  <li><a href="{{ site.gdeurl }}frontend-dev-guide/css-topics/css-overview.html">Cascading style sheets (CSS)</a></li>
		  <li><a href="{{ site.gdeurl }}frontend-dev-guide/themes/theme-ui-lib.html">UI library</a></li>
		  <li><a href="{{ site.gdeurl }}frontend-dev-guide/css-topics/css-preprocess.html">CSS preprocessing</a></li>
		  <li><a href="{{ site.gdeurl }}frontend-dev-guide/css-topics/css-themes.html">Using CSS in Themes</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>



       <!-- Sidebar -->


       <div id="sidebar-wrapper">
	   <div class="logo">
	   <a href="{{ site.baseurl }}"><img src="{{ site.baseurl }}common/images/magento-logo-m.png"></a></div>
	   <p class="brand">Contents</p>
 	   <div class="toc">
	   <p class="toc">Introduction to Magento Frontend Development</p>
	   <ul class="toc"><a href="{{ site.gdeurl }}frontend-dev-guide/overview.html">Overview of frontend development</a></li>
		<li><a href="{{ site.gdeurl }}frontend-dev-guide/css-topics/css-overview.html">Cascading style sheets (CSS)</a></li>
		<li><a href="{{ site.gdeurl }}frontend-dev-guide/themes/theme-ui-lib.html">UI library</a></li></ul>
	   <p class="toc">Cascading style sheets (CSS)</p>
	   <ul class="toc"><a href="{{ site.gdeurl }}frontend-dev-guide/css-topics/css-overview.html">Cascading style sheets (CSS)</a></li>
	   	   <li><a href="{{ site.gdeurl }}frontend-dev-guide/css-topics/css-preprocess.html">Understanding CSS preprocessing</a></li>
		  <li><a href="{{ site.gdeurl }}frontend-dev-guide/css-topics/css-themes.html">Using CSS in Themes</a></li>
	   </ul>
	   </div>
	   </div>





     <div class="container">

