<!-- Main Navigation -->
<div class="nav-main">
  <ul>
    <li class="first">
      <a href="#">Setup and Deployment</a>
        <ul class="menu nav">
          <li class="first leaf"><a href="{{page.baseurl}}install-gde/docker/docker-over.html">Magento DevBox (Docker)</a></li>
            <li><a href="{{page.baseurl}}install-gde/bk-install-guide.html">Installation Guide</a></li>
          {% if page.guide_version == "2.2" %}
          <li class="leaf"><a href="{{page.baseurl}}comp-mgr/bk-compman-upgrade-guide.html">Extension Update and System Upgrade Guide</a></li>
          {% elsif page.guide_version == "2.1" %}
          <li class="leaf"><a href="{{page.baseurl}}comp-mgr/bk-compman-upgrade-guide.html">Component Manager and System Upgrade Guide</a></li>
          {% elsif page.guide_version == "2.0" %}
          <li class="leaf"><a href="{{page.baseurl}}comp-mgr/bk-compman-upgrade-guide.html">Component Manager and System Upgrade Guide</a></li>
          {% endif %}
          <li class="leaf"><a href="{{page.baseurl}}config-guide/bk-config-guide.html">Configuration Guide</a></li>
          <li class="leaf"><a href="{{page.baseurl}}migration/bk-migration-guide.html">Migration Guide</a></li>
          <li class="leaf"><a href="{{page.baseurl}}cloud/bk-cloud.html">Magento Enterprise Cloud Guide</a></li>
          <li class="leaf"><a href="{{site.baseurl}}magento-release-information.html">Release Information</a></li>
        </ul>
    </li>

    <li>
        <a href="#">Development</a>
        <ul class="menu nav">
          <li class="leaf"><a href="{{page.baseurl}}extension-dev-guide/bk-extension-dev-guide.html">PHP Developer Guide</a></li>
          <li class="leaf"><a href="{{page.baseurl}}ext-best-practices/bk-ext-best-practices.html">Extension Developer Best Practices</a></li>
          <li class="leaf"><a href="{{page.baseurl}}architecture/bk-architecture.html">Magento Architecture</a></li>
          <li class="leaf"><a href="{{page.baseurl}}mrg/intro.html">Module Reference Guide</a></li>
          <li class="leaf"><a href="{{page.baseurl}}coding-standards/bk-coding-standards.html">Coding Standards</a></li>
          {% if page.guide_version == "2.1" %}
          <li class="leaf"><a href="{{page.baseurl}}extension-dev-guide/staging.html">Staging</a></li>
          {% endif %}
          <li class="first leaf"><a href="{{page.baseurl}}contributor-guide/contributing.html">Contributor Guide</a></li>
        </ul>
    </li>

    <li>
        <a href="#">Frontend</a>
        <ul class="menu nav">
          <li class="first leaf"><a href="{{page.baseurl}}frontend-dev-guide/bk-frontend-dev-guide.html">Frontend Developer Guide</a></li>
          {% if page.guide_version == "2.1" %}
          <li class="leaf"><a href="{{page.baseurl}}ui_comp_guide/bk-ui_comps.html">UI Components Guide</a></li>
          {% elsif page.guide_version == "2.0" %}
          <li class="leaf"><a href="{{page.baseurl}}ui-components/ui-component.html">UI Components</a></li>
          {% endif %}
          <li class="leaf"><a href="{{page.baseurl}}javascript-dev-guide/bk-javascript-dev-guide.html">JavaScript Developer Guide</a></li>
          <li class="leaf"><a href="{{page.baseurl}}pattern-library/bk-pattern.html">Admin Design Pattern Library</a></li>
          <li class="leaf"><a href="{{page.baseurl}}design-styleguide/bk-styleguide.html">Admin Style Guide</a></li>
        </ul>
    </li>

    <li>
        <a href="#">API</a>
        <ul class="menu nav">
          <li class="leaf"><a href="{{page.baseurl}}get-started/bk-get-started-api.html">Get Started with Magento Web APIs</a></li>
          <li class="leaf"><a href="{{page.baseurl}}rest/bk-rest.html">REST API Reference</a></li>
          <li class="leaf"><a href="{{page.baseurl}}soap/bk-soap.html">SOAP API Reference</a></li>
        </ul>
    </li>

    <li>
        <a href="#">Testing</a>
        <ul class="menu nav">
          <li class="leaf"><a href="{{page.baseurl}}test/testing.html">Magento Testing Guide</a></li>
          <li class="leaf"><a href="{{page.baseurl}}mtf/mtf_introduction.html">Functional Testing</a></li>
          <li class="leaf"><a href="{{page.baseurl}}test/integration/integration_test_execution.html">Integration Testing</a></li>
          <li class="leaf"><a href="{{page.baseurl}}extension-dev-guide/test/test_js-unit.html">JavaScript Unit Testing</a></li>
          <li class="leaf"><a href="{{page.baseurl}}test/unit/unit_test_execution.html">PHP Unit Testing</a></li>
          <li class="leaf"><a href="{{page.baseurl}}get-started/web-api-functional-testing.html">Web API Functional Testing</a></li>
        </ul>
    </li>

    <li>
      <a href="{{page.baseurl}}howdoi/bk-how-do-i.html">How Tos</a>
    </li>
  </ul>
</div><!-- /.nav-main -->
