<!--Sub Navigation-->
	<div id="subnav-wrap">
		<div id="subnav">
			<ul class="menu nav">
               <!--
<li class="first expanded">
                     <a href="{{ site.gdeurl }}release-notes/bk-release-notes.html">Get Started</a>
                     <ul class="menu nav">
                        <li class="first leaf"><a href="{{ site.gdeurl }}release-notes/bk-release-notes.html">Release Notes</a></li>
                        <!~~ <li class="leaf"><a href="{{ site.gdeurl }}architecture/bk-architecture.html">Magento Architecture</a></li> ~~>
                     </ul>
                  </li>
 -->
                  <li class="first expanded">
                    <a href="{{ site.gdeurl }}install-gde/bk-install-guide.html">System Administrator</a>
                     <ul class="menu nav">
                        <li class="first leaf"><a href="{{ site.gdeurl }}install-gde/bk-install-guide.html">Installation Guide</a></li>
                       <!--  <li class="leaf"><a href="{{ site.gdeurl }}config-guide/bk-config-guide.html"">Configuration and Integration Guide</a></li> -->
                     </ul>
                  </li>
                   <li class="expanded">
                     <a href="{{ site.gdeurl }}/frontend-dev-guide/bk-frontend-dev-guide.html">Frontend Developer</a>
                     <ul class="menu nav">
                        <li class="first leaf"><a href="{{ site.gdeurl }}frontend-dev-guide/bk-frontend-dev-guide.html">Frontend Developer Guide</a></li>
                        <li class="leaf"><a href="{{ site.gdeurl }}coding-standards/bk-coding-standards.html">Coding Standards</a></li>
                     </ul>
                  </li>
                  <!--
<li class="first expanded">
                     <a href="article-side.html">System Integrator</a>
                     <ul class="menu nav">
                        <li class="first leaf"><a href="{{ site.gdeurl }}config-guide/bk-config-guide.html"">Configuration and Integration Guide</a></li>
                     </ul>
                  </li>
 -->
                  <li class="expanded">
                    <a href="{{ site.gdeurl }}dev-guide-devbeta/bk-dev-guide.html">Extension Developer</a>
                     <ul class="menu nav">
                     <li class="first leaf"><a href="{{ site.gdeurl }}get-started/bk-get-started-api.html">Get Started with Magento Web APIs</a></li>
                        <li class="leaf"><a href="{{ site.gdeurl }}dev-guide-devbeta/bk-dev-guide.html">Developer Guide</a></li>
                        <li class="leaf"><a href="{{ site.gdeurl }}coding-standards/bk-coding-standards.html">Coding Standards</a></li>
                        <li class="leaf"><a href="{{ site.baseurl }}article-side.html">PHP API Reference</a></li>
                        <li class="leaf"><a href="{{ site.baseurl }}article-side.html">REST API Reference</a></li>
                        <!-- <li class="leaf"><a href="{{ site.baseurl }}article-side.html">SOAP API Reference</a></li> -->
                     </ul>
                  </li>

               </ul>

		</div>
	</div>
