<!-- sidebar -->
<aside class="sidebar">
	<a href="#" data-proofer-ignore class="toc-toggler">Table of Contents</a>
	<div class="sidebar-wrapper">

{% if page.group == "ext-best-practices" %}
    {% assign toc = site.data.toc.extension-best-practices %}

{% elsif page.group == "perf-best-practices" %}
		 {% assign toc = site.data.toc.performance-best-practices %}

{% elsif page.group == "compman" %}
    {% assign toc = site.data.toc.software-update-guide %}

{% elsif page.group == "coding-standards" %}
    {% assign toc = site.data.toc.coding-standards %}

{% elsif page.group == "rest" %}
    {% assign toc = site.data.toc.rest-api %}

{% elsif page.group == "contributor" %}
    {% assign toc = site.data.toc.contributor-guide %}

{% elsif page.group == "get-started" %}
    {% assign toc = site.data.toc.web-api %}

{% elsif page.group == "pattern" %}
    {% assign toc = site.data.toc.admin-pattern-library %}

{% elsif page.group == "mtf-guide" %}
    {% assign toc = site.data.toc.functional-testing-framework-guide %}

{% elsif page.group == "migration" %}
    {% assign toc = site.data.toc.migration-guide %}

{% elsif page.group == "release-notes" %}
    {% assign toc = site.data.toc.release-notes %}

{% elsif page.group == "extension-dev-guide" %}
    {% assign toc = site.data.toc.php-developer-guide %}

{% elsif page.group == "arch-guide" %}
    {% assign toc = site.data.toc.architecture-guide %}

{% elsif page.group == "fedg" %}
    {% assign toc = site.data.toc.frontend-developer-guide %}

{% elsif page.group == "UI_Components_guide" %}
    {% assign toc = site.data.toc.ui-components-guide %}

{% elsif page.group == "UI Library" %}
    {% assign toc = site.data.toc.ui-library %}

{% elsif page.group == "jsdg" %}
    {% assign toc = site.data.toc.javascript-developer-guide %}

{% elsif page.group == "install2" %}
    {% assign toc = site.data.toc.installation-guide %}

{% elsif page.group == "install_cli" %}
    {% assign toc = site.data.toc.installation-guide %}

{% elsif page.group == "install_hosted" %}
    {% assign toc = site.data.toc.installation-guide %}

{% elsif page.group == "install_pre" %}
    {% assign toc = site.data.toc.installation-guide %}

{% elsif page.group == "install" %}
    {% assign toc = site.data.toc.installation-guide %}

{% elsif page.group == "install_wiz" %}
    {% assign toc = site.data.toc.installation-guide %}

{% elsif page.group == "install_trouble" %}
    {% assign toc = site.data.toc.installation-guide %}

{% elsif page.group == "config-guide" %}
    {% assign toc = site.data.toc.configuration-guide %}

{% elsif page.group == "cloud" %}
    {% assign toc = site.data.toc.cloud-guide %}

{% elsif page.group == "styleguide" %}
    {% assign toc = site.data.toc.admin-style-guide %}

{% elsif page.group == "payments-integrations" %}
    {% assign toc = site.data.toc.payments-integrations %}

{% elsif page.group == "mrg" %}
    {% assign toc = site.data.toc.module-reference-guide %}

{% elsif page.group == "howdoi" %}
    {% assign  toc = site.data.toc.how-do-i %}

{% elsif page.group == "b2b" %}
    {% assign toc = site.data.toc.b2b-developer-guide %}

{% elsif page.group == "graphql" %}
		{% assign toc = site.data.toc.graphql %}

{% elsif page.group == "modules" %}
    {% assign toc = site.data.toc.modules %}

{% elsif "testing, jstf, unit-testing, integration-testing" contains page.group %}
    {% assign toc = site.data.toc.testing %}

{% elsif "reporting" contains page.group %}
    {% assign toc = site.data.toc.advanced-reporting %}

{% elsif "mftf" contains page.group %}
        {% assign toc = site.data.toc.magento-functional-testing-framework-guide %}

        {% elsif page.group == "marketplace-api" %}
        {% assign toc = site.data.toc.marketplace-api %}

{% endif %}

<h4>{{ toc.label }}</h4>
<div class="left-navigation">
    <ul>
    {% for entry in toc.pages %}
    {% include toc-entry.html section=entry%}
    {% endfor %}
    </ul>
</div>

	</div>

</aside>


<!-- /sidebar -->
