<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Basic template | Magento 2 Developer Documentation</title>
	<meta name="description" content="Magento 2 Developer Documentation.
">

	<link rel="stylesheet" href="/assets/css/app.css" />
	<link rel="stylesheet" href="/assets/css/print.css" media="print"/>

	<link rel="stylesheet" href="/common/css/devdocs.css" />
<link rel="alternate" type="application/rss+xml" title="Magento DevDocs RSS" href="/feed.xml" />

	<script>
  var baseUrl = "";
  var algolia = {
    id : "E642SEDTHL",
    index:  "devdocs",
    key:  "d2d0f33ab73e291ef8d88d8b565e754c"
  };
</script>



<!-- Google Analytics -->
<style>.async-hide { opacity: 0 !important} </style>
<script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
(a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
})(window,document.documentElement,'async-hide','dataLayer',4000,
{'GTM-ML6GZCH':true});</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66243208-1', 'auto');
    ga('require', 'GTM-ML6GZCH');
    ga('send', 'pageview');
</script>

<!-- Hotjar Tracking Code for http://devdocs.magento.com/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:806243,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

<!-- heap analytics -->
<script type="text/javascript">
      window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
      heap.load("2619540280");
</script>

<script src="//assets.adobedtm.com/98fab992275ef6366cc65f57f86b1e895a66c912/satelliteLib-f90f1129109ea4b2101512675a2769865aa7ea5b.js"></script>




	<link rel="canonical" href="https://devdocs.magento.com/guides/v2.3/contributor-guide/templates/basic_template.html">

	<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="https://magento.com/favicon.ico">
	<link rel="apple-touch-icon" type="image/png" href="https://magento.com/apple-touch-icon.png">
	<link rel="apple-touch-icon" type="image/png" sizes="57x57" href="https://magento.com/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" type="image/png" sizes="72x72" href="https://magento.com/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" type="image/png" sizes="76x76" href="https://magento.com/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" type="image/png" sizes="114x114" href="https://magento.com/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" type="image/png" sizes="120x120" href="https://magento.com/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" type="image/png" sizes="144x144" href="https://magento.com/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" type="image/png" sizes="152x152" href="https://magento.com/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="https://magento.com/apple-touch-icon-180x180.png">

</head>
<body class="layout-default">

	<header class="site-header">

		<nav class="site-nav">

  <div class="menu-btn">
    <button id="menu-btn" class="menu-trigger menu-icon" aria-haspopup="true" aria-controls="nav-main"></button>
  </div>

  <div class="nav-container">

    <a class="logo" href="/guides/v2.3/">
      <img src="/assets/i/m-logo.svg" alt=""><img src="/assets/i/magento-logo.svg" alt="Magento" class="magento-logo" />
      <span class="site-logo">DevDocs</span>
    </a>

    <div id="nav-main" class="nav-main-wrap" aria-labelledby="menu-btn">
      
<div class="version-switcher dropdown" data-version="2.3">
	<button id="version-switcher-button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Magento 2.3 Beta
	</button>

	<ul class="dropdown-menu dropdown-menu-left" aria-labelledby="version-switcher-button">
		
		<li><a class="dropdown-item" data-proofer-ignore href="/guides/v2.0/contributor-guide/templates/basic_template.html">Magento 2.0</a></li>
		
		<li><a class="dropdown-item" data-proofer-ignore href="/guides/v2.1/contributor-guide/templates/basic_template.html">Magento 2.1</a></li>
		
		<li><a class="dropdown-item" data-proofer-ignore href="/guides/v2.2/contributor-guide/templates/basic_template.html">Magento 2.2</a></li>
		
		<li><a class="dropdown-item" data-proofer-ignore href="/guides/v2.3/contributor-guide/templates/basic_template.html">Magento 2.3 Beta</a></li>
		
  </ul>
</div>


      <!-- Main Navigation -->


<ul class="nav-main" role="menubar">




  
  <li class="nav-main-item" tabindex="0" role="menuitem" aria-haspopup="true">
    <span tabindex="-1">Cloud</span>

    
      <div class="nav-popup" role="menu" aria-hidden="true">

      

      
        <ul>
        
          
          
            





  
  
  
  <li>
    <a href="/guides/v2.3/cloud/bk-cloud.html">Cloud Guide</a>
  </li>



          
        
          
          
            





  
  
  
  <li>
    <a href="/guides/v2.3/cloud/architecture/cloud-architecture.html">Cloud Architecture</a>
  </li>



          
        
          
          
            





  
  
  
  <li>
    <a href="/guides/v2.3/cloud/setup/first-time-setup.html">Local Development</a>
  </li>



          
        
          
          
            





  
  
  
  <li>
    <a href="/guides/v2.3/cloud/env/environments.html">Configure Environments</a>
  </li>



          
        
          
          
            





  
  
  
  <li>
    <a href="/guides/v2.3/cloud/project/project-upgrade-parent.html">Upgrades and Patches</a>
  </li>



          
        
          
          
            





  
  
  
  <li>
    <a href="/guides/v2.3/cloud/release-notes/cloud-tools.html">Release Notes</a>
  </li>



          
        
      </ul>
      

      </div>
    

  </li>
  




  
  <li class="nav-main-item" tabindex="0" role="menuitem" aria-haspopup="true">
    <span tabindex="-1">Setup</span>

    
      <div class="nav-popup" role="menu" aria-hidden="true">

      

      
        <ul>
        
          
          
            





  
  
  
  <li>
    <a href="/guides/v2.3/install-gde/bk-install-guide.html">Installation Guide</a>
  </li>



          
        
          
          
            





  
  
  
  <li>
    <a href="/guides/v2.3/comp-mgr/bk-compman-upgrade-guide.html">Extension Update and System Upgrade Guide</a>
  </li>



          
        
          
          
            







          
        
          
          
            





  
  
  
  <li>
    <a href="/guides/v2.3/config-guide/bk-config-guide.html">Configuration Guide</a>
  </li>



          
        
          
          
            





  
  
  
  <li>
    <a href="/guides/v2.3/performance-best-practices/">Performance Best Practices</a>
  </li>



          
        
          
          
            





  
  
  
  <li>
    <a href="/guides/v2.3/migration/bk-migration-guide.html">Migration Guide</a>
  </li>



          
        
          
          
            





  
  
  
  <li>
    <a href="/guides/v2.3/cloud/bk-cloud.html">Magento Commerce (Cloud) Guide</a>
  </li>



          
        
          
          
            





  
  
  
  <li>
    <a href="/magento-release-information.html">Release Information</a>
  </li>



          
        
      </ul>
      

      </div>
    

  </li>
  




  
  <li class="nav-main-item" tabindex="0" role="menuitem" aria-haspopup="true">
    <span tabindex="-1">Development</span>

    
      <div class="nav-popup" role="menu" aria-hidden="true">

      

      
        
        
          
          
            <div class="nav-section">
              <div class="nav-section-title">Backend</div>
              <ul>
              
                





  
  
  
  <li>
    <a href="/guides/v2.3/architecture/bk-architecture.html">Architecture</a>
  </li>



              
                





  
  
  
  <li>
    <a href="/guides/v2.3/extension-dev-guide/bk-extension-dev-guide.html">PHP Developer Guide</a>
  </li>



              
                





  
  
  
  <li>
    <a href="/guides/v2.3/ext-best-practices/bk-ext-best-practices.html">Extension Developer Best Practices</a>
  </li>



              
                





  
  
  
  <li>
    <a href="/guides/v2.3/mrg/intro.html">Module Reference Guide</a>
  </li>



              
                





  
  
  
  <li>
    <a href="/guides/v2.3/coding-standards/bk-coding-standards.html">Coding Standards</a>
  </li>



              
                





  
  
  
  <li>
    <a href="/guides/v2.3/contributor-guide/contributing.html">Contributor Guide</a>
  </li>



              
              </ul>
            </div>
          
        
          
          
            <div class="nav-section">
              <div class="nav-section-title">Frontend</div>
              <ul>
              
                





  
  
  
  <li>
    <a href="/guides/v2.3/frontend-dev-guide/bk-frontend-dev-guide.html">Frontend Developer Guide</a>
  </li>



              
                







              
                





  
  
  
  <li>
    <a href="/guides/v2.3/ui_comp_guide/bk-ui_comps.html">UI Components Guide</a>
  </li>



              
                





  
  
  
  <li>
    <a href="/guides/v2.3/javascript-dev-guide/bk-javascript-dev-guide.html">JavaScript Developer Guide</a>
  </li>



              
                





  
  
  
  <li>
    <a href="/guides/v2.3/pattern-library/bk-pattern.html">Admin Design Pattern Library</a>
  </li>



              
                





  
  
  
  <li>
    <a href="/guides/v2.3/design-styleguide/bk-styleguide.html">Admin Style Guide</a>
  </li>



              
                





  
  
  
  <li>
    <a href="https://magento-research.github.io/pwa-studio/">Magento PWA Documentation Site</a>
  </li>



              
              </ul>
            </div>
          
        
          
          
            <div class="nav-section">
              <div class="nav-section-title">API</div>
              <ul>
              
                





  
  
  
  <li>
    <a href="/guides/v2.3/get-started/bk-get-started-api.html">Get Started with Magento Web APIs</a>
  </li>



              
                





  
  
  
  <li>
    <a href="/guides/v2.3/rest/bk-rest.html">REST API Reference</a>
  </li>



              
                





  
  
  
  <li>
    <a href="/guides/v2.3/soap/bk-soap.html">SOAP API Reference</a>
  </li>



              
                





  
  
  
  <li>
    <a href="/guides/v2.3/graphql/">GraphQL Developer Guide</a>
  </li>



              
                





  
  
  
  <li>
    <a href="/guides/v2.3/marketplace/eqp/api.html">Marketplace EQP API Reference</a>
  </li>



              
                





  
  
  
  <li>
    <a href="https://developers.rjmetrics.com/">Magento BI Import REST API</a>
  </li>



              
              </ul>
            </div>
          
        
      
      

      </div>
    

  </li>
  




  
  <li class="nav-main-item" tabindex="0" role="menuitem" aria-haspopup="true">
    <span tabindex="-1">Testing</span>

    
      <div class="nav-popup" role="menu" aria-hidden="true">

      

      
        <ul>
        
          
          
            





  
  
  
  <li>
    <a href="/guides/v2.3/test/testing.html">Magento Testing Guide</a>
  </li>



          
        
          
          
            







          
        
          
          
            





  
  
  
  <li>
    <a href="/mftf/2.3/introduction.html">Functional Acceptance Testing</a>
  </li>



          
        
          
          
            





  
  
  
  <li>
    <a href="/guides/v2.3/mtf/mtf_introduction.html">Functional Testing</a>
  </li>



          
        
          
          
            





  
  
  
  <li>
    <a href="/guides/v2.3/test/integration/integration_test_execution.html">Integration Testing</a>
  </li>



          
        
          
          
            





  
  
  
  <li>
    <a href="/guides/v2.3/test/js/jasmine.html">JavaScript Unit Testing</a>
  </li>



          
        
          
          
            





  
  
  
  <li>
    <a href="/guides/v2.3/test/unit/unit_test_execution.html">PHP Unit Testing</a>
  </li>



          
        
          
          
            





  
  
  
  <li>
    <a href="/guides/v2.3/get-started/web-api-functional-testing.html">Web API Functional Testing</a>
  </li>



          
        
      </ul>
      

      </div>
    

  </li>
  




  
  <li class="nav-main-separator"></li>
  




  
  <li class="nav-main-item" tabindex="0" role="menuitem" aria-haspopup="true">
    <span tabindex="-1">Functional Areas</span>

    
      <div class="nav-popup" role="menu" aria-hidden="true">

      

      
        <ul>
        
          
          
            





  
  
  
  <li>
    <a href="/guides/v2.3/advanced-reporting/overview.html">Advanced Reporting</a>
  </li>



          
        
          
          
            





  
  
  
  <li>
    <a href="/guides/v2.3/b2b/bk-b2b.html">B2B</a>
  </li>



          
        
          
          
            





  
  
  
  <li>
    <a href="/guides/v2.3/howdoi/checkout/checkout_overview.html">Checkout</a>
  </li>



          
        
          
          
            





  
  
  
  <li>
    <a href="http://omsdocs.magento.com/en/">Order Management</a>
  </li>



          
        
          
          
            





  
  
  
  <li>
    <a href="/guides/v2.3/payments-integrations/bk-payments-integrations.html">Payment Integrations</a>
  </li>



          
        
          
          
            





  
  
  
  <li>
    <a href="/guides/v2.3/extension-dev-guide/staging.html">Staging</a>
  </li>



          
        
      </ul>
      

      </div>
    

  </li>
  




  
  <li class="nav-main-item" tabindex="0" role="menuitem" aria-haspopup="true">
    <span tabindex="-1">Tutorials</span>

    
      <div class="nav-popup" role="menu" aria-hidden="true">

      

      
        <ul>
        
          
          
            





  
  
  
  <li>
    <a href="/guides/v2.3/rest/tutorials/index.html">Rest Tutorials</a>
  </li>



          
        
          
          
            





  
  
  
  <li>
    <a href="/guides/v2.3/howdoi/customize_product.html">Customize Product Creation Form</a>
  </li>



          
        
          
          
            





  
  
  
  <li>
    <a href="/guides/v2.3/howdoi/checkout/checkout_overview.html">Customize Checkout</a>
  </li>



          
        
          
          
            





  
  
  
  <li>
    <a href="/community/resources/support.html">Magento Support</a>
  </li>



          
        
          
          
            





  
  
  
  <li>
    <a href="/videos/">Video Tutorials</a>
  </li>



          
        
      </ul>
      

      </div>
    

  </li>
  



</ul><!-- /.nav-main -->
    </div>

    <div class="search-btn">
      <button class="search-trigger search-icon"></button>
    </div>

    <form class="quick-search" action="/guides/v2.3/search.html" method="get" novalidate="novalidate">
      <input type="search" name="q" placeholder="Search" />
      <button class="quick-search-close">&times;</button>
    </form>

  </div>

</nav><!-- #site-nav -->
<div class="nav-main-fader"></div>


	</header>

	<div class="global-wrapper">

		


<div class="message-banner">
    This is the 2.3 Beta release version of Magento documentation. Content in this version is subject to change.
</div>



		<div class="main-container">
			<a id="main-content"></a>


<div class="content-container">

	<!-- sidebar -->
<aside class="sidebar">
	<a href="#" data-proofer-ignore class="toc-toggler">Table of Contents</a>
	<div class="sidebar-wrapper">

		
		
		<h4 class="guide-title">Contribution Guide</h4>
		<div class="collapsible-navigation">
		    <ul>
		    
		    	





  
  
  

  
  
<li class=" ">
  
    <a href="/guides/v2.3/contributor-guide/contributing.html">Code Contributions</a>
  

  
    <ul>
      
         





  
  
  

  
  
<li class=" ">
  
    <a href="/guides/v2.3/contributor-guide/contributing_dod.html">Magento Definition of Done</a>
  

  
</li>



      
         





  
  
  

  
  
<li class=" ">
  
    <a href="/guides/v2.3/contributor-guide/backward-compatible-development/">Backward compatible development</a>
  

  
</li>



      
    </ul>
  
</li>



		    
		    	





  
  
  

  
  
<li class=" ">
  
    <span>DevDocs Contributions</span>
  

  
    <ul>
      
         





  
  
  

  
  
<li class=" ">
  
    <a href="https://github.com/magento/devdocs/blob/master/.github/CONTRIBUTING.md">Contribution Guidelines</a>
  

  
</li>



      
         





  
  
  

  
  
<li class=" ">
  
    <a href="/guides/v2.3/contributor-guide/contributing_docs_suggested.html">Suggested topics for contribution</a>
  

  
</li>



      
         





  
  
  

  
  
<li class=" ">
  
    <span>Templates</span>
  

  
    <ul>
      
         





  
  
  

  
  
<li class="active ">
  
    <a href="/guides/v2.3/contributor-guide/templates/basic_template.html">Basic template</a>
  

  
</li>



      
         





  
  
  

  
  
<li class=" tutorial">
  
    <a href="/guides/v2.3/contributor-guide/templates/tutorial-template-first.html">Sample template tutorial</a>
  

  
</li>



      
    </ul>
  
</li>



      
    </ul>
  
</li>



		    
		    	





  
  
  

  
  
<li class=" ">
  
    <a href="/guides/v2.3/contributor-guide/contributors.html">Contributors</a>
  

  
</li>



		    
		    	





  
  
  

  
  
<li class=" ">
  
    <a href="/guides/v2.3/contributor-guide/maintainers.html">Maintainers</a>
  

  
</li>



		    
		    </ul>
		</div>

	</div>

</aside>
<!-- /sidebar -->

	<section class="content">
		<div class="content-wrap">
			<!-- page-header -->
<section class="page-intro">
	

	

	

	<h1 class="page-heading">Basic template</h1>

  


</section>

			<p>Introductory text that gives an overview of the topic you will be writing about.</p>

<p>The purpose of this page is to provide you with a pre-formatted template and useful   <span term-uuid="a5ef9041-976f-4eb3-826e-bf836027d8c3" class="glossary-term" data-toggle="popover">markdown</span>
 references to help you get started writing docs.</p>

<p>You can start off by editing the local version of this file using markdown language (and   <span term-uuid="a2aff425-07dd-4bd6-9671-29b7edefa871" class="glossary-term" data-toggle="popover">HTML</span>
 where needed). Then, create a Pull Request to have your contribution reviewed by the DevDocs team.</p>

<h2 id="metadata-parameters">Metadata parameters</h2>

<p>Add the following metadata parameters at the top of your page. We use YAML for the metadata in front matter. We use this data when generating the DevDocs for the following:</p>

<table style="table-layout:auto;">
  <thead>
    <tr>
      <th>Parameter</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code class="highlighter-rouge">group:</code></td>
      <td>The table of contents this file belongs to, which points to files located in <code class="highlighter-rouge">_data/toc/</code>. Only add the name of the file without the extension. For example, the group of this file is <code class="highlighter-rouge">group: contributor-guide</code>, which points to the table of contents defined in <code class="highlighter-rouge">_data/toc/contributor-guide.yml</code>.</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">title:</code></td>
      <td>The title of the page.</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">functional_areas:</code></td>
      <td>Optional. Adds facets for search results. Available facets include: Sales, Products, Carts, Customers, Marketing, Account, Content, Reports, Stores, System, Catalog, Orders, Frontend, Theme, Staging, Search, Configurations, Integration, Services, Tools, Setup, Testing, test, Standards, Install, Upgrade, B2B, Cloud, and Bundled extensions. These facets are case sensitive and support multiple facets separated by commas. For example: <code class="highlighter-rouge">functional_areas: Install</code>.</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">redirect_from</code></td>
      <td>Optional. Add a list of other pages in DevDocs that should redirect to this page. The link should start with the <code class="highlighter-rouge">/guides</code> directory. For an example, see the source code for this template page.</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">ee_only:</code></td>
      <td>Optional. If set to <code class="highlighter-rouge">true</code>, graphics/cues display on the page indicating it applies to Magento Commerce.</td>
    </tr>
  </tbody>
</table>

<!-- Available note types: "info", "warning", "tip" -->

<div class="bs-callout bs-callout-info" id="info">
  <p>If you need help with metadata, we can help in your submitted pull requests.</p>
</div>

<h2 id="basic">Basic Markdown Syntax</h2>

<p>Below are some basic examples of what you can do with markdown.</p>

<h3 id="text">Text Effects</h3>

<table>
  <thead>
    <tr>
      <th>Example</th>
      <th>Output</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code class="highlighter-rouge">*emphasis*</code></td>
      <td><em>emphasis</em></td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">**bold**</code></td>
      <td><strong>bold</strong></td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">`inline code`</code></td>
      <td><code class="highlighter-rouge">inline code</code></td>
    </tr>
  </tbody>
</table>

<p>By indenting your content by at least 4 spaces, you can create a code block. For extensive examples of adding code samples, see <a href="#code-blocks">Code blocks</a>.</p>

<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>//This is a code block!
print "Hello World!";
</code></pre></div></div>

<p>For more examples of basic markdown please follow this <a href="https://daringfireball.net/projects/markdown/syntax" target="_blank">link</a>.</p>

<h3 id="lists">Lists</h3>

<p>Lists are useful for organizing and displaying related items. Below are examples of a bulleted list and an ordered list.</p>

<p><strong>Bulleted List:</strong></p>

<div class="language-markdown highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="p">*</span> List Item 1
<span class="p">*</span> List Item 2
<span class="p">*</span> List Item 3
</code></pre></div></div>

<p><em>Output:</em></p>

<ul>
  <li>List Item 1</li>
  <li>List Item 2</li>
  <li>List Item 3</li>
</ul>

<p><strong>Ordered List:</strong></p>

<div class="language-markdown highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="p">1.</span> First Step
<span class="p">2.</span> Second Step
<span class="p">3.</span> Third Step
</code></pre></div></div>

<p><em>Output:</em></p>

<ol>
  <li>First Step</li>
  <li>Second Step</li>
  <li>Third Step</li>
</ol>

<h3 id="images">Images</h3>

<p>Please add any images you may need to the <a href="https://GitHub.com/magento/devdocs/tree/develop/common/images" target="_blank"><code class="highlighter-rouge">common/images</code></a> directory.</p>

<p>Once the image is added, you can use it in your documentation:</p>

<p><em>Example:</em> <code class="highlighter-rouge">![Image](/common/images/install_cygwin.png)</code></p>

<p><em>Output:</em></p>

<p><img src="/common/images/install_cygwin.png" alt="Image Example" /></p>

<p>You can even scale the image if it is too large:</p>

<p><em>Example:</em> <code class="highlighter-rouge">![Scaled Image](/common/images/install_cygwin.png){:width="446" height="246"}</code></p>

<p><em>Output:</em></p>

<p><img src="/common/images/install_cygwin.png" alt="Scaled Image Example" width="446" height="246" /></p>

<h3 id="tables">Tables</h3>

<p>Tables can be useful for displaying different kinds of data in an organized way.</p>

<p><em>Example:</em></p>

<div class="language-markdown highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="c">&lt;!-- Basic Markdown Table Syntax --&gt;</span>
| Column Heading | Column Heading | Column Heading |
|----------------|----------------|----------------|
| Data 1         | Data 2         | Data 3         |
| Data 4         | Data 5         |                |
| Data 6         |                |                |
</code></pre></div></div>

<p><em>Output:</em></p>

<table>
  <thead>
    <tr>
      <th>Column Heading</th>
      <th>Column Heading</th>
      <th>Column Heading</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
    </tr>
    <tr>
      <td>Data 4</td>
      <td>Data 5</td>
      <td> </td>
    </tr>
    <tr>
      <td>Data 6</td>
      <td> </td>
      <td> </td>
    </tr>
  </tbody>
</table>

<p>You can read more about table syntax <a href="http://kramdown.gettalong.org/syntax.html#tables" target="_blank">here</a>.</p>

<h2 id="advanced">Advanced Syntax</h2>

<h3 id="code-blocks">Code blocks</h3>

<p>Code blocks can also be defined using <a href="http://rouge.jneen.net/" target="_blank">Rouge formatting</a>. View the .md file of this template for examples.</p>

<p>For inline code, surround the content with single backticks: <code class="highlighter-rouge">`example`</code>.</p>

<p>For blocks of code, surround content with 3 backticks and an optional <a href="https://GitHub.com/jneen/rouge/wiki/List-of-supported-languages-and-lexers" target="_blank">supported language</a>.</p>

<p><em>Example:</em></p>

<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>```html
&lt;div class="container"&gt;
  &lt;h4 class="title"&gt;Title&lt;/h4&gt;
  &lt;div class="content"&gt;
    &lt;p&gt;Paragraph content.&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;
```
</code></pre></div></div>

<p><em>Output:</em></p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;h4</span> <span class="na">class=</span><span class="s">"title"</span><span class="nt">&gt;</span>Title<span class="nt">&lt;/h4&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"content"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;p&gt;</span>Paragraph content.<span class="nt">&lt;/p&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</code></pre></div></div>

<h3 id="callouts">Callout Messages</h3>

<p>Use these messages to highlight or bring attention to a piece of information.</p>

<p><strong>Notes:</strong></p>

<div class="language-liquid highlighter-rouge"><div class="highlight"><pre class="highlight"><code>
<span class="p">{%</span><span class="w">
</span><span class="nt">include</span><span class="w"> </span><span class="na">note</span><span class="p">.</span><span class="na">html</span><span class="err">
</span><span class="na">type</span><span class="o">=</span><span class="s1">'info'</span><span class="err">
</span><span class="na">content</span><span class="o">=</span><span class="s1">'This is a note callout. You can use these to provide important information on a topic.'</span><span class="err">
</span><span class="p">%}</span>

</code></pre></div></div>

<p><em>Output:</em></p>

<!-- Available note types: "info", "warning", "tip" -->

<div class="bs-callout bs-callout-info" id="info">
  <p>This is a note callout. You can use these to provide important information on a topic.</p>
</div>

<p><strong>Warnings:</strong></p>

<div class="language-liquid highlighter-rouge"><div class="highlight"><pre class="highlight"><code>
<span class="p">{%</span><span class="w">
</span><span class="nt">include</span><span class="w"> </span><span class="na">note</span><span class="p">.</span><span class="na">html</span><span class="err">
</span><span class="na">type</span><span class="o">=</span><span class="s1">'warning'</span><span class="err">
</span><span class="na">content</span><span class="o">=</span><span class="s1">'This is a warning callout. This can be used to convey important information to the reader.'</span><span class="err">
</span><span class="p">%}</span>

</code></pre></div></div>

<p><em>Output:</em></p>

<!-- Available note types: "info", "warning", "tip" -->

<div class="bs-callout bs-callout-warning" id="warning">
  <p>This is a warning callout. This can be used to convey important information to the reader.</p>
</div>

<p><strong>Tips:</strong></p>

<div class="language-liquid highlighter-rouge"><div class="highlight"><pre class="highlight"><code>
<span class="p">{%</span><span class="w">
</span><span class="nt">include</span><span class="w"> </span><span class="na">note</span><span class="p">.</span><span class="na">html</span><span class="err">
</span><span class="na">type</span><span class="o">=</span><span class="s1">'tip'</span><span class="err">
</span><span class="na">content</span><span class="o">=</span><span class="s1">'This is a tip callout. These can be used to provide useful tips or interesting facts on a topic.'</span><span class="err">
</span><span class="p">%}</span>

</code></pre></div></div>

<p><em>Output:</em></p>

<!-- Available note types: "info", "warning", "tip" -->

<div class="bs-callout bs-callout-tip" id="tip">
  <p>This is a tip callout. These can be used to provide useful tips or interesting facts on a topic.</p>
</div>

<h3 id="collapsible">Collapsible content</h3>

<p>You can use the collapsible content tag for large code samples in your content. Any content in a collapse is blocked from searching on page.</p>

<p class="bs-callout bs-callout-info">The <code class="highlighter-rouge">{% collapsible %}</code> tag must be preceded by a blank line.</p>

<p><em>Example:</em></p>

<div class="language-liquid highlighter-rouge"><div class="highlight"><pre class="highlight"><code>
<span class="p">{%</span><span class="w"> </span><span class="nt">collapsible</span><span class="w"> </span>This<span class="w"> </span>is<span class="w"> </span>the<span class="w"> </span>title<span class="w"> </span><span class="p">%}</span>
Markdown content goes in this area.
<span class="p">{%</span><span class="w"> </span><span class="nt">endcollapsible</span><span class="w"> </span><span class="p">%}</span>

</code></pre></div></div>

<p><em>Output:</em></p>

<div class="collapsible">
    <b class="collapsible-title">This is the title </b>
    <div class="collapsible-content"><p>Markdown content goes in this area.</p>
</div>
  </div>


			
		</div>
		<!-- /.content-wrap -->

		<div class="page-info">

  


  

    <div class="github-link">
      <a class="improve-page" href="https://github.com/magento/devdocs/blob/master/guides/v2.3/contributor-guide/templates/basic_template.md" target="_blank">
        Edit this page on GitHub
      </a>
    </div>

    <div class="new-issue">
      <a href="https://github.com/magento/devdocs/issues/new?title=Feedback on page: /guides/v2.3/contributor-guide/templates/basic_template.html" target="_blank">
        Give us feedback
      </a>
    </div>

  

</div>


	</section>
	<!-- /.content -->

</div> <!-- /.content-container -->


	</div>
	<!-- /.main-container -->
</div>
<!-- /#gl-wrapper -->

<!-- footer-->
<div class="page-footer">
  <div class="container">

    <div class="copyright-links">
      <ul class="nav footer-links">
  <li><a href="https://github.com/magento/devdocs/blob/master/.github/CONTRIBUTING.md">Become a Contributor</a>
  <li><a href="https://magento.github.io/glossary/index.html?audience=developer">Glossary</a></li>
  <li><a href="http://magento.com/legal/terms/privacy/">Privacy Policy</a></li>
  <li><a href="http://magento.com/legal/terms/">Terms of Service</a></li>
  <li><a href="http://magento.com/legal/licensing/">License/Trademark FAQ</a></li>
  <!-- If the page is in the root, the link points to the default version of release notes.
       The default version is set in the config.yaml.-->
  <li><a href="/guides/v2.3/release-notes/bk-release-notes.html">Release Notes</a></li>
  <li><a href="/magento-third-party.html">Third-Party Licenses</a></li>
</ul>

    </div>

		<div class="copyright-date">&copy; 2018 Magento. All rights reserved.</div>

  </div>
</div>
<!-- / #footer -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="/assets/js/app.min.js"></script>





<script type="text/javascript">
    (function() {
        var didInit = false;
        function initMunchkin() {
            if(didInit === false) {
                didInit = true;
                Munchkin.init('585-GGD-959', {cookieAnon: false});
            }
        }
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = '//munchkin.marketo.net/munchkin.js';
        s.onreadystatechange = function() {
            if (this.readyState == 'complete' || this.readyState == 'loaded') {
                initMunchkin();
            }
        };
        s.onload = initMunchkin;
        document.getElementsByTagName('head')[0].appendChild(s);
    })();
</script>

<script type="text/javascript">_satellite.pageBottom();</script>




</body>
</html>

