{% assign requirements = site.data.codebase.v2_4.system-requirements %}

<table>
  <thead>
    <tr>
      <th>
        Software dependencies
      </th>
    {% for requirement in requirements %}
      <th>{{requirement[0]}}</th>
    {% endfor %}
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Composer</td>
        {% for requirement in requirements %}
      <td>{% if requirement[1]['Composer'] %}
            {{requirement[1]['Composer']}}
          {% else %}
          --
          {% endif %}
      </td>
        {% endfor %}
    </tr>
    <tr>
      <td>Elasticsearch</td>
        {% for requirement in requirements %}
      <td>{% if requirement[1]['Elasticsearch'] %}
            {{requirement[1]['Elasticsearch']}}
          {% else %}
          --
          {% endif %}
      </td>
        {% endfor %}
    </tr>
    <tr>
      <td>OpenSearch</td>
        {% for requirement in requirements %}
      <td>{% if requirement[1]['OpenSearch'] %}
            {{requirement[1]['OpenSearch']}}
          {% else %}
          --
          {% endif %}
      </td>
        {% endfor %}
    </tr>
    <tr>
      <td>MariaDB</td>
        {% for requirement in requirements %}
      <td>{% if requirement[1]['MariaDB'] %}
            {{requirement[1]['MariaDB']}}
          {% else %}
          --
          {% endif %}
      </td>
        {% endfor %}
    </tr>
    <tr>
      <td>MySQL</td>
        {% for requirement in requirements %}
      <td>{% if requirement[1]['MySQL'] %}
            {{requirement[1]['MySQL']}}
          {% else %}
          --
          {% endif %}
      </td>
        {% endfor %}
    </tr>
    <tr>
      <td>PHP</td>
        {% for requirement in requirements %}
      <td>{% if requirement[1]['PHP'] %}
            {{requirement[1]['PHP']}}
          {% else %}
          --
          {% endif %}
      </td>
        {% endfor %}
    </tr>
    <tr>
      <td>RabbitMQ</td>
        {% for requirement in requirements %}
      <td>{% if requirement[1]['RabbitMQ'] %}
            {{requirement[1]['RabbitMQ']}}
          {% else %}
          --
          {% endif %}
      </td>
        {% endfor %}
    </tr>
    <tr>
      <td>Redis</td>
        {% for requirement in requirements %}
      <td>{% if requirement[1]['Redis'] %}
            {{requirement[1]['Redis']}}
          {% else %}
          --
          {% endif %}
      </td>
        {% endfor %}
    </tr>
    <tr>
      <td>Varnish</td>
        {% for requirement in requirements %}
      <td>{% if requirement[1]['Varnish'] %}
            {{requirement[1]['Varnish']}}
          {% else %}
          --
          {% endif %}
      </td>
        {% endfor %}
    </tr>
    <tr>
      <td>Apache</td>
        {% for requirement in requirements %}
      <td>{% if requirement[1]['Apache'] %}
            {{requirement[1]['Apache']}}
          {% else %}
          --
          {% endif %}
      </td>
        {% endfor %}
    </tr>
    <tr>
      <td>nginx</td>
        {% for requirement in requirements %}
      <td>{% if requirement[1]['nginx'] %}
            {{requirement[1]['nginx']}}
          {% else %}
          --
          {% endif %}
      </td>
        {% endfor %}
    </tr>
    <tr>
      <td>AWS Aurora (MySQL)</td>
        {% for requirement in requirements %}
      <td>{% if requirement[1]['AWS Aurora (MySQL)'] %}
            {{requirement[1]['AWS Aurora (MySQL)']}}
          {% else %}
          --
          {% endif %}
      </td>
        {% endfor %}
    </tr>
    <tr>
      <td>AWS S3</td>
        {% for requirement in requirements %}
      <td>{% if requirement[1]['AWS S3'] %}
            {{requirement[1]['AWS S3']}}
          {% else %}
          --
          {% endif %}
      </td>
        {% endfor %}
    </tr>
    <tr>
      <td>AWS MQ</td>
        {% for requirement in requirements %}
      <td>{% if requirement[1]['AWS MQ'] %}
            {{requirement[1]['AWS MQ']}}
          {% else %}
          --
          {% endif %}
      </td>
        {% endfor %}
    </tr>
    <tr>
      <td>AWS ElastiCache</td>
        {% for requirement in requirements %}
      <td>{% if requirement[1]['AWS ElastiCache'] %}
            {{requirement[1]['AWS ElastiCache']}}
          {% else %}
          --
          {% endif %}
      </td>
        {% endfor %}
    </tr>
    <tr>
      <td>AWS Elasticsearch</td>
        {% for requirement in requirements %}
      <td>{% if requirement[1]['AWS Elasticsearch'] %}
            {{requirement[1]['AWS Elasticsearch']}}
          {% else %}
          --
          {% endif %}
      </td>
        {% endfor %}
    </tr>
    <tr>
      <td>AWS OpenSearch</td>
        {% for requirement in requirements %}
      <td>{% if requirement[1]['AWS OpenSearch'] %}
            {{requirement[1]['AWS OpenSearch']}}
          {% else %}
          --
          {% endif %}
      </td>
        {% endfor %}
    </tr>
  </tbody>
</table>

