/*
  Base button class
*/

.btn {
  display: inline-block;
  margin: 0;

  background-repeat: repeat-x;
  border: none;
  border-radius: $border-radius;

  cursor: pointer;
  color: $body-font-color;

  font-weight: semibold;
  line-height: 1em;
  text-align: center;
  vertical-align: middle;

  transition: $transition-duration;

  &:visited {
    color: $body-font-color;
  }

  &:hover, &:active {
    color: $body-font-color;
    text-decoration: none;
  }

  &:focus {

  }

  &.disabled, &[disabled] {
    cursor: not-allowed;
    opacity: 0.65;
  }

}



// Button sizes

.btn {
  padding: 14px 30px 16px 30px;
  font-size: 15px;
  line-height: 1;
  font-weight: 600;
}

.btn-large {
  padding: 19px 35px 20px;
  font-size: 20px;
  font-weight: 400;
}

.btn-small {
  padding: 8px 20px;
  font-size: 13px;
}


// Button types

.btn-primary {
  color: $btn-primary-color;
  background-color: $btn-primary-bg-color;

  &:visited {
    color: $btn-primary-color;
    background-color: $btn-primary-bg-color;
  }

  &:hover, &:active  {
    color: $btn-primary-color;
    background-color: darken($btn-primary-bg-color, 10%);
  }

  &[disabled]{
    opacity: .4;
  }

}

.btn-secondary {
  color: $btn-secondary-color;
  background-color: $btn-secondary-bg-color;
  box-shadow: inset 0 0 0 1px $btn-secondary-color;

  &:visited {
    color: $btn-secondary-color;
    background-color: #fff;
  }

  &:hover, &:active  {
    color: $btn-primary-color;
    background-color: darken($btn-primary-bg-color, 10%);
  }

}


.btn-link {
  color: $link-color;
  background: transparent;

  &:visited {
    color: $link-color;
  }

  &:hover, &:visited:hover {
    color: $link-hover-color;
    background: #EBEBEA;
  }
}
