.btn {
  border-radius: 2px;
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: $body-font-color;

  background-color: #f5f5f5;
  background-repeat: repeat-x;
  border: none;
  transition: .3s;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
  color: $body-font-color;
  background-color: #e6e6e6;
}

.btn:active, .btn.active {
  background-color: #cccccc;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover, .btn:focus {
  color: #333333;
  text-decoration: none;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.disabled, .btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  box-shadow: none;
}



.btn-large {
  padding: 11px 30px;
  font-size: 20px;
}

.btn-large [class^="icon-"], .btn-large [class*=" icon-"] {
  margin-top: 4px;
}
.btn-small {
  padding: 2px 10px;
  font-size: 11.9px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-small [class^="icon-"], .btn-small [class*=" icon-"] {
   margin-top: 0;
}
.btn-mini [class^="icon-"], .btn-mini [class*=" icon-"] {
   margin-top: -1px;
}
.btn-mini {
  padding: 0 6px;
  font-size: 10.5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}


.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
}

.btn-block+.btn-block {
  margin-top: 5px;
}

input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block {
  width: 100%;
}

.btn-primary.active, .btn-warning.active, .btn-danger.active, .btn-success.active, .btn-info.active, .btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}


.btn-primary {
  color: $btn-primary-color;
  background-color: $btn-primary-bg-color;

  &:visited {
    color: $btn-primary-color;
    background-color: $btn-primary-bg-color;
  }

  &:hover,  {
    color: $btn-primary-color;
    background-color: darken($btn-primary-bg-color,10%);
  }
  &:active {

  }
  &[disabled]{
    opacity: .4;
  }

}



.btn-inverse {
   color: #ffffff;
   text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
   background-color: #363636;
}
.btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
   color: #ffffff;
   background-color: #222222;
   *background-color: #151515;
}
.btn-inverse:active, .btn-inverse.active {
   background-color: #080808 \9;
}
button.btn, input[type="submit"].btn {
   *padding-top: 3px;
   *padding-bottom: 3px;
}
button.btn::-moz-focus-inner, input[type="submit"].btn::-moz-focus-inner {
   padding: 0;
   border: 0;
}
button.btn.btn-large, input[type="submit"].btn.btn-large {
   *padding-top: 7px;
   *padding-bottom: 7px;
}
button.btn.btn-small, input[type="submit"].btn.btn-small {
   *padding-top: 3px;
   *padding-bottom: 3px;
}
button.btn.btn-mini, input[type="submit"].btn.btn-mini {
   *padding-top: 1px;
   *padding-bottom: 1px;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
   background-color: transparent;
   background-image: none;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
}

.btn-link {
  border-color: transparent;
  cursor: pointer;
  color: $link-color;
  border-radius: 0;
  background-color: transparent;

  &:hover, &:focus {
    color: $link-hover-color;
    text-decoration: underline;
    background-color: transparent;
  }

}




.btn.copper {
  color: #fff;
  background: #ef672f;
  box-shadow: inset 0 0 0 0 #c14800;
  transition-duration: 0.7s;
  -webkit-transition: 0.7s
}

.btn.copper:hover {
  box-shadow: inset 0 100px 0 0 #c14800;
  transition-duration: 0.4s;
  -webkit-transition: 0.4s
}

.btn.outline {
  color: #fff;
  background: transparent;
  border: 3px solid #fff;
  box-shadow: inset 0 0 0 0 #fff
}

.btn.outline:hover {
  color: #31302b;
  box-shadow: inset 0 100px 0 0 #fff
}

.btn.charcoal {
  color: #fff;
  background: #31302b;
  box-shadow: inset 0 0 0 0 #fff;
  transition-duration: 0.7s;
  -webkit-transition: 0.7s
}

.btn.charcoal:hover {
  color: #31302b;
  box-shadow: inset 0 100px 0 0 #fff;
  transition-duration: 0.4s;
  -webkit-transition: 0.4s
}
