
.bs-callout {
  position: relative;
  margin: 20px 0 20px 0;
  padding: 15px;
  background: #e4f0f5
}

.bs-callout:before {
  display: block;
  position: absolute;
  content: '';
  width: 30px;
  height: 30px;
  top: 12px;
  left: 15px;
  background-repeat: no-repeat;
}

.bs-callout-info {
  padding-left: 60px
}

.bs-callout-info:before {
  background-image: url(../i/icons/info.svg);
}

.bs-callout-warning {
  padding-left: 60px;
  background: #fcebce
}

.bs-callout-warning:before {
  background-image: url(../i/icons/warning.svg);
}

.bs-callout-tip {
  padding-left: 60px;
  background: #e7eecd
}

.bs-callout-tip:before {
  background-image: url(../i/icons/tip.svg);
}
