
.bs-callout {
  position: relative;
  margin: 20px 0 20px 0;
  padding: 30px;
  background: #F2F3F3;
}

.bs-callout:before {
  display: block;
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  top: 28px;
  left: 30px;
  background-repeat: no-repeat;
  background-size: contain;
}

.bs-callout-info {
  padding-left: 80px;
  background: #E4F0F8;
  border: 1px solid #346E92;
}

.bs-callout-info:before {
  background-image: url(../i/icons/info.svg);
}

.bs-callout-warning {
  padding-left: 80px;
  background: #FBEDD9;
  border: 1px solid #C27500;
}

.bs-callout-warning:before {
  background-image: url(../i/icons/warning.svg);
}

.bs-callout-tip {
  padding-left: 80px;
  //background: #e7eecd;
  background: #DCF3E1;
  border: 1px solid #0F7D26;
}

.bs-callout-tip:before {
  background-image: url(../i/icons/tip.svg);
}

.bs-callout-tutorial {
  padding-left: 80px;
}
.bs-callout-tutorial:before {

  background-image: url(../i/icons/tutorial.svg);
}
