code, pre {
   font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
   color: #333;
	font-size: 13px;
}

code {
   padding: 2px 4px;
	margin: 0;
	border: 1px solid #ddd;
	background-color: #f8f8f8;
	font-size: .9em;
	border-radius: 3px;
   word-wrap: break-word;
}

pre {
   display: block;
   padding: 6px 10px;
   margin: 0 0 10px;

   line-height: 19px;
   word-break: break-all;
   word-wrap: break-word;
   white-space: pre;

	background-color: #f8f8f8;
	border: 1px solid #ddd;
	border-radius: 3px;
	overflow: auto;
}

pre code {
   padding: 0;
   color: inherit;
	white-space: pre;
	word-wrap: normal;
   background-color: transparent;
   border: none;
}

a code {
   color: inherit;
   font-size: .9em;
}

.pre-scrollable {
	max-height: 340px;
   overflow-y: scroll;
}




/* TDD code format in headers */

h1 code, h2 code, h3 code, h4 code, h5 code {
   padding: 2px 4px;
   color: #000;
   background-color: transparent;
   border: 0px solid #e1e1e8;
   white-space: nowrap;
   font-size: 1em;
}
