/*
 * This file contains style definitions for collapsible elements
 */

.collapsible {

  .collapsible-title {
    cursor: pointer;
    display: block;
    margin: 0;

    &:focus{
      outline: none;
    }
  }

  &:hover .anchor {
    display: none;
  }

  .collapsible-content{

  }

  .ui-accordion-header-icon {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 0 4px 6px;
    border-color: transparent transparent transparent $link-color;
    transition: all .3s;
  }

  .ui-state-active .ui-accordion-header-icon {
    transform: rotate(90deg);
  }

}
.collapsible-h2 {
  margin: 15px 0 10px 0;
}
.collapsible-h3 {
  margin: 15px 0 10px 0;
}
