/*
 * This file contains style definitions for collapsible elements
 */

.collapsible{

  .collapsible-title{
    cursor: pointer;
    display: block;

    text-decoration: none;
    background-repeat: no-repeat;
    background-position: 0px center;
    padding: 0 0 0 15px;

    &:focus{
      outline: none;
    }
  }

  .ui-accordion-header{
    background-image: url('../../common/css/caret_right.png');
  }

  .ui-accordion-header-active{
    background-image: url('../../common/css/caret_down.png');
  }

  code{
    padding: 10px;
    margin: 10px;
  }
}
