
.custom-table {
    margin-top: 0;

    th,
    td {
        text-align: center;
        white-space: nowrap;

        &:first-child {
            text-align: left;
            white-space: normal;
        }
    }

    .primary-item {
        width: 70%;
    }

    .note-item {
        font-size: 0.7em;
    }

    @media (max-width: 767px) {
        th,
        td {
            padding: 7px;
        }

        .primary-item {
            width: 60%;
        }
    }
}
