#footer {
  background: $footer-background-color;
  color: $footer-color;
  padding: 20px 0;
  font-size: 13px;


  a {
    color: $footer-link-color;

    &:hover {
      color: lighten( $footer-link-color, 10% );
    }
  }


  .copyright-links {
    text-align: center;
    padding: 0 0 10px 0;
  }


  .nav {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 20px 0 0 ;
  }

  .copyright-date {
    text-align: center;
  }


  @media ( $small-screen ) {

    margin: 0;
    padding: 10px 0;

    .copyright-date {
      text-align: left;
    }
    .copyright-links {
      text-align: left;
    }
    li {
      display: block;
      margin: 10px 0;
    }
  }


}
