

form {
   margin: 0 0 20px;
}
fieldset {
   padding: 0;
   margin: 0;
   border: 0;
}
legend {
   display: block;
   width: 100%;
   padding: 0;
   margin-bottom: 20px;
   font-size: 21px;
   line-height: 40px;
   color: #333333;
   border: 0;
   border-bottom: 1px solid #e5e5e5;
}
legend small {
   font-size: 15px;
   color: #999999;
}
label, input, button, select, textarea {
   font-size: 14px;
   font-weight: normal;
   line-height: 20px;
}
label {
   display: block;
   margin-bottom: 5px;
}

input, textarea, keygen, select, button {
   font-family: "Open Sans", sans-serif;
}
