/* Solarized Dark
For use with Jekyll and Pygments
http://ethanschoonover.com/solarized
SOLARIZED HEX      ROLE
--------- -------- ------------------------------------------
*/
$bg-color: #2C3038; //  background
$base01:   #818896; //  comments / secondary content
$body:     #C0C7D4; //  body text / default code / primary content
$orange:   #FF8900; //  constants
$red:      #FF2B27; //  regex, special keywords
$blue:     #6DC2FD; //  reserved keywords
$cyan:     #69FFF4; //  strings, numbers
$green:    #3AE25C; //  operators, other keywords

.highlight {
    background-color: $bg-color; color: $body;

    .c { color: $base01; } /* Comment */
    .err { color: $body; } /* Error */
    .g { color: $body; } /* Generic */
    .k { color: $green; } /* Keyword */
    .l { color: $body; } /* Literal */
    .n { color: $body; } /* Name */
    .o { color: $green; } /* Operator */
    .x { color: $orange; } /* Other */
    .p { color: $body; } /* Punctuation */
    .cm { color: $base01; } /* Comment.Multiline */
    .cp { color: $green; } /* Comment.Preproc */
    .c1 { color: $base01; } /* Comment.Single */
    .cs { color: $green; } /* Comment.Special */
    .gd { color: $cyan; } /* Generic.Deleted */
    .ge { color: $body;; font-style: italic } /* Generic.Emph */
    .gr { color: $red; } /* Generic.Error */
    .gh { color: $orange; } /* Generic.Heading */
    .gi { color: $green; } /* Generic.Inserted */
    .go { color: $body; } /* Generic.Output */
    .gp { color: $body; } /* Generic.Prompt */
    .gs { color: $body;; font-weight: bold } /* Generic.Strong */
    .gu { color: $orange; } /* Generic.Subheading */
    .gt { color: $body; } /* Generic.Traceback */
    .kc { color: $orange; } /* Keyword.Constant */
    .kd { color: $blue; } /* Keyword.Declaration */
    .kn { color: $green; } /* Keyword.Namespace */
    .kp { color: $green; } /* Keyword.Pseudo */
    .kr { color: $blue; } /* Keyword.Reserved */
    .kt { color: $red; } /* Keyword.Type */
    .ld { color: $body; } /* Literal.Date */
    .m { color: $cyan; } /* Literal.Number */
    .s { color: $cyan; } /* Literal.String */
    .na { color: $body; } /* Name.Attribute */
    .nb { color: $orange } /* Name.Builtin */
    .nc { color: $blue; } /* Name.Class */
    .no { color: $orange; } /* Name.Constant */
    .nd { color: $blue; } /* Name.Decorator */
    .ni { color: $orange; } /* Name.Entity */
    .ne { color: $orange; } /* Name.Exception */
    .nf { color: $blue; } /* Name.Function */
    .nl { color: $body; } /* Name.Label */
    .nn { color: $body; } /* Name.Namespace */
    .nx { color: $body; } /* Name.Other */
    .py { color: $body; } /* Name.Property */
    .nt { color: $blue; } /* Name.Tag */
    .nv { color: $blue; } /* Name.Variable */
    .ow { color: $green; } /* Operator.Word */
    .w  { color: $body; } /* Text.Whitespace */
    .mf { color: $cyan; } /* Literal.Number.Float */
    .mh { color: $cyan; } /* Literal.Number.Hex */
    .mi { color: $cyan; } /* Literal.Number.Integer */
    .mo { color: $cyan; } /* Literal.Number.Oct */
    .sb { color: $base01 } /* Literal.String.Backtick */
    .sc { color: $cyan; } /* Literal.String.Char */
    .sd { color: $body; } /* Literal.String.Doc */
    .s2 { color: $cyan; } /* Literal.String.Double */
    .se { color: $orange; } /* Literal.String.Escape */
    .sh { color: $body; } /* Literal.String.Heredoc */
    .si { color: $cyan; } /* Literal.String.Interpol */
    .sx { color: $cyan; } /* Literal.String.Other */
    .sr { color: $red; } /* Literal.String.Regex */
    .s1 { color: $cyan; } /* Literal.String.Single */
    .ss { color: $cyan; } /* Literal.String.Symbol */
    .bp { color: $blue; } /* Name.Builtin.Pseudo */
    .vc { color: $blue; } /* Name.Variable.Class */
    .vg { color: $blue; } /* Name.Variable.Global */
    .vi { color: $blue; } /* Name.Variable.Instance */
    .il { color: $cyan; } /* Literal.Number.Integer.Long */
}
