
.home-intro {
  padding: 30px 0 20px 0;
  text-align: center;
  background: $light-gray-color;
  border-bottom: 1px solid $beige-color;

  .search-form {
    margin-top: 20px;
  }

}




.home-features {
  text-align: center;

  .feature {
    vertical-align: top;
    display: inline-block;
    width: 32%;
    padding: 20px 0 0;
  }

  .title {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding: 0 0 5px 0;
  }

  ul,li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  @media (max-width:767px) {

    .feature {
      width: 100%;
    }
  }


}




.home-contributors {

  padding: 70px 0 0;
  text-align: center;

  .intro {
    margin: 0 auto;
    max-width: 50em;
  }

  .contributor {
    display: inline-block;
    vertical-align: top;
    padding: 20px 10px;
    max-width: 210px;
    min-width: 180px;
    width: 33%;
  }

  .avatar {
    display: inline-block;
    max-width: 80px;
    border-radius: 50%;
    overflow: hidden;
  }

  .name {
    font-size: 16px;
    line-height: 1.4em;
    font-weight: bold;
    margin: 10px 0 0 0;
  }

  .role {
    font-size: 14px;
  }

  .contacts {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
    }

    a {
      display: inline-block;
      text-indent: -9999px;
      width: 32px;
      height: 32px;
      background: #CCC;
    }

    .twitter {

    }
    .linkedin {

    }
    .github {

    }
    .web {

    }
    .mail {

    }

  }

}
