
.home-intro {
  padding: 30px 0 20px 0;
  text-align: center;
  background: $light-gray-color;
  border-bottom: 1px solid $beige-color;

  .search-form {
    margin-top: 20px;
    .input-group {
      width: 100%;
    }
  }

}


.home-features {
  text-align: center;
  max-width: 1300px;
  margin: 0 auto;

  .feature {
    vertical-align: top;
    display: inline-block;
    width: 32%;
    padding: 20px 0 0;
  }

  .title {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding: 0 0 10px 0;
  }

  ul,li {
    list-style: none;
    margin: 0 0 5px 0;
    padding: 0;
  }

  @media ( $small-screen ) {

    .feature {
      width: 100%;
    }
  }


}




.home-contributors {

  padding: 70px 0 30px 0;
  text-align: center;

  .intro {
    margin: 0 auto;
    max-width: 50em;
  }

  .periods {
    display: block;
  }

  .devdocs-contributors {
    margin: 0 auto;
    max-width: 900px;
  }

  .contributor {
    width: 20%;


    @media ( max-width: 760px) {
      width: 33%;
    }

    @media ( max-width: 560px) {
      width: 50%;
    }

  }


}




.home-videos {

  padding: 70px 0 0;
  text-align: center;

  .intro {
    margin: 0 auto;
    max-width: 50em;
  }

}
