html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: $light-gray-color; // this is needed for spring scrolling to not show the white border
}

.main-container {
  background: #fff;
  padding: 0 0 50px 0;
  clear: both; /* SRJ - fix Firefox bug */

  & > .container {
    padding-top: 20px;
  }
}

.content {
  position: relative;
  float: right;
  width: 80%;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}





.container:before, .container:after {
  display: table;
  content: "";
  line-height: 0;
}
.container:after {
  clear: both;
}





/*
.main-container {
   padding-top: 105px;
   background: #fff
}

#gl-wrapper {
   width: 100%;
   position: relative;
   z-index: 50;
}
*/

.full-width-content {
  width: 90%;
}

.content-wrap {

  padding: 0 40px 0 40px;
  margin-right: 200px;

  #markdown-toc {
    display: none;
  }
}





// for large screens, make more whitespace on sides
@media (min-width: 1500px){



  .container {
    padding-left: 66px;
    padding-right: 66px;
    max-width: 1600px;
    margin: 0 auto;
  }

}

// For smaller screens, remove toc from left column and show in-page-toc
@media ( max-width: 1024px ) {

  .content-wrap {
    margin-right: 0;
  }

  .main-container {
    padding-bottom: 20px;
  }

  .main-container > .container {
    padding: 0;
  }

}




@media (max-width:767px) {



   .pane-content .container {
      padding: 0;
   }

   .container, .page-intro .container, .home-section .container {
      padding: 0 20px;
   }

  .main-container {
    width: 100%;
    overflow-x: auto;
  }

  .content {
    float: none;
    width: auto;
    padding: 10px 20px;
  }

  .content .content-wrap {
    padding: 0;
  }







   #searchResultsBox {
      left: 0;
      top:0;
      right: 0;
      bottom: 0;
      height: 100%;
      overflow-x: hidden;
   }

   #searchResultsBox .gsc-control-wrapper-cse {
      width: 100%;
      height: 100%;
   }

   .searchResultsBack {
      background: #fff;
      opacity: 1;
   }
}


.affix {
  position: fixed;
}
