.left-navigation{
    padding: 5px;

    ul {
        list-style: none;
        margin: 5px 0px 0px 0px;
        padding: 0px;
        padding-left: 15px;

        ul {
            display: none;
        }

        li {
            margin-left: 0px;
            margin-bottom: 10px;

            span, a {
                padding: 0px;
                cursor: pointer;
            }

            .tutorial:before {
                position: absolute;
                top: 2px;
                left: -20px;
                display: inline-block;
                content: '';
                width: 16px;
                height: 14px;
                vertical-align: middle;
                background: url(../i/icons/tutorial.svg) no-repeat center;
            }
        } 

        .nav-level1 {
            span, a {
                font-weight: bold;
                font-size: 14px;
            }
        }
        .nav-level2 {
            span, a {
                font-weight: normal;
                text-transform: none;
            }
        }
        .nav-level3 {
            span, a {
                font-size: 13px;
            }
        }
    }

    .toggle {
        margin: 0px;
        padding: 0px;
        margin-left: -13px;
        cursor: pointer;
        display: block;
        float: left;
        width: 10px;
    }

    .toggle.closed{
        background-image: url(../../common/css/caret_right.png);
        background-repeat: no-repeat;
        background-position: 0px 4px;
    }

    .toggle.open{
        background-image: url(../../common/css/caret_down.png);
        background-repeat: no-repeat;
        background-position: 0px 8px;
    }

    .active {
    }
}
