// Custom list icons
// Assign class name to the list item like this: * {:.fix} This is fixed

li.new, li.fix {
  list-style: none;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    top: .2em;
    left: -1.5em;
  }
}

li.new::before {
  background: url(../../i/icons/new.svg);
}

li.fix::before {
  background: url(../../i/icons/fix.svg);
}

