
.nav-main {
   background: #31302b;
   clear: both;
   z-index: 100;
   position: relative;
}



.nav-main ul {
   margin: 0;
   list-style: none;
}

.nav-main #subnav::after {
   clear: both;
   display: block;
   content: '';
}

.nav-main #subnav > ul {
   float: left;
}

.nav-main .divider {
   width: auto;
   clear: both;
   border-top: 1px solid #676056;
   margin: 10px 40px;
}

.nav-main ul::after {
   display: block;
   clear: both;
   content: '';
}

.nav-main ul li {
   float: left;
   position: relative;
   line-height: 1em;
}

.nav-main ul li a {
   color: #fff;
}

.nav-main ul li:hover>a {
   color: #ef672f;
   background: #31302b;
   text-decoration: none;
}

.nav-main ul li.active a {
   color: #ef672f;
}

.nav-main ul ul li {
   width: 100%;
}

.nav-main ul ul li a {
   color: #cac3b4;
}
.nav-main ul ul li a:hover {
   color: #fff;
}
.nav-main ul ul li a.active {
   color: #ef672f;
}
.nav-main ul li:hover ul {
   color: #fff;
   background: #31302b;
}



.nav-main ul li a {
   font: 14px 'Open Sans', sans-serif;
   font-weight: 600;
   padding: 12px 15px;
   outline: 0;
   background: #31302b;
   display: block;
}

.nav-main ul li:hover > a {
   color: #25acc3;
   background: #31302b;
}

.nav-main ul ul {
   background: #31302b;
   position: absolute;
   left: -9999px;
   width: 200px;
   visibility: hidden;
   opacity: 0;
   transition: opacity 0.1s linear, visibility 0.1s linear
}

.nav-main .children-toggle {
   display: none;
}



.nav-main ul ul li a {
    font: 12px 'Open Sans', sans-serif;
    text-transform: none
}

.nav-main  ul ul li a:hover {
    color: #fff
}

.nav-main ul li:hover ul {
    color: #fff;

    visibility: visible;
    opacity: 1;
    left: auto;
    transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s
}

.nav-main .nav-close {
   display: none;
}
.nav-main  .nav-close:active, .nav-main .nav-close:focus {
   text-decoration: none;
   border: none;
}



.nav-main nav .sub-site-name a {
   width: auto;
}

.sticky-nav-main {
  position: fixed;
  top: 0;
  width: 100%;
}




.site-header .menu-btn {
   width: 65px;
   height: 66px;
   position: absolute;
   overflow: hidden;
   display: none;
   border-right: 1px solid #c24c05;
}


.site-header .menu-icon {
   display: block;
   width: 100%;
   height: 100%;
   background: url(../i/general-nav-mobile.png) top left no-repeat;
   -webkit-transition: background-color 0.2s linear;
   -moz-transition: background-color 0.2s linear;
   -o-transition: background-color 0.2s linear;
   -ms-transition: background-color 0.2s linear;
   transition: background-color 0.2s linear
}

.site-header .menu-icon:hover {
   background: url(../i/general-nav-mobile.png) top right no-repeat;
   background-color: #fff;
   -webkit-transition: background-color 0.2s linear;
   -moz-transition: background-color 0.2s linear;
   -o-transition: background-color 0.2s linear;
   -ms-transition: background-color 0.2s linear;
   transition: background-color 0.2s linear
}
