
.nav-main {

  float: left;
  z-index: 9;
  position: relative;
  margin-top: 8px;

  ul {
    margin: 0;
    list-style: none;

    // Navigation dropdown

    li:hover > ul {
      visibility: visible;
      opacity: 1;
      left: auto;

    }

    ul {

      background: $dropdown-bg;
      position: absolute;
      left: -9999px;
      top: 38px;
      width: 280px;
      visibility: hidden;
      opacity: 0;
      background-clip: padding-box;
      padding: 5px 0;
      border: $dropdown-border-width solid $dropdown-border-color;
      box-shadow: 0 3px 6px rgba(0,0,0,.1);
      z-index: 1;


      a {
        font-size: 14px;
        padding: 8px 14px;
        font-weight: normal;
        line-height: 1.4;
        border: none;
        &:hover {
          background: $dropdown-link-hover-bg;
        }
      }

      li {
        width: 100%;
      }
    }

  }

  li {
    float: left;
    position: relative;
    line-height: 1;
    margin: 0;
    padding: 0;
  }

  a {
    position: relative;
    font-size: 14px;
    background-clip: padding-box;
    font-weight: 600;
    padding: 12px 14px;
    outline: 0;
    display: block;
    border: $dropdown-border-width solid transparent;
    z-index: 2;
  }

  li.has-children > a{
    position: relative;
    z-index: 2;
    border-bottom: none;
    cursor: default;
  }
  a, a:visited {
    color: $body-font-color;
  }

  a:hover {
    color: $body-font-color;
    text-decoration: none;
  }

  li:hover > a {
    background: $dropdown-bg;
    border-color: $dropdown-border-color;
  }


}


.nav-main-mobile {
  display: none;
}

.nav-close {
  display: none;
}

.nav-close:active, .nav-close:focus {
  text-decoration: none;
  border: none;
}


.nav-main #subnav::after {
  clear: both;
  display: block;
  content: '';
}

.nav-main #subnav > ul {
  float: left;
}

.nav-main .divider {
  width: auto;
  clear: both;
  border-top: 1px solid #676056;
  margin: 10px 40px;
}

.nav-main ul::after {
  display: block;
  clear: both;
  content: '';
}







.nav-main ul ul.wide li {
    width: 33%;
    height: 50px;
}







.nav-main ul ul.wide {
  width: 600px;
}

.nav-main .children-toggle {
  display: none;
}






.sticky-nav-main {
  position: fixed;
  top: 0;
  width: 100%;
}





/* TDD - Alternate menu appearance

.nav-main #subnav-wrap #subnav ul li a {
  font: 1em 'Open Sans',sans-serif;
  font-weight: 600;
  text-transform: none;
  padding: 11px 15px;
  outline: 0;
  background: none repeat scroll 0 0 #31302b;
} */




body.offcanvas-active {
  overflow: hidden;
}

@media ( $medium-screen ) {

  .nav-main {
    position: fixed;
    transition: all .2s;
    margin: 0;
    top: 0;
    right: 0;
    height: auto;
    max-height: 100%;
    width: 100%;
    max-width: 400px;
    z-index: 3000;
    -webkit-overflow-scrolling: touch;
    background: #fff;
    overflow: auto;
    display: none;

    .offcanvas-active &.nav-main-mobile {
      display: block;
    }

    li {
      width: 100%;
      border: none;
      border-bottom: 1px solid $light-gray-color;
    }

    li a, {
      display: block;
      font-size: 16px;
      padding: 20px $header-height 20px 20px;
    }

    li a, li a:hover {
      background: none;
      border: none;
    }

    ul {
      padding-top: $header-height;
    }

    // Second level menu
    ul ul {
      visibility: visible;
      position: relative;
      left: 0;
      top: 0;
      opacity: 1;
      width: 100%;
      max-height: 0;
      padding: 0;
      margin: 0;
      border: none;
      overflow: hidden;
      transition: max-height 0.2s;
      box-shadow: none;

      li a {
        font-size: 14px;
        padding-left: 20px;
      }

    }
    .expanded ul {
      max-height: 999px;
    }

    .children-toggle {
      position: absolute;
      display: block;
      width: $header-height;
      height: 57px;
      border: none;
      background: none;
      top:0;
      right: 0;
      z-index: 1;

      &:after {
        width: 0;
        height: 0;
        margin: 0 auto;
        position: relative;
        top: 22px;
        border-style: solid;
        border-width: 8px 6px 0 6px;
        border-color: #333 transparent transparent transparent;
        display: block;
        content: '';
        transition: all .2s;
      }
    }

    .expanded .children-toggle:after {
      transform: rotate(180deg);
    }


  }

/*
  .offcanvas-active .site-header,
  .offcanvas-active #gl-wrapper,
  .offcanvas-active #footer  {
      //transform: translate(260px,0);
  }*/





}

.nav-main-fader {
  background: rgba(0,0,0,0);
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  transition: all .2s;

  .offcanvas-active &, .search-active & {
    background: rgba(0,0,0,.2);
    visibility: visible;
  }

}
