.quick-search {
  display: none;
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
  height: $header-height;
  top: 0;
  right: 0;
  z-index: 9999;

  padding-left: 260px;
  padding-right: 80px;

  @media (max-width:1200px) {
    padding-left: 160px;
  }

  @media ( $large-screen ) {
    padding-left: 180px;
  }
  @media ( $small-screen ) {
    padding-left: 20px;
    z-index: 12;
  }
  input {
    display: block;
    background: #fff;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 16px;
    border-radius: 0;

    &:focus {
      outline: none;
    }
  }

  .search-active & {
    display: block;
  }


  .quick-search-close {
    display: block;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    width: 80px;
    height: $header-height;
    background: $light-gray-color;
    color: $body-font-color;
    text-decoration: none;
    font-size: 32px;
    line-height: $header-height;
  }
}
.search-active .site-header .menu-btn {
  z-index: 1;
}


.algolia-autocomplete {
  width: 100%;
  height: 100%;
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
  width: 100%;
}
.algolia-autocomplete .aa-hint {
  color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  background-color: #fff;
  border: 1px solid #9B9B9B;
  margin-top: 2px;
  border-radius: 2px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion a {
  display: block;
  padding: 10px 15px;
  color: $body-font-color;
  text-decoration: none;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion a:hover {
  color: $body-font-color;
  background: $dropdown-link-hover-bg;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background: $dropdown-link-hover-bg;;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}
