

// search box on home page

input[type=search] {
  -webkit-appearance: none;
}

.search-form {

  position: relative;
  max-width: 590px;
  margin: 0 auto;

  .search-icon {
    width: 50px;
    height: 47px;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../i/icons/search.svg');
    z-index: 3;
  }

  .search-field {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    line-height: 22px;
  }

  .search-submit {
    height: 49px;
    font-size: 16px;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  @media ( $small-screen ) {
    .search-field {
      border-radius: 3px;
    }
    .input-group-btn {
      display: none;
    }
  }

}



.search-field , .gsc-input input.gsc-input {
  font-family: $body-font-family;
  font-size: 16px;
	display: block;
	width: 100%;
	border-radius: 3px;
	padding: 12px 20px 13px 50px;
	line-height: 1em;
	border: 1px solid #ccc;
	display: block;
	margin: 0;
  transition: all .3s;

  &:focus {
    outline: none;
    border-color: $link-color;
  }
}



.gsc-input {

  position: relative;

  &::after {
    display: block;
    content: '';
    width: 50px;
    height: 47px;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../i/icons/search.svg');
    z-index: 3;
  }
}

.gsc-results-wrapper-nooverlay {
  min-height: 400px;
  //background: url(../i/loader.svg) no-repeat center center;
}


#search-results {
  min-height: 400px;
  font-family: $body-font-family;
  background: #fff;

  .loading {
    background: url(../i/loader.svg) no-repeat center center;
    height: 40px;
  }

  table, tr, td {
    border: none;
    margin: 0;
    padding: 0;
  }

}

.cse .gsc-results, .gsc-results {
  max-width: 650px;
}


div.gsc-control-wrapper-cse tr:nth-child(odd) td {
  background: transparent;
}


div.gsc-control-cse {
	min-height: 100%;
	border: none;
	padding: 0;
}
.gsc-control-cse .gsc-wrapper {
	padding: 0 20px;
}
.gsc-control-cse .gsc-wrapper .gsc-table-result {
	font-family: $body-font-family;
	margin: 0;
}

.gsc-result-info-container {
	padding: 0 0 0 20px;
}



// Tabs

.gsc-tabsArea {
	border-color: transparent !important;
  padding: 0 10px 0 0 !important;

  div &:after {
    display: block;
    clear: both;
    content: '';
  }
}

.cse .gsc-tabHeader, .gsc-tabHeader {
  margin: 0 -1px 0 0 !important;
  padding: 5px 10px !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  display: block !important;
  float: left !important;
  position: relative !important;
  &:active, &:hover {
    outline: none;
    border-color: #999 !important;
  }
}
.gsc-tabHeader.gsc-tabhInactive {
	border-color: transparent;
  color: $link-color !important;
  background: #fff !important;
  border: 1px solid $light-gray-color !important;
  z-index: 1;
  &:hover {
    color: $link-hover-color !important;
  }
}

.gsc-tabHeader.gsc-tabhActive {
	border: 1px solid #ccc !important;
  background: #fff !important;
  color: $body-font-color !important;
  z-index: 2;
}


.gsc-results .gsc-webResult.gsc-result,
.gsc-results .gsc-imageResult {
	border-color: transparent;
	background-color: #fff;
	padding: 0 0 30px 0;
	margin: 0;
}

.gsc-webResult.gsc-result:hover,
.gsc-imageResult:hover {
	border-color: transparent;
	background-color: #fff !important;
}

.gsc-webResult.gsc-result.gsc-promotion:hover {
	border-color: transparent;
	background-color: #fff;
}

.gs-webResult.gs-result a.gs-title:link,
.gs-webResult.gs-result a.gs-title:link b,
.gs-imageResult a.gs-title:link,
.gs-imageResult a.gs-title:link b {
	color: $link-color !important;
  text-decoration: none;
}

.gs-webResult.gs-result a.gs-title:visited,
.gs-webResult.gs-result a.gs-title:visited b,
.gs-imageResult a.gs-title:visited,
.gs-imageResult a.gs-title:visited b {
	color: $link-visited-color !important;
}

.gs-webResult.gs-result a.gs-title:hover,
.gs-webResult.gs-result a.gs-title:hover b,
.gs-imageResult a.gs-title:hover,
.gs-imageResult a.gs-title:hover b {
	color: $link-hover-color !important;
  text-decoration: underline;
}

.gs-webResult.gs-result a.gs-title:active,
.gs-webResult.gs-result a.gs-title:active b,
.gs-imageResult a.gs-title:active,
.gs-imageResult a.gs-title:active b {
	color: #0000FF;
}

.gsc-cursor-page {
	color: #0000FF;
}

a.gsc-trailing-more-results:link {
	color: #0000FF;
}
.gs-webResult .gs-snippet,
.gs-imageResult .gs-snippet,
.gs-fileFormatType {
	color: #000000;
}
.gs-webResult div.gs-visibleUrl,
.gs-imageResult div.gs-visibleUrl {
	color: #006621 !important;
  font-size: 12px;
  font-weight: 400;
}
.gs-webResult div.gs-visibleUrl-short {
	color: #000000;
}
.gs-webResult div.gs-visibleUrl-short {
	display: none;
}
.gs-webResult div.gs-visibleUrl-long {
	display: block;
}
.gs-promotion div.gs-visibleUrl-short {
	display: none;
}
.gs-promotion div.gs-visibleUrl-long {
	display: block;
}


.gsc-results .gsc-cursor-box {
	border-color: #fff;

  .gsc-cursor-page {
  	border-color: transparent;
  	background-color: #fff;
  	color: $link-color !important;
    text-decoration: none !important;
    padding: 10px 10px;
    margin: 0 !important;

    &:hover {
      color: $link-hover-color !important;
      text-decoration: underline !important;
    }
  }

  div.gsc-cursor-current-page, div.gsc-cursor-current-page:hover {
    padding: 10px 10px;
    margin: 0 !important;
    border: none;
    text-shadow: none;
  	background: #fff !important;
    color: $body-font-color !important;
    text-decoration: none !important;
  }

}


.gsc-webResult.gsc-result.gsc-promotion {
	border-color: #336699;
	background-color: #fff;
}
.gsc-completion-title {
	color: #0000FF;
}
.gsc-completion-snippet {
	color: #000;
}
.gsc-control-cse .gs-spelling, .gsc-control-cse .gs-result .gs-title, .gsc-control-cse .gs-result .gs-title * ,
.gsc-control-cse .gs-result .gs-title {
  font-size: 18px !important;
  text-decoration: none;
}

.gs-promotion a.gs-title:link,
.gs-promotion a.gs-title:link *,
.gs-promotion .gs-snippet a:link {
	color: #0000FF;
}
.gs-promotion a.gs-title:visited,
.gs-promotion a.gs-title:visited *,
.gs-promotion .gs-snippet a:visited {
	color: #663399;
}
.gs-promotion a.gs-title:hover,
.gs-promotion a.gs-title:hover *,
.gs-promotion .gs-snippet a:hover {
	color: #444444;
}
.gs-promotion a.gs-title:active,
.gs-promotion a.gs-title:active *,
.gs-promotion .gs-snippet a:active {
	color: #00CC00;
}
.gs-promotion .gs-snippet,
.gs-promotion .gs-title .gs-promotion-title-right,
.gs-promotion .gs-title .gs-promotion-title-right * {
	color: #333333;
}



.gsc-selected-option-container {
  font-size: 12px !important;
  max-width: 100% !important;
}

.gs-result .gs-title, .gs-result .gs-title {
	text-decoration: none;
	text-transform: capitalize;
	font-size: 1.5rem;
	height: 1.5rem;
}

.gsc-search-button {
	display: none;
}

.gsc-clear-button {
	display: none;
}

.gsc-control-cse .gsc-control-wrapper-cse form.gsc-search-box {
	margin: 0;
	padding: 0;
}


.gsc-above-wrapper-area {
	padding: 0 0 0 0;
}

.gsc-above-wrapper-area .gsc-result-info {
	padding: 0;
}

.gsc-control-wrapper-cse {
  width: 85%;
  margin: 0 auto;
}

.gs-image-box {
	display: none;
}

.gs-no-results-result .gs-snippet, .gs-error-result .gs-snippet {
	font-size: 2em;
  padding: 5px;
  margin: 5px;
  border: 0px solid transparent;
  background-color: transparent;
}

td.gcsc-branding-text {
  white-space: nowrap;
	width: 46%;
}

.gcsc-branding-text-name {
	width: 30%;
}




.gsc-result .gs-title {
	white-space: nowrap;
}

.gcsc-branding {
  display: none;
}


/*Search styling */
