.search-form {

  position: relative;
  max-width: 590px;
  margin: 0 auto;

  .search-icon {
    width: 50px;
    height: 47px;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/i/icons/search.svg');
    z-index: 3;
  }

  .search-field {

    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 12px 20px 13px 50px;
    margin: 0;
  }

  .search-submit {
    height: 47px;
    font-size: 16px;
  }

  @media ( $small-screen ) {
    .input-group-btn {
      display: none;
    }
  }

}



#search-results {
  min-height: 400px;

  .loading {
    background: url(../i/loading.gif) no-repeat center center;
    height: 40px;
  }

  table{
    border: none;
  }
}

.search .content {
    width: 90%;
    padding: 0px 7px;
    float: left;
}

.search table {
    margin: 0px;
}

.gsc-tabsArea>div{
    height: 20px;
}

.cse .gsc-tabHeader, .gsc-tabHeader {
    font-size: 15px;
}

DIV.gsc-control-wrapper-cse tr:nth-child(odd) td { background: transparent;}


div.gsc-control-cse {
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
	min-height: 100%;
	border: none;
	padding: 0;
}
.gsc-control-cse .gsc-wrapper {
	padding: 0 20px;
}
.gsc-control-cse .gsc-wrapper .gsc-table-result {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

.gsc-result-info-container {
	padding: 0 0 0 20px;
}

table.gsc-search-box td.gsc-input {
	padding: 0 20px;
}
.gsc-input input.gsc-input {
	display: block;
	width: 100%;
	height: 40px;
	border-radius: 0;
	padding: 5px 10px;
	line-height: 1em;
	border: 1px solid #666;
	display: block;
	margin: 0;
}
input.gsc-search-button {
	background-color: #fff;
}
.gsc-tabHeader.gsc-tabhInactive {
	border-color: transparent;
	background-color: #fff;
}
.gsc-tabHeader.gsc-tabhActive {
	border-color: transparent;
	background-color: #FFFFFF;
}
.gsc-tabsArea {
	border-color: transparent;
}
.gsc-results .gsc-webResult.gsc-result,
.gsc-results .gsc-imageResult {
	border-color: transparent;
	background-color: #fff;
	padding: 0 0 20px 0;
	margin: 0;
}
.gsc-results tr td {
	padding: 0px 10px;
}
.gsc-webResult.gsc-result:hover,
.gsc-imageResult:hover {
	border-color: transparent;
	background-color: #FFFFFF;
}
.gsc-webResult.gsc-result.gsc-promotion:hover {
	border-color: transparent;
	background-color: #FFFFFF;
}
.gs-webResult.gs-result a.gs-title:link,
.gs-webResult.gs-result a.gs-title:link b,
.gs-imageResult a.gs-title:link,
.gs-imageResult a.gs-title:link b {
	color: #0068b7;
}
.gs-webResult.gs-result a.gs-title:visited,
.gs-webResult.gs-result a.gs-title:visited b,
.gs-imageResult a.gs-title:visited,
.gs-imageResult a.gs-title:visited b {
	color: #995E33;
}
.gs-webResult.gs-result a.gs-title:hover,
.gs-webResult.gs-result a.gs-title:hover b,
.gs-imageResult a.gs-title:hover,
.gs-imageResult a.gs-title:hover b {
	color: #C14800;
}
.gs-webResult.gs-result a.gs-title:active,
.gs-webResult.gs-result a.gs-title:active b,
.gs-imageResult a.gs-title:active,
.gs-imageResult a.gs-title:active b {
	color: #0000FF;
}
.gsc-cursor-page {
	color: #0000FF;
}
a.gsc-trailing-more-results:link {
	color: #0000FF;
}
.gs-webResult .gs-snippet,
.gs-imageResult .gs-snippet,
.gs-fileFormatType {
	color: #000000;
}
.gs-webResult div.gs-visibleUrl,
.gs-imageResult div.gs-visibleUrl {
	color: #000000;
}
.gs-webResult div.gs-visibleUrl-short {
	color: #000000;
}
.gs-webResult div.gs-visibleUrl-short {
	display: none;
}
.gs-webResult div.gs-visibleUrl-long {
	display: block;
}
.gs-promotion div.gs-visibleUrl-short {
	display: none;
}
.gs-promotion div.gs-visibleUrl-long {
	display: block;
}
.gsc-cursor-box {
	border-color: #FFFFFF;
}
.gsc-results .gsc-cursor-box .gsc-cursor-page {
	border-color: transparent;
	background-color: #FFFFFF;
	color: #0000FF;
}
.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
	border-color: #FF9900;
	background-color: #FFFFFF;
	color: #663399;
}
.gsc-webResult.gsc-result.gsc-promotion {
	border-color: #336699;
	background-color: #FFFFFF;
}
.gsc-completion-title {
	color: #0000FF;
}
.gsc-completion-snippet {
	color: #000000;
}
.gs-promotion a.gs-title:link,
.gs-promotion a.gs-title:link *,
.gs-promotion .gs-snippet a:link {
	color: #0000FF;
}
.gs-promotion a.gs-title:visited,
.gs-promotion a.gs-title:visited *,
.gs-promotion .gs-snippet a:visited {
	color: #663399;
}
.gs-promotion a.gs-title:hover,
.gs-promotion a.gs-title:hover *,
.gs-promotion .gs-snippet a:hover {
	color: #444444;
}
.gs-promotion a.gs-title:active,
.gs-promotion a.gs-title:active *,
.gs-promotion .gs-snippet a:active {
	color: #00CC00;
}
.gs-promotion .gs-snippet,
.gs-promotion .gs-title .gs-promotion-title-right,
.gs-promotion .gs-title .gs-promotion-title-right * {
	color: #333333;
}
.gs-promotion .gs-visibleUrl,
.gs-promotion .gs-visibleUrl-short {
	color: #008000;
}

.gsc-control-cse .gs-spelling, .gsc-control-cse .gs-result .gs-title, .gsc-control-cse .gs-result .gs-title * {
	font-size: 1.3rem;
	color: brown;
}


.gs-result .gs-title, .gs-result .gs-title {
	text-decoration: none;
	text-transform: capitalize;
	font-size: 1.5rem;
	height: 1.5rem;
}

.gs-result .gs-title * {
    text-decoration: none;
}

.gsc-search-button {
	display: none;
}

.gsc-clear-button {
	display: none;
}

.gsc-control-cse .gsc-control-wrapper-cse form.gsc-search-box {
	margin: 0;
	padding: 40px 0 0 0;
}

#searchResultsBox table {
   margin: 0;
   border: none;
   padding: 0;
}
#___gcse_0 {
	min-height: 100%;
	height: 100%;
}

.gssb_c TABLE {
	margin: 0 0 0 0;
   border: 0px solid transparent;
   padding: 0 0 0 0;
}

.gsc-above-wrapper-area {
	padding: 0 0 0 0;
}

.gsc-above-wrapper-area .gsc-result-info {
	padding: 0;
}

.gsc-control-wrapper-cse {
   width: 85%;
   margin: 0 auto;
}

.gs-image-box {
	display: none;
}

.gs-no-results-result .gs-snippet, .gs-error-result .gs-snippet {
	font-size: 2em;
   padding: 5px;
   margin: 5px;
   border: 0px solid transparent;
   background-color: transparent;
}

td.gcsc-branding-text {
   white-space: nowrap;
	width: 46%;
}

.gcsc-branding-text-name {
	width: 30%;
}

.gsc-results div.gsc-cursor-page {
	padding: 10px 5px;
}

.gsc-results div.gsc-cursor-page.gsc-cursor-current-page {
	text-shadow: none;
    color: #FFFFFF;
}


.gsc-result .gs-title {
	white-space: nowrap;
}

#searchbox {
	overflow: hidden;
}

#searchbox input {
   background-color: transparent;
   font-style: normal;
	font-family: 'Open Sans', sans-serif;
   border: 0px solid gray;
	border-radius: 0;
   width: 100%;
   height: 35px;
   color: #fff;
   font-weight: normal;
   padding: 0 0 0 40px;
   margin: 0;
}

#searchbox input:focus{
   outline: none;
}

#searchbox {
   border: 0px solid gray;
   position: relative;
   top: -42px;
   left: 0px;
   padding: 0 0 0 0;
   margin: 0 0 0 0;
}

#searchResultsBox {
   display: none;
	overflow-y: scroll; /* has to be scroll, not auto */
	-webkit-overflow-scrolling: touch;
   position: fixed;
   top: 4%;
   left: 6%;
   right: 6%;
   bottom: 2%;
   padding: 0;
   z-index: 1001;
}

.searchResultsBoxClose {
   position: absolute;
   top: 0;
   right: 0;
   width: 64px;
   margin-top: 69px;
   z-index: 5000;
   margin: 0;
   padding: 20px 10px;
   cursor: pointer;
   font-size: .8rem;
}

#test {
   position: absolute;
   top: 170px;
   z-index: 1001;
}



.searchResultsBack {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   min-width: 100%;
   min-height: 100%;
   height: 100%;
   opacity: .75;
   z-index: 1000;
   background-color: #CACACA;
   cursor: pointer;
}


body.search-active {
	position: fixed;
}

/*Search styling */





#subnav .search {
   background-color: rgb(49, 48, 43);
   float: right;
   top: 0px;
   height: 41px;
   width: 18%;
   max-width: 300px;
   margin-right: 10px;
}

.search .search-icon {
    z-index: 50;
    cursor: pointer;
}
.gsc-results-wrapper-nooverlay{
    min-height: 500px;
    background: url(../i/loading.gif) no-repeat center center;
}
