

// search box on home page

input[type=search] {
  -webkit-appearance: none;
}

.search-form {

  position: relative;
  max-width: 590px;
  margin: 0 auto;
  text-align: left;

  .search-icon {
    width: 50px;
    height: 47px;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../i/icons/search.svg');
    z-index: 3;
  }

  .search-field {
    -webkit-appearance: none;
    font-size: 16px;
    line-height: 22px;
    display: inline-block;
    height: 100%;
    padding-left: 50px;
    border-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

  }

  .search-submit {
    height: 49px;
    font-size: 16px;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  @media ( $small-screen ) {
    .search-field {
      border-radius: 2px;
    }
    .input-group-btn {
      display: none;
    }
  }

}



.search-results-header {
  background: $light-gray-color;
  padding: 20px;
}

.search-results.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.algolia__result-highlight {
  //background: yellow;
  font-weight: 700;
}


/* INPUT */
#search-input {
  position: relative;
  max-width: 900px;
  margin: 0 auto;

  input {
    font-size: 18px;
    padding: 15px;
    padding-left: 50px;
    border-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    line-height: 22px;
    width: 100%;
  }

  &:before {
    display: block;
    content: '';
    position: absolute;
    pointer-events: none;
    top: 13px;
    left: 15px;
    width: 24px;
    height: 24px;
    background-image: url(../i/icons/search.svg)
  }
}

#search-input input, #search-input input:focus {
  transition: border-color .3s ease-in;
  outline: 0;
}
/* HITS */

#hits {
  padding: 10px 0;
}
.hit {
  padding: 15px 0;
}
.hit-name {
  margin: 0;
  font-size: 18px;
}
.hit-content {
  padding: 5px 0 0 0;
  max-width: 700px;
}
.hit-stars {
  font-size: 17px;
  margin: 4px 0;
  color: #868686;
}



/* PAGINATION */
#pagination {
  margin-top: 30px;
}
.ais-pagination {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

#pagination li {
  font-size: 16px;
  display: inline;
}
#pagination a {
  padding: 8px 12px;
  text-decoration: none;
  color: $body-font-color;
  display: inline-block;
  min-width: 36px;
  line-height: 20px;
  border-radius: 100%;
  text-align: center;
}
#pagination a:hover {
  background: #f5f5f5;
}

#pagination li.ais-pagination--item__active a {
  color: #fff;
  background: #26A2AA;
}
#pagination li.ais-pagination--item__active a:hover {
  cursor: default;
}
#pagination li.ais-pagination--item__disabled a {
  cursor: not-allowed;
}
#pagination li.ais-pagination--item__disabled a:hover {
  background: none;
}

#pagination li.ais-pagination--item__next, #pagination li.ais-pagination--item__previous {
  font-size: 20px;
  line-height: 1em;
}

#pagination li.ais-pagination--item__last, #pagination li.ais-pagination--item__first {
  display: none;
}


#stats {
  padding: 10px 0;
  color: #666;
  font-size: 13px;
}
#stats .ais-stats--time {
  font-size: 0.8em;
  color: #999;
}


/* NO RESULTS */
.no-results #pagination, .no-results #sort-by, .no-results #stats, .no-results #facets {
  display: none;
}
#no-results-message {
  text-align: center;
}
#no-results-message p {
  font-size: 28px;
}
#no-results-message ul {
  list-style-type: none;
}
#no-results-message li {
  font-size: 12px;
  position: relative;
  display: inline-block;
  margin: 4px 2px;
  padding: 4px 28px 4px 8px;
  color: #999;
  border: 1px solid #ddd;
  border-radius: 12px;
}
#no-results-message li span.value {
  font-weight: bold;
  color: #000;
}
#no-results-message li a.remove img {
  position: absolute;
  top: 3px;
  right: 5px;
  float: right;
  width: 17px;
  height: 17px;
  opacity: .5;
}
#no-results-message li a.remove:hover img {
  opacity: 1;
}
a.clear-all {
  font-size: 12px;
  line-height: 1;
  display: inline-block;
  margin: 10px;
  padding: 8px 12px;
  text-decoration: none;
  color: black;
  border: 2px solid #ddd;
  border-radius: 4px;
}
a.clear-all:hover {
  transition: border-color .3s ease-in;
  border-color: #999;
}
