
.main-site-name {
  float: left;
}

#global-nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-height;
  background: $light-gray-color;
  transition: box-shadow .1s;
  box-shadow: 0 1px 2px transparent;
  transform: translateZ(0); // to force nav rendering to GPU
  z-index: 9999;

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  &.sticky-nav-main {
    position: fixed;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    transition: box-shadow 1s;
  }

}


.site-header {

  padding-top: $header-height;

  .container {
    position: relative;
  }

  .logo {
    position: relative;
    z-index: 11;
    width: auto;
    height: 40px;
    float: left;
    margin-top: 7px;
    margin-right: 15px;
  }

  .devdocs-logo {
    width: 113px;
  }

  .menu-btn {
    width: $header-height;
    height: $header-height;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    display: none;
    z-index: 50;
    border-left: 1px solid $beige-color;
  }

  .menu-icon {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../i/icons/menu.svg) center center no-repeat;
    background-size: 50%;
    transition: background-color 0.2s linear;

    &:hover {
      background-color: #fff;
      transition: background-color 0.2s linear
    }
  }

  .search-btn {
    width: $header-height;
    height: $header-height;
    float: right;
    position: relative;
    z-index: 3;

    .search-icon {
      width: 100%;
      height: 100%;
      display: block;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('../i/icons/search.svg');
    }
  }

  @media (max-width:1200px) {
    .magento-logo {
      display: none;
    }
  }

  @media ( $medium-screen ) {

    #global-nav {
      outline: 1px solid $beige-color;
    }

    .menu-btn {
      display: block;
    }

    .logo {
      margin-top:10px;
    }

    .search-btn {
      margin: 0;
      position: absolute;
      top: 0;
      right: $header-height;
    }

  } // medium-screen

}
