.tabs-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #ccc;

  .tab {
    margin: 0 -1px -1px 0;
    min-width: 100px;
    text-align: center;
    border: 1px solid #ccc;
    border-bottom: none;

    &:hover{
        background-color: $dropdown-link-hover-bg;
    }
  }

  a {
    text-decoration: none;
    display:block;
    line-height: 38px;
    color: $link-color;

    &:hover {
      color: $link-hover-color;
    }
  }

  .current-tab {
    background: #fff;
    cursor: default;
    &:hover {
      background: #fff;
    }
  }

  .current-tab a{
    color: $body-font-color;
    cursor: default;
  }

}
