

table {
  table-layout: fixed;
  max-width: 99%;
  width: 99%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 2em 0 2em 0;
}


th {
  font-size: 14px;
  background: $light-gray-color;
  text-align: left;
  padding: 10px 14px;
  vertical-align: bottom;
  font-weight: bold;
  border-bottom: 2px solid #ccc;
}


tr td {
  font-size: 14px;
  padding: 10px 14px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  word-wrap:break-word;
  vertical-align: initial;

}

td code, td pre {
  font-size: 14px;
}

.table-condensed {

  th, td {
    padding: 4px 5px;
  }

}

/*
tr:nth-child(odd) td {
  background: #f7f3eb
}*/


/* FIX for table line breaks TDD

.main-container TABLE TR, .main-container TABLE TD, .main-container TABLE TD TT, .main-container TABLE TD CODE, .main-container TABLE TD PRE {

}



.table caption+thead tr:first-child th, .table caption+thead tr:first-child td, .table colgroup+thead tr:first-child th, .table colgroup+thead tr:first-child td, .table thead:first-child tr:first-child th, .table thead:first-child tr:first-child td {
  border-top: 0;
}

.table tbody+tbody {
  border-top: 2px solid #dddddd;
}*/


.table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  border-radius: 4px;
}
.table-bordered th, .table-bordered td {
   border-left: 1px solid #dddddd;
}
.table-bordered caption+thead tr:first-child th, .table-bordered caption+tbody tr:first-child th, .table-bordered caption+tbody tr:first-child td, .table-bordered colgroup+thead tr:first-child th, .table-bordered colgroup+tbody tr:first-child th, .table-bordered colgroup+tbody tr:first-child td, .table-bordered thead:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child td {
   border-top: 0;
}
.table-bordered thead:first-child tr:first-child>th:first-child, .table-bordered tbody:first-child tr:first-child>td:first-child, .table-bordered tbody:first-child tr:first-child>th:first-child {
   -webkit-border-top-left-radius: 4px;
   -moz-border-radius-topleft: 4px;
   border-top-left-radius: 4px;
}
.table-bordered thead:first-child tr:first-child>th:last-child, .table-bordered tbody:first-child tr:first-child>td:last-child, .table-bordered tbody:first-child tr:first-child>th:last-child {
   -webkit-border-top-right-radius: 4px;
   -moz-border-radius-topright: 4px;
   border-top-right-radius: 4px;
}
.table-bordered thead:last-child tr:last-child>th:first-child, .table-bordered tbody:last-child tr:last-child>td:first-child, .table-bordered tbody:last-child tr:last-child>th:first-child, .table-bordered tfoot:last-child tr:last-child>td:first-child, .table-bordered tfoot:last-child tr:last-child>th:first-child {
   -webkit-border-bottom-left-radius: 4px;
   -moz-border-radius-bottomleft: 4px;
   border-bottom-left-radius: 4px;
}
.table-bordered thead:last-child tr:last-child>th:last-child, .table-bordered tbody:last-child tr:last-child>td:last-child, .table-bordered tbody:last-child tr:last-child>th:last-child, .table-bordered tfoot:last-child tr:last-child>td:last-child, .table-bordered tfoot:last-child tr:last-child>th:last-child {
   -webkit-border-bottom-right-radius: 4px;
   -moz-border-radius-bottomright: 4px;
   border-bottom-right-radius: 4px;
}
.table-bordered tfoot+tbody:last-child tr:last-child td:first-child {
   -webkit-border-bottom-left-radius: 0;
   -moz-border-radius-bottomleft: 0;
   border-bottom-left-radius: 0;
}
.table-bordered tfoot+tbody:last-child tr:last-child td:last-child {
   -webkit-border-bottom-right-radius: 0;
   -moz-border-radius-bottomright: 0;
   border-bottom-right-radius: 0;
}
.table-bordered caption+thead tr:first-child th:first-child, .table-bordered caption+tbody tr:first-child td:first-child, .table-bordered colgroup+thead tr:first-child th:first-child, .table-bordered colgroup+tbody tr:first-child td:first-child {
   -webkit-border-top-left-radius: 4px;
   -moz-border-radius-topleft: 4px;
   border-top-left-radius: 4px;
}
.table-bordered caption+thead tr:first-child th:last-child, .table-bordered caption+tbody tr:first-child td:last-child, .table-bordered colgroup+thead tr:first-child th:last-child, .table-bordered colgroup+tbody tr:first-child td:last-child {
   -webkit-border-top-right-radius: 4px;
   -moz-border-radius-topright: 4px;
   border-top-right-radius: 4px;
}
.table-striped tbody>tr:nth-child(odd)>td, .table-striped tbody>tr:nth-child(odd)>th {
   background-color: #f9f9f9;
}
.table-hover tbody tr:hover>td, .table-hover tbody tr:hover>th {
   background-color: #f5f5f5;
}

.table tbody tr.success>td {
   background-color: #dff0d8;
}
.table tbody tr.error>td {
   background-color: #f2dede;
}
.table tbody tr.warning>td {
   background-color: #fcf8e3;
}
.table tbody tr.info>td {
   background-color: #d9edf7;
}
.table-hover tbody tr.success:hover>td {
   background-color: #d0e9c6;
}
.table-hover tbody tr.error:hover>td {
   background-color: #ebcccc;
}
.table-hover tbody tr.warning:hover>td {
   background-color: #faf2cc;
}
.table-hover tbody tr.info:hover>td {
   background-color: #c4e3f3;
}
