#markdown-toc {
  background: $light-gray-color;
  padding: 10px 0;
  margin: 20px 0 0 0;
  font-size: 12px;

  &.affix {
    width: 200px;
    top: $header-height;
  }

  &:before {
    display: block;
    content: "On this page";
    text-transform: uppercase;
    letter-spacing: .05em;
    color: #7b756b;
    font-weight: bold;
    padding: 0 10px 5px 15px;
  }

  li {
    font-size: 12px;
    line-height: 1.4;
    list-style: none;
    margin: 0;
    padding: 0;

  }

  .active > a {
    background: $dropdown-link-hover-bg;
    border-left: 2px solid darken($dropdown-link-hover-bg, 20%);
  }
  .active {
    .active a {
      border-left: 2px solid darken($dropdown-link-hover-bg, 20%);
    }
  }

  a {
    color: $body-font-color;
    font-size: 12px;
    display: block;
    padding: 5px 15px;
    border-left: 2px solid transparent;

    &:hover {
      text-decoration: none;
      background: $dropdown-link-hover-bg;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    a {
      padding-left: 25px;
    }
  }

}
