.glossary-term {
    border-bottom: dotted 1px #00e;
    cursor: help;
}

div.webui-popover {
    border-radius: 0px;

    .webui-popover-title {
        padding: 19px 24px 2px;
        border-bottom: 0px;
        font-size: 16px;
        position: inherit;
    }
    
    .webui-popover-content { 
        font-size: 14px;
        padding: 9px 24px; 

        p {
            margin-top: 10px;
        }
    }
}
