.tutorial-before {

  &:before {
    display: inline-block;
    float: left;
    content: '';
    width: 23px;
    height: 23px;
    background: url(../i/icons/clock.svg) no-repeat center;
    margin: 5px 10px 0 0;
  }

}

.horisontal-nav {
  margin: 30px 0 20px 0;

  .btn {
    margin-right: 5px;
  }
}

.sidebar .back-link {
  color: #fff;
  margin-top: -10px;
  margin-bottom: 5px;
  position: relative;

  .back-link-arrow {
    display: block;
    position: absolute;
    top: 13px;
    left: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 5px 4px 0;
    border-color: transparent #fff transparent transparent;
  }

  .back-link-subtitle {
    display: none;
  }

  a {
    background: #7b756f;
    display: block;
    color: #fff;
    padding: 8px 10px 10px 15px;
    font-size: 13px;
  }

  a:hover {
    background: darken(#7b756f, 10%);
  }

}
