body {
  color: $body-font-color;
  font-family: $body-font-family;
  line-height: 1.4;
}

/*reset font size
.main-container {
  font-size: 16px;
}*/


h1 {
  font-size: 38px;
  line-height: 1.3;
  margin: 0 0 20px 0;
  font-weight: normal;
}

h2 {
  font-size: 28px;
  line-height: 1.3;
  font-weight: normal;
  letter-spacing: 0;
  margin: 1.3em 0 0.7em 0;
  padding: 0

}

h3 {
  font-size: 24px;
	line-height: 1.3;
}

h4 {
  font-size: 19px;
  line-height: 1.3;
  font-weight: bold;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

h5,.h5 {
  font-size: 17px;
  line-height: 30px;
}


h6 {
  font: 16px/28px $body-font-family;
  font-weight: bold;
  letter-spacing: 0.04em;
  margin: 0;
  text-transform: uppercase;
}

p {
  line-height: 1.4;
  margin: 0 0 10px;
}



a {
  color: $link-color;
  text-decoration: none;
}
a:visited {
  color: $link-visited-color;
}
a:hover {
  color: $link-hover-color;
  text-decoration: underline;
}
a:active {
  color: $link-active-color;
  text-decoration: none;
}





a.pdf {
  background: url(/i/icons/ico-pdf.png) right center no-repeat;
  padding-right: 26px;
  margin-right: 4px
}



.main-container h2:first-child {
   margin-top: 0
}

.main-container h3 {
   font-weight: 700;
   text-transform: none;
   letter-spacing: 0;
   font-size: 20px;
   line-height: 1.4em;
   margin: 1.5em 0 0.5em 0;
   padding: 0
}

.main-container h4 {
   font-size: 18px;
   margin: 1.5em 0 0.5em 0;
   text-transform: none;
   letter-spacing: 0
}







.lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 200;
  line-height: 30px;
}

small {
  font-size: 85%;
}

strong,
.bold {
  font-weight: bold;
}

em {
  font-style: italic;
}

cite {
  font-style: normal;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizelegibility;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}



h1, h2, h3 {
  line-height: 40px;
}



h2 {
  font-size: 31.5px;
}

h3 {
  font-size: 24.5px;
}

h4 {
  font-size: 17.5px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 11.9px;
}

h1 small {
  font-size: 24.5px;
}
h2 small {
  font-size: 17.5px;
}
h3 small {
  font-size: 14px;
}
h4 small {
  font-size: 14px;
}

.page-header {
  padding-bottom: 9px;
  margin: 20px 0 30px;
  border-bottom: 1px solid #eeeeee;
}

ul, ol {
  padding: 0;
  margin: 0 0 10px 25px;
}
ul ul, ul ol, ol ol, ol ul {
  margin-bottom: 0;
}
li {
  margin-bottom: .5em;
}
ul.unstyled, ol.unstyled {
  margin-left: 0;
  list-style: none;
}
ul.inline, ol.inline {
  margin-left: 0;
  list-style: none;
}
ul.inline>li, ol.inline>li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
dl {
  margin-bottom: 20px;
}
dt, dd {
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 10px;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}

abbr[title], abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}



blockquote cite {
  display: block;
  font-style: italic;
  margin: 0.5em 0 0 0;
}



blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee;
  margin: 2em 0 1em 0;
}
blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.3;
}
blockquote small {
  display: block;
  color: #999999;
}
blockquote small:before {
  content: '\2014 \00A0'
}


q:before, q:after, blockquote:before, blockquote:after {
  content: ""
}
address {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
}




dl {
  font-size: 16px;
}

dl dt {
  font-weight: 700;
  margin: 1em 0 0.5em 0;
}

dl dd {
  margin: 0;
}




/* SRJ - reviewer question */

p.q {
	font-size: 15pt;
	color: red;
	/* display: none; */
}
