.version-switcher  {
  position: relative;
  z-index: 2;
  float: left;
  margin-top: 14px;
  margin-right: 20px;


  .btn {
    background: transparent;
    border: 1px solid darken( $light-gray-color, 15% );
  }

  &.version-switcher-mobile {
    display: none;
  }

  @media ( $medium-screen ) {
    display: none;

    &.version-switcher-mobile {
      display: block;
    }

    float: none;
    margin: 20px;

    .dropdown-menu {
    	max-width: 100%;
    	min-width: 100%;
    	position: relative;
    	box-shadow: none;
    	border: none;
    	left: 0;
    	right: auto;
    	background: transparent;

    	.dropdown-item {
    		font-size: 14px;
    		background: transparent;

    	}
    	li {
    		background: none;
    		margin: 0;
    		padding: 0;
    	}
  	}

  }
  /*
	@media (max-width:767px) {
		position: relative;
		right: 0;
		padding-left: 15px;


		.dropdown-toggle {
			padding: 0;
			display: block;
			background: transparent;
			color: #999;
			font-size: 14px;

			&:after {
				border-top-color: #999;
			}
		}

		.dropdown-menu {
			max-width: 100%;
			min-width: 100%;
			position: relative;
			box-shadow: none;
			border: none;
			left: 0;
			right: auto;
			background: transparent;

			.dropdown-item {
				font-size: 14px;
				background: transparent;
				color: #fff;
				padding: 6px 0;
			}
			li {
				background: none;
				margin: 0;
				padding: 0;
			}
		}



	}*/


}
