.version-switcher  {
  position: relative;
  z-index: 2;
  float: left;
  margin-top: 12px;
  margin-right: 10px;


  .btn {
    background: transparent;
    border: 1px solid darken( $light-gray-color, 15% );
  }

  &.version-switcher-mobile {
    display: none;
  }

  @media ( $medium-screen ) {
    display: none;

    &.version-switcher-mobile {
      display: block;
    }

    float: none;
    margin: 20px;

    .dropdown-menu {
    	max-width: 100%;
    	min-width: 100%;
    	position: relative;
    	box-shadow: none;
    	border: none;
    	left: 0;
    	right: auto;
    	background: transparent;

    	.dropdown-item {
    		font-size: 14px;
    		background: transparent;

    	}
    	li {
    		background: none;
    		margin: 0;
    		padding: 0;
    	}
  	}

  }

  @media ( $large-screen ) {
    margin-right: 20px;
  }


}
