// Variables

$flow-column-gutter: 26px;

$flow-block-bg-color: #F1F1F1;
$flow-block-border-color: #D7D7D7;
$flow-block-padding: 1em;
$flow-block-max-width: 320px;

$flow-arrow-size: 16px;
$flow-arrow-color: #979797;
$flow-arrow-border: 2px dashed $flow-arrow-color;


.flow-row {
  display: flex;
  flex-wrap: nowrap;
  position: relative;

  &.centered {
    justify-content: center;

    .flow-column {
      margin-left: 25%;
      margin-right: 25%;
    }
  }
}

.flow-column {
  flex: 1;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 160px;

  .flow-block {
    margin-left: $flow-column-gutter/2;
    margin-right: $flow-column-gutter/2;
    display: inline-block;
  }

  &.push {
    margin-left: 50%;
    width: 50%;
  }

}


// Blocks

.flow-intro {
  font-size: .875em;
  max-width: $flow-block-max-width;
  padding: $flow-block-padding;
  border-top: 2px solid $flow-block-border-color;
  border-bottom: 2px solid $flow-block-border-color;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:.5em;
  text-align: left;
}

.flow-block {

  position: relative;
  font-size: .875em;
  background: $flow-block-bg-color;
  border: 1px solid $flow-block-border-color;
  max-width: $flow-block-max-width;
  padding: $flow-block-padding;
  margin-left: auto;
  margin-right: auto;
  min-height: 6em;
  margin-bottom: .5em;
  z-index: 1;
  text-align: left;




  // Collapsibles
  .collapsible-title {
    font-weight: normal;
    color: $link-color;
  }

  .collapsible-content {
    padding-top: 10px;
  }

  // Drop the first and last item margins
  *:first-child {
    margin-top: 0;
  }
  *:last-child {
    margin-bottom: 0;
  }

  // Callouts
  .bs-callout {
    padding: 10px 10px;

    &:before {
      top: 8px;
      left: 5px;
      width: 20px;
      height: 20px;
    }

    &.bs-callout-tip {
      padding-left: 30px;
    }

  }

  @media ( $medium-screen ) {
    font-size: 0.8em;
    padding: $flow-block-padding/1.5;
  }


  // Modifiers of blocks
  &.flow-block-optional {
    border-width: 2px;
    border-style: dashed;
    background: #fff;
  }

  &.flow-block-layers {
    margin-bottom: $flow-block-padding*4;
    padding: $flow-block-padding*2 0 0 $flow-block-padding*2;

    &:after, &:before {
      display: block;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: $flow-block-bg-color;
      border: 1px solid $flow-block-border-color;
      top: $flow-block-padding/2;
      left: $flow-block-padding/2;
      z-index: -2;
    }

    &:before {
      top: $flow-block-padding;
      left: $flow-block-padding;
      z-index: -1;
    }
  }


}



// Nav & Arrows
.flow-nav {
  position: relative;
  text-align: center;
  font-size: $font-size-sm;
  font-weight: 600;
  padding: 0 0 3em;

  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 1px;
    height: 1.5em;
    border-right: $flow-arrow-border;
    margin-left: -2px;
    left: 50%;
    bottom: $flow-arrow-size/2;
  }

  &.turn-right:after {
    content: '';
    position: absolute;
    width: 50%;
    left: 50%;
    height: 1px;
    border-top: $flow-arrow-border;
    bottom: 0;
  }

  &.turn-left:after {
    content: '';
    position: absolute;
    width: 50%;
    left: 0;
    height: 1px;
    border-top: $flow-arrow-border;
    bottom: 0;
  }

  &.turn-left-right:after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    height: 1px;
    border-top: $flow-arrow-border;
    bottom: 0;
  }

  &.top-bottom {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    margin-left: -2px;
    left: 50%;
    border-top: $flow-arrow-border;
    bottom: 0;
  }

}

.flow-arrow {
  position: relative;
  text-align: center;
  font-size: $font-size-sm;
  font-weight: 600;
  padding: 0 0 1em;
  margin: 0 0 $flow-arrow-size 0;

  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 1px;
    height: 1.5em;
    border-right: $flow-arrow-border;
    margin-left: -1px;
    left: 50%;
    bottom: $flow-arrow-size/2;
  }

  &:after {
    position: relative;
    bottom: -$flow-arrow-size;
    content: '';
    display: block;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: $flow-arrow-size $flow-arrow-size/2 0 $flow-arrow-size/2;
    border-color: $flow-arrow-color transparent transparent transparent;
    transform: none;
  }

  &.flow-arrow-back {
  //  min-height: $flow-arrow-size;
    margin: $flow-arrow-size*2 0 0 0;
    padding: 0 0 0 0;
    &:before {
      bottom: auto;
      top: -$flow-arrow-size;
    }
    &:after {
      position: absolute;
      left: 50%;
      top: -$flow-arrow-size*2;
      margin-left: -$flow-arrow-size/2;
      bottom: auto;
      transform: rotate(180deg);
    }
  }

}
