.ee-only {
  display: inline-block;
  font-size: $font-size-sm;
  font-weight: 700;
  padding: 5px 10px;
  border: 1px solid #fac49f;
  letter-spacing: .04em;

  &:before {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 1;
    content: ''; 
    background: url(../i/icons/ee-only.svg) no-repeat center;
    margin: 0 7px 0 0;
    vertical-align: top;
  }

  .page-intro & {
    margin: 10px 0 0 0;
  }
}
