<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>XML layouts and schemas</title>
	<meta name="description" content="Magento 2 Developer Documentation.
">
	<meta http-equiv="last-modified" content="" />

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,600,300,800' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="/css/app.css" />
	<link rel="stylesheet" href="/css/print.css" media="print" />
	<link rel="canonical" href="//guides/v2.0/architecture/view/xml-schema-layout.html">

  <script>
    var baseUrl = "/";
  </script>

	<!-- crazyegg -->
	<script type="text/javascript">
	setTimeout(function(){var a=document.createElement("script");
	var b=document.getElementsByTagName("script")[0];
	a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0038/0321.js?"+Math.floor(new Date().getTime()/3600000);
	a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
	</script>

</head>
<body>

<header class="site-header">

	<nav id="global-nav">

		<div class="menu-btn"><a class="menu-trigger menu-icon" href="#"></a></div>

		<div class="container">

			<a class="logo" href="/guides/v2.0/"><img src="/i/m-logo.svg" alt=""><img src="/i/magento-logo.svg" alt="Magento" class="magento-logo" /><img src="/i/devdocs-logo.svg" alt="Devdocs" class="devdocs-logo" /></a>

			
<div class="version-switcher dropdown">
	<button class="btn dropdown-toggle" data-toggle="dropdown">
		Magento 2.0
	</button>

	<ul class="dropdown-menu dropdown-menu-left">
	
		<li><a class="dropdown-item" href="/guides/v2.0/architecture/view/xml-schema-layout.html">Magento 2.0</a></li>
	
		<li><a class="dropdown-item" href="/guides/v2.1/architecture/view/xml-schema-layout.html">Magento 2.1</a></li>
	
  </ul>

</div>



			<!-- Main Navigation -->
<div class="nav-main">
  <ul>
    <li class="first">
      <a href="#">Setup and Deployment</a>
        <ul class="menu nav">
            <li><a href="/guides/v2.0/install-gde/bk-install-guide.html">Installation Guide</a></li>
          
          <li class="leaf"><a href="/guides/v2.0/comp-mgr/bk-compman-upgrade-guide.html">Component Manager and System Upgrade Guide</a></li>
          
          <li class="leaf"><a href="/guides/v2.0/config-guide/bk-config-guide.html">Configuration Guide</a></li>
          <li class="leaf"><a href="/guides/v2.0/migration/bk-migration-guide.html">Migration Guide</a></li>
          <li class="leaf"><a href="/guides/v2.0/cloud/bk-cloud.html">Enterprise Cloud Edition Guide</a></li>
          <li class="leaf"><a href="/magento-release-information.html">Release Information</a></li>
        </ul>
    </li>

    <li>
        <a href="#">Development</a>
        <ul class="menu nav">
          <li class="leaf"><a href="/guides/v2.0/extension-dev-guide/bk-extension-dev-guide.html">PHP Developer Guide</a></li>
          <li class="leaf"><a href="/guides/v2.0/ext-best-practices/bk-ext-best-practices.html">Extension Developer Best Practices</a></li>
          <li><a href="/guides/v2.0/payments-integrations/bk-payments-integrations.html">Payments Integrations</a></li>
          <li class="leaf"><a href="/guides/v2.0/architecture/bk-architecture.html">Magento Architecture</a></li>
          <li class="leaf"><a href="/guides/v2.0/mrg/intro.html">Module Reference Guide</a></li>
          <li class="leaf"><a href="/guides/v2.0/coding-standards/bk-coding-standards.html">Coding Standards</a></li>
          
          <li class="first leaf"><a href="/guides/v2.0/contributor-guide/contributing.html">Contributor Guide</a></li>
        </ul>
    </li>

    <li>
        <a href="#">Frontend</a>
        <ul class="menu nav">
          <li class="first leaf"><a href="/guides/v2.0/frontend-dev-guide/bk-frontend-dev-guide.html">Frontend Developer Guide</a></li>
          
          <li class="leaf"><a href="/guides/v2.0/ui-components/ui-component.html">UI Components</a></li>
          
          <li class="leaf"><a href="/guides/v2.0/javascript-dev-guide/bk-javascript-dev-guide.html">JavaScript Developer Guide</a></li>
          <li class="leaf"><a href="/guides/v2.0/pattern-library/bk-pattern.html">Admin Design Pattern Library</a></li>
          <li class="leaf"><a href="/guides/v2.0/design-styleguide/bk-styleguide.html">Admin Style Guide</a></li>
        </ul>
    </li>

    <li>
        <a href="#">API</a>
        <ul class="menu nav">
          <li class="leaf"><a href="/guides/v2.0/get-started/bk-get-started-api.html">Get Started with Magento Web APIs</a></li>
          <li class="leaf"><a href="/guides/v2.0/rest/bk-rest.html">REST API Reference</a></li>
          <li class="leaf"><a href="/guides/v2.0/soap/bk-soap.html">SOAP API Reference</a></li>
        </ul>
    </li>

    <li>
        <a href="#">Testing</a>
        <ul class="menu nav">
          <li class="leaf"><a href="/guides/v2.0/test/testing.html">Magento Testing Guide</a></li>
          <li class="leaf"><a href="/guides/v2.0/mtf/mtf_introduction.html">Functional Testing</a></li>
          <li class="leaf"><a href="/guides/v2.0/test/integration/integration_test_execution.html">Integration Testing</a></li>
          <li class="leaf"><a href="/guides/v2.0/test/js/jasmine.html">JavaScript Unit Testing</a></li>
          <li class="leaf"><a href="/guides/v2.0/test/unit/unit_test_execution.html">PHP Unit Testing</a></li>
          <li class="leaf"><a href="/guides/v2.0/get-started/web-api-functional-testing.html">Web API Functional Testing</a></li>
        </ul>
    </li>

    <li>
      <a href="/guides/v2.0/howdoi/bk-how-do-i.html">How Tos</a>
    </li>
  </ul>
</div><!-- /.nav-main -->


			<div class="search-btn">
				<a class="search-trigger search-icon" href="/search.html"></a>
			</div>

			<form class="quick-search" action="/search.html" method="get">
				<input type="search" name="q" placeholder="Search" />
				<a href="#" class="quick-search-close">&times;</a>
			</form>





		</div>

	</nav><!-- #global-nav -->

</header>
<div class="nav-main-fader"></div>


<div id="gl-wrapper">

	<!-- .main-container -->
	<div class="main-container">
		<a id="main-content"></a>


<div class="container">

	<!-- sidebar -->
<aside class="sidebar">
	<a href="#" class="toc-toggler">Table of Contents</a>
	<div class="sidebar-wrapper">






		<ul>

		

		

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

		</ul>

	</div>
</aside>
<!-- /sidebar -->


	<section class="content">
		<div class="content-wrap">
			<!-- page-header -->
<section class="page-intro">
	

  <nav class="breadcrumbs">

    <a class="breadcrumb-item" href="/guides/v2.0/"><span>Home</span></a>

    <ol class="breadcrumb list-unstyled" vocab="http://schema.org/" typeof="BreadcrumbList">

    <!-- Iteration breadcrumb item -->
    
    
    

    </ol>

  </nav>


	
	<h1 class="page-heading">XML layouts and schemas</h1>

  


</section>

			<h2 id="m2devgde-xml-layout-intro">Overview</h2>

<p>In the Magento system, you define application page layouts in XML files, also known as <i>layouts</i>.</p>

<p>The system uses the Magento XML schemas to validate these layouts.</p>

<h2 id="xml-schemas">XML schemas</h2>

<p>The Magento system uses the following XML schemas to validate these layouts:</p>

<p class="q">Reviewer: The original topic mentioned 3 XSD files, two of which do not exist or have been renamed: layout_single.xsd, layouts.xsd, and layout_merged.xsd. I guessed that layout_single = layout_generic but I do not know the correct reference for layouts.xsd. Please provide this information.</p>

<table>
   <tbody>
      <tr style="background-color: lightgray">
         <th>Schema</th>
         <th>Validates</th>
      </tr>
      <tr>
         <td><a href="https://github.com/magento/magento2/blob/2.0/lib/internal/Magento/Framework/View/Layout/etc/layout_generic.xsd" target="_blank">layout_generic.xsd</a>&lt;/code&gt;
         </td>
         <td>Individual layouts</td>
      </tr>
      <tr>
         <td><a href="https://github.com/magento/magento2/blob/2.0/lib/internal/Magento/Framework/View/PageLayout/etc/layouts.xsd" target="_blank">layouts.xsd</a></td>
         <td>Individual layouts.</td>
      </tr>
      <tr>
         <td><a href="https://github.com/magento/magento2/blob/2.0/lib/internal/Magento/Framework/View/Layout/etc/layout_merged.xsd" target="_blank">layout_merged.xsd</a></td>
         <td>Merged layouts.</td>
      </tr>
   </tbody>
</table>

<p>These layout-specific XML schemas might use additional universal XML schemas.</p>

<h2 id="layout-elements">XML layout elements and structure</h2>

<p>The following table lists the allowable XML layout elements. The table reflects the correct structure for these elements.</p>

<table style="width:135%">
   <col width="33%" />
   <col width="33%" />
   <col width="33%" />
   <thead>
      <tr>
         <th>Description</th>
         <th>Attributes</th>
         <th>Children</th>
      </tr>
   </thead>
   <tbody>
      <tr style="background-color: lightgray">
         <th colspan="3"><code>&lt;layout&gt;</code></th>
      </tr>
      <tr>
         <td>
            <p>Mandatory root element.</p>
         </td>
         <td>
            <ul>
               <li><code>xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"</code></li>
               <li><code>xs:include schemaLocation="urn:magento:framework:View/Layout/etc/elements.xsd</code></li>
            </ul>
         </td>
         <td>
            <ul>
               <li><code>&lt;block&gt;</code></li>
               <li><code>&lt;container&gt;</code></li>
               <li><code>&lt;remove&gt;</code></li>
               <li><code>&lt;move&gt;</code></li>
               <li><code>&lt;update&gt;</code></li>
               <li><code>&lt;referenceBlock&gt;</code></li>
               <li><code>&lt;referenceContainer&gt;</code></li>
            </ul>
         </td>
      </tr>
      <tr style="background-color: lightgray">
         <th colspan="3"><code>&lt;block&gt;</code></th>
      </tr>
      <tr>
         <td>
            <p>A unit of a page output, which generates content. Each block corresponds to a Magento PHP class.
               Instantiate each block one time only.
            </p>
            <p>If the cacheable attribute is set to false for one block on the page,
               each request generates the whole page.
            </p>
         </td>
         <td>
            <ul>
               <li><code>class="{block_class}"</code> (required)</li>
               <li><code>name="{arbitrary_name}"</code> (unique)</li>
               <li><code>as="{alias}"</code></li>
               <li><code>before="{name_of_sibling}"</code></li>
               <li><code>after=" {name_of_sibling}"</code></li>
               <li><code>template="{block_template}"</code></li>
               <li><code>group="{group_name}"</code></li>
               <li><code>output="1|0"</code></li>
               <li><code>acl="{resource_name}"</code> (the block is generated and its output is added to the rendered page if a user has permission for the resource)</li>
               <li><code>ifconfig="{сonfig_path}"</code> (the element is rendered just in case the corresponding configuration flag is set for the current scope)</li>
               <li><code>cacheable="true|false"</code></li>
               <li><code>ttl="block_lifetime_for_Varnish_ESI_cache"</code></li>
            </ul>
         </td>
         <td>
            <ul>
               <li><code>&lt;block&gt;</code></li>
               <li><code>&lt;container&gt;</code></li>
               <li><code>&lt;action&gt;</code></li>
               <li><code>&lt;arguments&gt;</code></li>
               <li><code>&lt;referenceBlock&gt;</code></li>
            </ul>
         </td>
      </tr>
      <tr style="background-color: lightgray">
         <th colspan="3"><code>&lt;container&gt;</code></th>
      </tr>
      <tr>
         <td>
            <p>A placeholder for blocks and other containers.</p>
         </td>
         <td>
            <ul>
               <li><code>name="{arbitrary_name}"</code> (unique)</li>
               <li><code>as="{alias}"</code></li>
               <li><code>before="{name_of_sibling}"</code></li>
               <li><code>after="{name_of_sibling}"</code></li>
               <li><code>group="{group_name}"</code></li>
               <li><code>output="1|0"</code></li>
               <li><code>htmlTag="{tag_to_wrap_in}"</code></li>
               <li><code>htmlId="{id_of_wrapping_tag}"</code></li>
               <li><code>htmlClass="{class_of_wrapping_tag}"</code></li>
               <li><code>label="label_displayed_for_user}"</code></li>
            </ul>
         </td>
         <td>
            <ul>
               <li><code>&lt;block&gt;</code></li>
               <li><code>&lt;container&gt;</code></li>
               <li><code>&lt;remove&gt;</code></li>
               <li><code>&lt;move&gt;</code></li>
               <li><code>&lt;referenceBlock&gt;</code></li>
               <li><code>&lt;referenceContainer&gt;</code></li>
            </ul>
         </td>
      </tr>
      <tr style="background-color: lightgray">
         <th colspan="3"><code>&lt;update&gt;</code></th>
      </tr>
      <tr>
         <td>
            <p>The specified handle is "included" and executed recursively.</p>
         </td>
         <td>
            <ul>
               <li><code>handle="{name_of_handle_to_include}"</code></li>
            </ul>
         </td>
         <td />
      </tr>
      <tr style="background-color: lightgray">
         <th colspan="3"><code>&lt;move&gt;</code></th>
      </tr>
      <tr>
         <td>
            <p>Sets the declared element as a child to another element in the specified order.</p>
         </td>
         <td>
            <ul>
               <li><code>element="{name.of.an.element}"</code> (required)</li>
               <li><code>destination="{name.of.destination.element}"</code> (required)</li>
               <li><code>as="{new_alias}"</code></li>
               <li><code>after="{name.of.element.after}"</code></li>
               <li><code>before="{name.of.element.before}"</code></li>
            </ul>
         </td>
         <td />
      </tr>
      <tr style="background-color: lightgray">
         <th colspan="3"><code>&lt;remove&gt;</code></th>
      </tr>
      <tr>
         <td>
            <p>Removes the specified element.</p>
         </td>
         <td>
            <ul>
               <li><code>name="{name.of.an.element}"</code> (required)</li>
            </ul>
         </td>
         <td />
      </tr>
      <tr style="background-color: lightgray">
         <th colspan="3"><code>&lt;action&gt;</code></th>
      </tr>
      <tr>
         <td>
            <p>Invokes block method
               Will become obsolete eventually. It is being gradually replaced with non-imperative layout instructions.
            </p>
         </td>
         <td>
            <ul>
               <li><code>method="{block_class_method}"</code> (required)</li>
               <li><code>ifconfig="{config_path}"</code> (The element is rendered just in case the corresponding configuration flag is set by specified path for current scope.)</li>
            </ul>
         </td>
         <td>
            <ul>
               <li><code>&lt;argument&gt;</code></li>
            </ul>
         </td>
      </tr>
      <tr style="background-color: lightgray">
         <th colspan="3"><code>&lt;referenceBlock&gt;</code></th>
      </tr>
      <tr>
         <td>
            <p>Wraps layout instructions, that is they will be executed in the context of the specified block.</p>
         </td>
         <td>
            <ul>
               <li><code>name="{block_name}"</code> (required)</li>
            </ul>
         </td>
         <td>
            <ul>
               <li><code>&lt;block&gt;</code></li>
               <li><code>&lt;container&gt;</code></li>
               <li><code>&lt;remove&gt;</code></li>
               <li><code>&lt;move&gt;</code></li>
               <li><code>&lt;update&gt;</code></li>
               <li><code>&lt;referenceBlock&gt;</code></li>
               <li><code>&lt;referenceContainer&gt;</code></li>
               <li><code>&lt;action&gt;</code></li>
               <li><code>&lt;arguments&gt;</code></li>
            </ul>
         </td>
      </tr>
      <tr style="background-color: lightgray">
         <th colspan="3"><code>&lt;referenceContainer&gt;</code></th>
      </tr>
      <tr>
         <td>
            <p>Wraps layout instructions, that is they will be executed in the context of the specified container.</p>
         </td>
         <td>
            <ul>
               <li><code>name="{container_name}"</code> (required)</li>
               <li><code>htmlTag="{wrapping_tag}"</code></li>
               <li><code>htmlClass="{class_of_wrapping_tag}"</code></li>
               <li><code>htmlId="{id_of_wrapping_tag}"</code></li>
               <li><code>label="{lable_to_be_displayed_for_admin_user}"</code></li>
            </ul>
         </td>
         <td>
            <ul>
               <li><code>&lt;block&gt;</code></li>
               <li><code>&lt;container&gt;</code></li>
               <li><code>&lt;remove&gt;</code></li>
               <li><code>&lt;move&gt;</code></li>
               <li><code>&lt;update&gt;</code></li>
               <li><code>&lt;referenceBlock&gt;</code></li>
               <li><code>&lt;referenceContainer&gt;</code></li>
            </ul>
         </td>
      </tr>
      <tr style="background-color: lightgray">
         <th colspan="3"><code>&lt;arguments&gt;</code></th>
      </tr>
      <tr>
         <td>
            <p>A wrapper for arguments.</p>
         </td>
         <td />
         <td>
            <ul>
               <li><code>&lt;argument&gt;</code></li>
            </ul>
         </td>
      </tr>
      <tr style="background-color: lightgray">
         <th colspan="3"><code>&lt;argument&gt;</code></th>
      </tr>
      <tr>
         <td>
            <p>Handles parameters that are injected into the parent block constructor during instantiation.

            </p>
         </td>
         <td>
            <ul>
               <li><code>name ="{ argument_name}"</code> (required, unique)</li>
               <li><code>xsi:type =" string|boolean|object|number|null|array"</code></li>
               <li><code>translate="true|false"</code></li>
            </ul>
         </td>
         <td>
            <ul>
               <li><code>&lt;item&gt;</code></li>
            </ul>
         </td>
      </tr>
      <tr style="background-color: lightgray">
         <th colspan="3"><code>&lt;item&gt;</code></th>
      </tr>
      <tr>
         <td>
            <p>Handles array items for array arguments type.</p>
         </td>
         <td>
            <ul>
               <li><code>name ="{ argument_name}"</code> (required, unique)</li>
               <li><code>xsi:type =" string|boolean|object|number|null|array"</code></li>
               <li><code>translate="true|false"</code></li>
            </ul>
         </td>
         <td>
            <ul>
               <li><code>&lt;item&gt;</code></li>
            </ul>
         </td>
      </tr>
      <tr style="background-color: lightgray">
         <th colspan="3"><code>&lt;updater&gt;</code></th>
      </tr>
      <tr>
         <td>
            <p>Changes argument value.</p>
         </td>
         <td />
         <td />
      </tr>
   </tbody>
</table>

<h2 id="xml-validation">Validate XML layouts</h2>

<p>Use the following tests to validate new or changed layouts:</p>

<table style="width:125%">
   <col width="75%" />
   <col width="25%" />
   <thead>
      <tr style="background-color: lightgray">
         <th>Test</th>
         <th>Validates</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td><a href="https://github.com/magento/magento2/blob/2.0/dev/tests/static/testsuite/Magento/Test/Integrity/Layout/HandlesTest.php" target="_blank">HandlesTest.php</a></td>
         <td>Layouts</td>
      </tr>
      <tr>
      <td>
         <a href="https://github.com/magento/magento2/blob/2.0/dev/tests/integration/testsuite/Magento/Test/Integrity/Modular/LayoutFilesTest.php" target="_blank">LayoutFilesTest.php</a></td>
         <td>Argument values correspond to required data types</td>
      </tr>
   </tbody>
</table>

		</div>
		<!-- /.content-wrap -->

		<div class="page-info">

			

			
			 <div class="github-link">
				 <a class="improve-page" href="https://github.com/magento/devdocs/tree/develop/guides/v2.0/architecture/view/xml-schema-layout.md" target="_blank">
					 Edit this page on GitHub
				 </a>
			 </div>
			

			<div class="new-issue">
				<a href="https://github.com/magento/devdocs/issues/new?title=&body=Feedback on page: /guides/v2.0/architecture/view/xml-schema-layout.html" target="_blank">Give us feedback</a>
			</div>

		</div>

	</section>
	<!-- /.content -->

</div> <!-- /.container -->


	</div>
	<!-- /.main-container -->

</div>
<!-- /#gl-wrapper -->

<!-- footer-->
<div id="footer">
  <div class="container">

    <div class="copyright-links">
      <ul class="nav">
				<li><a href="/guides/v2.0/contributor-guide/contributing_docs.html">Become a Contributor</a>
        <li><a href="http://magento.com/legal/terms/privacy/">Privacy Policy</a></li>
        <li><a href="http://magento.com/legal/terms/">Terms of Service</a></li>
        <li><a href="http://magento.com/legal/licensing/">License/Trademark FAQ</a></li>
        <li><a href="/guides/v2.0/release-notes/bk-release-notes.html">Release Notes</a></li>
				<li><a href="/magento-third-party.html">Third-Party Licenses</a></li>
      </ul>
    </div>

		<div class="copyright-date">&copy; 2017 Magento. All rights reserved.</div>

  </div>
</div>
<!-- / #footer -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="/common/js/app.min.js"></script>

<script type="text/javascript">
    (function() {
        var didInit = false;
        function initMunchkin() {
            if(didInit === false) {
                didInit = true;
                Munchkin.init('585-GGD-959', {cookieAnon: false});
            }
        }
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = '//munchkin.marketo.net/munchkin.js';
        s.onreadystatechange = function() {
            if (this.readyState == 'complete' || this.readyState == 'loaded') {
                initMunchkin();
            }
        };
        s.onload = initMunchkin;
        document.getElementsByTagName('head')[0].appendChild(s);
    })();
</script>



<!--Google Analytics-->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-66243208-1', 'auto');
    ga('send', 'pageview');
</script>


</body>
</html>

