<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Templates overview</title>
	<meta name="description" content="Magento 2 Developer's Guide">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,600,300,800' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="/css/app.css" />
	<link rel="stylesheet" href="/common/css/override.css" />
	<link rel="canonical" href="//guides/v2.0/frontend-dev-guide/templates/template-overview.html">



</head>	
<body>

<header id="nav-main" class="nav-main">

	<!--Top Navigation-->
	<nav role="navigation">
		<!-- <div class="menu-btn">
			<a class="menu-trigger menu-icon" href="#"></a>
		</div> -->
			
		<div id="global-nav">
			<div class="main-site-name">
				<a class="logo pull-left" href="/"> </a>
				<div class="sub-site-name">
					<a href="/"><span>Developer Documentation (2.0)</span></a>
				</div>
			</div>
			
			<div class="right-header">
				<!--
				<div class="sales-login">
					<ul class="menu nav">
						<li class="first last leaf"><a href="https://www.magentocommerce.com/products/customer/account/login">My Account</a></li>
					</ul>
				</div>
				
				
				<div class="head-search" id="head-search">
					<div id="sb-search" class="sb-search">
						<form action="http://www.magentocommerce.com/search/results/">
							<span class="sb-icon-search btn btn-search"></span>
							<input name="q" class="sb-search-input" placeholder="Search docs" type="search" style="display: none;" id="search" />
							<span class="sb-search-submit btn btn-search"></span>
						</form>
					</div>
				</div><!-- #head-search --> 
				
			</div>
			
		</div><!-- #global-nav -->
	</nav>

	<!--Sub Navigation-->
<div id="subnav-wrap">
   <div id="subnav">
      <ul class="menu nav">
         <li class="first expanded">
            <a href="/guides/v2.0/bk-get-started-magento.html">Get Started</a>
            <ul class="menu nav">
               <li class="first leaf"><a href="/guides/v2.0/release-notes/bk-release-notes.html">Release Notes</a></li>
               <li class="leaf"><a href="/guides/v2.0/architecture/bk-architecture.html">Magento Architecture</a></li>
            </ul>
         </li>
         <li class="first expanded">
            <a href="/guides/v2.0/install-gde/bk-install-guide.html">System Administrator</a>
            <ul class="menu nav">
               <li class="first leaf"><a href="/guides/v2.0/install-gde/bk-install-guide.html">Installation Guide</a></li>
               <li class="leaf"><a href="/guides/v2.0/config-guide/bk-config-guide.html">Configuration Guide</a></li>
               <li class="leaf"><a href="/guides/v2.0/migration/bk-migration-guide.html">Migration Guide</a></li>
            </ul>
         </li>
         <li class="first expanded">
            <a href="#">Developers</a>
            <ul class="menu nav">
               <li class="first leaf"><a href="/guides/v2.0/frontend-dev-guide/bk-frontend-dev-guide.html">Frontend Developer Guide</a>
               <div id="divcentered"><img src="/common/images/horiz-line.png"></div></li>
			   <li class="first leaf"><a href="/guides/v2.0/javascript-dev-guide/bk-javascript-dev-guide.html">JavaScript Developer Guide</a>
               <div id="divcentered"><img src="/common/images/horiz-line.png"></div></li>
               <li class="first leaf"><a href="/guides/v2.0/extension-dev-guide/bk-extension-dev-guide.html">PHP Developer Guide</a></li>

               <li class="leaf"><a href="/guides/v2.0/mtf/mtf_introduction.html">Magento Testing Framework Guide</a></li>
               <li class="leaf"><a href="/guides/v2.0/pattern-library/bk-pattern.html">Magento Admin Pattern Library</a></li>
               <div id="divcentered"><img src="/common/images/horiz-line.png"></div></li>
               <li class="first leaf"><a href="/guides/v2.0/get-started/bk-get-started-api.html">Get Started with Magento Web APIs</a></li>
               <li class="leaf"><a href="/guides/v2.0/rest/bk-rest.html">REST Reference</a></li>
               <li class="leaf"><a href="/guides/v2.0/soap/bk-soap.html">SOAP Reference</a>
               <div id="divcentered"><img src="/common/images/horiz-line.png"></div></li>
               <li class="leaf"><a href="/guides/v2.0/coding-standards/bk-coding-standards.html">Coding Standards</a></li>


            </ul>
         </li>   
    
         
         
         
         
         <li class="first expanded">
            <a href="/guides/v2.0/contributor-guide/contributing.html">Contributor</a>
            <ul class="menu nav">
               <li class="first leaf"><a href="/guides/v2.0/contributor-guide/contributing.html">Contributor Guide</a></li>
            </ul>
         </li>
      </ul>



   </div> <!--End subnav -->
</div><!--End subnav-wrap -->

	
</header>	


<div id="gl-wrapper">
	
	<!-- #sidemenu -->
	<div id="sidemenu" style="display:none;">
		<a class="menu-trigger menu-close" href="#" title=""></a>
		<div class="h8 site-title">Our Sites</div>
		<ul class="menu nav">
			<li class="first leaf"><a href="http://magento.com/" title="Magento&#039;s Corporate Site" class="active">Magento</a><span class="description">Magento's Corporate Site</span></li>
			<li class="leaf"><a href="http://enterprise.magento.com" title="Enterprise-Class Platform">Enterprise Edition</a><span class="description">Enterprise-Class Platform</span></li>
			<li class="leaf"><a href="http://go.magento.com/" title="Small Business Storefront">Magento Go</a><span class="description">Small Business Storefront</span></li>
			<li class="leaf"><a href="http://www.magentocommerce.com/magento-connect/" title="Extensions Marketplace">Connect</a><span class="description">Extensions Marketplace</span></li>
			<li class="leaf"><a href="http://magento.com/resources/technical" title="Resources for Developers">Developers</a><span class="description">Resources for Developers</span></li>
			<li class="leaf"><a href="http://magento.com/partners/overview" title="Resources for Partners">Partners</a><span class="description">Resources for Partners</span></li>
			<li class="leaf"><a href="http://magento.com/training/overview" title="Courses and Developer Certification">Training</a><span class="description">Courses and Developer Certification</span></li>
			<li class="last leaf"><a href="http://imagine2015.magento.com/" title="Annual Conference">Imagine</a><span class="description">Annual Conference</span></li>
		</ul>
	</div>
	<!-- /#sidemenu -->
	
	<!-- /.main-container -->
	<div id="gl-container" class="main-container">
		<a id="main-content"></a>
		<div class="pane-content">
			<div class="node node-panel">






<!-- page-header -->
<section class="page-intro">
	<div class="container">
		<h1 class="page-heading">Templates overview</h1>
			
			<a class="improve-page" href="http://github.com/magento/devdocs/blob/develop/guides/v2.0/frontend-dev-guide/templates/template-overview.md" target="_blank">Edit this page on GitHub</a>
		
	</div>
</section>

<div class="container">
	<section class="content">
		<div class="content-wrap">
		
		<h2>Introduction to customizing a theme using templates</h2>

<p>In Magento application templates are the part of the view layer. Templates define exactly how the content of <a href="/guides/v2.0/frontend-dev-guide/layouts/layout-overview.html" target="_blank">layout blocks</a> is presented on a page: order, CSS classes, elements  grouping, and so on. 
In most cases, templates do not contain any logic about whether they will or will not be rendered, this is typically handled by the layout files. Once a template is called in a layout, it will be displayed.</p>

<p>Default Magento templates are PHTML files. </p>

<div class="bs-callout bs-callout-info" id="info">
<span class="glyphicon-class">
 <p><a href="/guides/v2.0/architecture/view/template-engine.html" target="_blank">The Magento template rendering subsystem</a> supports multiple template engines, including the default PHP-based engine for processing PHTML templates.</p></span>
</div>

<p>This chapter describes how to customize templates in your design theme, and provides both the practice reference and the theoretical background of how templates are applied in a Magento store. </p>

<p>We strongly recommend that you do not change the default templates, because if you do edit them, your changes can be overwritten by the new version of the default files during upgrades.
The best practice is <a href="/guides/v2.0/frontend-dev-guide/themes/theme-create.html" target="_blank">creating a new design theme</a> and adding your modified templates there.</p>

<p>This chapter contains the following topics:</p>

<ul>
  <li><a href="/guides/v2.0/frontend-dev-guide/templates/template-walkthrough.html" target="_blank">Template customization walkthrough</a></li>
  <li><a href="/guides/v2.0/frontend-dev-guide/templates/template-override.html" target="_blank">Templates basic concepts</a></li>
  <li><a href="/guides/v2.0/frontend-dev-guide/templates/template-sample.html" target="_blank">Illustration of customizing templates</a></li>
  <li><a href="/guides/v2.0/frontend-dev-guide/templates/template-email.html" target="_blank">Customizing email templates</a></li>
</ul>



		</div>
	</section>
<!-- /main content -->

<!-- sidebar -->
<aside class="sidebar">
	<div class="sidebar-wrapper">

		<ul role="navigation">
		
		
		
		
				
				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
				
				
					
					
					
					
					
					
						
						
						
						
							
							
								<li class=""><a href="/guides/v2.0/frontend-dev-guide/bk-frontend-dev-guide.html">Introduction</a></li>
				
							
							
						

					
					
						
						
						
						
							
														
							
								
								
									<li class=" "><a class="nav-header" href="/guides/v2.0/frontend-dev-guide/themes/theme-general.html">Themes</a></li>
									
								
								
								
							
								
								
							
									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/themes/theme-create.html">Create a theme</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/themes/theme-structure.html">Magento theme structure</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/themes/theme-apply.html">Apply and configure a theme in Admin</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/themes/theme-images.html">Configure images properties for a theme</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/themes/theme-inherit.html">Theme inheritance</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/themes/debug-theme.html">Locate templates, layouts, and styles</a></li>
						
								
								
								
							
							
						

					
					
						
						
						
						
							
														
							
								
								
									<li class=" "><a class="nav-header" href="/guides/v2.0/frontend-dev-guide/layouts/layout-overview.html">Layout</a></li>
									
								
								
								
							
								
								
							
									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/layouts/xml-instructions.html">Layout instructions</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/layouts/layout-types.html">Layout file types</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/layouts/layout-extend.html">Extend a layout</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/layouts/layout-override.html">Override a layout</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/layouts/xml-manage.html">Common layout customization tasks</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/layouts/layout-practice.html">Customizing layout illustration</a></li>
						
								
								
								
							
							
						

					
					
						
						
						
						
							
														
							
								
								
									<li class="  active "><a class="nav-header" href="/guides/v2.0/frontend-dev-guide/templates/template-overview.html">Templates</a></li>
									
								
								
								
							
								
								
							
									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/templates/template-walkthrough.html">Templates customization walkthrough</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/templates/template-override.html">Templates basic concepts</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/templates/template-sample.html">Illustration of customizing templates</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/templates/template-email.html">Customize email templates</a></li>
						
								
								
								
							
							
						

					
					
						
						
						
						
							
														
							
								
								
									<li class=" "><a class="nav-header" href="/guides/v2.0/frontend-dev-guide/css-topics/css-overview.html">Cascading style sheets (CSS)</a></li>
									
								
								
								
							
								
								
							
									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/css-topics/css-themes.html">Include CSS</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/css-topics/css-preprocess.html">CSS preprocessing</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/css-topics/css_debug.html">Styles debugging</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/css-topics/theme-ui-lib.html">Magento UI library</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/css-topics/css-practice.html">Customizing styles illustration</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/css-topics/using-fonts.html">Using custom fonts</a></li>
						
								
								
								
							
							
						

					
					
						
						
						
						
							
														
							
								
								
									<li class=" "><a class="nav-header" href="/guides/v2.0/frontend-dev-guide/responsive-web-design/rwd_overview.html">How to Make Your Theme Responsive and Mobile</a></li>
									
								
								
								
							
								
								
							
									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/responsive-web-design/rwd_css.html">CSS in responsive design</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/responsive-web-design/rwd_js.html">JavaScript in Magento responsive design</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/responsive-web-design/rwd_mobile.html">Create a responsive mobile theme based on a default theme</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/responsive-web-design/rwd_practice.html">Customizing RWD illustration</a></li>
						
								
								
								
							
							
						

					
					
						
						
						
						
							
														
							
								
								
									<li class=" "><a class="nav-header" href="/guides/v2.0/frontend-dev-guide/translations/xlate.html">Translations</a></li>
									
								
								
								
							
								
								
							
									<li class="level-2 "><a href="/guides/v2.0/frontend-dev-guide/translations/translate_theory.html">Translate theme strings</a></li>
						
								
								
								
							
							
						

					


				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
		
		</ul>

	</div>
</aside>
<!-- /sidebar -->

</div> <!-- container -->


		</div>
		</div>
	</div>


</div>
<!-- -->


<!-- #footer-wrap -->
<div id="footer-wrap">
<footer class="footer container">
	<div class="row-fluid">
		<div class="span3 footer-menu" id="magento-sites">
		<h4>OUR SITES</h4>
		<ul class="menu nav">
			<li class="first leaf"><a href="http://magento.com/" title="Magento&#039;s Corporate Site" class="active">Magento</a><span class="description">Magento's Corporate Site</span></li>
			<li class="leaf"><a href="http://enterprise.magento.com" title="Enterprise-Class Platform">Enterprise Edition</a><span class="description">Enterprise-Class Platform</span></li>
			<li class="leaf"><a href="http://www.magentocommerce.com/magento-connect/" title="Extensions Marketplace">Connect</a><span class="description">Extensions Marketplace</span></li>
			<li class="leaf"><a href="http://magento.com/resources/technical" title="Resources for Developers">Developers</a><span class="description">Resources for Developers</span></li>
			<li class="leaf"><a href="http://magento.com/partners/overview" title="Resources for Partners">Partners</a><span class="description">Resources for Partners</span></li>
			<li class="leaf"><a href="http://magento.com/training/overview" title="Courses and Developer Certification">Training</a><span class="description">Courses and Developer Certification</span></li>
			<li class="last leaf"><a href="http://imagine2015.magento.com/" title="Annual Conference">Imagine</a><span class="description">Annual Conference</span></li>
		</ul>
	</div>

	<div class="span8 offset1" id="magento-com">
		<div class="intro-paragraph">
              <a href="http://magento.com/"><img src="/i/logo-gl-footer.png" id="logo" alt="Magento an ebay inc company"></a>
              <h3>eCommerce platform, solutions and services<br /> to help grow your business.</h3>
          </div>
          <div class="row-fluid">
            <div class="span3">
              <h4>LEARN MORE</h4>
              <ul class="menu nav"><li class="first leaf"><a href="http://magento.com/company/overview" title="">Company</a></li><li class="leaf"><a href="http://magento.com/company/careers" title="">Careers</a></li><li class="leaf"><a href="http://www.magentocommerce.com/company/press-releases" title="">Press Room</a></li><li class="last leaf"><a href="http://magento.com/sitemap" title="">Site Map</a></li></ul>              <div id="social-network">
                <h4>Connect</h4>
                <ul>
                  <li><a href="http://www.facebook.com/magento" target="_blank" class="btn-facebook">Magento Facebook</a></li>
                  <li><a href="https://twitter.com/magento" target="_blank" class="btn-twitter">Magento Twitter</a></li>
                  <li><a href="http://www.youtube.com/user/magentocommerce/featured" target="_blank" class="btn-youtube">Magento Youtube</a></li>
                  <li><a href="http://www.linkedin.com/groups?home=&amp;gid=146360&amp;trk=anet_ug_hm" target="_blank" class="btn-lnkdn">Magento Linkedin</a></li>
                </ul> 
              </div>
            </div>
            <div class="span7 offset2">
              <div class="contact-us">
                <h4>Get in touch</h4>
                <p>We'd like to hear from you! Call us,<br /> send us an email or talk to sales.</p>
                <a href="http://www.magentocommerce.com/company/contact-us/" class="btn outline">Contact Us</a>
              </div>
                            <div id="newsletter">
                <h4>GET THE LATEST NEWS</h4>
                <p>See Magento in the news, find press releases<br /> and resources for media.</p>
                <div class="hold-form">
                <div id="nws-notsubscribed">
                    <div id="sb-email" class="sb-email">
                        <form method="post" enctype="application/x-www-form-urlencoded" action="http://info2.magento.com/index.php/leadCapture/save" id="mktForm_1182" class="mktform" name="mktForm_1182">
                            <input class="fValidate['email'] input-topbg sb-email-input" name="Email" id="Email" placeholder="Email Address" />
                            <button type="submit" class="sb-icon-submit btn outline" onclick="return validationEmail(jQuery('form #Email').val());">
                                Submit
                            </button>
                            <span class="sb-icon-email btn outline">
                                Sign Up
                            </span>
                            <span style="display:none;">
                              <input type="text" name="_marketo_comments" value="" />
                            </span><input type="hidden" name="lpId" value="-1" />
                            <input type="hidden" name="subId" value="36" />
                            <input type="hidden" name="kw" value="" />
                            <input type="hidden" name="cr" value="" />
                            <input type="hidden" name="searchstr" value="" />
                            <input type="hidden" name="lpurl" value="https://info2.magento.com/lp/magentoenterprise/CustomerNewsletterSubscription.html?cr={creative}&kw={keyword}">
                            <input type="hidden" name="formid" value="1182" />
                            <input type="hidden" name="returnURL" value="http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/templates/template-overview.html" />
                            <input type="hidden" name="retURL" value="http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/templates/template-overview.html" />
                            <input type="hidden" name="_mkt_disp" value="return" />
                            <input type="hidden" name="_mkt_trk" value="" />
                        </form>
                    </div>
                </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="email-invalid hide">
                <p>Please submit a valid email.</p>
              </div>
              <div class="email-ty hide">
                <p>Thank you for submitting your email.</p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </footer>
  <div id="copyright">
    <div class="container">
      <div class="pull-right"><ul class="menu nav"><li class="first leaf"><a href="http://magento.com/legal/terms/privacy" title="">Privacy Policy</a></li><li class="leaf"><a href="http://magento.com/legal/terms" title="">Terms of service</a></li><li class="last leaf"><a href="http://magento.com/legal/licensing" title="">License/Trademark FAQ</a></li></ul></div>
      <span class="pull-left">&copy; 2015 Magento, Inc. All rights reserved.</span>
    </div>
  </div>
</div>
<!-- /#footer-wrap -->


<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

<script src="/js/classie.js"></script>
<script src="/js/uislideform.js"></script>
<script type="text/javascript">
  new UISlideform(document.getElementById('sb-email'), 'email');
  
  (function($) {
    window.validationEmail = function(email) {
      $('#Emailemail_msg').fadeOut('slow');
      var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
      if (!emailReg.test(email)) {
        $('.email-invalid').fadeIn('slow');
      }
      else if (email == '' || typeof email == 'undefined') {
        $('.email-invalid').fadeIn('slow');
      }
      else {
        $('.email-invalid').fadeOut('slow');
        $('#mktForm_1182').submit();
      }
      return false;
    }
  })(jQuery);

  (function() {
    var didInit = false;
    function initMunchkin() {
      if(didInit === false) {
        didInit = true;
        Munchkin.init('318-XBX-392', {cookieAnon: false});
      }
    }
    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    s.src = '//munchkin.marketo.net/munchkin.js';
    s.onreadystatechange = function() {
      if (this.readyState == 'complete' || this.readyState == 'loaded') {
        initMunchkin();
      }
    };
    s.onload = initMunchkin;
    document.getElementsByTagName('head')[0].appendChild(s);
  })();
</script>

<!-- Docs scripts (just in case) -->
<script src="/js/app-min.js"></script>


<!--Google Analytics-->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66243208-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>