<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Static file processing</title>
	<meta name="description" content="Magento 2 Developer's Guide">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,600,300,800' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="/css/app.css" />
	<link rel="stylesheet" href="/common/css/override.css" />
	<link rel="canonical" href="//guides/v1.0/architecture/view/static-process.html">

</head>	
<body>

<header id="nav-main" class="nav-main">

	<!--Top Navigation-->
	<nav role="navigation">
		<div class="menu-btn">
			<a class="menu-trigger menu-icon" href="#"></a>
		</div>
			
		<div id="global-nav">
			<div class="main-site-name">
				<a class="logo pull-left" href="/"> </a>
				<div class="sub-site-name">
					<a href="/"><span>Developer Documentation</span></a>
				</div>
			</div>
			
			<div class="right-header">
				<!--
				<div class="sales-login">
					<ul class="menu nav">
						<li class="first last leaf"><a href="https://www.magentocommerce.com/products/customer/account/login">My Account</a></li>
					</ul>
				</div>
				
				
				<div class="head-search" id="head-search">
					<div id="sb-search" class="sb-search">
						<form action="http://www.magentocommerce.com/search/results/">
							<span class="sb-icon-search btn btn-search"></span>
							<input name="q" class="sb-search-input" placeholder="Search docs" type="search" style="display: none;" id="search" />
							<span class="sb-search-submit btn btn-search"></span>
						</form>
					</div>
				</div><!-- #head-search --> 
				
			</div>
			
		</div><!-- #global-nav -->
	</nav>

	﻿<!--Sub Navigation-->
<div id="subnav-wrap">
   <div id="subnav">
      <ul class="menu nav">
         <li class="first expanded">
            <a href="/guides/v1.0/release-notes/release-notes.html">Get Started</a>
            <ul class="menu nav">
               <li class="first leaf"><a href="/guides/v1.0/release-notes/release-notes.html">Release Notes</a></li>
               <li class="leaf"><a href="/guides/v1.0/architecture/arch_whatis.html">Magento Architecture</a></li>
            </ul>
         </li>
         <li class="first expanded">
            <a href="/guides/v1.0/install-gde/bk-install-guide.html">System Administrator</a>
            <ul class="menu nav">
               <li class="first leaf"><a href="/guides/v1.0/install-gde/bk-install-guide.html">Installation Guide</a></li>
               <li class="leaf"><a href="/guides/v1.0/config-guide/bk-config-guide.html"">Configuration and Integration Guide</a></li>
            </ul>
         </li>
         <li class="first expanded">
            <a href="/guides/v1.0//frontend-dev-guide/bk-frontend-dev-guide.html">Frontend Developer</a>
            <ul class="menu nav">
               <li class="first leaf"><a href="/guides/v1.0/frontend-dev-guide/bk-frontend-dev-guide.html">Frontend Developer Guide</a></li>
               <li class="leaf"><a href="/guides/v1.0/coding-standards/bk-coding-standards.html">Coding Standards</a></li>
            </ul>
         </li>
         <li class="expanded">
            <a href="/guides/v1.0/extension-dev-guide/bk-extension-dev-guide.html">Extension Developer</a>
            <ul class="menu nav">
               <li class="first leaf"><a href="/guides/v1.0/get-started/bk-get-started-api.html">Get Started with Magento Web APIs</a></li>
               <li class="leaf"><a href="/guides/v1.0/extension-dev-guide/bk-extension-dev-guide.html">Extension Developer Guide</a></li>
               <li class="leaf"><a href="/guides/v1.0/coding-standards/bk-coding-standards.html">Coding Standards</a></li>
            </ul>
         </li>
         <li class="first expanded">
            <a href="/guides/v1.0/contributor-guide/CONTRIBUTING.html"">Contributor</a>
            <ul class="menu nav">
               <li class="first leaf"><a href="/guides/v1.0/contributor-guide/CONTRIBUTING.html"">Contributor Guide</a></li>
            </ul>
         </li>
      </ul>
   </div>
</div>
	
</header>	


<div id="gl-wrapper">
	
	<!-- #sidemenu -->
	<div id="sidemenu" style="display:none;">
		<a class="menu-trigger menu-close" href="#" title=""></a>
		<div class="h8 site-title">Our Sites</div>
		<ul class="menu nav">
			<li class="first leaf"><a href="http://magento.com/" title="Magento&#039;s Corporate Site" class="active">Magento</a><span class="description">Magento's Corporate Site</span></li>
			<li class="leaf"><a href="http://enterprise.magento.com" title="Enterprise-Class Platform">Enterprise Edition</a><span class="description">Enterprise-Class Platform</span></li>
			<li class="leaf"><a href="http://go.magento.com/" title="Small Business Storefront">Magento Go</a><span class="description">Small Business Storefront</span></li>
			<li class="leaf"><a href="http://www.magentocommerce.com/magento-connect/" title="Extensions Marketplace">Connect</a><span class="description">Extensions Marketplace</span></li>
			<li class="leaf"><a href="http://magento.com/resources/technical" title="Resources for Developers">Developers</a><span class="description">Resources for Developers</span></li>
			<li class="leaf"><a href="http://magento.com/partners/overview" title="Resources for Partners">Partners</a><span class="description">Resources for Partners</span></li>
			<li class="leaf"><a href="http://magento.com/training/overview" title="Courses and Developer Certification">Training</a><span class="description">Courses and Developer Certification</span></li>
			<li class="last leaf"><a href="http://imagine2015.magento.com/" title="Annual Conference">Imagine</a><span class="description">Annual Conference</span></li>
		</ul>
	</div>
	<!-- /#sidemenu -->
	
	<!-- /.main-container -->
	<div id="gl-container" class="main-container">
		<a id="main-content"></a>
		<div class="pane-content">
			<div class="node node-panel">






<!-- page-header -->
<section class="page-intro">
	<div class="container">
		<h1 class="page-heading">Static file processing</h1>
			
			<a class="improve-page" href="http://github.com/magento/devdocs/blob/develop/guides/v1.0/architecture/view/static-process.md" target="_blank">Edit this page on GitHub</a>
		
	</div>
</section>

<div class="container">
	<section class="content">
		<div class="content-wrap">
		
		<h2 id="m2devgde-static-proc-intro">Overview</h2>
<p>When a browser loads a web page and requests a static view file such as a JavaScript, CSS, image file, or another page asset,
   the Magento system processes the requested file before it returns the file to the browser.
</p>
<p>This processing can include searching for a not-found file in additional locations, file merging, and file minification.</p>
<p>Whenever a static view file is requested in the Magento application,
   it uses the appropriate mechanisms for the file type and system configuration, as follows:
</p>
<dl>
   <dt>View file fallback mechanism</dt>
   <dd>
      <p>When a view file is not found in the requested location, Magento uses rules to search for the file in additional locations.</p>
      <p>The following diagram shows how Magento processes static view files:</p>
      <p><img src="/common/images/Preprocesing_assets.png" alt="Static view files processing flow" /></p>
   </dd>
   <dt>CSS files preprocessing</dt>
   <dd>
      <p>Magento generates CSS files from LESS files.</p>
   </dd>
   <dt>CSS and JavaScript file merging</dt>
   <dd>
      <p>Magento merges all CSS or JavaScript assets linked in the &lt;head&gt; element of the page into a single files and replaces referenced files with a single reference.</p>
   </dd>
   <dt>JavaScript files minifying</dt>
   <dd>
      <p>Magento removes white spaces and comments.
   

<h2 id="example-fallback">Fallback mechanism example</h2>
<p>This example illustrates the fallback mechanism.</p>
<p>The <code>http://www.example.com/pub/static/frontend/Magento/blank/en_US/images/logo.gif</code> URL requests the <code>logo.gif</code> image file.</p>
<p>Magento API request:</p>

   <pre>$this-&gt;getViewFileUrl('logo.gif');</pre>

<p>The current system context is:</p>

<table>
   <tr>
      <th>application area</th>
      <td>frontend</td>
   </tr>
   <tr>
      <th>theme</th>
      <td><code>theme</code>, which inherits <code>parent_theme</code></td>
   </tr>
   <tr>
      <th>language</th>
      <td><code>en_US</code></td>
   </tr>
</table>

<p>By using theme inheritance and view file fallback rules, the system searches in this order for these files:</p>
<p class="q">Reviewer: Please verify these paths. I do not see a /web/directory on my Magento 2 installation.</p>

<ol>
   <li><code>app/design/frontend/theme/web/i18n/en_US/logo.gif</code></li>
   <li><code>app/design/frontend/theme/web/logo.gif</code></li>
   <li><code>app/design/frontend/parent_theme/web/i18n/en_US/logo.gif</code></li>
   <li><code>app/design/frontend/parent_theme/web/logo.gif</code></li>
</ol>
<p>If the file is found, it is published in the following fully qualified location: <code>pub/static/frontend/theme/en_US/images/logo.gif</code>.</p>
<p>The path inside the <code>pub/static</code> directory coincides with initial path in the <code>app/design</code> directory.</p>
<h2 id="publish-static-view-files">Static view file publication</h2>
<p>Static files in their initial location might be not web accessible. To enable the Magento server to deliver static files, locate them in the public <code>pub/static</code> directory. The copy process is also known as <i>publication</i>.</p>
<div class="bs-callout bs-callout-info" id="info">
 <p>Any files that you manually upload (for example, product images), are always stored in <code>pub/media</code>.</p>
</div>
<p>The publication logic depends on the application mode:</p>
<dl>
   <dt>Default mode</dt>
   <dd>Static files are published automatically when the requested file does not exist in the <code>pub/static</code> directory, or it exists but the original file was modified.</dd>
   <dt>Production mode</dt>
   <dd>To publish files, you must run the view files deployment tool. The script is located in <a href="https://github.com/magento/magento2/blob/master/dev/tools/Magento/Tools/View/deploy.php" target="_blank">deploy.php</a>.</dd>
   <dt>Developer mode</dt>
   <dd>Files are not published. Though you can still run the deployment tool, all static view files are cached in the <code>pub/static</code> directory.
   So, if a frontend developer changes any static view file, they must re-run the tool after each change.</dd>
</dl>
<h2 id="css-files">CSS file publication</h2>
<p>The publication flow for CSS files depends on whether CSS merging is enabled. The following sections describe the flow for both cases.</p>
<h3 id="merging-enabled">Merging enabled</h3>
<p>If CSS merging is enabled in your Magento instance, a CSS file copied from <code>app/design/&lt;areaname&gt;/&lt;VendorName&gt;/&lt;ThemeName&gt;</code> to <code>pub/static</code> is also parsed for references to other static resources, such as images or other CSS files.</p>
<p>To enable publication of these files, reference them in a CSS file, as follows:</p>
<ul>
   <li>Use the CSS <code>url()</code> directive to reference the file.</li>
   <li>Use a relative path to reference the file. The system does not recognize absolute URLs or URIs.</li>
</ul>
<p>For example, if the original CSS file is to be published from <code>app/design/frontend/Magento/blank/web/css-topics/styles.css</code>,
the identified references are published from following locations:</p>

<p class="q">Reviewer: Again, please verify the /web/ directory path.</p>

<table>
<col width="50%" />
<col width="50%" />
   <thead>
      <tr>
         <th>Reference</th>
         <th>Resulting file</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td><code>url('../images/arrow.gif')</code></td>
         <td><code>app/design/frontend/Magento/blank/web/images/arrow.gif</code></td>
      </tr>
      <tr>
         <td><code>url(../images/arrow.gif)</code></td>
         <td><code>app/design/frontend/Magento/blank/web/images/arrow.gif</code></td>
      </tr>
      <tr>
         <td><code>url("callout.png")</code></td>
         <td><code>app/design/frontend/Magento/blank/web/css-topics/callout.png</code></td>
      </tr>
      <tr>
         <td><code>@include url('./styles-ie.css');</code></td>
         <td><code>app/design/frontend/default/demo/css-topics/styles-ie.css</code></td>
      </tr>
      <tr>
         <td><code>@include './styles-ie.css';</code></td>
         <td>N/A. The <code>@include</code> without <code>url()</code> is NOT recognized.</td>
      </tr>
      <tr>
         <td><code>url("http://example.com/image.jpg")</code>
            or <code>url("https://example.com/image.jpg")</code>
         </td>
         <td>N/A. Absolute URL.</td>
      </tr>
      <tr>
         <td><code>url("/image.jpg")</code></td>
         <td>N/A. Absolute URI.</td>
      </tr>
   </tbody>
</table>

<p>The referenced files can be located on different fallback levels, the publishing mechanism locates them recursively.</p>
<h3 id="merging-disabled">Merging disabled</h3>
<p>If CSS merging is disabled, CSS files are not parsed for references during the publication process.</p>
<p>Instead, the server requests the resource as soon as it is displayed on a browser page.</p>
<p>If the requested file is intended to be in the <code>pub/static</code> directory, the web server processes it and optionally, depending on the application mode, publishes it.</p>
<h3 id="context-notation">Context notation in CSS file references</h3>
<p>You can reference resources in CSS files relative to a theme or a certain module using scope notation.</p>
<p>The resulting link to a resource in the published file is relative to the original CSS file.</p>
<p>Examples follow:</p>
<h4 id="merging-disabled-css1">CSS specified by path</h4>

Example: <code>css-topics/one/two/file.css</code>

<table>

   <thead>
      <tr>
         <th>Reference with context notation</th>
         <th>Resulting reference</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td><code>url(&lt;VendorName&gt;_&lt;ModuleName&gt;::images/image.gif)</code></td>
		 <td><code>url(../../../../&lt;VendorName&gt;_&lt;ModuleName&gt;/images/image.gif)</code></td>
      </tr>

   </tbody>
</table>

<h4 id="merging-disabled-css1">CSS specified by module</h4>

Example: <code>&lt;VendorName&gt;_&lt;ModuleName&gt;::css-topics/one/two/file.css</code>

<table>
   <colgroup><col width="25%" />
   <col width="75%" />
</colgroup>
   <thead>
      <tr>
         <th>Reference with context notation</th>
         <th>Resulting reference</th>
      </tr>
   </thead>
   <tbody>
      <tr>
		 <td><code>&lt;VendorName&gt;_&lt;ModuleName&gt;::css-topics/one/two/file.css</code></td>
		 <td><code>url(../../../../&lt;VendorName&gt;_&lt;ModuleName&gt;/images/image.gif)</code></td>
      </tr>

   </tbody>
</table>

<h2 id="static-view-files-url-resolution">URL resolution for static view files</h2>
<p>The URL resolution mechanism builds URLs for static view files.</p>
<p>The mechanism also performs file publishing, if the initial location is not web accessible.</p>
<p>The following description of the URL resolution process illustrates the static view files processing from the prospective of the logic involved.</p>
<p>A fully qualified context for generating a URL path to a static view file includes: area code, theme path, and locale code. The URL path is generated from a file ID an invariant relative path to the file, which does not change regardless of whether it is used as part of the absolute file name or URL. The file ID may optionally qualify module name.</p>
<p>The following diagram illustrates how a URL to a static view file is generated:</p>
<p><img src="/common/images/va_10.png" alt="Generate a URL to a static view file" /></p>
<p>The diagram uses these notations:</p>
<ul>
   <li><b>Client code</b>. Any client code that needs a URL to a static file.
   Typically, a page template, but can be a layout XML or helper file.</li>
   <li><b>AbstractBlock</b>. <code>\Magento\Framework\View\Element\AbstractBlock</code></li>
   <li><b>AssetRepository</b>. <code>\Magento\Framework\View\Asset\Repository</code></li>
   <li><b>AssetContext</b>. <code>\Magento\Framework\View\Asset\ContextInterface</code></li>
   <li><b>Asset</b>. <code>\Magento\Framework\View\Asset\File</code></li>
</ul>
<p>To generate a URL for a static file, client code uses the <code>getUrl()</code> or <code>getUrlWithParams()</code> method of the asset repository.</p>
<p>The asset repository is <code>\Magento\Framework\View\Asset\Repository</code>.</p>
<p>The repository:</p>
<ol>
   <li>Determines all necessary parameters and context.</li>
   <li>Creates a <a href="https://github.com/magento/magento2/blob/master/lib/internal/Magento/Framework/View/Asset/Repository.php" target="_blank">\Magento\Framework\View\Asset\File</a> object.</li>
   <li>Uses the <code>File::getUrl()</code> method to get the necessary URL to the static view file.</li>
</ol>
<p>If a client requests the URL, the web server handles it as a separate request:</p>
<ul>
<li>If the file already exists in the specified location in the <code>pub/static</code> directory, a web server returns it as-is, as a static resource.</li>
<li>If the file does not exist in the specified location, an internal URL rewrite rule from <code>pub/static/.htaccess</code> routes the request to the <code>pub/static.php</code> entry point, which publishes the file to this location in <code>pub/static</code> and returns the file content.</li>
<h3 id="example-url-resolution">URL resolution example</h3>
<p>The context:</p>

<table>
   <tbody>
      <tr>
         <th>Current area</th>
         <td>frontend</td>
      </tr>
      <tr>
         <th>Current theme</th>
         <td><code>Magento/blank</code></td>
      </tr>
      <tr>
         <th>Current locale</th>
         <td><code>en_US</code></td>
      </tr>
      <tr>
         <th>Requested file</th>
         <td><code>Magento_Catalog::images/product.gif</code></td>
      </tr>
      <tr>
         <th>Public static directory base URL</th>
         <td><code>http://magento.example.com/pub/static</code></td>
      </tr>
   </tbody>
</table>

<p>The generated URL is: <code>http://www.example.com/pub/static/frontend/Magento/blank/en_US/Magento_Catalog/web/images/product.gif</code>.</p>
<div class="bs-callout bs-callout-info" id="info">
 <p>In production mode, the URL generating mechanism does not support the locale code; that is, generated URLs do not contain locale code.</p>
</div></ul></p></dd></dl>


		</div>
	</section>
<!-- /main content -->

<!-- sidebar -->
<aside class="sidebar">
	<div class="sidebar-wrapper">

		<ul role="navigation">
		
		
		
		
				
				
			
			
				
				
			
			
				
				
			
			
				
				
					
					
					
					
					
					
						
						
						
						
							
														
							
								
								
								
								
							
									<li class=""><span class="nav-header">Architecture</span></li>
								
								
							
								
								
							
									<li class="level-2 "><a href="http://devdocs.magento.com/guides/v1.0/architecture/arch_whatis.html">What is Magento?</a></li>
						
								
							
									<li class="level-2 "><a href="http://devdocs.magento.com/guides/v1.0/architecture/arch_asmodsys.html">Magento as a modular system</a></li>
						
								
							
									<li class="level-2 "><a href="http://devdocs.magento.com/guides/v1.0/architecture/arch_libraries.html">Libraries</a></li>
						
								
							
									<li class="level-2 "><a href="http://devdocs.magento.com/guides/v1.0/architecture/arch_themes.html">Themes</a></li>
						
								
							
									<li class="level-2 "><a href="http://devdocs.magento.com/guides/v1.0/architecture/arch_translations.html">Translation packs</a></li>
						
								
								
								
							
							
						

					
					
						
						
						
						
							
														
							
								
								
									<li class=" "><a class="nav-header" href="http://devdocs.magento.com/guides/v1.0/architecture/areas/areas.html">Areas</a></li>
									
								
								
								
							
								
								
								
								
							
							
						

					
					
						
						
						
						
							
														
							
								
								
								
								
							
									<li class=""><span class="nav-header">Behavior</span></li>
								
								
							
								
								
							
									<li class="level-2 "><a href="http://devdocs.magento.com/guides/v1.0/architecture/behavior/pricing.html">The pricing library</a></li>
						
								
							
									<li class="level-2 "><a href="http://devdocs.magento.com/guides/v1.0/architecture/behavior/price-calc.html">How Magento calculates prices</a></li>
						
								
							
									<li class="level-2 "><a href="http://devdocs.magento.com/guides/v1.0/architecture/behavior/price-render.html">How Magento renders prices</a></li>
						
								
								
								
							
							
						

					
					
						
						
						
						
							
														
							
								
								
									<li class=" "><a class="nav-header" href="http://devdocs.magento.com/guides/v1.0/architecture/index-cache/indexing.html">Indexing</a></li>
									
								
								
								
							
								
								
								
								
							
							
						

					
					
						
						
						
						
							
														
							
								
								
								
								
							
									<li class=""><span class="nav-header">Modules</span></li>
								
								
							
								
								
							
									<li class="level-2 "><a href="http://devdocs.magento.com/guides/v1.0/architecture/modules/mod_intro.html">Introduction to modules</a></li>
						
								
							
									<li class="level-2 "><a href="http://devdocs.magento.com/guides/v1.0/architecture/modules/mod_depend.html">Module dependencies</a></li>
						
								
							
									<li class="level-2 "><a href="http://devdocs.magento.com/guides/v1.0/architecture/modules/mod_relationships.html">Module relationships</a></li>
						
								
							
									<li class="level-2 "><a href="http://devdocs.magento.com/guides/v1.0/architecture/modules/mod_and_areas.html">Modules and areas</a></li>
						
								
							
									<li class="level-2 "><a href="http://devdocs.magento.com/guides/v1.0/architecture/modules/mod_conventions.html">Module naming and location conventions</a></li>
						
								
							
									<li class="level-2 "><a href="http://devdocs.magento.com/guides/v1.0/architecture/modules/payment.html">Payment modules</a></li>
						
								
								
								
							
							
						

					
					
						
						
						
						
							
														
							
								
								
									<li class=" "><a class="nav-header" href="http://devdocs.magento.com/guides/v1.0/architecture/modules/routing.html">Routing</a></li>
									
								
								
								
							
								
								
								
								
							
							
						

					
					
						
						
						
						
							
														
							
								
								
								
								
							
									<li class=""><span class="nav-header">View library</span></li>
								
								
							
								
								
							
									<li class="level-2 "><a href="http://devdocs.magento.com/guides/v1.0/architecture/view/view-lib.html">View library</a></li>
						
								
							
									<li class="level-2 "><a href="http://devdocs.magento.com/guides/v1.0/architecture/view/design-abstract.html">Design abstractions</a></li>
						
								
							
									<li class="level-2 "><a href="http://devdocs.magento.com/guides/v1.0/architecture/view/page-assets.html">Page assets</a></li>
						
								
							
									<li class="level-2 "><a href="http://devdocs.magento.com/guides/v1.0/architecture/view/page-type.html">Page types</a></li>
						
								
							
									<li class="level-2 "><a href="http://devdocs.magento.com/guides/v1.0/architecture/view/xml-schema-layout.html">XML layouts and schemas</a></li>
						
								
							
									<li class="level-2 "><a href="http://devdocs.magento.com/guides/v1.0/architecture/view/template-engine.html">Template engine</a></li>
						
								
							
									<li class="level-2  active "><a href="http://devdocs.magento.com/guides/v1.0/architecture/view/static-process.html">Static file processing</a></li>
						
								
								
								
							
							
						

					


				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
		
		</ul>

	</div>
</aside>
<!-- /sidebar -->

</div> <!-- container -->


		</div>
		</div>
	</div>


</div>
<!-- -->


<!-- #footer-wrap -->
<div id="footer-wrap">
<footer class="footer container">
	<div class="row-fluid">
		<div class="span3 footer-menu" id="magento-sites">
		<h4>OUR SITES</h4>
		<ul class="menu nav">
			<li class="first leaf"><a href="http://magento.com/" title="Magento&#039;s Corporate Site" class="active">Magento</a><span class="description">Magento's Corporate Site</span></li>
			<li class="leaf"><a href="http://enterprise.magento.com" title="Enterprise-Class Platform">Enterprise Edition</a><span class="description">Enterprise-Class Platform</span></li>
			<li class="leaf"><a href="http://go.magento.com/" title="Small Business Storefront">Magento Go</a><span class="description">Small Business Storefront</span></li>
			<li class="leaf"><a href="http://www.magentocommerce.com/magento-connect/" title="Extensions Marketplace">Connect</a><span class="description">Extensions Marketplace</span></li>
			<li class="leaf"><a href="http://magento.com/resources/technical" title="Resources for Developers">Developers</a><span class="description">Resources for Developers</span></li>
			<li class="leaf"><a href="http://magento.com/partners/overview" title="Resources for Partners">Partners</a><span class="description">Resources for Partners</span></li>
			<li class="leaf"><a href="http://magento.com/training/overview" title="Courses and Developer Certification">Training</a><span class="description">Courses and Developer Certification</span></li>
			<li class="last leaf"><a href="http://imagine2015.magento.com/" title="Annual Conference">Imagine</a><span class="description">Annual Conference</span></li>
		</ul>
	</div>

	<div class="span8 offset1" id="magento-com">
		<div class="intro-paragraph">
              <a href="http://magento.com/"><img src="/i/logo-gl-footer.png" id="logo" alt="Magento an ebay inc company"></a>
              <h3>eCommerce platform, solutions and services<br /> to help grow your business.</h3>
          </div>
          <div class="row-fluid">
            <div class="span3">
              <h4>LEARN MORE</h4>
              <ul class="menu nav"><li class="first leaf"><a href="http://magento.com/company/overview" title="">Company</a></li><li class="leaf"><a href="http://magento.com/company/careers" title="">Careers</a></li><li class="leaf"><a href="http://www.magentocommerce.com/company/press-releases" title="">Press Room</a></li><li class="last leaf"><a href="http://magento.com/sitemap" title="">Site Map</a></li></ul>              <div id="social-network">
                <h4>Connect</h4>
                <ul>
                  <li><a href="http://www.facebook.com/magento" target="_blank" class="btn-facebook">Magento Facebook</a></li>
                  <li><a href="https://twitter.com/magento" target="_blank" class="btn-twitter">Magento Twitter</a></li>
                  <li><a href="http://www.youtube.com/user/magentocommerce/featured" target="_blank" class="btn-youtube">Magento Youtube</a></li>
                  <li><a href="http://www.linkedin.com/groups?home=&amp;gid=146360&amp;trk=anet_ug_hm" target="_blank" class="btn-lnkdn">Magento Linkedin</a></li>
                </ul>
              </div>
            </div>
            <div class="span7 offset2">
              <div class="contact-us">
                <h4>Get in touch</h4>
                <p>We'd like to hear from you! Call us,<br /> send us an email or talk to sales.</p>
                <a href="http://www.magentocommerce.com/company/contact-us/" class="btn outline">Contact Us</a>
              </div>
                            <div id="newsletter">
                <h4>GET THE LATEST NEWS</h4>
                <p>See Magento in the news, find press releases<br /> and resources for media.</p>
                <div class="hold-form">
                <div id="nws-notsubscribed">
                    <div id="sb-email" class="sb-email">
                        <form method="post" enctype="application/x-www-form-urlencoded" action="http://info.magento.com/index.php/leadCapture/save" id="mktForm_1006" class="mktform" name="mktForm_1006" onsubmit="return validateForm();" >
                            <input class="fValidate['email'] input-topbg sb-email-input" name="Email" id="Email" placeholder="Email Address" />
                            <button type="submit" class="sb-icon-submit btn outline">
                                Submit
                            </button>
                            <span class="sb-icon-email btn outline">
                                Sign Up
                            </span>
                            <span style="display:none;"><input type="text" name="_marketo_comments" value="" /></span><input type="hidden" name="lpId" value="-1" /><input type="hidden" name="subId" value="36" /><input type="hidden" name="kw" value="" /><input type="hidden" name="cr" value="" /><input type="hidden" name="searchstr" value="" /><input type="hidden" name="lpurl" value="http://na-j.marketo.com/lp/magentocommerce/CustomerNewsletterSubscription.html?cr={creative}&kw={keyword}" /><input type="hidden" name="formid" value="1006" /><input type="hidden" name="returnURL" value="magento.com/" /><input type="hidden" name="retURL" value="magento.com/" /><input type="hidden" name="_mkt_disp" value="return" /><input type="hidden" name="_mkt_trk" value="" />
                        </form>
                    </div>
                </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="email-invalid hide">
                <p>Please submit a valid email.</p>
              </div>
              <div class="email-ty hide">
                <p>Thank you for submitting your email.</p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </footer>
  <div id="copyright">
    <div class="container">
      <div class="pull-right"><ul class="menu nav"><li class="first leaf"><a href="http://magento.com/legal/terms/privacy" title="">Privacy Policy</a></li><li class="leaf"><a href="http://magento.com/legal/terms" title="">Terms of service</a></li><li class="last leaf"><a href="http://www.magentocommerce.com/license/" title="">License/Trademark FAQ</a></li></ul></div>
      <span class="pull-left">&copy; 2014 Magento, Inc. All rights reserved.</span>
    </div>
  </div>
</div>
<!-- /#footer-wrap -->


<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

<!-- Magento.com scripts -->
<script src="/js/js_IkgOrrVZK1UTp2HktvFi5vo1g7b25Muyr5GoySikuic.js"></script>
<script src="/js/js_m-zV5Ek4Owkee3MVRMcqkTW8aki0DvIJIFma7yS1xM0.js"></script>
<script src="/js/js_Z5NZormFXt4exRfF6jg2O0wNC5okceOt7B3Hn2hqoFc.js"></script>
<script src="/js/js_O6lYvuZQJUPSnK699QFEAm_UI3AJznTbKmq3JNA4Z-M.js"></script>
<!--<script src="/js/js_xPIm45Yu7K82fSuatvdEsOmXU71DqQGS-vh5dkLvpro.js"></script>-->


<!-- Docs scripts (just in case) -->
<script src="/js/app-min.js"></script>


</body>
</html>