<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>XML layouts and schemas</title>
	<meta name="description" content="Magento 2 Developer's Guide">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,600,300,800' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="/css/app.css" />
	<link rel="stylesheet" href="/common/css/override.css" />
	<link rel="canonical" href="//guides/v1.0/architecture/view/xml-schema-layout.html">

</head>	
<body>

<header id="nav-main" class="nav-main">

	<!--Top Navigation-->
	<nav role="navigation">
		<div class="menu-btn">
			<a class="menu-trigger menu-icon" href="#"></a>
		</div>
			
		<div id="global-nav">
			<div class="main-site-name">
				<a class="logo pull-left" href="/"> </a>
				<div class="sub-site-name">
					<a href="/"><span>Developer Documentation</span></a>
				</div>
			</div>
			
			<div class="right-header">
				<!--
				<div class="sales-login">
					<ul class="menu nav">
						<li class="first last leaf"><a href="https://www.magentocommerce.com/products/customer/account/login">My Account</a></li>
					</ul>
				</div>
				
				
				<div class="head-search" id="head-search">
					<div id="sb-search" class="sb-search">
						<form action="http://www.magentocommerce.com/search/results/">
							<span class="sb-icon-search btn btn-search"></span>
							<input name="q" class="sb-search-input" placeholder="Search docs" type="search" style="display: none;" id="search" />
							<span class="sb-search-submit btn btn-search"></span>
						</form>
					</div>
				</div><!-- #head-search --> 
				
			</div>
			
		</div><!-- #global-nav -->
	</nav>

	﻿<!--Sub Navigation-->
<div id="subnav-wrap">
   <div id="subnav">
      <ul class="menu nav">
         <li class="first expanded">
            <a href="/guides/v1.0/bk-get-started-magento.html">Get Started</a>
            <ul class="menu nav">
               <li class="first leaf"><a href="/guides/v1.0/release-notes/bk-release-notes.html">Release Notes</a></li>
               <li class="leaf"><a href="/guides/v1.0/architecture/bk-architecture.html">Magento Architecture</a></li>
            </ul>
         </li>
         <li class="first expanded">
            <a href="/guides/v1.0/install-gde/bk-install-guide.html">System Administrator</a>
            <ul class="menu nav">
               <li class="first leaf"><a href="/guides/v1.0/install-gde/bk-install-guide.html">Installation Guide</a></li>
               <li class="leaf"><a href="/guides/v1.0/config-guide/bk-config-guide.html">Configuration Guide</a></li>
            </ul>
         </li>
         <li class="first expanded">
            <a href="/guides/v1.0/frontend-dev-guide/bk-frontend-dev-guide.html">Frontend Developer</a>
            <ul class="menu nav">
               <li class="first leaf"><a href="/guides/v1.0/frontend-dev-guide/bk-frontend-dev-guide.html">Frontend Developer Guide</a></li>
               <li class="leaf"><a href="/guides/v1.0/coding-standards/bk-coding-standards.html">Coding Standards</a></li>
            </ul>
         </li>
         <li class="expanded">
            <a href="/guides/v1.0/extension-dev-guide/bk-extension-dev-guide.html">Extension Developer</a>
            <ul class="menu nav">
               <li class="first leaf"><a href="/guides/v1.0/get-started/bk-get-started-api.html">Get Started with Magento Web APIs</a></li>
               <li class="leaf"><a href="/guides/v1.0/extension-dev-guide/bk-extension-dev-guide.html">Extension Developer Guide</a></li>
               <li class="leaf"><a href="/guides/v1.0/pattern-library/bk-pattern.html">Magento Admin Pattern Library</a></li>
               <li class="leaf"><a href="/guides/v1.0/coding-standards/bk-coding-standards.html">Coding Standards</a></li>
            </ul>
         </li>
         <li class="first expanded">
            <a href="/guides/v1.0/contributor-guide/CONTRIBUTING.html"">Contributor</a>
            <ul class="menu nav">
               <li class="first leaf"><a href="/guides/v1.0/contributor-guide/CONTRIBUTING.html"">Contributor Guide</a></li>
            </ul>
         </li>
      </ul>
   </div>
</div>
	
</header>	


<div id="gl-wrapper">
	
	<!-- #sidemenu -->
	<div id="sidemenu" style="display:none;">
		<a class="menu-trigger menu-close" href="#" title=""></a>
		<div class="h8 site-title">Our Sites</div>
		<ul class="menu nav">
			<li class="first leaf"><a href="http://magento.com/" title="Magento&#039;s Corporate Site" class="active">Magento</a><span class="description">Magento's Corporate Site</span></li>
			<li class="leaf"><a href="http://enterprise.magento.com" title="Enterprise-Class Platform">Enterprise Edition</a><span class="description">Enterprise-Class Platform</span></li>
			<li class="leaf"><a href="http://go.magento.com/" title="Small Business Storefront">Magento Go</a><span class="description">Small Business Storefront</span></li>
			<li class="leaf"><a href="http://www.magentocommerce.com/magento-connect/" title="Extensions Marketplace">Connect</a><span class="description">Extensions Marketplace</span></li>
			<li class="leaf"><a href="http://magento.com/resources/technical" title="Resources for Developers">Developers</a><span class="description">Resources for Developers</span></li>
			<li class="leaf"><a href="http://magento.com/partners/overview" title="Resources for Partners">Partners</a><span class="description">Resources for Partners</span></li>
			<li class="leaf"><a href="http://magento.com/training/overview" title="Courses and Developer Certification">Training</a><span class="description">Courses and Developer Certification</span></li>
			<li class="last leaf"><a href="http://imagine2015.magento.com/" title="Annual Conference">Imagine</a><span class="description">Annual Conference</span></li>
		</ul>
	</div>
	<!-- /#sidemenu -->
	
	<!-- /.main-container -->
	<div id="gl-container" class="main-container">
		<a id="main-content"></a>
		<div class="pane-content">
			<div class="node node-panel">






<!-- page-header -->
<section class="page-intro">
	<div class="container">
		<h1 class="page-heading">XML layouts and schemas</h1>
			
			<a class="improve-page" href="http://github.com/magento/devdocs/blob/develop/guides/v1.0/architecture/view/xml-schema-layout.md" target="_blank">Edit this page on GitHub</a>
		
	</div>
</section>

<div class="container">
	<section class="content">
		<div class="content-wrap">
		
		<h2 id="m2devgde-xml-layout-intro">Overview</h2>
<p>In the Magento system, you define application page layouts in XML files, also known as <i>layouts</i>.</p>
<p>The system uses the Magento XML schemas to validate these layouts.</p>
<h2 id="xml-schemas">XML schemas</h2>
<p>The Magento system uses the following XML schemas to validate these layouts:</p>

<p class="q">Reviewer: The original topic mentioned 3 XSD files, two of which do not exist or have been renamed: layout_single.xsd, layouts.xsd, and layout_merged.xsd. I guessed that layout_single = layout_generic but I do not know the correct reference for layouts.xsd. Please provide this information.</p>
<table>
   <tbody>
      <tr style="background-color: lightgray">
         <th>Schema</th>
         <th>Validates</th>
      </tr>
      <tr>
         <td><a href="https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/View/Layout/etc/layout_generic.xsd" target="_blank">layout_generic.xsd</a>
         </td>
         <td>Individual layouts</td>
      </tr>
      <tr>
         <td><a href="https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/View/PageLayout/etc/layouts.xsd" target="_blank">layouts.xsd</a></td>
         <td>Individual layouts.</td>
      </tr>
      <tr>
         <td><a href="https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/View/Layout/etc/layout_merged.xsd" target="_blank">layout_merged.xsd</a></td>
         <td>Merged layouts.</td>
      </tr>
   </tbody>
</table>
<p>These layout-specific XML schemas might use additional universal XML schemas.</p>
<h2 id="layout-elements">XML layout elements and structure</h2>
<p>The following table lists the allowable XML layout elements.
   The table reflects the correct structure for these elements.
</p>
<table style="width:135%">
   <col width="33%" />
   <col width="33%" />
   <col width="33%" />
   <thead>
      <tr>
         <th>Description</th>
         <th>Attributes</th>
         <th>Children</th>
      </tr>
   </thead>
   <tbody>
      <tr style="background-color: lightgray">
         <th colspan="3"><code>&lt;layout&gt;</code></th>
      </tr>
      <tr>
         <td>
            <p>Mandatory root element.</p>
         </td>
         <td>
            <ul>
               <li><code>xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"</code></li>
               <li><code>xsi:noNamespaceSchemaLocation="../../../../Core/etc/layout_single.xsd"</code></li>
            </ul>
         </td>
         <td>
            <ul>
               <li><code>&lt;block&gt;</code></li>
               <li><code>&lt;container&gt;</code></li>
               <li><code>&lt;remove&gt;</code></li>
               <li><code>&lt;move&gt;</code></li>
               <li><code>&lt;update&gt;</code></li>
               <li><code>&lt;referenceBlock&gt;</code></li>
               <li><code>&lt;referenceContainer&gt;</code></li>
            </ul>
         </td>
      </tr>
      <tr style="background-color: lightgray">
         <th colspan="3"><code>&lt;block&gt;</code></th>
      </tr>
      <tr>
         <td>
            <p>A unit of a page output, which generates content. Each block corresponds to a Magento PHP class.
               Instantiate each block one time only.
            </p>
            <p>If the cacheable attribute is set to false for one block on the page,
               each request generates the whole page.
            </p>
         </td>
         <td>
            <ul>
               <li><code>class="{block_class}"</code> (required)</li>
               <li><code>name="{arbitrary_name}"</code> (unique)</li>
               <li><code>as="{alias}"</code></li>
               <li><code>before="{name_of_sibling}"</code></li>
               <li><code>after=" {name_of_sibling}"</code></li>
               <li><code>template="{block_template}"</code></li>
               <li><code>group="{group_name}"</code></li>
               <li><code>output="1|0"</code></li>
               <li><code>acl="{resource_name}"</code> (the block is generated and its output is added to the rendered page if a user has permission for the resource)</li>
               <li><code>ifconfig="{сonfig_path}"</code> (the element is rendered just in case the corresponding configuration flag is set for the current scope)</li>
               <li><code>cacheable="true|false"</code></li>
               <li><code>ttl="block_lifetime_for_Varnish_ESI_cache"</code></li>
            </ul>
         </td>
         <td>
            <ul>
               <li><code>&lt;block&gt;</code></li>
               <li><code>&lt;container&gt;</code></li>
               <li><code>&lt;action&gt;</code></li>
               <li><code>&lt;arguments&gt;</code></li>
               <li><code>&lt;referenceBlock&gt;</code></li>
            </ul>
         </td>
      </tr>
      <tr style="background-color: lightgray">
         <th colspan="3"><code>&lt;container&gt;</code></th>
      </tr>
      <tr>
         <td>
            <p>A placeholder for blocks and other containers.</p>
         </td>
         <td>
            <ul>
               <li><code>name="{arbitrary_name}"</code> (unique)</li>
               <li><code>as="{alias}"</code></li>
               <li><code>before="{name_of_sibling}"</code></li>
               <li><code>after="{name_of_sibling}"</code></li>
               <li><code>group="{group_name}"</code></li>
               <li><code>output="1|0"</code></li>
               <li><code>htmlTag="{tag_to_wrap_in}"</code></li>
               <li><code>htmlId="{id_of_wrapping_tag}"</code></li>
               <li><code>htmlClass="{class_of_wrapping_tag}"</code></li>
               <li><code>label="label_displayed_for_user}"</code></li>
            </ul>
         </td>
         <td>
            <ul>
               <li><code>&lt;block&gt;</code></li>
               <li><code>&lt;container&gt;</code></li>
               <li><code>&lt;remove&gt;</code></li>
               <li><code>&lt;move&gt;</code></li>
               <li><code>&lt;referenceBlock&gt;</code></li>
               <li><code>&lt;referenceContainer&gt;</code></li>
            </ul>
         </td>
      </tr>
      <tr style="background-color: lightgray">
         <th colspan="3"><code>&lt;update&gt;</code></th>
      </tr>
      <tr>
         <td>
            <p>The specified handle is "included" and executed recursively.</p>
         </td>
         <td>
            <ul>
               <li><code>handle="{name_of_handle_to_include}"</code></li>
            </ul>
         </td>
         <td />
      </tr>
      <tr style="background-color: lightgray">
         <th colspan="3"><code>&lt;move&gt;</code></th>
      </tr>
      <tr>
         <td>
            <p>Sets the declared element as a child to another element in the specified order.</p>
         </td>
         <td>
            <ul>
               <li><code>element="{name.of.an.element}"</code> (required)</li>
               <li><code>destination="{name.of.destination.element}"</code> (required)</li>
               <li><code>as="{new_alias}"</code></li>
               <li><code>after="{name.of.element.after}"</code></li>
               <li><code>before="{name.of.element.before}"</code></li>
            </ul>
         </td>
         <td />
      </tr>
      <tr style="background-color: lightgray">
         <th colspan="3"><code>&lt;remove&gt;</code></th>
      </tr>
      <tr>
         <td>
            <p>Removes the specified element.</p>
         </td>
         <td>
            <ul>
               <li><code>name="{name.of.an.element}"</code> (required)</li>
            </ul>
         </td>
         <td />
      </tr>
      <tr style="background-color: lightgray">
         <th colspan="3"><code>&lt;action&gt;</code></th>
      </tr>
      <tr>
         <td>
            <p>Invokes block method
               Will become obsolete eventually. It is being gradually replaced with non-imperative layout instructions.
            </p>
         </td>
         <td>
            <ul>
               <li><code>method="{block_class_method}"</code> (required)</li>
               <li><code>ifconfig="{config_path}"</code> (The element is rendered just in case the corresponding configuration flag is set by specified path for current scope.)</li>
            </ul>
         </td>
         <td>
            <ul>
               <li><code>&lt;argument&gt;</code></li>
            </ul>
         </td>
      </tr>
      <tr style="background-color: lightgray">
         <th colspan="3"><code>&lt;referenceBlock&gt;</code></th>
      </tr>
      <tr>
         <td>
            <p>Wraps layout instructions, that is they will be executed in the context of the specified block.</p>
         </td>
         <td>
            <ul>
               <li><code>name="{block_name}"</code> (required)</li>
            </ul>
         </td>
         <td>
            <ul>
               <li><code>&lt;block&gt;</code></li>
               <li><code>&lt;container&gt;</code></li>
               <li><code>&lt;remove&gt;</code></li>
               <li><code>&lt;move&gt;</code></li>
               <li><code>&lt;update&gt;</code></li>
               <li><code>&lt;referenceBlock&gt;</code></li>
               <li><code>&lt;referenceContainer&gt;</code></li>
               <li><code>&lt;action&gt;</code></li>
               <li><code>&lt;arguments&gt;</code></li>
            </ul>
         </td>
      </tr>
      <tr style="background-color: lightgray">
         <th colspan="3"><code>&lt;referenceContainer&gt;</code></th>
      </tr>
      <tr>
         <td>
            <p>Wraps layout instructions, that is they will be executed in the context of the specified container.</p>
         </td>
         <td>
            <ul>
               <li><code>name="{container_name}"</code> (required)</li>
               <li><code>htmlTag="{wrapping_tag}"</code></li>
               <li><code>htmlClass="{class_of_wrapping_tag}"</code></li>
               <li><code>htmlId="{id_of_wrapping_tag}"</code></li>
               <li><code>label="{lable_to_be_displayed_for_admin_user}"</code></li>
            </ul>
         </td>
         <td>
            <ul>
               <li><code>&lt;block&gt;</code></li>
               <li><code>&lt;container&gt;</code></li>
               <li><code>&lt;remove&gt;</code></li>
               <li><code>&lt;move&gt;</code></li>
               <li><code>&lt;update&gt;</code></li>
               <li><code>&lt;referenceBlock&gt;</code></li>
               <li><code>&lt;referenceContainer&gt;</code></li>
            </ul>
         </td>
      </tr>
      <tr style="background-color: lightgray">
         <th colspan="3"><code>&lt;arguments&gt;</code></th>
      </tr>
      <tr>
         <td>
            <p>A wrapper for arguments.</p>
         </td>
         <td />
         <td>
            <ul>
               <li><code>&lt;argument&gt;</code></li>
            </ul>
         </td>
      </tr>
      <tr style="background-color: lightgray">
         <th colspan="3"><code>&lt;argument&gt;</code></th>
      </tr>
      <tr>
         <td>
            <p>Handles parameters that are injected into the parent block constructor during instantiation.

            </p>
         </td>
         <td>
            <ul>
               <li><code>name ="{ argument_name}"</code> (required, unique)</li>
               <li><code>xsi:type =" string|boolean|object|number|null|array"</code></li>
               <li><code>translate="true|false"</code></li>
            </ul>
         </td>
         <td>
            <ul>
               <li><code>&lt;item&gt;</code></li>
            </ul>
         </td>
      </tr>
      <tr style="background-color: lightgray">
         <th colspan="3"><code>&lt;item&gt;</code></th>
      </tr>
      <tr>
         <td>
            <p>Handles array items for array arguments type.</p>
         </td>
         <td>
            <ul>
               <li><code>name ="{ argument_name}"</code> (required, unique)</li>
               <li><code>xsi:type =" string|boolean|object|number|null|array"</code></li>
               <li><code>translate="true|false"</code></li>
            </ul>
         </td>
         <td>
            <ul>
               <li><code>&lt;item&gt;</code></li>
            </ul>
         </td>
      </tr>
      <tr style="background-color: lightgray">
         <th colspan="3"><code>&lt;updater&gt;</code></th>
      </tr>
      <tr>
         <td>
            <p>Changes argument value.</p>
         </td>
         <td />
         <td />
      </tr>
   </tbody>
</table>
<h2 id="xml-validation">Validate XML layouts</h2>
<p>Use the following tests
   to validate new or changed layouts:
</p>
<table style="width:125%">
   <col width="75%" />
   <col width="25%" />
   <thead>
      <tr style="background-color: lightgray">
         <th>Test</th>
         <th>Validates</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td><a href="https://github.com/magento/magento2/blob/develop/dev/tests/static/testsuite/Magento/Test/Integrity/Layout/HandlesTest.php" target="_blank">HandlesTest.php</a></td>
         <td>Layouts</td>
      </tr>
      <tr>
      <td>
         <a href="https://github.com/magento/magento2/blob/develop/dev/tests/integration/testsuite/Magento/Test/Integrity/Modular/LayoutFilesTest.php" target="_blank">LayoutFilesTest.php</a></td>
         <td>Argument values correspond to required data types</td>
      </tr>
   </tbody>
</table>


		</div>
	</section>
<!-- /main content -->

<!-- sidebar -->
<aside class="sidebar">
	<div class="sidebar-wrapper">

		<ul role="navigation">
		
		
		
		
				
				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
				
				
					
					
					
					
					
					
						
						
						
						
							
							
						

					
					
						
						
						
						
							
														
							
								
								
								
								
							
									<li class=""><span class="nav-header">Architecture</span></li>
								
								
							
								
								
							
									<li class="level-2 "><a href="/guides/v1.0/architecture/arch_whatis.html">What is Magento?</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v1.0/architecture/archi_perspectives/arch_diagrams.html">Architectural diagrams</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v1.0/architecture/arch_asmodsys.html">Magento as a modular system</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v1.0/architecture/modules/mod_intro.html">Modules</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v1.0/architecture/arch_libraries.html">Libraries</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v1.0/architecture/arch_themes.html">Themes</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v1.0/architecture/arch_translations.html">Language packages</a></li>
						
								
								
								
							
							
						

					
					
						
						
						
						
							
														
							
								
								
								
								
							
									<li class=""><span class="nav-header">Behavior</span></li>
								
								
							
								
								
							
									<li class="level-2 "><a href="/guides/v1.0/architecture/behavior/pricing.html">The pricing library</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v1.0/architecture/behavior/price-calc.html">How Magento calculates prices</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v1.0/architecture/behavior/price-render.html">How Magento renders prices</a></li>
						
								
								
								
							
							
						

					
					
						
						
						
						
							
														
							
								
								
								
								
							
									<li class=""><span class="nav-header">Modules</span></li>
								
								
							
								
								
							
									<li class="level-2 "><a href="/guides/v1.0/architecture/modules/mod_depend.html">Module dependencies</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v1.0/architecture/modules/mod_relationships.html">Module relationships</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v1.0/architecture/modules/mod_and_areas.html">Modules and areas</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v1.0/architecture/modules/mod_conventions.html">Module naming and location conventions</a></li>
						
								
								
								
							
							
						

					
					
						
						
						
						
							
														
							
								
								
								
								
							
									<li class=""><span class="nav-header">View library</span></li>
								
								
							
								
								
							
									<li class="level-2 "><a href="/guides/v1.0/architecture/view/view-lib.html">View library</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v1.0/architecture/view/design-abstract.html">Design abstractions</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v1.0/architecture/view/page-assets.html">Page assets</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v1.0/architecture/view/page-type.html">Page types</a></li>
						
								
							
									<li class="level-2  active "><a href="/guides/v1.0/architecture/view/xml-schema-layout.html">XML layouts and schemas</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v1.0/architecture/view/template-engine.html">Template engine</a></li>
						
								
							
									<li class="level-2 "><a href="/guides/v1.0/architecture/view/static-process.html">Static file processing</a></li>
						
								
								
								
							
							
						

					


				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
				
				
			
			
		
		</ul>

	</div>
</aside>
<!-- /sidebar -->

</div> <!-- container -->


		</div>
		</div>
	</div>


</div>
<!-- -->


<!-- #footer-wrap -->
<div id="footer-wrap">
<footer class="footer container">
	<div class="row-fluid">
		<div class="span3 footer-menu" id="magento-sites">
		<h4>OUR SITES</h4>
		<ul class="menu nav">
			<li class="first leaf"><a href="http://magento.com/" title="Magento&#039;s Corporate Site" class="active">Magento</a><span class="description">Magento's Corporate Site</span></li>
			<li class="leaf"><a href="http://enterprise.magento.com" title="Enterprise-Class Platform">Enterprise Edition</a><span class="description">Enterprise-Class Platform</span></li>
			<li class="leaf"><a href="http://go.magento.com/" title="Small Business Storefront">Magento Go</a><span class="description">Small Business Storefront</span></li>
			<li class="leaf"><a href="http://www.magentocommerce.com/magento-connect/" title="Extensions Marketplace">Connect</a><span class="description">Extensions Marketplace</span></li>
			<li class="leaf"><a href="http://magento.com/resources/technical" title="Resources for Developers">Developers</a><span class="description">Resources for Developers</span></li>
			<li class="leaf"><a href="http://magento.com/partners/overview" title="Resources for Partners">Partners</a><span class="description">Resources for Partners</span></li>
			<li class="leaf"><a href="http://magento.com/training/overview" title="Courses and Developer Certification">Training</a><span class="description">Courses and Developer Certification</span></li>
			<li class="last leaf"><a href="http://imagine2015.magento.com/" title="Annual Conference">Imagine</a><span class="description">Annual Conference</span></li>
		</ul>
	</div>

	<div class="span8 offset1" id="magento-com">
		<div class="intro-paragraph">
              <a href="http://magento.com/"><img src="/i/logo-gl-footer.png" id="logo" alt="Magento an ebay inc company"></a>
              <h3>eCommerce platform, solutions and services<br /> to help grow your business.</h3>
          </div>
          <div class="row-fluid">
            <div class="span3">
              <h4>LEARN MORE</h4>
              <ul class="menu nav"><li class="first leaf"><a href="http://magento.com/company/overview" title="">Company</a></li><li class="leaf"><a href="http://magento.com/company/careers" title="">Careers</a></li><li class="leaf"><a href="http://www.magentocommerce.com/company/press-releases" title="">Press Room</a></li><li class="last leaf"><a href="http://magento.com/sitemap" title="">Site Map</a></li></ul>              <div id="social-network">
                <h4>Connect</h4>
                <ul>
                  <li><a href="http://www.facebook.com/magento" target="_blank" class="btn-facebook">Magento Facebook</a></li>
                  <li><a href="https://twitter.com/magento" target="_blank" class="btn-twitter">Magento Twitter</a></li>
                  <li><a href="http://www.youtube.com/user/magentocommerce/featured" target="_blank" class="btn-youtube">Magento Youtube</a></li>
                  <li><a href="http://www.linkedin.com/groups?home=&amp;gid=146360&amp;trk=anet_ug_hm" target="_blank" class="btn-lnkdn">Magento Linkedin</a></li>
                </ul>
              </div>
            </div>
            <div class="span7 offset2">
              <div class="contact-us">
                <h4>Get in touch</h4>
                <p>We'd like to hear from you! Call us,<br /> send us an email or talk to sales.</p>
                <a href="http://www.magentocommerce.com/company/contact-us/" class="btn outline">Contact Us</a>
              </div>
                            <div id="newsletter">
                <h4>GET THE LATEST NEWS</h4>
                <p>See Magento in the news, find press releases<br /> and resources for media.</p>
                <div class="hold-form">
                <div id="nws-notsubscribed">
                    <div id="sb-email" class="sb-email">
                        <form method="post" enctype="application/x-www-form-urlencoded" action="http://info.magento.com/index.php/leadCapture/save" id="mktForm_1006" class="mktform" name="mktForm_1006" onsubmit="return validateForm();" >
                            <input class="fValidate['email'] input-topbg sb-email-input" name="Email" id="Email" placeholder="Email Address" />
                            <button type="submit" class="sb-icon-submit btn outline">
                                Submit
                            </button>
                            <span class="sb-icon-email btn outline">
                                Sign Up
                            </span>
                            <span style="display:none;"><input type="text" name="_marketo_comments" value="" /></span><input type="hidden" name="lpId" value="-1" /><input type="hidden" name="subId" value="36" /><input type="hidden" name="kw" value="" /><input type="hidden" name="cr" value="" /><input type="hidden" name="searchstr" value="" /><input type="hidden" name="lpurl" value="http://na-j.marketo.com/lp/magentocommerce/CustomerNewsletterSubscription.html?cr={creative}&kw={keyword}" /><input type="hidden" name="formid" value="1006" /><input type="hidden" name="returnURL" value="magento.com/" /><input type="hidden" name="retURL" value="magento.com/" /><input type="hidden" name="_mkt_disp" value="return" /><input type="hidden" name="_mkt_trk" value="" />
                        </form>
                    </div>
                </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="email-invalid hide">
                <p>Please submit a valid email.</p>
              </div>
              <div class="email-ty hide">
                <p>Thank you for submitting your email.</p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </footer>
  <div id="copyright">
    <div class="container">
      <div class="pull-right"><ul class="menu nav"><li class="first leaf"><a href="http://magento.com/legal/terms/privacy" title="">Privacy Policy</a></li><li class="leaf"><a href="http://magento.com/legal/terms" title="">Terms of service</a></li><li class="last leaf"><a href="http://www.magentocommerce.com/license/" title="">License/Trademark FAQ</a></li></ul></div>
      <span class="pull-left">&copy; 2014 Magento, Inc. All rights reserved.</span>
    </div>
  </div>
</div>
<!-- /#footer-wrap -->


<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

<!-- Magento.com scripts -->
<script src="/js/js_IkgOrrVZK1UTp2HktvFi5vo1g7b25Muyr5GoySikuic.js"></script>
<script src="/js/js_m-zV5Ek4Owkee3MVRMcqkTW8aki0DvIJIFma7yS1xM0.js"></script>
<script src="/js/js_Z5NZormFXt4exRfF6jg2O0wNC5okceOt7B3Hn2hqoFc.js"></script>
<script src="/js/js_O6lYvuZQJUPSnK699QFEAm_UI3AJznTbKmq3JNA4Z-M.js"></script>
<!--<script src="/js/js_xPIm45Yu7K82fSuatvdEsOmXU71DqQGS-vh5dkLvpro.js"></script>-->


<!-- Docs scripts (just in case) -->
<script src="/js/app-min.js"></script>


</body>
</html>