/*reset*/

img, 
embed,
object,
video  {
	max-width: 100%;	
} 


BODY {

  font-family: 'Open Sans', sans-serif;
}

/*Layout*/


#header {
/* overflow: hidden; */
position: fixed;
top: 0;
left: 0;
z-index: 50;
width: 100%;
/*border-top: 1px solid rgb(30, 147, 223);
border-bottom: 1px solid rgb(119, 136, 147);*/
background-color: #ef672f;
height: 66px;
min-height: 66px;
margin-bottom: 100px;
/*-moz-box-shadow: 0px 5px 33px rgb(2, 8, 29);*/
/*-webkit-box-shadow: 0px 5px 33px rgb(2, 8, 29);*/
/*box-shadow: 0px 5px 33px rgb(2, 8, 29);*/
/*-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";*/
/*filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');*/
-webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

}



#header::after {
  content: "";
  /*background: url(../images/back.png);*/
  /*opacity: 0.9;*/
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  /*background-color: rgba(213, 103, 43, 1); */
}



#header DIV.logo {
	position: relative;
  float: left;
  width: 155px;
  height: 66px;
  max-width: 155px;
  min-width: 155px;
  top: 0px;
  left: 66px;
  background: rgba(193, 72, 0, 0.91);
  	/*transform: translateY(-50%);*/
}

#header DIV.title {
 position: relative;
  float: left;
  top: 15px;
  left: 83px;
  font-family: 'Open Sans','Helvetica Neue','Arial',sans-serif;
  font-weight: 200;
  color: #fff;
  font-size: 2.4rem;

}

#header DIV.title a {


}


#header DIV.title a:link {color:#fff}     /* unvisited link */
#header DIV.title a:visited {color:#fff}  /* visited link */
#header DIV.title a:hover {color:#CC3300}   /* mouse over link */
#header DIV.title a:active {color:#fff}   /* selected link */




#header DIV.title H1 {
	font-size: 2.7rem;
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
  font-weight: 300;
  margin: 0 0 12px;
  text-shadow: 0 1px 1px #000000;
  text-transform: uppercase;
}

#header DIV.search {
display: none;
  position: relative;
  clear: both;
  width: 100%;
  background-color: rgb(74, 73, 73);
  /* border-top: 1px solid white; */
  top: 5px;
  height: 34px;
}



#header DIV.search I.glyphicon {
  top: 9px;
  left: 333px;
  color: rgb(30, 147, 223);

}

#header DIV.search FORM#searchbox INPUT {
   /*background-color: rgba(64, 64, 64, 1);*/
  background-color: transparent;
  font-style: italic;
  padding-left: 29px;
  border: 0px solid gray;
  width: 100%;
  color: white;

}




#header DIV.search FORM#searchbox INPUT:focus{
outline:none
}

#header DIV.search FORM#searchbox{
  border: 0px solid gray;
  position: relative;
  left: 326px;
  top: -15px;
  width: 60%;
}

LI.menuItem {
    padding-bottom: 1rem;

}

#menu {
  position: fixed;
  top: 66px;
  left: 0;
  bottom: 20px;
  overflow-y: auto;
  padding-top: 4rem;
  padding-left: 35px;
  width: 380px;
  padding-right: 2%;
  /*background-color: rgba(213, 103, 43, 0.92);*/
}


/*DIV.objectContent {
    margin: 3rem;
}*/


#content {  
  position: absolute;
  left: 380px;
  top: 56px;
  bottom: 20px;
  right: 0px;
  margin: 1rem 0 0 0;
  padding: 4rem 4% 0 4rem;
 
  border-left: 0px solid;
  margin-right: auto;
  overflow: auto;
}

.commentary {
  padding-right: 0;
  font-size: 1.1rem;
}


DIV#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    z-index: 51;
    width: 100%;
    /*border-top: 1px solid #000;*/
   /* border-bottom: 1px solid rgb(30, 147, 223);*/
    background-color: #ef672f;
    height: 20px;
    min-height: 20px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: #ccc;

/*-moz-box-shadow: 0px 5px 33px rgb(2, 8, 29);
-webkit-box-shadow: 0px 5px 33px rgb(2, 8, 29);
box-shadow: 0px 5px 33px rgb(2, 8, 29);
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');*/
-webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

}


#footer::after {
  content: "";
  /*background: url(../images/back.png);*/
  /*opacity: 0.9;*/
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.twoColumnContent {
  padding-left: 0px;
}


/*Typography*/

H2.api2 {
  display: none;

}

#menu UL UL {display: none;}

#menu UL {
	margin: 0 0 0 0px;
	padding: 0 0 0 0;
	list-style-type: none;
	font-size: 1.2rem;
  /*text-indent: -1rem;*/
}


DIV.title A {
  text-decoration: none;
}

DIV.title A:link {color:#fff;}     /* unvisited link */
DIV.title A:visited {color:#fff;}  /* visited link */
DIV.title A:hover {color:#fff}   /* mouse over link */
DIV.title A:active {color:#fff;}   /* selected link */


#menu H1 {
	font-size: 1.5rem;
  
}

DIV#collectionList H1 A {
  text-decoration: none;
  font-size: 1.8rem;

}

DIV#collectionList H1 A:link {color:#000;}     /* unvisited link */
DIV#collectionList H1 A:visited {color:#000;}  /* visited link */
DIV#collectionList H1 A:hover {color:#000}   /* mouse over link */
DIV#collectionList H1 A:active {color:#000;}   /* selected link */


ul.menu a {text-decoration:none;}



ul.menu a:link {color:#c14800;}     /* unvisited link */
ul.menu a:visited {color:#c14800;}  /* visited link */
ul.menu a:hover {color:#EC6C10}   /* mouse over link */
ul.menu a:active {color:#c14800;}   /* selected link */




ul.menu LI.current a {
	font-weight: 900;
  font-size: 1.5rem;
	cursor:default;
}


ul.menu LI.current a:link {color:#000}     /* unvisited link */
ul.menu LI.current a:visited {color: #000;
}  /* visited link */
ul.menu LI.current:hover {color:#000}   /* mouse over link */
ul.menu LI.current a:active {color:#000}   /* selected link */


a.caretDown {
	background-image:url('../images/caret_down.png');
	text-decoration:none;
	background-repeat:no-repeat;
	background-position:left;
	background-position: 0px 2px;
	margin: 0 0 0 -7%;
	padding: 0 0 0 7%;
}

a.caretRight {
	text-decoration:none;
	background-image:url('../images/caret_right.png');
	background-repeat:no-repeat;
	background-position:left;
	background-position: 0px 2px;
	margin: 0 0 0 -7%;
	padding: 0 0 0 7%;
}


/*Main Content Typography*/

.NoteHeader{
  margin: 1.7% 10% -14.5% 8.4%;
  padding: 0 0 .5% 0;
  font-size: 120%;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: .1em;
  
}
/* top right bottom left */
.Note{
 margin: 9% 0 10% 0;
  padding: 6% 5% 1% 6%;
  font-style: italic;
  border-left: 1px double #828282;
  border-width: 4px;
 
}


.Tip {
  /*background-color: rgba(7, 95, 11, 0.28);*/
  border-left: 1px solid #282828;
  border-width: 3px;
}


.Info {
 background-color: rgba(15, 30, 107, 0.18);
  margin: 10% 0 9% 2.5%;
  padding: 4% 5% 1% 6%;
  font-style: italic;
  border-left: 1px 1px 1px solid #828282;
  border-width: 4px;

}

.bold {

font-weight: bold;
}

.italic {
  font-style: italic;
}


.inlineGraphic {

  font-size: 2rem;
}


OL {
  padding-left: 27px;
}

OL OL {

  list-style-type: lower-alpha;
}


DIV#content OL UL {
  list-style-type: disc;
}



DIV#content  .Caption {

  font-size: 90%;
  font-style:italic;
  margin-bottom:2em;
  margin-top: 1em;
}


DIV#content IMG.shadow {


  -moz-box-shadow: 4px 7px 27px 7px #888888;
      -webkit-box-shadow: 4px 7px 27px 7px #888888;
      box-shadow: 4px 7px 27px 7px #888888; 
    /* For IE 8 */
      -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
      filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');


}


SPAN.imageInline IMG {

box-shadow: none;
  padding: 0;
  margin: 0;
  margin-left: .5%;
  margin-right: .5%;

}

DIV#content .footnote {
  font-size: 1rem;
  color: gray;
}


DIV#content OL.toc {

  list-style-type: upper-roman;
}

DIV#content OL.toc OL{

  list-style-type: upper-alpha;
}

DIV#content OL.toc OL OL{

  list-style-type: decimal;
}

DIV#content OL.toc OL OL OL{

  list-style-type: lower-alpha;
}



#footer P {
	margin-top: 4px;
  font-size: 0.9rem;
}



DIV#content DIV.spacer-100 {
  min-height: 0;
  height: 0
}


DIV#content DIV.spacer-50 {
  min-height: 0;
  height: 0
}

DIV#content DIV.spacer-20 {
  min-height: 0;
  height: 0
}

DIV#content DIV.spacer-10 {
  min-height: 0;
  height: 0
}

DIV#content DIV.spacer-5 {
  min-height: 0;
  height: 0
}


DIV#content DIV.spacer-1 {
  min-height: 0;
  height: 0
}

/*Bootstrap Hacking*/

.container {
margin-left: 2%;
padding-left: 0;
padding-top: 4%;

}

/*Google Hacking*/

DIV.gsc-control-cse {
	max-height: 44px;
	background-color: rgba(255, 255, 255, 0);
	border: 0px solid rgba(255, 255, 255, 0);
}

TD.gsc-search-button{
	display: none;
}

DIV.gsc-results-wrapper-overlay {
	position: absolute;
	top: 80px;
	height: 80%;
	min-height: 600px;
}

.active {
  font-weight: bold;
}


@media screen and (min-width: 768px) {



DIV#content DIV.spacer-100 {
  min-height: 100em;
  height: 100em
}


DIV#content DIV.spacer-50 {
  min-height: 50em;
  height: 50em
}

DIV#content DIV.spacer-20 {
  min-height: 20em;
  height: 20em
}

DIV#content DIV.spacer-10 {
  min-height: 10em;
  height: 10em
}

DIV#content DIV.spacer-5 {
  min-height: 5em;
  height: 5em
}


DIV#content DIV.spacer-1 {
  min-height: 10em;
  height: 1em
}

} /*End min-width: 768px*/


