{% if page.group == "inventory" %}
<div class="message-banner">
  This page may include updates for <a href="{{ site.baseurl }}/guides/v2.3/inventory/release-notes.html" target="_blank">Inventory Management (MSI) 1.1.2 Beta</a>. Content is subject to change.
</div>
{% endif %}

{% if page.title == "Inventory mass actions" %}
<div class="message-banner">
  This page may include updates for <a href="{{ site.baseurl }}/guides/v2.3/inventory/release-notes.html" target="_blank">Inventory Management (MSI) 1.1.2 Beta</a>. Content is subject to change.
</div>
{% endif %}

{% if page.title == "Install Inventory Management" %}
<div class="message-banner">
  This page may include updates for <a href="{{ site.baseurl }}/guides/v2.3/inventory/release-notes.html" target="_blank">Inventory Management (MSI) 1.1.2 Beta</a>. Content is subject to change.
</div>
{% endif %}
