<script>
  var baseUrl = "{{ site.baseurl }}";
  var algolia = {
    id : "{{ site.algolia.application_id}}",
    index:  "{{ site.algolia.index_name}}",
    key:  "{{ site.algolia.api_key}}",
  };

  var indices = [
    {
      label: "DevDocs",
      name: "devdocs",
      facetFilters: [["guide_version: {% if page.guide_version == nil %}{{ site.version }}{% else %}{{ page.guide_version }}{% endif %}", "versionless: true"]],
      refinements: [
        {
          label: "Functional areas",
          attribute: "functional_areas"
        }
      ],
      baseUrl: "https://devdocs.magento.com"
    },
    {
      label: "User Guide",
      name: "merchdocs_ee",
      baseUrl: "https://docs.magento.com/m2/ee/user_guide"
    },
    {
      label: "MBI User Guide",
      name: "merchdocs-mbi",
      baseUrl: "https://docs.magento.com/mbi"
    },
    {
      label: "Marketplace User Guide",
      name: "merchdocs-marketplace",
      baseUrl: "https://docs.magento.com/marketplace/user_guide"
    },
    {
      label: "PWA",
      name: "pwa-devdocs",
      baseUrl: "https://magento.github.io/pwa-studio"
    },
    {
      label: "Order Management",
      name: "oms-en",
      baseUrl: "https://omsdocs.magento.com"
    }
  ];
</script>

{% if site.environment == "public" %}

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','{{ site.google.gtm }}');</script>
<!-- End Google Tag Manager -->

<script src="//assets.adobedtm.com/98fab992275ef6366cc65f57f86b1e895a66c912/satelliteLib-f90f1129109ea4b2101512675a2769865aa7ea5b.js"></script>

{% endif %}
