<!-- page-header -->
<section class="page-intro">

  {% if page.url contains "mftf/v2" %}
  <div class="message-banner">
    This documentation is for version 2.0 of the framework, which supports Adobe Commerce and Magento Open Source 2.3.x. You can find documentation for version 3.0 <a href="https://developer.adobe.com/commerce/testing/functional-testing-framework/">here</a>. See <a href="https://developer.adobe.com/commerce/testing/functional-testing-framework/#find-your-framework-version">find your version</a> if you are unsure about which version you are using.
  </div>
  {% endif %}

  {% if page.url contains "config-guide/multi-master/" or page.url contains "cloud/docker/docker-split-db" %}
  <div class="message-banner">
    The split database feature was <a
      href="https://community.magento.com/t5/Magento-DevBlog/Deprecation-of-split-database-functionality-in-Magento-Commerce/ba-p/465187">deprecated</a>
    in version 2.4.2 of {{ site.data.var.ee }}. See <a
      href="{{ page.baseurl }}/config-guide/revert-split-database.html">Revert from a split
      database to a single database</a>.
  </div>
  {% endif %}

  {% if page.url contains "guides/v2.3/" %}
  <div class="message-banner">
    <center>{{site.data.var.ee}} 2.3 reached end of support in September 2022.</center>
  </div>
  {% endif %}

  {% include layout/edition-callout.html %}

  <h1 class="page-title">{{ page.title }}</h1>

  {% if page.subtitle %}
  <h2 class="page-subtitle no_toc">{{ page.subtitle }}</h2>
  {% endif %}

  {% unless page.layout contains 'migrated' %}
	{% include layout/github-links.html %}
	{% endunless %}

</section>
