<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Templates overview</title>
	<meta name="description" content="Magento 2 Developer Guide.
">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,600,300,800' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="/css/app.css" />
	<link rel="stylesheet" href="/css/print.css" media="print"/>
	<link rel="canonical" href="//guides/v2.1/frontend-dev-guide/templates/template-overview.html">

	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

</head>
<body>

<!--Search Results Overlay -->
<div class="searchResultsBack"></div>
<div id="searchResultsBox">
	<div class="searchResultsBoxClose">Close [x]<!-- <img src="/common/images/close.png" alt="Close"> --></div>
	<gcse:search></gcse:search>
	<!-- <gcse:searchresults-only></gcse:searchresults-only> -->
</div>
<!--End Search Results Overlay -->

<header class="site-header">

	<nav role="navigation">

		<div class="menu-btn">
			<a class="menu-trigger menu-icon" href="#"></a>
		</div>

		<div id="global-nav">
			<div class="main-site-name">
				<a class="logo pull-left" href="/"> </a>
				<div class="sub-site-name">
					<a href="/">Developer Documentation (2.1)</a>
				</div>
			</div>
			
<div class="version-switcher dropdown">
	<button class="btn dropdown-toggle" data-toggle="dropdown">
		Version 2.1
	</button>


	<ul class="dropdown-menu dropdown-menu-right">
	
		<li><a class="dropdown-item" href="/guides/v2.0/">Version 2.0</a></li>
	
		<li><a class="dropdown-item" href="/">Version 2.1</a></li>
	
  </ul>

</div>


		</div><!-- #global-nav -->
	</nav>

	<div class="search-btn">
		<a class="search-trigger search-icon" href="#"></a>
	</div>

</header>

<!--Sub Navigation-->
<div id="subnav-wrap" class="nav-main">
   <div id="subnav">
      <ul class="menu nav">
         <li class="first">
            <a href="#">Get Started</a>
            <ul class="menu nav">
               <li class="leaf"><a href="/guides/v2.1/architecture/bk-architecture.html">Magento Architecture</a></li>
               <li class="first leaf"><a href="/guides/v2.1/release-notes/bk-release-notes.html">Release Information</a></li>

            </ul>
         </li>
         <li class="first">
            <a href="#">System Administrator</a>
            <ul class="menu nav">
               <li class="first leaf"><a href="/guides/v2.1/install-gde/bk-install-guide.html">Installation Guide</a></li>
               <li class="leaf"><a href="/guides/v2.1/comp-mgr/bk-compman-upgrade-guide.html">Component Manager and System Upgrade Guide</a></li>
               <li class="leaf"><a href="/guides/v2.1/config-guide/bk-config-guide.html">Configuration Guide</a></li>
               <li class="leaf"><a href="/guides/v2.1/migration/bk-migration-guide.html">Migration Guide</a></li>
               <li class="leaf"><a href="/guides/v2.1/cloud/bk-cloud.html">Magento Enterprise Cloud Guide</a></li>
            </ul>
         </li>
         <li class="first">
            <a href="#">Developers</a>
            <ul class="menu nav">
               <li class="first leaf"><a href="/guides/v2.1/frontend-dev-guide/bk-frontend-dev-guide.html">Frontend Developer Guide</a></li>
               <li class="first leaf"><a href="/guides/v2.1/ui-components/ui-component.html">UI Components</a></li>
               <li class="first leaf"><a href="/guides/v2.1/javascript-dev-guide/bk-javascript-dev-guide.html">JavaScript Developer Guide</a></li>
               <li class="first leaf"><a href="/guides/v2.1/extension-dev-guide/bk-extension-dev-guide.html">PHP Developer Guide</a></li>
               <li class="first leaf"><a href="/guides/v2.1/ext-best-practices/bk-ext-best-practices.html">Extension Developer Best Practices Guide</a></li>
               <li class="leaf"><a href="/guides/v2.1/pattern-library/bk-pattern.html">Magento Admin Pattern Library</a></li>
               <li class="leaf"><a href="/guides/v2.1/get-started/bk-get-started-api.html">Get Started with Magento Web APIs</a></li>
               <li class="leaf"><a href="/guides/v2.1/rest/bk-rest.html">REST Reference</a></li>
               <li class="leaf"><a href="/guides/v2.1/soap/bk-soap.html">SOAP Reference</a></li>
               <li class="leaf"><a href="/guides/v2.1/coding-standards/bk-coding-standards.html">Coding Standards</a></li>
               
                   <li class="leaf"><a href="/guides/v2.1/extension-dev-guide/staging.html">Staging</a></li>
               
            </ul>
         </li>
         <li class="first">
            <a href="#">Designers</a>
            <ul class="menu nav">
               <li class="first leaf"><a href="/guides/v2.1/pattern-library/bk-pattern.html">Admin Design Pattern Library</a></li>
               <li class="leaf"><a href="/guides/v2.1/design-styleguide/bk-styleguide.html">Admin Style Guide</a></li>
            </ul>
         </li>
         <li class="first">
            <a href="#">Contributor</a>
            <ul class="menu nav">
               <li class="first leaf"><a href="/guides/v2.1/contributor-guide/contributing.html">Contributor Guide</a></li>
            </ul>
         </li>
          <li class="first">
              <a href="/guides/v2.1/test/testing.html">Testing</a>
              <ul class="menu nav">
                  <li class="leaf"><a href="/guides/v2.1/mtf/mtf_introduction.html">Functional Testing</a></li>
                  <li class="leaf"><a href="/guides/v2.1/test/integration/integration_test_execution.html">Integration Testing</a></li>
                  <li class="leaf"><a href="/guides/v2.1/extension-dev-guide/test/test_js-unit.html">JavaScript Unit Testing</a></li>
                  <li class="leaf"><a href="/guides/v2.1/test/unit/unit_test_execution.html">PHP Unit Testing</a></li>
                  <li class="leaf"><a href="/guides/v2.1/get-started/web-api-functional-testing.html">Web API Functional Testing</a></li>
              </ul>
          </li>
         <li class="first">
            <a href="/guides/v2.1/howdoi/bk-how-do-i.html">How Do I...?</a>
         </li>
      </ul>

      <div class ="search">
         <div class="search-icon"></div>
         <form id="searchbox" name="gs" method="GET" action="#searchResultsBox">
            <input type="hidden" name="cx" value="018116925022773002786:klu67apuihk" />
            <input type="hidden" name="ie" value="UTF-8" />
            <input type="text" name="q" id="searchtext" value="" placeholder="Search">
         </form>
      </div><!-- END searchbox-->

      <a href="#" class="nav-close">&times;</a>

   </div> <!--End subnav -->
</div><!--End subnav-wrap -->
<div class="nav-main-fader"></div>


<div id="gl-wrapper">

	<!-- /.main-container -->
	<div id="gl-container" class="main-container">
		<a id="main-content"></a>
		<div class="pane-content">
			<div class="node node-panel">


<!-- page-header -->
<section class="page-intro">
	<div class="container">
		<h1 class="page-heading">Templates overview</h1>
		
			<a class="improve-page" href="https://github.com/magento/devdocs/tree/develop/guides/v2.0/frontend-dev-guide/templates/template-overview.md" target="_blank">Edit this page on GitHub</a>
		
		
	</div>
</section>


<div class="container">

	<!-- sidebar -->
<aside class="sidebar">
	<a href="#" class="toc-toggler">Table of Contents</a>
	<div class="sidebar-wrapper">


<h4>Frontend Developer Guide</h4>






		<ul role="navigation">

		

		

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

					
					

					

						

						

							

								<li class="q "><a href="/guides/v2.1/frontend-dev-guide/bk-frontend-dev-guide.html">Introduction</a></li>

							

								<li class="q "><a href="/guides/v2.1/frontend-dev-guide/conventions.html">Conventional notations used in this Guide</a></li>

							

						

					

						

						

							


								


								
									<li class="level1 "><a class="nav-header" href="/guides/v2.1/frontend-dev-guide/themes/theme-general.html">Themes</a></li>
									
								

									


								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/themes/theme-create.html">Create a theme</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/themes/theme-structure.html">Magento theme structure</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/themes/theme-apply.html">Apply and configure a theme in Admin</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/themes/theme-images.html">Configure images properties for a theme</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/themes/theme-inherit.html">Theme inheritance</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/themes/debug-theme.html">Locate templates, layouts, and styles</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/themes/favicon.html">Adding custom favicons</a></li>

									

								




						

					

						

						

							


								


								
									<li class="level1 "><a class="nav-header" href="/guides/v2.1/frontend-dev-guide/layouts/layout-overview.html">Layout</a></li>
									
								

									


								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/layouts/xml-instructions.html">Layout instructions</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/layouts/layout-types.html">Layout file types</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/layouts/layout-extend.html">Extend a layout</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/layouts/layout-override.html">Override a layout</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/layouts/xml-manage.html">Common layout customization tasks</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/layouts/layout-practice.html">Customizing layout illustration</a></li>

									

								




						

					

						

						

							


								


								
									<li class="level1  active "><a class="nav-header" href="/guides/v2.1/frontend-dev-guide/templates/template-overview.html">Templates</a></li>
									
								

									


								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/templates/template-walkthrough.html">Templates customization walkthrough</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/templates/template-override.html">Templates basic concepts</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/templates/template-sample.html">Illustration of customizing templates</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/templates/template-email.html">Customize email templates</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/templates/template-security.html">Templates XSS security</a></li>

									

								




						

					

						

						

							


								


								
									<li class="level1 "><a class="nav-header" href="/guides/v2.1/frontend-dev-guide/css-topics/css-overview.html">Cascading style sheets (CSS)</a></li>
									
								

									


								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/css-topics/css-themes.html">Include CSS</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/css-topics/css-preprocess.html">CSS preprocessing</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/css-topics/css_debug.html">Styles debugging</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/css-topics/theme-ui-lib.html">Magento UI library</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/css-topics/css-jquery.html">Using jQuery UI styles</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/css-topics/css-practice.html">Customizing styles illustration</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/css-topics/using-fonts.html">Using custom fonts</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/css-topics/custom_preprocess.html">Add custom CSS preprocessor (like Sass)</a></li>

									

								




						

					

						

						

							


								


								
									<li class="level1 "><a class="nav-header" href="/guides/v2.1/frontend-dev-guide/css-guide/css_quick_guide_overview.html">Quick start guide to styles</a></li>
									
								

									


								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/css-guide/css_quick_guide_approach.html">Simple ways to customize a theme's styles</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/css-guide/css_quick_guide_mode.html">Simple style changes with client-side LESS compilation vs. server-side</a></li>

									

								




						

					

						

						

							


								


								
									<li class="level1 "><a class="nav-header" href="/guides/v2.1/frontend-dev-guide/responsive-web-design/rwd_overview.html">How to Make Your Theme Responsive and Mobile</a></li>
									
								

									


								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/responsive-web-design/rwd_css.html">CSS in responsive design</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/responsive-web-design/rwd_js.html">JavaScript in Magento responsive design</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/responsive-web-design/rwd_mobile.html">Create a responsive mobile theme based on a default theme</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/responsive-web-design/rwd_practice.html">Customizing RWD illustration</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/responsive-web-design/rwd-breakpoints.html">Add a custom breakpoint</a></li>

									

								




						

					

						

						

							


								


								
									<li class="level1 "><a class="nav-header" href="/guides/v2.1/frontend-dev-guide/translations/xlate.html">Translations</a></li>
									
								

									


								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/translations/theme_dictionary.html">Use translation dictionary to customize strings</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/translations/translate_theory.html">Translate theme strings</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/translations/translate_practice.html">Create a translation dictionary for a theme, illustration</a></li>

									

								




						

					


				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

		</ul>

	</div>
</aside>
<!-- /sidebar -->


	<section class="content">
		<div class="content-wrap">
			<p align="right"><i>Updated: 22 June 2016 (PDT)</i></p>
		<h2>Introduction to customizing a theme using templates</h2>

<p>In Magento application templates are the part of the view layer. Templates define exactly how the content of <a href="/guides/v2.1/frontend-dev-guide/layouts/layout-overview.html" target="_blank">layout blocks</a> is presented on a page: order, CSS classes, elements grouping, and so on. 
In most cases, templates do not contain any logic about whether they will or will not be rendered, this is typically handled by the layout files. Once a template is called in a layout, it will be displayed.</p>

<p>Default Magento templates are PHTML files. Also HTML templates are used for <a href="http://knockoutjs.com/index.html">Knockout JS</a> scripts.</p>

<div class="bs-callout bs-callout-info" id="info">
<span class="glyphicon-class">
 <p><a href="/guides/v2.1/architecture/view/template-engine.html" target="_blank">The Magento template rendering subsystem</a> supports multiple template engines, including the default PHP-based engine for processing PHTML templates.</p></span>
</div>

<p>This chapter describes how to customize templates in your design theme, and provides both the practice reference and the theoretical background of how templates are applied in a Magento store.</p>

<p>We strongly recommend that you do not change the default templates, because if you do edit them, your changes can be overwritten by the new version of the default files during upgrades.
The best practice is <a href="/guides/v2.1/frontend-dev-guide/themes/theme-create.html" target="_blank">creating a new design theme</a> and adding your modified templates there.</p>

<p>This chapter contains the following topics:</p>

<ul>
  <li><a href="/guides/v2.1/frontend-dev-guide/templates/template-walkthrough.html" target="_blank">Template customization walkthrough</a></li>
  <li><a href="/guides/v2.1/frontend-dev-guide/templates/template-override.html" target="_blank">Templates basic concepts</a></li>
  <li><a href="/guides/v2.1/frontend-dev-guide/templates/template-sample.html" target="_blank">Illustration of customizing templates</a></li>
  <li><a href="/guides/v2.1/frontend-dev-guide/templates/template-email.html" target="_blank">Customizing email templates</a></li>
</ul>



		</div>
	</section>
<!-- /main content -->


</div> <!-- container -->


		</div>
		</div>
	</div>


</div>
<!-- -->
<!--Global footer-->
<div id="footer-wrap">
    <div class="footer">
        <div id="magento-com">
            <div class="container">
                <div id="f-col-1">
                    <a href="http://www.magento.com/">
                        <img src="/i/magento_logo_footer.svg" alt="Magento Commerce" style="width: 190px;" />
                    </a>
                    <ul class="nav">
                        <li><a href="http://magento.com/company/about-us" title="Company">About Us</a></li>
                        <li><a href="http://magento.com/company/careers" title="Careers">Careers</a></li>
                        <li><a href="http://magento.com/company/press-room" title="Press Room">Press Room</a></li>
                        <li><a href="http://magento.com/company/leadership" title="Leadership">Leadership</a></li>
                    </ul>
                </div>
                <div id="f-col-2">
                    <div id="f-col-2-1">
                        <div class="contact-us">
                            <h4>Get in touch</h4>
                            <p>We'd like to hear from you! Call us, <br />send us an email or talk to sales.</p>
                            <a href="http://magento.com/company/contact-us" class="btn large copper">Contact Us</a>
                        </div>
                    </div>
                    <div id="f-col-2-2">
                        <div id="social-network">
                            <h4>Stay Connected</h4>
                            <ul>
                                <li><a class="btn-facebook" target="_blank" href="http://www.facebook.com/magento">Magento Facebook</a>
                                </li>
                                <li><a class="btn-twitter" target="_blank" href="https://twitter.com/magento">Magento Twitter</a></li>
                                <li><a class="btn-lnkdn" target="_blank" href="http://www.linkedin.com/groups?home=&amp;gid=146360&amp;trk=anet_ug_hm">Magento Linkedin</a></li>
                                <li><a class="btn-gplus" target="_blank" href="https://plus.google.com/+magento/posts">Magento Google+</a></li>
                                <li><a class="btn-youtube" target="_blank" href="http://www.youtube.com/user/magentocommerce/featured">Magento
                                    Youtube</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="f-col-3">
                    <div id="newsletter">
                        <h4>GET THE LATEST NEWS</h4>
                        <p>See Magento in the news, find press<br/> releases and resources for media.</p>
                        <div class="hold-form">
                            <div id="nws-notsubscribed">
                                <div id="sb-email" class="sb-email">
                                    <form method="post" enctype="application/x-www-form-urlencoded"
                                          action="//info2.magento.com/index.php/leadCapture/save" id="mktForm_1182" class="mktform"
                                          name="mktForm_1182" onsubmit="return validateForm();">
                                        <input class="fValidate['email'] input-topbg sb-email-input" name="Email" id="Email"
                                               placeholder="email address">
                                        <input type="hidden" name="formid" value="1182" />
                                        <button type="submit" class="sb-icon-submit btn outline">
                                            Sign Up
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="email-invalid hide">
                            <p>Please submit a valid email.</p>
                        </div>
                        <div class="email-ty hide">
                            <p>Thank you for submitting your email.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="copyright">
        <div class="container">
            <div class="copyright-date">&copy; 2016 Magento, Inc. All rights reserved.</div>
            <div class="copyright-links">
                <ul class="nav">
                    <li><a title="Privacy Policy" href="http://magento.com/legal/terms/privacy">Privacy Policy</a></li>
                    <li><a title="Terms of Service" href="http://magento.com/legal/terms">Terms of Service</a></li>
                    <li><a title="License/Trademark FAQ" href="http://magento.com/legal/licensing">License/Trademark FAQ</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/common/js/jsCookie.js"></script>
<script src="/common/js/devdocs.js"></script>
<script src="/common/js/jquery-ui.min.js"></script>

<script type="text/javascript">
    (function() {
        var didInit = false;
        function initMunchkin() {
            if(didInit === false) {
                didInit = true;
                Munchkin.init('585-GGD-959', {cookieAnon: false});
            }
        }
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = '//munchkin.marketo.net/munchkin.js';
        s.onreadystatechange = function() {
            if (this.readyState == 'complete' || this.readyState == 'loaded') {
                initMunchkin();
            }
        };
        s.onload = initMunchkin;
        document.getElementsByTagName('head')[0].appendChild(s);
    })();
</script>

<script src="/js/app.js"></script>


<!--Google Custom Search-->
<script>
  (function() {
    var cx = '018116925022773002786:klu67apuihk';
    var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
  })();
</script>


<!--Google Analytics-->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-66243208-1', 'auto');
    ga('send', 'pageview');
</script>

</body>
</html>

