<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Layout overview</title>
	<meta name="description" content="Magento 2 Developer Documentation.
">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,600,300,800' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="/css/app.css" />
	<link rel="stylesheet" href="/css/print.css" media="print"/>
	<link rel="canonical" href="//guides/v2.1/frontend-dev-guide/layouts/layout-overview.html">

	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script>
        var baseUrl = "/";
    </script>

	<!-- crazyegg -->
	<script type="text/javascript">
	setTimeout(function(){var a=document.createElement("script");
	var b=document.getElementsByTagName("script")[0];
	a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0038/0321.js?"+Math.floor(new Date().getTime()/3600000);
	a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
	</script>

</head>
<body>

<header class="site-header">

	<nav role="navigation">

		<div class="menu-btn">
			<a class="menu-trigger menu-icon" href="#"></a>
		</div>

		<div id="global-nav">
			<div class="main-site-name">
				<a class="logo pull-left" href="/"> </a>
				<div class="sub-site-name">
					<a href="/">Developer Documentation (2.1)</a>
				</div>
			</div>
            
<div class="version-switcher dropdown">
	<button class="btn dropdown-toggle" data-toggle="dropdown">
		Version 2.1
	</button>


	<ul class="dropdown-menu dropdown-menu-left">
	
		<li><a class="dropdown-item" href="/guides/v2.0/frontend-dev-guide/layouts/layout-overview.html">Version 2.0</a></li>
	
		<li><a class="dropdown-item" href="/guides/v2.1/frontend-dev-guide/layouts/layout-overview.html">Version 2.1</a></li>
	
  </ul>

</div>


		</div><!-- #global-nav -->
	</nav>

	<div class="search-btn">
        <a class="search-trigger search-icon" href="/search.html"></a>
	</div>

</header>

<!--Sub Navigation-->
<div id="subnav-wrap" class="nav-main">
   <div id="subnav">
      <ul class="menu nav">
         <li class="first">
            <a href="#">Get Started</a>
            <ul class="menu nav">
               <li class="leaf"><a href="/guides/v2.1/architecture/bk-architecture.html">Magento Architecture</a></li>
               <li class="first leaf"><a href="/guides/v2.1/release-notes/bk-release-notes.html">Release Information</a></li>

            </ul>
         </li>
         <li class="first">
            <a href="#">System Administrator</a>
            <ul class="menu nav">
               <li class="first leaf"><a href="/guides/v2.1/install-gde/bk-install-guide.html">Installation Guide</a></li>
               
               <li class="leaf"><a href="/guides/v2.1/comp-mgr/bk-compman-upgrade-guide.html">Component Manager and System Upgrade Guide</a></li>
               
               <li class="leaf"><a href="/guides/v2.1/config-guide/bk-config-guide.html">Configuration Guide</a></li>
               <li class="leaf"><a href="/guides/v2.1/migration/bk-migration-guide.html">Migration Guide</a></li>
               <li class="leaf"><a href="/guides/v2.1/cloud/bk-cloud.html">Magento Enterprise Cloud Guide</a></li>
            </ul>
         </li>
         <li class="first">
            <a href="#">Developers</a>
            <ul class="menu nav">
               <li class="first leaf"><a href="/guides/v2.1/frontend-dev-guide/bk-frontend-dev-guide.html">Frontend Developer Guide</a></li>
               
               <li class="first leaf"><a href="/guides/v2.1/ui_comp_guide/bk-ui_comps.html">UI Components Guide</a></li>
               
			   
			   
               <li class="first leaf"><a href="/guides/v2.1/javascript-dev-guide/bk-javascript-dev-guide.html">JavaScript Developer Guide</a></li>
               <li class="first leaf"><a href="/guides/v2.1/extension-dev-guide/bk-extension-dev-guide.html">PHP Developer Guide</a></li>
               <li class="first leaf"><a href="/guides/v2.1/ext-best-practices/bk-ext-best-practices.html">Extension Developer Best Practices Guide</a></li>
               <li class="leaf"><a href="/guides/v2.1/get-started/bk-get-started-api.html">Get Started with Magento Web APIs</a></li>
               <li class="leaf"><a href="/guides/v2.1/rest/bk-rest.html">REST Reference</a></li>
               <li class="leaf"><a href="/guides/v2.1/soap/bk-soap.html">SOAP Reference</a></li>
               <li class="leaf"><a href="/guides/v2.1/coding-standards/bk-coding-standards.html">Coding Standards</a></li>
               <li class="leaf"><a href="/guides/v2.1/mrg/intro.html">Module Reference Guide</a></li>
               
                   <li class="leaf"><a href="/guides/v2.1/extension-dev-guide/staging.html">Staging</a></li>
               
            </ul>
         </li>
         <li class="first">
            <a href="#">Designers</a>
            <ul class="menu nav">
               <li class="first leaf"><a href="/guides/v2.1/pattern-library/bk-pattern.html">Admin Design Pattern Library</a></li>
               <li class="leaf"><a href="/guides/v2.1/design-styleguide/bk-styleguide.html">Admin Style Guide</a></li>
            </ul>
         </li>
         <li class="first">
            <a href="#">Contributor</a>
            <ul class="menu nav">
               <li class="first leaf"><a href="/guides/v2.1/contributor-guide/contributing.html">Contributor Guide</a></li>
            </ul>
         </li>
          <li class="first">
              <a href="/guides/v2.1/test/testing.html">Testing</a>
              <ul class="menu nav">
                  <li class="leaf"><a href="/guides/v2.1/mtf/mtf_introduction.html">Functional Testing</a></li>
                  <li class="leaf"><a href="/guides/v2.1/test/integration/integration_test_execution.html">Integration Testing</a></li>
                  <li class="leaf"><a href="/guides/v2.1/test/js/jasmine.html">JavaScript Unit Testing</a></li>
                  <li class="leaf"><a href="/guides/v2.1/test/unit/unit_test_execution.html">PHP Unit Testing</a></li>
                  <li class="leaf"><a href="/guides/v2.1/get-started/web-api-functional-testing.html">Web API Functional Testing</a></li>
              </ul>
          </li>
         <li class="first">
            <a href="/guides/v2.1/howdoi/bk-how-do-i.html">How Do I...?</a>
         </li>
      </ul>

      <div class ="search">
         <div class="search-icon"></div>
         <form id="searchbox" name="gs" method="GET" action="/search.html">
            <input type="text" name="q" id="searchtext" value="" placeholder="Search" autofocus>
         </form>
      </div><!-- END searchbox-->

      <a href="#" class="nav-close">&times;</a>

   </div> <!--End subnav -->
</div><!--End subnav-wrap -->
<div class="nav-main-fader"></div>


<div id="gl-wrapper">

	<!-- /.main-container -->
	<div id="gl-container" class="main-container">
		<a id="main-content"></a>
		<div class="pane-content">
			<div class="node node-panel">


<!-- page-header -->
<section class="page-intro">
	<div class="container">
		<h1 class="page-heading">Layout overview</h1>

        

        <div class="topic-info">

            
               <div class="github-link"><a class="improve-page" href="https://github.com/magento/devdocs/tree/develop/guides/v2.0/frontend-dev-guide/layouts/layout-overview.md" target="_blank">Edit this page on GitHub</a></div>
            
            

        </div> 
		        
		
        <div class="float-break"></div>
	</div>
</section>


<div class="container">

	<!-- sidebar -->
<aside class="sidebar">
	<a href="#" class="toc-toggler">Table of Contents</a>
	<div class="sidebar-wrapper">


<h4>Frontend Developer Guide</h4>








		<ul role="navigation">

		

		

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

					
					

					

						

						

							

								<li class="q "><a href="/guides/v2.1/frontend-dev-guide/bk-frontend-dev-guide.html">Introduction</a></li>

							

								<li class="q "><a href="/guides/v2.1/frontend-dev-guide/conventions.html">Conventional notations used in this Guide</a></li>

							

						

					

						

						

							


								


								
									<li class="level1 "><a class="nav-header" href="/guides/v2.1/frontend-dev-guide/themes/theme-general.html">Themes</a></li>
									
								

									


								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/themes/theme-create.html">Create a storefront theme</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/themes/theme-structure.html">Magento theme structure</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/themes/theme-apply.html">Apply and configure a storefront theme</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/themes/theme-images.html">Configure images properties for a theme</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/themes/theme-inherit.html">Theme inheritance</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/themes/debug-theme.html">Locate templates, layouts, and styles</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/themes/favicon.html">Adding custom favicons</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/themes/product-video.html">Configure product video</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/themes/admin_theme_create.html">Create an Admin theme</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/themes/admin_theme_apply.html">Apply an Admin theme</a></li>

									

								




						

					

						

						

							


								


								
									<li class="level1  active "><a class="nav-header" href="/guides/v2.1/frontend-dev-guide/layouts/layout-overview.html">Layout</a></li>
									
								

									


								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/layouts/xml-instructions.html">Layout instructions</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/layouts/layout-types.html">Layout file types</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/layouts/layout-extend.html">Extend a layout</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/layouts/layout-override.html">Override a layout</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/layouts/xml-manage.html">Common layout customization tasks</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/layouts/layout-practice.html">Customizing layout illustration</a></li>

									

								




						

					

						

						

							


								


								
									<li class="level1 "><a class="nav-header" href="/guides/v2.1/frontend-dev-guide/templates/template-overview.html">Templates</a></li>
									
								

									


								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/templates/template-walkthrough.html">Templates customization walkthrough</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/templates/template-override.html">Templates basic concepts</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/templates/template-sample.html">Illustration of customizing templates</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/templates/template-email.html">Customize email templates</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/templates/template-security.html">Templates XSS security</a></li>

									

								




						

					

						

						

							


								


								
									<li class="level1 "><a class="nav-header" href="/guides/v2.1/frontend-dev-guide/css-topics/css-overview.html">Cascading style sheets (CSS)</a></li>
									
								

									


								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/css-topics/css-themes.html">Include CSS</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/css-topics/css-preprocess.html">CSS preprocessing</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/css-topics/css_debug.html">Compile LESS with Grunt</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/css-topics/theme-ui-lib.html">Magento UI library</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/css-topics/css-jquery.html">Using jQuery UI styles</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/css-topics/css-practice.html">Customizing styles illustration</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/css-topics/using-fonts.html">Using custom fonts</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/css-topics/custom_preprocess.html">Add custom CSS preprocessor (like Sass)</a></li>

									

								




						

					

						

						

							


								


								
									<li class="level1 "><a class="nav-header" href="/guides/v2.1/frontend-dev-guide/css-guide/css_quick_guide_overview.html">Quick start guide to styles</a></li>
									
								

									


								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/css-guide/css_quick_guide_approach.html">Simple ways to customize a theme's styles</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/css-guide/css_quick_guide_mode.html">Simple style changes with client-side LESS compilation vs. server-side</a></li>

									

								




						

					

						

						

							


								


								
									<li class="level1 "><a class="nav-header" href="/guides/v2.1/frontend-dev-guide/responsive-web-design/rwd_overview.html">How to Make Your Theme Responsive and Mobile</a></li>
									
								

									


								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/responsive-web-design/rwd_css.html">CSS in responsive design</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/responsive-web-design/rwd_js.html">JavaScript in Magento responsive design</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/responsive-web-design/rwd_mobile.html">Create a responsive mobile theme based on a default theme</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/responsive-web-design/rwd_practice.html">Customizing RWD illustration</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/responsive-web-design/rwd-breakpoints.html">Add a custom breakpoint</a></li>

									

								




						

					

						

						

							


								


								
									<li class="level1 "><a class="nav-header" href="/guides/v2.1/frontend-dev-guide/translations/xlate.html">Translations</a></li>
									
								

									


								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/translations/theme_dictionary.html">Use translation dictionary to customize strings</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/translations/translate_theory.html">Translate theme strings</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/translations/translate_practice.html">Create a translation dictionary for a theme, illustration</a></li>

									

								




						

					


				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

		</ul>

	</div>
</aside>
<!-- /sidebar -->


	<section class="content">
		<div class="content-wrap">
            <h2>Introduction</h2>

<p>Magento application implements the <a href="http://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller" target="_blank">Model-view-controller</a> architecture pattern; meaning, the Magento software is architected into <em>layers</em>, including the <em>view layer</em>.</p>

<p>The major part of the view layer of Magento application is layout. Functionally, layout is a page structure, represented by hierarchy of elements (element tree), which can be of two types: blocks and containers. Technically, layout is defined in the .xml files, which contain element declarations and element manipulation instructions.</p>

<p>This article describes the basic concepts you need to know to create layouts for your custom theme.</p>

<p><strong>Contents</strong></p>

<ul id="markdown-toc">
  <li><a href="#layout-over-terms" id="markdown-toc-layout-over-terms">Terms used</a></li>
  <li><a href="#layout_overview_blocks" id="markdown-toc-layout_overview_blocks">Basic layout elements</a></li>
  <li><a href="#basic-layouts" id="markdown-toc-basic-layouts">Basic layouts</a></li>
  <li><a href="#layout-files-types-and-conventions" id="markdown-toc-layout-files-types-and-conventions">Layout files types and conventions</a>    <ul>
      <li><a href="#layout-file-types-by-role" id="markdown-toc-layout-file-types-by-role">Layout file types: by role</a></li>
    </ul>
  </li>
  <li><a href="#layout-custom" id="markdown-toc-layout-custom">Customize layout</a></li>
  <li><a href="#layout_processing" id="markdown-toc-layout_processing">Layout files processing</a></li>
  <li><a href="#related-topics" id="markdown-toc-related-topics">Related topics</a></li>
</ul>

<h2 id="layout-over-terms">Terms used</h2>

<p><span id="handle"><em>Layout handle</em></span></p>

<p>A <em>layout handle</em> is a uniquely identified set of layout instructions that serves as a name of a layout file.</p>

<p>There are three kinds of layout handles:</p>

<ul>
  <li><strong>page type layout handles</strong> – Synonyms of the page type identifiers. Correspond to “full action names” of controller actions, for example, catalog_product_view.</li>
  <li><strong>page layout handles</strong> – Identifiers of specific pages. Correspond to controller actions with parameters that identify specific pages, for example, catalog_product_view_type_simple_id_128.</li>
  <li><strong>arbitrary handles</strong> - Do not correspond to any page type, but other handles use them by including.</li>
</ul>

<h2 id="layout_overview_blocks">Basic layout elements</h2>

<p>The basic components of Magento page design are blocks and containers.</p>

<p>A <em>container</em> exists for the sole purpose of assigning content structure to a page. A container has no additional content except the content of included elements. Examples of containers include the header, left column, main column, and footer.</p>

<p>The following figure shows an example:</p>

<p><img src="/common/images/layouts_containers_defn.jpg" /></p>

<p>A <em>block</em> represents each feature on a page and employs templates to generate the HTML to insert into its parent structural block. Examples of blocks include a category list, a mini cart, product tags, and product listing.</p>

<p>The following figure shows an example:</p>

<p><img src="/common/images/layouts_block_defn.jpg" />.</p>

<h2 id="basic-layouts">Basic layouts</h2>

<p>The basic view of all Magento storefront pages in defined in two page configuration layout files located in the Magento_Theme module:</p>

<ul>
  <li><code>&lt;Magento_Theme_module_dir&gt;/view/frontend/layout/default.xml</code>: defines the page layout.</li>
  <li><code>&lt;Magento_Theme_module_dir&gt;/view/frontend/layout/default_head_blocks.xml</code>: defines the scripts, images, and meta data included in pages’ <code>&lt;head&gt;</code> section.</li>
</ul>

<p>These basic page configuration layouts are extended in other Magento modules and in Magento themes.</p>

<p>You can also <a href="/guides/v2.1/frontend-dev-guide/layouts/layout-extend.html">extend</a> or <a href="/guides/v2.1/frontend-dev-guide/layouts/layout-override.html">override</a> these files in your custom theme.</p>

<h2 id="layout-files-types-and-conventions">Layout files types and conventions</h2>

<h3 id="layout-file-types-by-role">Layout file types: by role</h3>

<p>For a particular page, its layout is defined by two major layout components: <em>page layout</em> file and <em>page configuration</em> file (or <em>generic layout</em> for pages returned in AJAX requests, emails, and so on).</p>

<p>Following are the definitions of each layout file type:</p>

<ul>
  <li><em>Page layout</em>: an XML file declaring a page wireframe inside the <code>&lt;body&gt;</code> section of the HTML page markup, for example, two-column page layout.</li>
  <li><em>Page configuration</em>: an XML file declaring detailed structure, contents and meta-information of a page (includes the <code>&lt;html&gt;</code>, <code>&lt;head&gt;</code>, and <code>&lt;body&gt;</code> sections of the HTML page markup).</li>
  <li><em>Generic layout</em>: an XML file declaring page detailed structure and contents inside the <code>body</code> section of the HTML page markup. Used for pages returned by AJAX requests, emails, HTML snippets, and so on.</li>
</ul>

<p>For details, refer to <a href="/guides/v2.1/frontend-dev-guide/layouts/layout-types.html" target="_blank">Layout file types</a>.</p>

<p>In this guide we use <em>layout files</em> when talking about concepts which are similarly applied to all of these types of layout files.</p>

<h3 id="layout-loc">Module and theme layout files</h3>

<p>The following terms are used to distinguish layouts provided by different application components:</p>

<ul>
  <li><em>Base layouts</em>: Layout files provided by modules. Conventional location:
    <ul>
      <li>Page configuration and generic layout files: <code>&lt;module_dir&gt;/view/frontend/layout</code></li>
      <li>Page layout files: <code>&lt;module_dir&gt;/view/frontend/page_layout</code></li>
    </ul>
  </li>
  <li><em>Theme layouts</em>: Layout files provided by themes. Conventional location:
    <ul>
      <li>Page configuration and generic layout files: <code>&lt;theme_dir&gt;/&lt;Namespace&gt;_&lt;Module&gt;/layout</code></li>
      <li>Page layout files: <code>&lt;theme_dir&gt;/&lt;Namespace&gt;_&lt;Module&gt;/page_layout</code></li>
    </ul>
  </li>
</ul>

<h2 id="layout-custom">Customize layout</h2>

<p>To ensure stability and secure your customizations from being deleted during upgrade, do not change out-of-the-box Magento module and theme layouts.</p>

<p>To make the necessary changes, create <a href="/guides/v2.1/frontend-dev-guide/layouts/layout-extend.html" target="_blank">extending</a> and <a href="/guides/v2.1/frontend-dev-guide/layouts/layout-override.html" target="_blank">overriding</a> layout files in your custom theme.</p>

<h2 id="layout_processing">Layout files processing</h2>

<p>The Magento application processes layout files in the following order:</p>

<ol>
  <li>Collects all layout files from modules. The order is determined by the modules order in the module list from <code>app/etc/config.php</code>.</li>
  <li>Determines the sequence of <a href="/guides/v2.1/frontend-dev-guide/themes/theme-inherit.html" target="_blank">inherited</a> themes <code>[&lt;parent_theme&gt;, ..., &lt;parent1_theme&gt;] &lt;current_theme&gt;</code></li>
  <li>
    <p>Iterates the sequence of themes from last ancestor to current:</p>

    <p>a.	Adds all extending theme layout files to the list.</p>

    <p>b.	Replaces overridden layout files in the list.</p>
  </li>
  <li>Merges all layout files from the list.</li>
</ol>

<div class="bs-callout bs-callout-info" id="info">
  <p>Layout files that belong to inactive modules or modules with disabled output are ignored.</p>
</div>

<h2 id="related-topics">Related topics</h2>

<ul>
  <li><a href="/guides/v2.1/frontend-dev-guide/layouts/xml-instructions.html" target="_blank">Layout instructions</a></li>
  <li><a href="/guides/v2.1/frontend-dev-guide/layouts/xml-manage.html" target="_blank">Common layout customization tasks</a></li>
  <li><a href="/guides/v2.1/frontend-dev-guide/layouts/layout-extend.html" target="_blank">Extend a layout</a></li>
  <li><a href="/guides/v2.1/frontend-dev-guide/layouts/layout-override.html" target="_blank">Override a layout</a></li>
  <li><a href="/guides/v2.1/frontend-dev-guide/layouts/layout-practice.html" target="_blank">Customizing layout - step-by-step illustration</a></li>
</ul>


		</div>
	</section>
<!-- /main content -->


</div> <!-- container -->


		</div>
		</div>
	</div>


</div>
<!-- -->
<!--Global footer-->
<div id="footer-wrap">
    <div id="copyright">
        <div class="container">
            <div class="copyright-date">&copy; 2016 Magento, Inc. All rights reserved.</div>
            <div class="copyright-links">
                <ul class="nav">
                    <li><a title="Privacy Policy" href="http://magento.com/legal/terms/privacy">Privacy Policy</a></li>
                    <li><a title="Terms of Service" href="http://magento.com/legal/terms">Terms of Service</a></li>
                    <li><a title="License/Trademark FAQ" href="http://magento.com/legal/licensing">License/Trademark FAQ</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/common/js/jsCookie.js"></script>
<script src="/common/js/devdocs.js"></script>
<script src="/common/js/jquery-ui.min.js"></script>

<script type="text/javascript">
    (function() {
        var didInit = false;
        function initMunchkin() {
            if(didInit === false) {
                didInit = true;
                Munchkin.init('585-GGD-959', {cookieAnon: false});
            }
        }
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = '//munchkin.marketo.net/munchkin.js';
        s.onreadystatechange = function() {
            if (this.readyState == 'complete' || this.readyState == 'loaded') {
                initMunchkin();
            }
        };
        s.onload = initMunchkin;
        document.getElementsByTagName('head')[0].appendChild(s);
    })();
</script>

<script src="/js/app.js"></script>

<!--Google Analytics-->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-66243208-1', 'auto');
    ga('send', 'pageview');
</script>

</body>
</html>

