<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Layout file types</title>
	<meta name="description" content="Magento 2 Developer Documentation.
">
	<meta http-equiv="last-modified" content="2016-06-22 (PDT)" />

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,600,300,800' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="/css/app.css" />
	<link rel="stylesheet" href="/css/print.css" media="print" />
	<link rel="canonical" href="//guides/v2.1/frontend-dev-guide/layouts/layout-types.html">

  <script>
    var baseUrl = "/";
  </script>

	<!-- crazyegg -->
	<script type="text/javascript">
	setTimeout(function(){var a=document.createElement("script");
	var b=document.getElementsByTagName("script")[0];
	a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0038/0321.js?"+Math.floor(new Date().getTime()/3600000);
	a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
	</script>

</head>
<body>

<header class="site-header">

	<nav id="global-nav">

		<div class="menu-btn"><a class="menu-trigger menu-icon" href="#"></a></div>

		<div class="container">

			<a class="logo" href="/"><img src="/i/m-logo.svg" alt=""><img src="/i/magento-logo.svg" alt="Magento" class="magento-logo" /><img src="/i/devdocs-logo.svg" alt="Devdocs" class="devdocs-logo" /></a>

			<!-- Main Navigation -->
<div class="nav-main">
  <ul>
    <li class="first">
      <a href="#">Setup and Deployment</a>
        <ul class="menu nav">
            <li><a href="/guides/v2.1/install-gde/bk-install-guide.html">Installation Guide</a></li>
          
          <li class="leaf"><a href="/guides/v2.1/comp-mgr/bk-compman-upgrade-guide.html">Component Manager and System Upgrade Guide</a></li>
          
          <li class="leaf"><a href="/guides/v2.1/config-guide/bk-config-guide.html">Configuration Guide</a></li>
          <li class="leaf"><a href="/guides/v2.1/migration/bk-migration-guide.html">Migration Guide</a></li>
          <li class="leaf"><a href="/guides/v2.1/cloud/bk-cloud.html">Magento Enterprise Cloud Guide</a></li>
          <li class="leaf"><a href="/magento-release-information.html">Release Information</a></li>
        </ul>
    </li>

    <li>
        <a href="#">Development</a>
        <ul class="menu nav">
          <li class="leaf"><a href="/guides/v2.1/extension-dev-guide/bk-extension-dev-guide.html">PHP Developer Guide</a></li>
          <li class="leaf"><a href="/guides/v2.1/ext-best-practices/bk-ext-best-practices.html">Extension Developer Best Practices</a></li>
          <li><a href="/guides/v2.1/payments-integrations/bk-payments-integrations.html">Payments Integrations</a></li>
          <li class="leaf"><a href="/guides/v2.1/architecture/bk-architecture.html">Magento Architecture</a></li>
          <li class="leaf"><a href="/guides/v2.1/mrg/intro.html">Module Reference Guide</a></li>
          <li class="leaf"><a href="/guides/v2.1/coding-standards/bk-coding-standards.html">Coding Standards</a></li>
          
          <li class="leaf"><a href="/guides/v2.1/extension-dev-guide/staging.html">Staging</a></li>
          
          <li class="first leaf"><a href="/guides/v2.1/contributor-guide/contributing.html">Contributor Guide</a></li>
        </ul>
    </li>

    <li>
        <a href="#">Frontend</a>
        <ul class="menu nav">
          <li class="first leaf"><a href="/guides/v2.1/frontend-dev-guide/bk-frontend-dev-guide.html">Frontend Developer Guide</a></li>
          
          <li class="leaf"><a href="/guides/v2.1/ui_comp_guide/bk-ui_comps.html">UI Components Guide</a></li>
          
          <li class="leaf"><a href="/guides/v2.1/javascript-dev-guide/bk-javascript-dev-guide.html">JavaScript Developer Guide</a></li>
          <li class="leaf"><a href="/guides/v2.1/pattern-library/bk-pattern.html">Admin Design Pattern Library</a></li>
          <li class="leaf"><a href="/guides/v2.1/design-styleguide/bk-styleguide.html">Admin Style Guide</a></li>
        </ul>
    </li>

    <li>
        <a href="#">API</a>
        <ul class="menu nav">
          <li class="leaf"><a href="/guides/v2.1/get-started/bk-get-started-api.html">Get Started with Magento Web APIs</a></li>
          <li class="leaf"><a href="/guides/v2.1/rest/bk-rest.html">REST API Reference</a></li>
          <li class="leaf"><a href="/guides/v2.1/soap/bk-soap.html">SOAP API Reference</a></li>
        </ul>
    </li>

    <li>
        <a href="#">Testing</a>
        <ul class="menu nav">
          <li class="leaf"><a href="/guides/v2.1/test/testing.html">Magento Testing Guide</a></li>
          <li class="leaf"><a href="/guides/v2.1/mtf/mtf_introduction.html">Functional Testing</a></li>
          <li class="leaf"><a href="/guides/v2.1/test/integration/integration_test_execution.html">Integration Testing</a></li>
          <li class="leaf"><a href="/guides/v2.1/test/js/jasmine.html">JavaScript Unit Testing</a></li>
          <li class="leaf"><a href="/guides/v2.1/test/unit/unit_test_execution.html">PHP Unit Testing</a></li>
          <li class="leaf"><a href="/guides/v2.1/get-started/web-api-functional-testing.html">Web API Functional Testing</a></li>
        </ul>
    </li>

    <li>
      <a href="/guides/v2.1/howdoi/bk-how-do-i.html">How Tos</a>
    </li>
  </ul>
</div><!-- /.nav-main -->


			<div class="search-btn">
				<a class="search-trigger search-icon" href="/search.html"></a>
			</div>

			<form class="quick-search" action="/search.html" method="get">
				<input type="search" name="q" placeholder="Search" />
				<a href="#" class="quick-search-close">&times;</a>
			</form>


			
<div class="version-switcher dropdown">
	<button class="btn dropdown-toggle" data-toggle="dropdown">
		Magento 2.1
	</button>

	<ul class="dropdown-menu dropdown-menu-left">
	
		<li><a class="dropdown-item" href="/guides/v2.0/frontend-dev-guide/layouts/layout-types.html">Magento 2.0</a></li>
	
		<li><a class="dropdown-item" href="/guides/v2.1/frontend-dev-guide/layouts/layout-types.html">Magento 2.1</a></li>
	
  </ul>

</div>




		</div>

	</nav><!-- #global-nav -->

</header>
<div class="nav-main-fader"></div>


<div id="gl-wrapper">

	<!-- .main-container -->
	<div class="main-container">
		<a id="main-content"></a>


<div class="container">

	<!-- sidebar -->
<aside class="sidebar">
	<a href="#" class="toc-toggler">Table of Contents</a>
	<div class="sidebar-wrapper">


<h4>Frontend Developer Guide</h4>






		<ul>

		

		

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

					
					

					

						

						

							

								<li class="q "><a href="/guides/v2.1/frontend-dev-guide/bk-frontend-dev-guide.html">Introduction</a></li>

							

								<li class="q "><a href="/guides/v2.1/frontend-dev-guide/conventions.html">Conventional notations used in this Guide</a></li>

							

						

					

						

						

							


								


								
									<li class="level1 "><a class="nav-header" href="/guides/v2.1/frontend-dev-guide/themes/theme-general.html">Themes</a></li>
									
								

									


								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/themes/theme-create.html">Create a storefront theme</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/themes/theme-structure.html">Magento theme structure</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/themes/theme-apply.html">Apply and configure a storefront theme</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/themes/theme-images.html">Configure images properties for a theme</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/themes/theme-inherit.html">Theme inheritance</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/themes/debug-theme.html">Locate templates, layouts, and styles</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/themes/favicon.html">Adding custom favicons</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/themes/product-video.html">Configure product video</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/themes/admin_theme_create.html">Create an Admin theme</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/themes/admin_theme_apply.html">Apply an Admin theme</a></li>

									

								




						

					

						

						

							


								


								
									<li class="level1 "><a class="nav-header" href="/guides/v2.1/frontend-dev-guide/layouts/layout-overview.html">Layout</a></li>
									
								

									


								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/layouts/xml-instructions.html">Layout instructions</a></li>

									

								

									

									<li class="level-2  active "><a href="/guides/v2.1/frontend-dev-guide/layouts/layout-types.html">Layout file types</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/layouts/layout-extend.html">Extend a layout</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/layouts/layout-override.html">Override a layout</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/layouts/xml-manage.html">Common layout customization tasks</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/layouts/layout-practice.html">Customizing layout illustration</a></li>

									

								




						

					

						

						

							


								


								
									<li class="level1 "><a class="nav-header" href="/guides/v2.1/frontend-dev-guide/templates/template-overview.html">Templates</a></li>
									
								

									


								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/templates/template-walkthrough.html">Templates customization walkthrough</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/templates/template-override.html">Templates basic concepts</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/templates/template-sample.html">Illustration of customizing templates</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/templates/template-email.html">Customize email templates</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/templates/template-security.html">Templates XSS security</a></li>

									

								




						

					

						

						

							


								


								
									<li class="level1 "><a class="nav-header" href="/guides/v2.1/frontend-dev-guide/css-topics/css-overview.html">Cascading style sheets (CSS)</a></li>
									
								

									


								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/css-topics/css-themes.html">Include CSS</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/css-topics/css-preprocess.html">CSS preprocessing</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/css-topics/css_debug.html">Compile LESS with Grunt</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/css-topics/theme-ui-lib.html">Magento UI library</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/css-topics/css-jquery.html">Using jQuery UI styles</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/css-topics/css-practice.html">Customizing styles illustration</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/css-topics/using-fonts.html">Using custom fonts</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/css-topics/custom_preprocess.html">Add custom CSS preprocessor (like Sass)</a></li>

									

								




						

					

						

						

							


								


								
									<li class="level1 "><a class="nav-header" href="/guides/v2.1/frontend-dev-guide/css-guide/css_quick_guide_overview.html">Quick start guide to styles</a></li>
									
								

									


								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/css-guide/css_quick_guide_approach.html">Simple ways to customize a theme's styles</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/css-guide/css_quick_guide_mode.html">Simple style changes with client-side LESS compilation vs. server-side</a></li>

									

								




						

					

						

						

							


								


								
									<li class="level1 "><a class="nav-header" href="/guides/v2.1/frontend-dev-guide/responsive-web-design/rwd_overview.html">How to Make Your Theme Responsive and Mobile</a></li>
									
								

									


								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/responsive-web-design/rwd_css.html">CSS in responsive design</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/responsive-web-design/rwd_js.html">JavaScript in Magento responsive design</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/responsive-web-design/rwd_mobile.html">Create a responsive mobile theme based on a default theme</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/responsive-web-design/rwd_practice.html">Customizing RWD illustration</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/responsive-web-design/rwd-breakpoints.html">Add a custom breakpoint</a></li>

									

								




						

					

						

						

							


								


								
									<li class="level1 "><a class="nav-header" href="/guides/v2.1/frontend-dev-guide/translations/xlate.html">Translations</a></li>
									
								

									


								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/translations/theme_dictionary.html">Use translation dictionary to customize strings</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/translations/translate_theory.html">Translate theme strings</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/frontend-dev-guide/translations/translate_practice.html">Create a translation dictionary for a theme, illustration</a></li>

									

								




						

					


				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

		</ul>

	</div>
</aside>
<!-- /sidebar -->


	<section class="content">
		<div class="content-wrap">
			<!-- page-header -->
<section class="page-intro">
	

  <nav class="breadcrumbs">

    <a class="breadcrumb-item" href="/"><span>Home</span></a>

    <ol class="breadcrumb list-unstyled" vocab="http://schema.org/" typeof="BreadcrumbList">

    <!-- Iteration breadcrumb item -->
    
    
    

      <!-- Skip if root -->
      


      <!-- Get breadcrumb title. Insert snippet from configuration description to translates breadcrumb if language plugin is installed and YAML subset is set -->
      

      <!-- SEO data -->
      

      <li class="breadcrumb-item" property="itemListElement" typeof="ListItem">
        <a property="item" typeof="WebPage" href="/guides/v2.1/frontend-dev-guide/bk-frontend-dev-guide.html"><span property="name">Frontend Developer Guide</span></a>
        <meta property="position" content="1" />
      </li>

    

      <!-- Skip if root -->
      


      <!-- Get breadcrumb title. Insert snippet from configuration description to translates breadcrumb if language plugin is installed and YAML subset is set -->
      

      <!-- SEO data -->
      

      <li class="breadcrumb-item active" property="itemListElement" typeof="ListItem">
        <span property="name">Layout file types</span>
        <meta property="position" content="2" />
      </li>

    

    </ol>

  </nav>


	
	<h1 class="page-heading">Layout file types</h1>

  


</section>

			<head>
	<style>
		table tr td, table tr th {border: 1px solid #ABABAB}
	</style>
</head>
<h2>What's in this topic</h2>
<p>For a particular page, its layout is defined by two major layout components: <em>page layout</em> file and <em>page configuration</em> file.</p>

<p>A page layout file defines the page wireframe, for example, one-column layout. Technically page layout is an .xml file defining the structure inside the <code>&lt;body&gt;</code> section of the HTML page markup. Page layouts feature only <a href="/guides/v2.1/frontend-dev-guide/layouts/layout-overview.html#layout_overview_blocks" target="_blank">containers</a>. 
All page layouts used for page rendering should be declared in the page layout declaration file.</p>

<p>Page configuration is also an .xml file. It defines the detailed structure (page header, footer, etc.), contents and page meta information, including the page layout used. Page configuration features both main elements, <a href="/guides/v2.1/frontend-dev-guide/layouts/layout-overview.html#layout_overview_blocks" target="_blank">blocks of particular classes</a> and containers.</p>

<p>We also distinguish the third type of layout files, <em>generic layouts</em>. They are .xml files which define the contents and detailed structure inside the <code>&lt;body&gt;</code> section of the HTML page markup. These files are used for pages returned by AJAX requests, emails, HTML snippets and so on.</p>

<p>This article gives a comprehensive description of each layout file type.</p>

<h2 id="layout-types-page">Page layout</h2>
<p>Page layout declares the wireframe of a page inside the <code>&lt;body&gt;</code> section, for example one-column layout or two-column layout.</p>

<p>Allowed layout instructions:</p>

<ul>
  <li><a href="/guides/v2.1/frontend-dev-guide/layouts/xml-instructions.html#fedg_layout_xml-instruc_ex_cont" target="_blank"> &lt;container&gt;</a></li>
  <li><a href="/guides/v2.1/frontend-dev-guide/layouts/xml-instructions.html#fedg_layout_xml-instruc_ex_ref" target="_blank"> &lt;referenceContainer&gt;</a></li>
  <li><a href="/guides/v2.1/frontend-dev-guide/layouts/xml-instructions.html#fedg_layout_xml-instruc_ex_mv" target="_blank"> &lt;move&gt;</a></li>
  <li><a href="/guides/v2.1/frontend-dev-guide/layouts/xml-instructions.html#fedg_layout_xml-instruc_ex_upd" target="_blank"> &lt;update&gt;</a></li>
</ul>

<p>Sample page layout:</p>

<p><code>&lt;Magento_Theme_module_dir&gt;/view/frontend/page_layout/2columns-left.xml</code></p>

<figure class="highlight"><pre><code class="language-xml" data-lang="xml"><span class="nt">&lt;layout</span> <span class="na">xmlns:xsi=</span><span class="s">&quot;http://www.w3.org/2001/XMLSchema-instance&quot;</span> <span class="na">xsi:noNamespaceSchemaLocation=</span><span class="s">&quot;urn:magento:framework:View/Layout/etc/page_layout.xsd&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;update</span> <span class="na">handle=</span><span class="s">&quot;1column&quot;</span><span class="nt">/&gt;</span>
    <span class="nt">&lt;referenceContainer</span> <span class="na">name=</span><span class="s">&quot;columns&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;container</span> <span class="na">name=</span><span class="s">&quot;div.sidebar.main&quot;</span> <span class="na">htmlTag=</span><span class="s">&quot;div&quot;</span> <span class="na">htmlClass=</span><span class="s">&quot;sidebar sidebar-main&quot;</span> <span class="na">after=</span><span class="s">&quot;main&quot;</span><span class="nt">&gt;</span>
            <span class="nt">&lt;container</span> <span class="na">name=</span><span class="s">&quot;sidebar.main&quot;</span> <span class="na">as=</span><span class="s">&quot;sidebar_main&quot;</span> <span class="na">label=</span><span class="s">&quot;Sidebar Main&quot;</span><span class="nt">/&gt;</span>
        <span class="nt">&lt;/container&gt;</span>
        <span class="nt">&lt;container</span> <span class="na">name=</span><span class="s">&quot;div.sidebar.additional&quot;</span> <span class="na">htmlTag=</span><span class="s">&quot;div&quot;</span> <span class="na">htmlClass=</span><span class="s">&quot;sidebar sidebar-additional&quot;</span> <span class="na">after=</span><span class="s">&quot;div.sidebar.main&quot;</span><span class="nt">&gt;</span>
            <span class="nt">&lt;container</span> <span class="na">name=</span><span class="s">&quot;sidebar.additional&quot;</span> <span class="na">as=</span><span class="s">&quot;sidebar_additional&quot;</span> <span class="na">label=</span><span class="s">&quot;Sidebar Additional&quot;</span><span class="nt">/&gt;</span>
        <span class="nt">&lt;/container&gt;</span>
    <span class="nt">&lt;/referenceContainer&gt;</span>
<span class="nt">&lt;/layout&gt;</span></code></pre></figure>

<h3 id="layout-types-page-conv">Page layout files conventional location</h3>

<p>Conventionally page layouts must be located as follows:</p>

<ul>
  <li>Module page layouts: <code>&lt;module_dir&gt;/view/frontend/page_layout</code></li>
  <li>Theme page layouts: <code>&lt;theme_dir&gt;/&lt;Namespace&gt;_&lt;Module&gt;/page_layout</code></li>
</ul>

<h3 id="layout-types-page-dec">Page layouts declaration</h3>

<p>To be able to use a layout for actual page rendering, you need to declare it in <code>layouts.xml</code>.</p>

<p>Conventionally layout declaration file can be located in one of the following locations:</p>

<ul>
<li>Module layout declarations: <code>&lt;module_dir&gt;/view/frontend/layouts.xml</code></li>
<li>Theme layout declaration: <code>&lt;theme_dir&gt;/&lt;Namespace&gt;_&lt;Module&gt;/layouts.xml</code></li>

</ul>

<p><br /></p>
<p>Declare a layout file using the <code>&lt;layout&gt;&lt;/layout&gt;</code> instruction, for which specify the following:</p>

<ul>
 <li><code>&lt;layout&nbsp;id=&quot;layout_file_name&quot;&gt;</code>. For example, the <code>2columns-left.xml</code> page layout is declared like following: <code>&lt;layout&nbsp;id&nbsp;=&nbsp;&quot;2columns-left&quot;/&gt;</code></li>

<li><code>&lt;label&nbsp;translate=&quot;true|false&quot;&gt;{Label_used_in_Admin}&lt;/label&gt;</code></li>
</ul>

<p>Sample page layout declaration file:</p>

<pre><code>&lt;Magento_Theme_module_dir&gt;/view/frontend/layouts.xml
</code></pre>

<figure class="highlight"><pre><code class="language-xml" data-lang="xml"><span class="nt">&lt;page_layouts</span> <span class="na">xmlns:xsi=</span><span class="s">&quot;http://www.w3.org/2001/XMLSchema-instance&quot;</span> <span class="na">xsi:noNamespaceSchemaLocation=</span><span class="s">&quot;urn:magento:framework:View/PageLayout/etc/layouts.xsd&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;layout</span> <span class="na">id=</span><span class="s">&quot;1column&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;label</span> <span class="na">translate=</span><span class="s">&quot;true&quot;</span><span class="nt">&gt;</span>1 column<span class="nt">&lt;/label&gt;</span>
    <span class="nt">&lt;/layout&gt;</span>
    <span class="nt">&lt;layout</span> <span class="na">id=</span><span class="s">&quot;2columns-left&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;label</span> <span class="na">translate=</span><span class="s">&quot;true&quot;</span><span class="nt">&gt;</span>2 columns with left bar<span class="nt">&lt;/label&gt;</span>
    <span class="nt">&lt;/layout&gt;</span>
    <span class="nt">&lt;layout</span> <span class="na">id=</span><span class="s">&quot;2columns-right&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;label</span> <span class="na">translate=</span><span class="s">&quot;true&quot;</span><span class="nt">&gt;</span>2 columns with right bar<span class="nt">&lt;/label&gt;</span>
    <span class="nt">&lt;/layout&gt;</span>
    <span class="nt">&lt;layout</span> <span class="na">id=</span><span class="s">&quot;3columns&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;label</span> <span class="na">translate=</span><span class="s">&quot;true&quot;</span><span class="nt">&gt;</span>3 columns<span class="nt">&lt;/label&gt;</span>
    <span class="nt">&lt;/layout&gt;</span>
<span class="nt">&lt;/page_layouts&gt;</span></code></pre></figure>

<h2 id="layout-types-conf">Page configuration</h2>

<p>The page configuration adds content to the wireframe defined in a page layout file. A page configuration also contains page meta-information, and contents of the <code>&lt;head&gt;</code> section.</p>

<h3 id="layout-type-conf-loc">Page configuration file conventional location</h3>

<p>Conventionally page configuration files must be located as follows:</p>

<ul>
<li> Module page configurations: <code>&lt;module_dir&gt;/view/frontend/layout</code></li>
<li> Theme page configurations: <code>&lt;theme_dir&gt;/&lt;Namespace&gt;_&lt;Module&gt;/layout</code></li>
</ul>

<h3>Page configuration structure and allowed layout instructions</h3>

<p>The following table describes the instructions specific for page configuration files. For the descriptions of common layout instructions see the <a href="/guides/v2.1/frontend-dev-guide/layouts/xml-instructions.html" target="_blank">Layout instructions</a> article.</p>

<table>
  <tbody>
    <tr>
      <th>Element</th>
      <th colspan="1">Attributes</th>
      <th colspan="1">Parent of</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>
        <code><span>&lt;page&gt;&lt;/page&gt;</span></code>
      </td>
      <td colspan="1">
        <ul>
          <li>
            <code>layout = {layout}</code>
          </li>
          <li>
            <code>xsi:noNamespaceSchemaLocation ="{path_to_schema}"</code>            
          </li>
        </ul>
      </td>
      <td colspan="1">
        <ul>
          <li><code>&lt;html&gt;</code></li>
          <li><code>&lt;head&gt;</code></li>
          <li><code>&lt;body&gt;</code></li>
          <li><code>&lt;update&gt;</code></li>
        </ul>
      </td>
      <td>Mandatory root element.</td>
    </tr>
    <tr>
      <td colspan="1"><code>&lt;html&gt;&lt;/html&gt;</code></td>
      <td colspan="1">
        <p>none</p>
      </td>
      <td colspan="1">
        <ul>
          <li><code>&lt;attribute&gt;</code></li>
        </ul>
      </td>
      <td colspan="1">
        <span>Mandatory element.</span>
      </td>
    </tr>
    <tr>
      <td colspan="1"><code>&lt;head&gt;&lt;/head&gt;</code></td>
      <td colspan="1">none</td>
      <td colspan="1">
        <ul>
          <li><code>&lt;title&gt;</code></li>
          <li><code>&lt;meta&gt;</code></li>
          <li><code>&lt;link&gt;</code></li>
          <li><code>&lt;css&gt;</code></li>
          <li><code>&lt;script&gt;</code></li>
        </ul>
      </td>
      <td colspan="1"></td>
    </tr>
    <tr>
      <td colspan="1"><code>&lt;body&gt;&lt;/body&gt;</code></td>
      <td colspan="1">none</td>
      <td colspan="1">
        <ul>
          <li><code>&lt;block&gt;</code></li>
          <li><code>&lt;container&gt;</code></li>
          <li><code>&lt;move&gt;</code></li>
       <li><code>&lt;attribute&gt;</code></li>
          <li><code>&lt;referenceBlock&gt;</code></li>
          <li><code>&lt;referenceContainer&gt;</code></li>
          <li><code>&lt;action&gt;</code></li>
        </ul>
      </td>
      <td colspan="1"></td>
    </tr>
    <tr>
      <td colspan="1"><code>&lt;attribute&gt;</code></td>
      <td colspan="1">
        <ul>
          <li><code>name = {arbitrary_name}</code>
          </li>
          <li><code>value = {arbitrary_value}</code>
          </li>
        </ul>
      </td>
      <td colspan="1"></td>
      <td colspan="1">
        <p>Specified for <code>&lt;html&gt;</code>, rendered like following:</p>
        <p><code>&lt;html name="value'&gt;</code></p>
      </td>
    </tr>
    <tr>
      <td colspan="1">
        <p><code>&lt;title&gt;</code></p>
      </td>
      <td colspan="1">none</td>
      <td colspan="1">none</td>
      <td colspan="1">Page title</td>
    </tr>
    <tr>
      <td colspan="1">
        <p><code>&lt;meta&gt;</code></p>
      </td>
      <td colspan="1">
        <ul>
          <li>
            <span><code>content</code></span>
          </li>
          <li>
            <span><code>charset</code></span>
          </li>
          <li>
            <span><code>http-equiv</code></span>
          </li>
          <li>
            <span><code>name</code></span>
          </li>
          <li>
            <span><code>scheme</code></span>
          </li>
        </ul>
      </td>
      <td colspan="1">
        <span>none</span>
      </td>
      <td colspan="1"></td>
    </tr>
    <tr>
      <td colspan="1">
        <p><code>&lt;link&gt;</code></p>
      </td>
      <td colspan="1">
        <ul>
          <li>
            <span><code>src</code></span>
          </li>
          <li>
            <span><code>defer</code></span>
          </li>
          <li>
            <span><code>ie_condition</code></span>
          </li>
          <li>
            <span><code>charset</code></span>
          </li>
          <li>
            <span><code>hreflang</code></span>
          </li>
          <li>
            <span><code>media</code></span>
          </li>
          <li>
            <span><code>rel</code></span>
          </li>
          <li>
            <span><code>rev</code></span>
          </li>
          <li>
            <span><code>sizes</code></span>
          </li>
          <li>
            <span><code>target</code></span>
          </li>
          <li>
            <span><code>type</code></span>
          </li>
        </ul>
      </td>
      <td colspan="1">
        <span>none</span>
      </td>
      <td colspan="1"> </td>
    </tr>
    <tr>
      <td colspan="1">
        <span><code>&lt;css&gt;</code></span>
      </td>
      <td colspan="1">
        <ul>
          <li>
            <span><code>src</code></span>
          </li>
          <li>
            <span><code>defer</code></span>
          </li>
          <li>
            <span><code>ie_condition</code></span>
          </li>
          <li>
            <span><code>charset</code></span>
          </li>
          <li>
            <span><code>hreflang</code></span>
          </li>
          <li>
            <span><code>media</code></span>
          </li>
          <li>
            <span><code>rel</code></span>
          </li>
          <li>
            <span><code>rev</code></span>
          </li>
          <li>
            <span><code>sizes</code></span>
          </li>
          <li>
            <span><code>target</code></span>
          </li>
          <li>
            <span><code>type</code></span>
          </li>
        </ul>
      </td>
      <td colspan="1">
        <span>none</span>
      </td>
      <td colspan="1"></td>
    </tr>
    <tr>
      <td colspan="1">
        <p><code>&lt;script&gt;</code></p>
      </td>
      <td colspan="1">
        <ul>
          <li>
            <span><code>src</code></span>
          </li>
          <li>
            <span><code>defer</code></span>
          </li>
          <li>
            <span><code>ie_condition</code></span>
          </li>
          <li>
            <span><code>async</code></span>
          </li>
          <li>
            <span><code>charset</code></span>
          </li>
          <li>
            <span><code>type</code></span>
          </li>
        </ul>
      </td>
      <td colspan="1">
        <span>none</span>
      </td>
      <td colspan="1"></td>
    </tr>
  </tbody>
</table>

<h2 id="layout-types-gen">Generic layout</h2>

<p>Generic layouts define the contents and detailed structure inside the <code>&lt;body&gt;</code> section of the HTML page markup.</p>

<h3 id="layout-type-gen-loc">Generic layout file conventional location</h3>

<p>Conventionally generic layout files must be located as follows:</p>

<ul>
<li>Module generic layouts: <code>&lt;module_dir&gt;/view/frontend/layout</code></li>
<li>Theme generic layouts: <code>&lt;theme_dir&gt;/&lt;Namespace&gt;_&lt;Module&gt;/layout</code></li>
</ul>

<h3>Generic layout structure and allowed layout instructions</h3>

<p>The following table describes the instructions specific for generic layout files. For the descriptions of common layout instructions see the <a href="/guides/v2.1/frontend-dev-guide/layouts/xml-instructions.html" target="_blank">Layout instructions</a> article.</p>

<table>
  <tbody>
    <tr>
      <th>Element</th>
      <th colspan="1">Attributes</th>
      <th colspan="1">Parent of</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>
        <code> &lt;layout&gt;&lt;/layout&gt; </code>
      </td>
      <td colspan="1">
        <ul>
          <li>
            <code>
              xsi:noNamespaceSchemaLocation="{path_to_schema}"
</code>
          </li>
        </ul>
      </td>
      <td colspan="1">
        <ul>
          <li><code>&lt;container&gt;</code></li>
          <li><code>&lt;update&gt;</code></li>

        </ul>
      </td>
      <td>Mandatory root element.</td>
    </tr>
    <tr>
      <td>
        <code> &lt;update&gt; </code>
      </td>
      <td colspan="1">
        <ul>
          <li>
            <code>handle="{name_of_handle_to_include}"</code>
          </li>
        </ul>
      </td>
      <td colspan="1">
none
      </td>
<td></td>
    </tr>
    <tr>
      <td colspan="1"><code>&lt;container&gt;</code></td>
      <td colspan="1">
<ul>
<li><code>name="root"</code></li>
<li>For complete list of attributes, see <a href="/guides/v2.1/frontend-dev-guide/layouts/xml-instructions.html#container" target="_blank">Layout instructions</a></li>
</ul>
</td>
      <td colspan="1">
        <ul>
          <li><code>&lt;block&gt;</code></li>
          <li><code>&lt;container&gt;</code></li>
          <li><code>&lt;referenceBlock&gt;</code></li>
          <li><code>&lt;referenceContainer&gt;</code></li>
          
        </ul>
      </td>
      <td colspan="1"> Mandatory element</td>
    </tr>


  </tbody>
</table>

<p>Sample generic layout:</p>

<figure class="highlight"><pre><code class="language-xml" data-lang="xml"><span class="nt">&lt;layout</span> <span class="na">xmlns:xsi=</span><span class="s">&quot;http://www.w3.org/2001/XMLSchema-instance&quot;</span> <span class="na">xsi:noNamespaceSchemaLocation=</span><span class="s">&quot;urn:magento:framework:View/Layout/etc/layout_generic.xsd&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;update</span> <span class="na">handle=</span><span class="s">&quot;formkey&quot;</span><span class="nt">/&gt;</span>
    <span class="nt">&lt;update</span> <span class="na">handle=</span><span class="s">&quot;adminhtml_googleshopping_types_block&quot;</span><span class="nt">/&gt;</span>
    <span class="nt">&lt;container</span> <span class="na">name=</span><span class="s">&quot;root&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;block</span> <span class="na">class=</span><span class="s">&quot;Magento\Backend\Block\Widget\Grid\Container&quot;</span> <span class="na">name=</span><span class="s">&quot;googleshopping.types.container&quot;</span> <span class="na">template=</span><span class="s">&quot;Magento_Backend::widget/grid/container/empty.phtml&quot;</span><span class="nt">/&gt;</span>
    <span class="nt">&lt;/container&gt;</span>
<span class="nt">&lt;/layout&gt;</span></code></pre></figure>


		</div>
		<!-- /.content-wrap -->

		<div class="page-info">

			

			
			 <div class="github-link">
				 <a class="improve-page" href="https://github.com/magento/devdocs/tree/develop/guides/v2.0/frontend-dev-guide/layouts/layout-types.md" target="_blank">
					 Edit this page on GitHub
				 </a>
			 </div>
			

			<div class="new-issue">
				<a href="https://github.com/magento/devdocs/issues/new?title=&body=Feedback on page: /guides/v2.1/frontend-dev-guide/layouts/layout-types.html" target="_blank">Give us feedback</a>
			</div>

		</div>

	</section>
	<!-- /.content -->

</div> <!-- /.container -->


	</div>
	<!-- /.main-container -->

</div>
<!-- /#gl-wrapper -->

<!-- footer-->
<div id="footer">
  <div class="container">

    <div class="copyright-links">
      <ul class="nav">
				<li><a href="/guides/v2.1/contributor-guide/contributing_docs.html">Become a Contributor</a>
        <li><a href="http://magento.com/legal/terms/privacy/">Privacy Policy</a></li>
        <li><a href="http://magento.com/legal/terms/">Terms of Service</a></li>
        <li><a href="http://magento.com/legal/licensing/">License/Trademark FAQ</a></li>
        <li><a href="/guides/v2.1/release-notes/bk-release-notes.html">Release Notes</a></li>
				<li><a href="/magento-third-party.html">Third-Party Licenses</a></li>
      </ul>
    </div>

		<div class="copyright-date">&copy; 2016 Magento. All rights reserved.</div>

  </div>
</div>
<!-- / #footer -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="/common/js/app.min.js"></script>

<script type="text/javascript">
    (function() {
        var didInit = false;
        function initMunchkin() {
            if(didInit === false) {
                didInit = true;
                Munchkin.init('585-GGD-959', {cookieAnon: false});
            }
        }
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = '//munchkin.marketo.net/munchkin.js';
        s.onreadystatechange = function() {
            if (this.readyState == 'complete' || this.readyState == 'loaded') {
                initMunchkin();
            }
        };
        s.onload = initMunchkin;
        document.getElementsByTagName('head')[0].appendChild(s);
    })();
</script>



<!--Google Analytics-->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-66243208-1', 'auto');
    ga('send', 'pageview');
</script>


</body>
</html>

