
<h2 id="class">Class</h2>
<table><tbody>
    <tr>
        <th>Target</th>
        <th>What Changed</th>
    </tr>
    <tr>
        <td>Magento\Framework\View\Result\Layout::render</td>
        <td>[protected] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Result\Page::render</td>
        <td>[protected] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\AbstractCardRenderer::render</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\AbstractCardRenderer::getToken</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\AbstractCardRenderer::getTokenDetails</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Interception\Chain\Chain</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\EntityManager\CustomAttributesMapper</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\CreditCards</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Usps\Block\Rma\Adminhtml\Rma\Edit\Tab\General\Shipping\Packaging\Plugin</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Quote\Setup\Recurring</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Fedex\Model\Plugin\Rma\Block\Adminhtml\Rma\Edit\Tab\General\Shippingmethod</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Dhl\Model\Plugin\Rma\Block\Adminhtml\Rma\Edit\Tab\General\Shippingmethod</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\ConfigurableProduct\Plugin\Model\Product</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\ConfigurableProduct\Model\Plugin\AroundProductRepositorySave</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\ConfigurableProduct\Block\Plugin\Product\Media\Gallery</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\CatalogRegistry</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Result\Layout::render</td>
        <td>[protected] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Result\Page::render</td>
        <td>[protected] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Page\Config\Renderer::renderAssetHtml</td>
        <td>[protected] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Module\Plugin\DbStatusValidator::aroundDispatch</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Controller\AbstractResult::applyHttpHeaders</td>
        <td>[protected] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Controller\AbstractResult::render</td>
        <td>[protected] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Controller\Result\Forward::render</td>
        <td>[protected] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Controller\Result\Json::render</td>
        <td>[protected] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Controller\Result\Raw::render</td>
        <td>[protected] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Controller\Result\Redirect::render</td>
        <td>[protected] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\App\Cache\FlushCacheByTags::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Weee\Model\App\Action\ContextPlugin::aroundDispatch</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Plugin\PaymentVaultAttributesLoad::aroundGetExtensionAttributes</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\AbstractCardRenderer::render</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\AbstractCardRenderer::getToken</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\AbstractCardRenderer::getTokenDetails</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Theme\Model\Url\Plugin\Signature::aroundGetBaseUrl</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Tax\Model\Quote\GrandTotalDetailsPlugin::aroundProcess</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Tax\Model\App\Action\ContextPlugin::aroundDispatch</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\Url\Plugin\RouteParamsResolver::aroundSetRouteParams</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\App\Action\Plugin\Context::aroundDispatch</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\App\Action\Plugin\Context::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Store\App\Action\Plugin\Context::$httpRequest</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\App\Action\Plugin\StoreCheck::aroundDispatch</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\ResourceModel\Order\Plugin\Authorization::aroundLoad</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\CronJob\CleanExpiredOrders::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\CronJob\CleanExpiredOrders::$logger</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Quote\Observer\Frontend\Quote\Address\CollectTotalsObserver::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Paypal\Model\Method\Checks\SpecificationPlugin::aroundIsApplicable</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Paypal\Model\Method\Checks\SpecificationPlugin::$_agreementFactory</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Paypal\Model\Config\StructurePlugin::$_helper</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Paypal\Model\Config\StructurePlugin::$_scopeDefiner</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Paypal\Model\Config\Structure\Element\FieldPlugin::aroundGetConfigPath</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Paypal\Model\Config\Structure\Element\FieldPlugin::$_request</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Paypal\Cron\FetchReports::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Paypal\Cron\FetchReports::$_logger</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Paypal\Block\Adminhtml\Store\SwitcherPlugin::aroundGetUrl</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\PageCache\Model\Controller\Result\BuiltinPlugin::aroundRenderResult</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\PageCache\Model\Controller\Result\VarnishPlugin::aroundRenderResult</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\PageCache\Model\Controller\Result\VarnishPlugin::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\PageCache\Model\Controller\Result\VarnishPlugin::$kernel</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\PageCache\Model\App\FrontController\VarnishPlugin::aroundDispatch</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Newsletter\Model\Plugin\CustomerPlugin::aroundSave</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Newsletter\Model\Plugin\CustomerPlugin::aroundDelete</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Newsletter\Model\Plugin\CustomerPlugin::afterSave</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\NewRelicReporting\Model\Cron\ReportNewRelicCron::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\NewRelicReporting\Model\Cron\ReportNewRelicCron::$logger</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Multishipping\Model\Cart\Controller\CartPlugin::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\MediaStorage\Model\Asset\Plugin\CleanMergedJsCss::aroundCleanMergedJsCss</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\GroupedProduct\Model\Sales\AdminOrder\Product\Quote\Plugin\Initializer::aroundInit</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\GroupedProduct\Model\ResourceModel\Product\Link\RelationPersister::aroundSaveProductLinks</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\GiftMessage\Model\Plugin\QuoteItem::aroundConvert</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\GiftMessage\Block\Message\Multishipping\Plugin\ItemsBox::aroundGetItemsBoxTextAfter</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Eav\Model\ResourceModel\ReadHandler::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Developer\Model\View\Page\Config\ClientSideLessCompilation\Renderer::renderAssetHtml</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Deploy\Model\Deployer::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Model\Customer\DataProvider::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Model\App\Action\ContextPlugin::aroundDispatch</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Controller\Plugin\Account::aroundDispatch</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Controller\Adminhtml\Index\Save::_extractData</td>
        <td>[protected] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Cron\Observer\ProcessCronQueueObserver::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\ConfigurableProduct\Model\Quote\Item\QuantityValidator\Initializer\Option\Plugin\ConfigurableProduct::aroundGetStockItem</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\ConfigurableProduct\Model\Product\Validator\Plugin::aroundValidate</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\ConfigurableProduct\Controller\Adminhtml\Product\Builder\Plugin::aroundBuild</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CmsUrlRewrite\Plugin\Cms\Model\ResourceModel\Page::aroundDelete</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogUrlRewrite\Model\Category\Plugin\Storage::aroundReplace</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogUrlRewrite\Model\Category\Plugin\Store\Group::aroundSave</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogUrlRewrite\Model\Category\Plugin\Store\View::aroundSave</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogUrlRewrite\Model\Category\Plugin\Store\View::aroundDelete</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogUrlRewrite\Model\Category\Plugin\Category\Move::aroundChangeParent</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Search\ReaderPlugin::aroundRead</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Layer\Search\Plugin\CollectionFilter::aroundFilter</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\Fulltext\Plugin\Attribute::aroundSave</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\Fulltext\Plugin\Attribute::aroundDelete</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\Fulltext\Plugin\Store\Group::aroundSave</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\Fulltext\Plugin\Store\View::aroundSave</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\Fulltext\Plugin\Product\Action::aroundUpdateAttributes</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\Fulltext\Plugin\Product\Action::aroundUpdateWebsites</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Block\Plugin\FrontTabPlugin::aroundSetForm</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogRuleConfigurable\Plugin\CatalogRule\Model\Rule\Validation::aroundValidate</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogRule\Plugin\Indexer\Product\Save\ApplyRules::aroundSave</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogRule\Plugin\Indexer\Product\Save\ApplyRulesAfterReindex::aroundReindex</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogInventory\Model\Stock::$eventPrefix</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogInventory\Model\Stock\Item::$eventPrefix</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogInventory\Model\Plugin\AroundProductRepositorySave::aroundSave</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Plugin\Model\ResourceModel\Attribute\Save::aroundSave</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Plugin\QuoteItemProductOption::aroundConvert</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Indexer\Product\Flat\Plugin\IndexerConfigData::aroundGet</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Indexer\Product\Flat\Plugin\IndexerConfigData::$_state</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Indexer\Product\Eav\Plugin\AttributeSet::aroundSave</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Indexer\Category\Product\Plugin\StoreGroup::aroundSave</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Indexer\Category\Flat\Plugin\IndexerConfigData::aroundGet</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Indexer\Category\Flat\Plugin\StoreGroup::aroundSave</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Controller\Adminhtml\Product\AddAttributeToTemplate::$sortOrderBuilder</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Bundle\Model\Plugin\QuoteItem::aroundConvert</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Braintree\Model\Ui\ConfigProvider::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Braintree\Model\Ui\ConfigProvider::PAYPAL_CODE</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Backend\Model\View\Result\Redirect::render</td>
        <td>[protected] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Backend\App\Action\Plugin\MassactionKey::aroundDispatch</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Model\AbstractPaymentTokenFactory</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Model\AccountPaymentTokenFactory</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Model\CreditCardTokenFactory</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\AbstractTokenRenderer</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\CreditmemoDocumentFactory</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\InvoiceDocumentFactory</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\PaymentAdapter</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\ShipmentDocumentFactory</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Shipment\CreationArguments</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Shipment\Notifier</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Shipment\Package</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Shipment\PackageCreation</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Invoice\CreationArguments</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Invoice\Notifier</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Creditmemo\Notifier</td>
        <td>Class was added.</td>
    </tr>
</tbody></table>

<h2 id="interface">Interface</h2>
<table><tbody>
    <tr>
        <th>Target</th>
        <th>What Changed</th>
    </tr>
    <tr>
        <td>Magento\Vault\Block\CardRendererInterface::getIconUrl</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\CardRendererInterface::getIconHeight</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\CardRendererInterface::getIconWidth</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\CardRendererInterface::getToken</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\TokenRendererInterface::getToken</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::getComment</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::getCreatedAt</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::setCreatedAt</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::getEntityId</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::setEntityId</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::getIsVisibleOnFront</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::setIsVisibleOnFront</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::setComment</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::ENTITY_ID</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::IS_VISIBLE_ON_FRONT</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::COMMENT</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::CREATED_AT</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceItemInterface::getOrderItemId</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceItemInterface::getQty</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceItemInterface::setQty</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceItemInterface::setOrderItemId</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::getComment</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::getCreatedAt</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::setCreatedAt</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::getEntityId</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::setEntityId</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::getIsVisibleOnFront</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::setIsVisibleOnFront</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::setComment</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::ENTITY_ID</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::IS_VISIBLE_ON_FRONT</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::COMMENT</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::CREATED_AT</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentItemInterface::getOrderItemId</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentItemInterface::getQty</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentItemInterface::setQty</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentItemInterface::setOrderItemId</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentTrackInterface::getCarrierCode</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentTrackInterface::getTitle</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentTrackInterface::getTrackNumber</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentTrackInterface::setTrackNumber</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentTrackInterface::setTitle</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentTrackInterface::setCarrierCode</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Interception\ChainInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Asset\AssetInterface::getSourceContentType</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\App\Response\HttpInterface::getHttpResponseCode</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\App\Response\HttpInterface::setHeader</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\App\Response\HttpInterface::getHeader</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\App\Response\HttpInterface::clearHeader</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\App\Response\HttpInterface::setStatusHeader</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\App\Response\HttpInterface::appendBody</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\App\Response\HttpInterface::setBody</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\App\Response\HttpInterface::setRedirect</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\CardRendererInterface::getIconUrl</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\CardRendererInterface::getIconHeight</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\CardRendererInterface::getIconWidth</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\CardRendererInterface::getToken</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\TokenRendererInterface::getToken</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::getComment</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::getCreatedAt</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::setCreatedAt</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::getEntityId</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::setEntityId</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::getIsVisibleOnFront</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::setIsVisibleOnFront</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::setComment</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::ENTITY_ID</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::IS_VISIBLE_ON_FRONT</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::COMMENT</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::CREATED_AT</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceItemInterface::getOrderItemId</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceItemInterface::getQty</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceItemInterface::setQty</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceItemInterface::setOrderItemId</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::getComment</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::getCreatedAt</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::setCreatedAt</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::getEntityId</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::setEntityId</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::getIsVisibleOnFront</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::setIsVisibleOnFront</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::setComment</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::ENTITY_ID</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::IS_VISIBLE_ON_FRONT</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::COMMENT</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::CREATED_AT</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentItemInterface::getOrderItemId</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentItemInterface::getQty</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentItemInterface::setQty</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentItemInterface::setOrderItemId</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentTrackInterface::getCarrierCode</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentTrackInterface::getTitle</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentTrackInterface::getTrackNumber</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentTrackInterface::setTrackNumber</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentTrackInterface::setTitle</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentTrackInterface::setCarrierCode</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\ProductAttributeInterface::CODE_TIER_PRICE_FIELD_PERCENTAGE_VALUE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\ProductAttributeInterface::CODE_TIER_PRICE_FIELD_VALUE_TYPE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Api\SearchCriteria\CollectionProcessorInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Api\SearchCriteria\CollectionProcessor\JoinProcessor\CustomJoinInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Api\SearchCriteria\CollectionProcessor\FilterProcessor\CustomFilterInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Api\PaymentMethodListInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Api\Data\PaymentTokenInterfaceFactory</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Store\Api\StoreWebsiteRelationInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\ValidatorResultInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\InvoiceNotifierInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\InvoiceStatisticInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\OrderStateResolverInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\PaymentAdapterInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Validation\InvoiceOrderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Validation\RefundInvoiceInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Validation\RefundOrderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Validation\ShipOrderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Shipment\NotifierInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Shipment\OrderRegistrarInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Invoice\NotifierInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Creditmemo\NotifierInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\InvoiceOrderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\RefundInvoiceInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\RefundOrderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\ShipOrderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Exception\CouldNotInvoiceExceptionInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Exception\CouldNotRefundExceptionInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Exception\CouldNotShipExceptionInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Exception\DocumentValidationExceptionInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\CommentInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\CreditmemoCommentCreationInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\CreditmemoCreationArgumentsInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\CreditmemoItemCreationInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\EntityInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentCreationInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCreationArgumentsInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceItemCreationInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\LineItemInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentCreationInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCreationArgumentsInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentItemCreationInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentPackageCreationInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentTrackCreationInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\TrackInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Api\PaymentMethodListInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Api\Data\PaymentMethodInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Eav\Api\Data\AttributeDefaultValueInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Block\Account\SortLinkInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\ConfigurableProduct\Pricing\Price\ConfigurableOptionsProviderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\ConfigurableProduct\Pricing\Price\LowestPriceOptionsProviderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\ResourceModel\Product\BaseSelectProcessorInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\CategoryListInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\ScopedProductTierPriceManagementInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\CategoryLinkInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\CategorySearchResultsInterface</td>
        <td>Interface was added.</td>
    </tr>
</tbody></table>
