
<h2 id="class">Class</h2>
<table><tbody>
    <tr>
        <th>Target</th>
        <th>What Changed</th>
    </tr>
    <tr>
        <td>Magento\Vault\Block\AbstractCardRenderer::render</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\AbstractCardRenderer::getToken</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\AbstractCardRenderer::getTokenDetails</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Config\Reader\DefaultReader</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Config\Reader\ReaderPool</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Config\Reader\Store</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Config\Reader\Website</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Quote\Setup\Recurring</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\ConfigurableProduct\Plugin\Model\Product</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\ConfigurableProduct\Block\Plugin\Product\Media\Gallery</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\App\Config::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\App\Cache\FlushCacheByTags::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Plugin\PaymentVaultAttributesLoad::aroundGetExtensionAttributes</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\AbstractCardRenderer::render</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\AbstractCardRenderer::getToken</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\AbstractCardRenderer::getTokenDetails</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\User\Model\ResourceModel\User::$_usersTable</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Config\Converter::__construct</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Config\Converter::$_processor</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Config\Processor\Placeholder::_processData</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Config\Processor\Placeholder::_processPlaceholders</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Config\Processor\Placeholder::_getPlaceholder</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Config\Processor\Placeholder::_getValue</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Config\Processor\Placeholder::_setValue</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Config\Processor\Placeholder::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Config\Processor\Placeholder::$request</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Config\Processor\Placeholder::$urlPaths</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Config\Processor\Placeholder::$urlPlaceholder</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Deploy\Model\Deployer::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogUrlRewrite\Model\Category\Plugin\Store\View::aroundSave</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Backend\App\Config::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Backend\App\Config::$_scopePool</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\CreditmemoDocumentFactory</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\InvoiceDocumentFactory</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\PaymentAdapter</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\ShipmentDocumentFactory</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Shipment\CreationArguments</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Shipment\Notifier</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Shipment\Package</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Shipment\PackageCreation</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Invoice\CreationArguments</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Invoice\Notifier</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Creditmemo\Notifier</td>
        <td>Class was added.</td>
    </tr>
</tbody></table>

<h2 id="interface">Interface</h2>
<table><tbody>
    <tr>
        <th>Target</th>
        <th>What Changed</th>
    </tr>
    <tr>
        <td>Magento\Vault\Block\CardRendererInterface::getIconUrl</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\CardRendererInterface::getIconHeight</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\CardRendererInterface::getIconWidth</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\CardRendererInterface::getToken</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\TokenRendererInterface::getToken</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::getComment</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::getCreatedAt</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::setCreatedAt</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::getEntityId</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::setEntityId</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::getIsVisibleOnFront</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::setIsVisibleOnFront</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::setComment</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::ENTITY_ID</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::IS_VISIBLE_ON_FRONT</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::COMMENT</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::CREATED_AT</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceItemInterface::getOrderItemId</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceItemInterface::getQty</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceItemInterface::setQty</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceItemInterface::setOrderItemId</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::getComment</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::getCreatedAt</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::setCreatedAt</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::getEntityId</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::setEntityId</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::getIsVisibleOnFront</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::setIsVisibleOnFront</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::setComment</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::ENTITY_ID</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::IS_VISIBLE_ON_FRONT</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::COMMENT</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::CREATED_AT</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentItemInterface::getOrderItemId</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentItemInterface::getQty</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentItemInterface::setQty</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentItemInterface::setOrderItemId</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentTrackInterface::getCarrierCode</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentTrackInterface::getTitle</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentTrackInterface::getTrackNumber</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentTrackInterface::setTrackNumber</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentTrackInterface::setTitle</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentTrackInterface::setCarrierCode</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\CardRendererInterface::getIconUrl</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\CardRendererInterface::getIconHeight</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\CardRendererInterface::getIconWidth</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\CardRendererInterface::getToken</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\TokenRendererInterface::getToken</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::getComment</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::getCreatedAt</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::setCreatedAt</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::getEntityId</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::setEntityId</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::getIsVisibleOnFront</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::setIsVisibleOnFront</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::setComment</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::ENTITY_ID</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::IS_VISIBLE_ON_FRONT</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::COMMENT</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentInterface::CREATED_AT</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceItemInterface::getOrderItemId</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceItemInterface::getQty</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceItemInterface::setQty</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceItemInterface::setOrderItemId</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::getComment</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::getCreatedAt</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::setCreatedAt</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::getEntityId</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::setEntityId</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::getIsVisibleOnFront</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::setIsVisibleOnFront</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::setComment</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::ENTITY_ID</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::IS_VISIBLE_ON_FRONT</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::COMMENT</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentInterface::CREATED_AT</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentItemInterface::getOrderItemId</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentItemInterface::getQty</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentItemInterface::setQty</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentItemInterface::setOrderItemId</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentTrackInterface::getCarrierCode</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentTrackInterface::getTitle</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentTrackInterface::getTrackNumber</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentTrackInterface::setTrackNumber</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentTrackInterface::setTitle</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentTrackInterface::setCarrierCode</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\ValidatorResultInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\InvoiceNotifierInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\InvoiceStatisticInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\OrderStateResolverInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\PaymentAdapterInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\RefundAdapterInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Validation\InvoiceOrderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Validation\RefundInvoiceInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Validation\RefundOrderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Validation\ShipOrderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Shipment\NotifierInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Shipment\OrderRegistrarInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Invoice\NotifierInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Creditmemo\NotifierInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\InvoiceOrderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\RefundInvoiceInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\RefundOrderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\ShipOrderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Exception\CouldNotInvoiceExceptionInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Exception\CouldNotRefundExceptionInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Exception\CouldNotShipExceptionInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Exception\DocumentValidationExceptionInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\CommentInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\CreditmemoCommentCreationInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\CreditmemoCreationArgumentsInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\CreditmemoItemCreationInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\EntityInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCommentCreationInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceCreationArgumentsInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\InvoiceItemCreationInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\LineItemInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCommentCreationInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentCreationArgumentsInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentItemCreationInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentPackageCreationInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\ShipmentTrackCreationInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\TrackInterface</td>
        <td>Interface was added.</td>
    </tr>
</tbody></table>
