
<h2 id="class">Class</h2>
<table><tbody>
    <tr>
        <th>Target</th>
        <th>What Changed</th>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\Config\Reader\Xml\Converter\DeprecatedFormat</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\ScalableCheckout\Model\Product\Plugin\RemoveQuoteItems</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\ConsumerConfiguration::CONSUMER_NAME</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\ConsumerConfiguration::QUEUE_NAME</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\ConsumerConfiguration::MAX_MESSAGES</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\ConsumerConfiguration::SCHEMA_TYPE</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\ConsumerConfiguration::TYPE_SYNC</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\ConsumerConfiguration::TYPE_ASYNC</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\MessageValidator::__construct</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\Rpc\Consumer::__construct</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\Rpc\Consumer::process</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\Rpc\Publisher::publishToQueue</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\ForeignKey\ObjectRelationProcessor\Plugin::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Staging\Ui\Component\Listing\Column\Entity\UpdateActions::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Staging\Ui\Component\Listing\Column\Entity\UpdateActions::$entityIdentifier</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Staging\Ui\Component\Listing\Column\Entity\UpdateActions::$entityColumn</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Staging\Ui\Component\Listing\Column\Entity\UpdateActions::$jsModalProvider</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Staging\Ui\Component\Listing\Column\Entity\UpdateActions::$jsLoaderProvider</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\GiftCardAccount\Model\Plugin\InvoiceRepository::beforeSave</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\GiftCard\Model\Plugin\QuoteItem::aroundConvert</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\GiftCard\Model\Plugin\QuoteItem::$_scopeConfig</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\GiftCard\Helper\GiftRegistry\Plugin::aroundCanAddToGiftRegistry</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Enterprise\Model\Plugin\StoreSwitcher::aroundGetHintUrl</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CustomerBalance\Model\Plugin\InvoiceRepository::beforeSave</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogStaging\Model\Mview\View\Category\Attribute\Subscription::buildStatement</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogStaging\Model\Mview\View\Category\Attribute\Subscription::$entityMetadata</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Amqp\Setup\Recurring::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Amqp\Setup\Recurring::$topology</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Amqp\Model\Config::__construct</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Amqp\Model\Config::__destruct</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Amqp\Model\Config::getValue</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Amqp\Model\Config::getChannel</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Amqp\Model\Config::QUEUE_CONFIG</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Amqp\Model\Config::AMQP_CONFIG</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Amqp\Model\Config::HOST</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Amqp\Model\Config::PORT</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Amqp\Model\Config::USERNAME</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Amqp\Model\Config::PASSWORD</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Amqp\Model\Config::VIRTUALHOST</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Amqp\Model\Config::SSL</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Amqp\Model\Exchange::enqueue</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Amqp\Model\Exchange::RPC_CONNECTION_TIMEOUT</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Amqp\Model\Queue::__construct</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Amqp\Model\Queue::dequeue</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Amqp\Model\Queue::acknowledge</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Amqp\Model\Queue::subscribe</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Amqp\Model\Queue::reject</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Amqp\Model\Queue::push</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Amqp\Model\Topology::install</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Amqp\Model\Topology::$logger</td>
        <td>[protected] Property has been removed.</td>
    </tr>
</tbody></table>

<h2 id="interface">Interface</h2>
<table><tbody>
    <tr>
        <th>Target</th>
        <th>What Changed</th>
    </tr>
    <tr>
        <td>Magento\Framework\Bulk\BulkManagementInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Bulk\BulkStatusInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Bulk\BulkSummaryInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Bulk\OperationInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Bulk\OperationManagementInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\GiftCardAccount\Api\Data\GiftCardInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\AsynchronousOperations\Api\Data\BulkSummaryInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\AsynchronousOperations\Api\Data\OperationInterface</td>
        <td>Interface was added.</td>
    </tr>
</tbody></table>
