
<h2 id="class">Class</h2>
<table><tbody>
    <tr>
        <th>Target</th>
        <th>What Changed</th>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\PublisherFactory</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\PublisherProxy</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\Config\Converter</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\Config\Reader</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\Config\SchemaLocator</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VisualMerchandiser\Block\Adminhtml\Category\Plugin</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VisualMerchandiser\Block\Adminhtml\Category\Tab\Merchandiser</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VisualMerchandiser\Block\Adminhtml\Category\Tab\Merchandiser\Grid</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VisualMerchandiser\Block\Adminhtml\Category\Tab\Merchandiser\Tile</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Setup\InstallData</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Observer\Backend\AdminUserDeleteAfterObserver</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Observer\Backend\PrepareFormObserver</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Observer\Backend\RemoveVersionCallback</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Model\Config</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Model\Increment</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Model\Source\Versioning</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Model\ResourceModel\Page\Revision</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Model\ResourceModel\Page\Version</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Model\ResourceModel\Page\Version\Collection</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Model\ResourceModel\Page\Revision\Collection</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Model\ResourceModel\Page\Collection\AbstractCollection</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Model\Plugin\CmsPage</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Model\Page\Revision</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Model\Page\RevisionManagement</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Model\Page\RevisionProvider</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Model\Page\RevisionRepository</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Model\Page\Version</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Model\Page\VersionRepository</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Controller\Page\Revision\Drop</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Controller\Adminhtml\Cms\Page\MassDeleteVersions</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Controller\Adminhtml\Cms\Page\Versions</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Controller\Adminhtml\Cms\Page\Version\Delete</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Controller\Adminhtml\Cms\Page\Version\Edit</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Controller\Adminhtml\Cms\Page\Version\MassDeleteRevisions</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Controller\Adminhtml\Cms\Page\Version\MassDeleteVersions</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Controller\Adminhtml\Cms\Page\Version\NewAction</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Controller\Adminhtml\Cms\Page\Version\Revisions</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Controller\Adminhtml\Cms\Page\Version\Save</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Controller\Adminhtml\Cms\Page\Version\VersionProvider</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Controller\Adminhtml\Cms\Page\Version\Versions</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Controller\Adminhtml\Cms\Page\Revision\Delete</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Controller\Adminhtml\Cms\Page\Revision\Edit</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Controller\Adminhtml\Cms\Page\Revision\MassDeleteVersions</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Controller\Adminhtml\Cms\Page\Revision\NewAction</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Controller\Adminhtml\Cms\Page\Revision\Preview</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Controller\Adminhtml\Cms\Page\Revision\Publish</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Controller\Adminhtml\Cms\Page\Revision\Save</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Controller\Adminhtml\Cms\Page\Revision\Versions</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Block\Adminhtml\Cms\Page</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Block\Adminhtml\Cms\Page\Edit</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Block\Adminhtml\Cms\Page\Version\Edit</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Block\Adminhtml\Cms\Page\Version\Edit\Form</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Block\Adminhtml\Cms\Page\Version\Edit\Revisions</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Block\Adminhtml\Cms\Page\Revision\Edit</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Block\Adminhtml\Cms\Page\Revision\Edit\Form</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Block\Adminhtml\Cms\Page\Revision\Edit\Info</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Block\Adminhtml\Cms\Page\Revision\Edit\Tabs</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Block\Adminhtml\Cms\Page\Revision\Edit\Tab\Content</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Block\Adminhtml\Cms\Page\Revision\Edit\Tab\Design</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Block\Adminhtml\Cms\Page\Revision\Edit\Tab\Meta</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Block\Adminhtml\Cms\Page\Preview\Buttons</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Block\Adminhtml\Cms\Page\Preview\Form</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Block\Adminhtml\Cms\Page\Preview\Revision</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Block\Adminhtml\Cms\Page\Edit\Tab\Versions</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\App\Preview</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\App\FrontController\AdminSessionPlugin</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\App\Action\Plugin\Design</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Solr\Model\ResourceModel\Index</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Solr\Model\Indexer\Fulltext\Plugin\CustomerGroup</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Solr\Model\Client\SolariumFactory</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Solr\Controller\Adminhtml\Search\System\Config\TestConnection\Ping</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Reward\Observer\PrepareSalesruleForm</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\PromotionPermissions\Block\Adminhtml\Promo\Quote\Edit\Plugin</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\PromotionPermissions\Block\Adminhtml\Promo\Catalog\Edit\Plugin</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\PricePermissions\Observer\AdminhtmlCatalogProductEditPrepareFormObserver</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\PersistentHistory\Observer\SkipWebsiteRestrictionObserver</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogPermissions\Model\Indexer\Plugin\IndexerState</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogPermissions\Model\Adminhtml\AddPermissionTabOnCategoryEditPageObserver</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogEvent\Block\Adminhtml\Catalog\Category\Edit\Buttons</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Banner\Block\Adminhtml\Permission\Monitor</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Amqp\Setup\InstallData</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\BatchConsumer::configure</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\BatchConsumer::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\Consumer::configure</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\Consumer::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\ConsumerConfiguration::getCallback</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\ConsumerConfiguration::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\ConsumerConfiguration::CALLBACK</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\ConsumerFactory::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\MessageEncoder::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\MessageEncoder::getTopicSchema</td>
        <td>[protected] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\MessageEncoder::convertMessage</td>
        <td>[protected] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\Publisher::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\Config\Data::getExchangeByTopic</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\Config\Data::getQueuesByTopic</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\Config\Data::getConnectionByTopic</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\Config\Data::getConnectionByConsumer</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\Config\Data::getMessageSchemaType</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\Config\Data::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\VisualMerchandiser\Controller\Adminhtml\Position::_isAllowed</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\VisualMerchandiser\Controller\Adminhtml\Products\MassAssign::add</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\VisualMerchandiser\Controller\Adminhtml\Products\MassAssign::remove</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\VisualMerchandiser\Controller\Adminhtml\Products\MassAssign::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\VisualMerchandiser\Controller\Adminhtml\Products\MassAssign::$cache</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\VisualMerchandiser\Controller\Adminhtml\Products\MassAssign::$cacheKey</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Observer\Backend\CmsPageSaveAfterObserver::createNewInitialVersionRevision</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Observer\Backend\CmsPageSaveAfterObserver::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Observer\Backend\CmsPageSaveAfterObserver::$pageVersionFactory</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Observer\Backend\CmsPageSaveAfterObserver::$backendAuthSession</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Observer\Backend\CmsPageSaveBeforeObserver::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Observer\Backend\CmsPageSaveBeforeObserver::$config</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Model\Logging::postDispatchCmsRevisionPreview</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Model\Logging::postDispatchCmsRevisionPublish</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Model\ResourceModel\Hierarchy\Node::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Model\ResourceModel\Hierarchy\Node\Collection::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Controller\Adminhtml\Cms\Hierarchy::_isAllowed</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Controller\Adminhtml\Cms\Page\Edit::__construct</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Controller\Adminhtml\Cms\Page\Edit::execute</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Controller\Adminhtml\Cms\Page\Edit::$pageLoader</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Controller\Adminhtml\Cms\Page\Edit::$_handles</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Controller\Adminhtml\Cms\Page\Edit::$_cmsConfig</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Controller\Adminhtml\Cms\Page\Edit::$resultPageFactory</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\TargetRule\Controller\Adminhtml\Targetrule::_isAllowed</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Support\Model\Report::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Support\Model\ResourceModel\Report\DataCount\ProductAttributes::$catalogConnection</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Support\Model\Report\DataProvider::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Support\Model\Report\Group\General\DataCountSection::$storeConnection</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Support\Model\Report\Group\General\DataCountSection::$taxConnection</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Support\Model\Report\Group\General\DataCountSection::$customerConnection</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Support\Model\Report\Group\General\DataCountSection::$customerSegmentConnection</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Support\Model\Report\Group\General\DataCountSection::$orderConnection</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Support\Model\Report\Group\General\DataCountSection::$catalogConnection</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Support\Model\Report\Group\General\DataCountSection::$salesRuleConnection</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Support\Model\Report\Group\General\DataCountSection::$targetRuleConnection</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Support\Model\Report\Group\General\DataCountSection::$cmsConnection</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Support\Model\Report\Group\General\DataCountSection::$bannerConnection</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Support\Model\Report\Group\General\DataCountSection::$urlRewriteConnection</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Support\Model\Report\Group\Data\AbstractDataGroup::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Support\Model\Report\Group\Data\AbstractDuplicateSection::getInfoDuplicateAttributeById</td>
        <td>[protected] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Support\Controller\Adminhtml\Backup::_isAllowed</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Support\Controller\Adminhtml\Report::_isAllowed</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Support\Controller\Adminhtml\Backup\Download::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Support\Controller\Adminhtml\Backup\Download::$file</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Solr\SearchAdapter\ConnectionManager::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Solr\Model\Indexer\IndexerHandler::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Solr\Model\Adapter\AbstractAdapter::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Solr\Model\Adapter\DocumentDataMapper::$dateFormats</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Solr\Model\Adapter\FieldMapper::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Solr\Helper\Data::isThirdPartyEngineAvailable</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Solr\Helper\Data::$_isThirdPartyEngineAvailable</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Solr\Block\Adminhtml\System\Config\TestConnection::_prepareLayout</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Solr\Block\Adminhtml\System\Config\TestConnection::render</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Solr\Block\Adminhtml\System\Config\TestConnection::_getElementHtml</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\ScheduledImportExport\Controller\Adminhtml\Scheduled\Operation::_isAllowed</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\SalesArchive\Controller\Adminhtml\Archive::_isAllowed</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\SalesArchive\Controller\Adminhtml\Archive\Add::_isAllowed</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\SalesArchive\Controller\Adminhtml\Archive\Creditmemos::_isAllowed</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\SalesArchive\Controller\Adminhtml\Archive\Invoices::_isAllowed</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\SalesArchive\Controller\Adminhtml\Archive\MassAdd::_isAllowed</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\SalesArchive\Controller\Adminhtml\Archive\MassRemove::_isAllowed</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\SalesArchive\Controller\Adminhtml\Archive\Remove::_isAllowed</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\SalesArchive\Controller\Adminhtml\Archive\Shipments::_isAllowed</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Rma\Controller\Adminhtml\Rma::_isAllowed</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Rma\Controller\Adminhtml\Rma\Item\Attribute::_isAllowed</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Reward\Controller\Adminhtml\Reward\Rate::_isAllowed</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Reward\Controller\Adminhtml\Customer\Reward::_isAllowed</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\ResourceConnections\DB\ConnectionAdapter\Mysql::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\ResourceConnections\DB\ConnectionAdapter\Mysql\Builder::build</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\ResourceConnections\DB\Adapter\Pdo\MysqlProxy::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Reminder\Controller\Adminhtml\Reminder::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\PricePermissions\Observer\AdminhtmlBlockHtmlBeforeObserver::_hidePriceElements</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\PersistentHistory\Model\CustomerEmulator::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\PersistentHistory\Model\Observer::emulateCompareProductsBlock</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\PersistentHistory\Model\Observer::initReorderSidebar</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\MysqlMq\Setup\InstallData::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\MysqlMq\Model\Driver\Exchange::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\MysqlMq\Model\Driver\Queue::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\MultipleWishlist\Controller\Index\Add::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\MultipleWishlist\Controller\Index\Copyitem::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\MultipleWishlist\Controller\Index\Copyitems::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\MultipleWishlist\Controller\Index\Deletewishlist::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\MultipleWishlist\Controller\Index\Editwishlist::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\MultipleWishlist\Controller\Index\Moveitem::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\MultipleWishlist\Controller\Index\Moveitems::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\MultipleWishlist\Controller\Adminhtml\Report\Customer\Wishlist::_isAllowed</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\MessageQueue\Console\ConsumerListCommand::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\MessageQueue\Console\StartConsumerCommand::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Logging\Controller\Adminhtml\Logging\Archive::_isAllowed</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Logging\Controller\Adminhtml\Logging\ArchiveGrid::_isAllowed</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Logging\Controller\Adminhtml\Logging\Details::_isAllowed</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Logging\Controller\Adminhtml\Logging\Download::_isAllowed</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Logging\Controller\Adminhtml\Logging\ExportCsv::_isAllowed</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Logging\Controller\Adminhtml\Logging\ExportXml::_isAllowed</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Logging\Controller\Adminhtml\Logging\Grid::_isAllowed</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Logging\Controller\Adminhtml\Logging\Index::_isAllowed</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\GiftWrapping\Setup\UpgradeData::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\GiftWrapping\Controller\Adminhtml\Giftwrapping::_isAllowed</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\GiftRegistry\Helper\Data::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\GiftRegistry\Helper\Data::$productRepository</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\GiftRegistry\Controller\Adminhtml\Giftregistry::_isAllowed</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\GiftRegistry\Controller\Adminhtml\Giftregistry\Customer::_isAllowed</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\GiftCardAccount\Controller\Adminhtml\Giftcardaccount::_isAllowed</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\GiftCard\Pricing\Price\ConfiguredPrice::getAmount</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\GiftCard\Model\Attribute\Backend\Giftcard\Amount::__construct</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\GiftCard\Model\Attribute\Backend\Giftcard\Amount::afterLoad</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\GiftCard\Model\Attribute\Backend\Giftcard\Amount::afterSave</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\GiftCard\Model\Attribute\Backend\Giftcard\Amount::afterDelete</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\GiftCard\Model\Attribute\Backend\Giftcard\Amount::$_storeManager</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\GiftCard\Model\Attribute\Backend\Giftcard\Amount::$_directoryHelper</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Doc\Document\Content::$writeFactory</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CustomerSegment\Model\Segment\Condition\Segment::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\CustomerCustomAttributes\Controller\Adminhtml\Customer\Attribute::_isAllowed</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CustomerCustomAttributes\Controller\Adminhtml\Customer\Address\Attribute::_isAllowed</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CustomerBalance\Controller\Adminhtml\Customerbalance::_isAllowed</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogPermissions\Observer\CheckQuotePermissionsObserver::_initPermissionsOnQuoteItems</td>
        <td>[protected] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogPermissions\Model\Indexer\AbstractAction::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogPermissions\Model\Indexer\Category\Action\Rows::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogPermissions\Block\Adminhtml\Catalog\Category\Tab\Permissions::canShowTab</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogPermissions\Block\Adminhtml\Catalog\Category\Tab\Permissions::isHidden</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogEvent\Model\ResourceModel\Event::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogEvent\Model\ResourceModel\Event\Collection::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogEvent\Controller\Adminhtml\Catalog\Event::_isAllowed</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogEvent\Block\Event\AbstractEvent::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogEvent\Block\Event\AbstractEvent::$_localeResolver</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogEvent\Block\Event\Lister::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogEvent\Block\Catalog\Product\Event::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogEvent\Block\Catalog\Category\Event::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Banner\Controller\Adminhtml\Banner::_isAllowed</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Amqp\Model\Exchange::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Amqp\Model\Queue::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Amqp\Model\Topology::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\AdminGws\Model\Blocks::widgetCatalogEventCategoryEditButtons</td>
        <td>[public] Method has been removed.</td>
    </tr>
</tbody></table>

<h2 id="interface">Interface</h2>
<table><tbody>
    <tr>
        <th>Target</th>
        <th>What Changed</th>
    </tr>
    <tr>
        <td>Magento\GiftCard\Api\Data\GiftcardAmountInterface::getAttributeId</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\GiftCard\Api\Data\GiftcardAmountInterface::setAttributeId</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Controller\Adminhtml\Cms\Page\RevisionInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Api\PageRevisionManagementInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Api\PageRevisionRepositoryInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Api\PageVersionRepositoryInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Api\Data\PageRevisionInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Api\Data\PageRevisionSearchResultsInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Api\Data\PageVersionInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Api\Data\PageVersionSearchResultsInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Solr\Model\Client\FactoryInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Solr\Helper\ClientOptionsInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\ConsumerConfigurationInterface::getCallback</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\ConsumerConfigurationInterface::getType</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\ConsumerConfigurationInterface::getHandlers</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\ConsumerConfigurationInterface::getTopicNames</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\ConsumerConfigurationInterface::getMessageSchemaType</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\ConsumerConfigurationInterface::getQueue</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\ConsumerInterface::configure</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\MessageQueue\QueueInterface::push</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\GiftCardAccount\Api\GuestGiftCardAccountManagementInterface::deleteByQuoteId</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\GiftCard\Api\Data\GiftcardAmountInterface::getAttributeId</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\GiftCard\Api\Data\GiftcardAmountInterface::setAttributeId</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Staging\Api\UpdateRepositoryInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Staging\Api\VersionCookieManagerInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Staging\Api\Data\UpdateInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Staging\Api\Data\UpdateSearchResultInterface</td>
        <td>Interface was added.</td>
    </tr>
</tbody></table>
