{% assign playlists = (site.videos | where: 'layout', 'videos' | where: 'group', page.group ) %}
{% for playlist in playlists %}

  {% if page.url != '/videos/' %}
  <li class="breadcrumb-item" property="itemListElement" typeof="ListItem">
    <a href="{{ site.baseurl}}/videos/"><span property="name">Videos</span></a>
  </li>
  {% endif %}

  {% if playlist.url != page.url %}
  <li class="breadcrumb-item" property="itemListElement" typeof="ListItem">
    {% if site.baseurl == "/" %}
    <a href="{{ playlist.url }}">
    {% else %}
    <a href="{{ site.baseurl }}{{ playlist.url }}">
    {% endif %}
    <span property="name">{{ playlist.title }}</span></a>
  </li>
  <li class="breadcrumb-item active" property="itemListElement" typeof="ListItem">
    <span property="name">{{ page.title }}</span>
  </li>
  {% else %}
  <li class="breadcrumb-item active" property="itemListElement" typeof="ListItem">
    <span property="name">{{ playlist.title }}</span>
  </li>
  {% endif %}

{% endfor %}
