<div class="video">
  {% if site.baseurl == "/" %}
  <a href="{{ video.url }}">
  {% else %}
  <a href="{{site.baseurl}}{{ video.url }}">
  {% endif %}
    <span class="thumbnail-wrap">
      {% if video.thumbnail %}
      <img class="thumbnail" src="{{ site.baseurl}}/videos/{{ video.thumbnail }}" />
      {% else %}
      <img class="thumbnail" src="https://img.youtube.com/vi/{{ video.youtube_id }}/mqdefault.jpg" />
      {% endif %} 
      <span class="duration">{{ video.duration }}</span>
    </span>
    <span class="title">{{ video.title }}</span>
  </a>
</div>
