{% if page.guide_version == "2.0" %}
<div class="message-banner">
  <a href="http://devdocs.magento.com/guides/v2.0/release-notes/ReleaseNotes2.0.18CE.html" target="_blank">Magento 2.0.18</a> is the final 2.0.x release. After March 2018, Magento 2.0.x will no longer receive security patches, quality fixes, or documentation updates.</br> To maintain your site's performance, security, and PCI compliance, upgrade to the latest version of Magento.
</div>
{% endif %}

{% if page.guide_version == "2.3" %}
<div class="message-banner">
    This is the 2.3 Alpha release version of Magento documentation. Content in this version is subject to change.
</div>
{% endif %}
