<ul class="nav footer-links">
  <li><a href="https://github.com/magento/devdocs/blob/master/.github/CONTRIBUTING.md">Become a Contributor</a>
  <li><a href="https://magento.github.io/glossary/index.html?audience=developer">Glossary</a></li>
  <li><a href="http://magento.com/legal/terms/privacy/">Privacy Policy</a></li>
  <li><a href="http://magento.com/legal/terms/">Terms of Service</a></li>
  <li><a href="http://magento.com/legal/licensing/">License/Trademark FAQ</a></li>
  <!-- If the page is in the root, the link points to the default version of release notes.
       The default version is set in the config.yaml.
    {%- capture release-notes -%}
      {%- unless page.baseurl == empty -%}
        {{page.baseurl}}/release-notes/bk-release-notes.html
      {%- else -%}
        /guides/v{{ site.version }}/release-notes/bk-release-notes.html
      {%- endunless -%}
    {%- endcapture -%}
    -->
  <li><a href="{{release-notes}}">Release Notes</a></li>
  <li><a href="{{ site.baseurl }}/magento-third-party.html">Third-Party Licenses</a></li>
</ul>
