{% assign item = include.item %}
{% assign base = '' %}

{% if item.versions.size == nil or item.versions contains page.guide_version %}
  {% if item.url contains 'http' %}
  {% else %}
      {% if page.guide_version %}
        {% assign base = page.guide_version | prepend: "guides/v" | prepend: site.baseurl | prepend: '/' %}
      {% else %}
        {% assign base = site.version | prepend: "guides/v" | prepend: site.baseurl | prepend: '/' %}
      {% endif %}
  {% endif %}
  <li>
    <a href="{{ base }}{{ item.url }}">{{ item.label }}</a>
  </li>
{% elsif item.versions == 0 %}
  {% if item.url contains 'http' %}
  {% else %}
    {% assign base = site.baseurl %}
  {% endif %}
  <li>
    <a href="{{ base }}{{ item.url }}">{{ item.label }}</a>
  </li>
{% endif %}
