{%- assign item = include.item -%}

{%- if page.guide_version -%}
  {%- assign compare_version = page.guide_version -%}
{%- else -%}
  {%- assign compare_version = site.version -%}
{%- endif -%}

{%- unless item.exclude_versions contains compare_version -%}
{%- if item.include_versions.size == nil or item.include_versions contains compare_version or item.include_versions contains 'all' -%}
  {%- assign base = '' -%}
  {%- if item.versionless -%}
    {%- assign base = site.baseurl -%}
  {%- else -%}
    {%- if page.guide_version -%}
      {%- assign base = page.baseurl -%}
    {%- else -%}
      {%- assign base = site.version | prepend: "/guides/v" | prepend: site.baseurl -%}
    {%- endif -%}
  {%- endif -%}
  {%- if item.url contains 'http' -%}
    {%- assign base = '' -%}
  {%- endif -%}
  <li>
    <a href="{{ base }}{{ item.url }}">{{ item.label }}</a>
  </li>
{%- endif -%}
{%- endunless -%}
