<!-- page-header -->
<section class="page-intro">
{% if page.guide_version != nil and page.guide_version != site.version %}
  <div class="message-banner version-banner">
    You are reading the documentation for version {{page.guide_version}}. Magento {{site.version}} is the latest version available.
    Ensure you are reading the documentation for your version of Magento.
  </div>
{% endif %}

{% if page.ee_only == true %}
<span class="ee-only">{{site.data.var.ee}} only</span>
{% endif %}

{% if page.subtitle %}
<h1 class="page-subtitle">{{ page.subtitle }}</h1>
{% endif %}

{% if page.title == "How to Add a New Table to a Database" %}
  <div class="message-banner">
    This tutorial applies to Magento 2.2.x only. For Magento 2.3.x, see <a href="https://devdocs.magento.com/guides/v2.3/extension-dev-guide/declarative-schema">Declarative Schema</a>.
  </div>
{% endif %}

<h1 class="page-heading">{{ page.title }}</h1>
</section>
