<div class="page-info">

  {% if page.last_modified_at %}
  <div class="page-updated">
    <img src="{{ site.baseurl }}/i/icons/time.svg" alt="Updated" />
    <time id="last-modified-at" itemprop="dateModified" datetime="{{ page.last_modified_at | date: "%Y-%m-%d" }}">
      {{ page.last_modified_at | date_to_string: "ordinal", "US" }}
    </time>
  </div>
  {% endif %}

  {% if page.contributor_link %}
    <div class="page-contributor">
      <a href="{{ page.contributor_link }}" target="_blank">
        Thanks to {{ page.contributor_name }} for contributing this topic
      </a>
    </div>
  {% endif %}

  {% if page.github_link %}
  <div class="github-link">
    <a class="improve-page" href="{{ page.github_files }}{{ page.github_path }}" target="_blank" rel="noopener">
      Edit this page on GitHub
    </a>
  </div>
  {% endif %}

  {% if page.feedback_link %}
  <div class="new-issue">
    <a href="{{ page.github_repo }}issues/new?title=Feedback on page: {{ page.url }}" target="_blank" rel="noopener">
      Give us feedback
    </a>
  </div>
  {% endif %}

</div>
