{% assign item = include.section %}
{% if item.versions == nil or item.versions contains page.guide_version or item.versions == 0 %}
{% assign children = item.children %}

{% if item.versions == 0 %}
  {% assign item_url = item.url %}
{% else %}
  {% if page.guide_version %}
    {% capture item_url %}{{ page.baseurl }}{{ item.url }}{% endcapture %}
  {% else %}
    {% capture item_url %}{{ site.baseurl }}/guides/v{{ site.version }}{{ item.url }}{% endcapture %}
  {% endif %}
{% endif %}

{% if item.url contains 'http' %}
  {% assign item_url = item.url %}
{% endif %}

<li class="{% if page.url == item_url %}active{% endif %} {{ item.class }}">

    {% if item.url %}
    <a href="{{ item_url }}">{{ item.label }}</a>
    {% else %}
    <span>{{ item.label }}</span>
    {% endif %}

    {% if children %}
    <ul>
      {% for child in children %}
         {% include layout/toc-entry.html section=child %}
      {% endfor %}
    </ul>
    {% endif %}
</li>
{% endif %}
