{% if page.layout == 'home' %}
{% assign versions = site.versions %}
{% else %}
{% assign versions = page.versions %}
{% endif %}

{% if versions.size > 1 %}
<div class="version-switcher dropdown" data-version="{{ page.guide_version }}">
	<button id="version-switcher-button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Magento {{ page.guide_version }}
    </button>

	<ul class="dropdown-menu dropdown-menu-left" aria-labelledby="version-switcher-button">
		{% for version in versions %}
		<li><a class="dropdown-item" href="{{ site.baseurl }}{{ version.url }}">Magento {{ version.name }}</a></li>
		{% endfor %}
  </ul>
</div>
{% elsif versions.size == 1 %}
<div class="version-switcher dropdown">
	<button class="btn dropdown-toggle" disabled>
		Magento {{ page.guide_version }}
	</button>
</div>
{% endif %}
