<h3 id="ee-classes-200-210">{{ site.data.var.ee }} only changes in classes</h3>
<table><tbody>
<tr>
    <th>What changed</th>
    <th>How changed</th>
</tr>
    <tr>
        <td>Magento\Framework\MessageQueue\ConsumerConfiguration::CALLBACK</td>
        <td>Constant has been removed.</td>
    </tr>
</tbody></table>

<h3 id="ee-interfaces-200-210">{{ site.data.var.ee }} only changes in interfaces</h3>
<table><tbody>
<tr>
    <th>What changed</th>
    <th>How changed</th>
</tr>
    <tr>
        <td>Magento\GiftCard\Api\Data\GiftcardAmountInterface::getAttributeId</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\GiftCard\Api\Data\GiftcardAmountInterface::setAttributeId</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Worldpay\Api\GuestPaymentInformationManagementProxyInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Api\HierarchyNodeRepositoryInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Api\Data\HierarchyNodeInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\VersionsCms\Api\Data\HierarchyNodeSearchResultsInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Staging\Model\Entity\Update\Action\ActionInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Staging\Api\UpdateRepositoryInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Staging\Api\Data\UpdateInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Staging\Api\Data\UpdateSearchResultInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\ScalableInventory\Api\Counter\ItemInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\ScalableInventory\Api\Counter\ItemsInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\SalesRuleStaging\Api\SalesRuleStagingInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Reward\Api\RewardManagementInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\GiftWrapping\Api\Data\WrappingInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\GiftWrapping\Api\Data\WrappingSearchResultsInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\GiftRegistry\Api\ShippingMethodManagementInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\GiftRegistry\Api\GuestCart\ShippingMethodManagementInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\GiftCardAccount\Api\GiftCardAccountManagementInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\GiftCardAccount\Api\GiftCardAccountRepositoryInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\GiftCardAccount\Api\GuestGiftCardAccountManagementInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\GiftCardAccount\Api\Data\GiftCardAccountInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\GiftCardAccount\Api\Data\GiftCardAccountSearchResultInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\GiftCard\Api\Data\GiftCardOptionInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\CmsStaging\Api\BlockStagingInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\CmsStaging\Api\PageStagingInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\CatalogStaging\Api\CategoryStagingInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\CatalogStaging\Api\ProductStagingInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\CatalogRuleStaging\Api\CatalogRuleStagingInterface</td>
        <td>Interface was added.</td>
    </tr>
</tbody></table>
