<h3 id="ee-classes-222-223">{{ site.data.var.ee }} only changes in classes</h3>
<table><tbody>
<tr>
    <th>What Changed</th>
    <th>How Changed</th>
</tr>
    <tr>
        <td>Magento\Rma\Block\Adminhtml\Rma\Edit\Tab\General\Shipping\Methods::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\Model\Config::__construct</td>
        <td>[public] Added optional parameter(s).</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\Elasticsearch5\SearchAdapter\Mapper</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\Elasticsearch5\SearchAdapter\Query\Builder</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\Elasticsearch5\Model\Adapter\FieldType</td>
        <td>Class was added.</td>
    </tr>
</tbody></table>
