
<h3 id="ee_2.3.0-2.4.0-develop-class">Class changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>Magento\Eway\Block\Payment</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\VisualMerchandiser\Model\Rules::getProductCollection</td>
        <td>[protected] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\VisualMerchandiser\Block\Adminhtml\Category\Merchandiser\Tile::_construct</td>
        <td>[protected] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\SalesArchive\Block\Adminhtml\Sales\Order\View\Buttons::__construct</td>
        <td>[public] Method parameter typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Rma\Block\Adminhtml\Order\View\Buttons::__construct</td>
        <td>[public] Method parameter typing changed.</td>
    </tr>
    <tr>
        <td>Magento\CustomAttributeManagement\Block\Form\Renderer\AbstractRenderer::getValue</td>
        <td>[public] Method return typing changed.</td>
    </tr>
    <tr>
        <td>Magento\Rma\Block\Email\Items::getCollection</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\CustomAttributeManagement\Block\Form\Renderer\Multiselect::getValue</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\AdvancedCheckout\Model\Cart::checkItems</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\AdminGws\Model\Collections::addReportCollectionStoreFilter</td>
        <td>[public] Method has been added.</td>
    </tr>
</tbody></table>

<h3 id="ee_2.3.0-2.4.0-develop-interface">Interface changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>Magento\Worldpay\Api\GuestPaymentInformationManagementProxyInterface</td>
        <td>Interface was removed.</td>
    </tr>
</tbody></table>

<h3 id="ee_2.3.0-2.4.0-develop-database">Database changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>magento_sales_order_grid_archive/signifyd_guarantee_status</td>
        <td>Column was removed</td>
    </tr>
    <tr>
        <td>magento_sales_order_grid_archive/signifyd_guarantee_status</td>
        <td>Column was removed</td>
    </tr>
    <tr>
        <td>magento_sales_order_grid_archive/signifyd_guarantee_status</td>
        <td>Column was removed</td>
    </tr>
    <tr>
        <td>magento_sales_order_grid_archive/signifyd_guarantee_status</td>
        <td>Column was removed</td>
    </tr>
    <tr>
        <td>magento_sales_order_grid_archive/signifyd_guarantee_status</td>
        <td>Column was removed</td>
    </tr>
    <tr>
        <td>magento_sales_order_grid_archive/signifyd_guarantee_status</td>
        <td>Column was removed</td>
    </tr>
    <tr>
        <td>visual_merchandiser_rule/constraint</td>
        <td>Module db schema whitelist reduced (visual_merchandiser_rule/constraint).</td>
    </tr>
    <tr>
        <td>magento_versionscms_hierarchy_node/constraint</td>
        <td>Module db schema whitelist reduced (magento_versionscms_hierarchy_node/constraint).</td>
    </tr>
    <tr>
        <td>magento_targetrule_product/constraint</td>
        <td>Module db schema whitelist reduced (magento_targetrule_product/constraint).</td>
    </tr>
    <tr>
        <td>magento_sales_order_grid_archive/column</td>
        <td>Module db schema whitelist reduced (magento_sales_order_grid_archive/column).</td>
    </tr>
    <tr>
        <td>magento_reminder_rule/constraint</td>
        <td>Module db schema whitelist reduced (magento_reminder_rule/constraint).</td>
    </tr>
    <tr>
        <td>magento_giftregistry_item/constraint</td>
        <td>Module db schema whitelist reduced (magento_giftregistry_item/constraint).</td>
    </tr>
    <tr>
        <td>wishlist_item/constraint</td>
        <td>Module db schema whitelist reduced (wishlist_item/constraint).</td>
    </tr>
    <tr>
        <td>magento_catalogpermissions/constraint</td>
        <td>Module db schema whitelist reduced (magento_catalogpermissions/constraint).</td>
    </tr>
    <tr>
        <td>magento_catalogevent_event/constraint</td>
        <td>Module db schema whitelist reduced (magento_catalogevent_event/constraint).</td>
    </tr>
    <tr>
        <td>magento_banner_catalogrule/constraint</td>
        <td>Module db schema whitelist reduced (magento_banner_catalogrule/constraint).</td>
    </tr>
    <tr>
        <td>magento_banner_salesrule/constraint</td>
        <td>Module db schema whitelist reduced (magento_banner_salesrule/constraint).</td>
    </tr>
    <tr>
        <td>magento_salesrule_filter/constraint</td>
        <td>Module db schema whitelist reduced (magento_salesrule_filter/constraint).</td>
    </tr>
    <tr>
        <td>wishlist_item_option</td>
        <td>Table was added</td>
    </tr>
    <tr>
        <td>wishlist_item_option</td>
        <td>Table was added</td>
    </tr>
    <tr>
        <td>wishlist_item_option</td>
        <td>Table was added</td>
    </tr>
    <tr>
        <td>wishlist_item_option</td>
        <td>Table was added</td>
    </tr>
    <tr>
        <td>wishlist_item_option</td>
        <td>Table was added</td>
    </tr>
    <tr>
        <td>wishlist_item_option</td>
        <td>Table was added</td>
    </tr>
    <tr>
        <td>wishlist_item_option</td>
        <td>Table was added</td>
    </tr>
</tbody></table>

<h3 id="ee_2.3.0-2.4.0-develop-di">Di changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>WorldpayFacade</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>WorldpayCommandPool</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>WorldpayConfig</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>WorldpayDefaultValueHandler</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>WorldpayValueHandlerPool</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>WorldpayCountryValidator</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>WorldpayValidatorPool</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>WorldpayValidator</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>WorldpayLogger</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>WorldpayRefundCommand</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>WorldpayHttpClient</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>WorldpayAcceptHandler</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>EwayVoidGatewayCommand</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>EwayVoidTransactionAction</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>EwayVoidTransferFactory</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>EwayDirectFacade</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>EwayDirectCommandPool</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>EwayDirectCaptureStrategyCommand</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>EwayDirectGatewayCommand</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>EwayDirectDataBuilder</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>EwayDirectTransactionAction</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>EwayDirectTransferFactory</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>EwayDirectResponseHandler</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>EwayConfig</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>EwayDefaultValueHandler</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>EwayValueHandlerPool</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>EwayCountryValidator</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>EwayValidatorPool</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>EwayLogger</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>EwaySharedFacade</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>EwaySharedCommandPool</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>EwaySharedCaptureStrategyCommand</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>EwaySharedGetAccessCodeAction</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>EwaySharedTransferFactory</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>EwayGetAccessCodeDataBuilder</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>EwaySharedUpdateDetailsAction</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>EwaySharedResponseHandler</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>EwayPreAuthCaptureCommand</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>EwayCaptureDataBuilder</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>EwayCaptureTransferFactory</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>EwayCaptureTransactionAction</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>EwayRefundGatewayCommand</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>EwayRefundDataBuilder</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>EwayRefundTransferFactory</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>EwayRefundTransactionAction</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>CybersourceFacade</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>CybersourceCommandPool</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>CybersourceAmountCommand</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>CybersourceAuthorizeCommand</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>CybersourceSASaleCommand</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>CybersourcePaymentSaleRequest</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>CybersourcePaymentAuthorizeRequest</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>CybersourceSaleTransactionBuilder</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>CybersourceAuthorizeTransactionBuilder</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>CybersourceCaptureBuilder</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>CybersourceVoidBuilder</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>CybersourceSoapCommand</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>CybersourceCapture</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>CybersourceVoid</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>CybersourceCancel</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>CybersourceSilentOrderValidator</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>CybersourceTokenTransactionBuilder</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>CybersourcePaymentTokenRequest</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>CybersourceConfig</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>CybersourceDefaultValueHandler</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>CybersourceValueHandlerPool</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>CybersourceCountryValidator</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>CybersourceValidatorPool</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>HtmlConverterZendClient</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>CybersourceTokenResponseHandler</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>CybersourceAmountHandler</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>CybersourceLogger</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>CybersourceSoapClient</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>CybersourceRefundBuilder</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>CybersourceRefund</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>CybersourceSOAPSubscriptionBuilder</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>CybersourceSubscriptionValidator</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>CybersourceSOAPSubscriptionCommand</td>
        <td>Virtual Type was removed</td>
    </tr>
    <tr>
        <td>CybersourceIframeCcConfigProvider</td>
        <td>Virtual Type was removed</td>
    </tr>
</tbody></table>

<h3 id="ee_2.3.0-2.4.0-develop-layout">Layout changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>root</td>
        <td>Container was removed</td>
    </tr>
    <tr>
        <td>response_cancel</td>
        <td>Block was removed</td>
    </tr>
    <tr>
        <td>root</td>
        <td>Container was removed</td>
    </tr>
    <tr>
        <td>response_failure</td>
        <td>Block was removed</td>
    </tr>
    <tr>
        <td>root</td>
        <td>Container was removed</td>
    </tr>
    <tr>
        <td>response_success</td>
        <td>Block was removed</td>
    </tr>
    <tr>
        <td>magento.rma.info</td>
        <td>Block was removed</td>
    </tr>
    <tr>
        <td>magento.rma.info.button</td>
        <td>Block was removed</td>
    </tr>
    <tr>
        <td>eway_payment_script</td>
        <td>Block was removed</td>
    </tr>
    <tr>
        <td>root</td>
        <td>Container was removed</td>
    </tr>
    <tr>
        <td>cybersource_transparent_iframe</td>
        <td>Block was removed</td>
    </tr>
    <tr>
        <td>root</td>
        <td>Container was removed</td>
    </tr>
    <tr>
        <td>cybersource_iframe</td>
        <td>Block was removed</td>
    </tr>
    <tr>
        <td>customer_form_user_attributes</td>
        <td>Block was removed</td>
    </tr>
</tbody></table>

<h3 id="ee_2.3.0-2.4.0-develop-system">System changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>system.xml</td>
        <td>System configuration file was added</td>
    </tr>
    <tr>
        <td>system.xml</td>
        <td>System configuration file was added</td>
    </tr>
    <tr>
        <td>system.xml</td>
        <td>System configuration file was added</td>
    </tr>
    <tr>
        <td>system.xml</td>
        <td>System configuration file was added</td>
    </tr>
</tbody></table>

<h3 id="ee_2.3.0-2.4.0-develop-class-api-membership">Class API membership changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>Magento\TargetRule\Block\Product\AbstractProduct</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\TargetRule\Block\Catalog\Product\ProductList\AbstractProductList</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\GiftWrapping\Block\Adminhtml\Order\Create\AbstractCreate</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\GiftRegistry\Block\Customer\Edit\AbstractEdit</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\AdvancedCheckout\Block\Adminhtml\Sku\Errors\AbstractErrors</td>
        <td>Class was added.</td>
    </tr>
</tbody></table>
