
<h3 id="ee_2.4.0-2.4.1-develop-class">Class changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>Magento\CustomerSegment\Model\ResourceModel\Segment::createSelect</td>
        <td>[public] Method return typing changed.</td>
    </tr>
</tbody></table>

<h3 id="ee_2.4.0-2.4.1-develop-class-api-membership">Class API membership changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>Magento\TargetRule\Block\Product\AbstractProduct</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\AdvancedCheckout\Block\Adminhtml\Sku\AbstractSku</td>
        <td>Class was added.</td>
    </tr>
</tbody></table>
