
<h3 id="ee_2.4.2-2.4.3-develop-class">Class changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>Magento\GiftRegistry\Model\ResourceModel\Item\Collection::_renderFiltersBefore</td>
        <td>[protected] Method has been added.</td>
    </tr>
</tbody></table>

<h3 id="ee_2.4.2-2.4.3-develop-database">Database changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>magento_customersegment_event/PRIMARY</td>
        <td>Primary key was added</td>
    </tr>
    <tr>
        <td>quote_preview/PRIMARY</td>
        <td>Primary key was added</td>
    </tr>
    <tr>
        <td>magento_salesrule_filter/PRIMARY</td>
        <td>Primary key was added</td>
    </tr>
    <tr>
        <td>magento_customersegment_event/PRIMARY</td>
        <td>Primary key was added</td>
    </tr>
    <tr>
        <td>quote_preview/PRIMARY</td>
        <td>Primary key was added</td>
    </tr>
    <tr>
        <td>magento_salesrule_filter/PRIMARY</td>
        <td>Primary key was added</td>
    </tr>
    <tr>
        <td>magento_customersegment_event/PRIMARY</td>
        <td>Primary key was added</td>
    </tr>
    <tr>
        <td>quote_preview/PRIMARY</td>
        <td>Primary key was added</td>
    </tr>
    <tr>
        <td>magento_salesrule_filter/PRIMARY</td>
        <td>Primary key was added</td>
    </tr>
    <tr>
        <td>magento_customersegment_event/PRIMARY</td>
        <td>Primary key was added</td>
    </tr>
    <tr>
        <td>quote_preview/PRIMARY</td>
        <td>Primary key was added</td>
    </tr>
    <tr>
        <td>magento_salesrule_filter/PRIMARY</td>
        <td>Primary key was added</td>
    </tr>
    <tr>
        <td>magento_customersegment_event/segment_event_id</td>
        <td>Column was added</td>
    </tr>
    <tr>
        <td>magento_salesrule_filter/rule_filter_id</td>
        <td>Column was added</td>
    </tr>
    <tr>
        <td>magento_customersegment_event/segment_event_id</td>
        <td>Column was added</td>
    </tr>
    <tr>
        <td>magento_salesrule_filter/rule_filter_id</td>
        <td>Column was added</td>
    </tr>
    <tr>
        <td>magento_customersegment_event/segment_event_id</td>
        <td>Column was added</td>
    </tr>
    <tr>
        <td>magento_salesrule_filter/rule_filter_id</td>
        <td>Column was added</td>
    </tr>
    <tr>
        <td>magento_customersegment_event/segment_event_id</td>
        <td>Column was added</td>
    </tr>
    <tr>
        <td>magento_salesrule_filter/rule_filter_id</td>
        <td>Column was added</td>
    </tr>
    <tr>
        <td>magento_customersegment_event/segment_event_id</td>
        <td>Column was added</td>
    </tr>
    <tr>
        <td>magento_salesrule_filter/rule_filter_id</td>
        <td>Column was added</td>
    </tr>
    <tr>
        <td>magento_customersegment_event/segment_event_id</td>
        <td>Column was added</td>
    </tr>
    <tr>
        <td>magento_salesrule_filter/rule_filter_id</td>
        <td>Column was added</td>
    </tr>
</tbody></table>

<h3 id="ee_2.4.2-2.4.3-develop-class-api-membership">Class API membership changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>Magento\GiftRegistry\Block\Customer\Edit\AbstractEdit</td>
        <td>Class was added.</td>
    </tr>
</tbody></table>
