
<h3 id="b2b_1.3.1-release-class">Class changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
</tbody></table>

<h3 id="b2b_1.3.1-release-interface">Interface changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>Magento\RequisitionList\Api\Data\RequisitionListItemInterface::getSku</td>
        <td>[public] Method return typing changed.</td>
    </tr>
</tbody></table>

<h3 id="b2b_1.3.1-release-database">Database changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>purchase_order_rule_approver/PRIMARY</td>
        <td>Primary key was added</td>
    </tr>
    <tr>
        <td>company_payment/PRIMARY</td>
        <td>Primary key was added</td>
    </tr>
    <tr>
        <td>purchase_order_rule_approver/PRIMARY</td>
        <td>Primary key was added</td>
    </tr>
    <tr>
        <td>company_payment/PRIMARY</td>
        <td>Primary key was added</td>
    </tr>
    <tr>
        <td>purchase_order_rule_approver/PRIMARY</td>
        <td>Primary key was added</td>
    </tr>
    <tr>
        <td>company_payment/PRIMARY</td>
        <td>Primary key was added</td>
    </tr>
    <tr>
        <td>purchase_order_rule_approver/PRIMARY</td>
        <td>Primary key was added</td>
    </tr>
    <tr>
        <td>company_payment/PRIMARY</td>
        <td>Primary key was added</td>
    </tr>
    <tr>
        <td>purchase_order_rule_approver/approver_id</td>
        <td>Column was added</td>
    </tr>
    <tr>
        <td>purchase_order_rule_approver/approver_id</td>
        <td>Column was added</td>
    </tr>
    <tr>
        <td>purchase_order_rule_approver/approver_id</td>
        <td>Column was added</td>
    </tr>
    <tr>
        <td>purchase_order_rule_approver/approver_id</td>
        <td>Column was added</td>
    </tr>
    <tr>
        <td>purchase_order_rule_approver/approver_id</td>
        <td>Column was added</td>
    </tr>
    <tr>
        <td>purchase_order_rule_approver/approver_id</td>
        <td>Column was added</td>
    </tr>
</tbody></table>

<h3 id="b2b_1.3.1-release-system">System changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>sales_email/quote/expire_occur_template</td>
        <td>A field-node was added</td>
    </tr>
</tbody></table>
