<h3 id="apache-rewrites2.2">Enable rewrites and .htaccess for Apache 2.2</h3>
<p>Use this section to enable Apache 2.2 rewrites and specify a setting for the <a href="http://httpd.apache.org/docs/current/howto/htaccess.html" target="_blank">distributed configuration file, <code>.htaccess</code></a></p>
<p>Magento uses server rewrites and <code>.htaccess</code> to provide directory-level instructions for Apache.</p>
<div class="bs-callout bs-callout-info" id="info">
	<span class="glyphicon-class">
	<p>Failure to enable these settings typically results in no styles displaying on your storefront or Admin.</p></span>
</div>
<ol><li>Open the following file for editing.
<ul><li>Ubuntu: <code>vim /etc/apache2/sites-available/default</code></li>
<li>CentOS: <code>vim /etc/httpd/conf/httpd.conf</code></li></ul>
</li>
<li>Locate the block that starts with:
<ul><li>Ubuntu 12: <code>&lt;Directory /var/www/></code></li>
	<li>Ubuntu 14 or CentOS: <code>&lt;Directory /var/www/html></code><br></li></ul>
</li>
<li>Change the value of <code>AllowOverride</code> to <code>&lt;value from Apache site></code>.<br>
	An example for Ubuntu 12 follows.<br>
<pre>&lt;Directory /var/www/>
	Options Indexes FollowSymLinks MultiViews
	AllowOverride &lt;value from Apache site>
	Order allow,deny
	Allow from all
&lt;Directory></pre></li>
<li>Save the file and exit the text editor.</li>
<li><em>Ubuntu only</em>. Configure Apache to use the <code>mod_rewrite</code> module.
<pre>cd /etc/apache2/mods-enabled
ln -s ../mods-available/rewrite.load</pre></li>
<li>Restart Apache.
<pre>service apache2 restart</pre></li></ol>
