<h4 id="apache-rewrites2.4">Enabling Apache Rewrites for Apache 2.4</h4>
<p>Use this section to enable Apache rewrites and specify <code>.htaccess</code> if you use Apache 2.4, which is supported by the default Ubuntu 14 repository.</p>
<ol><li>Enter the following command:
<pre>a2enmod rewrite</pre></li>
<li>Specify the type of directives that can be used in <code>.htaccess</code>.<br>
	For guidelines, see the <a href="http://httpd.apache.org/docs/current/mod/mod_rewrite.html" target="_blank">Apache 2.4 documentation</a>.<br>
	Note that in Apache 2.4, the server's default site configuration file is <code>/etc/apache2/sites-available/000-default.conf</code><br>
	For example, you can add the following to the bottom of <code>000-default.conf</code>:</br>
	<pre>
&lt;Directory "/var/www/html">
AllowOverride &lt;value from Apache site>
&lt;/Directory></pre>

	<div class="bs-callout bs-callout-info" id="info">
	<span class="glyphicon-class">
	<ul><li>If you upgraded from an earlier Apache version, first look for <code>&lt;Directory "/var/www/html"></code> or <code>&lt;Directory "/var/www"></code> in <code>000-default.conf</code>.</li>
	<li>You must change the value of <code>AllowOverride</code> in the directive for the directory to which you expect to install the Magento software. For example, to install in the web server docroot, edit the directive in <code>&lt;Directory /var/www></code>.</li></ul></span>
	</div></li>
<li>Restart Apache:
	<pre>service apache2 restart</pre></li></ol>