<p>Before you begin, make sure that:</p>
<ol><li>Your system meets the requirements discussed in <a href="{{page.baseurl}}install-gde/system-requirements.html">Magento System Requirements</a>.</li>
<li>You completed all prerequisite tasks discussed in <a href="{{page.baseurl}}install-gde/prereq/prereq-overview.html">Prerequisites</a>.</li>
<li>You started your installation as discussed in <a href="{{page.baseurl}}install-gde/install/web/install-web.html#instgde-install-magento-web-step0">Getting started</a>.</li>
<li>You completed all preceding steps in the Setup Wizard.</li>
</ol>