<p>Before you begin, make sure that:</p>
<ol><li>Your system meets the requirements discussed in <a href="{{ site.gdeurl21 }}install-gde/system-requirements.html">Magento System Requirements</a>.</li>
<li>You completed all prerequisite tasks discussed in <a href="{{ site.gdeurl21 }}install-gde/prereq/prereq-overview.html">Prerequisites</a>.</li>
<li>After you log in to the Magento server, switch to a user that has permissions to write to the Magento file system. One way to do this is discussed in <a href="{{ site.gdeurl21 }}install-gde/prereq/file-sys-perms-over.html">switch to the Magento file system owner</a>.</li></ol>


<!-- <div class="bs-callout bs-callout-warning">
	<span class="glyphicon-class">
		<p>The Magento command-line installer now uses a new syntax. You must install the Magento software from the <code>bin</code> subdirectory instead of the <code>setup</code> subdirectory. </p>
  		<p>The new syntax replaces <code>setup/php -f index.php</code>.</p></span>
</div> -->