<h2 id="instgde-overview-composer">Composer and Magento</h2>
<p>We now use <a href="https://getcomposer.org/" target="_blank">Composer</a> to install the Magento software. Composer enables us to manage the Magento components and their dependencies.</p>
<p>Composer provides you with the following advantages:</p>
<ul><li>Enables you to reuse third-party libraries without bundling them with source code</li>
<li>Component-based architecture with robust dependency management</li>
<li>Manages dependencies to reduce extension conflicts and compatibility issues</li>
<li>Versioned dependencies</li>
<li><a href="https://getcomposer.org/doc/01-basic-usage.md#package-versions" target="_blank">Semantic versioning</a></li>
<li>Supports PHP Framework Interoperability standard</li></ul>