<p>Magento 2 release 0.74-beta10 for the first time splits Magento's <a href="{{ site.gdeurl }}config-guide/config/config-php.html">deployment configuration</a> into two files:</p>
<ul><li><code>&lt;your Magento install dir>/app/etc/config.php</code></li>
	<li><code>&lt;your Magento install dir>/app/etc/env.php</code></li></ul>

<p>As a result of this change, you must take action when upgrading from an earlier release. Your decision is basically do you want to keep your existing Magento 2 installation?</p>

<h4>No, I do not want to keep my existing installation</h4>
<a href="{{ site.gdeurl }}install-gde/install/install-cli-uninstall.html#instgde-install-uninstall" target="_blank">Uninstall</a> the Magento 2 software and <a href="{{ site.gdeurl }}install-gde/install/install-cli-uninstall.html#instgde-install-magento-reinstall" target="_blank">reinstall it</a>.

<h4>Yes, I want to keep my existing installation</h4>
<p>To do this, you must manually update the deployment configuration as follows:</p>
<ol><li>Log in to your Magento server as a user with permissions to modify files in the Magento file system (for example, the <a href="{{ site.gdeurl }}install-gde/install/prepare-install.html#install-update-depend-apache">web server user</a>).</li>
    <li><a href="{{ site.gdeurl }}install-gde/install/install-cli-uninstall.html#instgde-install-magento-update" target="_blank">Update the Magento software</a> to release 0.74-beta10 or later.</li>
	<li>Change to the <code>&lt;your Magento install dir>/app/etc</code> directory.</li>
	<li>Enter the following commands in the order shown:<br>
		<pre>cp config.php env.php
vim env.php</pre></li>
			<li>Delete the module list from <code>env.php</code>. The module list looks similar to the following:<br>
				<pre>return array (
  'modules' =>
  array (
    'Magento_Store' => 1,
    'Magento_Directory' => 1,
    'Magento_Backend' => 1,
    'Magento_Backup' => 1,
    'Magento_Theme' => 1,
    'Magento_CacheInvalidate' => 1,
    'Magento_Eav' => 1,
    'Magento_Customer' => 1,
    'Magento_CatalogImportExport' => 1,
    'Magento_Indexer' => 1,
    'Magento_Cms' => 1,
    'Magento_Search' => 1,
    'Magento_Catalog' => 1,
   ... more
  ),</pre></li>
  <li>Save your changes to <code>env.php</code> and exit the text editor.</li>
  <li>Open <code>config.php</code> in a text editor.</li>
  <li>Delete from <code>config.php</code> everything <em>except</em> the module list.</li>
  <li>Save your changes to <code>config.php</code> and exit the text editor.</li>
</ol>