<p>Malicious exploits are an unfortunate reality in the internet age. To help prevent exploits that take advantage of the file system, we recommend you set Magento file system ownership and permissions in a particular way. For more information, see <a href="{{ site.gdeurl }}install-gde/prereq/apache-user.html#install-update-depend-user-over">Overview of ownership and permissions</a>.</p>

<div class="bs-callout bs-callout-info" id="info">
  <p>This topic covers permissions for a development environment. In production, the web server user should have limited write privileges. To help manage you production and developer modes, we provide the <code><a href="{{ site.gdeurl }}config-guide/cli/config-cli-subcommands-mode.html">magento deploy:mode:set</a></code> command.</p>
</div> 

<p>The important things:</p>
<ul><li>The owner of the Magento file system:
<ul><li>Must have full control (read/write/execute) of all files and directories.</li>
<li>Must <em>not</em> be the web server user; it should be a different user.</li></ul>
</li>
<li>The web server user must have write access to the following files and directories:
<ul><li><code>var</code></li>
<li><code>app/etc</code></li>
<li><code>pub</code></li></ul>
</li>
</ul>
<p>In addition, the web server's <em>group</em> must own the Magento file system so that the Magento user (who is in the group) can share access to files with the web server user. (This includes files created by the Magento Admin or other web-based utilities.)</p>
<p>We recommend setting the permissions as follows:</p>
<ul><li>All directories have 770 permissions.<br>
770 permissions give full control (that is, read/write/execute) to the owner and to the group and no permissions to anyone else.</li>
<li>All files have 660 permissions.<br>
660 permissions mean the owner and the group can read and write but other users have no permissions.</li></ul>