<p>Malicious exploits are an unfortunate reality in the internet age. To help prevent exploits that take advantage of the file system, we recommend you set Magento file system ownership and permissions in a particular way. For more information, see <a href="{{ site.gdeurl }}install-gde/prereq/apache-user.html#install-update-depend-user-over">Overview of ownership and permissions</a>.</p>

<div class="bs-callout bs-callout-info" id="info">
  <p>This topic covers permissions for a development environment. In production, the web server user(s) should have limited write privileges. To help manage you production and developer modes, we provide the <code><a href="{{ site.gdeurl }}config-guide/cli/config-cli-subcommands-mode.html">magento deploy:mode:set</a></code> command.</p>
  <p>On web servers that host multiple domains, it is common practice for each domain to have a different web server user.  This allows some limited protection in that the web user for one domain is not able to create, and more importantly read, files stored in the other domain(such as the server configuration containing the database logon information!).  This means that there are now two web server users that may need to access files for your system, the domain user and the system user.  In general, the system user will require read access to any .htaccess files as well as search access to directories containing static resources.</p>
</div>

<p>The important things:</p>
<ul><li>The owner of the Magento file system:
<ul><li>Must have full control (read/write/execute) of all files and directories.</li>
<li>Must <em>not</em> be a web server user; it should be a different user.</li></ul>
</li>
<li>The web server domain user must have write access to the following files and directories:
<ul><li><code>var</code></li>
<li><code>app/etc</code></li>
<li><code>pub</code></li></ul>
</li>
</ul>
<li>The web server system user must have search[also called execute] access to the following directory:
  <ul>
    <li><code>pub</code></li></ul>
</li>
<li>The web server system user must have read access to .htaccess files in at least the following directory:
  <ul>
    <li><code>pub</code></li></ul>
</li>
</ul>
<p>In addition, the web server domain user's <em>group</em> must own the Magento file system so that the Magento user (who is in the group) can share access to files with the web server domain user. (This includes files created by the Magento Admin or other web-based utilities.)</p>
<p>We recommend setting the permissions as follows:</p>
<ul><li>All directories have 771 permissions.<br>
771 permissions give full control (that is, read/write/search) to the owner and to the group and search permissions to anyone else.</li>
<li>All files except .htaccess have 660 permissions.<br>
660 permissions mean the owner and the group can read and write but other users have no permissions.</li>
  <li>All .htaccess files have 661 permissions.<br>
    661 permissions mean the owner and the group can read and write but other users may read this file.</li></ul>