<p>After you copy the Magento software to your server, set ownership of all Magento files and directories and make sure they are writable by that user.</p>
<p>Typically, Magento files and directories should be owned by the web server user; however, the choice of user is up to you. The important thing is that the owner of the Magento file system must have write access to all files and directories.</p>
<p>We recommend setting the permissions as follows:</p>
<ul><li>All directories have 700 permissions <code>(drwx------)</code><br>
	700 permissions give full control (that is, read/write/execute) to the owner and no permissions to anyone else.</li>
<li>All files have 600 permissions <code>(-rw-------)</code><br>
	600 permissions mean the owner can read and write but other users have no permissions.</li></ul>
<p>Assuming the web server user owns the Magento 2 file system, use the following steps:</p>
<ol><li>Change to the Magento directory:<br>
<pre>cd &lt;web server docroot>/&lt;magento2 dir></pre>
&lt;magento2 dir> is typically named <code>magento2</code> and it's located under your web server's docroot. Need help locating the docroot? Click <a href="{{ site.gdeurl }}install-gde/basics/basics_docroot.html">here</a>.<br>
Examples:<br>
<ul><li>Ubuntu: <code>/var/www/magento2</code></li>
<li>CentOS: <code>/var/www/html/magento2</code></li></ul>
</li>
<li>Find the web server user name:<br>
<ul><li>Ubuntu: <code>ps -ef | grep apache2</code></li>
<li>CentOS: <code>grep User /etc/httpd/conf/httpd.conf</code></li></ul>
</li>
<li>Set ownership:<br>
<code>chown -R &lt;your web server user name> .</code><br>
Typical examples:<br>
<ul><li>CentOS: <code>chown -R apache .</code></li>
<li>Ubuntu: <code>chown -R www-data .</code></li></ul>
</li>
<li>Set permissions:<br>
<pre>find . -type d -exec chmod 700 {} \; && find . -type f -exec chmod 600 {} \; && chmod +x bin/magento</pre>
	If you must enter the commands as <code>sudo</code>, use:<br>
<pre>sudo find . -type d -exec chmod 700 {} \; && sudo find . -type f -exec chmod 600 {} \; && sudo chmod +x bin/magento</pre></li>
</ol>