<p>Use the following steps:</p>
<ol><li>Change to the Magento installation directory:<br>
	<pre>cd &lt;web server docroot>/&lt;magento2 base dir></pre>
	The base directory is typically a subdirectory named <code>magento2</code> under your web server's docroot. Need help locating the docroot? Click <a href="{{ site.gdeurl }}install-gde/basics/basics_docroot.html">here</a>.<br>

	Examples:
	<ul><li>Ubuntu: <code>/var/www/magento2</code></li>
	<li>CentOS: <code>/var/www/html/magento2</code></li></ul>
</li>
<li>Set ownership:<br>
<pre>chown -R :&lt;your web server group name> .</pre>
Typical examples:<br><br>
CentOS: <code>chown -R :apache .</code><br>
Ubuntu: <code>chown -R :www-data .</code></li>
<li>Set permissions:<br>
	<pre>find . -type d -exec chmod 750 {} \; && find . -type f -exec chmod 650 {} \; && chmod u+x bin/magento</pre>
	If you must enter the commands as <code>sudo</code>, use:<br>
	<pre>sudo find . -type d -exec chmod 750 {} \; && sudo find . -type f -exec chmod 650 {} \; && sudo chmod u+x bin/magento</pre></li></ol>
