<p>This roadmap provides a reference for the installation process. Refer to this topic at any time to move back and forth through the stages of installation.</p>
<p>This is a list of the most common topics you'll need for installation; the list is not comprehensive, however. You'll find additional information using the table of contents on the left side of the page.</p>
<h2>Precondition: How advanced are you?</h2>
<p>Do you know what a "terminal" application is? Do you know what operating system your server runs? Do you know what Apache is?</p>
<p>If not, see the <a href="{{ site.gdeurl }}install-gde/bk-install-guide.html">Installation overview</a>.</p>

<h2>Installation part 1: Getting started</h2>
<p>Topics include:</p>
<ul><li><a href="{{ site.gdeurl }}install-gde/bk-install-guide.html">Installation overview</a></li>
<li><a href="{{ site.gdeurl }}install-gde/system-requirements.html">System requirements</a></li>
<li><a href="{{ site.gdeurl }}install-gde/prereq/prereq-overview.html">Prerequisites</a></li>
<li><a href="{{ site.gdeurl }}install-gde/prereq/apache-user.html">Creating the Magento file system owner</a></li>
<li><a href="{{ site.gdeurl }}install-gde/install/pre-install.html">Your installation or upgrade path</a></li></ul>

<h2>Installation part 2: Installing</h2>
<p>Topics include:</p>
<ul><li><a href="{{ site.gdeurl }}install-gde/install/cli/install-cli.html">Command line installation</a></li>
<li><a href="{{ site.gdeurl }}install-gde/install/web/install-web.html">Setup Wizard installation</a></li></ul>

<h2>Installation part 3: Post-installation</h2>
<p>Topics include:</p>
<ul><li><a href="{{ site.gdeurl }}install-gde/install/verify.html">Verifying</a></li>
<li><a href="{{ site.gdeurl }}install-gde/trouble/tshoot.html">Troubleshooting</a></li>
<li><a href="{{ site.gdeurl }}install-gde/continue-to-verify.html">Configuring</a></li></ul>