<p>This section discusses how to:</p>
<ul><li>Set the system time zone for PHP; otherwise, errors like the following display during the installation and time-related operations like cron might not work:<br>
<pre>PHP Warning:  date(): It is not safe to rely on the system's timezone settings. [more messages follow]</pre></li>
<li>Increase the PHP memory limit to at least 768MB for normal operation or 2GB for testing.</li>
<li>Set <code>always_populate_raw_post_data = -1</code><br>
<a href="http://php.net/manual/en/ini.core.php#ini.always-populate-raw-post-data" target="_blank">always_populate_raw_post_data</a> is deprecated in PHP 5.6. This setting causes PHP to always populate <code>$HTTP_RAW_POST_DATA</code> with raw POST data. Failure to set this properly in PHP 5.6 results in errors when connecting to the database.</li>
<li>Disable <a href="http://php.net/manual/en/ini.core.php#ini.asp-tags" target="_blank">asp_tags</a>. If asp_tags are enabled, errors display when accessing PHTML templates.<br>
<code>asp_tags</code> will be removed in PHP 7.</li></ul>
<p>To set PHP options:</p>
<ol><li>Locate <code>php.ini</code> by entering the following command:<br>
<pre>php -i | grep "Loaded Configuration File"</pre>
Typical locations follow:<br><br>
Ubuntu: <code>/etc/php5/cli/php.ini</code><br>
CentOS: <code>/etc/php.ini</code></li>
<li>Open <code>php.ini</code> in a text editor.</li>
<li>Locate your server's time zone in the available <a href="http://php.net/manual/en/timezones.php" target="_blank">time zone settings</a>.</li>
<li>Locate the following setting and uncomment it if necessary:
<pre>date.timezone =</pre></li>
<li>Add the time zone setting you found in step 1.</li>
<li>Change <code>memory_limit</code> to:<br><br>
	<code>memory_limit = 1GB</code> or more for normal operation<br>
<code>memory_limit = 2G</code> or more for testing</li>
<li><em>Required for PHP 5.6, recommended for PHP 5.5</em>. Locate <code>always_populate_raw_post_data</code>, uncomment it if necessary, and set it as follows:<br>
<pre>always_populate_raw_post_data = -1</pre></li>
<li>Locate the following setting:
	<pre>asp_tags =</pre></li>
<li>Make sure its value is set to <code>Off</code></li>
<li>Save your changes and exit the text editor.</li>
<li>Restart Apache:<br><br>
Ubuntu: <code>service apache2 restart</code><br>
CentOS: <code>service httpd restart</code></li></ol>

