<div markdown="1">


This section discusses how to:

*	Set the system time zone for PHP; otherwise, errors like the following display during the installation and time-related operations like cron might not work:

		PHP Warning:  date(): It is not safe to rely on the system's timezone settings. [more messages follow]
*	Set [`always_populate_raw_post_data = -1`](http://php.net/manual/en/ini.core.php#ini.always-populate-raw-post-data){:target="_blank"}

	`always_populate_raw_post_data` is deprecated in PHP 5.6 and is dropped in PHP 7.0.x. This setting causes PHP to always populate `$HTTP_RAW_POST_DAT` with raw POST data. Failure to set this properly in PHP 5.5 or 5.6 results in errors when connecting to the database.
*	Set the PHP memory limit.

	Our detailed recommendations are:

	*	Compiling code, `768M`
    *	Deploying static asses, `768M`
    *	Installing and updating Magento components from Magento Marketplace, `1G`
    *	Testing, `2G`
*	Disable [`asp_tags`](http://php.net/manual/en/ini.core.php#ini.asp-tags){:target="_blank"}

	If `asp_tags are` enabled, errors display when accessing PHTML templates.

	`asp_tags` will be removed in PHP 7.

<div class="bs-callout bs-callout-warning">
    <p>To avoid issues during installation and upgrade, we strongly recommend you apply the same PHP settings to both the PHP command-line configuration and to the PHP web server plug-in's configuration. For more information, see the next section.</p>
</div>

### Find PHP configuration files
To find the web server configuration, run a <a href="{{page.baseurl}}install-gde/prereq/optional.html#install-optional-phpinfo">`phpinfo.php` file</a> in your web browser and look for the Loaded Configuration File as follows:

<img src="{{ site.baseurl }}common/images/config_phpini-webserver.png" width="700px">

To locate the PHP command-line configuration, enter

	php --ini

Use the value of Loaded Configuration file.

### Set PHP options

To set PHP options:

1.	Locate `php.ini` for both the web server and the PHP command line as discussed in the preceding section.

	Make the following changes to _both_ configurations.

2.	Open a `php.ini` in a text editor.
3.	Locate your server's time zone in the available [time zone settings](http://php.net/manual/en/timezones.php){:target="_blank"}
4.	Locate the following setting and uncomment it if necessary:

		date.timezone =
5.	Add the time zone setting you found in the preceding step.
6.	Change the value of `memory_limit` to one of the values at the beginning of this section.

	For example,

		memory_limit=768M
7.	_Required for PHP 5.6, recommended for PHP 5.5_. Locate `always_populate_raw_post_data`, uncomment it if necessary, and set it as follows:

		always_populate_raw_post_data = -1
8.	Locate the following setting:

		asp_tags =
9.	Make sure its value is set to `Off`.
10.	Save your changes and exit the text editor.
11.	Open the other `php.ini` (if they are different) and make the same changes in it.
11.	Restart your web server:

	*	Apache, Ubuntu: `service apache2 restart`
	*	Apache, CentOS: `service httpd restart`
	*	nginx, Ubuntu and CentOS: `service nginx restart`

