<p>If you're installing sample data for a version of Magento 2 earlier than 0.42.0-beta10, you must install the <code>sample-data-media</code> package as well.</p>
<p>Examples:</p>
<pre>composer require magento/sample-data:&lt;version> magento/sample-data-media:&lt;version></pre>
where <code>&lt;version></code> is either an exact version or semantic version syntax.<br>
Exact version example:<br>
<pre>composer require magento/sample-data:0.42.0-beta6 magento/sample-data-media:0.42.0-beta1</pre>
Next significant release example:<br>
<pre>composer require magento/sample-data:~0.42.0-beta5 magento/sample-data-media:~0.42.0-beta1</pre>