<h2 id="instgde-prereq-sample-intro">Introduction to Magento sample data</h2>
<p>Magento sample data provides a storefront based on the Luma theme outfitted with products, categories, customer registration, and so on. It functions just like a Magento storefront and you can manipulate prices, inventory, and promotional pricing rules using the Magento Admin.</p>
<p>Installing sample data is optional; be aware that if you do install it, there is no way to uninstall only the sample data. You must uninstall and reinstall the Magento software.</p>

<p>You can install sample data in any of the following ways:</p>
<ul><li>All users: Command line</li>
    <li><a href="#sample-data-clone">Contributing developers only</a></li></ul>


<h2 id="sample-data-cli">Install sample data using the command line</h2>


<h2 id="sample-data-clone">Contributing developers: Install sample data by cloning repositories</h2>
<p>This method of installing sample data should be used <em>only</em> by developers who contribute code to the Magento GitHub repository.</p>
<div class="bs-callout bs-callout-warning">
    <p>Due to recent changes, you can now use sample data with either the <code>develop</code> branch (more current) or the <code>master</code> branch (more stable) but only if you <a href="{{ site.gdeurl }}install-gde/install/composer-clone.html#instgde-prereq-compose-clone">cloned</a> the corresponding branch of the Magento 2 GitHub repository.</p>
    <p>We recommend you use the <code>master</code> branch because it's more stable. If you're contributing code to the Magento 2 repository and you need the most recent code, use the <code>develop</code> branch.</p>
</div>

<h2 id="sample-prereq">Sample data prerequisites</h2>
<p>Before you install sample data, make sure you have done the following:</p>
<ol><li><a href="{{ site.gdeurl }}install-gde/install/composer-clone.html">Clone the Magento 2 GitHub repository</a> (preferably the develop branch, which is the default).</li>
    <li><a href="{{ site.gdeurl }}install-gde/install/prepare-install.html">Update dependencies</a> by running <code>composer install</code>.</li>
<li>Decide which branch of the code to use:
    <ul><li><code>master</code>, which is more stable (we recommend this branch unless you're contributing code to the Magento 2 project)</li>
        <li><code>develop</code>, which is more recent</li>
    <div class="bs-callout bs-callout-warning">
        <p>You must clone the <em>same branch</em> of both repositories. If you cloned the <code>master</code> branch of the Magento 2 repository, you must clone the <code>master</code> branch of the sample data repository.</p>
        <p>Use the <code>git branch</code> command in the Magento 2 clone directory to display which branch you have.</p>
    </div>
    </ul>
</li></ol>

<h2 id="instgde-prereq-sample-clone">Clone the sample data repository</h2>
<p>This section discusses how to install Magento sample data by cloning the sample data repository. </p>
<p>You can clone the sample data repository in any of the following ways:</p>
<ul><li>Clone with the <a href="#instgde-prereq-sample-clone-ssh">SSH protocol</a></li>
    <li>Clone with the <a href="#instgde-prereq-compose-clone-https">HTTPS protocol</a></li>
<li><a href="#instgde-prereq-compose-clone-perms">Set file system permissions and ownership</a></li></ul>

<!-- <div class="bs-callout bs-callout-info" id="info">
    <p><img src="{{ site.baseurl }}common/images/ee-only_small.png"> Enterprise Edition (EE) requires an additional repository with EE sample data. Contact your support representative for details.</p>
</div> -->

<h3 id="instgde-prereq-sample-clone-ssh">Clone with SSH</h3>
<p>To clone the Magento sample data GitHub repository using the SSH protocol:</p>
<ol><li>Copy to the clipboard the Magento GitHub repository SSH clone URL.
<ol><li>In a web browser, go to <a href="https://github.com/magento/magento2-sample-data" target="_blank">the Magento sample data repository</a>.</li>
<li>On the right side of the page, under the <strong>clone URL</strong> field, click <strong>SSH</strong>.</li>
<li>Click <strong>Copy to clipboard</strong>.<br>
The following figure shows an example.<br>
<p><img src="{{ site.baseurl }}common/images/install_mage2_clone-ssh.png" alt="Clone the Magento GitHub repository using SSH"></p></li></ol>
</li>
<li>Change to your web server's docroot directory.<br>
Typically, for Ubuntu, it's <code>/var/www</code> and for CentOS it's <code>/var/www/html</code>.<br>
Need help locating the docroot? Click <a href="{{ site.gdeurl }}install-gde/basics/basics_docroot.html">here</a>.</li>
<li>Enter <code>git clone</code> and paste the value you obtained from step 1.<br>
The format of the command follows:<br>
<pre>git clone [-b master] git@github.com:magento/magento2-sample-data.git</pre>
Use <code>-b master</code> to clone the master branch; omit it to clone the <code>develop</code> branch, which is the default.<br>
We recommend you clone the <code>master</code> branch because it's more stable; clone <code>develop</code> if you're contributing code to Magento 2.<br>
Remember to clone the <em>same branch</em> of sample data as Magento 2 code. Use the <code>git branch</code> command in the Magento 2 clone directory to display which branch you have.<br><br>
An example follows: <code>git clone -b master git@github.com:magento/magento2-sample-data.git</code></li>
<li>Wait for the repository to clone on your server.<br>

    <div class="bs-callout bs-callout-info" id="info">
        <p>If the following error displays, make sure you <a href="https://help.github.com/articles/generating-ssh-keys/" target="_blank">shared your SSH key</a> with GitHub: </p>
            <pre>Cloning into 'magento2'...
Permission denied (publickey).
fatal: The remote end hung up unexpectedly</pre>
    </div></li>
<li>Change to the <code>&lt;your Magento sample data clone dir>/dev/tools</code> directory.</li>
<li>Enter the following command:<br>
<pre>php -f build-sample-data.php -- --ce-source="&lt;your Magento CE install dir>"</pre></li>
<li>Wait for the command to complete.
   <!-- <div class="bs-callout bs-callout-info" id="info">
    <p><img src="{{ site.baseurl }}common/images/ee-only_small.png"> You must run the same command from the EE sample data repository's <code>dev/tools</code> directory.</p>
    </div> --></li>
<li>See <a href="#instgde-prereq-compose-clone-perms">Set file system permissions and ownership</a>.</li></ol>

<h3 id="instgde-prereq-compose-clone-https">Clone with HTTPS</h3>
<p>To clone the Magento sample data GitHub repository using the HTTPS protocol:</p>
<ol><li>Copy to the clipboard the Magento sample data repository HTTPS clone URL.
    <ol><li>In a web browser, go to <a href="https://github.com/magento/magento2-sample-data" target="_blank">the Magento sample data repository</a>.</li>
<li>On the right side of the page, under the <strong>clone URL</strong> field, click <strong>HTTPS</strong>.</li>
<li>Click <strong>Copy to clipboard</strong>.<br>
The following figure shows an example.<br>
<p><img src="{{ site.baseurl }}common/images/install_mage2_clone-https.png" alt="Clone the Magento GitHub repository using HTTPS"></p></li>
</ol>
</li>
<li>Change to your web server's docroot directory.<br>
Typically, for Ubuntu, it's <code>/var/www</code> and for CentOS it's <code>/var/www/html</code>.</li>
<li>Enter <code>git clone</code> and paste the value you obtained from step 1.<br>
The format of the command follows:<br>
<pre>git clone [-b master] https://github.com/magento/magento2-sample-data.git</pre>
Use <code>-b master</code> to clone the merchant beta branch; omit it to clone the <code>develop</code> branch, which is the default.<br>
We recommend you clone the <code>master</code> branch because it's more stable; clone <code>develop</code> if you're contributing code to Magento 2.<br>
Remember to clone the <em>same branch</em> of sample data as Magento 2 code. Use the <code>git branch</code> command in the Magento 2 clone directory to display which branch you have.<br><br>
An example follows:<br>
<pre>git clone -b master https://github.com/magento/magento2-sample-data.git</pre></li>
<li>Wait for the repository to clone on your server.</li>
<li>Change to the <code>&lt;your Magento sample data clone dir>/dev/tools</code> directory.</li>
<li>Enter the following command:<br>
<pre>php -f build-sample-data.php -- --ce-source="&lt;your Magento CE install dir>"</pre>
    <!-- <div class="bs-callout bs-callout-info" id="info">
    <p><img src="{{ site.baseurl }}common/images/ee-only_small.png"> You must run the same command from the EE sample data repositor's <code>dev/tools</code> directory.</p>
    </div> --></li>
<li>Wait for the command to complete.</li>
<li>See the next section.</li></ol>

<h3 id="instgde-prereq-compose-clone-perms">Set file system permissions and ownership</h3>
<p>Because the <code>php build-sample-data.php</code> script creates symlinks between the sample data repository and your Magento 2 repository, you must set file system permissions and ownership in the sample data repository. Failure to do so will result in errors accessing the storefront.</p>

<!-- <div class="bs-callout bs-callout-info" id="info">
    <p><img src="{{ site.baseurl }}common/images/ee-only_small.png"> Don't forget to clone the Enterprise Edition (EE) sample data repository and link it to your Magento CE repository.</p>
</div> -->

<p>To set file system permissions and ownership on the sample data repository:</p>
<ol><li>Log in to your Magento server as, or switch to, the <a href="{{ site.gdeurl }}install-gde/prereq/apache-user.html">Magento file system owner</a>.</li>
    <li>Change to your sample data clone directory.</li>
<li>Set ownership:<br>
<pre>chown -R :&lt;your web server group name> .</pre>
Typical examples:<br><br>
CentOS: <code>chown -R :apache .</code><br>
Ubuntu: <code>chown -R :www-data .</code></li>
<li>Set permissions:<br>
    <pre>find . -type d -exec chmod 770 {} \; && find . -type f -exec chmod 660 {} \;</pre>
    If you must enter the commands as <code>sudo</code>, use:<br>
    <pre>sudo find . -type d -exec chmod 770 {} \; && sudo find . -type f -exec chmod 660 {} \;</pre>
    <!-- <div class="bs-callout bs-callout-info" id="info">
    <p><img src="{{ site.baseurl }}common/images/ee-only_small.png"> You must set ownership and permissions on both the CE and the EE sample data repositories.</p>
    </div> --></li></ol>

