<p>The Magento 2 Merchant Beta release (1.0.0-beta) includes a schema update that requires you to uninstall the Magento software and reinstall it.</p>
<p>The reason is that all modules in Merchant Beta are version 2.0.0. The update affected <em>all</em> data and schemas in the Magento 2 database.</p>
<p>To update to the Merchant Beta release:</p>
<ol><li><a href="{{ site.gdeurl }}install-gde/install/install-cli-backup.html">Back up</a> your Magento 2 database, file system, and media files.</li>
  <li><a href="{{ site.gdeurl }}install-gde/install/install-cli-uninstall.html#instgde-install-uninstall">Uninstall</a> the Magento software.</li>
  <li><a href="{{ site.gdeurl }}install-gde/install/install-cli-uninstall.html#instgde-install-magento-update">Upgrade</a> the Magento 2 codebase as follows:
  	<ol><li>Log in to your Magento server as a user with permissions to modify files in the Magento file system (for example, the web server user).</li>
  		<li>Change to the <code>&lt;your Magento install dir></code> directory.</li>
  		<li>Save a copy of <code>composer.json</code>.</li>
  		<li>Update your local repository to get the latest code:
  			<pre>git pull origin develop</pre></li>
  			<li>Diff and merge your saved copy of <code>composer.json</code> with new <code>composer.json</code> provided with Merchant Beta.</li>
  			<li>Enter <code>composer update</code>.</li>
  			<li>Clear <code>var</code> directory contents:
  				<pre>rm -rf var/generation/* var/cache/*</pre></li>
  			</ol>
  </li>
  <li>Install the Magento 2 software from the <a href="{{ site.gdeurl }}install-gde/install/install-cli-install.html">command line</a> or <a href="{{ site.gdeurl }}install-gde/install/install-web.html">Setup Wizard</a>.</li>
  <li><a href="{{ site.gdeurl }}install-gde/install/verify.html">Verify</a> the installation.</li></ol>