<p>We made changes to the Magento database to make it easier to understand module schema and data versions. This in turn makes it easier for you to code your module's installations and upgrades. In particular:</p>
<ul><li>The <code>core_resource</code> table is now named <code>setup_module</code></li>
<li>Resources in the table are replaced by module names. For example, <code>catalog_setup</code> is now <code>Magento_Catalog</code>, which exactly matches the module name. </li>
<li>The following fields in the <code>setup_module</code> table have new names:
<ul><li><code>code</code> is now <code>module</code></li>
<li><code>version</code> is now <code>schema_version</code></li></ul>
</li>
</ul>
<p>Old way:</p>
<pre>	code                     | version   | data_version|
	-----------------------------------------------------------
	catalog_setup            | 2.0.0     | 2.0.0   
	checkoutagreements_setup | 2.0.0     | 2.0.0   
	checkout_setup           | 2.0.0     | 2.0.0   
	cms_setup                | 2.0.0.1   | 2.0.0.1 </pre>
<p>New way:</p>

<pre>	module                       | schema_version        | data_version|
	------------------------------------------------------------------------
	Magento_Catalog              | 2.0.0.1               | 2.0.0.1
	Magento_CatalogEvent         | 2.0.0                 | 2.0.0
	Magento_CatalogImportExport  | 2.0.0                 | 2.0.0
	Magento_CatalogInventory     | 2.0.0                 | 2.0.0
	Magento_CatalogPermissions   | 2.0.0                 | 2.0.0</pre>