---
group: actiongroups
---

{%- include layout/header.html -%}

<div class="content-container">

{%- include layout/sidebar.html -%}
{%- assign currentpage = page.title | remove: ".html" -%}
{%- assign actiongroups = site.data.actiongroups | where:'page',  currentpage  | sort: "actiongroup" -%}
<section class="content">
  <div class="content-wrap">
    <section class="page-intro">
      <h1 class="page-heading">{{ page.title }}</h1>
    </section>
{%- for item in actiongroups -%}

<h3>{{ item.actiongroup }}</h3>

<p>{{ item.description }}</p>

<a href="{{ item.repo }}">Source Code</a>

{%- endfor -%}
    {%- include layout/content-footer.html -%}
  </div>
  <!-- /.content-wrap -->

  {%- include layout/page-info.html -%}

</section>
<!-- /.content -->

</div> <!-- /.content-container -->

{%- include layout/footer.html -%}
