{% include header.html %}

<div class="container">

    {% if page.guide_version == "2.2" %}
    <div class="message-banner">
        <strong>Review our 2.2 release candidate!</strong> This beta version documentation includes B2B and more. <a href="/guides/v2.2/release-notes/release-candidate/quick-start.html">See the Quickstart Guide</a><br/>
        Stay tuned — We'll roll out more 2.2 documentation updates in the coming weeks.
    </div> 
    {% endif %}

	{% include sidebar.html %}

	<section class="content">
		<div class="content-wrap">
			{% include page-header.html %}

			{{ content }}
		</div>
		<!-- /.content-wrap -->

		{% include page-info.html %}

	</section>
	<!-- /.content -->

</div> <!-- /.container -->

{% include footer.html %}
