{% include header.html %}

<div class="container">

    {% if page.guide_version == "2.2" %}
    <div class="message-banner">
        <strong>New Features!</strong>&nbsp;&nbsp;In this Release Candidate, we offer B2B and more functionality. <a href="">See the Quickstart Guide</a><br/>
        (Magento 2.2 documentation is subject to change during the Release Candidate period)
    </div> 
    {% endif %}

	{% include sidebar.html %}

	<section class="content">
		<div class="content-wrap">
			{% include page-header.html %}

			{{ content }}
		</div>
		<!-- /.content-wrap -->

		{% include page-info.html %}

	</section>
	<!-- /.content -->

</div> <!-- /.container -->

{% include footer.html %}
