<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}common/css/stylesheet.css">
	<link rel="stylesheet" href="{{ site.baseurl }}common/css/stylesheet-fonts.css" type="text/css">
	<link rel="icon" href="{{ site.baseurl }}common/css/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="{{ site.baseurl }}common/css/favicon.ico" type="image/x-icon">

	<title>{{ page.title }}</title>
</head>
<body>
	<a name="top"></a>
	<img src="{{ site.baseurl }}common/images/m1x/m1xheader.png" width="1024" alt="header" />
	<h1>{{ page.title }}</h1>

	<div id="content">
		{{ content }}
	</div>
</body>
</html>
