{% include header.html %}

<div class="container">

  <aside class="sidebar">
  	<a href="#" data-proofer-ignore class="toc-toggler">Table of Contents</a>
  	<div class="sidebar-wrapper">

      {% assign parent = page.breadcrumbs[0] %}
      <div class="back-link">
        <a href="{{page.baseurl}}/{{parent.url}}">
          <i class="back-link-arrow"></i>
          <span class="back-link-subtitle">Return to</span>
          <span class="back-link-title">{{ parent.title }}</span>
        </a>
      </div>

      {% assign steps = site.pages | where: "guide_version", page.guide_version | where: "level3_subgroup", page.level3_subgroup | sort: "menu_order" %}
      {% assign first_step = steps[0] %}
      <ul>
      {% for step in steps %}
        <li class="level1{% if step.url == page.url %}{% assign index = forloop.index %}  active{% endif %}">
          <a href="{{ site.baseurl }}{{ step.url }}">{% if step.menu_title %}{{step.menu_title}}{% else %}{{step.title}}{% endif %}</a>
        </li>
      {% endfor %}
      </ul>

    </div>
  </aside>
  <!-- /.sidebar -->

	<section class="content">
		<div class="content-wrap">
			{% include page-header.html %}
			{{ content }}

      <div class="horisontal-nav">
        {% assign steps_size = steps | size %}
        {% if index == 1 %}
          <a href="{{ site.baseurl }}{{ steps[index].url }}" class="btn btn-primary">Begin Tutorial</a>
        {% else %}
          {% assign next_i = index %}
          {% assign prev_i = index | minus: 2 %}

          <a href="{{ site.baseurl }}{{ steps[prev_i].url }}" class="btn btn-secondary">Previous</a>
          {% if index != steps_size %}
          <a href="{{ site.baseurl }}{{ steps[next_i].url }}" class="btn btn-primary">Next</a>
          {% endif %}

        {% endif %}
      </div>
      <!-- /.horisontal-nav -->

		</div>
		<!-- /.content-wrap -->

		{% include page-info.html %}

	</section>
	<!-- /.content -->

</div> <!-- /.container -->

{% include footer.html %}
