{% include header.html %}

<div class="container video-page">

	<aside class="sidebar">
		<a href="#" class="toc-toggler">Table of Contents</a>
		<div class="sidebar-wrapper">

			<ul>
				<h4><span class="playlist-name">Playlist</span> {{ page.group }}</h4>
				{% assign videos = (site.videos | where: 'group', page.group | where: 'layout', 'video' | sort: 'menu_order' ) %}

				{% for video in videos %}
					<li class="level-1 {% if video.url == page.url %}active{% assign current = forloop.index %}{% endif %}"><a href="{{ video.url }}">{{ video.title }} <span class="video-duration">{{ video.duration }} </span></a></li>
				{% endfor %}
			</ul>

		</div>
	</aside>

	<section class="content">
		<div class="content-wrap">

			{% include page-header.html %}

			<div id="video-player" class="video-player-wrap">
				<div class="video-player">
					<div class="embed-responsive embed-responsive-16by9">
		      	<iframe class="embed-responsive-item" src='http://www.youtube.com/embed/{{ page.youtube_id }}'
		      		        itemprop='embedUrl'
		      		        frameborder='0'
		      	          allowfullscreen>
		      	</iframe>
					</div>
				</div>
			</div>

			<div class="page-meta">
			{% include page-author.html %}
			{% include page-tags.html %}
			</div>



			<div class="progress-bar">
				<ul>
			{% for video in videos %}
					<li class="progress-bar-item {% if forloop.index < current %}done{% endif %} {% if video.url == page.url %}active{% endif %}">
						<a href="{{ video.url }}">
							<span class="progress-bar-index">{{forloop.index}}</span>
							{{ video.title }}
						</a>
					</li>
			{% endfor %}
				</li>
			</div>




			{{ content }}


			<div class="adjaced-pages">
				<div class="playlist-name">{{page.group}}</div>
			{% assign prev = current | minus: 2 %}
			{% if prev >= 0 %}
				<div class="previous-page">
					<a href="{{ videos[prev].url }}">
						<span class="arrow">&larr; Previous</span>
						<span class="title">{{ videos[prev].title }}</span>
					</a>
				</div>
			{% endif %}

			{% assign next = current %}
			{% if next < videos.size %}
				<div class="next-page">
					<a href="{{ videos[next].url }}">
						<span class="arrow">Next &rarr;</span>
						<span class="title">{{ videos[next].title }}</span>
					</a>
				</div>
			{% endif %}
			</div>



		</div>
		<!-- /.content-wrap -->

		<div class="page-info">

			{% if page.contributor_link %}
				<div class="page-contributor">
					<a href="{{ page.contributor_link }}" target="_blank">
						Thanks to {{ page.contributor_name }} for contributing this topic
					</a>
				</div>
			{% endif %}

			{% if page.github_link %}
			 <div class="github-link">
				 <a class="improve-page" href="{{ site.github }}v{{page.version}}/{{ page.github_link }}" target="_blank">
					 Edit this page on GitHub
				 </a>
			 </div>
			{% endif %}

			<div class="new-issue">
				<a href="https://github.com/magento/devdocs/issues/new?title=&body=Feedback on page: {{ page.url }}" target="_blank">Give us feedback</a>
			</div>

		</div>

	</section>
	<!-- /.content -->

</div> <!-- /.container -->

{% include footer.html %}
