{
    "swagger": "2.0",
    "info": {
        "version": "2.2",
        "title": "Magento Commerce for B2B"
    },
    "host": "magento2.vagrant2",
    "basePath": "/rest/default",
    "schemes": [
        "https"
    ],
    "tags": [
        {
            "name": "storeStoreRepositoryV1",
            "description": "Store repository interface"
        },
        {
            "name": "storeGroupRepositoryV1",
            "description": "Group repository interface"
        },
        {
            "name": "storeWebsiteRepositoryV1",
            "description": "Website repository interface"
        },
        {
            "name": "storeStoreConfigManagerV1",
            "description": "Store config manager interface"
        },
        {
            "name": "directoryCurrencyInformationAcquirerV1",
            "description": "Currency information acquirer interface"
        },
        {
            "name": "directoryCountryInformationAcquirerV1",
            "description": "Country information acquirer interface"
        },
        {
            "name": "eavAttributeSetRepositoryV1",
            "description": "Interface AttributeSetRepositoryInterface"
        },
        {
            "name": "eavAttributeSetManagementV1",
            "description": "Interface AttributeSetManagementInterface"
        },
        {
            "name": "customerGroupRepositoryV1",
            "description": "Customer group CRUD interface"
        },
        {
            "name": "customerGroupManagementV1",
            "description": "Interface for managing customer groups."
        },
        {
            "name": "customerCustomerGroupConfigV1",
            "description": "Interface for system configuration operations for customer groups."
        },
        {
            "name": "customerCustomerMetadataV1",
            "description": "Interface for retrieval information about customer attributes metadata."
        },
        {
            "name": "customerAddressMetadataV1",
            "description": "Interface for retrieval information about customer address attributes metadata."
        },
        {
            "name": "customerCustomerRepositoryV1",
            "description": "Customer CRUD interface."
        },
        {
            "name": "customerAccountManagementV1",
            "description": "Interface for managing customers accounts."
        },
        {
            "name": "customerAddressRepositoryV1",
            "description": "Customer address CRUD interface."
        },
        {
            "name": "backendModuleServiceV1",
            "description": "Interface for module service."
        },
        {
            "name": "cmsPageRepositoryV1",
            "description": "CMS page CRUD interface."
        },
        {
            "name": "cmsBlockRepositoryV1",
            "description": "CMS block CRUD interface."
        },
        {
            "name": "catalogProductRepositoryV1",
            "description": ""
        },
        {
            "name": "catalogProductAttributeTypesListV1",
            "description": ""
        },
        {
            "name": "catalogProductAttributeRepositoryV1",
            "description": "Interface RepositoryInterface must be implemented in new model"
        },
        {
            "name": "catalogCategoryAttributeRepositoryV1",
            "description": "Interface RepositoryInterface must be implemented in new model"
        },
        {
            "name": "catalogCategoryAttributeOptionManagementV1",
            "description": "Interface RepositoryInterface must be implemented in new model"
        },
        {
            "name": "catalogProductTypeListV1",
            "description": ""
        },
        {
            "name": "catalogAttributeSetRepositoryV1",
            "description": ""
        },
        {
            "name": "catalogAttributeSetManagementV1",
            "description": ""
        },
        {
            "name": "catalogProductAttributeManagementV1",
            "description": ""
        },
        {
            "name": "catalogProductAttributeGroupRepositoryV1",
            "description": ""
        },
        {
            "name": "catalogProductAttributeOptionManagementV1",
            "description": ""
        },
        {
            "name": "catalogProductMediaAttributeManagementV1",
            "description": ""
        },
        {
            "name": "catalogProductAttributeMediaGalleryManagementV1",
            "description": ""
        },
        {
            "name": "catalogProductTierPriceManagementV1",
            "description": ""
        },
        {
            "name": "catalogTierPriceStorageV1",
            "description": "Tier prices storage."
        },
        {
            "name": "catalogBasePriceStorageV1",
            "description": "Base prices storage."
        },
        {
            "name": "catalogCostStorageV1",
            "description": "Product cost storage."
        },
        {
            "name": "catalogSpecialPriceStorageV1",
            "description": "Special price storage presents efficient price API and is used to retrieve, update or delete special prices."
        },
        {
            "name": "catalogCategoryRepositoryV1",
            "description": ""
        },
        {
            "name": "catalogCategoryManagementV1",
            "description": ""
        },
        {
            "name": "catalogCategoryListV1",
            "description": ""
        },
        {
            "name": "catalogProductCustomOptionTypeListV1",
            "description": ""
        },
        {
            "name": "catalogProductCustomOptionRepositoryV1",
            "description": ""
        },
        {
            "name": "catalogProductLinkTypeListV1",
            "description": ""
        },
        {
            "name": "catalogProductLinkManagementV1",
            "description": ""
        },
        {
            "name": "catalogProductLinkRepositoryV1",
            "description": "Interface Product links handling interface"
        },
        {
            "name": "catalogCategoryLinkManagementV1",
            "description": ""
        },
        {
            "name": "catalogCategoryLinkRepositoryV1",
            "description": ""
        },
        {
            "name": "catalogProductWebsiteLinkRepositoryV1",
            "description": "Interface ProductWebsiteLinkRepositoryInterface"
        },
        {
            "name": "catalogProductRenderListV1",
            "description": "Interface which provides product renders information for products"
        },
        {
            "name": "quoteCartRepositoryV1",
            "description": "Interface CartRepositoryInterface"
        },
        {
            "name": "quoteCartManagementV1",
            "description": "Interface CartManagementInterface"
        },
        {
            "name": "quoteGuestCartRepositoryV1",
            "description": "Cart Repository interface for guest carts."
        },
        {
            "name": "quoteGuestCartManagementV1",
            "description": "Cart Management interface for guest carts."
        },
        {
            "name": "quoteShippingMethodManagementV1",
            "description": "Interface ShippingMethodManagementInterface"
        },
        {
            "name": "quoteShipmentEstimationV1",
            "description": "Interface ShipmentManagementInterface"
        },
        {
            "name": "quoteGuestShippingMethodManagementV1",
            "description": "Shipping method management interface for guest carts."
        },
        {
            "name": "quoteGuestShipmentEstimationV1",
            "description": "Interface GuestShipmentEstimationInterface"
        },
        {
            "name": "quoteCartItemRepositoryV1",
            "description": "Interface CartItemRepositoryInterface"
        },
        {
            "name": "quoteGuestCartItemRepositoryV1",
            "description": "Cart Item repository interface for guest carts."
        },
        {
            "name": "quotePaymentMethodManagementV1",
            "description": "Interface PaymentMethodManagementInterface"
        },
        {
            "name": "quoteGuestPaymentMethodManagementV1",
            "description": "Payment method management interface for guest carts."
        },
        {
            "name": "quoteBillingAddressManagementV1",
            "description": "Interface BillingAddressManagementInterface"
        },
        {
            "name": "quoteGuestBillingAddressManagementV1",
            "description": "Billing address management interface for guest carts."
        },
        {
            "name": "quoteCouponManagementV1",
            "description": "Coupon management service interface."
        },
        {
            "name": "quoteGuestCouponManagementV1",
            "description": "Coupon management interface for guest carts."
        },
        {
            "name": "quoteCartTotalRepositoryV1",
            "description": "Interface CartTotalRepositoryInterface"
        },
        {
            "name": "quoteGuestCartTotalManagementV1",
            "description": "Bundled API to collect totals for cart based on shipping/payment methods and additional data."
        },
        {
            "name": "quoteGuestCartTotalRepositoryV1",
            "description": "Cart totals repository interface for guest carts."
        },
        {
            "name": "quoteCartTotalManagementV1",
            "description": "Bundled API to collect totals for cart based on shipping/payment methods and additional data."
        },
        {
            "name": "catalogInventoryStockRegistryV1",
            "description": "Interface StockRegistryInterface"
        },
        {
            "name": "bundleProductLinkManagementV1",
            "description": "Interface for Management of ProductLink"
        },
        {
            "name": "bundleProductOptionRepositoryV1",
            "description": "Interface ProductOptionRepositoryInterface"
        },
        {
            "name": "bundleProductOptionTypeListV1",
            "description": "Interface ProductOptionTypeListInterface"
        },
        {
            "name": "bundleProductOptionManagementV1",
            "description": "Option manager for bundle products"
        },
        {
            "name": "requisitionListRequisitionListRepositoryV1",
            "description": "Interface RequisitionListRepositoryInterface"
        },
        {
            "name": "searchV1",
            "description": "Search API for all requests"
        },
        {
            "name": "salesOrderRepositoryV1",
            "description": "Order repository interface. An order is a document that a web store issues to a customer. Magento generates a sales order that lists the product items, billing and shipping addresses, and shipping and payment methods. A corresponding external document, known as a purchase order, is emailed to the customer."
        },
        {
            "name": "salesOrderManagementV1",
            "description": "Order management interface. An order is a document that a web store issues to a customer. Magento generates a sales order that lists the product items, billing and shipping addresses, and shipping and payment methods. A corresponding external document, known as a purchase order, is emailed to the customer."
        },
        {
            "name": "salesOrderAddressRepositoryV1",
            "description": "Order address repository interface. An order is a document that a web store issues to a customer. Magento generates a sales order that lists the product items, billing and shipping addresses, and shipping and payment methods. A corresponding external document, known as a purchase order, is emailed to the customer."
        },
        {
            "name": "salesOrderItemRepositoryV1",
            "description": "Order item repository interface. An order is a document that a web store issues to a customer. Magento generates a sales order that lists the product items, billing and shipping addresses, and shipping and payment methods. A corresponding external document, known as a purchase order, is emailed to the customer."
        },
        {
            "name": "salesInvoiceRepositoryV1",
            "description": "Invoice repository interface. An invoice is a record of the receipt of payment for an order."
        },
        {
            "name": "salesInvoiceManagementV1",
            "description": "Invoice management interface. An invoice is a record of the receipt of payment for an order."
        },
        {
            "name": "salesInvoiceCommentRepositoryV1",
            "description": "Invoice comment repository interface. An invoice is a record of the receipt of payment for an order. An invoice can include comments that detail the invoice history."
        },
        {
            "name": "salesRefundInvoiceV1",
            "description": "Interface RefundInvoiceInterface"
        },
        {
            "name": "salesCreditmemoManagementV1",
            "description": "Credit memo add comment interface. After a customer places and pays for an order and an invoice has been issued, the merchant can create a credit memo to refund all or part of the amount paid for any returned or undelivered items. The memo restores funds to the customer account so that the customer can make future purchases."
        },
        {
            "name": "salesCreditmemoRepositoryV1",
            "description": "Credit memo repository interface. After a customer places and pays for an order and an invoice has been issued, the merchant can create a credit memo to refund all or part of the amount paid for any returned or undelivered items. The memo restores funds to the customer account so that the customer can make future purchases."
        },
        {
            "name": "salesCreditmemoCommentRepositoryV1",
            "description": "Credit memo comment repository interface. After a customer places and pays for an order and an invoice has been issued, the merchant can create a credit memo to refund all or part of the amount paid for any returned or undelivered items. The memo restores funds to the customer account so that the customer can make future purchases. A credit memo usually includes comments that detail why the credit memo amount was credited to the customer."
        },
        {
            "name": "salesRefundOrderV1",
            "description": "Interface RefundOrderInterface"
        },
        {
            "name": "salesShipmentRepositoryV1",
            "description": "Shipment repository interface. A shipment is a delivery package that contains products. A shipment document accompanies the shipment. This document lists the products and their quantities in the delivery package."
        },
        {
            "name": "salesShipmentManagementV1",
            "description": "Shipment management interface. A shipment is a delivery package that contains products. A shipment document accompanies the shipment. This document lists the products and their quantities in the delivery package."
        },
        {
            "name": "salesShipmentCommentRepositoryV1",
            "description": "Shipment comment repository interface. A shipment is a delivery package that contains products. A shipment document accompanies the shipment. This document lists the products and their quantities in the delivery package. A shipment document can contain comments."
        },
        {
            "name": "salesShipmentTrackRepositoryV1",
            "description": "Shipment track repository interface. A shipment is a delivery package that contains products. A shipment document accompanies the shipment. This document lists the products and their quantities in the delivery package."
        },
        {
            "name": "salesShipOrderV1",
            "description": "Class ShipOrderInterface"
        },
        {
            "name": "salesTransactionRepositoryV1",
            "description": "Transaction repository interface. A transaction is an interaction between a merchant and a customer such as a purchase, a credit, a refund, and so on."
        },
        {
            "name": "salesInvoiceOrderV1",
            "description": "Class InvoiceOrderInterface"
        },
        {
            "name": "checkoutGuestShippingInformationManagementV1",
            "description": "Interface for managing guest shipping address information"
        },
        {
            "name": "checkoutShippingInformationManagementV1",
            "description": "Interface for managing customer shipping address information"
        },
        {
            "name": "checkoutTotalsInformationManagementV1",
            "description": "Interface for quote totals calculation"
        },
        {
            "name": "checkoutGuestTotalsInformationManagementV1",
            "description": "Interface for guest quote totals calculation"
        },
        {
            "name": "checkoutGuestPaymentInformationManagementV1",
            "description": "Interface for managing guest payment information"
        },
        {
            "name": "checkoutPaymentInformationManagementV1",
            "description": "Interface for managing quote payment information"
        },
        {
            "name": "salesRuleRuleRepositoryV1",
            "description": "Sales rule CRUD interface"
        },
        {
            "name": "salesRuleCouponRepositoryV1",
            "description": "Coupon CRUD interface"
        },
        {
            "name": "salesRuleCouponManagementV1",
            "description": "Coupon management interface"
        },
        {
            "name": "configurableProductLinkManagementV1",
            "description": "Manage children products of configurable product"
        },
        {
            "name": "configurableProductConfigurableProductManagementV1",
            "description": "Interface ConfigurableProductManagementInterface"
        },
        {
            "name": "configurableProductOptionRepositoryV1",
            "description": "Manage options of configurable product"
        },
        {
            "name": "downloadableLinkRepositoryV1",
            "description": "Interface LinkRepositoryInterface"
        },
        {
            "name": "downloadableSampleRepositoryV1",
            "description": "Interface SampleRepositoryInterface"
        },
        {
            "name": "checkoutAgreementsCheckoutAgreementsRepositoryV1",
            "description": "Interface CheckoutAgreementsRepositoryInterface"
        },
        {
            "name": "taxTaxRateRepositoryV1",
            "description": "Tax rate CRUD interface."
        },
        {
            "name": "taxTaxRuleRepositoryV1",
            "description": "Tax rule CRUD interface."
        },
        {
            "name": "taxTaxClassRepositoryV1",
            "description": "Tax class CRUD interface."
        },
        {
            "name": "companyCompanyRepositoryV1",
            "description": "A repository interface for company entity that provides basic CRUD operations."
        },
        {
            "name": "companyTeamRepositoryV1",
            "description": "Interface for basic CRUD operations for team entity."
        },
        {
            "name": "companyCompanyHierarchyV1",
            "description": "Interface for working with company hierarchy."
        },
        {
            "name": "companyRoleRepositoryV1",
            "description": "A repository interface for role entity that provides basic CRUD operations."
        },
        {
            "name": "companyAclV1",
            "description": "Access control list interface."
        },
        {
            "name": "integrationAdminTokenServiceV1",
            "description": "Interface providing token generation for Admins"
        },
        {
            "name": "integrationCustomerTokenServiceV1",
            "description": "Interface providing token generation for Customers"
        },
        {
            "name": "analyticsLinkProviderV1",
            "description": "Provides link to file with collected report data."
        },
        {
            "name": "customerBalanceBalanceManagementFromQuoteV1",
            "description": "Customer balance(store credit) operations."
        },
        {
            "name": "negotiableQuoteNegotiableQuoteManagementV1",
            "description": "Interface for managing quotes."
        },
        {
            "name": "negotiableQuoteNegotiableQuotePriceManagementV1",
            "description": "Interface for updating quote prices in case price changes occur in system."
        },
        {
            "name": "negotiableQuoteAttachmentContentManagementV1",
            "description": "Interface for retrieving the list of negotiable quotes attachments."
        },
        {
            "name": "negotiableQuoteCommentLocatorV1",
            "description": "Interface for load quote comments with attachment."
        },
        {
            "name": "negotiableQuoteNegotiableQuoteShippingManagementV1",
            "description": "Interface for add and update negotiable quote shipping method."
        },
        {
            "name": "negotiableQuotePaymentInformationManagementV1",
            "description": "Interface for managing quote payment information"
        },
        {
            "name": "negotiableQuoteShippingInformationManagementV1",
            "description": "Interface for managing customer shipping address information"
        },
        {
            "name": "negotiableQuoteShipmentEstimationV1",
            "description": "Interface ShipmentManagementInterface"
        },
        {
            "name": "negotiableQuoteShippingMethodManagementV1",
            "description": "Interface ShippingMethodManagementInterface"
        },
        {
            "name": "negotiableQuoteNegotiableCartRepositoryV1",
            "description": "Interface is intended to be used in webapi only. For other cases CartRepositoryInterface should be used."
        },
        {
            "name": "negotiableQuoteBillingAddressManagementV1",
            "description": "Interface BillingAddressManagementInterface"
        },
        {
            "name": "negotiableQuoteCartTotalRepositoryV1",
            "description": "Interface CartTotalRepositoryInterface"
        },
        {
            "name": "negotiableQuoteCouponManagementV1",
            "description": "Coupon management service interface."
        },
        {
            "name": "negotiableQuoteGiftCardAccountManagementV1",
            "description": "Interface GiftCardAccountManagementInterface"
        },
        {
            "name": "giftCardAccountGiftCardAccountManagementV1",
            "description": "Interface GiftCardAccountManagementInterface"
        },
        {
            "name": "giftCardAccountGuestGiftCardAccountManagementV1",
            "description": "Interface GuestGiftCardAccountManagementInterface"
        },
        {
            "name": "sharedCatalogSharedCatalogRepositoryV1",
            "description": ""
        },
        {
            "name": "sharedCatalogCompanyManagementV1",
            "description": "Shared catalog companies actions."
        },
        {
            "name": "sharedCatalogProductManagementV1",
            "description": "Shared catalog products actions."
        },
        {
            "name": "sharedCatalogCategoryManagementV1",
            "description": "Shared catalog products actions."
        },
        {
            "name": "giftMessageCartRepositoryV1",
            "description": "Interface CartRepositoryInterface"
        },
        {
            "name": "giftMessageItemRepositoryV1",
            "description": "Interface ItemRepositoryInterface"
        },
        {
            "name": "giftMessageGuestCartRepositoryV1",
            "description": "Interface GuestCartRepositoryInterface"
        },
        {
            "name": "giftMessageGuestItemRepositoryV1",
            "description": "Interface GuestItemRepositoryInterface"
        },
        {
            "name": "giftRegistryShippingMethodManagementV1",
            "description": "Interface ShippingMethodManagementInterface"
        },
        {
            "name": "giftRegistryGuestCartShippingMethodManagementV1",
            "description": "Interface ShippingMethodManagementInterface"
        },
        {
            "name": "giftWrappingWrappingRepositoryV1",
            "description": "Interface WrappingRepositoryInterface"
        },
        {
            "name": "rewardRewardManagementV1",
            "description": "Interface RewardManagementInterface"
        },
        {
            "name": "rmaTrackManagementV1",
            "description": "Interface TrackManagementInterface"
        },
        {
            "name": "rmaRmaRepositoryV1",
            "description": "Interface RmaRepositoryInterface"
        },
        {
            "name": "rmaCommentManagementV1",
            "description": "Interface CommentRepositoryInterface"
        },
        {
            "name": "rmaRmaManagementV1",
            "description": "Interface RmaManagementInterface"
        },
        {
            "name": "rmaRmaAttributesManagementV1",
            "description": "Interface RmaAttributesManagementInterface"
        },
        {
            "name": "companyCreditCreditLimitRepositoryV1",
            "description": "Interface for credit limit repository for CRUD operations."
        },
        {
            "name": "companyCreditCreditLimitManagementV1",
            "description": "Credit Limit management interface."
        },
        {
            "name": "companyCreditCreditBalanceManagementV1",
            "description": "Interface for management decrease and increase credit balance operations."
        },
        {
            "name": "companyCreditCreditHistoryManagementV1",
            "description": "Update credit history log and retrieve history which match a specified criteria."
        },
        {
            "name": "asynchronousOperationsBulkStatusV1",
            "description": "Interface BulkStatusInterface Bulk summary data with list of operations items short data."
        },
        {
            "name": "worldpayGuestPaymentInformationManagementProxyV1",
            "description": "Interface GuestPaymentInformationManagementProxyInterface"
        },
        {
            "name": "amazonPaymentAddressManagementV1",
            "description": ""
        },
        {
            "name": "amazonPaymentOrderInformationManagementV1",
            "description": ""
        },
        {
            "name": "temandoShippingQuoteCartDeliveryOptionManagementV1",
            "description": "CartDeliveryOptionManagementInterface"
        },
        {
            "name": "temandoShippingQuoteGuestCartDeliveryOptionManagementV1",
            "description": "GuestCartDeliveryOptionManagementInterface"
        },
        {
            "name": "temandoShippingRmaRmaShipmentManagementV1",
            "description": "Manage RMA Shipments"
        },
        {
            "name": "temandoShippingCollectionPointGuestCartCollectionPointManagementV1",
            "description": "Process Collection Point Search (Guest Checkout)"
        },
        {
            "name": "temandoShippingCollectionPointCartCollectionPointManagementV1",
            "description": "Process Collection Point Search"
        },
        {
            "name": "temandoShippingQuoteGuestCartCheckoutFieldManagementV1",
            "description": "Interface GuestCartCheckoutFieldManagementInterface Persist value-added services as selected during guest checkout."
        },
        {
            "name": "temandoShippingQuoteCartCheckoutFieldManagementV1",
            "description": "Interface CartCheckoutFieldManagementInterface Persist value-added services as selected during logged-in checkout."
        }
    ],
    "paths": {
        "/V1/store/storeViews": {
            "get": {
                "tags": [
                    "storeStoreRepositoryV1"
                ],
                "description": "Retrieve list of all stores",
                "operationId": "storeStoreRepositoryV1GetListGet",
                "responses": {
                    "200": {
                        "description": "200 Success.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/store-data-store-interface"
                            }
                        }
                    },
                    "401": {
                        "description": "401 Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            }
        },
        "/V1/store/storeGroups": {
            "get": {
                "tags": [
                    "storeGroupRepositoryV1"
                ],
                "description": "Retrieve list of all groups",
                "operationId": "storeGroupRepositoryV1GetListGet",
                "responses": {
                    "200": {
                        "description": "200 Success.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/store-data-group-interface"
                            }
                        }
                    },
                    "401": {
                        "description": "401 Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            }
        },
        "/V1/store/websites": {
            "get": {
                "tags": [
                    "storeWebsiteRepositoryV1"
                ],
                "description": "Retrieve list of all websites",
                "operationId": "storeWebsiteRepositoryV1GetListGet",
                "responses": {
                    "200": {
                        "description": "200 Success.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/store-data-website-interface"
                            }
                        }
                    },
                    "401": {
                        "description": "401 Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            }
        },
        "/V1/store/storeConfigs": {
            "get": {
                "tags": [
                    "storeStoreConfigManagerV1"
                ],
                "description": "",
                "operationId": "storeStoreConfigManagerV1GetStoreConfigsGet",
                "parameters": [
                    {
                        "name": "storeCodes",
                        "in": "query",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 Success.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/store-data-store-config-interface"
                            }
                        }
                    },
                    "401": {
                        "description": "401 Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            }
        },
        "/V1/directory/currency": {
            "get": {
                "tags": [
                    "directoryCurrencyInformationAcquirerV1"
                ],
                "description": "Get currency information for the store.",
                "operationId": "directoryCurrencyInformationAcquirerV1GetCurrencyInfoGet",
                "responses": {
                    "200": {
                        "description": "200 Success.",
                        "schema": {
                            "$ref": "#/definitions/directory-data-currency-information-interface"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            }
        },
        "/V1/directory/countries": {
            "get": {
                "tags": [
                    "directoryCountryInformationAcquirerV1"
                ],
                "description": "Get all countries and regions information for the store.",
                "operationId": "directoryCountryInformationAcquirerV1GetCountriesInfoGet",
                "responses": {
                    "200": {
                        "description": "200 Success.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/directory-data-country-information-interface"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            }
        },
        "/V1/directory/countries/{countryId}": {
            "get": {
                "tags": [
                    "directoryCountryInformationAcquirerV1"
                ],
                "description": "Get country and region information for the store.",
                "operationId": "directoryCountryInformationAcquirerV1GetCountryInfoGet",
                "parameters": [
                    {
                        "name": "countryId",
                        "in": "path",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 Success.",
                        "schema": {
                            "$ref": "#/definitions/directory-data-country-information-interface"
                        }
                    },
                    "400": {
                        "description": "400 Bad Request",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            }
        },
        "/V1/eav/attribute-sets/list": {
            "get": {
                "tags": [
                    "eavAttributeSetRepositoryV1"
                ],
                "description": "Retrieve list of Attribute Sets This call returns an array of objects, but detailed information about each object’s attributes might not be included. See https://devdocs.magento.com/codelinks/attributes.html#AttributeSetRepositoryInterface to determine which call to use to get detailed information about all attributes for an object.",
                "operationId": "eavAttributeSetRepositoryV1GetListGet",
                "parameters": [
                    {
                        "name": "searchCriteria[filterGroups][0][filters][0][field]",
                        "in": "query",
                        "type": "string",
                        "description": "Field"
                    },
                    {
                        "name": "searchCriteria[filterGroups][0][filters][0][value]",
                        "in": "query",
                        "type": "string",
                        "description": "Value"
                    },
                    {
                        "name": "searchCriteria[filterGroups][0][filters][0][conditionType]",
                        "in": "query",
                        "type": "string",
                        "description": "Condition type"
                    },
                    {
                        "name": "searchCriteria[sortOrders][0][field]",
                        "in": "query",
                        "type": "string",
                        "description": "Sorting field."
                    },
                    {
                        "name": "searchCriteria[sortOrders][0][direction]",
                        "in": "query",
                        "type": "string",
                        "description": "Sorting direction."
                    },
                    {
                        "name": "searchCriteria[pageSize]",
                        "in": "query",
                        "type": "integer",
                        "description": "Page size."
                    },
                    {
                        "name": "searchCriteria[currentPage]",
                        "in": "query",
                        "type": "integer",
                        "description": "Current page."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 Success.",
                        "schema": {
                            "$ref": "#/definitions/eav-data-attribute-set-search-results-interface"
                        }
                    },
                    "401": {
                        "description": "401 Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            }
        },
        "/V1/eav/attribute-sets/{attributeSetId}": {
            "get": {
                "tags": [
                    "eavAttributeSetRepositoryV1"
                ],
                "description": "Retrieve attribute set information based on given ID",
                "operationId": "eavAttributeSetRepositoryV1GetGet",
                "parameters": [
                    {
                        "name": "attributeSetId",
                        "in": "path",
                        "type": "integer",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 Success.",
                        "schema": {
                            "$ref": "#/definitions/eav-data-attribute-set-interface"
                        }
                    },
                    "400": {
                        "description": "400 Bad Request",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "401": {
                        "description": "401 Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "eavAttributeSetRepositoryV1"
                ],
                "description": "Remove attribute set by given ID",
                "operationId": "eavAttributeSetRepositoryV1DeleteByIdDelete",
                "parameters": [
                    {
                        "name": "attributeSetId",
                        "in": "path",
                        "type": "integer",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 Success.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    "400": {
                        "description": "400 Bad Request",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "401": {
                        "description": "401 Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "eavAttributeSetRepositoryV1"
                ],
                "description": "Save attribute set data",
                "operationId": "eavAttributeSetRepositoryV1SavePut",
                "parameters": [
                    {
                        "name": "attributeSetId",
                        "in": "path",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "eavAttributeSetRepositoryV1SavePutBody",
                        "in": "body",
                        "schema": {
                            "required": [
                                "attributeSet"
                            ],
                            "properties": {
                                "attributeSet": {
                                    "$ref": "#/definitions/eav-data-attribute-set-interface"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 Success.",
                        "schema": {
                            "$ref": "#/definitions/eav-data-attribute-set-interface"
                        }
                    },
                    "400": {
                        "description": "400 Bad Request",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "401": {
                        "description": "401 Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            }
        },
        "/V1/eav/attribute-sets": {
            "post": {
                "tags": [
                    "eavAttributeSetManagementV1"
                ],
                "description": "Create attribute set from data",
                "operationId": "eavAttributeSetManagementV1CreatePost",
                "parameters": [
                    {
                        "name": "eavAttributeSetManagementV1CreatePostBody",
                        "in": "body",
                        "schema": {
                            "required": [
                                "entityTypeCode",
                                "attributeSet",
                                "skeletonId"
                            ],
                            "properties": {
                                "entityTypeCode": {
                                    "type": "string"
                                },
                                "attributeSet": {
                                    "$ref": "#/definitions/eav-data-attribute-set-interface"
                                },
                                "skeletonId": {
                                    "type": "integer"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 Success.",
                        "schema": {
                            "$ref": "#/definitions/eav-data-attribute-set-interface"
                        }
                    },
                    "400": {
                        "description": "400 Bad Request",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "401": {
                        "description": "401 Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            }
        },
        "/V1/customerGroups/{id}": {
            "get": {
                "tags": [
                    "customerGroupRepositoryV1"
                ],
                "description": "Get customer group by group ID.",
                "operationId": "customerGroupRepositoryV1GetByIdGet",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "integer",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 Success.",
                        "schema": {
                            "$ref": "#/definitions/customer-data-group-interface"
                        }
                    },
                    "400": {
                        "description": "400 Bad Request",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "401": {
                        "description": "401 Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "customerGroupRepositoryV1"
                ],
                "description": "Save customer group.",
                "operationId": "customerGroupRepositoryV1SavePut",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "customerGroupRepositoryV1SavePutBody",
                        "in": "body",
                        "schema": {
                            "required": [
                                "group"
                            ],
                            "properties": {
                                "group": {
                                    "$ref": "#/definitions/customer-data-group-interface"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 Success.",
                        "schema": {
                            "$ref": "#/definitions/customer-data-group-interface"
                        }
                    },
                    "400": {
                        "description": "400 Bad Request",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "401": {
                        "description": "401 Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "customerGroupRepositoryV1"
                ],
                "description": "Delete customer group by ID.",
                "operationId": "customerGroupRepositoryV1DeleteByIdDelete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "integer",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 Success.",
                        "schema": {
                            "type": "boolean",
                            "description": "true on success"
                        }
                    },
                    "400": {
                        "description": "400 Bad Request",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "401": {
                        "description": "401 Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            }
        },
        "/V1/customerGroups/search": {
            "get": {
                "tags": [
                    "customerGroupRepositoryV1"
                ],
                "description": "Retrieve customer groups. The list of groups can be filtered to exclude the NOT_LOGGED_IN group using the first parameter and/or it can be filtered by tax class. This call returns an array of objects, but detailed information about each object’s attributes might not be included. See https://devdocs.magento.com/codelinks/attributes.html#GroupRepositoryInterface to determine which call to use to get detailed information about all attributes for an object.",
                "operationId": "customerGroupRepositoryV1GetListGet",
                "parameters": [
                    {
                        "name": "searchCriteria[filterGroups][0][filters][0][field]",
                        "in": "query",
                        "type": "string",
                        "description": "Field"
                    },
                    {
                        "name": "searchCriteria[filterGroups][0][filters][0][value]",
                        "in": "query",
                        "type": "string",
                        "description": "Value"
                    },
                    {
                        "name": "searchCriteria[filterGroups][0][filters][0][conditionType]",
                        "in": "query",
                        "type": "string",
                        "description": "Condition type"
                    },
                    {
                        "name": "searchCriteria[sortOrders][0][field]",
                        "in": "query",
                        "type": "string",
                        "description": "Sorting field."
                    },
                    {
                        "name": "searchCriteria[sortOrders][0][direction]",
                        "in": "query",
                        "type": "string",
                        "description": "Sorting direction."
                    },
                    {
                        "name": "searchCriteria[pageSize]",
                        "in": "query",
                        "type": "integer",
                        "description": "Page size."
                    },
                    {
                        "name": "searchCriteria[currentPage]",
                        "in": "query",
                        "type": "integer",
                        "description": "Current page."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 Success.",
                        "schema": {
                            "$ref": "#/definitions/customer-data-group-search-results-interface"
                        }
                    },
                    "401": {
                        "description": "401 Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            }
        },
        "/V1/customerGroups": {
            "post": {
                "tags": [
                    "customerGroupRepositoryV1"
                ],
                "description": "Save customer group.",
                "operationId": "customerGroupRepositoryV1SavePost",
                "parameters": [
                    {
                        "name": "customerGroupRepositoryV1SavePostBody",
                        "in": "body",
                        "schema": {
                            "required": [
                                "group"
                            ],
                            "properties": {
                                "group": {
                                    "$ref": "#/definitions/customer-data-group-interface"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 Success.",
                        "schema": {
                            "$ref": "#/definitions/customer-data-group-interface"
                        }
                    },
                    "400": {
                        "description": "400 Bad Request",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "401": {
                        "description": "401 Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            }
        },
        "/V1/customerGroups/default/{storeId}": {
            "get": {
                "tags": [
                    "customerGroupManagementV1"
                ],
                "description": "Get default customer group.",
                "operationId": "customerGroupManagementV1GetDefaultGroupGet",
                "parameters": [
                    {
                        "name": "storeId",
                        "in": "path",
                        "type": "integer",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 Success.",
                        "schema": {
                            "$ref": "#/definitions/customer-data-group-interface"
                        }
                    },
                    "400": {
                        "description": "400 Bad Request",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "401": {
                        "description": "401 Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            }
        },
        "/V1/customerGroups/default": {
            "get": {
                "tags": [
                    "customerGroupManagementV1"
                ],
                "description": "Get default customer group.",
                "operationId": "customerGroupManagementV1GetDefaultGroupGet",
                "parameters": [
                    {
                        "name": "storeId",
                        "in": "query",
                        "type": "integer",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 Success.",
                        "schema": {
                            "$ref": "#/definitions/customer-data-group-interface"
                        }
                    },
                    "400": {
                        "description": "400 Bad Request",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "401": {
                        "description": "401 Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            }
        },
        "/V1/customerGroups/{id}/permissions": {
            "get": {
                "tags": [
                    "customerGroupManagementV1"
                ],
                "description": "Check if customer group can be deleted.",
                "operationId": "customerGroupManagementV1IsReadonlyGet",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "integer",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 Success.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    "400": {
                        "description": "400 Bad Request",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "401": {
                        "description": "401 Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            }
        },
        "/V1/customerGroups/default/{id}": {
            "put": {
                "tags": [
                    "customerCustomerGroupConfigV1"
                ],
                "description": "Set system default customer group.",
                "operationId": "customerCustomerGroupConfigV1SetDefaultCustomerGroupPut",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "integer",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 Success.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    "400": {
                        "description": "400 Bad Request",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "401": {
                        "description": "401 Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            }
        },
        "/V1/attributeMetadata/customer/attribute/{attributeCode}": {
            "get": {
                "tags": [
                    "customerCustomerMetadataV1"
                ],
                "description": "Retrieve attribute metadata.",
                "operationId": "customerCustomerMetadataV1GetAttributeMetadataGet",
                "parameters": [
                    {
                        "name": "attributeCode",
                        "in": "path",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 Success.",
                        "schema": {
                            "$ref": "#/definitions/customer-data-attribute-metadata-interface"
                        }
                    },
                    "400": {
                        "description": "400 Bad Request",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "401": {
                        "description": "401 Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            }
        },
        "/V1/attributeMetadata/customer/form/{formCode}": {
            "get": {
                "tags": [
                    "customerCustomerMetadataV1"
                ],
                "description": "Retrieve all attributes filtered by form code",
                "operationId": "customerCustomerMetadataV1GetAttributesGet",
                "parameters": [
                    {
                        "name": "formCode",
                        "in": "path",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 Success.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/customer-data-attribute-metadata-interface"
                            }
                        }
                    },
                    "401": {
                        "description": "401 Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            }
        },
        "/V1/attributeMetadata/customer": {
            "get": {
                "tags": [
                    "customerCustomerMetadataV1"
                ],
                "description": "Get all attribute metadata.",
                "operationId": "customerCustomerMetadataV1GetAllAttributesMetadataGet",
                "responses": {
                    "200": {
                        "description": "200 Success.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/customer-data-attribute-metadata-interface"
                            }
                        }
                    },
                    "401": {
                        "description": "401 Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            }
        },
        "/V1/attributeMetadata/customer/custom": {
            "get": {
                "tags": [
                    "customerCustomerMetadataV1"
                ],
                "description": "Get custom attributes metadata for the given data interface.",
                "operationId": "customerCustomerMetadataV1GetCustomAttributesMetadataGet",
                "parameters": [
                    {
                        "name": "dataInterfaceName",
                        "in": "query",
                        "type": "string",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 Success.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/customer-data-attribute-metadata-interface"
                            }
                        }
                    },
                    "401": {
                        "description": "401 Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            }
        },
        "/V1/attributeMetadata/customerAddress/attribute/{attributeCode}": {
            "get": {
                "tags": [
                    "customerAddressMetadataV1"
                ],
                "description": "Retrieve attribute metadata.",
                "operationId": "customerAddressMetadataV1GetAttributeMetadataGet",
                "parameters": [
                    {
                        "name": "attributeCode",
                        "in": "path",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 Success.",
                        "schema": {
                            "$ref": "#/definitions/customer-data-attribute-metadata-interface"
                        }
                    },
                    "400": {
                        "description": "400 Bad Request",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "401": {
                        "description": "401 Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            }
        },
        "/V1/attributeMetadata/customerAddress/form/{formCode}": {
            "get": {
                "tags": [
                    "customerAddressMetadataV1"
                ],
                "description": "Retrieve all attributes filtered by form code",
                "operationId": "customerAddressMetadataV1GetAttributesGet",
                "parameters": [
                    {
                        "name": "formCode",
                        "in": "path",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 Success.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/customer-data-attribute-metadata-interface"
                            }
                        }
                    },
                    "401": {
                        "description": "401 Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            }
        },
        "/V1/attributeMetadata/customerAddress": {
            "get": {
                "tags": [
                    "customerAddressMetadataV1"
                ],
                "description": "Get all attribute metadata.",
                "operationId": "customerAddressMetadataV1GetAllAttributesMetadataGet",
                "responses": {
                    "200": {
                        "description": "200 Success.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/customer-data-attribute-metadata-interface"
                            }
                        }
                    },
                    "401": {
                        "description": "401 Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            }
        },
        "/V1/attributeMetadata/customerAddress/custom": {
            "get": {
                "tags": [
                    "customerAddressMetadataV1"
                ],
                "description": "Get custom attributes metadata for the given data interface.",
                "operationId": "customerAddressMetadataV1GetCustomAttributesMetadataGet",
                "parameters": [
                    {
                        "name": "dataInterfaceName",
                        "in": "query",
                        "type": "string",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 Success.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/customer-data-attribute-metadata-interface"
                            }
                        }
                    },
                    "401": {
                        "description": "401 Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            }
        },
        "/V1/customers/{customerId}": {
            "get": {
                "tags": [
                    "customerCustomerRepositoryV1"
                ],
                "description": "Get customer by Customer ID.",
                "operationId": "customerCustomerRepositoryV1GetByIdGet",
                "parameters": [
                    {
                        "name": "customerId",
                        "in": "path",
                        "type": "integer",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 Success.",
                        "schema": {
                            "$ref": "#/definitions/customer-data-customer-interface"
                        }
                    },
                    "400": {
                        "description": "400 Bad Request",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "401": {
                        "description": "401 Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "customerCustomerRepositoryV1"
                ],
                "description": "Create or update a customer.",
                "operationId": "customerCustomerRepositoryV1SavePut",
                "parameters": [
                    {
                        "name": "customerId",
                        "in": "path",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "customerCustomerRepositoryV1SavePutBody",
                        "in": "body",
                        "schema": {
                            "required": [
                                "customer"
                            ],
                            "properties": {
                                "customer": {
                                    "$ref": "#/definitions/customer-data-customer-interface"
                                },
                                "passwordHash": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 Success.",
                        "schema": {
                            "$ref": "#/definitions/customer-data-customer-interface"
                        }
                    },
                    "400": {
                        "description": "400 Bad Request",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "401": {
                        "description": "401 Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "customerCustomerRepositoryV1"
                ],
                "description": "Delete customer by Customer ID.",
                "operationId": "customerCustomerRepositoryV1DeleteByIdDelete",
                "parameters": [
                    {
                        "name": "customerId",
                        "in": "path",
                        "type": "integer",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 Success.",
                        "schema": {
                            "type": "boolean",
                            "description": "true on success"
                        }
                    },
                    "400": {
                        "description": "400 Bad Request",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "401": {
                        "description": "401 Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            }
        },
        "/V1/customers/me": {
            "put": {
                "tags": [
                    "customerCustomerRepositoryV1"
                ],
                "description": "Create or update a customer.",
                "operationId": "customerCustomerRepositoryV1SavePut",
                "parameters": [
                    {
                        "name": "customerCustomerRepositoryV1SavePutBody",
                        "in": "body",
                        "schema": {
                            "required": [
                                "customer"
                            ],
                            "properties": {
                                "customer": {
                                    "$ref": "#/definitions/customer-data-customer-interface"
                                },
                                "passwordHash": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 Success.",
                        "schema": {
                            "$ref": "#/definitions/customer-data-customer-interface"
                        }
                    },
                    "400": {
                        "description": "400 Bad Request",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "401": {
                        "description": "401 Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "customerCustomerRepositoryV1"
                ],
                "description": "Get customer by Customer ID.",
                "operationId": "customerCustomerRepositoryV1GetByIdGet",
                "responses": {
                    "200": {
                        "description": "200 Success.",
                        "schema": {
                            "$ref": "#/definitions/customer-data-customer-interface"
                        }
                    },
                    "400": {
                        "description": "400 Bad Request",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "401": {
                        "description": "401 Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            }
        },
        "/V1/customers/search": {
            "get": {
                "tags": [
                    "customerCustomerRepositoryV1"
                ],
                "description": "Retrieve customers which match a specified criteria. This call returns an array of objects, but detailed information about each object’s attributes might not be included. See https://devdocs.magento.com/codelinks/attributes.html#CustomerRepositoryInterface to determine which call to use to get detailed information about all attributes for an object.",
                "operationId": "customerCustomerRepositoryV1GetListGet",
                "parameters": [
                    {
                        "name": "searchCriteria[filterGroups][0][filters][0][field]",
                        "in": "query",
                        "type": "string",
                        "description": "Field"
                    },
                    {
                        "name": "searchCriteria[filterGroups][0][filters][0][value]",
                        "in": "query",
                        "type": "string",
                        "description": "Value"
                    },
                    {
                        "name": "searchCriteria[filterGroups][0][filters][0][conditionType]",
                        "in": "query",
                        "type": "string",
                        "description": "Condition type"
                    },
                    {
                        "name": "searchCriteria[sortOrders][0][field]",
                        "in": "query",
                        "type": "string",
                        "description": "Sorting field."
                    },
                    {
                        "name": "searchCriteria[sortOrders][0][direction]",
                        "in": "query",
                        "type": "string",
                        "description": "Sorting direction."
                    },
                    {
                        "name": "searchCriteria[pageSize]",
                        "in": "query",
                        "type": "integer",
                        "description": "Page size."
                    },
                    {
                        "name": "searchCriteria[currentPage]",
                        "in": "query",
                        "type": "integer",
                        "description": "Current page."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 Success.",
                        "schema": {
                            "$ref": "#/definitions/customer-data-customer-search-results-interface"
                        }
                    },
                    "401": {
                        "description": "401 Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            }
        },
        "/V1/customers": {
            "post": {
                "tags": [
                    "customerAccountManagementV1"
                ],
                "description": "Create customer account. Perform necessary business operations like sending email.",
                "operationId": "customerAccountManagementV1CreateAccountPost",
                "parameters": [
                    {
                        "name": "customerAccountManagementV1CreateAccountPostBody",
                        "in": "body",
                        "schema": {
                            "required": [
                                "customer"
                            ],
                            "properties": {
                                "customer": {
                                    "$ref": "#/definitions/customer-data-customer-interface"
                                },
                                "password": {
                                    "type": "string"
                                },
                                "redirectUrl": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 Success.",
                        "schema": {
                            "$ref": "#/definitions/customer-data-customer-interface"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            }
        },
        "/V1/customers/me/activate": {
            "put": {
                "tags": [
                    "customerAccountManagementV1"
                ],
                "description": "Activate a customer account using a key that was sent in a confirmation email.",
                "operationId": "customerAccountManagementV1ActivateByIdPut",
                "parameters": [
                    {
                        "name": "customerAccountManagementV1ActivateByIdPutBody",
                        "in": "body",
                        "schema": {
                            "required": [
                                "confirmationKey"
                            ],
                            "properties": {
                                "confirmationKey": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 Success.",
                        "schema": {
                            "$ref": "#/definitions/customer-data-customer-interface"
                        }
                    },
                    "401": {
                        "description": "401 Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            }
        },
        "/V1/customers/{email}/activate": {
            "put": {
                "tags": [
                    "customerAccountManagementV1"
                ],
                "description": "Activate a customer account using a key that was sent in a confirmation email.",
                "operationId": "customerAccountManagementV1ActivatePut",
                "parameters": [
                    {
                        "name": "email",
                        "in": "path",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "customerAccountManagementV1ActivatePutBody",
                        "in": "body",
                        "schema": {
                            "required": [
                                "confirmationKey"
                            ],
                            "properties": {
                                "confirmationKey": {
[...]
