<h3 id="classes-221-222">Changes in classes</h3>
<table><tbody>
<tr>
    <th>What Changed</th>
    <th>How Changed</th>
</tr>
    <tr>
        <td>Magento\Newsletter\Model\Subscriber::__construct</td>
        <td>[public] Method parameter name changed.</td>
    </tr>
    <tr>
        <td>Magento\Cron\Model\Schedule::__construct</td>
        <td>[public] Method parameter name changed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Category::getChildren</td>
        <td>[public] Method parameter name changed.</td>
    </tr>
    <tr>
        <td>Magento\Sitemap\Model\Sitemap::LAST_MOD_MIN_VAL</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Reports\Model\ResourceModel\Review\Customer\Collection::addFieldToFilter</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Newsletter\Model\Subscriber::beforeSave</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\ImportExport\Helper\Report::getDelimiter</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\PaymentMethodIntegration\StaticAdditionalInformationProvider</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\PaymentMethodIntegration\StaticAvailabilityChecker</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\InstantPurchaseOption</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\InstantPurchaseOptionFactory</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\PlaceOrder</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\Ui\CustomerAddressesFormatter</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\Ui\PaymentTokenFormatter</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\Ui\ShippingMethodFormatter</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\ShippingMethodChoose\DeferredShippingMethodChooserPool</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\QuoteManagement\PaymentConfiguration</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\QuoteManagement\Purchase</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\QuoteManagement\QuoteCreation</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\QuoteManagement\QuoteFilling</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\QuoteManagement\ShippingConfiguration</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Block\Button</td>
        <td>Class was added.</td>
    </tr>
</tbody></table>

<h3 id="interfaces-221-222">Changes in interfaces</h3>
<table><tbody>
<tr>
    <th>What Changed</th>
    <th>How Changed</th>
</tr>
    <tr>
        <td>Magento\InstantPurchase\PaymentMethodIntegration\AvailabilityCheckerInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\PaymentMethodIntegration\PaymentAdditionalInformationProviderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\PaymentMethodIntegration\PaymentTokenFormatterInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\InstantPurchaseInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\ShippingMethodChoose\DeferredShippingMethodChooserInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\ShippingMethodChoose\ShippingMethodChooserInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\ShippingAddressChoose\ShippingAddressChooserInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\PaymentMethodChoose\PaymentTokenChooserInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\BillingAddressChoose\BillingAddressChooserInterface</td>
        <td>Interface was added.</td>
    </tr>
</tbody></table>
