
<h2 id="class">Class</h2>
<table><tbody>
    <tr>
        <th>Target</th>
        <th>What Changed</th>
    </tr>
    <tr>
        <td>Magento\Framework\Webapi\ServiceInputProcessor::__construct</td>
        <td>[public] Method parameter name changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Search\Dynamic\DataProviderFactory::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Search\Dynamic\IntervalFactory::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Module\Setup\Migration::__construct</td>
        <td>[public] Method parameter name changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Controller\Result\Json::__construct</td>
        <td>[public] Method parameter name changed.</td>
    </tr>
    <tr>
        <td>Magento\Variable\Model\Variable\Config::__construct</td>
        <td>[public] Method parameter name changed.</td>
    </tr>
    <tr>
        <td>Magento\Sitemap\Model\Sitemap::__construct</td>
        <td>[public] Method parameter name changed.</td>
    </tr>
    <tr>
        <td>Magento\Search\Model\AdapterFactory::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Search\Model\EngineResolver::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order::__construct</td>
        <td>[public] Method parameter name changed.</td>
    </tr>
    <tr>
        <td>Magento\ProductVideo\Block\Product\View\Gallery::__construct</td>
        <td>[public] Method parameter name changed.</td>
    </tr>
    <tr>
        <td>Magento\Newsletter\Model\Subscriber::__construct</td>
        <td>[public] Method parameter name changed.</td>
    </tr>
    <tr>
        <td>Magento\Email\Model\Template\Filter::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Block\CustomerScopeData::__construct</td>
        <td>[public] Method parameter name changed.</td>
    </tr>
    <tr>
        <td>Magento\Cron\Model\Schedule::__construct</td>
        <td>[public] Method parameter name changed.</td>
    </tr>
    <tr>
        <td>Magento\Config\Block\System\Config\Edit::__construct</td>
        <td>[public] Method parameter name changed.</td>
    </tr>
    <tr>
        <td>Magento\Cms\Model\Wysiwyg\Config::__construct</td>
        <td>[public] Method parameter name changed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\ResourceModel\EngineProvider::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\IndexStructureFactory::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\IndexerHandlerFactory::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogImportExport\Model\Import\Product::__construct</td>
        <td>[public] Method parameter name changed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Category\DataProvider::__construct</td>
        <td>[public] Method parameter name changed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Helper\Product\ProductList::__construct</td>
        <td>[public] Method parameter name changed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Block\Product\View\Gallery::__construct</td>
        <td>[public] Method parameter name changed.</td>
    </tr>
    <tr>
        <td>Magento\Backend\Block\Media\Uploader::__construct</td>
        <td>[public] Method parameter name changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Filesystem::getDirectoryReadByPath</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Model\ResourceModel\AbstractResource::$_logger</td>
        <td>[protected] Property has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Filter\Template::LOOP_PATTERN</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\File\Uploader::getDispersionPath</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\DB\Ddl\Table::OPTION_DEFAULT</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\DB\Ddl\Table::OPTION_IDENTITY</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\DB\Ddl\Table::OPTION_LENGTH</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\DB\Ddl\Table::OPTION_NULLABLE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\DB\Ddl\Table::OPTION_PRECISION</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\DB\Ddl\Table::OPTION_PRIMARY</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\DB\Ddl\Table::OPTION_SCALE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\DB\Ddl\Table::OPTION_TYPE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\DB\Ddl\Table::OPTION_UNSIGNED</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Backup\AbstractBackup::keepSourceFile</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Backup\AbstractBackup::setKeepSourceFile</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Widget\Model\Widget\Instance::SINGLE_PRODUCT_LAYOUT_HANDLE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\User\Model\ResourceModel\User\Collection::_initSelect</td>
        <td>[protected] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Translation\Block\Js::getTranslationFileVersion</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Store::getIsActive</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Store::setIsActive</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Sitemap\Model\ResourceModel\Catalog\Product::prepareSelectStatement</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Reports\Model\ResourceModel\Review\Customer\Collection::addFieldToFilter</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Newsletter\Model\Subscriber::beforeSave</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\GoogleAdwords\Helper\Data::hasSendConversionValueCurrency</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\GoogleAdwords\Helper\Data::getConversionValueCurrency</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\GoogleAdwords\Helper\Data::CONVERSION_VALUE_CURRENCY_REGISTRY_NAME</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\GoogleAdwords\Helper\Data::XML_PATH_SEND_CURRENCY</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Block\CustomerScopeData::encodeConfiguration</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\ConfigurableProduct\Model\ResourceModel\Product\Type\Configurable\Product\Collection::_beforeLoad</td>
        <td>[protected] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\ConfigurableProduct\Model\ResourceModel\Product\Type\Configurable\Attribute\Collection::_beforeLoad</td>
        <td>[protected] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Config\Model\Config\Source\Nooptreq::VALUE_NO</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Config\Model\Config\Source\Nooptreq::VALUE_OPTIONAL</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Config\Model\Config\Source\Nooptreq::VALUE_REQUIRED</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Config\Model\Config\Backend\Admin\Custom::XML_PATH_WEB_COOKIE_COOKIE_PATH</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Config\Block\System\Config\Edit::getConfigSearchParamsJson</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\ResourceModel\Category\Collection::__construct</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\ResourceModel\Category\Collection::addNavigationMaxDepthFilter</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Validation\ValidationException</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Validation\ValidationResult</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Ui\DataProvider\SearchResultFactory</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Ui\Block\Wysiwyg\ActiveEditor</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Swagger\Block\Index</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\PaymentMethodIntegration\StaticAdditionalInformationProvider</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\PaymentMethodIntegration\StaticAvailabilityChecker</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\InstantPurchaseOption</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\InstantPurchaseOptionFactory</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\PlaceOrder</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\Ui\CustomerAddressesFormatter</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\Ui\PaymentTokenFormatter</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\Ui\ShippingMethodFormatter</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\ShippingMethodChoose\DeferredShippingMethodChooserPool</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\QuoteManagement\PaymentConfiguration</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\QuoteManagement\Purchase</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\QuoteManagement\QuoteCreation</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\QuoteManagement\QuoteFilling</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\QuoteManagement\ShippingConfiguration</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Block\Button</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\EavGraphQl\Model\Resolver\Query\Type</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Backend\Ui\Component\Listing\Column\EditAction</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Backend\Ui\Component\Control\SaveSplitButton</td>
        <td>Class was added.</td>
    </tr>
</tbody></table>

<h2 id="interface">Interface</h2>
<table><tbody>
    <tr>
        <th>Target</th>
        <th>What Changed</th>
    </tr>
    <tr>
        <td>Magento\Store\Api\Data\StoreInterface::setIsActive</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Store\Api\Data\StoreInterface::getIsActive</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Search\EngineResolverInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Mail\MailMessageInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Exception\AggregateExceptionInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Ui\DataProvider\Modifier\WysiwygModifierInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sitemap\Model\SitemapConfigReaderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sitemap\Model\SitemapItemInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sitemap\Model\ItemProvider\ConfigReaderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sitemap\Model\ItemProvider\ItemProviderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\PaymentMethodIntegration\AvailabilityCheckerInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\PaymentMethodIntegration\PaymentAdditionalInformationProviderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\PaymentMethodIntegration\PaymentTokenFormatterInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\InstantPurchaseInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\ShippingMethodChoose\DeferredShippingMethodChooserInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\ShippingMethodChoose\ShippingMethodChooserInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\ShippingAddressChoose\ShippingAddressChooserInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\PaymentMethodChoose\PaymentTokenChooserInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\InstantPurchase\Model\BillingAddressChoose\BillingAddressChooserInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Model\AuthenticationInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Config\Model\Config\StructureElementInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Cms\Api\GetBlockByIdentifierInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Cms\Api\GetPageByIdentifierInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\CheckoutAgreements\Api\CheckoutAgreementsListInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\Connector\Http\ConverterInterface</td>
        <td>Interface was added.</td>
    </tr>
</tbody></table>
