<h4 id="class">Changes in classes</h4>
<table><tbody>
    <tr>
        <th>Class</th>
        <th>What Changed</th>
    </tr>
    <tr>
        <td>Magento\User\Observer\Backend\CheckAdminPasswordChangeObserver</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\PageCache\Model\App\FrontController\MessageBox</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Data\Form\FormKey::__construct</td>
        <td> Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Swatches\Helper\Data::loadFirstVariationWithSwatchImage</td>
        <td> Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Plugin\StoreCookie::aroundDispatch</td>
        <td> Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogUrlRewrite\Observer\AfterImportDataObserver::__construct</td>
        <td> Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\Fulltext\Action\Full::__construct</td>
        <td> Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogImportExport\Model\Import\Product::__construct</td>
        <td> Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Product\Option\Type\File\ValidatorFile::__construct</td>
        <td> Method parameter changed.</td>
    </tr>
</tbody></table>
