
<h4 id="class">Changes in classes</h4>
<table><tbody>
    <tr>
        <th>Class</th>
        <th>What Changed</th>
    </tr>
    <tr>
        <td>Magento\Store\Model\Config\Reader\DefaultReader</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Config\Reader\ReaderPool</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Config\Reader\Store</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Config\Reader\Website</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Quote\Setup\Recurring</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\ConfigurableProduct\Plugin\Model\Product</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\ConfigurableProduct\Block\Plugin\Product\Media\Gallery</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Plugin\PaymentVaultAttributesLoad::aroundGetExtensionAttributes</td>
        <td> Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Config\Converter::__construct</td>
        <td> Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Deploy\Model\Deployer::__construct</td>
        <td> Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogUrlRewrite\Model\Category\Plugin\Store\View::aroundSave</td>
        <td> Method has been removed.</td>
    </tr>
</tbody></table>

<h4 id="interface">Changes in interfaces</h4>
<table><tbody>
    <tr>
        <th>Interface</th>
        <th>What Changed</th>
    </tr>
    <tr>
        <td>Magento\Vault\Block\CardRendererInterface::getIconUrl</td>
        <td> Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\CardRendererInterface::getIconHeight</td>
        <td> Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\CardRendererInterface::getIconWidth</td>
        <td> Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\CardRendererInterface::getToken</td>
        <td> Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\TokenRendererInterface::getToken</td>
        <td> Method has been added.</td>
    </tr>
</tbody></table>
