
<h2 id="class">Class</h2>
<table><tbody>
    <tr>
        <th>Target</th>
        <th>What Changed</th>
    </tr>
    <tr>
        <td>Magento\Framework\View\Result\Layout::render</td>
        <td>[protected] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Result\Page::render</td>
        <td>[protected] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\PaymentAdapter::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\ObjectManager\Relations\Compiled</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\ObjectManager\Definition\Compiled</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\ObjectManager\Definition\Compiled\Binary</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\ObjectManager\Definition\Compiled\Serialized</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Intl\NumberFormatterFactory</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Interception\Definition\Compiled</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Interception\Chain\Chain</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\EntityManager\CustomAttributesMapper</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Config\ReaderPool</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\App\Config\ScopePool</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\CreditCards</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Usps\Block\Rma\Adminhtml\Rma\Edit\Tab\General\Shipping\Packaging\Plugin</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\RefundAdapter</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Controller\Adminhtml\Order\Invoice\Void</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Controller\Adminhtml\Order\Creditmemo\Void</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\PageCache\Block\System\Config\Form\Field\Export\Varnish3</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Fedex\Model\Plugin\Rma\Block\Adminhtml\Rma\Edit\Tab\General\Shippingmethod</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Eav\Model\Entity\AttributeCache</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Dhl\Model\Plugin\Rma\Block\Adminhtml\Rma\Edit\Tab\General\Shippingmethod</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Deploy\Console\CommandList</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Deploy\Console\Command\DeployStaticContentCommand</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\ConfigurableProduct\Model\Plugin\AroundProductRepositorySave</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\ConfigurableProduct\Helper\Product\Configuration\SaveProductPlugin</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogInventory\Observer\RefundOrderInventoryObserver</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\CatalogRegistry</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Result\Layout::render</td>
        <td>[protected] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Result\Page::render</td>
        <td>[protected] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Page\Config\Renderer::renderAssetHtml</td>
        <td>[protected] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Asset\File\FallbackContext::SECURE_PATH</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\ObjectManager\DefinitionFactory::getSupportedFormats</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\ObjectManager\DefinitionFactory::_unpack</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\ObjectManager\DefinitionFactory::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\ObjectManager\DefinitionFactory::$_definitionDir</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\ObjectManager\DefinitionFactory::$_definitionFormat</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\ObjectManager\DefinitionFactory::$definitionClasses</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Module\Plugin\DbStatusValidator::aroundDispatch</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\HTTP\Adapter\Curl::__construct</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Controller\AbstractResult::applyHttpHeaders</td>
        <td>[protected] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Controller\AbstractResult::render</td>
        <td>[protected] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Controller\Result\Forward::render</td>
        <td>[protected] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Controller\Result\Json::render</td>
        <td>[protected] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Controller\Result\Raw::render</td>
        <td>[protected] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Controller\Result\Redirect::render</td>
        <td>[protected] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\App\Config::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\App\Config::$_scopePool</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\App\ObjectManagerFactory::CONFIG_PATH_DEFINITION_FORMAT</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Widget\Model\ResourceModel\Widget\Instance\Options\ThemeId::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Weee\Model\App\Action\ContextPlugin::aroundDispatch</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Theme\Setup\UpgradeData::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Theme\Model\Url\Plugin\Signature::aroundGetBaseUrl</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Tax\Model\Quote\GrandTotalDetailsPlugin::aroundProcess</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Tax\Model\Quote\GrandTotalDetailsPlugin::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Tax\Model\App\Action\ContextPlugin::aroundDispatch</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Swatches\Model\Plugin\EavAttribute::beforeSave</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\Url\Plugin\RouteParamsResolver::aroundSetRouteParams</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\ResourceModel\Store::readAllStores</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\ResourceModel\Website::readAllWebsites</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Config\Processor\Fallback::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Config\Processor\Placeholder::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Config\Processor\Placeholder::$request</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Config\Processor\Placeholder::$urlPaths</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\Model\Config\Processor\Placeholder::$urlPlaceholder</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\App\Action\Plugin\Context::aroundDispatch</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\App\Action\Plugin\Context::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Store\App\Action\Plugin\Context::$httpRequest</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Store\App\Action\Plugin\StoreCheck::aroundDispatch</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\SalesInventory\Model\Plugin\Order\ReturnToStockInvoice::aroundExecute</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\SalesInventory\Model\Plugin\Order\ReturnToStockOrder::aroundExecute</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\SalesInventory\Model\Plugin\Order\Validation\InvoiceRefundCreationArguments::aroundValidate</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\SalesInventory\Model\Plugin\Order\Validation\OrderRefundCreationArguments::aroundValidate</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\SalesInventory\Model\Order\ReturnProcessor::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Setup\UpgradeData::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\InvoiceOrder::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\RefundInvoice::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\RefundOrder::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\ShipOrder::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\ValidatorResultMerger::merge</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\ResourceModel\Order\Plugin\Authorization::aroundLoad</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\PaymentAdapter::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\CronJob\CleanExpiredOrders::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\CronJob\CleanExpiredOrders::$logger</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Quote\Observer\Frontend\Quote\Address\CollectTotalsObserver::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Quote\Model\Product\Plugin\RemoveQuoteItems::aroundDelete</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Paypal\Model\Method\Checks\SpecificationPlugin::aroundIsApplicable</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Paypal\Model\Method\Checks\SpecificationPlugin::$_agreementFactory</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Paypal\Model\Config\StructurePlugin::$_helper</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Paypal\Model\Config\StructurePlugin::$_scopeDefiner</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Paypal\Model\Config\Structure\Element\FieldPlugin::aroundGetConfigPath</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Paypal\Model\Config\Structure\Element\FieldPlugin::$_request</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Paypal\Cron\FetchReports::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Paypal\Cron\FetchReports::$_logger</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Paypal\Block\Adminhtml\Store\SwitcherPlugin::aroundGetUrl</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\PageCache\Model\Config::VARNISH_3_CONFIGURATION_PATH</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\PageCache\Model\Controller\Result\BuiltinPlugin::aroundRenderResult</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\PageCache\Model\Controller\Result\VarnishPlugin::aroundRenderResult</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\PageCache\Model\Controller\Result\VarnishPlugin::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\PageCache\Model\Controller\Result\VarnishPlugin::$kernel</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\PageCache\Model\App\FrontController\VarnishPlugin::aroundDispatch</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Newsletter\Model\Plugin\CustomerPlugin::aroundSave</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Newsletter\Model\Plugin\CustomerPlugin::aroundDelete</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Newsletter\Model\Plugin\CustomerPlugin::afterSave</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\NewRelicReporting\Model\Cron\ReportNewRelicCron::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\NewRelicReporting\Model\Cron\ReportNewRelicCron::$logger</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Multishipping\Model\Cart\Controller\CartPlugin::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\MediaStorage\Model\Asset\Plugin\CleanMergedJsCss::aroundCleanMergedJsCss</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\GroupedProduct\Model\Sales\AdminOrder\Product\Quote\Plugin\Initializer::aroundInit</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\GroupedProduct\Model\ResourceModel\Product\Link\RelationPersister::aroundSaveProductLinks</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\GiftMessage\Model\Plugin\QuoteItem::aroundConvert</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\GiftMessage\Block\Message\Multishipping\Plugin\ItemsBox::aroundGetItemsBoxTextAfter</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Eav\Plugin\Model\ResourceModel\Entity\Attribute::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Eav\Plugin\Model\ResourceModel\Entity\Attribute::$isCacheEnabled</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Eav\Model\ResourceModel\AttributeLoader::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Eav\Model\ResourceModel\ReadHandler::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Eav\Model\ResourceModel\ReadHandler::$attributeRepository</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Eav\Model\ResourceModel\ReadHandler::$appResource</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Eav\Model\ResourceModel\ReadHandler::$searchCriteriaBuilder</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Eav\Model\Entity\AttributeLoader::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Developer\Model\View\Page\Config\ClientSideLessCompilation\Renderer::renderAssetHtml</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Model\Customer\DataProvider::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Model\App\Action\ContextPlugin::aroundDispatch</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Controller\Plugin\Account::aroundDispatch</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Controller\Adminhtml\Index\Save::_extractData</td>
        <td>[protected] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Cron\Observer\ProcessCronQueueObserver::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Cron\Model\Config\Reader\Db::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Contact\Controller\Index::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Contact\Controller\Index::$_transportBuilder</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Contact\Controller\Index::$inlineTranslation</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Contact\Controller\Index::$scopeConfig</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Contact\Controller\Index::$storeManager</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\ConfigurableProduct\Model\ResourceModel\Product\Type\Configurable::getAttributeOptions</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\ConfigurableProduct\Model\Quote\Item\QuantityValidator\Initializer\Option\Plugin\ConfigurableProduct::aroundGetStockItem</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\ConfigurableProduct\Model\Product\Validator\Plugin::aroundValidate</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\ConfigurableProduct\Model\Product\Type\Configurable::hasCacheData</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\ConfigurableProduct\Model\Product\Type\Configurable::getSalableUsedProducts</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\ConfigurableProduct\Model\Product\Type\Configurable::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\ConfigurableProduct\Controller\Adminhtml\Product\Builder\Plugin::aroundBuild</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Config\App\Config\Type\System::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\CmsUrlRewrite\Plugin\Cms\Model\ResourceModel\Page::aroundDelete</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogUrlRewrite\Observer\CategoryProcessUrlRewriteSavingObserver::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogUrlRewrite\Observer\CategoryProcessUrlRewriteSavingObserver::$urlPersist</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogUrlRewrite\Model\Category\Plugin\Storage::aroundReplace</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogUrlRewrite\Model\Category\Plugin\Storage::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogUrlRewrite\Model\Category\Plugin\Storage::$productFactory</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogUrlRewrite\Model\Category\Plugin\Store\Group::aroundSave</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogUrlRewrite\Model\Category\Plugin\Store\View::aroundDelete</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogUrlRewrite\Model\Category\Plugin\Category\Move::aroundChangeParent</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Search\ReaderPlugin::aroundRead</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\ResourceModel\Advanced\Collection::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Layer\Search\Plugin\CollectionFilter::aroundFilter</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\IndexStructure::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\IndexerHandler::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\Fulltext\Plugin\Attribute::aroundSave</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\Fulltext\Plugin\Attribute::aroundDelete</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\Fulltext\Plugin\Store\Group::aroundSave</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\Fulltext\Plugin\Store\View::aroundSave</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\Fulltext\Plugin\Product\Action::aroundUpdateAttributes</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Model\Indexer\Fulltext\Plugin\Product\Action::aroundUpdateWebsites</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogSearch\Block\Plugin\FrontTabPlugin::aroundSetForm</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogRuleConfigurable\Plugin\ConfigurableProduct\Model\ResourceModel\AddCatalogRulePrice::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogRuleConfigurable\Plugin\CatalogRule\Model\Rule\Validation::aroundValidate</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogRule\Plugin\Indexer\Product\Save\ApplyRules::aroundSave</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogRule\Plugin\Indexer\Product\Save\ApplyRulesAfterReindex::aroundReindex</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogInventory\Setup\UpgradeData::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogInventory\Model\Stock::$eventPrefix</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogInventory\Model\Stock\Item::$eventPrefix</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogInventory\Model\Plugin\AroundProductRepositorySave::aroundSave</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Plugin\Model\ResourceModel\Attribute\Save::aroundSave</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Plugin\QuoteItemProductOption::aroundConvert</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Indexer\Product\Flat\Plugin\IndexerConfigData::aroundGet</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Indexer\Product\Flat\Plugin\IndexerConfigData::$_state</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Indexer\Product\Eav\Plugin\AttributeSet::aroundSave</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Indexer\Category\Product\Plugin\StoreGroup::aroundSave</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Indexer\Category\Flat\Plugin\IndexerConfigData::aroundGet</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Indexer\Category\Flat\Plugin\StoreGroup::aroundSave</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Controller\Adminhtml\Product\AddAttributeToTemplate::$sortOrderBuilder</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Captcha\Model\DefaultModel::_getFormIdKey</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Captcha\Model\DefaultModel::_isOverLimitAttempts</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Captcha\Model\DefaultModel::_getAllowedAttemptsForSameLogin</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Captcha\Model\DefaultModel::_getAllowedAttemptsFromSameIp</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Captcha\Model\DefaultModel::_isOverLimitIpAttempt</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Captcha\Model\DefaultModel::_isOverLimitLoginAttempts</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Captcha\Model\DefaultModel::_isUserAuth</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Captcha\Model\DefaultModel::_generateWord</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Captcha\Model\DefaultModel::_getSymbols</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Captcha\Model\DefaultModel::_getWordLen</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Captcha\Model\DefaultModel::_isShowAlways</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Captcha\Model\DefaultModel::_isEnabled</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Captcha\Model\DefaultModel::_getTargetForms</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Captcha\Model\DefaultModel::_setWord</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Captcha\Model\DefaultModel::_clearWord</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Captcha\Model\DefaultModel::_randomSize</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Captcha\Model\DefaultModel::_gc</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Captcha\Model\DefaultModel::_getResourceModel</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Captcha\Model\DefaultModel::$_captchaData</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Captcha\Model\DefaultModel::$_expiration</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Captcha\Model\DefaultModel::$_fsize</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Captcha\Model\DefaultModel::$_formId</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Captcha\Model\DefaultModel::$_resLogFactory</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Captcha\Model\DefaultModel::$_keepSession</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Captcha\Model\DefaultModel::$_session</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Bundle\Model\Plugin\QuoteItem::aroundConvert</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Braintree\Model\Ui\ConfigProvider::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Braintree\Model\Ui\ConfigProvider::PAYPAL_CODE</td>
        <td>Constant has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Backend\Model\View\Result\Page::__construct</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Backend\Model\View\Result\Redirect::render</td>
        <td>[protected] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Backend\Model\Menu\Item::__sleep</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Backend\Model\Menu\Item::__wakeup</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Backend\Block\Menu::_isItemActive</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Backend\Block\Menu::_renderItemAnchorTitle</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Backend\Block\Menu::_renderItemOnclickFunction</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Backend\Block\Menu::_renderAnchorCssClass</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Backend\Block\Menu::_renderAnchor</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Backend\App\Config::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Backend\App\Config::$_scopePool</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Backend\App\Action\Plugin\MassactionKey::aroundDispatch</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\PaymentAdapter::refund</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Product\Type\AbstractType::isPossibleBuyFromList</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Product\Type\AbstractType::$serializer</td>
        <td>[protected] Property has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\DB\TemporaryTableService</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\DB\Sql\ColumnValueExpression</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Model\AbstractPaymentTokenFactory</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Model\AccountPaymentTokenFactory</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Model\CreditCardTokenFactory</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Block\AbstractTokenRenderer</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\CreditmemoDocumentFactory</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Creditmemo\Notifier</td>
        <td>Class was added.</td>
    </tr>
</tbody></table>

<h2 id="interface">Interface</h2>
<table><tbody>
    <tr>
        <th>Target</th>
        <th>What Changed</th>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\PaymentAdapterInterface::refund</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Interception\ChainInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\App\Config\Scope\ReaderPoolInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\RefundAdapterInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\View\Asset\AssetInterface::getSourceContentType</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Locale\ListsInterface::getOptionLocales</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Locale\ListsInterface::getTranslatedOptionLocales</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\App\Response\HttpInterface::getHttpResponseCode</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\App\Response\HttpInterface::setHeader</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\App\Response\HttpInterface::getHeader</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\App\Response\HttpInterface::clearHeader</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\App\Response\HttpInterface::setStatusHeader</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\App\Response\HttpInterface::appendBody</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\App\Response\HttpInterface::setBody</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\App\Response\HttpInterface::setRedirect</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Api\Search\SearchResultInterface::getAllIds</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\PaymentAdapterInterface::refund</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\ProductAttributeInterface::CODE_TIER_PRICE_FIELD_PERCENTAGE_VALUE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\ProductAttributeInterface::CODE_TIER_PRICE_FIELD_VALUE_TYPE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\App\PlainTextRequestInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\App\RequestContentInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Api\SearchCriteria\CollectionProcessorInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Api\SearchCriteria\CollectionProcessor\JoinProcessor\CustomJoinInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Api\SearchCriteria\CollectionProcessor\FilterProcessor\CustomFilterInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Api\Search\SearchResultInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Api\PaymentMethodListInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Vault\Api\Data\PaymentTokenInterfaceFactory</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Store\Api\StoreWebsiteRelationInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\ValidatorResultInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Validation\InvoiceOrderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Validation\RefundInvoiceInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Validation\RefundOrderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Validation\ShipOrderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Creditmemo\NotifierInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\RefundInvoiceInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\RefundOrderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Exception\CouldNotRefundExceptionInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\CreditmemoCommentCreationInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\CreditmemoCreationArgumentsInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Api\Data\CreditmemoItemCreationInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Api\PaymentMethodListInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Payment\Api\Data\PaymentMethodInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Eav\Api\Data\AttributeDefaultValueInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Block\Account\SortLinkInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Contact\Model\ConfigInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Contact\Model\MailInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\ConfigurableProduct\Pricing\Price\ConfigurableOptionsProviderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\ConfigurableProduct\Pricing\Price\LowestPriceOptionsProviderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\ProductIdLocatorInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\ResourceModel\Product\BaseSelectProcessorInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\BasePriceStorageInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\CategoryListInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\CostStorageInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\ScopedProductTierPriceManagementInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\SpecialPriceInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\SpecialPriceStorageInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\TierPriceStorageInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\BasePriceInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\CategoryLinkInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\CategorySearchResultsInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\CostInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\PriceUpdateResultInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\SpecialPriceInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Api\Data\TierPriceInterface</td>
        <td>Interface was added.</td>
    </tr>
</tbody></table>
