<h3 id="classes-220rc13-220rc12">Changes in classes</h3>
<table><tbody>
<tr>
<th>What Changed</th>
<th>How Changed</th>
</tr>
<tr>
    <td>Magento\Reports\Block\Product\Compared</td>
    <td>Class was removed.</td>
</tr>
<tr>
    <td>Magento\Reports\Block\Product\Viewed</td>
    <td>Class was removed.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\ResourceModel\Report\Collection::setInterval</td>
    <td>[public] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\Config\Model\PreparedValueFactory::__construct</td>
    <td>[public] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\Config\Console\Command\ConfigSetCommand::__construct</td>
    <td>[public] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\Config\Console\Command\ConfigSet\ProcessorFacade::__construct</td>
    <td>[public] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\Analytics\ReportXml\Config\Data</td>
    <td>Class was removed.</td>
</tr>
<tr>
    <td>Magento\Analytics\ReportXml\Config\SchemaLocator</td>
    <td>Class was removed.</td>
</tr>
<tr>
    <td>Magento\Analytics\ReportXml\Config\Reader\Xml</td>
    <td>Class was removed.</td>
</tr>
<tr>
    <td>Magento\Analytics\Model\Config\Data</td>
    <td>Class was removed.</td>
</tr>
<tr>
    <td>Magento\Analytics\Model\Config\SchemaLocator</td>
    <td>Class was removed.</td>
</tr>
<tr>
    <td>Magento\Analytics\Model\Config\Reader\Xml</td>
    <td>Class was removed.</td>
</tr>
<tr>
    <td>Magento\Framework\Session\Config::configureCookieLifetime</td>
    <td>[protected] Method has been removed.</td>
</tr>
<tr>
    <td>Magento\Framework\DB\Ddl\Sequence::__construct</td>
    <td>[public] Method has been removed.</td>
</tr>
<tr>
    <td>Magento\Framework\DB\Ddl\Sequence::DEFAULT_ENGINE</td>
    <td>Constant has been removed.</td>
</tr>
<tr>
    <td>Magento\Tax\Setup\InstallData::__construct</td>
    <td>[public] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\CatalogRule\Model\ResourceModel\Rule::getRulePrices</td>
    <td>[public] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\Catalog\Setup\UpgradeData::__construct</td>
    <td>[public] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\Catalog\Model\ResourceModel\Indexer\ActiveTableSwitcher::switchTable</td>
    <td>[public] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\Analytics\ReportXml\Config::__construct</td>
    <td>[public] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\Analytics\ReportXml\DB\ColumnsResolver::__construct</td>
    <td>[public] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\Framework\Config\ConfigOptionsListConstants::KEY_PORT</td>
    <td>Constant has been added.</td>
</tr>
<tr>
    <td>Magento\Tax\Block\Adminhtml\Rule\Edit\Form::getTaxRatesSelectConfig</td>
    <td>[public] Method has been added.</td>
</tr>
<tr>
    <td>Magento\Tax\Block\Adminhtml\Rule\Edit\Form::getTaxRatesPageUrl</td>
    <td>[public] Method has been added.</td>
</tr>
<tr>
    <td>Magento\Paypal\Model\Api\ProcessableException::API_TRANSACTION_HAS_BEEN_COMPLETED</td>
    <td>Constant has been added.</td>
</tr>
<tr>
    <td>Magento\Weee\Model\ProductRender\WeeeAdjustmentAttribute</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Catalog\Block\FrontendStorageManager</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Catalog\Block\Ui\ProductViewCounter</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Block\System\Store\Edit</td>
    <td>Class was added.</td>
</tr>
</tbody></table>

<h3 id="interfaces-220rc13-220rc12">Changes in interfaces</h3>
<table><tbody>
<tr>
    <th>What Changed</th>
    <th>How Changed</th>
</tr>
<tr>
    <td>Magento\Weee\Api\Data\ProductRender\WeeeAdjustmentAttributeInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Msrp\Api\Data\ProductRender\MsrpPriceInfoInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Catalog\Ui\DataProvider\Product\ProductRenderCollectorInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Catalog\Model\FrontendStorageConfigurationInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Catalog\Api\ProductRenderListInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Catalog\Api\Data\ProductFrontendActionInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Catalog\Api\Data\ProductRenderInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Catalog\Api\Data\ProductRenderSearchResultsInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Catalog\Api\Data\ProductRender\ButtonInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Catalog\Api\Data\ProductRender\FormattedPriceInfoInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Catalog\Api\Data\ProductRender\ImageInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Catalog\Api\Data\ProductRender\PriceInfoInterface</td>
    <td>Interface was added.</td>
</tr>
</tbody></table>
