<h3 id="classes-220rc14-220rc13">Changes in classes</h3>
<table><tbody>
<tr>
<th>What Changed</th>
<th>How Changed</th>
</tr>
<tr>
    <td>Magento\Config\Controller\Adminhtml\System\ConfigSectionChecker</td>
    <td>Class was removed.</td>
</tr>
<tr>
    <td>Magento\Config\Console\CommandList</td>
    <td>Class was removed.</td>
</tr>
<tr>
    <td>Magento\Config\Controller\Adminhtml\System\AbstractConfig::__construct</td>
    <td>[public] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\Config\Console\Command\ConfigSetCommand::__construct</td>
    <td>[public] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\Config\Console\Command\ConfigSet\ProcessorFacade::__construct</td>
    <td>[public] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\Tax\Setup\RecurringData</td>
    <td>Class was removed.</td>
</tr>
<tr>
    <td>Magento\Framework\ObjectManager\Code\Generator\Repository::NO_SUCH_ENTITY_EXCEPTION</td>
    <td>Constant has been removed.</td>
</tr>
<tr>
    <td>Magento\Framework\ObjectManager\Code\Generator\Repository::INPUT_EXCEPTION</td>
    <td>Constant has been removed.</td>
</tr>
<tr>
    <td>Magento\Framework\ObjectManager\Code\Generator\Repository::SEARCH_CRITERIA</td>
    <td>Constant has been removed.</td>
</tr>
<tr>
    <td>Magento\UrlRewrite\Model\Storage\AbstractStorage::doFindAllByData</td>
    <td>[protected] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\UrlRewrite\Model\Storage\AbstractStorage::doFindOneByData</td>
    <td>[protected] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\UrlRewrite\Model\Storage\AbstractStorage::doReplace</td>
    <td>[protected] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\UrlRewrite\Model\Storage\DbStorage::prepareSelect</td>
    <td>[protected] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\UrlRewrite\Model\Storage\DbStorage::doFindAllByData</td>
    <td>[protected] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\UrlRewrite\Model\Storage\DbStorage::doFindOneByData</td>
    <td>[protected] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\UrlRewrite\Model\Storage\DbStorage::doReplace</td>
    <td>[protected] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\Tax\Setup\InstallData::__construct</td>
    <td>[public] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\Tax\Setup\UpgradeData::__construct</td>
    <td>[public] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\Store\App\Config\Source\InitialConfigSource::__construct</td>
    <td>[public] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\Store\App\Config\Source\RuntimeConfigSource::__construct</td>
    <td>[public] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\ImportExport\Controller\Adminhtml\Import\Start::__construct</td>
    <td>[public] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\CatalogUrlRewrite\Observer\CategoryProcessUrlRewriteMovingObserver::__construct</td>
    <td>[public] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\CatalogUrlRewrite\Model\Storage\DbStorage::prepareSelect</td>
    <td>[protected] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\CatalogUrlRewrite\Model\Category\Plugin\Storage::afterReplace</td>
    <td>[public] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\Analytics\Model\ReportUrlProvider::__construct</td>
    <td>[public] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\Analytics\Model\Plugin\BaseUrlConfigPlugin::__construct</td>
    <td>[public] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\Analytics\Model\Plugin\BaseUrlConfigPlugin::afterAfterSave</td>
    <td>[public] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\Analytics\Model\Plugin\BaseUrlConfigPlugin::UPDATE_CRON_STRING_PATH</td>
    <td>Constant has been removed.</td>
</tr>
<tr>
    <td>Magento\Analytics\Model\Plugin\BaseUrlConfigPlugin::OLD_BASE_URL_FLAG_CODE</td>
    <td>Constant has been removed.</td>
</tr>
<tr>
    <td>Magento\Analytics\Model\Connector\NotifyDataChangedCommand::__construct</td>
    <td>[public] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\Analytics\Model\Connector\SignUpCommand::__construct</td>
    <td>[public] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\Analytics\Model\Connector\UpdateCommand::__construct</td>
    <td>[public] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\Analytics\Cron\Update::__construct</td>
    <td>[public] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\Store\Model\Website::afterSave</td>
    <td>[public] Method has been added.</td>
</tr>
<tr>
    <td>Magento\Quote\Model\Quote\Address::$_addressRateFactory</td>
    <td>[protected] Property has been added.</td>
</tr>
<tr>
    <td>Magento\Customer\Block\CustomerData::getExpirableSectionLifetime</td>
    <td>[public] Method has been added.</td>
</tr>
<tr>
    <td>Magento\Customer\Block\CustomerData::getExpirableSectionNames</td>
    <td>[public] Method has been added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Backend\Currency\Allow::_getAllowedCurrencies</td>
    <td>[protected] Method has been added.</td>
</tr>
<tr>
    <td>Magento\Catalog\Model\ResourceModel\Eav\Attribute::setIsUsedInGrid</td>
    <td>[public] Method has been added.</td>
</tr>
<tr>
    <td>Magento\Catalog\Model\ResourceModel\Eav\Attribute::setIsVisibleInGrid</td>
    <td>[public] Method has been added.</td>
</tr>
<tr>
    <td>Magento\Catalog\Model\ResourceModel\Eav\Attribute::setIsFilterableInGrid</td>
    <td>[public] Method has been added.</td>
</tr>
<tr>
    <td>Magento\UrlRewrite\Model\Exception\UrlAlreadyExistsException</td>
    <td>Class was added.</td>
</tr>
</tbody></table>

<h3 id="interfaces-220rc14-220rc13">Changes in interfaces</h3>
<table><tbody>
<tr>
    <th>What Changed</th>
    <th>How Changed</th>
</tr>
<tr>
    <td>Magento\Catalog\Api\Data\EavAttributeInterface::setIsUsedInGrid</td>
    <td>[public] Method has been added.</td>
</tr>
<tr>
    <td>Magento\Catalog\Api\Data\EavAttributeInterface::setIsVisibleInGrid</td>
    <td>[public] Method has been added.</td>
</tr>
<tr>
    <td>Magento\Catalog\Api\Data\EavAttributeInterface::setIsFilterableInGrid</td>
    <td>[public] Method has been added.</td>
</tr>
</tbody></table>
