<h3 id="classes-220rc12-220rc11">Changes in classes</h3>
<table><tbody>
<tr>
    <th>What Changed</th>
    <th>How Changed</th>
</tr>
<tr>
    <td>Magento\Indexer\Model\ResourceModel\FrontendResource</td>
    <td>Class was removed.</td>
</tr>
<tr>
    <td>Magento\Indexer\Setup\UpgradeSchema</td>
    <td>Class was removed.</td>
</tr>
<tr>
    <td>Magento\Quote\Model\Quote\TotalsReader::merge</td>
    <td>[protected] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\Indexer\Model\Indexer\State::getTableSuffix</td>
    <td>[public] Method has been removed.</td>
</tr>
<tr>
    <td>Magento\Indexer\Model\Indexer\State::setTableSuffix</td>
    <td>[public] Method has been removed.</td>
</tr>
<tr>
    <td>Magento\GroupedProduct\Model\ResourceModel\Indexer\Stock\Grouped::__construct</td>
    <td>[public] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\ConfigurableProduct\Model\ResourceModel\Indexer\Stock\Configurable::__construct</td>
    <td>[public] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\CatalogWidget\Model\Rule\Condition\Product::__construct</td>
    <td>[public] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\CatalogSearch\Model\Search\IndexBuilder::__construct</td>
    <td>[public] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\CatalogSearch\Model\Adapter\Mysql\Filter\Preprocessor::__construct</td>
    <td>[public] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\CatalogSearch\Model\Adapter\Mysql\Dynamic\DataProvider::__construct</td>
    <td>[public] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\CatalogInventory\Model\ResourceModel\Product\StockStatusBaseSelectProcessor::__construct</td>
    <td>[public] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\CatalogInventory\Model\Indexer\Stock\Action\Full::__construct</td>
    <td>[public] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\Catalog\Model\Indexer\Product\Price\Action\Full::__construct</td>
    <td>[public] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\Catalog\Model\Indexer\Product\Eav\Action\Full::__construct</td>
    <td>[public] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\Catalog\Model\Indexer\Category\Product\Action\Full::__construct</td>
    <td>[public] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\Bundle\Model\ResourceModel\Indexer\Stock::__construct</td>
    <td>[public] Method parameter changed.</td>
</tr>
<tr>
    <td>Magento\Cron\Model\ResourceModel\Schedule::trySetJobUniqueStatusAtomic</td>
    <td>[public] Method has been added.</td>
</tr>
<tr>
    <td>Magento\Catalog\Block\Product\AbstractProduct::$imageBuilder</td>
    <td>[protected] Property has been added.</td>
</tr>
<tr>
    <td>Magento\Bundle\Model\ResourceModel\Selection::save</td>
    <td>[public] Method has been added.</td>
</tr>
<tr>
    <td>Magento\Framework\View\Page\Config\Structure</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\View\Layout\Element</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\View\Layout\GeneratorPool</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\View\Layout\ScheduledStructure</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\View\Layout\Reader\Context</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\View\Layout\Generator\Context</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\View\Layout\Data\Structure</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Session\Generic</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Search\EntityMetadata</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Search\Request</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Search\Response\Aggregation</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Search\Response\QueryResponse</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Search\Request\Binder</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Search\Request\Builder</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Search\Request\Cleaner</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Search\Request\Dimension</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Search\Request\EmptyRequestDataException</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Search\Request\Mapper</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Search\Request\NonExistingRequestNameException</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Search\Request\Query\BoolExpression</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Search\Request\Query\Filter</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Search\Request\Query\Match</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Search\Request\Filter\BoolExpression</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Search\Request\Filter\Range</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Search\Request\Filter\Term</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Search\Request\Filter\Wildcard</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Search\Request\Aggregation\DynamicBucket</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Search\Dynamic\Algorithm</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Search\Dynamic\DataProviderFactory</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Search\Dynamic\EntityStorage</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Search\Dynamic\EntityStorageFactory</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Search\Dynamic\IntervalFactory</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Search\Dynamic\Algorithm\Repository</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Search\Adapter\Mysql\ConditionManager</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Search\Adapter\Mysql\DocumentFactory</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Search\Adapter\Mysql\Mapper</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Search\Adapter\Mysql\ScoreBuilder</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Search\Adapter\Mysql\TemporaryStorage</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Search\Adapter\Mysql\TemporaryStorageFactory</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Search\Adapter\Mysql\Query\Builder\Match</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Search\Adapter\Mysql\Field\FieldFactory</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Search\Adapter\Mysql\Aggregation\Builder</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Search\Adapter\Mysql\Aggregation\DataProviderContainer</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Notification\MessageList</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Notification\NotifierList</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Config\AbstractXml</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Config\ConfigOptionsListConstants</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Config\Data</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Config\Dom</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Config\DomFactory</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Config\FileIterator</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Config\FileIteratorFactory</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Config\Theme</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Config\Reader\Filesystem</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Config\File\ConfigFilePool</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Config\Dom\UrnResolver</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Config\Dom\ValidationException</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Config\Data\ConfigData</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Config\Data\Scoped</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Config\Converter\Dom\Flat</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Config\Composer\Package</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Backup\AbstractBackup</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Backup\Db</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Backup\Factory</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Backup\Filesystem\Rollback\AbstractRollback</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Backup\Db\BackupFactory</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Api\FilterBuilder</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Api\Search\Document</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Api\Search\SearchCriteriaBuilder</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Acl\AclResource</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Acl\RootResource</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Sitemap\Model\Sitemap</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Sitemap\Model\Source\Product\Image\IncludeImage</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Sitemap\Model\ResourceModel\Sitemap</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Sitemap\Model\ResourceModel\Sitemap\Collection</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Sitemap\Model\ResourceModel\Cms\Page</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Sitemap\Model\ResourceModel\Catalog\Category</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Sitemap\Model\ResourceModel\Catalog\Product</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Sitemap\Block\Robots</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Search\Model\AdapterFactory</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Search\Model\EngineResolver</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Search\Model\Query</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Search\Model\QueryFactory</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Search\Model\QueryResult</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Search\Model\SearchCollectionFactory</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Search\Model\SynonymReader</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Search\Model\SearchEngine\Config\Data</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Search\Model\ResourceModel\Query</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Search\Model\ResourceModel\SynonymGroup</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Search\Model\ResourceModel\SynonymGroup\Collection</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Search\Model\ResourceModel\Query\Collection</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Search\Model\Adminhtml\System\Config\Source\Engine</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Search\Helper\Data</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Robots\Model\Config\Value</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Robots\Block\Data</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\Config</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\Event</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\Flag</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\Item</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\ResourceModel\Event</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\ResourceModel\Wishlist\Collection</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\ResourceModel\Wishlist\Product\Collection</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\ResourceModel\Review\Collection</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\ResourceModel\Review\Product\Collection</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\ResourceModel\Review\Customer\Collection</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\ResourceModel\Report\AbstractReport</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\ResourceModel\Report\Collection</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\ResourceModel\Report\Product\Viewed</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\ResourceModel\Report\Product\Viewed\Collection</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\ResourceModel\Report\Collection\Factory</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\ResourceModel\Refresh\Collection</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\ResourceModel\Quote\Collection</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\ResourceModel\Quote\Item\Collection</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\ResourceModel\Product\Collection</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\ResourceModel\Product\Sold\Collection</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\ResourceModel\Product\Sold\Collection\Initial</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\ResourceModel\Product\Lowstock\Collection</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\ResourceModel\Product\Index\AbstractIndex</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\ResourceModel\Product\Index\Compared</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\ResourceModel\Product\Index\Viewed</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\ResourceModel\Product\Index\Viewed\Collection</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\ResourceModel\Product\Index\Compared\Collection</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\ResourceModel\Product\Index\Collection\AbstractCollection</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\ResourceModel\Product\Downloads\Collection</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\ResourceModel\Order\Collection</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\ResourceModel\Event\Collection</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\ResourceModel\Event\Type</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\ResourceModel\Event\Type\Collection</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\ResourceModel\Customer\Collection</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\ResourceModel\Customer\Totals\Collection</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\ResourceModel\Customer\Totals\Collection\Initial</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\ResourceModel\Customer\Orders\Collection</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\ResourceModel\Customer\Orders\Collection\Initial</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\ResourceModel\Accounts\Collection</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\ResourceModel\Accounts\Collection\Initial</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\Product\Index\AbstractIndex</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\Product\Index\Compared</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\Product\Index\Factory</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\Product\Index\Viewed</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\Grouped\Collection</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\Event\Type</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Helper\Data</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Controller\Adminhtml\Index</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Controller\Adminhtml\Report\AbstractReport</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Controller\Adminhtml\Report\Customer</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Controller\Adminhtml\Report\Product</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Controller\Adminhtml\Report\Review</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Controller\Adminhtml\Report\Sales</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Controller\Adminhtml\Report\Shopcart</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Controller\Adminhtml\Report\Statistics</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Block\Product\Compared</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Block\Product\Viewed</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Block\Adminhtml\Grid\Column\Renderer\Currency</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\LayeredNavigation\Model\Attribute\Source\FilterableOptions</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\LayeredNavigation\Block\Navigation</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\GoogleOptimizer\Ui\DataProvider\Product\Form\Modifier\GoogleOptimizer</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\GoogleOptimizer\Observer\AbstractSave</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\GoogleOptimizer\Model\Code</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\GoogleOptimizer\Model\ResourceModel\Code</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\GoogleOptimizer\Helper\Code</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\GoogleOptimizer\Helper\Data</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\GoogleOptimizer\Helper\Form</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\GoogleAnalytics\Helper\Data</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\GoogleAdwords\Model\Validator\Factory</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\GoogleAdwords\Model\Filter\UppercaseTitle</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\GoogleAdwords\Model\Config\Source\Language</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\GoogleAdwords\Model\Config\Source\ValueType</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\GoogleAdwords\Model\Config\Backend\AbstractConversion</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\GoogleAdwords\Model\Config\Backend\Color</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\GoogleAdwords\Model\Config\Backend\ConversionId</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Customer\Block\CustomerScopeData</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CurrencySymbol\Model\System\Currencysymbol</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CurrencySymbol\Controller\Adminhtml\System\Currency</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CurrencySymbol\Controller\Adminhtml\System\Currencysymbol</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CurrencySymbol\Block\Adminhtml\System\Currency</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\PreparedValueFactory</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\ResourceModel\Config</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\ResourceModel\Config\Data</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\ResourceModel\Config\Data\Collection</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Placeholder\Environment</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Placeholder\PlaceholderFactory</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\BackendFactory</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\CommentFactory</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Factory</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Importer</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Loader</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\PathValidator</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\SchemaLocator</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\ScopeDefiner</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\SourceFactory</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Structure</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\TypePool</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Structure\AbstractElement</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Structure\AbstractMapper</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Structure\ConcealInProductionConfigList</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Structure\Converter</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Structure\Data</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Structure\ElementVisibilityComposite</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Structure\Reader</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Structure\Search\Proxy</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Structure\Mapper\Dependencies</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Structure\Mapper\ExtendsMapper</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Structure\Mapper\Factory</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Structure\Mapper\Ignore</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Structure\Mapper\Path</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Structure\Mapper\Sorting</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Structure\Mapper\Helper\RelativePathConverter</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Structure\Mapper\Attribute\Inheritance</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Structure\Element\AbstractComposite</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Structure\Element\Field</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Structure\Element\FlyweightFactory</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Structure\Element\Group</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Structure\Element\Tab</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Structure\Element\Iterator\Field</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Structure\Element\Iterator\Group</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Structure\Element\Iterator\Section</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Structure\Element\Iterator\Tab</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Structure\Element\Group\Proxy</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Structure\Element\Dependency\Field</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Structure\Element\Dependency\FieldFactory</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Structure\Element\Dependency\Mapper</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Source\Enabledisable</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Source\Locale</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Source\Nooptreq</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Source\Store</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Source\Website</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Source\Yesnocustom</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Source\Website\AdminOptionHash</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Source\Website\OptionHash</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Source\Web\Protocol</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Source\Web\Redirect</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Source\Reports\Scope</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Source\Locale\Country</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Source\Locale\Currency</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Source\Locale\Timezone</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Source\Locale\Weekdaycodes</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Source\Locale\Weekdays</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Source\Locale\Currency\All</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Source\Image\Adapter</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Source\Email\Identity</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Source\Email\Method</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Source\Email\Smtpauth</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Source\Email\Template</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Source\Dev\Dbautoup</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Source\Design\Robots</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Source\Date\Short</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Source\Admin\Page</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Reader\Source\Deployed\DocumentRoot</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Reader\Source\Deployed\SettingChecker</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Processor\EnvironmentPlaceholder</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Parser\Comment</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Export\Comment</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Compiler\IncludeElement</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\BackendClone\Factory</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Backend\Cache</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Backend\Datashare</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Backend\Encrypted</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Backend\File</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Backend\Filename</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Backend\Image</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Backend\Locale</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Backend\Secure</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Backend\Serialized</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Backend\Store</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Backend\Translate</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Backend\Log\Cron</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Backend\Locale\Timezone</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Backend\Image\Adapter</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Backend\Image\Favicon</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Backend\Image\Logo</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Backend\Image\Pdf</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Backend\Email\Address</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Backend\Email\Sender</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Backend\Design\Exception</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Backend\Currency\AbstractCurrency</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Backend\Currency\Allow</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Backend\Currency\Base</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Backend\Currency\Cron</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Backend\Currency\DefaultCurrency</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Backend\Admin\Custom</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Backend\Admin\Custompath</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Backend\Admin\Usecustom</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Backend\Admin\Usesecretkey</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Backend\Admin\Password\Link\Expirationperiod</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Controller\Adminhtml\System\AbstractConfig</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Controller\Adminhtml\System\ConfigSectionChecker</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Controller\Adminhtml\System\Config\AbstractScopeConfig</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Console\CommandList</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Console\Command\ConfigSetCommand</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Console\Command\ConfigShowCommand</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Console\Command\ConfigShow\ValueProcessor</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Console\Command\ConfigSet\ConfigSetProcessorFactory</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Console\Command\ConfigSet\DefaultProcessor</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Console\Command\ConfigSet\ProcessorFacade</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Block\System\Config\Form</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Block\System\Config\Form\Fieldset</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Block\System\Config\Form\Fieldset\Modules\DisableOutput</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Block\System\Config\Form\Field\Heading</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Block\System\Config\Form\Field\Notification</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\Block\System\Config\Form\Field\FieldArray\AbstractFieldArray</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\App\Config\Type\System</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\App\Config\Source\EnvironmentConfigSource</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\App\Config\Source\InitialSnapshotConfigSource</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\App\Config\Source\ModularConfigSource</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Config\App\Config\Source\RuntimeConfigSource</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogSearch\Model\Advanced</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogSearch\Model\Source\Weight</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogSearch\Model\Search\RequestGenerator</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogSearch\Model\Search\TableMapper</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogSearch\Model\Search\RequestGenerator\GeneratorResolver</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogSearch\Model\ResourceModel\Advanced</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogSearch\Model\ResourceModel\EngineProvider</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogSearch\Model\ResourceModel\Fulltext</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogSearch\Model\ResourceModel\Search\Collection</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogSearch\Model\ResourceModel\Fulltext\Collection</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogSearch\Model\ResourceModel\Advanced\Collection</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogSearch\Model\Indexer\Fulltext</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogSearch\Model\Indexer\IndexStructure</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogSearch\Model\Indexer\IndexStructureFactory</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogSearch\Model\Indexer\IndexerHandler</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogSearch\Model\Indexer\IndexerHandlerFactory</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogSearch\Model\Indexer\ProductFieldset</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogSearch\Model\Indexer\Fulltext\Processor</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogSearch\Model\Indexer\Fulltext\Action\DataProvider</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogSearch\Model\Indexer\Fulltext\Action\Full</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogSearch\Model\Indexer\Fulltext\Action\IndexIterator</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogSearch\Model\Advanced\Request\Builder</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogSearch\Model\Adminhtml\System\Config\Backend\Engine</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogSearch\Model\Adapter\Options</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogSearch\Model\Adapter\Mysql\Filter\AliasResolver</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\CatalogSearch\Helper\Data</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backup\Model\Backup</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backup\Model\BackupFactory</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backup\Model\Db</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backup\Model\ResourceModel\Db</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backup\Model\ResourceModel\Helper</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backup\Model\Grid\Options</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backup\Model\Fs\Collection</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backup\Model\Config\Source\Type</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backup\Model\Config\Backend\Cron</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backup\Helper\Data</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backup\Controller\Adminhtml\Index</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\AdminPathConfig</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\Url</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\Widget\Grid\AbstractTotals</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\Widget\Grid\Parser</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\Widget\Grid\SubTotals</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\Widget\Grid\Totals</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\Widget\Grid\Row\UrlGenerator</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\Widget\Grid\Row\UrlGeneratorFactory</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\Widget\Grid\Row\UrlGeneratorId</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\View\Result\RedirectFactory</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\View\Page\Builder</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\View\Layout\Builder</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\View\Layout\StructureManager</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\View\Layout\Reader\Block</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\Url\ScopeResolver</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\Translate\Inline\Config</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\Setup\MenuBuilder</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\Session\AdminConfig</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\Search\Customer</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\Search\Order</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\ResourceModel\Translate</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\Menu\AbstractDirector</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\Menu\Builder</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\Menu\Config</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\Menu\Iterator</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\Menu\Item\Factory</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\Menu\Item\Validator</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\Menu\Filter\Iterator</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\Menu\Director\Director</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\Menu\Config\Converter</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\Menu\Config\Reader</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\Menu\Config\SchemaLocator</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\Menu\Config\Menu\Dom</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\Menu\Builder\AbstractCommand</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\Menu\Builder\CommandFactory</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\Menu\Builder\Command\Add</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\Menu\Builder\Command\Remove</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\Menu\Builder\Command\Update</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\Locale\Manager</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\Locale\Resolver</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\Config\SessionLifetime\BackendModel</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\Cache\ResourceModel\Grid\Collection</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Model\Authorization\RoleLocator</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Helper\Js</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Helper\Dashboard\AbstractDashboard</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Helper\Dashboard\Data</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Helper\Dashboard\Order</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Controller\Adminhtml\Index\GlobalSearch</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Controller\Adminhtml\Auth\Login</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Console\Command\AbstractCacheCommand</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Console\Command\AbstractCacheManageCommand</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Console\Command\AbstractCacheSetCommand</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Console\Command\AbstractCacheTypeManageCommand</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Console\Command\CacheCleanCommand</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Console\Command\CacheDisableCommand</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Console\Command\CacheEnableCommand</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Console\Command\CacheFlushCommand</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Console\Command\CacheStatusCommand</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Block\Widget\Grid\Column\Renderer\Options\Converter</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Block\Widget\Grid\Column\Filter\Date</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Block\Widget\Grid\Column\Filter\Range</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Block\Widget\Grid\Column\Filter\Text</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Block\Widget\Form\Element\Dependence</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Block\Widget\Button\SplitButton</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Block\Widget\Button\Toolbar\Container</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Block\Text\ListText</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Block\Store\Switcher\Form\Renderer\Fieldset</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Block\Store\Switcher\Form\Renderer\Fieldset\Element</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Block\Media\Uploader</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Block\Dashboard\Grid</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Block\Dashboard\Searches\Renderer\Searchquery</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Block\Catalog\Product\Tab\Container</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\App\BackendApp</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\App\BackendAppList</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\App\DefaultPath</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\App\Router</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\App\UserConfig</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\App\Router\NoRouteHandler</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\App\Response\Http\FileFactory</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\App\Request\PathInfoProcessor</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\Backend\App\Area\FrontNameResolver</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\AdminNotification\Ui\Component\DataProvider\DataProvider</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\AdminNotification\Model\Feed</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\AdminNotification\Model\Inbox</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\AdminNotification\Model\NotificationService</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\AdminNotification\Model\System\Message</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\AdminNotification\Model\System\Message\CacheOutdated</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\AdminNotification\Model\System\Message\Security</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\AdminNotification\Model\System\Message\Media\AbstractSynchronization</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\AdminNotification\Model\System\Message\Media\Synchronization\Error</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\AdminNotification\Model\System\Message\Media\Synchronization\Success</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\AdminNotification\Model\ResourceModel\Inbox</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\AdminNotification\Model\ResourceModel\System\Message</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\AdminNotification\Model\ResourceModel\System\Message\Collection</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\AdminNotification\Model\ResourceModel\System\Message\Collection\Synchronized</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\AdminNotification\Model\ResourceModel\Inbox\Collection\Critical</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\AdminNotification\Model\ResourceModel\Inbox\Collection\Unread</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\AdminNotification\Model\ResourceModel\Grid\Collection</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\AdminNotification\Model\Config\Source\Frequency</td>
    <td>Class was added.</td>
</tr>
<tr>
    <td>Magento\AdminNotification\Controller\Adminhtml\Notification</td>
    <td>Class was added.</td>
</tr>
</tbody></table>

<h3 id="interfaces-220rc12-220rc11">Changes in interfaces</h3>
<table><tbody>
<tr>
<th>What Changed</th>
<th>How Changed</th>
</tr>
<tr>
    <td>Magento\Framework\Indexer\StateInterface::ADDITIONAL_TABLE_SUFFIX</td>
    <td>Constant has been removed.</td>
</tr>
<tr>
    <td>Magento\Framework\View\TemplateEngine\Xhtml\CompilerInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Search\RequestInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Search\Request\BucketInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Search\Request\FilterInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Search\Request\QueryInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Search\Dynamic\DataProviderInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Search\Dynamic\IntervalInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Notification\NotifierInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Backup\BackupInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Backup\Db\BackupDbInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Backup\Db\BackupInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Framework\Acl\Data\CacheInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Search\Model\AutocompleteInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Search\Model\QueryInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Search\Model\SearchCollectionInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Search\Model\Autocomplete\DataProviderInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Search\Model\Autocomplete\ItemInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\ResourceModel\HelperInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Reports\Model\ResourceModel\Quote\CollectionFactoryInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Placeholder\PlaceholderInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\CommentInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Structure\ElementVisibilityInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Structure\MapperInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Structure\SearchInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Config\Model\Config\Backend\File\RequestData\RequestDataInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Config\Console\Command\ConfigSet\ConfigSetProcessorInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Config\App\Config\Source\DumpConfigSourceInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\CatalogSearch\Model\Search\RequestGenerator\GeneratorInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\CatalogSearch\Model\Search\FilterMapper\FilterStrategyInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\CatalogSearch\Model\ResourceModel\EngineInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\CatalogSearch\Model\Indexer\IndexSwitcherInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Service\V1\ModuleServiceInterface</td>
    <td>Interface was added.</td>
</tr>
<tr>
    <td>Magento\Backend\Block\Widget\ContainerInterface</td>
    <td>Interface was added.</td>
</tr>
</tbody></table>
