<h3 id="classes-220rc18-220rc16">Changes in classes</h3>
<table><tbody>
<tr>
    <th>What Changed</th>
    <th>How Changed</th>
</tr>
    <tr>
        <td>Magento\Analytics\Ui\DataProvider\DummyDataProvider</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Setup\InstallData</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\ReportXml\Config</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\ReportXml\ConnectionFactory</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\ReportXml\IteratorFactory</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\ReportXml\Query</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\ReportXml\QueryFactory</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\ReportXml\ReportProvider</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\ReportXml\SelectHydrator</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\ReportXml\DB\ColumnsResolver</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\ReportXml\DB\ConditionResolver</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\ReportXml\DB\NameResolver</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\ReportXml\DB\ReportValidator</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\ReportXml\DB\SelectBuilder</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\ReportXml\DB\SelectBuilderFactory</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\ReportXml\DB\Assembler\FilterAssembler</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\ReportXml\DB\Assembler\FromAssembler</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\ReportXml\DB\Assembler\JoinAssembler</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\ReportXml\Config\Mapper</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\ReportXml\Config\Reader</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\ReportXml\Config\Converter\Xml</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\AnalyticsToken</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\Config</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\Connector</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\Cryptographer</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\EncodedContext</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\ExportDataHandler</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\ExportDataHandlerNotification</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\FileInfo</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\FileInfoManager</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\FileRecorder</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\IntegrationManager</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\Link</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\LinkProvider</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\NotificationTime</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\ProviderFactory</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\ReportUrlProvider</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\ReportWriter</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\StoreConfigurationProvider</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\SubscriptionStatusProvider</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\System\Message\NotificationAboutFailedSubscription</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\ReportXml\ModuleIterator</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\Plugin\BaseUrlConfigPlugin</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\Exception\State\SubscriptionUpdateException</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\Connector\NotifyDataChangedCommand</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\Connector\OTPRequest</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\Connector\SignUpCommand</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\Connector\UpdateCommand</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\Connector\ResponseHandler\OTP</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\Connector\ResponseHandler\ReSignUp</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\Connector\ResponseHandler\SignUp</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\Connector\ResponseHandler\Update</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\Connector\Http\JsonConverter</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\Connector\Http\ResponseFactory</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\Connector\Http\ResponseResolver</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\Connector\Http\Client\Curl</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\Config\Mapper</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\Config\Reader</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\Config\Source\Vertical</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\Config\Backend\CollectionTime</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\Config\Backend\Enabled</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\Config\Backend\Vertical</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\Config\Backend\Enabled\SubscriptionHandler</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\Config\Backend\Baseurl\SubscriptionUpdateHandler</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\Condition\CanViewNotification</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Cron\CollectData</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Cron\SignUp</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Cron\Update</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Controller\Adminhtml\Subscription\Activate</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Controller\Adminhtml\Subscription\Postpone</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Controller\Adminhtml\Subscription\Retry</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Controller\Adminhtml\Reports\Show</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Controller\Adminhtml\BIEssentials\SignUp</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Block\Adminhtml\System\Config\AdditionalComment</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Block\Adminhtml\System\Config\CollectionTimeLabel</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Block\Adminhtml\System\Config\SubscriptionStatusLabel</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\SalesSequence\Setup\InstallData::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
</tbody></table>

<h3 id="interfaces-220rc18-220rc16">Changes in interfaces</h3>
<table><tbody>
<tr>
    <th>What Changed</th>
    <th>How Changed</th>
</tr>
    <tr>
        <td>Magento\Analytics\ReportXml\ConfigInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\ReportXml\DB\Assembler\AssemblerInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\ConfigInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\ExportDataHandlerInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\ReportWriterInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\Connector\CommandInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\Connector\Http\ClientInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\Connector\Http\ConverterInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Model\Connector\Http\ResponseHandlerInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Api\LinkProviderInterface</td>
        <td>Interface was removed.</td>
    </tr>
    <tr>
        <td>Magento\Analytics\Api\Data\LinkInterface</td>
        <td>Interface was removed.</td>
    </tr>
</tbody></table>
