<h3 id="classes-220rc23-220rc22">Changes in classes</h3>
<table><tbody>
<tr>
    <th>What Changed</th>
    <th>How Changed</th>
</tr>
    <tr>
        <td>Magento\SalesRule\Setup\UpgradeData::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Bundle\Block\Catalog\Product\View\Type\Bundle\Option::assignSelection</td>
        <td>[protected] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Bundle\Block\Catalog\Product\View\Type\Bundle\Option\Multi::assignSelection</td>
        <td>[protected] Method has been added.</td>
    </tr>
</tbody></table>

<h3 id="interfaces-220rc23-220rc22">Changes in interfaces</h3>
<table><tbody>
<tr>
    <th>What Changed</th>
    <th>How Changed</th>
</tr>
    <tr>
        <td>Magento\Customer\Model\Group\RetrieverInterface</td>
        <td>Interface was added.</td>
    </tr>
</tbody></table>
