<h3 id="classes-220rc30-220rc23">Changes in classes</h3>
<table><tbody>
<tr>
    <th>What Changed</th>
    <th>How Changed</th>
</tr>
    <tr>
        <td>Magento\Usps\Setup\InstallData</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\PageCache\Observer\FlushFormKeyOnLogout</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Indexer\Product\Price\Plugin\AbstractPlugin</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Weee\Observer\AfterAddressSave::isDefaultBilling</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Weee\Observer\AfterAddressSave::isDefaultShipping</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Weee\Observer\AfterAddressSave::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Weee\Observer\AfterAddressSave::$customerSession</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Weee\Observer\CustomerLoggedIn::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Tax\Observer\AfterAddressSaveObserver::isDefaultBilling</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Tax\Observer\AfterAddressSaveObserver::isDefaultShipping</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Tax\Observer\AfterAddressSaveObserver::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\Tax\Observer\AfterAddressSaveObserver::$customerSession</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Tax\Observer\CustomerLoggedInObserver::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\CatalogImportExport\Model\Indexer\Product\Price\Plugin\Import::getPriceIndexer</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Indexer\Product\Price\Plugin\CustomerGroup::afterSave</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Indexer\Product\Price\Plugin\CustomerGroup::afterDelete</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Indexer\Product\Price\Plugin\CustomerGroup::afterDeleteById</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Controller\Adminhtml\Category\Save::__construct</td>
        <td>[public] Method parameter changed.</td>
    </tr>
    <tr>
        <td>Magento\AdvancedPricingImportExport\Model\Indexer\Product\Price\Plugin\Import::getPriceIndexer</td>
        <td>[protected] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Reports\Controller\Adminhtml\Report\AbstractReport::ADMIN_RESOURCE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\ImportExport\Model\Export\Entity\AbstractEav::_initAttributeTypes</td>
        <td>[protected] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\ImportExport\Model\Export\Entity\AbstractEav::$attributeTypes</td>
        <td>[protected] Property has been added.</td>
    </tr>
    <tr>
        <td>Magento\Eav\Model\Entity\Attribute::ATTRIBUTE_CODE_MIN_LENGTH</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\CustomerImportExport\Model\Import\AbstractCustomer::getSelectAttrIdByValue</td>
        <td>[protected] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\CustomerImportExport\Model\Import\AbstractCustomer::getMultipleValueSeparator</td>
        <td>[protected] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\CustomerImportExport\Model\Export\Address::$_indexValueAttributes</td>
        <td>[protected] Property has been added.</td>
    </tr>
    <tr>
        <td>Magento\CustomerImportExport\Model\Export\Address::COLUMN_COUNTRY_ID</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\CustomerImportExport\Model\Export\Address::COLUMN_REGION_ID</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Reorder\OrderedProductAvailabilityChecker</td>
        <td>Class was added.</td>
    </tr>
</tbody></table>

<h3 id="interfaces-220rc30-220rc23">Changes in interfaces</h3>
<table><tbody>
<tr>
    <th>What Changed</th>
    <th>How Changed</th>
</tr>
    <tr>
        <td>Magento\Sales\Model\Order\Reorder\OrderedProductAvailabilityCheckerInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Model\Indexer\Product\Price\UpdateIndexInterface</td>
        <td>Interface was added.</td>
    </tr>
</tbody></table>
