<h3 id="classes-220rc15-220rc14">Changes in classes</h3>
<table><tbody>
<tr>
    <th>What Changed</th>
    <th>How Changed</th>
</tr>
    <tr>
        <td>Magento\Customer\Model\EmailNotification::TEMPLATE_MAP</td>
        <td>Constant has been removed.</td>
    </tr>
</tbody></table>

<h3 id="interfaces-220rc15-220rc14">Changes in interfaces</h3>
<table><tbody>
<tr>
    <th>What Changed</th>
    <th>How Changed</th>
</tr>
    <tr>
        <td>Magento\Framework\Mail\TransportInterface::getMessage</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\DB\Adapter\AdapterInterface::REPLACE</td>
        <td>Constant has been added.</td>
    </tr>
</tbody></table>
