
<h2 id="class">Class</h2>
<table><tbody>
    <tr>
        <th>Target</th>
        <th>What Changed</th>
    </tr>
    <tr>
        <td>Magento\Framework\Module\Setup\Migration::__construct</td>
        <td>[public] Method parameter name changed.</td>
    </tr>
    <tr>
        <td>Magento\Sitemap\Model\Sitemap::__construct</td>
        <td>[public] Method parameter name changed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order::__construct</td>
        <td>[public] Method parameter name changed.</td>
    </tr>
    <tr>
        <td>Magento\ProductVideo\Block\Product\View\Gallery::__construct</td>
        <td>[public] Method parameter name changed.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Block\CustomerScopeData::__construct</td>
        <td>[public] Method parameter name changed.</td>
    </tr>
    <tr>
        <td>Magento\Cron\Model\Schedule::__construct</td>
        <td>[public] Method parameter name changed.</td>
    </tr>
    <tr>
        <td>Magento\Config\Block\System\Config\Edit::__construct</td>
        <td>[public] Method parameter name changed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Helper\Product\ProductList::__construct</td>
        <td>[public] Method parameter name changed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Block\Product\View\Gallery::__construct</td>
        <td>[public] Method parameter name changed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Model\ResourceModel\AbstractResource::$_logger</td>
        <td>[protected] Property has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Filter\Template::LOOP_PATTERN</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\DB\Ddl\Table::OPTION_DEFAULT</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\DB\Ddl\Table::OPTION_IDENTITY</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\DB\Ddl\Table::OPTION_LENGTH</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\DB\Ddl\Table::OPTION_NULLABLE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\DB\Ddl\Table::OPTION_PRECISION</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\DB\Ddl\Table::OPTION_PRIMARY</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\DB\Ddl\Table::OPTION_SCALE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\DB\Ddl\Table::OPTION_TYPE</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\DB\Ddl\Table::OPTION_UNSIGNED</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\User\Model\ResourceModel\User\Collection::_initSelect</td>
        <td>[protected] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Translation\Block\Js::getTranslationFileVersion</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Sitemap\Model\ResourceModel\Catalog\Product::prepareSelectStatement</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\GoogleAdwords\Helper\Data::hasSendConversionValueCurrency</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\GoogleAdwords\Helper\Data::getConversionValueCurrency</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\GoogleAdwords\Helper\Data::CONVERSION_VALUE_CURRENCY_REGISTRY_NAME</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\GoogleAdwords\Helper\Data::XML_PATH_SEND_CURRENCY</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Block\CustomerScopeData::encodeConfiguration</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Config\Block\System\Config\Edit::getConfigSearchParamsJson</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Validation\ValidationException</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Validation\ValidationResult</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Ui\DataProvider\SearchResultFactory</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Swagger\Block\Index</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Backend\Ui\Component\Listing\Column\EditAction</td>
        <td>Class was added.</td>
    </tr>
    <tr>
        <td>Magento\Backend\Ui\Component\Control\SaveSplitButton</td>
        <td>Class was added.</td>
    </tr>
</tbody></table>

<h2 id="interface">Interface</h2>
<table><tbody>
    <tr>
        <th>Target</th>
        <th>What Changed</th>
    </tr>
    <tr>
        <td>Magento\Framework\Mail\MailMessageInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Exception\AggregateExceptionInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sitemap\Model\SitemapConfigReaderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sitemap\Model\SitemapItemInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sitemap\Model\ItemProvider\ConfigReaderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Sitemap\Model\ItemProvider\ItemProviderInterface</td>
        <td>Interface was added.</td>
    </tr>
    <tr>
        <td>Magento\Config\Model\Config\StructureElementInterface</td>
        <td>Interface was added.</td>
    </tr>
</tbody></table>
