<section class="home-contributors">
  <div class="container">
    <h2>Top Recent Contributors</h2>
    <p class="intro">Our documentation is open-source on GitHub. Even the smallest of edits are appreciated, as are enhancements and clarifications to our existing content. We love when we get complete new topics from our community members! Below are our top quarterly contributors. See all <a href="{{page.baseurl}}contributor-guide/quarterly-contributors.html">quarterly contributors</a>.</p>

    <div class="contributor">
      <a href="https://twitter.com/thescottsb" class="avatar" target="_blank">
        <img src="{{site.baseurl}}i/contributors/scott-buchanan.jpeg" alt="Scott Buchanan" />
      </a>
      <h5 class="name"><a href="https://twitter.com/thescottsb" target="_blank">Scott Buchanan</a></h5>
      <p class="role">Ripen eCommerce</p>
    </div>

    <div class="contributor">
      <a href="http://davidlambauer.de" class="avatar" target="_blank">
        <img src="{{site.baseurl}}i/contributors/david-lambauer.jpeg" alt="David Lambauer" />
      </a>
      <h5 class="name"><a href="http://davidlambauer.de" target="_blank">David Lambauer</a></h5>
      <p class="role">Magento Developer</p>
    </div>


    <div class="contributor">
      <a href="https://swiftotter.com/" class="avatar" target="_blank">
        <img src="{{site.baseurl}}i/contributors/joseph-maxwell.jpeg" alt="Joseph Maxwell" />
      </a>
      <h5 class="name"><a href="https://swiftotter.com/" target="_blank">Joseph Maxwell</a></h5>
      <p class="role">Swift Otter Studios</p>
    </div>


    <div class="contributor">
      <a href="http://magento.stackexchange.com/users/5209/mbalparda" class="avatar" target="_blank">
        <img src="{{site.baseurl}}i/contributors/miguel-balparda.jpeg" alt="Miguel Balparda" />
      </a>
      <h5 class="name"><a href="http://magento.stackexchange.com/users/5209/mbalparda" target="_blank">Miguel Balparda</a></h5>
      <p class="role">Magento Developer</p>
    </div>

    <div>
      <a href="{{ site.baseurl }}guides/v2.1/contributor-guide/contributing_docs.html" class="btn btn-large btn-primary">Become a Contributor</a>
    </div>

  </div>
</section><!-- END home-contributors -->
