<section class="home-contributors">
  <div class="container">
    <h2>Top Recent Contributors</h2>
    <p class="intro">Our documentation is open-source on GitHub. Even the smallest of edits are appreciated, as are enhancements and clarifications to our existing content. We love when we get complete new topics from our community members! Below are our top quarterly contributors. See all <a href="{{page.baseurl}}contributor-guide/quarterly-contributors.html">quarterly contributors</a>.</p>

    <div class="contributor">
      <a href="https://github.com/likemusic" class="avatar" target="_blank">
        <img src="{{site.baseurl}}i/contributors/blank-1.png" alt="Valerij Ivashchenko" />
      </a>
      <h5 class="name"><a href="https://github.com/likemusic" target="_blank">Valerij Ivashchenko</a></h5>
      <p class="role">Magento Developer</p>
    </div>

    <div class="contributor">
      <a href="https://github.com/chickenland" class="avatar" target="_blank">
        <img src="{{site.baseurl}}i/contributors/douglas-radburn.jpeg" alt="Douglas Radburn" />
      </a>
      <h5 class="name"><a href="https://github.com/chickenland" target="_blank">Douglas Radburn</a></h5>
      <p class="role">Pinpoint Designs</p>
    </div>


    <div class="contributor">
      <a href="https://github.com/chris-pook" class="avatar" target="_blank">
        <img src="{{site.baseurl}}i/contributors/chris-pook.png" alt="Chris Pook" />
      </a>
      <h5 class="name"><a href="https://github.com/chris-pook" target="_blank">Chris Pook</a></h5>
      <p class="role">Absolute Commerce Ltd</p>
    </div>


    <div class="contributor">
      <a href="https://github.com/ihor-sviziev" class="avatar" target="_blank">
        <img src="{{site.baseurl}}i/contributors/ihor-sviziev.jpeg" alt="Ihor Sviziev" />
      </a>
      <h5 class="name"><a href="https://github.com/ihor-sviziev" target="_blank">Ihor Sviziev</a></h5>
      <p class="role">VEN Commerce Ltd</p>
    </div>

    <div>
      <a href="{{ site.baseurl }}guides/v2.1/contributor-guide/contributing_docs.html" class="btn btn-large btn-primary">Become a Contributor</a>
    </div>

  </div>
</section><!-- END home-contributors -->
