<section class="home-contributors">
  <div class="container">
    <h2>Top Recent Contributors</h2>
    <p class="intro">Our documentation is open-source on GitHub. Even the smallest of edits are appreciated, as are enhancements and clarifications to our existing content. We love when we get complete new topics from our community members! Below are our top quarterly contributors. See all <a href="{{page.baseurl}}/contributor-guide/quarterly-contributors.html">quarterly contributors</a>.</p>

    <div class="contributor">
      <a href="https://github.com/RakeshJesadiya" class="avatar" target="_blank">
        <img src="{{site.baseurl}}/i/contributors/rakesh-jesadiya.png" alt="Rakesh Jesadiya" />
      </a>
      <h5 class="name"><a href="https://github.com/RakeshJesadiya" target="_blank">Rakesh Jesadiya</a></h5>
      <p class="role">Magento Developer</p>
    </div>

    <div class="contributor">
      <a href="https://github.com/lbajsarowicz" class="avatar" target="_blank">
        <img src="{{site.baseurl}}/i/contributors/lukasz-bajsarowicz.jpeg" alt="Lukasz Bajsarowicz" />
      </a>
      <h5 class="name"><a href="https://github.com/lbajsarowicz" target="_blank">Lukasz Bajsarowicz</a></h5>
      <p class="role">Magento Developer</p>
    </div>


    <div class="contributor">
      <a href="https://github.com/asrar7787" class="avatar" target="_blank">
        <img src="{{site.baseurl}}/i/contributors/asrar-alam.jpeg" alt="Asrar Alam" />
      </a>
      <h5 class="name"><a href="https://github.com/asrar7787" target="_blank">Asrar Alam</a></h5>
      <p class="role">Magento Developer</p>
    </div>


    <div class="contributor">
      <a href="https://github.com/ryantfowler" class="avatar" target="_blank">
        <img src="{{site.baseurl}}/i/contributors/ryan-fowler.png" alt="Ryan Fowler" />
      </a>
      <h5 class="name"><a href="https://github.com/ryantfowler" target="_blank">Ryan Fowler</a></h5>
      <p class="role">Software Engineer</p>
    </div>

    <div>
      <a href="{{ site.baseurl}}/guides/v2.1/contributor-guide/contributing_docs.html" class="btn btn-large btn-primary">Become a Contributor</a>
    </div>

  </div>
</section><!-- END home-contributors -->
