<section class="home-intro">
  <div class="container">
    <h1>Welcome to Magento {{ page.guide_version }} Documentation</h2>
    <p>Everything you need to build and manage a customized Magento store.</p>

    <div class="search-form">
      <form class="input-group" action="{{site.baseurl}}search.html" method="get">
        <input type="search" name="q" placeholder="Looking for something specific?" class="form-control search-field" />
        <i class="search-icon"></i>
        <div class="input-group-btn">
          <button type="submit" class="btn btn-primary btn-large search-submit">Search</button>
        </div>
      </form>
    </div>

  </div>
</section><!-- END home-intro -->
