<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Modal сomponent</title>
	<meta name="description" content="Magento 2 Developer Documentation.
">
	<meta http-equiv="last-modified" content="" />

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,600,300,800' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="/css/app.css" />
	<link rel="stylesheet" href="/css/print.css" media="print" />
	<link rel="canonical" href="//guides/v2.1/ui_comp_guide/components/ui-modal.html">

  <script>
    var baseUrl = "/";
  </script>

	<!-- crazyegg -->
	<script type="text/javascript">
	setTimeout(function(){var a=document.createElement("script");
	var b=document.getElementsByTagName("script")[0];
	a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0038/0321.js?"+Math.floor(new Date().getTime()/3600000);
	a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
	</script>

</head>
<body>

<header class="site-header">

	<nav id="global-nav">

		<div class="menu-btn"><a class="menu-trigger menu-icon" href="#"></a></div>

		<div class="container">

			<a class="logo" href="/"><img src="/i/m-logo.svg" alt=""><img src="/i/magento-logo.svg" alt="Magento" class="magento-logo" /><img src="/i/devdocs-logo.svg" alt="Devdocs" class="devdocs-logo" /></a>

			
<div class="version-switcher dropdown">
	<button class="btn dropdown-toggle" data-toggle="dropdown">
		Magento 2.1
	</button>

	<ul class="dropdown-menu dropdown-menu-left">
	
		<li><a class="dropdown-item" href="/guides/v2.0/ui_comp_guide/components/ui-modal.html">Magento 2.0</a></li>
	
		<li><a class="dropdown-item" href="/guides/v2.1/ui_comp_guide/components/ui-modal.html">Magento 2.1</a></li>
	
  </ul>

</div>



			<!-- Main Navigation -->
<div class="nav-main">
  <ul>
    <li class="first">
      <a href="#">Setup and Deployment</a>
        <ul class="menu nav">
            <li><a href="/guides/v2.1/install-gde/bk-install-guide.html">Installation Guide</a></li>
          
          <li class="leaf"><a href="/guides/v2.1/comp-mgr/bk-compman-upgrade-guide.html">Component Manager and System Upgrade Guide</a></li>
          
          <li class="leaf"><a href="/guides/v2.1/config-guide/bk-config-guide.html">Configuration Guide</a></li>
          <li class="leaf"><a href="/guides/v2.1/migration/bk-migration-guide.html">Migration Guide</a></li>
          <li class="leaf"><a href="/guides/v2.1/cloud/bk-cloud.html">Magento Enterprise Cloud Guide</a></li>
          <li class="leaf"><a href="/magento-release-information.html">Release Information</a></li>
        </ul>
    </li>

    <li>
        <a href="#">Development</a>
        <ul class="menu nav">
          <li class="leaf"><a href="/guides/v2.1/extension-dev-guide/bk-extension-dev-guide.html">PHP Developer Guide</a></li>
          <li class="leaf"><a href="/guides/v2.1/ext-best-practices/bk-ext-best-practices.html">Extension Developer Best Practices</a></li>
          <li><a href="/guides/v2.1/payments-integrations/bk-payments-integrations.html">Payments Integrations</a></li>
          <li class="leaf"><a href="/guides/v2.1/architecture/bk-architecture.html">Magento Architecture</a></li>
          <li class="leaf"><a href="/guides/v2.1/mrg/intro.html">Module Reference Guide</a></li>
          <li class="leaf"><a href="/guides/v2.1/coding-standards/bk-coding-standards.html">Coding Standards</a></li>
          
          <li class="leaf"><a href="/guides/v2.1/extension-dev-guide/staging.html">Staging</a></li>
          
          <li class="first leaf"><a href="/guides/v2.1/contributor-guide/contributing.html">Contributor Guide</a></li>
        </ul>
    </li>

    <li>
        <a href="#">Frontend</a>
        <ul class="menu nav">
          <li class="first leaf"><a href="/guides/v2.1/frontend-dev-guide/bk-frontend-dev-guide.html">Frontend Developer Guide</a></li>
          
          <li class="leaf"><a href="/guides/v2.1/ui_comp_guide/bk-ui_comps.html">UI Components Guide</a></li>
          
          <li class="leaf"><a href="/guides/v2.1/javascript-dev-guide/bk-javascript-dev-guide.html">JavaScript Developer Guide</a></li>
          <li class="leaf"><a href="/guides/v2.1/pattern-library/bk-pattern.html">Admin Design Pattern Library</a></li>
          <li class="leaf"><a href="/guides/v2.1/design-styleguide/bk-styleguide.html">Admin Style Guide</a></li>
        </ul>
    </li>

    <li>
        <a href="#">API</a>
        <ul class="menu nav">
          <li class="leaf"><a href="/guides/v2.1/get-started/bk-get-started-api.html">Get Started with Magento Web APIs</a></li>
          <li class="leaf"><a href="/guides/v2.1/rest/bk-rest.html">REST API Reference</a></li>
          <li class="leaf"><a href="/guides/v2.1/soap/bk-soap.html">SOAP API Reference</a></li>
        </ul>
    </li>

    <li>
        <a href="#">Testing</a>
        <ul class="menu nav">
          <li class="leaf"><a href="/guides/v2.1/test/testing.html">Magento Testing Guide</a></li>
          <li class="leaf"><a href="/guides/v2.1/mtf/mtf_introduction.html">Functional Testing</a></li>
          <li class="leaf"><a href="/guides/v2.1/test/integration/integration_test_execution.html">Integration Testing</a></li>
          <li class="leaf"><a href="/guides/v2.1/test/js/jasmine.html">JavaScript Unit Testing</a></li>
          <li class="leaf"><a href="/guides/v2.1/test/unit/unit_test_execution.html">PHP Unit Testing</a></li>
          <li class="leaf"><a href="/guides/v2.1/get-started/web-api-functional-testing.html">Web API Functional Testing</a></li>
        </ul>
    </li>

    <li>
      <a href="/guides/v2.1/howdoi/bk-how-do-i.html">How Tos</a>
    </li>
  </ul>
</div><!-- /.nav-main -->


			<div class="search-btn">
				<a class="search-trigger search-icon" href="/search.html"></a>
			</div>

			<form class="quick-search" action="/search.html" method="get">
				<input type="search" name="q" placeholder="Search" />
				<a href="#" class="quick-search-close">&times;</a>
			</form>





		</div>

	</nav><!-- #global-nav -->

</header>
<div class="nav-main-fader"></div>


<div id="gl-wrapper">

	<!-- .main-container -->
	<div class="main-container">
		<a id="main-content"></a>


<div class="container">

	<!-- sidebar -->
<aside class="sidebar">
	<a href="#" class="toc-toggler">Table of Contents</a>
	<div class="sidebar-wrapper">


<h4>UI Components Guide</h4>






		<ul>

		

		

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

					
					

					

						

						

							

								<li class="q "><a href="/guides/v2.1/ui_comp_guide/bk-ui_comps.html">Overview of UI components</a></li>

							

								<li class="q "><a href="/guides/v2.1/ui_comp_guide/ui_comp_list_concept.html">A list of Magento UI components</a></li>

							

								<li class="q "><a href="/guides/v2.1/ui_comp_guide/ui_comp_outline_proposed.html">UI Components Guide outline (proposed)</a></li>

							

						

					

						

						

							


								


								

									

										<li class="levela1"><span class="nav-header">components</span></li>

									


								

									

									<li class="level-2 "><a href="/guides/v2.1/ui_comp_guide/components/ui-form.html">Form component</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/ui_comp_guide/components/ui-listing-grid.html">Listing/Grid component</a></li>

									

								

									

									<li class="level-2  active "><a href="/guides/v2.1/ui_comp_guide/components/ui-modal.html">Modal component</a></li>

									

								




						

					

						

						

							


								


								

									

										<li class="levela1"><span class="nav-header">concepts</span></li>

									


								

									

									<li class="level-2 "><a href="/guides/v2.1/ui_comp_guide/concepts/ui_comp_architecture_concept.html">Architecture structure of UI components</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/ui_comp_guide/concepts/ui_comp_config_flow_concept.html">Configuration flow of UI components</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/ui_comp_guide/concepts/ui_comp_data_source.html">Providing Data to UI Components</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/ui_comp_guide/concepts/ui_comp_xmldeclaration_concept.html">About XML сonfiguration of UI сomponents</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/ui_comp_guide/concepts/ui_comp_modifier_concept.html">About PHP modifiers in UI components</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/ui_comp_guide/concepts/ui_comp_uiclass_concept.html">About the uiClass library</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/ui_comp_guide/concepts/ui_comp_uielement_concept.html">About the uiElement class</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/ui_comp_guide/concepts/ui_comp_uicollection_concept.html">About the uiCollection class</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/ui_comp_guide/concepts/ui_comp_uilayout_concept.html">About the uiLayout service module</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/ui_comp_guide/concepts/ui_comp_linking_concept.html">Linking properties of UI components</a></li>

									

								

									

									<li class="level-2 "><a href="/guides/v2.1/ui_comp_guide/concepts/ui_comp_requirejs_concept.html">About AMD modules and RequireJS</a></li>

									

								




						

					

						

						

							


								


								

									

										<li class="levela1"><span class="nav-header">troubleshoot</span></li>

									


								

									

									<li class="level-2 "><a href="/guides/v2.1/ui_comp_guide/troubleshoot/ui_comp_troubleshoot_js.html">Debug UI components JavaScript</a></li>

									

								




						

					


				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

				

			

		</ul>

	</div>
</aside>
<!-- /sidebar -->


	<section class="content">
		<div class="content-wrap">
			<!-- page-header -->
<section class="page-intro">
	

  <nav class="breadcrumbs">

    <a class="breadcrumb-item" href="/"><span>Home</span></a>

    <ol class="breadcrumb list-unstyled" vocab="http://schema.org/" typeof="BreadcrumbList">

    <!-- Iteration breadcrumb item -->
    
    
    

      <!-- Skip if root -->
      


      <!-- Get breadcrumb title. Insert snippet from configuration description to translates breadcrumb if language plugin is installed and YAML subset is set -->
      

      <!-- SEO data -->
      

      <li class="breadcrumb-item" property="itemListElement" typeof="ListItem">
        <a property="item" typeof="WebPage" href="/guides/v2.1/ui_comp_guide/bk-ui_comps.html"><span property="name">UI Components</span></a>
        <meta property="position" content="1" />
      </li>

    

      <!-- Skip if root -->
      


      <!-- Get breadcrumb title. Insert snippet from configuration description to translates breadcrumb if language plugin is installed and YAML subset is set -->
      

      <!-- SEO data -->
      

      <li class="breadcrumb-item active" property="itemListElement" typeof="ListItem">
        <span property="name">Modal сomponent</span>
        <meta property="position" content="2" />
      </li>

    

    </ol>

  </nav>


	
	<h1 class="page-heading">Modal сomponent</h1>

  


</section>

			<p>This topic describes the modal UI component.</p>

<h2 id="modal-component-overview">Modal component: overview</h2>

<p>The Modal UI component implements a secondary window that opens on top of the main window. It uses the <a href="/guides/v2.1/javascript-dev-guide/widgets/widget_modal.html">modal widget</a>.</p>

<p>Similar to the widget’s configuration, the component’s configuration allows you to set the window type and action buttons behavior (including linking action buttons to methods of the other UI components).</p>

<p>The Modal component can be used for both Admin panel and storefront.</p>

<p>For recommendations about modal windows usage from the UX point of view, see the corresponding topic in the <a href="http://devdocs.magento.com/guides/v2.0/pattern-library/containers/slideouts-modals-overlays/slideouts-modals-overalys.html">Magento Admin pattern library</a>.</p>

<h2 id="structure">Structure</h2>

<p>The modal UI component comprises the following files:</p>

<ul>
  <li>JS component: <code>&lt;Magento_Ui_module_dir&gt;/view/base/web/js/modal/modal-component.js</code></li>
  <li>Template: <code>&lt;Magento_Ui_module_dir&gt;/view/base/web/templates/modal/modal-component.html</code></li>
</ul>

<h2 id="options">Options</h2>

<p>Component’s options are set in the configuration <code>.xml</code> file as follows:</p>

<figure class="highlight"><pre><code class="language-xml" data-lang="xml"> <span class="nt">&lt;modal</span> <span class="na">name=</span><span class="s">&quot;test_modal&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;argument</span> <span class="na">name=</span><span class="s">&quot;data&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;array&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;item</span> <span class="na">name=</span><span class="s">&quot;config&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;array&quot;</span><span class="nt">&gt;</span>
            <span class="c">&lt;!-- Configurable options are specified here --&gt;</span>
            <span class="nt">&lt;item</span> <span class="na">name=</span><span class="s">&quot;%option1%&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;%type%&quot;</span><span class="nt">&gt;</span>%value%<span class="nt">&lt;/item&gt;</span>
            <span class="nt">&lt;item</span> <span class="na">name=</span><span class="s">&quot;%option2%&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;%type%&quot;</span><span class="nt">&gt;</span>%value%<span class="nt">&lt;/item&gt;</span>
            ...
        <span class="nt">&lt;/item&gt;</span>
    <span class="nt">&lt;/argument&gt;</span>
<span class="nt">&lt;/modal&gt;</span></code></pre></figure>

<p>The modal component uses general configuration options, similar to other UI components. However, it uses the following specific options as well:</p>
<table>
  <tr>
    <th>
      Modal options
    </th>
  </tr>
  <tr>
    <td>
      <code>state</code>
      <p>
        Set the state of the modal window: <code>true</code> for
        open.
      </p>
      <p>
        <strong>Type:</strong> Boolean
      </p>
      <p>
        <strong>Required?:</strong> Optional
      </p>
      <p>
        <strong>Default value</strong>: <code>false</code>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <code>options</code>
      <p>
        Configuration for the modal widget. Passed to the widget
        initialization as is.
      </p>
      <p>
        <strong>Type:</strong> Object
      </p>
      <p>
        <strong>Required?:</strong> Optional
      </p>
      <p>
        <strong>Default value:</strong> <code>{}</code>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <code>title</code>
      <p>
        The title of the modal window. Set as follows:
      </p>
      <pre>
&lt;item name="options" xsi:type="array"&gt;
    &lt;item name="title" xsi:type="string"&gt;%window_title%&lt;/item&gt;
&lt;/item&gt;
</pre>
      <p>
        <strong>Type:</strong> String
      </p>
      <p>
        <strong>Required?:</strong> Optional
      </p>
      <p>
        <strong>Default value:</strong> <code>''</code>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <code>subTitle</code>
      <p>
        The subtitle of the modal window. Set as follows:
      </p>
      <pre>
&lt;item name="options" xsi:type="array"&gt;
    &lt;item name="title" xsi:type="string"&gt;%window_subtitle%&lt;/item&gt;
&lt;/item&gt;
</pre>
      <p>
        <strong>Type:</strong> String
      </p>
      <p>
        <strong>Required?:</strong> Optional
      </p>
      <p>
        <strong>Default value:</strong> <code>''</code>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <code>type</code>
      <p>
        The type of the modal window. Can be one of the following:
        <code>slide</code> or <code>popup</code>. Set as follows:
      </p>
      <pre>
&lt;item name="options" xsi:type="array"&gt;
    &lt;item name="type" xsi:type="string"&gt;%slide|popup%&lt;/item&gt;
&lt;/item&gt;
</pre>
      <p>
        <strong>Type:</strong> String
      </p>
      <p>
        <strong>Required?:</strong> Optional
      </p>
      <p>
        <strong>Default value:</strong> <code>slide</code>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <code>buttons</code>
      <p>
        The action buttons of the modal window.
      </p>
      <p>
        <strong>Type:</strong> Array <strong>Required?:</strong>
        Optional <strong>Default value:</strong> <code>[]</code>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <code>text</code>
      <p>
        The button label.<br />
        Set as follows:
      </p>
      <pre>
&lt;item name="options" xsi:type="array"&gt;
    &lt;item name="buttons" xsi:type="array"&gt;
         &lt;item name="%button_number%" xsi:type="array"&gt;
             &lt;item name="text" xsi:type="string"&gt;%label%&lt;/item&gt;
         &lt;/item&gt;
    &lt;/item&gt;
&lt;/item&gt;
</pre>
      <p>
        <strong>Type:</strong> String
      </p>
      <p>
        <strong>Required?:</strong> Optional
      </p>
      <p>
        <strong>Default value:</strong> Undefined
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <code>class</code>
      <p>
        The CSS class for the button.<br />
        Set as follows:
      </p>
      <pre>
&lt;item name="options" xsi:type="array"&gt;
    &lt;item name="buttons" xsi:type="array"&gt;
         &lt;item name="%button_number%" xsi:type="array"&gt;
             &lt;item name="class" xsi:type="string"&gt;%class%&lt;/item&gt;
         &lt;/item&gt;
    &lt;/item&gt;
&lt;/item&gt;
</pre>
      <p>
        <strong>Type:</strong> String
      </p>
      <p>
        <strong>Required?:</strong> Optional
      </p>
      <p>
        <strong>Default value:</strong> Undefined
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <code>actions</code>
      <p>
        Button actions. On button click, actions are performed in
        the same order as they are specified in config.<br />
        Set as follows:
      </p>
      <pre>
&lt;item name="options" xsi:type="array"&gt;
    &lt;item name="buttons" xsi:type="array"&gt;
         &lt;item name="%button_number%" xsi:type="array"&gt;
             &lt;item name="actions" xsi:type="string"&gt;
                &lt;--! Action that calls the method of the other UI component --&gt;
                &lt;item name="%action_number%" xsi:type="array"&gt;
                    &lt;item name="targetName" xsi:type="string"&gt;%component_which_performs_action%&lt;/item&gt;
                    &lt;item name="actionName" xsi:type="string"&gt;%method_of_target_component%&lt;/item&gt;
                &lt;/item&gt;
                &lt;--! Action that calls the method of the modal component --&gt;
                &lt;item name="%next_action_number%" xsi:type="array"&gt;%method_of_modal_component%&lt;/item&gt;
             &lt;/item&gt;
         &lt;/item&gt;
    &lt;/item&gt;
&lt;/item&gt;
</pre>
      <p>
        <strong>Type:</strong> Object
      </p>
      <p>
        <strong>Required?:</strong> Optional
      </p>
      <p>
        <strong>Default value:</strong> Undefined
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <code>onCancel</code>
      <p>
        Action (method name), that is performed on canceling
        interactions: pressing Esc, clicking outside the modal
        window, or clicking the 'X' (close) icon.
      </p>
      <p>
        <strong>Type:</strong> String
      </p>
      <p>
        <strong>Required?:</strong> Optional
      </p>
      <p>
        <strong>Default value:</strong> <code>closeModal</code>
      </p>
    </td>
  </tr>
</table>

<h2 id="example-of-the-modal-component-configuration">Example of the Modal component configuration</h2>

<p>The following sample is an example of the configuration for a simple modal window containing one text field and a standard set of action buttons (<strong>Cancel</strong>, <strong>Clear</strong>, <strong>Done</strong>):</p>

<figure class="highlight"><pre><code class="language-xml" data-lang="xml"><span class="nt">&lt;modal</span> <span class="na">name=</span><span class="s">&quot;test_modal&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;argument</span> <span class="na">name=</span><span class="s">&quot;data&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;array&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;item</span> <span class="na">name=</span><span class="s">&quot;config&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;array&quot;</span><span class="nt">&gt;</span>
            <span class="nt">&lt;item</span> <span class="na">name=</span><span class="s">&quot;onCancel&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;string&quot;</span><span class="nt">&gt;</span>actionCancel<span class="nt">&lt;/item&gt;</span>
            <span class="nt">&lt;item</span> <span class="na">name=</span><span class="s">&quot;options&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;array&quot;</span><span class="nt">&gt;</span>
                <span class="nt">&lt;item</span> <span class="na">name=</span><span class="s">&quot;buttons&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;array&quot;</span><span class="nt">&gt;</span>
                    <span class="nt">&lt;item</span> <span class="na">name=</span><span class="s">&quot;0&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;array&quot;</span><span class="nt">&gt;</span>
                        <span class="nt">&lt;item</span> <span class="na">name=</span><span class="s">&quot;text&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;string&quot;</span><span class="nt">&gt;</span>Cancel<span class="nt">&lt;/item&gt;</span>
                        <span class="nt">&lt;item</span> <span class="na">name=</span><span class="s">&quot;class&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;string&quot;</span><span class="nt">&gt;</span>action-secondary<span class="nt">&lt;/item&gt;</span>
                        <span class="nt">&lt;item</span> <span class="na">name=</span><span class="s">&quot;actions&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;array&quot;</span><span class="nt">&gt;</span>
                            <span class="nt">&lt;item</span> <span class="na">name=</span><span class="s">&quot;0&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;string&quot;</span><span class="nt">&gt;</span>actionCancel<span class="nt">&lt;/item&gt;</span>
                        <span class="nt">&lt;/item&gt;</span>
                    <span class="nt">&lt;/item&gt;</span>
                    <span class="nt">&lt;item</span> <span class="na">name=</span><span class="s">&quot;1&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;array&quot;</span><span class="nt">&gt;</span>
                        <span class="nt">&lt;item</span> <span class="na">name=</span><span class="s">&quot;text&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;string&quot;</span><span class="nt">&gt;</span>Clear<span class="nt">&lt;/item&gt;</span>
                        <span class="nt">&lt;item</span> <span class="na">name=</span><span class="s">&quot;class&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;string&quot;</span><span class="nt">&gt;</span>action-secondary<span class="nt">&lt;/item&gt;</span>
                        <span class="nt">&lt;item</span> <span class="na">name=</span><span class="s">&quot;actions&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;array&quot;</span><span class="nt">&gt;</span>
                            <span class="nt">&lt;item</span> <span class="na">name=</span><span class="s">&quot;0&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;array&quot;</span><span class="nt">&gt;</span>
                                <span class="nt">&lt;item</span> <span class="na">name=</span><span class="s">&quot;targetName&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;string&quot;</span><span class="nt">&gt;</span>${ $.name }.testField<span class="nt">&lt;/item&gt;</span>
                                <span class="nt">&lt;item</span> <span class="na">name=</span><span class="s">&quot;actionName&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;string&quot;</span><span class="nt">&gt;</span>clear<span class="nt">&lt;/item&gt;</span>
                            <span class="nt">&lt;/item&gt;</span>
                        <span class="nt">&lt;/item&gt;</span>
                    <span class="nt">&lt;/item&gt;</span>
                    <span class="nt">&lt;item</span> <span class="na">name=</span><span class="s">&quot;2&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;array&quot;</span><span class="nt">&gt;</span>
                        <span class="nt">&lt;item</span> <span class="na">name=</span><span class="s">&quot;text&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;string&quot;</span><span class="nt">&gt;</span>Done<span class="nt">&lt;/item&gt;</span>
                        <span class="nt">&lt;item</span> <span class="na">name=</span><span class="s">&quot;class&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;string&quot;</span><span class="nt">&gt;</span>action-primary<span class="nt">&lt;/item&gt;</span>
                        <span class="nt">&lt;item</span> <span class="na">name=</span><span class="s">&quot;actions&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;array&quot;</span><span class="nt">&gt;</span>
                            <span class="nt">&lt;item</span> <span class="na">name=</span><span class="s">&quot;0&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;string&quot;</span><span class="nt">&gt;</span>actionDone<span class="nt">&lt;/item&gt;</span>
                        <span class="nt">&lt;/item&gt;</span>
                    <span class="nt">&lt;/item&gt;</span>
                <span class="nt">&lt;/item&gt;</span>
            <span class="nt">&lt;/item&gt;</span>
        <span class="nt">&lt;/item&gt;</span>
    <span class="nt">&lt;/argument&gt;</span>
    <span class="nt">&lt;field</span> <span class="na">name=</span><span class="s">&quot;testField&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;argument</span> <span class="na">name=</span><span class="s">&quot;data&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;array&quot;</span><span class="nt">&gt;</span>
            <span class="nt">&lt;item</span> <span class="na">name=</span><span class="s">&quot;config&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;array&quot;</span><span class="nt">&gt;</span>
                <span class="nt">&lt;item</span> <span class="na">name=</span><span class="s">&quot;label&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;string&quot;</span><span class="nt">&gt;</span>test field<span class="nt">&lt;/item&gt;</span>
                <span class="nt">&lt;item</span> <span class="na">name=</span><span class="s">&quot;formElement&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;string&quot;</span><span class="nt">&gt;</span>input<span class="nt">&lt;/item&gt;</span>
                <span class="nt">&lt;item</span> <span class="na">name=</span><span class="s">&quot;visible&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;boolean&quot;</span><span class="nt">&gt;</span>true<span class="nt">&lt;/item&gt;</span>
            <span class="nt">&lt;/item&gt;</span>
        <span class="nt">&lt;/argument&gt;</span>
    <span class="nt">&lt;/field&gt;</span>
<span class="nt">&lt;/modal&gt;</span>

<span class="nt">&lt;button</span> <span class="na">name=</span><span class="s">&quot;modal_button&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;argument</span> <span class="na">name=</span><span class="s">&quot;data&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;array&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;item</span> <span class="na">name=</span><span class="s">&quot;config&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;array&quot;</span><span class="nt">&gt;</span>
            <span class="nt">&lt;item</span> <span class="na">name=</span><span class="s">&quot;title&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;string&quot;</span><span class="nt">&gt;</span>Open modal<span class="nt">&lt;/item&gt;</span>
            <span class="nt">&lt;item</span> <span class="na">name=</span><span class="s">&quot;actions&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;array&quot;</span><span class="nt">&gt;</span>
                <span class="nt">&lt;item</span> <span class="na">name=</span><span class="s">&quot;0&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;array&quot;</span><span class="nt">&gt;</span>
                    <span class="nt">&lt;item</span> <span class="na">name=</span><span class="s">&quot;targetName&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;string&quot;</span><span class="nt">&gt;</span>${ $.parentName}.test_modal<span class="nt">&lt;/item&gt;</span>
                    <span class="nt">&lt;item</span> <span class="na">name=</span><span class="s">&quot;actionName&quot;</span> <span class="na">xsi:type=</span><span class="s">&quot;string&quot;</span><span class="nt">&gt;</span>openModal<span class="nt">&lt;/item&gt;</span>
                <span class="nt">&lt;/item&gt;</span>
            <span class="nt">&lt;/item&gt;</span>
        <span class="nt">&lt;/item&gt;</span>
    <span class="nt">&lt;/argument&gt;</span>
<span class="nt">&lt;/button&gt;</span></code></pre></figure>

<h2 id="public-api-js">Public API (JS)</h2>

<ul>
  <li><code>actionCancel()</code>: returns all modal’s child components to the state they had on modal open and closes the modal window.</li>
  <li><code>actionDone()</code>: validates the changes in the modal’s child components and, if valid, closes the modal.</li>
  <li><code>closeModal()</code>: closes the modal window.</li>
  <li><code>openModal()</code>: opens the modal window.</li>
  <li><code>setPrevValues(elem)</code>: returns all <code>elem</code>’s child components to the state they had on modal open.</li>
  <li><code>setTitle()</code>: sets modal title.</li>
  <li><code>setSubTitle()</code>: sets modal sub title.</li>
  <li><code>toggleModal()</code>: toggles the modal window state (open/close).</li>
</ul>

		</div>
		<!-- /.content-wrap -->

		<div class="page-info">

			

			
			 <div class="github-link">
				 <a class="improve-page" href="https://github.com/magento/devdocs/tree/develop/guides/v2.1/ui_comp_guide/components/ui-modal.md" target="_blank">
					 Edit this page on GitHub
				 </a>
			 </div>
			

			<div class="new-issue">
				<a href="https://github.com/magento/devdocs/issues/new?title=&body=Feedback on page: /guides/v2.1/ui_comp_guide/components/ui-modal.html" target="_blank">Give us feedback</a>
			</div>

		</div>

	</section>
	<!-- /.content -->

</div> <!-- /.container -->


	</div>
	<!-- /.main-container -->

</div>
<!-- /#gl-wrapper -->

<!-- footer-->
<div id="footer">
  <div class="container">

    <div class="copyright-links">
      <ul class="nav">
				<li><a href="/guides/v2.1/contributor-guide/contributing_docs.html">Become a Contributor</a>
        <li><a href="http://magento.com/legal/terms/privacy/">Privacy Policy</a></li>
        <li><a href="http://magento.com/legal/terms/">Terms of Service</a></li>
        <li><a href="http://magento.com/legal/licensing/">License/Trademark FAQ</a></li>
        <li><a href="/guides/v2.1/release-notes/bk-release-notes.html">Release Notes</a></li>
				<li><a href="/magento-third-party.html">Third-Party Licenses</a></li>
      </ul>
    </div>

		<div class="copyright-date">&copy; 2016 Magento. All rights reserved.</div>

  </div>
</div>
<!-- / #footer -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="/common/js/app.min.js"></script>

<script type="text/javascript">
    (function() {
        var didInit = false;
        function initMunchkin() {
            if(didInit === false) {
                didInit = true;
                Munchkin.init('585-GGD-959', {cookieAnon: false});
            }
        }
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = '//munchkin.marketo.net/munchkin.js';
        s.onreadystatechange = function() {
            if (this.readyState == 'complete' || this.readyState == 'loaded') {
                initMunchkin();
            }
        };
        s.onload = initMunchkin;
        document.getElementsByTagName('head')[0].appendChild(s);
    })();
</script>



<!--Google Analytics-->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-66243208-1', 'auto');
    ga('send', 'pageview');
</script>


</body>
</html>

