---
###########################
###########################
## Linter GitHub Actions ##
###########################
###########################
name: Lint Code Base

#
# Documentation:
# https://help.github.com/en/articles/workflow-syntax-for-github-actions
#

###################################
# Start the job on a pull request #
###################################
on:
  pull_request

###############
# Set the Job #
###############
jobs:
  mdl:
    name: mdl
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: actions/setup-ruby@v1
      with:
        ruby-version: 2.6
    - name: Install mdl gem
      run: gem install mdl
    - name: Run mdl
      run: mdl --style=_checks/styles/style-rules-prod --ignore-front-matter --git-recurse -- .
  super-lint:
    # Set the agent to run on
    runs-on: ubuntu-latest

    ##################
    # Load all steps #
    ##################
    steps:
      ##########################
      # Checkout the code base #
      ##########################
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          # Full git history is needed to get a proper list of changed files within `super-linter`
          fetch-depth: 0

      ################################
      # Run Linter against code base #
      ################################
      - name: Lint Code Base
        uses: github/super-linter@v4.8.5
        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: master
          VALIDATE_HTML: false
          VALIDATE_JSCPD: false
          VALIDATE_OPENAPI: false
          MARKDOWN_CONFIG_FILE: .markdownlint.json
          VALIDATE_NATURAL_LANGUAGE: false
