/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: InstallGde;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #cac3b4;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #cac3b4;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #cac3b4;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #cac3b4;
	max-id: 5;
	cell-padding-left: 8px;
	cell-padding-right: 8px;
	cell-padding-top: 8px;
	cell-padding-bottom: 8px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #cac3b4;
	name: Column1;
	id: 0;
	size: 30%;
	text-align: left;
	vertical-align: top;
}

mcTableColumnStyle
{
	span: 1;
	id: 5;
	name: Column2;
	size: 70%;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #cac3b4;
	text-align: left;
	vertical-align: top;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #dce5ed;
	name: Header1;
	id: 2;
	background-color: #f7f3eb;
	font-weight: bold;
	cell-padding-left: 10px;
	cell-padding-right: 10px;
	cell-padding-top: 10px;
	cell-padding-bottom: 10px;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #cac3b4;
	name: Even;
	id: 1;
	type: Automatic;
	cell-padding-left: 8px;
	cell-padding-right: 8px;
	cell-padding-top: 8px;
	cell-padding-bottom: 8px;
	text-align: left;
}

mcTableBodyStyle
{
	span: 1;
	id: 4;
	name: Odd;
	type: Automatic;
	background-color: #f7f3eb;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #cac3b4;
	cell-padding-left: 8px;
	cell-padding-right: 8px;
	cell-padding-top: 8px;
	cell-padding-bottom: 8px;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-InstallGde
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #cac3b4;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #cac3b4;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #cac3b4;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #cac3b4;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-InstallGde-Column-Column1
{
	width: 30%;
}

.TableStyle-InstallGde-Column-Column2
{
	width: 70%;
}

.TableStyle-InstallGde-Head-Header1
{
	
}

.TableStyle-InstallGde-HeadI-Column1-Header1
{
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #f7f3eb;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-InstallGde-HeadI-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-InstallGde-HeadE-Column1-Header1
{
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #cac3b4;
	border-right-style: solid;
	font-weight: bold;
	background-color: #f7f3eb;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #dce5ed;
	border-bottom-style: solid;
}

.TableStyle-InstallGde-HeadE-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-InstallGde-HeadF-Column1-Header1
{
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #f7f3eb;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #dce5ed;
	border-bottom-style: solid;
}

.TableStyle-InstallGde-HeadF-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-InstallGde-HeadH-Column1-Header1
{
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #cac3b4;
	border-right-style: solid;
	font-weight: bold;
	background-color: #f7f3eb;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-InstallGde-HeadH-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-InstallGde-HeadD-Column1-Header1
{
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #f7f3eb;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #dce5ed;
	border-bottom-style: solid;
}

.TableStyle-InstallGde-HeadD-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-InstallGde-HeadC-Column1-Header1
{
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #f7f3eb;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-InstallGde-HeadC-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-InstallGde-HeadB-Column1-Header1
{
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #cac3b4;
	border-right-style: solid;
	font-weight: bold;
	background-color: #f7f3eb;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-InstallGde-HeadB-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-InstallGde-HeadA-Column1-Header1
{
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #f7f3eb;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-InstallGde-HeadA-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-InstallGde-HeadG-Column1-Header1
{
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #f7f3eb;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-InstallGde-HeadG-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-InstallGde-HeadI-Column2-Header1
{
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #f7f3eb;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-InstallGde-HeadI-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-InstallGde-HeadE-Column2-Header1
{
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #cac3b4;
	border-right-style: solid;
	font-weight: bold;
	background-color: #f7f3eb;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #dce5ed;
	border-bottom-style: solid;
}

.TableStyle-InstallGde-HeadE-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-InstallGde-HeadF-Column2-Header1
{
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #f7f3eb;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #dce5ed;
	border-bottom-style: solid;
}

.TableStyle-InstallGde-HeadF-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-InstallGde-HeadH-Column2-Header1
{
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #cac3b4;
	border-right-style: solid;
	font-weight: bold;
	background-color: #f7f3eb;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-InstallGde-HeadH-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-InstallGde-HeadD-Column2-Header1
{
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #f7f3eb;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #dce5ed;
	border-bottom-style: solid;
}

.TableStyle-InstallGde-HeadD-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-InstallGde-HeadC-Column2-Header1
{
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #f7f3eb;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-InstallGde-HeadC-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-InstallGde-HeadB-Column2-Header1
{
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #cac3b4;
	border-right-style: solid;
	font-weight: bold;
	background-color: #f7f3eb;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-InstallGde-HeadB-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-InstallGde-HeadA-Column2-Header1
{
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #f7f3eb;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-InstallGde-HeadA-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-InstallGde-HeadG-Column2-Header1
{
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #f7f3eb;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-InstallGde-HeadG-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-InstallGde-Foot-Footer1
{
	
}

.TableStyle-InstallGde-FootI-Column1-Footer1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-InstallGde-FootI-Column1-Footer1 p
{
	
}

.TableStyle-InstallGde-FootE-Column1-Footer1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #cac3b4;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-InstallGde-FootE-Column1-Footer1 p
{
	
}

.TableStyle-InstallGde-FootF-Column1-Footer1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-InstallGde-FootF-Column1-Footer1 p
{
	
}

.TableStyle-InstallGde-FootH-Column1-Footer1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #cac3b4;
	border-right-style: solid;
}

.TableStyle-InstallGde-FootH-Column1-Footer1 p
{
	
}

.TableStyle-InstallGde-FootD-Column1-Footer1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-InstallGde-FootD-Column1-Footer1 p
{
	
}

.TableStyle-InstallGde-FootC-Column1-Footer1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-InstallGde-FootC-Column1-Footer1 p
{
	
}

.TableStyle-InstallGde-FootB-Column1-Footer1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #cac3b4;
	border-right-style: solid;
}

.TableStyle-InstallGde-FootB-Column1-Footer1 p
{
	
}

.TableStyle-InstallGde-FootA-Column1-Footer1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-InstallGde-FootA-Column1-Footer1 p
{
	
}

.TableStyle-InstallGde-FootG-Column1-Footer1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-InstallGde-FootG-Column1-Footer1 p
{
	
}

.TableStyle-InstallGde-FootI-Column2-Footer1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-InstallGde-FootI-Column2-Footer1 p
{
	
}

.TableStyle-InstallGde-FootE-Column2-Footer1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #cac3b4;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-InstallGde-FootE-Column2-Footer1 p
{
	
}

.TableStyle-InstallGde-FootF-Column2-Footer1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-InstallGde-FootF-Column2-Footer1 p
{
	
}

.TableStyle-InstallGde-FootH-Column2-Footer1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #cac3b4;
	border-right-style: solid;
}

.TableStyle-InstallGde-FootH-Column2-Footer1 p
{
	
}

.TableStyle-InstallGde-FootD-Column2-Footer1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-InstallGde-FootD-Column2-Footer1 p
{
	
}

.TableStyle-InstallGde-FootC-Column2-Footer1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-InstallGde-FootC-Column2-Footer1 p
{
	
}

.TableStyle-InstallGde-FootB-Column2-Footer1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #cac3b4;
	border-right-style: solid;
}

.TableStyle-InstallGde-FootB-Column2-Footer1 p
{
	
}

.TableStyle-InstallGde-FootA-Column2-Footer1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-InstallGde-FootA-Column2-Footer1 p
{
	
}

.TableStyle-InstallGde-FootG-Column2-Footer1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-InstallGde-FootG-Column2-Footer1 p
{
	
}

.TableStyle-InstallGde-Body-Even
{
	
}

.TableStyle-InstallGde-BodyI-Column1-Even
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-InstallGde-BodyI-Column1-Even p
{
	
}

.TableStyle-InstallGde-BodyE-Column1-Even
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-color: #cac3b4;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #cac3b4;
	border-right-style: solid;
}

.TableStyle-InstallGde-BodyE-Column1-Even p
{
	
}

.TableStyle-InstallGde-BodyF-Column1-Even
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-color: #cac3b4;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-InstallGde-BodyF-Column1-Even p
{
	
}

.TableStyle-InstallGde-BodyH-Column1-Even
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #cac3b4;
	border-right-style: solid;
}

.TableStyle-InstallGde-BodyH-Column1-Even p
{
	
}

.TableStyle-InstallGde-BodyD-Column1-Even
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-color: #cac3b4;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-InstallGde-BodyD-Column1-Even p
{
	
}

.TableStyle-InstallGde-BodyC-Column1-Even
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-InstallGde-BodyC-Column1-Even p
{
	
}

.TableStyle-InstallGde-BodyB-Column1-Even
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #cac3b4;
	border-right-style: solid;
}

.TableStyle-InstallGde-BodyB-Column1-Even p
{
	
}

.TableStyle-InstallGde-BodyA-Column1-Even
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-InstallGde-BodyA-Column1-Even p
{
	
}

.TableStyle-InstallGde-BodyG-Column1-Even
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-InstallGde-BodyG-Column1-Even p
{
	
}

.TableStyle-InstallGde-BodyI-Column2-Even
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-InstallGde-BodyI-Column2-Even p
{
	
}

.TableStyle-InstallGde-BodyE-Column2-Even
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-color: #cac3b4;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #cac3b4;
	border-right-style: solid;
}

.TableStyle-InstallGde-BodyE-Column2-Even p
{
	
}

.TableStyle-InstallGde-BodyF-Column2-Even
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-color: #cac3b4;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-InstallGde-BodyF-Column2-Even p
{
	
}

.TableStyle-InstallGde-BodyH-Column2-Even
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #cac3b4;
	border-right-style: solid;
}

.TableStyle-InstallGde-BodyH-Column2-Even p
{
	
}

.TableStyle-InstallGde-BodyD-Column2-Even
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-color: #cac3b4;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-InstallGde-BodyD-Column2-Even p
{
	
}

.TableStyle-InstallGde-BodyC-Column2-Even
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-InstallGde-BodyC-Column2-Even p
{
	
}

.TableStyle-InstallGde-BodyB-Column2-Even
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #cac3b4;
	border-right-style: solid;
}

.TableStyle-InstallGde-BodyB-Column2-Even p
{
	
}

.TableStyle-InstallGde-BodyA-Column2-Even
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-InstallGde-BodyA-Column2-Even p
{
	
}

.TableStyle-InstallGde-BodyG-Column2-Even
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-InstallGde-BodyG-Column2-Even p
{
	
}

.TableStyle-InstallGde-Body-Odd
{
	
}

.TableStyle-InstallGde-BodyI-Column1-Odd
{
	background-color: #f7f3eb;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-InstallGde-BodyI-Column1-Odd p
{
	
}

.TableStyle-InstallGde-BodyE-Column1-Odd
{
	background-color: #f7f3eb;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-color: #cac3b4;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #cac3b4;
	border-right-style: solid;
}

.TableStyle-InstallGde-BodyE-Column1-Odd p
{
	
}

.TableStyle-InstallGde-BodyF-Column1-Odd
{
	background-color: #f7f3eb;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-color: #cac3b4;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-InstallGde-BodyF-Column1-Odd p
{
	
}

.TableStyle-InstallGde-BodyH-Column1-Odd
{
	background-color: #f7f3eb;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #cac3b4;
	border-right-style: solid;
}

.TableStyle-InstallGde-BodyH-Column1-Odd p
{
	
}

.TableStyle-InstallGde-BodyD-Column1-Odd
{
	background-color: #f7f3eb;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-color: #cac3b4;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-InstallGde-BodyD-Column1-Odd p
{
	
}

.TableStyle-InstallGde-BodyC-Column1-Odd
{
	background-color: #f7f3eb;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-InstallGde-BodyC-Column1-Odd p
{
	
}

.TableStyle-InstallGde-BodyB-Column1-Odd
{
	background-color: #f7f3eb;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #cac3b4;
	border-right-style: solid;
}

.TableStyle-InstallGde-BodyB-Column1-Odd p
{
	
}

.TableStyle-InstallGde-BodyA-Column1-Odd
{
	background-color: #f7f3eb;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-InstallGde-BodyA-Column1-Odd p
{
	
}

.TableStyle-InstallGde-BodyG-Column1-Odd
{
	background-color: #f7f3eb;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-InstallGde-BodyG-Column1-Odd p
{
	
}

.TableStyle-InstallGde-BodyI-Column2-Odd
{
	background-color: #f7f3eb;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-InstallGde-BodyI-Column2-Odd p
{
	
}

.TableStyle-InstallGde-BodyE-Column2-Odd
{
	background-color: #f7f3eb;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-color: #cac3b4;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #cac3b4;
	border-right-style: solid;
}

.TableStyle-InstallGde-BodyE-Column2-Odd p
{
	
}

.TableStyle-InstallGde-BodyF-Column2-Odd
{
	background-color: #f7f3eb;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-color: #cac3b4;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-InstallGde-BodyF-Column2-Odd p
{
	
}

.TableStyle-InstallGde-BodyH-Column2-Odd
{
	background-color: #f7f3eb;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #cac3b4;
	border-right-style: solid;
}

.TableStyle-InstallGde-BodyH-Column2-Odd p
{
	
}

.TableStyle-InstallGde-BodyD-Column2-Odd
{
	background-color: #f7f3eb;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-color: #cac3b4;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-InstallGde-BodyD-Column2-Odd p
{
	
}

.TableStyle-InstallGde-BodyC-Column2-Odd
{
	background-color: #f7f3eb;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-InstallGde-BodyC-Column2-Odd p
{
	
}

.TableStyle-InstallGde-BodyB-Column2-Odd
{
	background-color: #f7f3eb;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #cac3b4;
	border-right-style: solid;
}

.TableStyle-InstallGde-BodyB-Column2-Odd p
{
	
}

.TableStyle-InstallGde-BodyA-Column2-Odd
{
	background-color: #f7f3eb;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-InstallGde-BodyA-Column2-Odd p
{
	
}

.TableStyle-InstallGde-BodyG-Column2-Odd
{
	background-color: #f7f3eb;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-InstallGde-BodyG-Column2-Odd p
{
	
}


